[2021-08-26 13:42] minimalsm opened #3728 "Add Liscon to community events"
**Is your feature request related to a problem? Please describe.**

https://liscon.org/

**Describe the solution you'd like**

Add these events to https://ethereum.org/en/community/#upcoming-events

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-08-26 19:39] Paulchemouni opened #3729 "Exodus"
**It's a software wallet, but there is an exodus app for trezor hardware wallets.**
**https://github.com/ExodusMovement**
**Users can use DApps like compound directly in the wallet**
**Users can earn assets directly from the wallet**
**the wallet has an integrated token swap.**
**Wallet title : Exodus**
**Wallet description : Send, receive & exchange Bitcoin and 100+ cryptocurrencies with ease on

[2021-08-27 07:49] jamesmorgan opened #3732 "What determines the criteria for listing a dapp on the site?"
I noticed there is a centralised, custodial NFT exchange/platform listed under dapps and I am wonder why they would be?

`Nifty Gateway` are doing good stuff in attracting new users but it's more that it clashes with some of the points raised below e.g. they required KYC'd login, payments are settles off-chain and not atomically, and generally not inline with the dapp wordings that are listed, so

[2021-08-27 10:19] raj-shekhar1 opened #3734 "Broken Link - Rimble URL not working"
**Describe the bug**
In the `Intro to Dapp` section the link [https://rimble.consensys.design](url) is not working.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to  [https://ethereum.org/en/developers/docs/dapps/](url)
2. Scroll down to [https://ethereum.org/en/developers/docs/dapps/#dapp-tools](url)
3.  Click on `rimble.consensys.design`
4. See error

**Expected behavior**
It

[2021-08-28 00:57] enriavil1 commented on #3734
I tried reproducing your steps, but couldn't find the link.

[2021-08-28 00:58] enriavil1 commented on #3734
Nevermind I see what you mean. I found it. Whenever you click the link it gives an error

[2021-08-28 01:10] enriavil1 commented on #3314
I was wondering if I could be assigned this. I was thinking it on naming it 'Development Documentation' or just 'Documentation', even though 'Introduction' sounds more formal I feel like it is a bit confusing specially for people looking for the documentation on how to start specifically.

[2021-08-28 01:12] enriavil1 commented on #3314
<img width="1680" alt="Screenshot 2021-08-28 at 04 11 33" src="https://user-images.githubusercontent.com/19207637/131201485-b94b3ccb-9e39-4cdd-ac11-29e247f8556a.png">
This is how it would look with development documentation

[2021-08-28 01:13] enriavil1 commented on #3314
<img width="1185" alt="Screenshot 2021-08-28 at 04 12 26" src="https://user-images.githubusercontent.com/19207637/131201512-61cc1198-6317-4df1-9c9b-d10914b4dc7d.png">
this is how documentation only would look. I feel like those two labels convey more information and would be quicker to find, even though it is the starting of the page.

[2021-08-28 10:16] NotManyIdeasDev commented on #3734
I came here to report this bug, found this issue. Can confirm it's broken!

[2021-08-28 10:19] enriavil1 commented on #3734
I am pretty sure I could swap the links fairly quickly so I am just waiting to see if I am assigned to fix it. Also shouldn't we add this to low priority bug

[2021-08-28 10:21] enriavil1 commented on #3732
Yeah I am pretty sure it's just an error

[2021-08-28 10:26] jaysonmald35 commented on #3732
Help

[2021-08-28 10:27] NotManyIdeasDev commented on #3734
Oh, I just opened a PR, I didn't know I should have waited to get assigned to the problem first...Hope it isn't a big deal!

[2021-08-28 10:32] enriavil1 commented on #3734
I don't know man. I am just learning how to contribute. New to this place. I don't think you will have a problem though

[2021-08-28 10:36] enriavil1 commented on #3729
you want to implement the wallet in the page using their framework ether.js?

[2021-08-28 12:56] Paulchemouni commented on #3729
Yes, it’s that. Cordialement,Paul Chemouni. De : Enrique Jose Avila AsapcheEnvoyé le :samedi 28 août 2021 12:36:33À : ethereum/ethereum-org-websiteCc : Paul Chemouni; AuthorObjet :Re: [ethereum/ethereum-org-website] Exodus (#3729) you want to implement the wallet in the page using their framework ether.js?—You are receiving this because you authored the thread.Reply to this email directly, view it

[2021-08-28 13:05] enriavil1 commented on #3734
I believe there are multiple files with the wrong rimble Url

[2021-08-28 13:40] enriavil1 commented on #3434
I tried on my Mac and also couldn't replicate this. Maybe we could increase the div size by a little bit, so they fit better, though we might have to see the chain reaction on other devices.

[2021-08-28 13:41] enriavil1 commented on #3434
I was thinking maybe by adding some padding it would help by when you click on the text

[2021-08-28 14:19] enriavil1 commented on #3434
I did it in this code. could you please try it on ur device? @sharon-wang

[2021-08-28 15:32] HideomiOgata opened #3741 "ether"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tag your tutorial**

**Tutorial title**

**Tutorial description**

**Publication**

**Skill level**

**Paste in your tutorial below**

[2021-08-29 00:27] aayusharyan commented on #3329
Hey,
I came here hoping for the free NFT and found this good first issue.
Posting the evidence of the fix. Need to check a little bit more in the code where to change the CSS exactly to make this work. (Currently did in Chrome dev tools and took the evidence).
I'll make the PR in a couple of days.

Evidence. 👇🏻
https://kemuri.gyazo.com/08eba5353272cdc60a79d44876686d3b

If that's okay, please let m

[2021-08-29 07:32] minimalsm commented on #3329
@aayusharyan thanks for offering to help here. I've assigned you 😀

[2021-08-29 12:23] nataschaberg commented on #3667
Hey :), I would love to contribute here.

[2021-08-29 18:54] samajammin commented on #3434
Thanks for reporting this @sharon-wang!

@minimalsm you could test out a few different OS/devices using BrowserStack to try & replicate. Unfortunately it doesn't look like they have much support for Linux. @pettinarip please also take a look on your machine 😄

Thanks for looking into this @enriavil1! I see you've made a commit after forking the repo. Can you please open up a pull request into this

[2021-08-29 19:16] enriavil1 commented on #3434
Sorry, but I cant seem able to replicate the problem.

[2021-08-29 19:27] minimalsm commented on #3667
Hey! Thanks for offering to help @nataschaberg

I've assigned you 😬 if you need any help feel free to ping.

[2021-08-29 20:05] samajammin opened #3746 "Re-think social footer links"
**Is your feature request related to a problem? Please describe.**

This is just a hunch that I'm not backing up with any data but I suspect our footer links create confusion for site visitors:
![Home ethereum org 2021-08-29 at 12 47 16 PM](https://user-images.githubusercontent.com/8097623/131263462-d7fc74f4-a229-4313-9828-ba75b265a6d4.jpg)

My hunch is that it's not clear what these icons represe

[2021-08-29 20:07] samajammin commented on #3741
?

[2021-08-29 20:07] #3741 closed

[2021-08-29 20:15] samajammin commented on #3734
Thanks for surfacing this @raj-shekhar1 (& for weighing in @NotManyIdeasDev @enriavil1)!

I commented on the PR: https://github.com/ethereum/ethereum-org-website/pull/3740#issuecomment-907864560

Curious to hear what you folks is the best approach here.

[2021-08-30 00:02] enriavil1 commented on #3732
What do you need help with? I can collaborate to this.

[2021-08-30 08:53] minimalsm commented on #3691
Closed in #3747. Thanks!

[2021-08-30 08:53] #3691 closed

[2021-08-30 09:09] #3728 closed

[2021-08-30 09:25] minimalsm commented on #3729
Hey @Paulchemouni. Could you edit or re-submit this to use [the wallet template](https://github.com/ethereum/ethereum-org-website/issues/new?assignees=&labels=Type%3A+Feature%2C+Type%3A+Content&template=suggest_wallet.md&title=) so the team has all the necessary information to review the wallet. Thanks in advance 😬👍

[2021-08-30 10:24] minimalsm commented on #3734
Loving the enthusiasm folks ☺️

Appreciate your first PR on this @NotManyIdeasDev but as @samajammin highlighted this dapp should probably be removed.

As noted in #3740 because RimbleUI is no longer maintained and the example dapp does not work as intended I think we should remove it. Currently, it is referenced across 7 different translations - [see here](https://github.com/ethereum/ethereum-org

[2021-08-30 12:10] emerbaum opened #3755 "Validation Node Burn Alternative proposal"
Presently if a validator acts in bad faith we are burning the tokens.
My issue with this is that if an exchange or community staking pool has an issue third party stakers could be burned hard.

What if instead of burning it, they got frozen in a smart contract for a period of time, say N^2 months for each incident?
This way bad actors loose access to the funds and in cases of repeat attempts they

[2021-08-30 12:24] #3721 closed

[2021-08-30 12:24] #3722 closed

[2021-08-30 13:08] MukulKolpe commented on #3720
@minimalsm, any updates on this??
Their website is not up yet...(https://blocktribe.com/)

[2021-08-30 13:44] minimalsm commented on #3720
Yeah... probably best removing the link for now and we can re-add it if/when the site goes live again. Fancy making up a PR for this @MukulKolpe ?

[2021-08-30 14:12] minimalsm commented on #3755
Hey @emerbaum 😬 This repo is for the ethereum.org website, not really for posting ideas about Ethereum development generally.

One place that might be worthwhile getting involved in for similar discussions is the [Ethereum Research and Development Discord](https://discord.gg/qGpsxSA). Closing this issue out for now.

[2021-08-30 14:12] #3755 closed

[2021-08-30 14:31] MukulKolpe commented on #3720
Yes sure!!! can you assign me...

[2021-08-30 14:45] minimalsm commented on #3720
@MukulKolpe assigned :)

[2021-08-30 14:58] #3548 closed

[2021-08-30 18:22] samajammin commented on #3446
Adding more concrete goals for Q3 around Community Growth:

- Initiatives
    - Build out Learn Pages
    - Restart community blog posts
    - Gamify community and contributions
        - Scope out leaderboards (to build in Q4)
        - POAP levels
        - Helpfulness indicators
    - Investigate contribution collaboration opportunities
    - Build Ethereum.org's twitter presence
- Metrics

[2021-08-30 21:11] minimalsm commented on #3732
Hey @jamesmorgan good question 🤔...

Our Product Listing policy is admittedly vague when it comes to questions like this. I'm going to leave this issue open and unsolved whilst we clarify our position on this. Thanks for raising the point 🙏

[2021-08-30 21:11] minimalsm commented on #3732
@all-contributors please add @jamesmorgan for ideas

[2021-08-30 21:29] sharon-wang commented on #3434
Just tried the site preview from your PR (#3434), but the text is still cut off on my machine (Linux):
![image](https://user-images.githubusercontent.com/25834218/131408155-738cd853-0db8-411d-845a-15ddff447081.png)

[2021-08-30 21:44] sharon-wang commented on #3434
Increasing the width of the Trilemma SVG viewBox fixes the issue on my end -- opened a PR here: https://github.com/ethereum/ethereum-org-website/pull/3761

I'd want to be sure this doesn't make things worse for those using Mac/Windows and other browsers, so I'd appreciate some help with testing!

[2021-08-31 08:48] minimalsm opened #3764 "Re-add Blocktribe to Jobs Section"
**Is your feature request related to a problem? Please describe.**
We have removed [Blocktribe.com](https://blocktribe.com/) from the jobs section [in PR #3762](https://github.com/ethereum/ethereum-org-website/pull/3762) as the site has been down for 5 days.

**Describe the solution you'd like**
We should re-add Blocktribe to the jobs section when the site is live again.

**Describe alternatives y

[2021-08-31 08:50] #3720 closed

[2021-08-31 09:01] #3434 closed

[2021-08-31 09:12] minimalsm commented on #3734
I've merged the broken link fix in #3740 but keeping this issue open until we remove RimbleUI.

[2021-08-31 09:19] agorismlabs opened #3768 "The Ethereum Whitepaper Year Published + Issues around Academic Citation"
Hello Ethereans,

I am an academic currently teaching and researching Ethereum and I think there is an issue around how best to cite the whitepaper.

On Google Scholar you can see that there are many different versions of the paper cited: https://scholar.google.co.kr/citations?user=DLP9gTAAAAAJ&hl=en

The most popular links to a website called Translated Whitepaper: https://scholar.google.co.kr/ci

[2021-08-31 11:55] raj-shekhar1 commented on #3734
Thanks @minimalsm , I would like to take this forward.

I saw you have raised a PR and and fixed it in [https://github.com/ethereum/ethereum-org-website/pull/3740/files](url) and if it is fine I would like to raise a PR and remove it from the translations as you mentioned.

[2021-08-31 12:08] minimalsm commented on #3734
@raj-shekhar1 thanks 🙏 , you're already assigned.

Just to be clear: I think we should remove this from all pages (including the English version that I updated in #3740).

[2021-08-31 17:34] ndrozd opened #3775 "Missing whitespace"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/glossary/#crosslink
2. See error of "Beacon Chain**in** the"

**Expected behavior**

"Beacon Chain in the"

![image](https://user-images.githubusercontent.com/6696080/131549412-89af0dac-136b-4ba9-b01c-895e7194111c.png)

**Desktop (please complete the following information):**

- OS: OSX
- Brow

[2021-08-31 17:57] ndrozd commented on #3775
This would be my first contribution, so please advise if there was a better way to make it :) Thanks!

[2021-08-31 21:03] bmdhodl opened #3778 "(DEX) Add Exodus Exchange for United States of America"
**What geographical restrictions apply to this exchange?**

Exodus exchange API providers do not allow customers in AL, HI, LA, NY, OR, and WA to exchange with their service, which extends to Exodus customers. This is due to prohibitive regulations in these states.

**Which currencies are accepted by this exchange?**

A link to all accepted currencies - https://www.exodus.com/status/#assets

**Do

[2021-08-31 21:20] farismecinovic commented on #3764
I'd like to help with this one when Blocktribe is live again

[2021-09-01 01:11] ifstatic opened #3780 "calling all white hats.."
im fairly new to cryptocurrency.. i think, just over a year in it.. But is there a target i dont see on my back. i have been dealing with hackers constantly.. i literally am ready to walk away.. i have lost10x more then ever made.. reformating my pc always 2 phones destroyed.. becasuse they gety so damn hot.. This might   be the wrong place to ask, and im sorry if it is but.. who do i go to for he

[2021-09-01 01:53] Clashinm commented on #3780
you and me both lets get together in say 3 hours and work thru this i have
absolutely no idea but maybe we can put our brains together

On Tue, Aug 31, 2021 at 6:12 PM synchronized ***@***.***>
wrote:

[2021-09-01 09:12] minimalsm opened #3782 "Add to create-eth-app and scaffold-eth dapp tools"
**Is your feature request related to a problem? Please describe.**

We recently removed a dapp tool that was no longer maintained and in doing so noticed [we are missing some useful dapp tools ](https://github.com/ethereum/ethereum-org-website/pull/3740#issuecomment-907865282)from this page.

**Describe the solution you'd like**
- Add [create-eth-app](https://github.com/paulrberg/create-eth-app) a

[2021-09-01 09:15] #3734 closed

[2021-09-01 09:21] minimalsm commented on #3780
Hey @ifstatic this is the repo for ethereum.org (the website), rather than Ethereum support generally. You can [join the etheruem.org discord](https://discord.gg/CetY6Y4) if you are looking to chat about these issues in a more appropriate place, we can try to help you there ✌️

[2021-09-01 09:21] #3780 closed

[2021-09-01 09:24] minimalsm commented on #3764
Hey @farismecinovic! Thanks for offering to help. I'm not going to be tracking this myself (who knows if/when it'll go back up)
so not going to assign this to anyone right now. Feel free to make a PR to re-add it to the site when it does go live again.

[2021-09-01 10:01] raj-shekhar1 commented on #3782
thanks @minimalsm, I would like to contribute in this.

[2021-09-01 10:02] minimalsm commented on #3782
@raj-shekhar1 thanks! Assigned you 👍 Let me know if you need a hand in any way.

[2021-09-01 10:25] #3072 closed

[2021-09-01 10:25] minimalsm commented on #3072
Closed in #3777 😬

[2021-09-01 15:25] #3775 closed

[2021-09-01 15:25] #3375 closed

[2021-09-01 15:26] minimalsm commented on #3775
No this was great! Thanks @ndrozd 🙏

[2021-09-01 19:48] #3620 closed

[2021-09-01 19:52] samajammin opened #3786 "Add external tutorials"
**Is your feature request related to a problem? Please describe.**

Now that #3630 is merged we have the ability to add external tutorials 🚀

**Describe the solution you'd like**

I'm open to what we'd like to add 😄 - no need to add everything at once.

Here's a few tutorials in the space I think are particularly excellent & worth calling attention to:
- https://hardhat.org/tutorial/
- https://dev

[2021-09-01 22:10] lukassim opened #3788 "Update language names for consistency"
**Is your feature request related to a problem? Please describe.**

The list of languages on the website includes localized language names. However, there are some inconsistencies between languages, specifically the capitalization.
https://ethereum.org/en/languages/

Most languages are capitalized, apart from 'čeština' and 'norsk'.
Additionally, 'Slovenija' (meaning Slovenia) should be changed to

[2021-09-01 22:35] minimalsm opened #3790 "Add tutorial modal unwanted scrolling"
**Describe the bug**
The submit tutorial modal allows scrolling beneath the modal.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/developers/tutorials/' on mobile
2. Click on 'Submit a tutorial'
3. See error

**Expected behavior**
The modal should be scrollable, the background should not.

**Screenshots**
[Gif of problem](https://media.discordapp.net/attachme

[2021-09-01 22:36] minimalsm commented on #3790
@ndrozd

[2021-09-02 09:45] raj-shekhar1 commented on #3782
@minimalsm I am currently checking with teams of both the above mentioned tools for any actively hosted dapp sample apps.

In the mean time I need your suggestion on adding the same in all the translation files as it needs to be translated in the respective language, like I have added below in the English version and want to do the same in other translation files too.
[code]

[2021-09-02 12:42] minimalsm commented on #3786
Working on this.

[2021-09-02 12:48] minimalsm opened #3792 "Update dapp listing policy"
**Is your feature request related to a problem? Please describe.**
Currently, our [Adding Products page](https://ethereum.org/en/contributing/adding-products/) does not make a very clear distinction between wallets and dApps. Non-custodial is listed as a **nice-to-have** whereas the team agree that for dApps non-custodial should be **a requirement.**

**Describe the solution you'd like**
We should

[2021-09-02 13:38] minimalsm opened #3794 "Maintenance of the Whitepaper"
**Is your feature request related to a problem? Please describe.**

We recently received a PR (#3435) to update a section of the Whitepaper to make it easier to read. [Our initial reaction](https://github.com/ethereum/ethereum-org-website/pull/3435#issuecomment-890262087) was that the Whitepaper should be kept as-is for historical and reference purposes. However, after some digging it seems that w

[2021-09-02 13:56] minimalsm commented on #3788
Closed in #3789. Thanks Luka 👍

[2021-09-02 13:56] #3788 closed

[2021-09-02 15:07] agorismlabs commented on #3794
I believe we should **not** be altering or updating a historical document. I think your original intuition was correct.

Meddling with a document of potentially significant historical importance seems unwise.

I propose we instead prioritise finding out which is the original whitepaper and when it was originally published. This should be a question answered directly by Vitalik or someone close eno

[2021-09-02 15:36] samajammin opened #3796 "Setting up local development environment - yarn install fails on Macbook Air (M1, 2020)"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Cloned this GH repo
2. Ran `yarn` to install dependencies

Results in this error:
[code]

Here's the full terminal output:
https://gist.github.com/samajammin/51d9732eedf2fa8454022fcba7f87062

**Expected behavior**

Should work 😄

**Desktop (please complete the following information):**

- Device: Macbook Air (M1, 2020)
- O

[2021-09-02 15:56] samajammin commented on #3796
Tried switching my node version:
- 16.3.0 hit same error
- 14.17.6 seems to have worked 🎉

[2021-09-02 15:56] #3796 closed

[2021-09-02 20:48] lukassim opened #3800 "Add Translation Program section to the readme"
**Is your feature request related to a problem? Please describe.**

We should add a section about the Translation Program to the readme.

**Describe the solution you'd like**

Add a section with a brief overview of the Translation Program and relevant links.

[2021-09-02 21:59] #3800 closed

[2021-09-02 23:43] samajammin commented on #3794
Agreed, I think hosting the historical, untampered whitepaper as a PDF makes sense for the reasons outlined above.

We've checked in with @vbuterin on this:

Vitalik's take lines up with the approach you've outlined @minimalsm. I think a fun historical research task for you is to find the version as it was at the time of the ether sale 😄

[2021-09-02 23:52] samajammin commented on #3794
One separate consideration - what should we do with the existing whitepaper page (https://ethereum.org/en/whitepaper/)?

Options:
1. Remove it & add a redirect from page to where the PDF will live (e.g. https://ethereum.org/en/whitepaper.pdf)
2. Keep it as an editable version so it becomes more of a living document that's also more approachable by a broader audience

I don't have a strong opinion

[2021-09-03 00:00] samajammin commented on #2715
Hey folks - following up here - we made the tough decision as a team to not prioritize this issue this quarter (you can find our priorities in our roadmap here: https://github.com/ethereum/ethereum-org-website/issues/3446). This will for sure be something we (particularly @minimalsm) dedicate time towards before the end of the year.

Thank you for your patience on this! Please feel free to share i

[2021-09-03 00:04] jjmstark commented on #3794
For the sections of the whitepaper that have been "updated" by edits over the years - to what extent is that content already reproduced elsewhere, e.g. in the [docs?](https://ethereum.org/en/developers/docs/).

I agree that having "two whitepapers" would be confusing to readers. I do think that most people's expectation when reading the "Ethereum whitepaper" is that it will be a version of a docum

[2021-09-03 06:46] samajammin opened #3806 "Update/remove Eth2 banners"
**Is your feature request related to a problem? Please describe.**

This banner content feels a bit strange:
![The Eth2 upgrades ethereum org 2021-09-02 at 11 40 43 PM](https://user-images.githubusercontent.com/8097623/131961707-0d6e26b0-94e5-4a17-9ced-cbfc05b9c9da.jpg)

"It will probably happen earlier than expected" feels weird & confusing. When is "expected"?

**Describe the solution you'd like

[2021-09-03 07:08] agorismlabs commented on #3794
'I would say revert it to the version as it was at the time of the ether sale and keep that permanent.'

This is quite clear from Buterin to my mind. No meddling with the document or any living document approach. This is not really what you do with a historical document like this. It is really important we realise we need a single source document that does not change and reflects the whitepaper as

[2021-09-03 09:01] minimalsm commented on #3794
I'd strongly oppose **only** linking to a PDF version as it would be bad accessibility, inclusivity and general UX. If we choose to revert to the ether sale version (which is a fine solution) I think we should mirror the PDF content on the [whitepaper page](https://ethereum.org/en/whitepaper/) itself.

@samajammin we also currently translate the Whitepaper which is something we need to think about

[2021-09-03 09:11] minimalsm commented on #3806
Agreed. Pretty sure this was updated in April when everyone got excited about the possibility of the merge happening in 2021 but in reality it is likely to happen either when we expected or later than we expected (if delayed) - both relative to general expectations at the beginning of 2021...

[2021-09-03 09:17] agorismlabs commented on #3794
@minimalsm Oh yes, I definitely would mean a mirrored version and not just a PDF, for the reasons you state.

[2021-09-03 12:41] minimalsm opened #3807 "Add new 'Typed Transaction Envelope' to transactions page"
**Is your feature request related to a problem? Please describe.**
[EIP-2718](https://eips.ethereum.org/EIPS/eip-2718) introduced Typed Transaction Envelope.

**Describe the solution you'd like**
We should add Typed Transaction Envelope to [the transactions page](https://ethereum.org/en/developers/docs/transactions/)

**Additional context**
- https://eips.ethereum.org/EIPS/eip-2718
- https://blog.

[2021-09-03 12:45] #3547 closed

[2021-09-03 13:15] minimalsm commented on #3667
@nataschaberg just double-checking you've seen I assigned you 😬

[2021-09-03 19:18] MukulKolpe commented on #3807
Hey @minimalsm can I work on this issue?

[2021-09-03 20:40] minimalsm commented on #3807
Of course! Assigned you @MukulKolpe

[2021-09-03 21:33] nomebahi commented on #3667
I love to the project```
- >
[code]

[2021-09-04 13:38] SofianeBoumedine commented on #3790
Hi, I fix we can fix this issues : `
![Uploading brave_irVstb0ui7.png…]()
`

[2021-09-05 08:54] ifstatic commented on #3780
How do u get on discard when my  accounts are gone 2FA gone phone number linked to another account.. start my 5 zero email account.. thanks for the response though cheers

[2021-09-05 09:27] Clashinm commented on #3780
@ifstatic honestly idk what you mean, im new

[2021-09-05 18:53] #3397 closed

[2021-09-05 18:59] minimalsm commented on #3794
Seems the options are:

- Continue to accept sensible contributions to the Whitepaper and maintain a separate PDF version of the original
- Revert to the original and reject all future changes to the whitepaper.

Either way, given that the Whitepaper we're hosting is **not the original** I don't see any harm in merging #3435 and #3763 until we have a definitive answer.

[2021-09-06 04:23] shadforth opened #3826 "Fix broken translation ID in developer links"
**Describe the bug**

On the `Explore the documentation` section of the [Ethereum Developer Resources](https://ethereum.org/en/developers/) page, there is an incorrect translation ID being used for the `Intro to Ether` description.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/
2. Scroll down to **Explore the documentation**
3. Under `Intro to Ethe

[2021-09-06 04:24] shadforth commented on #3826
I'm happy to fix this as my first docs contribution 😄

[2021-09-06 11:20] minimalsm opened #3830 "Flesh out proof-of-stake developer doc"
**Is your feature request related to a problem? Please describe.**

The [proof-of-stake developer doc page](https://ethereum.org/en/developers/docs/consensus-mechanisms/pos/) is incomplete and pretty bare considering all of the information and excitement around proof-of-stake. It is also one of the most popular developer docs pages.

**Describe the solution you'd like**
- Expand the current proof-

[2021-09-06 13:01] jley81 commented on #3830
Flesh out proof-of-stake developer doc

[2021-09-06 13:01] jley81 commented on #3830
Good

[2021-09-06 15:04] minimalsm commented on #3826
@shadforth Thanks for offering to help on this. I've assigned you 😀

[2021-09-06 16:42] minimalsm commented on #1483
Hey @InfinityWallet I'm closing this for now due to inactivity. Feel free to re-open with the relevant information 😀 thanks!

[2021-09-06 16:42] #1483 closed

[2021-09-06 16:43] #1438 closed

[2021-09-06 16:52] #2776 closed

[2021-09-06 17:37] jley81 opened #3835 "No change"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- Version [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2021-09-06 19:44] #3835 closed

[2021-09-06 21:02] notrixbe commented on #3806
maybe some idea's, in my experience this kind of informing is working well for the users. Because there can decide ignore it or click on it for more info.
- put the banner above the navigation ( so you don't have the issue with the dropdowns )
- it can be fixed
- 100% width ?
- make the banner more like coinmarketcap on the top, lot smaller.
- then we can add small optimizations ( animations, tick

[2021-09-06 23:56] drywitte opened #3838 ""Ethreum" typo in NFT tutorial"
Ethereum misspelled as "Ethreum" in part 1/3 of NFT tutorial

[2021-09-07 00:46] qbzzt opened #3839 "Article about an ERC-20 where the original mint is L2"
**Tag your tutorial**

#ERC-20 #Layer2 #Bridging

**Tutorial title**

ERC-20: Mint on L2, Bridge to L1

**Tutorial description**

In this tutorial the reader learns how L1<->L2 bridging typically works (L1 as the true source of tokens, locking in the bridge, etc.) and how to write an ERC-20 token that works differently, because it is minted on L2 while the tokens can still be bridged to L1 using t

[2021-09-07 03:46] hastings8 opened #3840 "i cant suggest one thing not one"
im sick of yall bending me over , its  rape no lube nothing , ive lost 1000s  due to the gas and eth fees, its bullshit! sell bep20 coin they charge .13 cents sell some eth alt coin and your paying double the value of the cion in fees its  a gd joke! and why are yall so liked???? please explain that one to me ??? becausae yall are a  bunch of crooks if you ask me stealing honest peoples money , he

[2021-09-07 04:24] jley81 commented on #3840
Hello hasting8.  I'm jerry Louis. I do apologize for the ???? And therefuck ups.  To be honest, I have no idea what I am doing. Hell no one can help me because I'm the one who created it and don't remember how or why. That fucking sucks. But I can tell you everything that is of this world.  The sooner I can find someone who can actually understand what I know, the sooner heaven will be here on ear

[2021-09-07 09:16] #3826 closed

[2021-09-07 09:39] #3840 closed

[2021-09-07 09:43] minimalsm commented on #3839
Looking forward to it being written 😬

[2021-09-07 09:46] minimalsm commented on #3838
Hey, thanks for the report :-) I've put up a PR to fix it.

[2021-09-07 09:46] #3838 closed

[2021-09-07 13:52] minimalsm opened #3842 "Poor ordering of internal site search results"
**Describe the bug**

Currently, in the Algolia internal site search results, tutorials are given precedence over learn pages, developer docs etc.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'ethereum.org'
2. Click on 'Searchbar.'
3. Search for 'wallets'
4. See error

**Expected behavior**

Higher value pages (such as learn pages or the wallets page) should be given precedence ove

[2021-09-07 13:57] minimalsm commented on #3768
Thanks for raising this concern!

Closing this issue to keep discussion housed in #3794.

@all-contributors please add @agorismlabs for ideas

[2021-09-07 13:57] #3768 closed

[2021-09-07 14:10] jpitts commented on #3794
Two things: 1. the White Paper needs to have a version and 2. there needs to be a decision about whether to keep this as a historical piece or as a living document.

Unless the WP is clearly positioned as history, users (particularly new people to the community) would expect to see the current white paper of Ethereum protocol. Beyond the technical proposals it contains, the WP is actually a very i

[2021-09-07 14:41] agorismlabs commented on #3794
I think the whitepaper **is** history and needs to be recognised as such. We don't change Satoshi's whitepaper, so we are we changing Vitalik's?

I actually suspect new users will be confused to discover there are many versions of the whitepaper and that information is updated. In fact, we are denying them knowledge that things were different in the past by subtly changing parameters to current st

[2021-09-07 19:00] colinsteidtmann opened #3846 "Node glossary term repeats a link"
**Describe the bug**

There's two links to the same website on the Node glossary term: https://ethereum.org/en/glossary/#node

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/glossary/#node
2. Click two of the same links titled "Nodes and Clients" that link to https://ethereum.org/en/developers/docs/nodes-and-clients/

**Expected behavior**

There should only be

[2021-09-07 20:54] #3588 closed

[2021-09-07 21:42] #3610 closed

[2021-09-08 11:41] hastings8 opened #3851 "> im sick of yall bending me over , its rape no lube nothing , ive lost 1000s due to the gas and eth fees, its bullshit! sell bep20 coin they charge .13 cents sell some eth alt coin and your paying double the value of the cion in fees its a gd joke! and why are yall so liked???? please explain that one to me ??? becausae yall are a bunch of crooks if you ask me stealing honest peoples money , hell have a transaction error guess what they keep your moiney for therefuck up fuck ETHEREUM!"
Hello hasting8.  I'm jerry Louis. I do apologize for the ???? And therefuck ups.  To be honest, I have no idea what I am doing. Hell no one can help me because I'm the one who created it and don't remember how or why. That fucking sucks. But I can tell you everything that is of this world.  The sooner I can find someone who can actually understand what I know, the sooner heaven will be here on ear

[2021-09-08 12:46] #3851 closed

[2021-09-08 13:59] jmcook1186 commented on #3830
Hi,

I'd like to have a stab at this if it's ok?

Cheers

[2021-09-08 14:06] minimalsm commented on #3830
@jmcook1186 Awesome! Thanks. I've assigned you 😁

[2021-09-08 14:06] Gaphunt1980 commented on #3542
Great contribution

[2021-09-08 14:07] minimalsm commented on #3830
Feel free to ping me here or [on discord](https://discord.gg/CetY6Y4) if you need anything.

[2021-09-08 14:09] minimalsm commented on #3846
Thanks, I've assigned you 😬🙏

[2021-09-08 15:52] pranavvdesai opened #3856 "Grammatical error on the tutorial issue template"
Hey, there is a grammatical error on the tutorial template, would like to fix it and create a pr. Want to start contributing to this organization, so starting with the smallest of the fixes.

[2021-09-08 21:05] pranavvdesai commented on #3856
was just curious, the netlify checks took more than a hour just for some changes in grammar, so doesn't it spend too many resources for just some simple changes?

[2021-09-09 03:38] bitkeepos opened #3863 "Add BitKeep Wallet request"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2021-09-09 13:09] lukassim opened #3864 "Rename Eth2 Launchpad on Translation Program page"
**Is your feature request related to a problem? Please describe.**

- Update the heading and all mentions of the Eth2 Launchpad on the Translation Program page and replace them with ''Ethereum Staking Launchpad''.
https://ethereum.org/en/contributing/translation-program/#eth2-launchpad

- Update the link to the Launchpad Translation project in Crowdin
Current link: https://crowdin.com/project/laun

[2021-09-09 15:27] #3640 closed

[2021-09-09 15:30] #3846 closed

[2021-09-09 15:32] #3047 closed

[2021-09-09 15:58] PatrickAlphaC opened #3868 "16 hour freecodecamp tutorial"
Hi team! I'm looking for a place where putting this would go best. It goes over **everything** blockchain & solidity.

Title: Solidity, Blockchain, and Smart Contract Course - Beginner to Expert Tutorial with Python

https://www.youtube.com/watch?v=M576WGiDBdQ

And it has code examples with every section:
https://github.com/smartcontractkit/full-blockchain-solidity-course-py

**Tag your tutorial**

[2021-09-09 19:35] #3856 closed

[2021-09-09 20:06] samajammin commented on #3868
Awesome, thanks for creating this!

I like the idea of adding video tutorials/playlists like this. I think it's clear that different devs prefer different mediums when it comes to learning through tutorials. Personally I find them much quicker to learn from vs. reading articles.

Among the laundry list we have of ways to improve our tutorial section (😅) I suspect it'd be helpful for visitors to be

[2021-09-10 02:48] PatrickAlphaC commented on #3868
Ooooo that's a great idea! I'll see if I can get a PR up!

[2021-09-11 06:13] #3864 closed

[2021-09-11 07:05] PrechyDev commented on #3786
There's https://dappuniversity.com/bootcamp

His channel on youtube is full of contents relevant to blockchain development

[2021-09-11 22:26] TravelerJo opened #3880 "Ethereum for life"
**Is your feature request related to a problem? Please describe.**

Ethereum, and Blockchain in general, is exploding with possibilities. It all makes perfect sense to developers and other long term advocates. However it's a confusing landscape to the uninitiated. A clear and practical use case should be created.

**Describe the solution you'd like**

A guide needs to be created that breaks down t

[2021-09-12 09:13] anaimal opened #3883 "ethereum"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorials hosted els

[2021-09-12 09:15] anaimal commented on #3883
a fundamental course on etherenm for developer

[2021-09-12 15:25] minimalsm commented on #1780
See comment [here](https://github.com/ethereum/ethereum-org-website/pull/2671#issuecomment-917183413) from @Scott1Up for a proposed design solution to this problem 😀

[2021-09-12 16:31] jamiufatai opened #3886 "Warning! Error encountered during contract execution [Reverted]"
Warning! Error encountered during contract execution [Reverted]
![Screenshot_20210912-171119](https://user-images.githubusercontent.com/35002584/132995428-00917876-16dc-41b2-93cc-69b14a6abf0d.png)

  ERC-20 Token Transfer Error (Unable to locate corresponding Transfer Event Logs), Check with Sender.
Here is my erc20 USDT address,. 0x1329410051fc114d8050b007717fc7575a221c71

Being trying to send ou

[2021-09-12 17:09] jamiufatai commented on #3886
My erc20 USDT address block,

0x1329410051Fc114D8050B007717fC7575a221C71

[2021-09-12 19:47] MrBrain295 commented on #3452
@minimalsm I know I’m not a maintainer but it looks good to me.

[2021-09-13 06:27] Longju000 commented on #3830
Can I work on here too? If it is open

[2021-09-13 06:29] Clashinm commented on #3830
yes! omg thank you!

[2021-09-13 06:34] Longju000 commented on #3830
Will work on it

[2021-09-13 13:44] astarinmymind opened #3890 "Add zkSync to dApp Page"
zkSync fits all criteria listed in the [listing policy](https://ethereum.org/en/contributing/adding-products/).

zkSync is a zkRollup and is the cheapest yet still fully secure way to transfer tokens on Ethereum.
It is being developed and maintained actively by Matter Labs.

All information and apps can be found at [zksync.io](url).

**Please describe the measures taken to ensure the dapp's securi

[2021-09-13 14:29] minimalsm opened #3891 "Update vending machine code example on smart contracts developer doc"
**Is your feature request related to a problem? Please describe.**

Currently our [smart contracts page](https://ethereum.org/en/developers/docs/smart-contracts/) has a example of a [vending machine smart contract](https://ethereum.org/en/developers/docs/smart-contracts/#a-digital-vending-machine) using solidity v0.6.11.

<img width="673" alt="Screenshot 2021-09-13 at 15 22 44" src="https://user-i

[2021-09-13 14:38] minimalsm opened #3892 "URL Fragment Identifier bug on H4 headings"
**Describe the bug**
When you visit a developer doc and use the section header ID's in the sidebar or visit the the URL directly (i.e. go to /docs/nodes-and-clients/#openethereum) the heading is cut off at the top of the screen by the nav and subnav.

This problem only happens on H4s.

Example - https://ethereum.org/en/developers/docs/nodes-and-clients/#erigon
![Screenshot 2021-09-13 at 13 17 08](

[2021-09-13 14:54] minimalsm opened #3893 "Internal links with URL fragment identifier are rendering as External Links"
**Describe the bug**
On the Ethereum Govnernace page I noticed there was an internal link that was rendered as an external link. This changes the behaviour to 1. open in a new tab and 2. show an external link arrow (↗)

This seems to be caused by the link having a fragment identifier (#) in the URL (i.e the link being: [/docs/nodes-and-clients/**#clients**](https://ethereum.org/en/developers/docs/

[2021-09-13 14:56] minimalsm commented on #3886
Hey @jamiufatai this is the repo for ethereum.org (the website). This isn't a place for general Ethereum support queries. I'd recommend contacting support at your wallet provider and they should be able to help. Thanks!

[2021-09-13 14:56] #3886 closed

[2021-09-13 14:56] minimalsm commented on #3883
Hey @anaimal did you have a tutorial you wanted to post? Nothing has been attached in the issue template 🤷‍♂️

[2021-09-13 14:56] #3883 closed

[2021-09-13 19:42] #3891 closed

[2021-09-14 01:02] yiToken-frank opened #3897 "New wallet: yiToken"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2021-09-14 09:25] il3ven commented on #3893
Hey, I'll like work on this. Thanks.

[2021-09-14 09:31] minimalsm commented on #3893
@il3ven all yours 😀

FYI I just had a quick look at this and realised I was being an idiot.  From the [Link](https://github.com/ethereum/ethereum-org-website/blob/dev/src/components/Link.js) component you can see that any link that has an absolute path will be rendered as an ExternalLink.

I checked the markdown and we've not passed the link correctly 😅 (i.e. its an absolute path instead of a rela

[2021-09-14 13:25] HoneyCivik commented on #3446
"Contract Address"
"""0x5296FE5e8467fbE27Fb048dbE19F3447b3A0e708""
"Token Name": "Etherscan.io'' token
"Token Symbol" : "ETH''
"divisor" :"18"
"Token Type" : "ERC 20''
"BlueCheck mark" : "TRUE"

[2021-09-14 13:27] tarekladjal1998 commented on #3446
what is this my friend 🍌

في الثلاثاء، 14 سبتمبر، 2021 2:25 م HoneyCivik ***@***.***>
كتب:

[2021-09-14 15:34] HoneyCivik commented on #3446
I don't know bro
Sorry
How Can i take token?
😔😔😔

[2021-09-14 19:30] calvinsomething commented on #3892
I'll take this issue if that's okay.

[2021-09-14 19:46] samajammin opened #3900 "Create docs page for EVM opcodes"
**Is your feature request related to a problem? Please describe.**

Feedback from @MariusVanDerWijden:

Looking into this, there's a couple existing resources:
- https://www.ethervm.io/ but it's not open source (I had to email them to update with new London upgrade opcodes)
- https://github.com/wolflo/evm-opcodes but it describes itself "it is not particularly rigorous"

**Describe the solution yo

[2021-09-14 19:47] samajammin commented on #3900
Hey @wolflo! As the primary maintainer of https://github.com/wolflo/evm-opcodes just reaching out & checking that this is something you'd be comfortable with. We'd be happy to provide attribution to your project. Thanks!

[2021-09-14 21:11] notrixbe commented on #3842
I can have a look.

[2021-09-14 21:23] #3893 closed

[2021-09-14 22:09] #3714 closed

[2021-09-14 23:49] wolflo commented on #3900
I would be glad to see it being used. I'm happy to help set things up, too. I intend to keep the evm-opcodes updated for hardforks, so having an easy way to pull changes from the repo to the hosted version would make things pretty low overhead.

The statement about the rigor of the reference page is a little out of date. The stack arguments and gas costs should all be correct, and it would be a pr

[2021-09-15 08:55] minimalsm commented on #2319
Draft PR for this: #3354
Currently blocked by: #3538

[2021-09-15 08:56] minimalsm commented on #3538
Solving this will unblock this PR: #3354 (re-open when fixed)

[2021-09-15 09:58] #3666 closed

[2021-09-15 13:25] minimalsm opened #3908 "Audit Developer Documentation"
This issue is to be used for the management of an audit of the [developer documentation](https://ethereum.org/en/developers/docs/) on ethereum.org.

If you have any ideas or want to discuss things to add to remove from the existing content listed here please leave a comment below or [join the ethereum.org discord](https://discord.gg/CetY6Y4).

---

**Foundational Topics**

- [x] README [Merged PR]

[2021-09-15 13:37] #3807 closed

[2021-09-15 21:38] calvinsomething commented on #3892
Well, I hope it's not a problem I went ahead and did it. 😛

It was a very minimal change.

[2021-09-16 09:57] #3892 closed

[2021-09-16 12:15] jley81 opened #3920 "Help me understand"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**

**Product description:**

**How long has it been around?**

**Where do you think it should go?**

**GitHub URL**

**Docs URL**

**Is the product open source?**

**Additional context**

[2021-09-16 12:15] #3920 closed

[2021-09-16 15:54] james-prysm opened #3921 "Suggested Revisions to improve UX for becoming a staker"
#### Background

Hi, I'm James from Prysmatic Labs. We have been doing some research into the UX of becoming a validator and have thought about various changes that could improve this experience. I prepared a doc [here ](https://hackmd.io/@prysmaticlabs/validator-ux) for some background.

#### Major Points

- bring network (mainnet/testnet) selection into the forefront of participation
    - curre

[2021-09-16 17:40] corwintines commented on #3900
https://docs.soliditylang.org/en/latest/yul.html#evm-dialect

cross positing from discord

[2021-09-16 21:23] minimalsm commented on #3921
Hi James! Thanks for all the thoughts and research you've put into this ❤️. Definitely agree with the sentiment here.

Great point, we could definitely do more on promoting testnet staking.

Agreed. This is something we're thinking hard about right now! - [early work has already begun here](https://github.com/ethereum/ethereum-org-website/issues/3864)).

Done in #3922

cc: @samajammin @wackerow

[2021-09-16 21:24] minimalsm commented on #3921
@all-contributors please add @james-prysm for ideas

[2021-09-17 04:26] wsbuck opened #3924 "Typo on raspberry pi 4 node tutorial page"
**Describe the bug**
Typo at https://ethereum.org/en/developers/tutorials/run-node-raspberry-pi/#storage. Should be `an` not `and`.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/tutorials/run-node-raspberry-pi/#storage
2. Read first sentence.

**Expected behavior**

Should be `an` instead of `and`

[2021-09-17 04:27] wsbuck commented on #3924
Can you please assign this to me?

[2021-09-17 06:32] samajammin commented on #3921
This looks great @james-prysm 😍 - appreciate you doing this research & surfacing this issue. I haven't read through your doc yet in depth but I agree with pretty much everything you're proposing. We can certainly queue this work up but not sure at this point when we can get to it (can circle back on this). We'd welcome any PR or draft of copy changes in the meantime.

Regarding transitioning away

[2021-09-17 08:32] #3924 closed

[2021-09-17 09:26] minimalsm commented on #3842
Thanks for the offer to help @notrixbe! I'm not 100% sure this is something that can be done wholely client-side...

cc: @wackerow @samajammin

If it is, you'll need to add the Algolia API keys to your local env - [set up described here](https://github.com/ethereum/ethereum-org-website/issues/2891) 😬

[2021-09-17 13:28] james-prysm commented on #3921
@minimalsm Thanks for the quick turnaround on this.

@samajammin I'm glad you're in alignment with our proposals 😄  If possible please do add it to your queue of work in the mean time, if time/priority permits I'll see what I can draft up. I'll also forward the link you mentioned to my team and see what we can comment on.

I apologize in advance I'm pretty new to the git workflows. with the issue

[2021-09-17 13:34] minimalsm commented on #3921
Very welcome!

We should keep the issue open for now for context although we'll probably break the remaining two items into two separate issues at some point.

[2021-09-17 17:12] spicymix opened #3930 "NFT"
Hi

I'm an independent artist and I'm requesting help to put CDs, DVDs, Books, Ebooks, Videobooks, Arts, Drawings .. and Collectibles .. for sale through NFT (non-fungible token/non-fungible token) like this how the band Kings of Leon put up for sale a copy of their latest album, a work of art and a gold record, plus the band's recording errors, last March, in the Ethereum cryptocurrency.

Can you

[2021-09-17 18:52] bsoldre opened #3931 "Dudes gas fees! If you are burning it anyway just make it really cheap."
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-09-17 19:47] TrevorFrench opened #3932 "Consistent Styling/Adding a DAO"
*Two issues here, so let me know if I need to break them out into separate requests.

1. Two of the explanations on this page aren't italic while the rest are. I'd like to fix that.
2. I'd like to append Developer DAO to the list (https://twitter.com/developer_dao).

https://ethereum.org/en/community/#decentralized-autonomous-organizations-daos/community/#decentralized-autonomous-organizations-dao

[2021-09-17 19:48] TrevorFrench commented on #3932
Comment

[2021-09-17 20:11] TrevorFrench commented on #3079
@minimalsm it looks like @wackerow might have already updated this.
![ethdotorg](https://user-images.githubusercontent.com/42419234/133847669-1731c068-fa10-473f-a3d8-9080d44f88a2.PNG)
![ethdotorg2](https://user-images.githubusercontent.com/42419234/133847808-154c105a-59e6-431a-a321-e2bc77cb5984.PNG)

[2021-09-18 07:08] minimalsm commented on #3932
Hey @TrevorFrench! Thanks for spotting the bug and agreed on adding DeveloperDAO.

If there is anything else you think should be added definitely happy to start a discussion around this too, the page is kinda bare ATM.

I've assigned you to this (I think you are volunteering? Let me know if I've got this wrong 😅)

[2021-09-18 09:50] Daw9000 opened #3936 "Health Care"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-09-18 09:54] abcoathup opened #3937 "Typo on Ethereum.org Style Guide"
**Describe the bug**

Typo on Ethereum.org Style Guide

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/contributing/style-guide/
2. See typo **etheruem.org**

**Expected behavior**

No typos

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- Version [e.g. 22]

**Smartphone (please compl

[2021-09-18 11:48] n0mer opened #3939 "Add 1inch wallet"
**URL**

https://1inch.io

[2021-09-18 15:57] Blockbath-Staking opened #3942 "BATH wallet"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2021-09-18 18:22] samajammin opened #3943 "Add info on smart contract size limit"
**Is your feature request related to a problem? Please describe.**

Currently we don't provide any info on this limitation.

**Describe the solution you'd like**

I think we should mention this contract size limitation (24KB) somewhere in our docs on smart contracts:
https://ethereum.org/en/developers/docs/smart-contracts/

We could also list approaches to getting around this limitation, e.g. by u

[2021-09-18 18:23] samajammin commented on #3943
@mudgen let us know if you have thoughts on this 😄

[2021-09-18 19:23] MrBrain295 commented on #3943
@samajammin I could work on this.

[2021-09-18 19:29] MrBrain295 commented on #2487
This looks like it’s part of #3908

[2021-09-18 21:51] mudgen commented on #3943
I think it is a great idea to mention EIP-2535 anywhere the diamond pattern could help people.

[2021-09-18 23:59] TrevorFrench commented on #3932
@minimalsm I was volunteering! Sorry that wasn't super clear.

I like the idea @samajammin mentioned in #3746 of pointing social links to this page and building out a more comprehensive directory of social channels but I think that's already scoped out in that issue (happy to work on that one too though).

[2021-09-19 03:00] rodrigoherrerai opened #3947 "Add Tutorial: Create, test and interact with a smart contract"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

Create, Test, Deploy and Interact with a Smart Contract from A to Z
**Tutorial description**

By doing this tutorial, you will know how to create a developer environment in Hardhat, how to test your smart contract, deploy it

[2021-09-19 05:28] #3942 closed

[2021-09-19 05:33] Blockbath-Staking opened #3948 "Need reset my public"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- Version [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2021-09-19 13:04] MrBrain295 commented on #3931
@bsoldre this isn’t related to the Ethereum website.

[2021-09-19 21:16] andyGallagher opened #3949 "Fix broken links in whitepaper content"
**Describe the bug**

There are a few broken/deprecated links in the whitepaper, specifically the links for [UTXO lack of state](https://github.com/ethereum/ethereum-org-website/blame/dev/src/content/whitepaper/index.md#L444) and the [Patricia tree wiki](https://github.com/ethereum/ethereum-org-website/blame/dev/src/content/whitepaper/index.md#L529).

**To Reproduce**

1. Click link describing UTX

[2021-09-20 02:38] colinsteidtmann opened #3950 "Is it a 99.95% or 99.98% energy reduction when switiching from Eth1 to Eth2?"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/nft/#environmental-impact-nfts
2. Then go to https://ethereum.org/en/nft/#fn-1
4. See different energy reduction numbers (99.95 and 99.98%)

**Expected behavior**

Energy reduction numbers should be consistent

**Screenshots**
![99.98%](https://user-images.githubusercontent.com/34821973/133952

[2021-09-20 08:52] metalocal opened #3951 "Docs / Transactions / improve gas fee accounting example"
The gas fee example on the _Transactions_ docs page is not accurate.

Example Scenario:  (190 + 10) * 21000 = 4,200,000 gwei

Current explanation of gas components does not appear correct:

It should use the following numbers:

[2021-09-20 09:01] metalocal commented on #3951
PR #3952 proposes a change.

[2021-09-20 13:28] minimalsm commented on #3939
Hey @n0mer. Could fill out [this issue template](https://github.com/ethereum/ethereum-org-website/issues/new?assignees=&labels=Type%3A+Feature%2C+Type%3A+Content&template=suggest_wallet.md&title=) for adding a new wallet so the team has all the necessary information to review this submission 😬👍 thanks

[2021-09-20 13:42] minimalsm commented on #3951
Closed by #3952, thanks!

[2021-09-20 13:42] #3951 closed

[2021-09-20 13:44] #3931 closed

[2021-09-20 13:44] minimalsm commented on #3947
Thanks @rodrigoherrerai, I'll check this out soon! :)

[2021-09-20 13:46] minimalsm commented on #3948
Hey @Blockbath-Staking, you've accidentally left this issue blank. Is there a bug or issue you'd like to report :)?

[2021-09-20 13:46] #3948 closed

[2021-09-20 13:57] MrBrain295 commented on #3936
?

[2021-09-20 14:01] minimalsm commented on #3936
@Daw9000 you've accidentally left this issue blank :) did you want to raise a bug or discuss a feature?

[2021-09-20 14:01] #3936 closed

[2021-09-20 14:02] minimalsm commented on #3943
@MrBrain295 thanks for offering to help! I've assigned you 😬 you know the drill, any questions ask here or ping me.

[2021-09-20 14:03] minimalsm commented on #2487
@MrBrain295 hey :) with this issue, we're looking to audit the exchanges (like Coinbase or Binance) that we list on ethereum.org to ensure they cover the countries and regions that we claim on ethereum.org. Bit of a tricky one that we're trying to scope out.

[2021-09-20 14:04] Daw9000 commented on #3936
Sorry my error, thanks for closing

Sent from my iPhone

[2021-09-20 14:14] #3932 closed

[2021-09-20 15:23] lvoemhan opened #3958 "sldssdd.v.msdv/s/sfvsd./mwxv.meicfegme,"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-09-20 15:25] #3958 closed

[2021-09-20 15:36] 983875728 opened #3959 "Can we come up with a simpler operating system"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-09-20 19:11] MrBrain295 commented on #3959
?

[2021-09-20 21:23] #3959 closed

[2021-09-20 21:24] #3937 closed

[2021-09-21 01:22] kekekekke commented on #3446
Should reduce the cost of gas mainly, I wish you more and more 🔥

[2021-09-21 03:47] wackerow commented on #3949
@andyGallagher Thanks for posting this issue, and the help is welcomed! Just assigned you =)

[2021-09-21 05:54] metalocal opened #3964 "Docs / Gas / inconsistent rounding of base fee values"
Some of the numbers in the table that demonstrates an increasing base fee of 12.5% are not rounded with the usual convention.

It's a minor detail, but rounding to the nearest 0.1 ETH is a subtle bit of polish for the example.

[2021-09-21 05:58] metalocal commented on #3964
#3965 proposes a small change

[2021-09-21 10:30] minimalsm commented on #3943
Partially solved in #3957 but leaving this open for now as I still think it's a good idea to add more information about using proxy contracts.

[2021-09-21 10:58] minimalsm opened #3967 "Duplicate CSS for headings using monospace"
**Is your feature request related to a problem? Please describe.**

Merging #3918 means we will be using the same CSS rules in multiple places to set monospace font stacks.

<img width="710" alt="Screenshot 2021-09-21 at 11 56 48" src="https://user-images.githubusercontent.com/62268199/134158911-dea54c68-ac44-4daa-b6d1-1daa76f98169.png">

**Describe the solution you'd like**

Refactor this to remo

[2021-09-21 17:21] minimalsm commented on #3930
Hey @spicymix this is the repo for ethereum.org the website. Seeing as this isn't related to the website I'm going to close this issue but I'd recommend checking out this page to begin your research into NFTs: https://ethereum.org/en/nft/

Thanks and good luck :)

[2021-09-21 17:21] #3930 closed

[2021-09-21 17:24] adam-bro opened #3970 "Add Loopring Wallet to wallet section"
**Is your wallet security tested? Please explain security measures i.e. security audit, internal security team or some other method.**
1. Check that each permission is required for App functions and does not violate the privacy policies of the App store and Google play.
2. For wallet mnemonics, transaction passwords, etc., stored in the Android application KeyStore, and iOS application KeyChain.
3

[2021-09-21 18:10] bleesherman opened #3971 "Add deprecated EF-supported projects / software section"
**Is your feature request related to a problem? Please describe.**

There are several projects and resources that are no longer active or maintained, and it can be unclear to users and new people arriving that this is the case. Once projects are spun off or graduated from the EF, there is no approach for how to consistently communicate the situation to the present and future users.

**Describe the

[2021-09-21 19:03] wackerow opened #3972 "DeFi Pulse TVL endpoint fetching inconsistently"
**Describe the bug**
On the homepage, Total Value Locked in defi is pulled from DeFi Pulse, and recently have noticed sporadic periods where this data is failing to load. This issue was previously brought up in #3533 and was closed after it spontaneously resolved.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org
2. Scroll down to metrics (Price/TVL/Nodes/Txs) near

[2021-09-21 19:41] TravelerJo commented on #3880
I feel that though the appeal of crypto in general is exponentially expanding and a whole new group of people are becoming interested, but have no way to navigate the language and the intricacies of Ethereum. Obviously part of growing a successful platform is onboarding new users. The tech may be a shining city on a hill but you need to get users there. There is a lot of hype around some of the ne

[2021-09-22 02:47] #3949 closed

[2021-09-22 04:31] wackerow opened #3976 "Old translated dapps pages with missing intl strings"
**Describe the bug**
The old dapps page (languages on v1/v1.1) embeds a component, `<RandomAppList />` which uses some translation strings that are not available for the given language. This results in rendering the kebab-cased intl lookup key.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/bn/dapps/
1. See kebab-cases keys instead of translated (or english) copy

[2021-09-22 12:40] minimalsm opened #3980 "Translation banner on pages that are not being translated"
**Describe the bug**

We are currently showing a 'help translate this page' banner on pages that are not queued up for translation. This could be discouraging to translators to suggest a translation is incomplete but not allow them to translate it.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/ro/community/'
1. See error

**Expected behavior**
1. We could remov

[2021-09-22 13:22] minimalsm opened #3984 "Rethink Learn section of Navbar"
**Is your feature request related to a problem? Please describe.**

The number of links in the 'Learn' section of the main navigation is outgrowing the initial design.

<img width="1505" alt="Screenshot 2021-09-22 at 14 17 06" src="https://user-images.githubusercontent.com/62268199/134351050-59ba5f14-1d74-4cb9-a0b5-66681044c0ef.png">

This looks fine for now but very soon we'll be adding 3-4 new p

[2021-09-22 16:17] samajammin commented on #3980
I think we _should_ show the banner on community pages given that we plan to translate that page.

I agree it's a bug if we're showing the banner on pages we don't plan to translate (e.g. privacy policy, cookie policy, contributing pages).

[2021-09-22 20:05] MrBrain295 commented on #3984
Maybe a more button that could show the rest?

[2021-09-22 20:37] minimalsm commented on #3980
Agree @samajammin - I believe we should show a banner but don't think the current banner is the right one as it's a call to action to translate a page that is currently not translateable.

<img width="642" alt="Screenshot 2021-09-22 at 21 13 24" src="https://user-images.githubusercontent.com/62268199/134415109-5fa22a7f-b2f4-4aa9-888d-b69ba60435e6.png">

So if languages the user flow is potentially

[2021-09-23 08:25] #3213 closed

[2021-09-23 12:35] zoeyteche opened #3997 "Suggestion"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-09-23 20:41] minimalsm commented on #3997
Hey @zoeyteche, is this a dapp that is already developed and live? If so could you provide a link and brief description? Thanks 😀

[2021-09-23 20:50] minimalsm opened #4001 "Non-english pages link to English pages in footer navigation"
**Describe the bug**

When browsing on a non-English version of ethereum.org, clicking on any of the legal pages (terms of use, cookie policy, privacy policy) will take you to the /en/ path and therefore onto the English version of the site.

This is a poor user experience as it makes users use the browser's back button to return to their desired language.

**To Reproduce**
Steps to reproduce the

[2021-09-23 20:56] minimalsm opened #4002 "Add EthPortland to community page"
**Describe the solution you'd like**

We should add EthPortland to our [upcoming events section](https://ethereum.org/en/community/#upcoming-events) on the community page

https://2021.ethportland.com/

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-09-23 21:26] MrBrain295 commented on #4002
I could work on this.

[2021-09-23 21:55] minimalsm commented on #4002
@MrBrain295 thanks! Assigned you 😀 Any help needed just give me a ping on discord.

[2021-09-23 22:17] samajammin opened #4004 "Browsers list is outdated?"
**Describe the bug**

Saw this warning when running the app locally:
[code]

**To Reproduce**
Steps to reproduce the behavior:

Run
[code]

**Expected behavior**

Console shouldn't log any warning.

**Desktop (please complete the following information):**

- OS: macOS Big Sur
- Version: 11.3.1

**Additional context**

Appears Gatsby by default follows React's browser support:
https://www.gatsbyjs.

[2021-09-24 02:57] corwintines opened #4007 "Add Chainlink Hackathon community event"
Describe the solution you'd like

We should add the Chainlink Hackathon to our upcoming events section on the community page

https://chain.link/hackathon

Want to contribute?

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-09-24 10:31] #4002 closed

[2021-09-24 10:35] Mcculloughj opened #4010 "So there is no wallet that supports everything to be able to do everything"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- Version [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2021-09-24 11:26] minimalsm opened #4013 "Smartcontracts.code app not functioning correctly"
**Describe the bug**

We list smartcontracts.code on our [security developer docs](https://ethereum.org/en/developers/docs/security/). The web app isn't functioning correctly anymore. Opened an issue for this on [the smartcontract.codes repo](https://github.com/playproject-io/smartcontract.codes/issues/17) to check the status of this project before removing.

**To Reproduce**
Steps to reproduce th

[2021-09-24 12:08] #3997 closed

[2021-09-24 12:16] minimalsm commented on #3970
@adam-bro this looks good to me :-) will queue it up to get added to the site.

[2021-09-24 12:24] minimalsm commented on #3950
Hey @colinsteidtmann nice spot.

We're going with 99.95% to bring it in line with Carl Beekhuizen's [blog on energy usage ](https://blog.ethereum.org/2021/05/18/country-power-no-more/).

[This PR](https://github.com/ethereum/ethereum-org-website/pull/3777) made the change from 99.98% to 99.95% but we must have missed one instance 🤪

Would love a PR on it if you're still down! Assigned you.

[2021-09-24 12:46] minimalsm commented on #3897
Hey @yiToken-frank, thanks creating this issue.

September 2020

Can you verify yiToken's launch date? Everything I'm finding is pointing to April of this year. Thanks 👍

[2021-09-24 12:51] minimalsm commented on #3880
The whole site is designed to educate new users and we're constantly working on new ways to engage the community. I think it's probably best to think about this and scope it to an implementable idea and open a new issue for it 😀 definitely open to any ideas to improve ethereum.org but they need to be more specific than this is.

[2021-09-24 12:51] #3880 closed

[2021-09-24 12:52] #3868 closed

[2021-09-24 12:56] minimalsm commented on #3667
Opening this back to the community to work on 😀 ping here if you're interested in working on this issue.

[2021-09-24 13:04] #3786 closed

[2021-09-24 13:06] minimalsm commented on #3732
Closing in favour of #3792

[2021-09-24 13:06] #3732 closed

[2021-09-24 13:09] minimalsm commented on #3729
Closing pending more information. Feel free to reopen or create an issue with the wallet issue template above.

[2021-09-24 13:09] #3729 closed

[2021-09-24 13:51] minimalsm commented on #3479
@centralizedtransformer closing this out for now. Feel free to reopen with the necessary information ☺️

[2021-09-24 13:51] #3479 closed

[2021-09-24 13:54] minimalsm commented on #3329
@aayusharyan hey! Any progress on this?

[2021-09-24 13:56] minimalsm commented on #3314
@all-contributors please add @enriavil1 for ideas

[2021-09-24 13:57] minimalsm commented on #3314
Closing in favour of #3908

[2021-09-24 13:57] #3314 closed

[2021-09-24 13:59] minimalsm commented on #3219
Closed in #3885

[2021-09-24 13:59] #3219 closed

[2021-09-24 14:01] #3024 closed, assigned to nobody

[2021-09-24 14:03] #1440 closed

[2021-09-24 14:06] aayusharyan commented on #3329
Not exactly, I was having trouble setting up local environment. Will be checking more over this weekend.

[2021-09-24 14:08] minimalsm commented on #3079
@TrevorFrench Indeed it is, thanks 😀!

[2021-09-24 14:08] #3079 closed

[2021-09-24 14:10] minimalsm commented on #2919
Closing this out while we try to scope this a little better ☺️😬!

[2021-09-24 14:10] #2919 closed

[2021-09-24 14:18] minimalsm commented on #2888
Hey @harveyjavier

Sorry for the delay on this. [Here is a public list of auditors](https://docs.google.com/spreadsheets/d/1S7K0nIXVD5-RYm4eNkTC2a0O846eiDU0AngY-RdGC1I/edit#gid=0) we've been sent. These lists aren't curated/recommendations by anyone so please do your own research but these are all firms that claim to do smart contract security auditing. Hope this helps. Closing this issue out for

[2021-09-24 14:18] #2888 closed

[2021-09-24 14:32] minimalsm commented on #1785
Calling this solved by: https://ethereum.org/en/developers/tutorials/uniswap-v2-annotated-code/ and https://ethereum.org/en/developers/tutorials/erc-721-vyper-annotated-code/ :)

[2021-09-24 14:32] #1785 closed

[2021-09-24 17:34] samajammin commented on #3842
I think one solution here is to manually weight our core pages to rank higher. Haven't investigated this deeply but looks like we can add custom weights/ranks: https://www.algolia.com/doc/guides/managing-results/must-do/custom-ranking/#custom-ranking

[2021-09-24 17:37] Twan1409 opened #4022 "3LjFk6CU27jnQPkcrQawBRebQGHCgBRKwy"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2021-09-24 17:39] Twan1409 commented on #4022
10000

[2021-09-24 18:01] samajammin commented on #3528
Potential content inspiration: https://forum.openzeppelin.com/t/proof-of-authority/3577

[2021-09-24 22:36] yiToken-frank commented on #3897
Yeah, yiToken wallet went live to our internal users in September 2020 aming to test it, and in Aprial of this year went to the public users, shoud we update it to April of this year?

[2021-09-24 22:54] Twan1409 opened #4023 "Money"
Money

[2021-09-25 01:49] WoL256 opened #4024 "https://trade.kanga.exchange/wallet/balances"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2021-09-25 01:58] WoL256 opened #4025 "https://trade.kanga.exchange/wallet"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2021-09-25 02:01] MrBrain295 commented on #4023
?

[2021-09-25 03:16] #4023 closed

[2021-09-25 03:42] wackerow opened #4026 "XL Layout for docs"
Having looked at this more closely, I'd recommend a few tweaks to solve the XL-width issue–whilst keeping a good reading (and aesthetic) experience for the user.

First screen: 1920x1080
![1920x1080](https://user-images.githubusercontent.com/83584447/132910444-b669b160-1fa3-42de-b346-554c426dfeff.png)

After 1504px, I recommend moving away from the main content being slightly left-aligned. This al

[2021-09-25 03:43] wackerow commented on #1780
Closing and resurfacing with new issue #4026

[2021-09-25 03:43] #1780 closed

[2021-09-25 03:55] wackerow opened #4027 "Keyboard shortcut to jump focus to search input"
**Is your feature request related to a problem? Please describe.**
Functionality to use the `/` key to jump focus to the search bar on desktop.

**Describe the solution you'd like**
Add a listener for keystroke `/` (or even additionally `ctrl/cmd+K` as used in Discord or Telegram) to automatically move cursor focus to the search bar. An indicator on the search bar with the `/` character to inform

[2021-09-25 04:19] wackerow opened #4028 "English fallback content within `ar` and `fa` rendering right-to-left"
**Describe the bug**
For languages that use a right-to-left flow, some pages remain in English resulting in right-aligned English content with buggy bullet points and styling as a result.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/ar/about/
2. Notice English content within the arabic languages URL path, causing issues with how bullets and link decorators lay

[2021-09-25 07:52] SNikhill commented on #4027
@wackerow

Sir, May I please tackle this issue?

[2021-09-25 08:28] SNikhill commented on #4028
@wackerow

Sir, may I please have this one?

[2021-09-25 09:13] minimalsm commented on #4028
@wackerow Pretty sure code blocks should always be ltr too?

[2021-09-25 09:21] lukassim opened #4029 "Update Translation Program stats #2"
**Is your feature request related to a problem? Please describe.**

The Translation Program stats (specifically number of translators and number of words translated in 2021) should be updated.

**Describe the solution you'd like**

Update the Translation Program stats.

[2021-09-25 11:06] SNikhill commented on #4027
Linked PR: #4031

[2021-09-25 17:12] #4029 closed

[2021-09-25 17:47] MrBrain295 commented on #3950
I made a pr

[2021-09-26 19:07] #4024 closed

[2021-09-26 19:07] #4025 closed

[2021-09-26 19:16] lukassim opened #4036 "Add Translation Program mission and vision section"
**Is your feature request related to a problem? Please describe.**

We should add a section to the website to explain the Translation Program's mission and vision.

**Describe the solution you'd like**

Add this section to the Translation Program page.

**Additional context**

Adding a mission and vision would inform readers about what the Translation Program is aiming to achieve and how.

[2021-09-26 20:05] asriqul opened #4037 "Adding Tokocrypto Indonesia to "Suggest an Exchange" on Ethereum.org"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2021-09-27 10:33] minimalsm opened #4040 "Chinese simplified showing no tutorials"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/zh/developers/tutorials/'
2. See error

**Expected behavior**
Show translated tutorials or show English tutorials

**Screenshots**

Google translate of the main message: "No tutorial contains all these tags. Try to remove one or two features"

<img width="1471" alt="Screenshot 2021-09-27 at 11 2

[2021-09-27 11:09] minimalsm commented on #4040
Looks like we've updated the translation version to 2.2 but have not uploaded the tutorials yet 😬

<img width="301" alt="Screenshot 2021-09-27 at 12 03 04" src="https://user-images.githubusercontent.com/62268199/134897224-a9a4af48-1c1a-4392-ac30-987a884882b0.png">

<img width="265" alt="Screenshot 2021-09-27 at 12 03 50" src="https://user-images.githubusercontent.com/62268199/134897227-1ed9807a-7e

[2021-09-27 11:11] minimalsm commented on #4037
Hey @asriqul thanks for creating this issue. Just to check am I correct in thinking TokoCrypto is only available in Indonesia?

[2021-09-27 11:22] #4004 closed

[2021-09-27 11:38] asriqul commented on #4037
Thanks for replying me, Tokocrypto available for all users around the world. but the headquarter and Branch in Indonesia

[2021-09-27 11:38] minimalsm commented on #3964
Closed by #3965

[2021-09-27 11:38] #3964 closed

[2021-09-27 12:01] minimalsm commented on #3718
@iamkabilan thanks for raising this issue.

Can I check if CoinSwitch Kuber's code has undergone a security audit? If so, could you provide a link to the audit. Thanks 👍

[2021-09-27 12:12] minimalsm commented on #3778
Hey @bmdhodl, could you confirm if Exodus's dex product has undergone an external security audit? If so, could you provide a link to the audit? Thanks 😀

[2021-09-27 12:25] minimalsm commented on #4037
@asriqul - I tried searching on the site but I couldn't find anything. Are you able to provide a link to documentation detailing exactly the countries that are and aren't supported?

Thanks

[2021-09-27 13:03] minimalsm commented on #3368
Approved! Thanks for raising this @noahpierau.

[2021-09-27 13:16] minimalsm commented on #3718
Hey @iamkabilan, I did some more digging. It seems that they have stopped withdrawals? https://coinswitch.co/kuberverse/crypto-withdrawal-temporarily-disabled/

Given CoinSwitch is quite popular in India is this something you've heard about at all?

[2021-09-27 13:19] #4007 closed

[2021-09-27 13:30] iamkabilan commented on #3718
Yeah, I am using CoinSwitch it is popular in India

Withdrawls are temporarily disabled

[2021-09-27 13:33] #2319 closed

[2021-09-27 13:52] minimalsm commented on #4013
Creators have confirmed that this project is broke and not actively being worked on 🙁 removing from site for now.

[2021-09-27 13:53] #4013 closed

[2021-09-27 14:11] minimalsm commented on #3718
@all-contributors please add @iamkabilan for ideas

[2021-09-27 14:11] #3718 closed

[2021-09-27 14:22] SNikhill commented on #3967
May I suggest something akin to [this approach](https://github.com/SNikhill/personal-site/blob/master/src/styles/variables/_typography.scss)?

![image](https://user-images.githubusercontent.com/51415616/134927317-236d9e77-978c-41bf-b092-eb667e9371eb.png)
Like, using a variable to store the font names.

[2021-09-27 16:10] abritpal commented on #4001
Hi!, I would like to work on this issue.

[2021-09-27 17:31] corwintines opened #4052 "Add Pocket Network to our Nodes as a Service"
**Product name:**

Pocket Network

**Product description:**

decentralized RPC protocol and marketplace

**Where do you think it should go?**

Nodes as a service

**Docs URL**

https://docs.pokt.network/home/

**Additional context**

Add a decentralized node as a service

[2021-09-27 19:26] corwintines opened #4053 "Revisit Nodes as a Service page"
**Is your feature request related to a problem? Please describe.**
The content on this page needs a refreshing as it is a bit outdated. There have been projects coming out decentralizing nodes as a service, and currently the information does not reflect this.

**Describe the solution you'd like**

Looking to refresh the information on https://ethereum.org/en/developers/docs/nodes-and-clients/nodes

[2021-09-27 20:19] rodeger opened #4054 "Reporte de Error"
**Describa el bug**

**To Reproduce**
Pasos realizados que ocasionaron el bug:

1. ir a '...'
2. Click en '....'
3. Deslizar abajo '....'
4. mire el error

**Expected behavior**

**Screenshots**

**Computador (por favor describa la siguiente información:**

- OS: [e.g. iOS]
- Navegador[e.g. chrome, safari]
- Versión [e.g. 22]

**Smartphone (Por favor complete la siguiente informacion):**

- Equipo

[2021-09-27 20:21] minimalsm commented on #4054
Hey @rodeger you've left the issue blank... anything we can do to help here?

[2021-09-27 20:29] #4040 closed

[2021-09-27 21:47] tvanepps opened #4059 "Remove Github stars for Consensus clients"
Would the eth.org team consider removing Github repo stars from the consensus client page? See here: https://ethereum.org/en/eth2/get-involved/

This would help prevent users from choosing what they perceive to be the "best" client because it has the most stars. (i've also heard this described as "sheeping") This will hopefully help to improve client diversity.

As a step further, maybe consider p

[2021-09-28 03:17] wackerow commented on #2077
Going to close this with #3872, can expand on the new page with new issues if needed

[2021-09-28 03:17] #2077 closed

[2021-09-28 03:17] wackerow commented on #3448
Going to close this with #3872, can expand on the new page with new issues if needed

[2021-09-28 03:17] #3448 closed

[2021-09-28 03:33] beijixiongzzj opened #4063 "where get a apikey"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-09-28 04:18] samajammin commented on #2629
@minimalsm @wackerow - closing this out. It's not very specific what further actions are needed. There's more Eth2 updates needed for sure but I think we can create better scoped issues as needed in the coming weeks.

[2021-09-28 04:18] #2629 closed

[2021-09-28 11:55] #4052 closed

[2021-09-28 16:18] wackerow commented on #4063
@beijixiongzzj Please visit our discord if you have questions. Feel free to open a new issue with more information.

[2021-09-28 16:18] #4063 closed

[2021-09-28 16:19] wackerow commented on #4054
@rodeger Please join our discord if you have questions. Closing this for now, feel free to open a new issue with the requested information.

[2021-09-28 16:19] #4054 closed

[2021-09-28 16:29] #4059 closed

[2021-09-28 16:31] #3806 closed

[2021-09-28 18:31] nstrike2 opened #4068 "💻 Executing and Interacting with a Smart Contract (Part 2/4 of Hello World dApp Series)"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

💻 Executing and Interacting with a Smart Contract

**Tutorial description**

Step by step guide on interacting with a deployed Ethereum smart contract by updating a smart contract variable.

**Tag your tutorial**

Solidity,

[2021-09-29 00:15] wackerow opened #4075 "Add standardization of header casing to style-guide"
**Is your feature request related to a problem? Please describe.**
The capitalization of headers is inconsistent throughout the codebase. If you visit our new [style guide](https://ethereum.org/en/contributing/style-guide/) it nicely lays out many conventions that are being used across the site, but this one is missing, and also demonstrates the inconsistency.

![image](https://user-images.githubu

[2021-09-29 00:35] #3368 closed

[2021-09-29 01:07] wackerow commented on #4028
Closed with #4035, thanks @SNikhill!

[2021-09-29 01:07] #4028 closed

[2021-09-29 02:20] larrybird0x commented on #4053
I'm interested in helping out with this issue!

[2021-09-29 08:15] minimalsm commented on #4075
@wackerow

👀 👍 👉 💌

[2021-09-29 08:16] minimalsm commented on #4075
IMO we should use sentence case for headers.

[2021-09-29 08:30] minimalsm commented on #4053
Hey @larrybird0x thanks for offering to help on this :-) I've assigned you. I know you're in direct contact with @corwintines already but if you need anything on this issue feel free to ping here or on discord.

[2021-09-29 14:59] minimalsm opened #4083 "Chinese tutorials showing incorrect reading time"
**Describe the bug**

The [Chinese simplified tutorials page](https://ethereum.org/zh/developers/tutorials/) is showing the incorrect time to read. Every tutorial is showing 1 or 2 minutes as their read time.

For tutorials hosted on ethereum.org we get `timeToRead` through [a GraphQL query](https://github.com/ethereum/ethereum-org-website/blob/d129338b4a81bbb88f515ff68682889a8607d582/src/template

[2021-09-29 15:15] minimalsm opened #4084 "Refactor tutorials.json to externalTutorials.json"
**Is your feature request related to a problem? Please describe.**

It isn't clear that the data in [/data/tutorials.json](https://github.com/ethereum/ethereum-org-website/blob/dev/src/data/tutorials.json) is for external tutorials only (i.e. items on the tutorials page which link out to an external site).

Given we also pull in tutorials from [/developers/tutorials/](https://github.com/ethereum/e

[2021-09-29 15:33] Ashwin-exe commented on #4084
Hey @minimalsm, can I work on this issue ?

[2021-09-29 15:48] minimalsm commented on #4084
@Ashwin-exe sure, all yours 😬 If you need anything feel free to ping here or on our [discord](https://discord.gg/CetY6Y4)

[2021-09-29 17:28] Ashwin-exe commented on #4084
Sure 😊.

[2021-09-29 19:56] minimalsm opened #4086 "Add edit page functionality to non-English developer docs"
**Is your feature request related to a problem? Please describe.**

On our [English developer docs](https://ethereum.org/en/developers/docs/) we provide users with an 'Edit Page' button linking to the markdown file on GitHub of the current doc page they are viewing. This functionality is not available in any other language and is likely causing obvious bugs in those languages to not be fixed.

We

[2021-09-29 20:48] PaoloSimonazziit commented on #4086
Hello @minimalsm , I'd love to work on this

[2021-09-29 22:06] wackerow commented on #3150
Hey @ligi, sorry for delays on this... just added a PR to add some wording to our `adding-product` guide about falsified information.

This does not solve the issue with Trust Wallet specifically... Revisited that Tweet thread and looks like nothing came of it. Any update on this from your end? Have we found where the android app source-code is provided, or any hard evidence it's not?

[2021-09-29 22:52] PaoloSimonazziit commented on #4086
Hello @minimalsm , just opened PR #4089 that aims at implementing this functionality. As written there, no change to the logic of how we get the URL for the Edit Button was needed. Also edit-button translations are already present.

I also added a suggested change for the mobile view, since for example for pages in Italian the "Contributors" text inside the button goes outside the boundaries of th

[2021-09-30 04:00] wackerow commented on #2767
Going to close this with #3872, can expand on the new page with new issues if needed

[2021-09-30 04:00] #2767 closed

[2021-09-30 04:00] wackerow commented on #2768
Going to close this with #3872, can expand on the new page with new issues if needed

[2021-09-30 04:00] #2768 closed

[2021-09-30 08:56] nstrike2 opened #4092 "📩 Submitting and Verifying your Smart Contract to Etherscan (Part 3/4 of Hello World dApp Series)"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

📩 Submitting and Verifying your Smart Contract to Etherscan

**Tutorial description**

Step by step guide on submitting your smart contract's ABI to Etherscan so anyone can look at the contract's methods and variables and un

[2021-09-30 11:02] minimalsm opened #4093 "Add NFT school to developer learning tools"
**Describe the solution you'd like**

Add [NFT school](https://nftschool.dev/) to our [developer learning tools page](https://ethereum.org/en/developers/learning-tools/) under the bootcamp section.

**Describe alternatives you've considered**

We should probably separate bootcamps and courses into their own sections.

**Additional context**

[This is a similar PR](https://github.com/ethereum/ether

[2021-09-30 12:03] #3150 closed

[2021-09-30 12:13] #4075 closed

[2021-09-30 14:25] pranavvdesai commented on #4093
can i work on this? @minimalsm

[2021-09-30 14:59] minimalsm commented on #4093
@pranavvdesai sure! All yours 😀

[2021-09-30 15:24] minimalsm opened #4096 "Editing ethereum.org markdown on GitHub guide"
**Is your feature request related to a problem? Please describe.**

Currently, our [developer docs homepage](https://ethereum.org/en/developers/docs/) directs users to [our README](https://github.com/ethereum/ethereum-org-website/blob/dev/README.md) if they are unsure of how to edit markdown files on GitHub. However, our README only provides instructions on setting up a local dev environment.

**D

[2021-09-30 15:31] vj-codes commented on #3764
@minimalsm hey I would like to work on this!

[2021-09-30 15:33] minimalsm commented on #3764
@vj-codes unfortunately this is blocked. Blocktribe website hasn't gone back up 😞  I'd close this issue but they still seem to be active on Twitter oddly...

[2021-09-30 18:06] bitoflai commented on #3443
Thanks a lot, @minimalsm !
Confirming that all the non-USA territories in that list are supported. Let me know if you have more questions:)

![Screen Shot 2021-09-30 at 11 05 36 AM](https://user-images.githubusercontent.com/86689107/135507796-1b36babb-c51f-4255-8fc1-50fa8cc2459d.png)

[2021-09-30 19:43] minimalsm opened #4097 "Remove deprecated ETH2 client (Trinity)"
**Describe the bug**

[Trinity](https://github.com/ethereum/trinity) is still listed on [our get-involved page](https://ethereum.org/pl/eth2/get-involved/#clients) as an ETH2 client despite being deprecated.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/eth2/get-involved/#clients'
2. Scroll down to 'Experimental Eth2 clients'
3. See error

**Expected behavio

[2021-09-30 19:46] abritpal commented on #4097
Hi!, can I work on this issue

[2021-09-30 19:48] minimalsm commented on #4097
Hey @abritpal 😬 assigned you. Let me know if you need anything to get started on this.

[2021-09-30 19:52] minimalsm opened #4098 "Move Lodestar from experimental to production-ready ETH2 client"
**Describe the bug**

On our [get-involved eth2 page](https://ethereum.org/en/eth2/get-involved/#clients), Lodestar is still being listed as an experimental Eth2 client.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/eth2/get-involved/#clients'
2. Go to 'Experimental Eth2 clients'
3. See error

**Expected behavior**

[Lodestar is now production-ready](https:/

[2021-09-30 20:03] harshmathurx commented on #4098
I would like to work on this
please assign it to me

[2021-09-30 20:07] minimalsm commented on #4098
Hey @harshmathurx, I've assigned you. Let me know if you need anything to get started on this 😀.

[2021-09-30 20:17] harshmathurx commented on #4098
I shall, thank you :)

[2021-09-30 23:00] #4098 closed

[2021-10-01 02:03] Anuragtech02 commented on #4096
Hey @minimalsm , I'd like to give this a try! Could you please assign this to me?

[2021-10-01 07:28] minimalsm commented on #4096
Hey @Anuragtech02! Thanks for offering to work on this. I've assigned you, any questions feel free to ping.

[2021-10-01 08:38] vj-codes commented on #4093
If @pranavvdesai is not working on it, I would like to:)

[2021-10-01 13:03] pranavvdesai commented on #4093
I am

[2021-10-01 13:37] vj-codes commented on #3984
@minimalsm hey can this be a hacktoberfest issue?

[2021-10-01 13:49] Courtney266 commented on #3984
hello

[2021-10-01 13:50] Ashwin-exe commented on #4084
#4084

[2021-10-01 21:43] samajammin opened #4117 "Add guidance on title vs sentence case in style guide"
**Is your feature request related to a problem? Please describe.**

Currently no guidance on: https://ethereum.org/en/contributing/style-guide/

**Describe the solution you'd like**

- Title case for title tags
- Sentence case for everything else (e.g. headers)

[2021-10-02 06:31] vj-codes commented on #3128
@minimalsm I would like to work on this!

[2021-10-02 12:44] Vishnurr2k01 commented on #3984
adding a scroll ?

[2021-10-02 20:08] julian-st commented on #3976
Can I work on this?

[2021-10-03 00:46] sophia0898 opened #4121 "ETH"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-10-03 02:13] shryasss commented on #4093
I would like to work on this

[2021-10-03 02:14] shryasss commented on #3667
I would like to work on this

[2021-10-03 05:23] #4093 closed

[2021-10-03 09:15] #4121 closed

[2021-10-03 11:22] shryasss commented on #3667
While doing 'yarn start', I get a bunch of errors regarding Gatsby. I found the index.md files I have to edit though, and have started editing using a readme interpreter.

[2021-10-03 16:08] howdyAnkit commented on #4026
Hi, @minimalsm @wackerow  can I get assigned for this?

[2021-10-03 16:30] minimalsm commented on #4026
Hey @howdyAnkit thanks for offering to help on this! I've assigned you. Any questions feel free to ping here or on Discord. 👍

[2021-10-04 09:10] shadforth commented on #3655
I'll take this @minimalsm 🙂 give me a week

[2021-10-04 09:12] minimalsm commented on #3655
Thanks for offering to help on this @shadforth. I've assigned you 😬 if you need any help or a second pair of eyes feel free to ping here.

[2021-10-04 09:32] #4084 closed

[2021-10-04 09:50] minimalsm commented on #3667
The first thing I'd check is - do you have the Gatsby CLI installed? ([docs](https://www.gatsbyjs.com/docs/tutorial/part-0/#gatsby-cli))

Other than that, if you can post the error output we can probably work it out from that.

You can also [join the discord](https://discord.gg/CetY6Y4) and post in the #contributing channel and we'll try to debug this for you further 😀

[2021-10-04 10:15] minimalsm commented on #3976
Closd by #4124

[2021-10-04 10:15] #3976 closed

[2021-10-04 10:50] julian-st commented on #3890
To which category would this belong to? I would suggest Token swaps, but there is also the category Payments which sort of fits to zkSyncs.

[2021-10-04 12:06] minimalsm commented on #4001
Hey @abritpal.

I've assigned you. FYI these pages *should* be in English but they should have the correct language path.

This is being caused by the logic here: https://github.com/ethereum/ethereum-org-website/blob/93845b1c9a7513fc0f39a85e7f159f08afad130d/gatsby-node.js#L138

[2021-10-04 12:08] minimalsm commented on #3984
Hey everyone. This issue requires design before being worked on (i.e. if you have a proposal feel free to comment here). Some sort of re-organization of the navbars is probably required for this.

[2021-10-04 13:20] abritpal commented on #4001
Thanks for giving me the opportunity to work on this.

[2021-10-04 14:06] 0xpranay commented on #3329
@minimalsm I want to work on this issue. I've have a fix ready and figuring out the PR steps for the repo. Can you assign me?

[Proof of Fix](https://imgur.com/a/ZSOu2MD) 😀

[2021-10-04 14:33] minimalsm commented on #3329
All yours :-) @0xpranay

[2021-10-04 17:02] SNikhill commented on #4083
@minimalsm

Sir, May I please have this one?

[2021-10-04 17:06] SNikhill commented on #3984
@minimalsm

I shall like to propose a design inspired by this Nav from Revolut.
![image](https://user-images.githubusercontent.com/51415616/135893727-18e5ba14-259d-4aff-aa77-b4054aad25e0.png)

Especially, those curved borders.

[2021-10-04 17:33] nstrike2 opened #4133 "📱Integrating Your Smart Contract with the Frontend (Part 4/4 of Hello World dApp Series)"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

📱Integrating Your Smart Contract with the Frontend

**Tutorial description**

In this tutorial, we'll teach you how to create a full stack dApp by connecting your Hello World smart contract to a React frontend using Metamask

[2021-10-04 19:04] nstrike2 opened #4134 "📝 NFT Minter Tutorial: How to Create a Full Stack DApp"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

NFT Minter Tutorial: How to Create a Full Stack DApp

**Tutorial description**

In this tutorial, you’ll build an NFT minter and learn how to create a full stack dApp by connecting your smart contract to a React frontend usi

[2021-10-04 19:33] #3329 closed

[2021-10-04 20:39] wackerow opened #4137 "Altair banner announcement and history update"
**Is your feature request related to a problem? Please describe.**
Altair date is set for Oct 27, and node operators need to upgrade their clients.

**Describe the solution you'd like**
- History page should be updated to include the anticipated launch date
- "Calling all node operators!" banner (could go in same places as the [recently deprecated "merge" banner](https://github.com/ethereum/ethere

[2021-10-05 02:09] MrBrain295 commented on #3943
I could take another blow at this.

[2021-10-05 11:07] minimalsm opened #4142 "Horizontal scrolling on Whitepaper (mobile)"
**Describe the bug**

[The whitepaper](https://ethereum.org/en/whitepaper/) has horizontal scrolling on mobile viewports.

**To Reproduce**
Steps to reproduce the behavior:

1. (On mobile) Go to 'https://ethereum.org/en/whitepaper/'
2. See error

**Expected behavior**

The page should not have horizontal scrolling on mobile.

**Screenshots**

<img width="374" alt="Screenshot 2021-10-05 at 12 02 27

[2021-10-05 12:31] minimalsm commented on #4083
@SNikhill all yours :-) ❤️

[2021-10-05 12:32] minimalsm commented on #4036
Closed by #4046

[2021-10-05 12:32] #4036 closed

[2021-10-05 12:45] jpitts commented on #3971
Proposing a standard set of fields for each entry:

- Date of Deprecation
- Summary of software / service (when it was active)
- Link to archive (archived GH repo, Internet Archive)
- History / major events
- List of a few alternatives

[2021-10-05 13:12] minimalsm opened #4145 "Bug/mistranslation on Chinese tutorials/find wallets page"
**Describe the bug**

The in Chinese translations the JSON string for the word 'yet' has been translated as 'no need to translate here' causing some odd behaviour in the places we use it.

**Chinese**
https://github.com/ethereum/ethereum-org-website/blob/b4121564662828caa940302bb5591e2968faa0bf/src/intl/zh/page-wallets-find-wallet.json#L91

**English**
https://github.com/ethereum/ethereum-org-webs

[2021-10-05 13:23] minimalsm commented on #3678
Done ! 😬

[2021-10-05 13:56] julian-st commented on #4142
I think this box for the navigation (where it says On this page) is the problem. This has a fixed size of 435 px

[2021-10-05 14:53] minimalsm commented on #4142
@julian-st hmmm 🤔 The whitepaper uses the [docs template](https://github.com/ethereum/ethereum-org-website/blob/dev/src/templates/docs.js) which is used in multiple other places with no problem... (see [community page](https://ethereum.org/en/community/)). Not sure why the table of contents would be breaking when it works perfectly on about 50 other pages using the same template.

<img width="369"

[2021-10-05 15:05] minimalsm commented on #4142
Quicky tested this locally

- I deleted all content from `### History {#history}` until `### Further Reading {#further-reading}` and the bug disappeared. - There is likely an error somewhere in the content itself.

**Before deleting (on localhost)**

![Screenshot 2021-10-05 at 16 03 34](https://user-images.githubusercontent.com/62268199/136049874-15cd3244-f58c-4f47-a5d5-9f4534055864.png)

**After

[2021-10-05 15:06] minimalsm commented on #4142
Worth noting: this bug is persistent across translated versions of the site.

- https://ethereum.org/ro/whitepaper/
- https://ethereum.org/zh/whitepaper/
- https://ethereum.org/sl/whitepaper/

[2021-10-05 15:30] adam-bro commented on #3970
Thank you @minimalsm !

[2021-10-05 16:01] ArtemKo7v opened #4148 "Add more supported languages for Ethplorer"

[2021-10-05 16:19] bford21 commented on #3972
Hey friends, Brian from DeFi Pulse here. We've upgraded our infrastructure and response times from our endpoints are now consistently in the few hundred millisecond range. Appreciate your patience and for calling this out!

[2021-10-05 16:20] mradziwon commented on #4142
I think the problem is the width of this table. I can fix it, ContentContainer is missing 100% width.
![image](https://user-images.githubusercontent.com/6785984/136058417-bd37da80-28fe-4de9-bfb0-13227d8b16ad.png)

[2021-10-05 18:45] ilmalte opened #4150 "Typos in "Ethereum for .NET developers" section in 3 languages."
**Describe the bug**
Typos in "Ethereum for .NET developers" section in Italian, German and Norwegian.

**To Reproduce**
N/A
**Expected behavior**
N/A
**Screenshots**
N/A
**Desktop (please complete the following information):**
N/A
**Smartphone (please complete the following information):**
N/A
**Additional context**
N/A

[2021-10-05 18:52] ilmalte commented on #4150
Closed by #4151

[2021-10-05 18:52] #4150 closed

[2021-10-06 06:26] seba2233 opened #4156 "0x76156d4FC4E082DC6c7d81EDF3f8d3d1a4592931"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2021-10-06 11:49] minimalsm commented on #4156
Hey @seba2233. Did you mean to open this issue?

[2021-10-06 11:49] #4156 closed

[2021-10-06 11:55] minimalsm opened #4163 "Test"
Test issue

[2021-10-06 11:57] #4163 closed

[2021-10-06 14:46] julian-st commented on #2789
I am no expert on this, but I think at the moment the decentralized ways to go from btc to eth are not really popular. That would be one reason why there is so little liquidity. We could list this jellyswap site but I never tried it out, I only visited the site. One other way is to go from wrapped bitcoin to ether, but this presumes that the user knows how to get wrapped bitcoin

[2021-10-06 19:43] Scott1UP commented on #4026
Hey @wackerow 👋🏼  Thanks for the questions and hopefully my answers can bring some clarity. I'll preface this response with the disclaimer that I am not a web developer by day, so my knowledge of the correct terminology can be a bit flaky at times...

1. Yes. Based on the tests I ran at 1920x1080 and 2560x1440, it would make sense to increase the width of the docs pages. In my designs, I found a m

[2021-10-07 03:03] rodrigoherrerai commented on #3947
Hi! did you have a chance to check it ?

[2021-10-07 05:13] Anuragtech02 commented on #4096
Hey @minimalsm, I'm almost done with creating a sub-section in the readme for the above-discussed feature, just had one doubt, can I link external resources for things like how to create a GitHub account or how to fork?

[2021-10-07 09:43] Hakeemmidan opened #4168 "Making SideNav Collapsible on '/docs' Pages"
**Is your feature request related to a problem? Please describe.**

Yes. It is about making the documentation (`/docs` pages) less distracting.

I think there are too many elements distracting the users from comfortably reading the documentation.

**Describe the solution you'd like**

Making the `SideNav` component collapsible (as per @minimalsm's suggestion ([in this comment](https://github.com/e

[2021-10-07 13:43] #4137 closed

[2021-10-07 13:44] HelloSongi commented on #4096
Hey @minimalsm , could is this issue still open? or @Anuragtech02 already fixed it?

[2021-10-07 20:38] lukassim opened #4172 "Add latest blog post to Translation Program page"
**Is your feature request related to a problem? Please describe.**

We have a list of blog posts on the Translation Program page that should be updated with the latest post about the Translation Program.

**Describe the solution you'd like**

Add the latest blog post to the list.

[2021-10-07 22:35] Molteh opened #4174 "env files should not contain whitespaces between key/quoted value"
**Describe the bug**

env files should not contain whitespaces between key/value as empty values become empty strings resulting in undefined variables

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/developers/tutorials/how-to-write-and-deploy-an-nft/
2. Scroll down to Step 11
3. See example .env file

**Expected behavior**
.env file should not contain whitesp

[2021-10-07 22:47] samajammin commented on #3984
Marking this as blocked - I think we should re-think this as part of an overhaul of the learn page more broadly:
https://ethereum.org/en/learn/

My gut take as of now is we can build out a landing page for the Learn section of the site that acts as a hub & provides a hierarchy of topics & subpages, similar to how we have the "[Developers' Home](https://ethereum.org/en/developers/)" within the "Dev

[2021-10-08 11:26] under3415 opened #4176 "Step 9 is unclear in "how to mint an NFT" tutorial"
**Describe the bug**

Step 9 is unclear: https://ethereum.org/en/developers/tutorials/how-to-mint-an-nft/#call-mintnft-fn

How do we call `mintNFT` function?
What is `contract-interact.js`, it's only mentioned in the title?
Can you include the actual call syntax?

I tried below, but it just sits in "starting"
[code]

**To Reproduce**
Call syntax missing from tutorial step 9

**Expected behavior**

[2021-10-08 14:47] mbaragiola opened #4178 "Mamba is no longer active"
Mamba is listed as active here, should be inactive: https://ethereum.org/en/developers/docs/programming-languages/python/

See: https://mamba.black

[2021-10-08 17:26] samajammin commented on #3971
Awesome, this is looking great. I'd say go ahead & open a PR (even if just as a "draft"), so folks can review & add comments.

I like this direction overall. I think this will be super helpful e.g. for people searching "mist" in our site search, which happens quite frequently.

I think you folks have the right idea on implementation here! Using a markdown file for this page makes the most sense to

[2021-10-09 22:40] SNikhill commented on #4083
Thank You. I shall fix the same. I shall refer to other languages for a time estimate and hard code the same.

I do have a question, would it be better for future translations to default to the time estimate for the English version (Assuming English to be the default language)?

[2021-10-10 16:41] Sednaoui opened #4183 "crypto saving link"
**Describe the bug**
crypto saving link in defi page has a minor typo

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/defi/
2. Click on _Start crypto savings_
3. Notice that it doesn't link correctly

**Expected behavior**

Link to https://ethereum.org/en/defi/#saving

I will open the PR :)

[2021-10-11 08:10] lbk3530 opened #4188 "Add DODO to dApp Page"
DODO's original Proactive Market Maker (PMM) algorithm helps LPs and market makers concentrate their assets and provide strong liquidity without onerous capital requirements. A variety of permissionless liquidity products and solutions are available.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever possible**

We take security very seriously.
B

[2021-10-11 08:22] minimalsm commented on #1461
@samajammin should we close this out for now?

[2021-10-11 09:31] #4178 closed

[2021-10-11 10:32] minimalsm opened #4192 "Theme toggle button is not accessible on screenreaders"
**Describe the bug**
Our theme toggle button is not accessible to screen readers. The button can be tabbed to but gives no indication of what the button actually does.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [ethereum.org](https://ethereum.org)
2. Activate screen reader
3. Tab to theme toggle button
4. See error

**Expected behavior**
Users should hear a audial indicator that

[2021-10-11 10:47] minimalsm opened #4194 "Background is scrollable when navigation modal is open on smaller screen sizes"
**Describe the bug**
On screens below 1025px wide the background is scrollable when the navigation modal is open.

[View a GIF of the bug](https://i.gyazo.com/650bdaffedef83761429237b7b08386a.gif)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [ethereum.org](https://ethereum.org/en/)
2. Reduce screen size below 1025px wide
3. Click on navigation hamburger
4. See scrolling error

**Ex

[2021-10-11 10:56] minimalsm commented on #4176
Hey @under3415 thanks for reporting this. I've re-read this and agree that the instructions are unclear.

The instruction _"Get its hashcode from Pinata and pass the following into a call to mintNFT"_ refers to calling the `mintNFT` function. This can be done as follows:

[code]

However you need to pass in your own hashcode: `https://gateway.pinata.cloud/ipfs/[YOUR HASH CODE GOES HERE]`

The exam

[2021-10-11 10:56] minimalsm commented on #4176
@all-contributors please add @under3415 for ideas

[2021-10-11 11:59] lukassim opened #4196 "Fix typo on DeFi page"
**Describe the bug**

There is a typo in the ''Exchange tokens'' section of the DeFi page.
The full sentence is ''These DEXss allow you to swap your ETH for those tokens and back again when you're finished.''
DEXss is not spelled correctly.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/defi/#swaps
2. Read the last sentence under 'Exchange tokens'
3. See typo

[2021-10-11 12:49] minimalsm commented on #1777
We have decided against implementing this feature as it seems redundant given we already have a site search...

[2021-10-11 12:51] wardpeet opened #4198 "Hi from the Gatsby team - Gatsby Cloud"
Hi!

I'm a technical lead at Gatsby, and we've noticed that Gatsby powers this website 💪. We did a quick look under the hood, and we're confident that switching to Gatsby Cloud will improve both build speed and page speed. Also, new features in [Gatsby 4](https://www.gatsbyjs.com/gatsby-4/) like Parallel Query Running would benefit the query-running of MDX. We're happy to assist when trying these

[2021-10-11 12:52] minimalsm commented on #2487
We are going to close this issue for now to either

- Find a way to enable contributors to  meaningfully contribute to this
- Prioritize it for an ethereum.org team member as a task

[2021-10-11 12:52] #2487 closed

[2021-10-11 14:51] lukassim opened #4199 "Add section about machine translation to Translation Program page"
**Is your feature request related to a problem? Please describe.**

We should add a section to the Translation Program page to emhasize that machine translation is not allowed.

**Describe the solution you'd like**

Add a couple of sentences mentioning machine translation and warning translators that machine-translated suggestions will be removed.

[2021-10-11 19:49] under3415 commented on #4176
Should the URI be generic ipfs address instead of pinata?

[2021-10-11 21:41] samajammin opened #4202 "Explicitly add frontmatter props to schema"
**Is your feature request related to a problem? Please describe.**

Noticed in #4152 that we're not consistently adding frontmatter props to the schema: https://github.com/ethereum/ethereum-org-website/pull/4152#pullrequestreview-776680917

**Describe the solution you'd like**

We should add all properties we use in frontmatter to the `Frontmatter` type, so it's clear what the potential options ar

[2021-10-11 23:01] Dzsmain opened #4203 "3D1fzffiHAMZHzd4vCpXaDFvpkpehcyGVC"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorials hosted els

[2021-10-11 23:01] Dzsmain commented on #4203
3D1fzffiHAMZHzd4vCpXaDFvpkpehcyGVC

[2021-10-12 06:58] lbk3530 commented on #4188
Hey @minimalsm ,

DODO launched on August 15, 2020.

[2021-10-12 13:26] #4097 closed

[2021-10-12 13:38] #4203 closed, assigned to nobody

[2021-10-12 19:42] #4199 closed, assigned to lukassim

[2021-10-12 22:35] samajammin opened #4215 "Q4 2021 ethereum.org product roadmap"
*To make our work more accessible and to foster more community collaboration, our team publishes an overview of our quarterly roadmap goals. See last quarter's roadmap here: #3446.*

**Greetings fellow Ethereans!**

Happy Hacktoberfest! [Our vision with ethereum.org](https://ethereum.org/en/about/) continues to be to create the best portal for Ethereum's growing community, and to serve as the fron

[2021-10-13 08:39] #4196 closed

[2021-10-13 19:19] corwintines opened #4222 "Add documentation for Algolia and Docsearch"
**Is your feature request related to a problem? Please describe.**
We dont have good documentation for our docsearchConfig, and how we use docsearch and algolia for this project.

**Describe the solution you'd like**

Create some basic documentation for the docsearchConfig, what in the configuration can be changed and/or why it is set up a certain way. Give a basic overview of the tools we are usi

[2021-10-13 23:50] samajammin commented on #3921
Hey @james-prysm - just circling back to let you know this we've queued up this work as part of our Q4 roadmap (#4215). Stay tuned!

In the meantime feel free to add more ideas here 😄

[2021-10-14 08:31] minimalsm commented on #3794
After much consideration we have decided two outcomes here.

1. We will revert the whitepaper to the original (post-ether sale)
2. We will provide a PDF version of the original as an academic reference and single source of truth.

Thank you all for your input on this 😬👍

[2021-10-14 10:27] #4086 closed

[2021-10-14 10:41] minimalsm opened #4229 "Homepage stats section skips over content when tabbing with screenreader"
**Describe the bug**
When tabbing through the homepage the network stats section has unusual behaviour when interacting with a screenreader. Focus will land on the box heading (i.e. "ETH PRICE (USD)") then focus will instantly shift to the next focusable element (30D button)

<img width="745" alt="Screenshot 2021-10-14 at 11 39 12" src="https://user-images.githubusercontent.com/62268199/137302130-

[2021-10-14 11:04] minimalsm opened #4230 "Focus state not activated on keyboard focus for ActionCard component"
**Describe the bug**

Our focus states are only being activated on mouse hover for when using the ActionCard component. They should also be activated on keyboard focus.

<img width="1470" alt="Screenshot 2021-10-14 at 12 02 28" src="https://user-images.githubusercontent.com/62268199/137305413-8918590c-aa4a-4689-9e9b-cf47067fb98b.png">

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '[

[2021-10-14 11:06] #4198 closed, assigned to nobody

[2021-10-14 19:30] corwintines opened #4236 "Use translations.json as the source of truth for languages in docsearchConfig"
**Is your feature request related to a problem? Please describe.**
At the moment we specify in multiple places what languages we use on ethereum.org for our docsearchConfig, when we should only need to reference one source of truth for languages so we dont miss any.

**Describe the solution you'd like**
Use (https://github.com/ethereum/ethereum-org-website/blob/dev/src/data/translations.json) as t

[2021-10-14 20:21] Aldekein opened #4237 "webpack.stats.json is disclosed"
**Describe the bug**
https://ethereum.org/webpack.stats.json has the dependency graph and various other build information. It shouldn't be published because it will allow to easier copy and modify the minified website JS.

**To Reproduce**
Open the URL – https://ethereum.org/webpack.stats.json

**Expected behavior**
404 error.

**Additional context**
The CI should be instructed to not include this

[2021-10-14 22:39] PatrickAlphaC opened #4239 "Multicall tutorial"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

What is multicall?

Multicall allows engineers to make many read calls to a blockchain in a single call! Effectivly cutting costs of 3rd party nodes DRASTICALLY.

Make API calls more effectively with a geth node or external service like alchemy

[2021-10-15 10:39] minimalsm commented on #1929
If anyone knows any good ways to **earn** ETH we'd like to hear them.

An obvious one is working for a crypto company that pays in ETH. You can find a list of job boards listing jobs in cryptocurrency here - https://ethereum.org/en/community/#ethereum-jobs

You can also earn crypto by completing GitCoin bounties: http://gitcoin.co/

Don't know if I'd consider mining or staking 'earning' ETH but th

[2021-10-15 20:45] abritpal commented on #4001
For some time I have been trying to work on this but I am really confused.
Even if I comment all the code down there, there is no change. Changing any variables or anything won't change anything. First of all how is Gatsby able to understand, not to direct this to other language URL. Second, how is
`createPage` working on a whole since pages like etheruem community behave the same way we wan't all

[2021-10-16 05:22] DexfolioApp opened #4248 "Dexfolio"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-10-17 05:05] minimalsm commented on #4229
No, headings/paragraphs shouldn't get focus when tabbing through the site. Need to do some triage to work out why it is highlighting these for half a second then skipping to the buttons (it is very jarring when using a screenreader)

Hmm that is strange. I'm on Brave on my iMac and this works fine but I've just tested it on my laptop and it doesn't work. Yes, these should be 100% outlined for acce

[2021-10-17 05:13] minimalsm commented on #4248
Hey! You have submitted a blank issue. Closing this out for now but feel free to reopen with the proper information.

[2021-10-17 05:13] #4248 closed

[2021-10-18 09:34] #4236 closed, assigned to corwintines

[2021-10-18 09:56] #4222 closed, assigned to corwintines

[2021-10-18 10:34] Longju000 opened #4250 "Ethereum client APIs ( The link for this doc is not found)"
Ethereum client APIs – Convenience libraries that allow your web app to interact with Ethereum and smart contracts.
This is the link:(https://ethereum.org/en/developers/docs/apis/)

Would love to work on this issue.

The link for this doc is not found.
![IMG_20211018_155828](https://user-images.githubusercontent.com/71775965/137714583-ec2f8f39-421b-42f3-8490-9a6327c2ea95.jpg)

[2021-10-18 12:58] minimalsm opened #4253 "Catch missing lang property error before build"
**Is your feature request related to a problem? Please describe.**

In [this PR](https://github.com/ethereum/ethereum-org-website/pull/4252) we created a check that will throw an error during the build if a markdown page does not have a lang attribute. The problem with this is that the build could run for 30+ minutes before throwing an error.

**Describe the solution you'd like**

We should implem

[2021-10-18 15:07] mamatwarmen95 opened #4255 "0x8e69ff7b2358e8ff887a057780fcf45b0dea8d5f"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-10-18 15:43] narayand16 commented on #4253
My approach is to use husky pre-commit hook which will check this lang in the MDX file. Can you assign this to me ?

[2021-10-19 02:39] flipcoin-tech opened #4258 "flipcoin_dapp"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-10-19 10:06] minimalsm commented on #4253
Hey, @noopta sure. I have assigned you. I think the suggested approach by @narayand16 is probably sufficient to solve this for now.

Thanks for offering @narayand16; if @noopta ends up not working on this, I'll ping you to see if you're still interested...

[2021-10-19 10:08] lbk3530 commented on #4188
@minimalsm Hey，any other question?

[2021-10-19 10:53] #3023 closed

[2021-10-19 19:36] marcosptf opened #4260 "Link to /#eth-2-0 breaking due to ./#eth-2-0"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1 -  acess to this url ===>>
https://ethereum.org/pt-br/learn/#proof-of-work-and-mining

2 - exist a url about these text ====>>>
" Leia mais sobre ETH 2.0 abaixo"

3-that send the user to these url =>
https://ethereum.org/pt-br./#eth-2-0

that dont exist anymore

**Expected behavior**

a doc that talk about ETH 2.0 mining in

[2021-10-20 07:22] maximgeerinck opened #4261 "Suggest Refinable"
We would like to suggest Refinable to be added to the "Digital collectibles" category of ethereum.org

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever possible**

We have conducted multiple audits by multiple vendors

- Hacken: https://hacken.io/wp-content/uploads/2021/04/04042021_Refinable_SC_Audit_Report.pdf
- Slowmist: https://drive.google.c

[2021-10-22 10:36] OOOFloW opened #4268 ""How to Write & Deploy an NFT - Part 1, Step 12" doesn't work."
First of, awesome guide, so far it has been real clear.
https://ethereum.org/en/developers/tutorials/how-to-write-and-deploy-an-nft/

The issue I ran in to, is on step 12 it asks to install ethers.js and this doesn't work as it is instructed.
It says the command is:
npm install --save-dev @nomiclabs/hardhat-ethers 'ethers@^5.0.0'

It gives error in command prompt,

npm ERR! code E404
npm ERR! 404

[2021-10-22 12:53] samajammin opened #4271 "Upgrade Gatsby to v4"
**Is your feature request related to a problem? Please describe.**

Let's upgrade Gatsby to v4! Should help us reduce build times 🤞

**Describe the solution you'd like**

https://www.gatsbyjs.com/docs/reference/release-notes/migrating-from-v3-to-v4/

[2021-10-22 13:57] #4268 closed, assigned to nobody

[2021-10-22 15:18] minimalsm opened #4273 "Refactor smart contract security page URLs"
**Is your feature request related to a problem? Please describe.**

We have renamed the title of the smart contract security page from `Security` to `Smart contract security` (see https://github.com/ethereum/ethereum-org-website/pull/4212). We should do the same to the file names (currently just 'security') and URLs.

**Describe the solution you'd like**

- Change filenames of smart contract secur

[2021-10-23 08:19] BasharKnjo opened #4283 "Etherum-iot"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-10-23 09:30] #4283 closed, assigned to nobody

[2021-10-24 10:10] corwintines opened #4297 "Refactor isMobile checks into one utility function"
**Is your feature request related to a problem? Please describe.**
There are a few checks for isMobile in the application which implement the same functionality in each of them.

**Describe the solution you'd like**
Create a single isMobile utility function to use throughout the application.

**Additional context**
These are getting added in https://github.com/ethereum/ethereum-org-website/pull/41

[2021-10-24 13:12] fzeoli opened #4298 "Update Hardhat's graphic"
In here https://ethereum.org/en/developers/local-environment/
![image](https://user-images.githubusercontent.com/232174/138595654-dfa5e581-fb9c-4b63-8d0e-10d4b35bee2a.png)
This is a year-old graphic from when Hardhat was called Buidler.
This is the new version https://user-images.githubusercontent.com/176499/96893278-ebc67580-1460-11eb-9530-d5df3a3d65d0.png

Here's an SVG logo https://hardhat.org/

[2021-10-24 19:12] Hakeemmidan opened #4303 "Resolve Todo at `src/components/BugBountyCards.js:111` on `dev` Branch"
**Is your feature request related to a problem? Please describe.**

Not really a problem. Just some syntax clean-up.

I'd like to resolve [the todo at `src/components/BugBountyCards.js:111` on the `dev` branch](https://github.com/ethereum/ethereum-org-website/blob/653e3efe500d24796c86536fd9464e878ab86ef8/src/components/BugBountyCards.js#L111):

[code]

**Describe the solution you'd like**
Associat

[2021-10-25 00:35] comradekingu commented on #4215
Can you instead move away from Crowdin? It has egregious terms, and it is not decentralized in any way.
Monero is on a Weblate instance, but they wont let anyone in before making a lot of suggestions.
The familiarity of ones own language is fairly important in conveying confidence in what is otherwise very new to people.

[2021-10-25 20:16] jaskoeth opened #4309 "Add "Oracle" as a glossary term"
**Checklist**

- [y] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [y] This term/definition is not a product advertisement or contain other promotional content
- [y] This term/definition is directly relevant to Ethereum

**Term Name: "Oracle"**

**Term Definition: "An oracle is a bridge between the bl

[2021-10-26 11:07] #4260 closed, assigned to nobody

[2021-10-26 11:33] #4250 closed, assigned to corwintines, minimalsm

[2021-10-26 14:38] onyekagodwin opened #4314 "Importance of advanced circulation of Ethereum worldwide"
I wish to suggest for an urgent give away program that will allow more people own ethereum average youth population cannot afford a good percent of ETH making it a hindrance for the project to touch more lives.

Please do give this urgent attention.

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

[2021-10-27 18:56] chenlie449 opened #4325 "推荐可以赚以太币的游戏Recommend games that can earn Ether"
推荐可以赚以太币的游戏
Recommend games that can earn Ether

[2021-10-27 19:45] corwintines opened #4326 "Redirect when selecting dapps page from search"
**Describe the bug**
When searching `find wallet` and selecting the dapps section, the dapps page flashes and then redirects to the home page.

**To Reproduce**
Steps to reproduce the behavior:

1. Search `find wallet`
2. Select `dapps` result
3. Error occurs where dapps page is rendered for a second then redirects to home page

**Expected behavior**
1. Search `find wallet`
2. Select `dapps` resul

[2021-10-27 20:06] #4314 closed, assigned to nobody

[2021-10-29 01:02] BenOfTheBlockchain opened #4333 "Adding SFT term to glossary"
**Checklist**

- [y] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [y] This term/definition is not a product advertisement or contain other promotional content
- [y] This term/definition is directly relevant to Ethereum

**Term Name:**

Semi-Fungible Token (SFT)

**Term Definition:**

A SFT can be des

[2021-10-29 08:53] aishaidir opened #4337 "Etherem wallet"
I would like ethereum to have their own wallet instead of using a third party app yo reduce the cost of gas fee when making transactions.

[2021-10-29 09:58] taxmeifyoucan opened #4338 "'Find a wallet' filters"
Find a wallet at https://ethereum.org/en/wallets/find-wallet/ enables various filtering for wallet features. UX is clear but I believe there might be filters for more features which are important like **non-custody, hardware wallet support, enabling own node RPC** and maybe more.

Options like Withdraw to bank or Buy with card might lead new users to custodial, KYC wallets without understand risks

[2021-10-29 17:05] DavidDang26 opened #4343 "dat"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorials hosted els

[2021-10-29 17:06] #4343 closed, assigned to nobody

[2021-10-29 17:10] #4326 closed, assigned to nobody

[2021-10-29 18:18] markusbug commented on #4337
Gas Fees are determined by miners. Most third-party apps don't charge anything for transaction.
The Ethereum foundation cannot create a wallet that reduces gas fees.

[2021-10-29 19:41] corwintines commented on #4337
@aishaidir all wallets implement using standardized RPC calls to the protocol. Fees are dictated by block space demand. Closing this issue, but here is some more information on how gas fees are derived. I would suggest looking into L2's like Arbitrum and Optimism for reduction is gas fees.

https://ethereum.org/en/developers/docs/gas/#top

[2021-10-29 19:41] #4337 closed

[2021-10-29 19:42] corwintines commented on #4333
Hmm, I am unsure if this needs to be included. I have never really heard of this term before, at least in the context of SFT's. Would like to hear what others think though.

[2021-10-29 19:43] corwintines commented on #4325
@chenlie449 we certainly show a few https://ethereum.org/en/dapps/?category=gaming, would be curious what you are thinking to add to this.

[2021-10-29 19:59] corwintines commented on #4338
@taxmeifyoucan happy to collaborate on this a bit!

[2021-10-29 20:19] corwintines commented on #4298
@fzeoli made a PR to update to the other image as requested :)

[2021-10-29 21:00] OCMM opened #4346 "crypto.com app will not connect to shibaswap.com"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2021-10-29 21:01] OCMM opened #4347 "please add cryto.com defi wallet to the exchange"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2021-10-29 21:01] BenOfTheBlockchain commented on #4333
Thanks for your consideration.

[2021-10-29 21:02] OCMM commented on #4347
I was able to stake tokens on shibaswap from crypto.com defi wallet but mow the two exchanges will not connect anymore. Please help!

[2021-10-29 21:23] fzeoli commented on #4298
that looks good, except that it's a png that's a bit blurry. Can you use the SVG? https://hardhat.org/assets/img/Hardhat-logo.652a7049.svg

[2021-10-30 00:28] Claudio060320 opened #4349 "Ethereum"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-10-30 02:23] BenOfTheBlockchain opened #4350 "Adding the term "Asset" to the glossary"
**Checklist**

- [y] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [y] This term/definition is not a product advertisement or contain other promotional content
- [y] This term/definition is directly relevant to Ethereum

**Term Name:**

Asset (Crypto Asset)

**Term Definition:**

An asset refers to an

[2021-10-30 19:07] MrBrain295 commented on #4350
I could work on this.

[2021-10-30 19:08] MrBrain295 commented on #4349
this should be closed.

[2021-10-30 22:11] BenOfTheBlockchain commented on #4350
Thank you!

[2021-10-31 18:43] il3ven commented on #4273
I'd like to work on this.

[2021-10-31 22:31] lukassim opened #4359 "Update Translation Program page stats"
**Is your feature request related to a problem? Please describe.**

The stats on the Translation Program page are outdated and should be updated.

**Describe the solution you'd like**

Update the stats to reflect the current status.

[2021-11-01 10:57] rounakbanik opened #4361 "Writing an NFT Collectible Smart Contract"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

Writing an NFT Collectible Smart Contract

**Tutorial description**

Use Solidity, Hardhat, and OpenZeppelin to write and deploy a smart contract that allows people to mint NFTs from a custom collection of generative artwork

[2021-11-01 11:53] FAvE01 opened #4362 "Trust wallet"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2021-11-01 13:09] #4359 closed

[2021-11-01 13:37] minimalsm commented on #4362
Hey @FAvE01 you appear to have submitted a blank issue. Closing this out, feel free to reopen if you want to add additional information.

[2021-11-01 13:37] #4362 closed

[2021-11-01 13:37] #4349 closed

[2021-11-01 13:39] minimalsm commented on #4346
Hey :) this repo is for the [ethereum.org](https://ethereum.org) website. You'll have to contact the support team at crypto.com to resolve this.

[2021-11-01 13:39] #4346 closed

[2021-11-01 13:52] minimalsm commented on #4303
Hey @Hakeemmidan. Thanks for offering to help on this.

I agree we should refactor this (as per the todo). However because of how the translations work on ethereum.org it would be a lot of overhead to rename the labels. I think moving data into an array of objects and mapping through them is what we were looking for here.

[2021-11-01 14:01] minimalsm commented on #4333
@BenOfTheBlockchain hey, I agree with @corwintines. SFT isn't a commonly used acronym and I don't think we should force it into the glossary unless it becomes one.

Thanks for the contribution either way!

[2021-11-01 14:02] minimalsm commented on #4333
@all-contributors please add @BenOfTheBlockchain for ideas

[2021-11-01 14:02] #4333 closed

[2021-11-01 14:04] #3900 closed

[2021-11-01 14:22] minimalsm commented on #4273
Thanks @il3ven 😬 assigned!

[2021-11-01 14:40] #4347 closed

[2021-11-01 14:42] #4001 closed

[2021-11-01 22:53] eagle4444 opened #4369 "0x59e520a8332803d186f85e3a198b7a20630ca851"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-11-02 13:14] #4369 closed

[2021-11-02 13:56] lightclient opened #4374 "Proof-of-Stake not used consistently"
`proof-of-stake` in some places, `proof of stake` in others

https://ethereum.org/en/developers/docs/consensus-mechanisms/pos/

[2021-11-02 17:29] corwintines commented on #4298
Thanks @fzeoli, changed to the svg.

[2021-11-02 17:41] #3139 closed

[2021-11-02 18:09] vluna commented on #4374
I can update to `proof-of-stake` where required.

[2021-11-02 18:13] lightclient commented on #4374
How do y'all make style decisions? It doesn't seem like there is a canonical definition - but I did notice that Wikipedia does `proof of stake` and `proof of work` rather than the hyphenated version.

[2021-11-02 18:17] vluna commented on #4374
I the decision was made and then standardized in the [style guide](https://ethereum.org/en/contributing/style-guide/#proof-of).

[2021-11-02 19:00] fzeoli commented on #4298
Great, thanks

[2021-11-02 19:00] #4298 closed

[2021-11-02 21:50] lightclient commented on #4374
Oh cool! Thanks for that link. I think the EIP repo should adopt it.

[2021-11-03 22:28] corwintines commented on #4027
Closing as we have merged the PR

[2021-11-03 22:28] #4027 closed

[2021-11-04 12:12] minimalsm commented on #4374
Hey @vluna. I've assigned you to this issue :-)

[2021-11-04 13:11] vluna commented on #4374
@minimalsm Thanks, will get to it today! Just a couple of things. This seems to be an issue across multiple pages, including translations.
- Would I need to update all of the ones that start with _Proof of [whatever]_ -> _Proof-of-[whatever]_, including translation pages? Or, should I just focus on the English ones?
- There are a few links to resources and articles that are titles, i.e. _Proof of

[2021-11-04 22:51] lukassim opened #4389 "Fix typo on Development documentation page"
**Describe the bug**

The word 'vulnerabilitie' is missing an 's' at the end.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/docs/#ethereum-stack
2. Scroll down to Security
3. See error

**Expected behavior**

Correct spelling is vulnerabilities.

**Screenshots**

![Typo](https://user-images.githubusercontent.com/37338979/140430712-9a379566-6787-4c4

[2021-11-05 00:51] lidianycs commented on #4389
I could work on that!

[2021-11-05 03:30] corwintines commented on #4389
I think @samajammin caught this in https://github.com/ethereum/ethereum-org-website/pull/4383

[2021-11-05 03:32] corwintines commented on #4374
I think in the instance of article titles, we should preserve what they are as we were not the authors. For the main content on the page, we should catch all of those in this PR. Let me know if you have any questions or need a hand @vluna :)

[2021-11-05 03:40] lidianycs commented on #4389
That's ok

[2021-11-05 07:15] lukassim commented on #4389
Ok, thanks @corwintines

[2021-11-05 07:16] #4389 closed

[2021-11-05 09:55] minimalsm opened #4392 "NFT page says merge is happening in 2021"
**Describe the bug**

The NFT page still says the merge might happen in 2021. This is absolutely not the case. We should update this to state 2022.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/nft/'
2. Scroll down to 'Timelines heading'
3. See error

**Screenshots**

<img width="790" alt="Screenshot 2021-11-05 at 09 49 56" src="https://user-images.githubuse

[2021-11-05 12:03] #4273 closed

[2021-11-05 14:39] sakshamgurbhele commented on #4392
Hi @minimalsm, I am interested in this issue. Let me know if I can work.

[2021-11-05 14:47] minimalsm commented on #4392
@sakshamgurbhele thanks for helping ☺️ assigned.

[2021-11-05 16:59] iusamahub commented on #4389
Hey I can work on that!

[2021-11-05 19:03] samajammin commented on #2764
Solved in #4220 - thanks @corwintines!

[2021-11-05 19:03] #2764 closed

[2021-11-05 19:07] samajammin opened #4400 "Duplicate footer link"
**Describe the bug**

2 footer links to /developers

**To Reproduce**
Steps to reproduce the behavior:

1. Scroll down to footer
2. See error

**Expected behavior**

Should only be 1!

**Screenshots**
![image](https://user-images.githubusercontent.com/8097623/140565051-37c93a4e-bd35-4654-b08b-b5943c557ce1.png)

**Additional context**

Thanks Scott_1UP for pointing out! https://discord.com/channels

[2021-11-05 19:08] samajammin commented on #4400
@minimalsm do you know Scott_1UP's GH handle? Please add him for bug reports 🐛

[2021-11-05 20:03] #4392 closed

[2021-11-05 20:10] #4400 closed

[2021-11-05 22:37] minimalsm commented on #4374
Closed in #4393

[2021-11-05 22:37] #4374 closed

[2021-11-06 11:45] vluna commented on #4194
Hi @minimalsm, I saw this issue is pretty much with every modal on mobile. I would like to give it a try. I do not have experience with gatsby/react specifically, but I think I might be able to do this one 😃

[2021-11-06 12:14] vluna commented on #3746
I was thinking that maybe if you want to keep the footer social links, a label could be added. Something like "Follow our community" and then link to a page with the detail explanation and more links, while also keeping the main social channels on the footer.

<img width="793" alt="Screen Shot 2021-11-06 at 8 09 56 AM" src="https://user-images.githubusercontent.com/8848639/140609095-faeb6566-601e-

[2021-11-06 13:24] JulienMaurice commented on #4194
Hey, maybe I could get my hand on it. I tried something in local, and its seem to work pretty well.
As I don't have much experience, maybe the method isn't suitable.
If you allow me, I could show you what I've done.

[2021-11-06 14:11] vluna commented on #4194
@JulienMaurice we can work together on this one if you like? My solution, which works in local as well, is just to add `position: fixed` to the `#gatsby-focus-wrapper` when any modal pops up.

[2021-11-06 15:10] JulienMaurice commented on #4194
@vluna I agree !
My proposition was maybe a bit more abrupt. Tell me what you think

I would have use the `handleMenuToggle()` in Nav component
Using the already existant `isMenuOpen` and `isSearchOpen` state:

[code]
Stopping the body to be scrolled when the Mobile Menu or the Search Menu is open.

[2021-11-06 15:39] acampbell528 opened #4407 "First time user"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorials hosted els

[2021-11-06 16:04] vluna commented on #4194
@JulienMaurice Pretty much what I have, I just have it at the end of the function since it can be part of any modal.

[code]

[2021-11-06 16:51] JulienMaurice commented on #4194
I'm alright with this.

In the case where the id `#gatsby-focus-wrapper` is used in the futur, maybe we should put something like
`gatsbyWrapper.style.position = "fixed"` & `gatsbyWrapper.style.position = "static"`

Instead of wiping it with `style.cssText`, don't you think ?

[2021-11-06 17:57] vluna commented on #4194
Yup, that is better for sure!

[2021-11-07 14:28] vluna commented on #4194
@JulienMaurice I noticed an issue where if we add position fixed/static it will always scroll to the top. We can fix this by adding a global variable and every time we open the modal save the position and scroll to the position Y on close/open.

[2021-11-07 19:32] stefanrusen opened #4412 "How to pass an NFT linked to a physical product as proof of ownership to somebody that is not on the chain"
**Is your feature request related to a problem? Please describe.**
I have minted an NFT on opensea linked to a physical work of art - painting. As I am selling this painting I want to pass the NFT to the new owner but they are not active on the platform. How do I state that ownership has passed?

**Describe the solution you'd like**

  the work of art can be sold either in real-world or on NFT mar

[2021-11-08 03:50] Jaysonmaldx opened #4415 "Iiccoinsss"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-11-08 03:51] Jaysonmaldx commented on #4415
Hi

[2021-11-08 10:08] JulienMaurice commented on #4194
@vluna
I just took a look. You are right.

Alright, funny thing: I never used Gatsby or worked on a gatsby project before. It seems that it force the `html` element to `overflow-y: scroll`. And that's why just playing with the `body` element (what should be done, I believe) doesn't work.

We have the option where we could get `scrollY` , keep the position, and set it after with `window.scrollTo()`

[2021-11-08 10:19] minimalsm commented on #4415
Hey @Jaysonmaldx not sure if you meant to leave a blank issue here? Feel free to reopen with the correct info.

[2021-11-08 10:19] #4415 closed

[2021-11-08 10:19] #4407 closed

[2021-11-08 10:28] minimalsm commented on #4412
Hey @stefanrusen this is the repo for ethereum.org the website. We aren't able to provide OpenSea support, please [contact them directly](https://support.opensea.io/hc/en-us).

[2021-11-08 10:28] #4412 closed

[2021-11-08 10:29] minimalsm commented on #4400
@all-contributors please add @Scott1UP for bugs

[2021-11-08 11:50] vluna commented on #4194
Nice @JulienMaurice! Thank you for creating the PR 😄

[2021-11-08 15:41] minimalsm opened #4425 "Add skip navigation link to ethereum.org"
**Is your feature request related to a problem? Please describe.**

We don't have any way to skip over our navigation links for users using screen readers.

**Describe the solution you'd like**

Add a 'Skip to main content' link

**Additional context**

- https://webaim.org/techniques/skipnav/
- https://www.youtube.com/watch?v=UnEItq289lU
- Good example of an accessible skiplink - https://www.gov.

[2021-11-08 15:48] minimalsm opened #4426 "Low contrast date range selector"
**Describe the bug**

The date selector on our Ethereum today statistics component (StatsBoxGrid) is below the recommended 4.5:1 contrast ratio to be considered accessible to those with low vision.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/'
2. Scroll down to 'Ethereum today'
3. See error

**Expected behavior**

Contrast between background color and text

[2021-11-08 20:38] Twan1409 opened #4427 "Ok"

[2021-11-08 21:36] vicenzospaghetti commented on #4309
I'd also like to work on this one. Are you already working on it. Want some collaboration?

[2021-11-08 21:58] MrBrain295 commented on #4309
I was waiting to be assigned but if you would like to make a pull request go ahead.

[2021-11-09 08:31] #4427 closed

[2021-11-09 14:29] samajammin commented on #3020
https://twitter.com/0xstark/status/1457823831360368640?s=20

[2021-11-09 14:34] samajammin commented on #3950
Solved in #4032 - thanks @colinsteidtmann & @MrBrain295!

[2021-11-09 14:34] #3950 closed

[2021-11-09 14:34] samajammin commented on #3950
@all-contributors please add @colinsteidtmann for bug reports.

[2021-11-09 15:27] samajammin opened #4432 "Add Aleth to deprecated software page"
**Is your feature request related to a problem? Please describe.**

Similar to Parity (https://ethereum.org/en/deprecated-software/#parity) this client is no longer maintained:
https://github.com/ethereum/aleth

**Describe the solution you'd like**

Add section similar to Parity: https://ethereum.org/en/deprecated-software/#parity

**Describe alternatives you've considered**

**Additional context*

[2021-11-09 15:29] samajammin opened #4433 "Add Ethereum Studio to deprecated software page"
**Is your feature request related to a problem? Please describe.**

https://ethereum.org/en/studio/

**Describe the solution you'd like**

Add content from [this page](https://ethereum.org/en/studio/) to the [deprecated software page](https://ethereum.org/en/deprecated-software/).

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions f

[2021-11-10 11:22] JulienMaurice commented on #4426
Hello !

I suggest putting a background-color "greyish"

If you want I can do it.

[2021-11-10 14:50] rmeissner opened #4435 "Add the original Ethereum philosophy to the website"
**Is your feature request related to a problem? Please describe.**

With the revert of the Whitepaper to its original version in https://github.com/ethereum/ethereum-org-website/pull/4246 the Philosophy section was removed.

**Describe the solution you'd like**

Have a new separate section on the website for the Ethereum Philosophy

**Additional context**

I found the philosophy section very inspi

[2021-11-10 15:51] minimalsm commented on #4350
Checking out our [glossary listing template](https://github.com/ethereum/ethereum-org-website/issues/new?assignees=&labels=feature+%3Asparkles%3A%2C+content+%3Afountain_pen%3A&template=suggest_glossary_term.md&title=) for criteria and I don't think this is a term we want to add the glossary.

Specifically I don't think the **term/definition is directly relevant to Ethereum**.

It also quite an abs

[2021-11-10 15:51] #4350 closed

[2021-11-10 15:55] minimalsm commented on #4435
Hey @rmeissner. We reverted the Whitepaper back to its original state at the time of Ether token sale [(see here)](https://github.com/ethereum/wiki/wiki/White-Paper/502e0e01355a42c8e6f5463c49cce496ae423179). Whilst I agree that it was a nice, inspiring addition to the Whitepaper, the philosophy section was not in the Whitepaper at that time.

[2021-11-10 15:56] rmeissner commented on #4435
Yes, I am aware, therefore I proposed to add it as a separate section to the website (not to the whitepaper)

[2021-11-10 16:07] karelnagel commented on #4433
Hi! I can help with this

[2021-11-10 16:07] minimalsm commented on #4426
Hey @JulienMaurice thanks for offering to help on this.

I think we want to be mindful of two things here:

1. The existing Ethereum.org design system
2. Contrast

For the first concern I don't think we want to just select a random colour and call it a day. It should feel cohesive with the existing design. Feel free to browse the site and find inspiration that you think might fit.

E.g. this uses

[2021-11-10 16:07] karelnagel commented on #4432
I can also help with this one 😀

[2021-11-10 16:32] minimalsm commented on #4435
@rmeissner Ah, misunderstood you. Anywhere you'd like to see this living in particular?

[2021-11-11 07:00] kirati-su opened #4443 "Please help to update info for Bitcoin.com wallet on Ethereum wallets page"
Hi Ethereum.org Team,

Bitcoin.com wallet now supports  "Access to DeFi" feature. Can you please help to update the Bitcoin.com Wallet features on Ethereum wallets page? Thank you very much.

URL: www.bitcoin.com
App Store: https://apps.apple.com/us/app/bitcoin-wallet-buy-btc-bch/id1252903728
Play Store: https://play.google.com/store/apps/details?id=com.bitcoin.mwallet&hl=en&gl=US

Kind Regards,
K

[2021-11-11 08:21] rmeissner commented on #4435
For me it would make sense under Community] (or Ethereum Community).
![image](https://user-images.githubusercontent.com/2896048/141263125-f0aabda6-503e-4f67-af85-9d777ac6b994.png)

On the original website it was on the front page (https://web.archive.org/web/20140208030136/http://www.ethereum.org/) but I wouldn't go that far :D

[2021-11-11 09:02] JulienMaurice commented on #4426
Hey @minimalsm
I took a look at the differents colors from `theme.js`
I choosed `homeBoxPurple`, to have the option to switch from darkmode to lightmode too.

->_`/src/components/StatsBoxGrid.js`_
[code]

[![Image from Gyazo](https://i.gyazo.com/e80b5b36f22e9b8a1d1918569529f136.gif)](https://gyazo.com/e80b5b36f22e9b8a1d1918569529f136)
Contrast 10.45 in lightmode
Contrast 14.13 in darkmode

What do

[2021-11-11 14:45] ghost opened #4444 "Wallet"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2021-11-11 15:58] Hakeemmidan commented on #4168
Closed through #4131 (merged)

[2021-11-11 15:58] #4168 closed

[2021-11-11 17:59] mitdralla opened #4447 "Wallet Listing: Numio"
**Is your wallet security tested? Please explain security measures i.e. security audit, internal security team or some other method.**

The app is constantly subject to multiple layers of QA testing before (and after) undergoing internal audits and penetration tests. Major releases undergo 3rd party security auditing.

Numio is a non-custodial mobile application focused on user security and UI/UX.

[2021-11-11 19:34] il3ven commented on #4425
I'd like to work on this. I am assuming we don't have add this link on each page. It makes sense for pages such as documentation. In documentation it will skip to the last edit link.

Inspired by the https://www.gov.uk/ website. I have this design in mind.

![image](https://user-images.githubusercontent.com/4337699/141357864-b58d52bd-9f97-43f7-8621-4a2f5b964cb2.png)

[2021-11-12 11:47] sakshamgurbhele commented on #4433
Hi @samajammin, I would like to work on this issue

[2021-11-12 11:50] sakshamgurbhele commented on #4432
@samajammin I am Interested, I would love to take this issue

[2021-11-12 12:18] bgillcode commented on #4433
This has now been done and merged in. Pull request: https://github.com/ethereum/ethereum-org-website/pull/4448

[2021-11-12 17:35] #4444 closed

[2021-11-12 22:09] nlarche opened #4453 "External Link to makerdao.world is broken"
the link to makerdao.world in stablecoins section is broken

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/stablecoins/#explore'
2. Click on 'Earn'
3. Click on 'MarkeDao community'
4. the link goes to 404 page

**Expected behavior**

- goes to the right page
- or MarkeDao community might  not  exist anymore

**Screenshots**
<img width="1315" alt="image" src="

[2021-11-12 22:54] byoriolserra commented on #4453
Hello. Should the link go to MakerDAO Community's main page, or to a specific subsection?

[2021-11-13 05:10] FL600 opened #4454 "Ethereum"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorials hosted els

[2021-11-13 08:51] nlarche commented on #4453
I think it's link to this [issue](https://github.com/makerdao/community/issues/1558)

[2021-11-13 14:50] SNikhill commented on #3128
@samajammin

Sir, if I understand it correctly, you are saying that due to the changes in content for eth2 pages (Available under: https://ethereum.org/en/eth2),
all the translations are outdated?

[2021-11-13 14:52] Songsaknook opened #4458 "https://github.com/21-twenty-one/21/0xbe708417dec54728b392f43dfa6bcaa2ecea00bf"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2021-11-13 19:39] anvats opened #4459 "Add Wazirx exchange"
Wazirx is one of the biggest exchanges in India. Wazirx also claims that it stores 95% of funds offline to protect them from hacking activities.

[2021-11-14 20:10] cameronfink commented on #4453
[Here](https://makerdao.world/en/) is the community home page, not the "get started" page.

If you go back to January 2021 on archive.org and enter the page linked to on ethereum.org, it pulls up a page that is most similar to this page now: https://makerdao.world/en/resources/. I think this is the page it should be linked to.

[2021-11-14 20:11] cameronfink commented on #4453
Compare this page: https://web.archive.org/web/20210122201652/https://community-development.makerdao.com/en/contribute/ to this page: https://makerdao.world/en/resources/

[2021-11-14 21:28] x01zeroOne opened #4462 "x01zero0ne timelaps 1"

[2021-11-15 04:32] Longju000 opened #4463 "Unwanted overscrolling on mobile navigation"
**Describe the bug**
When you scroll on the menu button.
![IMG_20211115_100023](https://user-images.githubusercontent.com/71775965/141722873-04dda3d5-8137-4315-b20e-867006b357c1.jpg)

[2021-11-15 12:24] #4426 closed

[2021-11-15 13:47] minimalsm commented on #4463
Hey @Longju000! Thanks for reporting ☺️

Could you let us know what device and browser you are using so we can try to replicate this 😬?

[2021-11-15 13:47] #4462 closed

[2021-11-15 13:47] minimalsm commented on #4458
Hey @Songsaknook. You appear to have filled in a blank issue.

Please let us know if you need anything to get this moving. Closing this out for now but feel free to open with the correct information.

[2021-11-15 13:47] #4458 closed

[2021-11-15 13:49] #4454 closed

[2021-11-15 14:31] byoriolserra commented on #4453
@cameronfink thank you for checking the archive, I didn't even think about it. I agree, the resources page looks the most similar to the one linked back in January. Can I take the issue? 😄

[2021-11-15 14:41] cameronfink commented on #4453
@byoriolserra You take it! I was trying to figure out how to fix it anyway and couldn't, so -

Happy I could help find the link though!

[2021-11-15 15:58] Longju000 commented on #4463
Browser: Google Chrome
Movbile Device: Xiaomi Redmi

[2021-11-15 21:47] #4194 closed

[2021-11-16 12:25] samajammin commented on #4433
Solved in #4448 - thanks @bgillcode!

@minimalsm please check to ensure issues get closed out after PRs are merges 😉

[2021-11-16 12:25] #4433 closed

[2021-11-16 12:30] samajammin commented on #3984
Noting this is also a bug on smaller browsers - the dropdown nav is cut off with no ability to scroll:

https://user-images.githubusercontent.com/8097623/141985359-f73ebbc0-7a9f-4711-b519-407e7d965eeb.mp4

@minimalsm perhaps a short term fix would be to remove some of these pages from the dropdown? e.g. I think at least these could be removed - they're less important pages & are linked to from the

[2021-11-16 18:32] #4309 closed

[2021-11-16 22:17] samajammin commented on #4432
Closed in #4461 - thanks @cameronfink!

Sorry for missing your comment @sakshamgurbhele - we appreciate you volunteering! Feel free to ping @minimalsm next time around. He's more on top of GitHub notifications than I am 😅.

[2021-11-16 22:17] #4432 closed

[2021-11-16 22:47] andrejrakic opened #4477 "Update Oracles Documentation Page"
In the Oracle Section of the Documentation Page there is no explanation nor example of using Chainlink Keepers. I would like to open a PR and work on this issue.

**Product name:**
Chainlink Keepers

**Product description:**
Smart contracts alone can't trigger or initiate their own functions at arbitrary times or under arbitrary conditions. State change will only occur when a transaction is initia

[2021-11-17 03:56] LForce opened #4479 "Tutorial description"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2021-11-17 11:42] minimalsm commented on #4479
Hey @LForce you seem to have filled in a blank issue? Feel free to reopen this issue with the correct information.

[2021-11-17 11:42] #4479 closed

[2021-11-17 11:50] minimalsm commented on #4477
Hey @andrejrakic thanks for raising this issue 🤝

I'm not familiar with Chainlink keepers but I agree having more information about automating the execution of smart contracts is a great idea!

Open to input here but I'm not sold that the Oracles developer docs is the best place for this to live. Are keepers technically oracles? Do you think this content living alongside [smart contracts](https://

[2021-11-17 11:55] #4453 closed

[2021-11-17 11:56] minimalsm commented on #4453
Thanks for the input on this everyone!

[2021-11-17 11:56] minimalsm commented on #4453
@all-contributors please add @cameronfink for ideas

[2021-11-17 11:57] minimalsm commented on #4453
@all-contributors please add @nlarche for bug report

[2021-11-17 12:01] minimalsm commented on #4425
Hey @il3ven. Thanks for offering to work on this. I've assigned you 💪

No, this would be on every page. The idea of a skip link is so that users of screenreaders don't have to tab through every single item in the navigation to get to the main content of the site. It should skip to the main content (usually an`article` html tag) of the page. This would typically be a H1 though for the developer doc

[2021-11-17 12:29] vluna commented on #4463
@minimalsm I can take a look at it.

[2021-11-17 13:14] minimalsm commented on #4338
Hey @taxmeifyoucan, sorry we haven't followed up on this yet. We've been pulled in a lot different directions 😀

Just wondering if you've made any progress here? (no problem if not)

[2021-11-17 15:42] taxmeifyoucan commented on #4338
I am going trough current info about wallets, verifying it and putting together this doc https://notes.ethereum.org/@MarioHavel/wallets_overview. It takes time to find all that information on wallets, help is much appreciated. @minimalsm @corwintines

[2021-11-17 15:50] andrejrakic commented on #4477
Yes, I am sure that they are oracles. Technically, oracles either provide external data or do external computation/automation. In my opinion, Keepers are an example of the second one.

Glad you opened this discussion! As I see it, after the Oracles section, the second-best place for Keepers is the Smart Contracts section for sure, but I am curious what the community thinks. Maybe @PatrickAlphaC ha

[2021-11-17 15:51] minimalsm commented on #4463
Hey @vluna thanks for offering to help. I've assigned you to this 😬

[2021-11-17 16:00] PatrickAlphaC commented on #4477
I echo @andrejrakic's points here! To me this makes a lot of sense!

Perhaps we could point to the keepers page in the smart contracts page too if that is what you'd like, to help users do decentralized event-driven automation.

[2021-11-17 23:06] investorguddi opened #4485 "Add poloniex exchange"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2021-11-17 23:08] investorguddi commented on #4485
poloniex exchange should be considered been added.it will make trading a bit easier for real.

[2021-11-17 23:41] majaaaaaaa opened #4486 "https://www.bxieinfinity.com/airdrop?r=qq6shq"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-11-18 10:29] #4486 closed

[2021-11-18 10:32] minimalsm commented on #4477
Okay, you've convinced me—I think it living in the Oracles developer docs is good. Finding a home for it in the current smart contract pages probably isn't a bad idea either.

The team are pretty swamped trying to get through our Q4 work and don't have the capacity to take this on yet but feel free to open a PR if you want to expedite this 😊

@andrejrakic @PatrickAlphaC

[2021-11-18 10:37] Kamushy opened #4487 "Link on titles being slightly tedious to click"
When hovering over a title on a page the link/chain icon button does not appear unless you hover over the title first then move the cursor across to the icon

**To Reproduce**
For example, go the https://ethereum.org/en/eth2/beacon-chain/

1. Scroll down till you reach "introducing staking"
2. Hover cursor to the left of the "introducing staking" title
3. See the icon doesn't come up

**Expected b

[2021-11-18 10:37] andrejrakic commented on #4477
Deal, I will open a PR then 🤝

[2021-11-18 10:47] minimalsm commented on #4176
Hey @noopta :) any update on this?

[2021-11-18 11:02] Longju000 commented on #4463
Should I try too??

[2021-11-18 14:58] qbzzt commented on #3839
WIP: https://github.com/qbzzt/ethereum-org-website/blob/l2-mint/src/content/developers/tutorials/minting-erc20-tokens-on-l2/index.md

[2021-11-18 15:20] minimalsm commented on #3839
@qbzzt looking forward to it 😀  feel free to ping if you want eyes on it before it is finished or else I'll await your PR 😊

[2021-11-18 16:07] samajammin commented on #4477
Thanks for raising this issue @andrejrakic!

I agree the Oracles page is a solid spot for this, at least for now until the terminology, resources & projects around keepers continues to expand. It may eventually make sense to have a dedicated page for this topic.

One request here would be to also research & add any other keeper projects that exist in the ecosystem, so it's not too Chainlink-centri

[2021-11-18 21:58] samajammin opened #4495 "<p> tags & <li> tags have different colors"
**Describe the bug**

`<p>` tags & `<li>` tags have different colors, at least on markdown files.

`<li>`
![Image 2021-11-18 at 3 53 30 PM](https://user-images.githubusercontent.com/8097623/142503273-c496b767-38cb-436f-b739-56947e137266.jpg)

`<p>`
![Image 2021-11-18 at 3 53 02 PM](https://user-images.githubusercontent.com/8097623/142503375-ace2aeae-cbe6-4664-b911-57aedc3d7733.jpg)

This may be sp

[2021-11-18 21:58] vj-codes commented on #4459
@minimalsm hey being from India and personally using the exchange I think the issue is valid and can I work on it please?

[2021-11-19 11:04] #3667 closed

[2021-11-19 11:12] shryasss commented on #4361
I'll take this up🙋

[2021-11-19 14:21] womensrights opened #4497 "Add the ZK Hack to the upcoming events section"
happy to be assigned the issue :)

[2021-11-19 15:09] minimalsm commented on #4497
@womensrights all yours 😀

[This example PR](https://github.com/ethereum/ethereum-org-website/pull/4428) of adding an event might be helpful if you need a reference point.  feel free to ping if you need anything ✌️

[2021-11-19 19:57] joneskj55 commented on #4495
Hi @samajammin & @minimalsm I'd like to take this one if it is up for grabs still.

[2021-11-19 20:43] samajammin commented on #4495
Thanks @joneskj55! Go for it!

[2021-11-19 21:49] vluna commented on #4463
@Longju000 sure, we can work on it together!

@minimalsm trying to fix this issue but I am struggling a bit. I believe the issue has to do with the address bar on chrome mobile.

Current steps to reproduce:
- Open ethereum.org on mobile
- Open navigation, make sure the address bar is visible
- Scroll all the way to the bottom in the menu, while the address bar is visible.
- Once you are at the bot

[2021-11-20 01:32] Longju000 commented on #4463
@vluna  sure sure will try from my side too

[2021-11-20 09:27] phyBrackets opened #4501 "dropdown in between the page"
I scrolling down the page , for example this

 https://ethereum.org/en/defi/#content
see before the actual content of the site started. The dropdown is just above that and if i clicked that , that actually do nothing but just scroll it to down a little bit and nothing else . So can we remove that feature ?because it's doing nothing much essential and looking bit odd also.

[2021-11-20 14:34] shwaglaba opened #4502 "issue"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2021-11-20 14:34] #4502 closed

[2021-11-20 17:41] rounakbanik commented on #4361
@shryasss Thank you! Not sure how this works but do let me know if you need anything from my side.

[2021-11-20 20:33] noopta commented on #4176
Hey, really sorry I've been quite busy lately with balancing school and my internship. I do genuinely want to complete the ticket though, are there any deadlines to be aware of? If there are pressing deadlines, I can pass off the ticket to someone else for now, and look to pick up a ticket when I have more spare time. Let me know what works best.

[2021-11-20 22:18] seekingtau opened #4504 "Standardise colour format to hex codes"
Not sure if this has been considered in the past, but just wanted to bring up a discussion over switching to hex codes rather than RGB codes - RGB must be converted to hex before it gets displayed anyway, which can lead to some small issues (that colours may appear inaccurately).

Besides, I do think that hex codes are more standard/easier.

Regardless, it is a bit of a nit-picky dev thing that mi

[2021-11-21 12:58] dschenkelman opened #4505 "There is no link to "Intro to ether" in the "ETH" terminology content of the "Intro to ethereum" document"
**Describe the bug**

There is no link to "Intro to ether" in the "ETH" terminology content of the "Intro to ethereum" document.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/docs/intro-to-ethereum/#eth.

**Expected behavior**

I expect to see a link to https://ethereum.org/en/developers/docs/intro-to-ether/, similar to what happens for other terms

[2021-11-21 14:14] villarode commented on #4361
Hi, I know this has been discussed before but nowhere did I get a definitive answer what exactly should be done with versions 0.8.0 and above(

I am creating a smart contract for my nfts following a rather standard set of documentation:

https://ethereum.org/ru/developers/tutorials/how-to-write-and-deploy-an-nft/

I am getting this message, apparently the _setTokenURI function is gone on pragmas >

[2021-11-22 03:35] #4485 closed

[2021-11-22 09:29] minimalsm opened #4509 "Intro to Ethereum developer docs: it is not obvious that ETH === ether"
**Describe the bug**

The Intro to Ethereum developer docs does not make it obvious that ether and ETH are the same thing.

The 'what is ether' section does not mention ETH. And, the 'ETH' section makes the assumption that users know that ether is ETH without explicitly stating it anywhere previously.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/developers/

[2021-11-22 10:09] rounakbanik commented on #4361
@villarode I don't think this is relevant to this issue. The tutorial that you are referring to was published by Alchemy. I suggest you ask this question on their Discord.

[2021-11-22 11:28] phyBrackets commented on #4509
Hey , I'm interested in this . Can you assign it to me ? And can you please explain briefly that what actually need to be done , what i understood it that we need to define ETH with Ether definition right?

[2021-11-22 12:49] minimalsm commented on #4172
Solved in #4173

[2021-11-22 12:49] #4172 closed

[2021-11-22 14:59] mitdralla commented on #4447
Hello :) - I added an addition to one of the questions:

"Device permissions are only requested based on a user's choice of function and if essential to the operation of the application. Any permissions are at the minimum viable amount to ensure that a function works. Numio keeps up to date with all Google Play and App Store privacy requirements and describes, via custom modal and plain English, e

[2021-11-22 15:08] eulerbeat opened #4512 "Incorrect K value in Tutorials/Uniswap V2"
Should this be 256 instead of 1024?

https://github.com/ethereum/ethereum-org-website/blob/dev/src/content/developers/tutorials/uniswap-v2-annotated-code/index.md#mint

![Screen Shot 2021-11-22 at 10 06 50 AM](https://user-images.githubusercontent.com/52531715/142885251-8b434322-81e7-4447-873b-3539eaf67d42.png)

[2021-11-22 19:53] adam-bro commented on #3970
@minimalsm do you know when the Loopring Wallet will be added to the wallet section?

[2021-11-22 21:53] alitunceltr opened #4516 "vieed"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-11-22 23:21] andrejrakic commented on #4477
Thanks for the comment @samajammin that makes sense. I will do some extra research but I must say that I've never used Keep3r Network before. Since I am not an Keep3r expert I propose to open a PR with example for usage of Chainlink Keepers and list Keep3r Network as an alternative

[2021-11-23 13:00] milvinae opened #4520 "Add 'Access to Ethereum Layer 2' to the Find a Wallet page"
**Is your feature request related to a problem? Please describe.**

The use of Layer 2 technology is essential to scaling Ethereum and ensuring that users get a better experience with lower gas fees and faster transactions. Identifying which wallets have incorporated Layer 2 technology isn't always straightforward.

**Describe the solution you'd like**

I would like to see 'Layer 2 Integrated' as

[2021-11-23 15:33] minimalsm commented on #4520
Definitely like this idea (very topical!). I haven't investigated this but I'd assume the list would be quite small at least to begin with?

[2021-11-23 15:42] #4516 closed

[2021-11-23 16:49] milvinae commented on #4520
Yes it would be quite a short list right now but would grow in the future.

These are the wallets I know of with Layer 2 Live or in beta/rumored. I'll have to dig deeper to see if there are more that I missed.

**Live:**

Loopring - Loopring
Rainbow - Optimism
Numio - zkSync
imToken - zkSync & Arbitrum
Trust Wallet - Arbitrum
Coin98 - Arbitrum
Coinbase Wallet - Arbitrum, & Optimism

**Beta:**

Arg

[2021-11-23 17:14] qbzzt commented on #4512
Oops, thank you for noticing.

I submitted a PR to fix it: https://github.com/ethereum/ethereum-org-website/pull/4524

[2021-11-23 17:19] qbzzt commented on #3839
Blocked right now, waiting for the new Optimism SDK to be released (https://github.com/ethereum-optimism/optimism/discussions/1801) which will make this much easier

[2021-11-23 18:17] x01zeroOne commented on #4462
Issuers and other contributors and administrators of code especially Minimalsm please don't close this issue. The main aspect of creating of this issue for my better understanding of the Ethereum and it's smart contracts. I'm lost my funds after interacting with 1Inch and Maker and now I'm trying to understand why it happened, so don't close it please. It would be better if you help me to resolve

[2021-11-23 18:34] taxmeifyoucan commented on #4520
This is also part of #4338. I am working on researching wallet features including L2 support, thanks for listing these! @milvinae Here is features overview https://notes.ethereum.org/@MarioHavel/wallets_overview

[2021-11-23 21:14] samajammin opened #4526 "Update Lambda School"
**Is your feature request related to a problem? Please describe.**

Our link to Lambda School:
https://lambdaschool.com/learn-blockchain-development

On this page:
https://ethereum.org/en/developers/learning-tools/

Now directs to:
https://www.bloomtech.com/courses/web3

**Describe the solution you'd like**

Let's update the title & logo on our page.

**Describe alternatives you've considered**

N

[2021-11-23 21:57] vluna commented on #4463
@minimalsm found a solution and opened PR #4528. Let me know if that works 🙂

[2021-11-24 00:01] nstrike2 commented on #4068
@minimalsm can we re-open this?

[2021-11-24 00:02] nstrike2 commented on #4092
@minimalsm can we re-open this?

[2021-11-24 05:41] Longju000 commented on #4463
I'm trying from my side but still not able to fix it
Do share the code later on 😁

[2021-11-24 09:58] minimalsm commented on #4526
Solved in #4499

[2021-11-24 09:58] #4526 closed

[2021-11-24 11:40] minimalsm opened #4530 "Add OpenEthereum to deprecated software list"
**Is your feature request related to a problem? Please describe.**

OpenEthereum [has been deprecated](https://medium.com/openethereum/gnosis-joins-erigon-formerly-turbo-geth-to-release-next-gen-ethereum-client-c6708dd06dd) and is no longer be maintained. We should add this information to our new [deprecated software page](https://ethereum.org/en/deprecated-software/).

**Describe the solution you

[2021-11-24 11:44] minimalsm commented on #4512
Closed by #4524

Thanks for reporting @eulerbeat

[2021-11-24 11:44] minimalsm commented on #4512
@all-contributors please add @eulerbeat for bug report

[2021-11-24 11:44] #4512 closed

[2021-11-24 12:30] #4463 closed

[2021-11-24 12:31] minimalsm commented on #4463
@Longju000 this should be fixed now! Not live on the official site yet. It should be deployed later but please feel free to test https://deploy-preview-4528--ethereumorg.netlify.app/en/ and confirm it works for you).

Thanks @vluna for solving this for us 🎉

[2021-11-24 12:45] #4487 closed

[2021-11-24 13:56] minimalsm commented on #3830
This is covered by #3908

[2021-11-24 13:56] #3830 closed

[2021-11-24 13:57] minimalsm commented on #4459
@vj-codes thanks but unfortunately but we don't have the infrastructure set up to allow contributors to do this yet, there is a required documentation step first that is currently entirely internal.

[2021-11-24 14:42] milvinae commented on #4520
I'm happy to help with that if you need anything @taxmeifyoucan. I'll head over to #4338 and see what you have going on.

[2021-11-24 15:13] #4495 closed

[2021-11-24 16:50] joneskj55 commented on #4530
@minimalsm I'd like to take this if possible.

[2021-11-24 19:02] samajammin opened #4537 "Remove Gitter chat link"
**Is your feature request related to a problem? Please describe.**

Currently the 1st chat room resource we link to on [our Community page](https://ethereum.org/en/community/#online-communities) is: https://gitter.im/ethereum/home

**Describe the solution you'd like**

I don't think we should link out to this anymore. From checking out a handful of those chat rooms, they appear to be mostly outdat

[2021-11-24 20:54] minimalsm commented on #4530
All yours! @joneskj55

[2021-11-24 21:20] joneskj55 opened #4539 "Incorrect link reference in /deprecated-software"
**Describe the bug**

At https://ethereum.org/en/deprecated-software/ when using the side nav to get to Ethereum Studio, you are instead taken to Grid.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/deprecated-software/
2. Click on Ethereum Studio in the side nav
3. See error

**Expected behavior**

Should be taken to the Ethereum Studio section instead of the

[2021-11-24 21:21] joneskj55 commented on #4539
I can go ahead and follow up with a PR. Just happened to notice this while working on another issue.

[2021-11-25 00:26] #4505 closed

[2021-11-25 02:09] Aldekein commented on #4537
This is related to https://github.com/ethereum/devops/issues/698

[2021-11-25 08:39] eulerbeat opened #4542 "Incorrect range for uint112 in Tutorials/Uniswap V2"
https://ethereum.org/en/developers/tutorials/uniswap-v2-annotated-code/#FixedPoint

Should this be 2^112-1?

![Screen Shot 2021-11-25 at 3 38 09 AM](https://user-images.githubusercontent.com/52531715/143407632-d541df1e-5448-4ec2-8894-f87fb604e163.png)

[2021-11-25 10:08] vishvanathan-k commented on #4176
I will take it on 😉 , If you don't mind

[2021-11-25 10:22] vishvanathan-k commented on #4509
Wups.... wrong mention 😅

[2021-11-25 13:52] ShubhankarKG opened #4544 "More on tokens and their uses does not redirect"
**Describe the bug**

On the [What is Ether ?](https://ethereum.org/en/eth/) Page, there is a subsection on More on tokens and their uses. All the uses mentioned are just elevated cards, which do nothing when clicked.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/eth/'
2. Scroll down to 'More on tokens and their uses'
3. Click on any card.
4. See error

**Ex

[2021-11-25 17:37] #4509 closed

[2021-11-26 11:38] minimalsm opened #4547 "Headers covered by nav on ETH2 template when using header-ids in the url"
**Describe the bug**

When using a URL to directly access a header using a header-ID (i.e. `https://ethereum.org/en/eth2/beacon-chain/#beacon-chain-features`) the navigation bar covers the header.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/eth2/beacon-chain/'
2. Click on a header-ID chain link or a sidenav link
3. See error

**Expected behavior**

The nav

[2021-11-26 11:40] minimalsm opened #4548 "Headers covered by nav on usecases template when using header-ids in the url"
**Describe the bug**

When using a URL to directly access a header using a header-ID (i.e. `https://ethereum.org/en/defi/#defi-vs-tradfi`) the navigation bar covers the header.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/eth2/beacon-chain/'
2. Click on a header-ID chain link or a sidenav link
3. See error

**Expected behavior**

The nav should not cover th

[2021-11-26 11:45] minimalsm commented on #4544
Hey @ShubhankarKG nice catch!

Yeah, these cards should direct to the corresponding pages on the site. I've assigned you to know, let me know that you're happy to take on this issue and if you need any help. ☺️

At a quick glance, it looks like this issue can be sorted entirely by adding links to the `tokenLinks` array [here](https://github.com/ethereum/ethereum-org-website/blob/42463a54cfdf7218ae

[2021-11-26 11:45] minimalsm commented on #4544
@all-contributors please add @ShubhankarKG for bug reports

[2021-11-26 11:51] ShubhankarKG commented on #4544
I'll put up the PR in some time. Thanks!

[2021-11-26 11:54] vluna commented on #4548
@minimalsm I can help with this one 🙂

[2021-11-26 11:56] vluna commented on #4547
@minimalsm since this is same issue as #4548, I can also update this one.

[2021-11-26 13:14] nandao132654 opened #4553 "希望推荐aspp"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-11-26 14:34] #4553 closed

[2021-11-26 15:05] joneskj55 commented on #4539
Closed with 47f2684fb10453d7625c9931a9daeaa9af6dc5ed

[2021-11-26 15:05] #4539 closed

[2021-11-26 22:11] nwoodr94 opened #4560 ""State Transition System" illustration in ETH Whitepaper doesn't make sense"
**Describe the bug**

The graphic illustrating the _state transition system_ idea in the Ethereum whitepaper doesn't make sense.

In the initial state, addresses `14c5f8ba`, `892bb91f`, and `4ad59065` have 0 tokens, where `7b53ab84` has 1 token, and `3ce6f712` has 2 tokens.

In the transaction segment, `7b53ab84` signs a transaction and spends 1 token, and `3ce6f712` signs and spends 2 tokens.
Als

[2021-11-27 03:06] nareshprajapat opened #4563 "We need to create unique P2P Physical for All Indian Increases of Uses"
My Idea is - we need to Create a Platform for Everyone Use Eth Coin using A bar code and Scanner . then will be valuable in India.

Like : When One User want Payment , then Second User can easy to pay using Eth scanner . This is very gd way to run in india with general people.

[2021-11-27 03:08] nareshprajapat commented on #4459
Great Approach :)

[2021-11-27 09:15] ShubhankarKG commented on #4297
Now that both the PRs are merged, can we revisit this?

I had a look at what the implementations are, and I found two implementations of `isMobile`

[code]

[code]

Would like to know your thoughts on which one to prefer, and then maybe I can refactor that out and put it in `/src/utils/isMobile.js`.

[2021-11-27 10:49] phyBrackets commented on #4560
Hey , here is my PR of solving this issue. https://github.com/ethereum/ethereum-org-website/pull/4565

[2021-11-27 16:27] #4544 closed

[2021-11-27 18:14] vluna commented on #4548
@minimalsm you can find the fix here #4561

[2021-11-27 18:57] Jaysonmaldx opened #4567 "👁iiccionsss🥇"
Read more: https://app.samsungglobalgoals.com/goal_details?goal=2&rev=false&main=true
#SamsungGlobalGoals #GlobalGoals

[2021-11-27 19:45] pettinarip commented on #4083
My two cents here. Have we tried this plugin? https://www.gatsbyjs.com/plugins/gatsby-remark-reading-time
I have tested the underlying lib that is been used there (https://github.com/ngryman/reading-time) and seems to be working fine.

Perhaps we can use this lib as a "complete" solution while we wait for the fix in the mdx plugin.

[2021-11-28 06:36] SNikhill commented on #4083
@pettinarip

Thank you for the suggestion, sir. From the README (help wanted) section, it does look like that it supports CJK languages. I shall try the same too and let you know. :)

[2021-11-29 12:00] version0chiro opened #4575 "The website is not responsive on Ultrawide monitors"
**Describe the bug**
The website when accessed from an ultrawide monitor of ratio 21:9, centres itself to the middle instead of being responsive and expanding as other websites do. This can be seen as in the screenshots, the website is shown in form of a  16:10 and is centred.

**To Reproduce**
Steps to reproduce the behaviour:
1.  Open the website in any ultrawide monitor with a ratio of 21:9

**

[2021-11-29 15:03] #4567 closed

[2021-11-29 15:04] minimalsm commented on #4542
Looks like it! @eulerbeat

Would you like to sling a PR for this 😬?

[2021-11-29 18:53] chiholiu10 commented on #4575
What is the exact problem here?

[2021-11-29 18:55] chiholiu10 commented on #4548
Already solved yet?

[2021-11-29 20:08] samajammin commented on #4497
Solved in #4498 - thanks @womensrights!

[2021-11-29 20:08] #4497 closed

[2021-11-30 05:39] version0chiro commented on #4575
The left out space on the sides looks really odd and would be better if the whole div fit into it rather than being at the center of it

[2021-11-30 08:26] lemiesz commented on #4575
This is not really a bug. Many website used the center rail approach, even on ultrawides, there are certain limits around optimal readability anyway.

Text content should be max 800px for optimal readability, thought many go lower. This site explains it better than I could https://baymard.com/blog/line-length-readability.

Some website will split the nav bar to stretch to the end of the screen, ho

[2021-11-30 08:28] lemiesz commented on #4563
Many wallets already support QR codes.

Or are you thinking like traditional IR barcode scanners?

[2021-11-30 08:37] lemiesz commented on #4560
So I see what you are saying,  and the way you are phrasing this is actually much clearer  as to the result of a transaction. However the whitepaper defines BTC state as

In this case we have 3 transaction outputs

[code]

So these are represented in the state as per the definition.

Your interpretation is clearer as to the intent of the state transition, however im not sure if it is correct as to

[2021-11-30 08:43] lemiesz commented on #4537
anyone working on this I can submit a PR?

[2021-11-30 11:03] Aldekein commented on #4237
@minimalsm could we remove that file from Git and add it to `.gitignore`? It should be a quick change.

[2021-11-30 15:19] ddocs opened #4592 "Update nodes-as-a-service page"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**

Ankr Protocol

**Product description:**

Ankr Protocol offers open access to a Public RPC API layer allowing anyone to connect to the Ethereum network.

Ankr Protocol provides reliable, load balanced access to node clusters from any

[2021-11-30 15:20] ddocs commented on #4592
I have read the listing policy for dev tools.

[2021-11-30 21:57] chiholiu10 commented on #4575
So what are we going to do here. Fix or ignore this issue?

[2021-11-30 23:25] lemiesz commented on #4575
Is there anyone that specifically owns he UX designs for the etherum website?

To me it seems to be working as intended (at least from a utility standpoint). Take for example the Solona website displayed at ultra-wide resolution.
<img width="3341" alt="image" src="https://user-images.githubusercontent.com/2940410/144143779-70bbc60c-30be-4b12-a764-befe0493a28a.png">

Yes indeed it does stretch out

[2021-11-30 23:32] lemiesz commented on #4520
Awesome wallets_overview matrix. Once this is finalized would it be useful to add it as a extra link somewhere on the main docs?

[2021-11-30 23:38] lemiesz commented on #4504
Do you have example of there this could happen.

I tend to agree however I will provide one counterpoint. In the case of applying a Alpha channel.

[code]

Writing the alpha channel as a decimal opacity value is a bit more clear than using HEX to represent the opacity. Although this is highly based on my personal opinion. I wonder what others think

[2021-11-30 23:44] lemiesz commented on #4229
@minimalsm

Not sure if this is your issue however ive noticed sometimes that Mac can have issues with tab navigation unless you enable some settings at the OS level. https://www.scottohara.me/blog/2014/10/03/link-tabbing-firefox-osx.html

Ive noticed this problem with Firefox in the past.

[2021-11-30 23:49] lemiesz commented on #4229
Although i have just tried it in firefox and the tab navigation seems to be working  mostly correctly.  However with a few problems.

<img width="1826" alt="image" src="https://user-images.githubusercontent.com/2940410/144146170-d93c2db7-611e-4854-b1cd-39e81f091dea.png">

The code examples section is not properly accessible to keyboard navigation. The `DeveloperPortal` button does not have a clear

[2021-12-01 00:41] wackerow opened #4598 "Stablecoin page layout bug"
**Describe the bug**
Horizontal scrolling is occurring at medium screen widths on the stablecoins page. Also noting a bug to the layout of CTA buttons in one of the cards on the same page at similar screen sizes.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/stablecoins/ on desktop
2. Scroll down to "Find a stablecoin" section
3. Reduce window width to around

[2021-12-01 00:52] vluna commented on #4598
@minimalsm I can work on this if possible.

[2021-12-01 02:25] ssaslavsky commented on #4575
No different from any other website, isn't it?

This is how I see this page in github:
![image](https://user-images.githubusercontent.com/37705943/144160583-52ba698e-8067-461b-bf74-c6bebc3ee1ba.png)

[2021-12-01 02:36] lemiesz commented on #4575
I guess GitHub does stretch out the top nav. Although that itself is a questionable choice

[2021-12-01 10:25] minimalsm commented on #4548
@chiholiu10 hey :-)

@vluna is working on this currently in #4561

[2021-12-01 10:58] minimalsm commented on #4560
Hey @nwoodr94  @lemiesz @phyBrackets, thanks for weighing in on this.

We recently decided that we should not be making alterations to the Whitepaper. Instead, we will be maintaining it in its current form as a historical reference. [Please see this comment for more detail.](https://github.com/ethereum/ethereum-org-website/pull/4565#issuecomment-983522713)

[2021-12-01 10:58] minimalsm commented on #4560
@all-contributors please add @nwoodr94 for ideas

[2021-12-01 10:58] #4560 closed

[2021-12-01 11:48] minimalsm commented on #4297
Hey @ShubhankarKG, I've assigned you to this.

The first is more comprehensive but we would need to test it. @corwintines any thoughts on this approach?

[2021-12-01 12:59] #4530 closed

[2021-12-01 22:54] m-t-a97 opened #4608 "Spelling mistake on the developers page"
**Describe the bug**

On the developers page located at the URL `https://ethereum.org/en/developers`, the card with the "Contribute" button has a spelling mistake which is the word "opportunties".

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [Ethereum Developer Resources](https://ethereum.org/en/developers)
2. Scroll down to the section that's titled "About these developer resource

[2021-12-01 22:55] m-t-a97 commented on #4608
I would like to be assigned this issue. Thank you in advance.

[2021-12-02 11:56] aburk3 opened #4609 "Fix external link to no longer active tutorial"
**Describe the bug**

Link to tutorial `Creating a Secret Ballot with OASIS SDK` is expired.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to docs page [here](https://ethereum.org/en/developers/docs/programming-languages/rust/#intermediate-articles)
2. Click on link for [Creating a Secret Ballot with OASIS SDK](https://docs.oasis.dev/general/tutorials/ballot.html#prerequisites)
3. See

[2021-12-02 13:06] minimalsm commented on #4608
Hey @m-t-a97,

I've assigned you to this. Feel free to open a PR :-) If you need any help getting set up, feel free to ping me.

[2021-12-02 13:09] minimalsm commented on #4598
Feel free to take a crack at this @vluna. Assigned :-) As always, ping if you need any help/a second pair of eyes.

[2021-12-02 13:11] minimalsm commented on #4592
Closed by #4606 😀

[2021-12-02 13:11] #4592 closed

[2021-12-02 13:18] minimalsm commented on #4575
@version0chiro @ssaslavsky @lemiesz @chiholiu10

Hey folks. This is a duplicate for #4026. Please read that issue for full context of the desired solution to this problem.

For context, we decided that stretching the site content indefinitely ([similar to the Solana website](https://github.com/ethereum/ethereum-org-website/issues/4575#issuecomment-983120088)) was a poor solution and unpleasant to

[2021-12-02 13:19] minimalsm commented on #4563
Hey @nareshprajapat, this repo is for discussion around ethereum.org only. Closing this out.

[2021-12-02 13:19] #4563 closed

[2021-12-02 13:22] #4548 closed

[2021-12-02 13:22] minimalsm commented on #4547
Fixed in #4561