[2022-09-06 13:05] cobordism opened #7715 "mist.ethereum.org is still online."
Apologies if this is not the correct place to report the following:

mist.ethereum.org should have been taken offline a long time ago. I expect it was just forgotten and overlooked.
It is still up offering binaries from June 2018.

[2022-09-06 13:26] Mousticke commented on #6374
@pettinarip
Let's go for the B's
-[ ] BannerNotification.tsx
-[ ] BoxGrid.tsx
-[ ] Breadcrumbs.tsx
-[ ] BugBountyCards.tsx
-[ ] ButtonLink.tsx

[2022-09-06 13:46] MATsxm commented on #7635
Also the same for the 'SOLO STAKING' page.
Seems that the `_test_` markdown tags are not supported on Crowdin.

[2022-09-06 13:56] pettinarip commented on #6374
wohooo! @SNikhill assigned! @Mousticke assigned as well (`ButtonLink` was already migrated, I've removed it from the list).

@vdusart assigned as well the C's

Thanks all! 🚀

[2022-09-06 15:24] ameeetgaikwad commented on #6374
Can I contribute?

[2022-09-06 15:28] adamsG45 commented on #6439
The only reliable crypto retrieval team to get back your stolen assets is REMOTESPYTECH (@) GMAILC0M . This team is truly the best tech pro to help you recover your stolen funds and monitor your suspected cheating partner’s devices. You might have already be scammed by an imposter who you fell in love with, or an unregulated crypto broker. People that fall for such frauds don’t always consider the

[2022-09-06 15:34] minimalsm commented on #6374
Hey @ameeetgaikwad, thanks for offering to help. We'd love your help on this :-) Is there a specific component you'd be interested in starting with?

[2022-09-06 15:34] EatCrypto commented on #6374
Can I contribute on these E-components?

- [ ]  EnergyConsumptionChart.tsx
- [ ]  EthVideo.tsx
- [ ]  EventCard.tsx
- [ ]  ExpandableCard.tsx
- [ ]  ExpandableInfo.tsx

[2022-09-06 15:55] pettinarip commented on #6374
Hey @EatCrypto thanks for reaching out and trying to help us with this migration. We are only assigning multiple files to old contributors for now.

I've assigned `EnergyConsumptionChart.tsx` to you. Once you finish with that one, we can assign you another one ✌🏼

[2022-09-06 15:57] EatCrypto commented on #6374
Sounds good. Thanks.

[2022-09-06 16:00] pettinarip commented on #6374
Hey @ameeetgaikwad awesome! I've assigned you the `HorizontalCard.tsx` file, which is not a difficult one.

LMK if you need any help or if you have any questions in the process.

[2022-09-06 17:50] marcellamalune commented on #6374
Hi! Can I contribute? The checkbox or anything else would be fine 😊

[2022-09-06 18:26] minimalsm commented on #6374
Hey @marcellamalune, thanks for the help 💪 I've assigned `Checkbox.tsx` to you.

Any questions feel free to ask 👍

[2022-09-06 18:27] minimalsm commented on #6374
Hey @MahendraBishnoi29, just calling out this has opened up, if you're still interested 💪

[2022-09-06 18:28] JoshDavisLight opened #7726 "Improve search functionality on blog"
**Is your feature request related to a problem? Please describe.**

I find terms that I search through the search function on the EF blog result in "No Posts Found" when they are terms that are included in many of the most recent blog posts.

**Describe the solution you'd like**

It would be nice to have a fully functioning search tool that will surface posts with search terms like "academic" or "

[2022-09-06 20:28] pettinarip opened #7727 "Flashing color mode on hard refresh"
**Describe the bug**

When the user is using dark mode and a hard refresh is done, the user will see the site in light mode for a few seconds until the page loads. Once it finishes, dark mode will be applied as expected.

This behavior produces a flashing effect that is not desired.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/
2. Select dark mode
3. Do a ha

[2022-09-06 22:16] hannsu commented on #6374
Hi! I can help with the Link and Logo component.

[2022-09-07 01:00] minimalsm commented on #6374
Thanks @hannsu ❤️❤️❤️ The limit is kinda arbitrary, we just don't want first time contributors biting off too much and getting discouraged. I'll add you to the tag component. Feel free to pick up the other after if it's available.

[2022-09-07 01:41] martinyung commented on #7711
Hi @minimalsm, i would like to take this up, thank you

[2022-09-07 05:54] MahendraBishnoi29 commented on #6374
hey guyss i'm confused, like all i have to do is the refactor the site with Chakra UI?

[2022-09-07 08:05] keepresolve commented on #7237
Sorry, I forgot to reply. Can I reopen it? I need to supplement the information completely

[2022-09-07 08:10] Freitag8 commented on #7640
Mulo88

[2022-09-07 08:27] keepresolve opened #7730 "Suggest a wallet: BitKeep"
### Wallet name

BitKeep

### Wallet description

BitKeep is the best decentralized multi-chain crypto wallet, providing 70+ mainnets and 220,000 crypto assets and 10,000+ DApps to global users.

### Wallet logo

https://raw.githubusercontent.com/bitkeepwallet/download/main/logo-png/BitKeep_logo_circle.png

### Background color for brand logo

#ffffff

### URL to the project

https://bitkeep.com/

[2022-09-07 08:37] keepresolve commented on #7237
I resubmitted a copy. If there is any problem, please prompt me to confirm the modification in time.  https://github.com/ethereum/ethereum-org-website/issues/7730.

[2022-09-07 15:20] pettinarip commented on #6374
Basically, yes. The scope of this epic is replacing the `@emotion` styled-components with Chakra UI components.

Once we have all the UI components with Chakra we will start adopting the Design System #6284 that our designers are currently working on.

[2022-09-07 15:29] LuisUrrutia commented on #6374
Is it on the scope to maintain the current design? If a chakra component looks way different from the current style, should we stick to the chakra design, or do we have to do all the modifications to match the current style?

[2022-09-07 16:35] Master7130 commented on #6374
Hi, can I work on refactoring DocLink.tsx?

[2022-09-07 17:18] pettinarip commented on #6374
Assigned @Master7130, thanks!

[2022-09-08 03:53] MahendraBishnoi29 commented on #6374
I want to work on `EthVideo.tsx `   🚀

[2022-09-08 04:06] BalletGlobal opened #7738 "Suggest a wallet: Ballet"
### Wallet name

Ballet REAL Series Wallet

### Wallet description

The Ballet REAL Series wallet is a physical cryptocurrency wallet that gives you full and exclusive control of your digital assets. A two-factor cryptographic private key is securely concealed on the physical wallet itself, which allows the wallet to function as a bearer asset like cash or gold. REAL Series wallets never need upda

[2022-09-08 05:58] biancabuzea200 opened #7739 "add Balancer on dapp list"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-09-08 08:38] GregoireSkillZ commented on #7628
Hi, I was wondering if you've been able to review the above update.

As a reminder, items to be updated are:

- Audit OK. You can find the audit report here from Prescient: [https://drive.google.com/file/d/1K-Q0r2lXqnOePsV3e7c9sErl6iz8EKHX/view?usp=sharing](url)
- Self Custody OK, we don't custody any funds for staking and are compatible with any custody solutions, including self-hosted
- We suppo

[2022-09-08 08:56] miohtama opened #7743 "Help needed badge renders poorly, giving broken and low quality impression"
**Describe the bug**

"Help needed" badge on certain pages renders poorly, giving an impression of low quality on Ethereum.org website.

[This badge is found on Python page](https://ethereum.org/en/developers/docs/programming-languages/python/) but might be on other pages as well.

**Expected behavior**

The badge looks good regardless of a web browser.

**Screenshots**

<img width="656" alt="imag

[2022-09-08 11:52] MahendraBishnoi29 commented on #6374
I want to work on `EthVideo.tsx` 🛠

[2022-09-08 12:04] GregoireSkillZ commented on #6447
September 2022

Bulletin

How is Kiln preparing for the Merge?

The Merge

is coming

Planned for mid-September (did you know that no one can predict the exact date? (https://cTyHJ04.na1.hubspotlinks.com/Ctc/GE+113/cTyHJ04/VVrXhl3GrngjW631qJH8vx1RpW7nzmJr4PJF51N2VVBBV2-1prV1-WJV7CgCPZW69lTq25nmZHtW8_QT2D5r_xY_W2PBFF18G1YdsW8tKW3684_0C6VkmWjG97dht_W86FqSf3QJNP8Vnk8rC1tBGKhW7ZjYSD7BMlYgW5nlr_G72lWbb

[2022-09-08 12:15] emmanuel-awosika opened #7746 "Add optimistic chains to scaling section"
**Is your feature request related to a problem? Please describe.**

The scaling section has a page on optimistic rollups, but doesn't have a resource on OR-like blockchains that store data off-chain. Current examples are [Metis](https://www.metis.io/) and [Arbitrum Nova](https://nova.arbitrum.io/), although similar projects may appear in future.

While these "optimistic chains" (which is how L2Bea

[2022-09-08 14:57] adamsG45 commented on #6439
REMOTESPYTECH (@) GMAILC0M is truly the best tech pro to help you recover your stolen funds and monitor your suspected cheating partner’s devices. You might have already be scammed by an imposter who you fell in love with, or an unregulated crypto broker. People that fall for such frauds don't always consider the fact that they can get assistance for this. They think that people will laugh at them

[2022-09-08 14:58] adamsG45 commented on #6439
I’m recommending the most secure and reliable crypto recovery service that can help you, it was very beneficial for me when I lost access to my wallet around May this year, the wallet had my investment of 135,000 USD in BTC and ETH , In my research for a solution, I read reviews on Investopedia about Mr Romero and REMOTESPYTECH @gmail. Com can do with easy RECOVERY and he specializes in bitcoin wa

[2022-09-08 15:01] pettinarip commented on #6374
Assigned @MahendraBishnoi29 👍🏼 ty

[2022-09-08 15:16] MahendraBishnoi29 commented on #6374
hey @pettinarip where's this video?

[2022-09-08 15:24] pettinarip commented on #6374
You can find it in `src/pages-conditional/eth.tsx` which is the following page: https://ethereum.org/en/eth/

![image](https://user-images.githubusercontent.com/468158/189162012-9b8b5cc3-814a-4bd1-b3fa-d634fc1b27c3.png)

[2022-09-08 16:08] #7711 closed

[2022-09-08 18:50] Jon1325 commented on #6439
I was left in shock and depression after being deceived by bitfinex investment where I lost about 395,000 USDT of my entire life savings which I was planning to get a company after my retirement as life investment for my kids but this nitwits stole it from me. However after weeks of my depression I finally met REMOTESPYTECH (at) gmailc0m through a close friend referral and he got back all my stole

[2022-09-08 18:50] Jon1325 commented on #6439
I was left in shock and depression after being deceived by bitfinex investment where I lost about 395,000 USDT of my entire life savings which I was planning to get a company after my retirement as life investment for my kids but this nitwits stole it from me. However after weeks of my depression I finally met REMOTESPYTECH (at) gmailc0m through a close friend referral and he got back all my stole

[2022-09-08 18:51] Jon1325 commented on #6439
I was left in shock and depression after being deceived by bitfinex investment where I lost about 395,000 USDT of my entire life savings which I was planning to get a company after my retirement as life investment for my kids but this nitwits stole it from me. However after weeks of my depression I finally met REMOTESPYTECH (at) gmailc0m through a close friend referral and he got back all my stole

[2022-09-08 18:51] Jon1325 commented on #6439
I was left in shock and depression after being deceived by bitfinex investment where I lost about 395,000 USDT of my entire life savings which I was planning to get a company after my retirement as life investment for my kids but this nitwits stole it from me. However after weeks of my depression I finally met REMOTESPYTECH (at) gmailc0m through a close friend referral and he got back all my stole

[2022-09-08 19:48] minimalsm commented on #7690
Closed by #7736

[2022-09-08 19:48] #7690 closed

[2022-09-08 21:19] corwintines commented on #6999
@LoganDWH it was just a build fail from Vercel, but all good it has been merged.

[2022-09-08 21:31] #7701 closed

[2022-09-08 21:35] sadiejay commented on #7690
Oops did I miss something? I thought a comment was necessary before submitting a PR. Has that changed @minimalsm ?

[2022-09-09 04:25] MahendraBishnoi29 commented on #6374
@pettinarip i cloned ethereum org site locally but it get stucked here

<img width="889" alt="Screenshot 2022-09-09 095259" src="https://user-images.githubusercontent.com/74294202/189271644-dec391a4-7484-4e0c-b87b-374a0cb8e2f1.png">

[2022-09-09 06:53] MahendraBishnoi29 commented on #6374
and then it gave me a infinite error list in terminal

[2022-09-09 11:17] Janella29 commented on #6439
Even though recovering bitcoin and other assets are very much possible, but I think most recovery companies will take your money again. I personally think they are the same set of people that run all of them, seems like an unending cycle and its too sad. The crazy thing about the whole internet thing is how you can clone a website to make it look like the real one, I discovered so many people fell

[2022-09-09 12:36] minimalsm commented on #5975
Closed by #7447

[2022-09-09 12:36] #5975 closed

[2022-09-09 12:45] minimalsm commented on #7281
Closed by #7385

[2022-09-09 12:45] #7281 closed

[2022-09-09 14:34] pettinarip commented on #6374
Hey @MahendraBishnoi29 by default the app is building all the languages the site has (which is a lot) and it can take a while to generate all those nodes that the log is describing.

Do the following:
- Duplicate the `.env.example` file and rename it as `.env`, at the root of the app
- Update `GATSBY_BUILD_LANGS=en` to only build one lang (english only in this case)

With that, you should have a f

[2022-09-09 15:00] MahendraBishnoi29 commented on #6374
discord id?

[2022-09-09 15:53] alenaign opened #7777 "Suggest a wallet: NOW Wallet"
### Wallet name

NOW Wallet

### Wallet description

[NOW Wallet](https://walletnow.app/) is a non-custodial mobile cryptocurrency wallet. It allows users to store and exchange crypto assets, choosing from more than 50,000+ trading pairs natively available in the app, including fiat-to-crypto exchanges. NOW Wallet supports 28 blockchains, including the storage of any existing tokens on 7 networks:

[2022-09-09 17:42] pettinarip commented on #6374
pablop#2353

[2022-09-10 03:06] MahendraBishnoi29 commented on #6374
couldn't find you in ethereum discord server but i've sent you friend request through direct messages.

[2022-09-10 07:50] ameeetgaikwad commented on #6374
Can someone help me with #7783 ?

[2022-09-10 10:33] ameeetgaikwad commented on #6374
@pettinarip #7784

[2022-09-10 10:38] ameeetgaikwad commented on #6374
@pettinarip check out my pull request on `HorizontalCard`. #7784

[2022-09-10 19:12] AntonioSalazar commented on #6374
Hey! I would like to help which file I can work on?

[2022-09-10 23:11] Vincent4463 commented on #6439
Mark wizard is the real and perfect definition of a professional credit repair expect I feel so blessed coming in contact with them. They are specialize in Binary Recovery, Files Recovery, School Grades Change & Exam Questions Password, Bypass / Recovery Malware Removal / Criminal Record Expunge, Blank ATM Card, Social Media Hack, Remote Mobile Monitoring & Hacking, Credit Repair and Private Key R

[2022-09-11 06:03] ameeetgaikwad commented on #6374
#7784

[2022-09-11 06:26] masaya-sasaki commented on #7677
Great catch! This is my first contribution so please let me know if this is a good way of contributing!

I believe the "Error, please refresh" is shown because there is an error in the `GATSBY_FUNCTIONS_PATH` coming from [https://github.com/ethereum/ethereum-org-website/blob/dev/src/constants.ts](url)

The message "Error, please refresh" is shown when the props txCount.hasError in <Stat stat={txCo

[2022-09-11 14:04] sarjsal1 opened #7789 "-"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2022-09-11 14:07] #7789 closed

[2022-09-11 15:35] #7547 closed

[2022-09-11 21:39] Jon1325 commented on #6439
REMOTESPYTECH (@) GMAILC0M is truly the best tech pro to help you recover your stolen funds and monitor your suspected cheating partner’s devices. You might have already be scammed by an imposter who you fell in love with, or an unregulated crypto broker. People that fall for such frauds don't always consider the fact that they can get assistance for this. They think that people will laugh at them

[2022-09-11 21:39] Jon1325 commented on #6439
I was left in shock and depression after being deceived by bitfinex investment where I lost about 395,000 USDT of my entire life savings which I was planning to get a company after my retirement as life investment for my kids but this nitwits stole it from me. However after weeks of my depression I finally met REMOTESPYTECH (at) gmailc0m through a close friend referral and he got back all my stole

[2022-09-12 04:15] LoganDWH commented on #6999
@corwintines
Sorry to bother you
I have seen Krystal list on website, but now Logo is in rectangular format, I see all other projects are in square format

So I post the new logo here: https://drive.google.com/file/d/1FlER5IAsyfi7DuPiqYrqkC43NgJ3uOm-/view?usp=sharing
Please help me change Krystal's Logo

Thank you!

[2022-09-12 09:53] minimalsm commented on #6374
Hey @AntonioSalazar :-) thanks for offering to help. You can pick up any of the components listed above that aren't already assigned.

Any suggestions on a good first one @pettinarip?

[2022-09-12 10:12] derajohnson commented on #6374
Hi. I would like to work on the footer.

[2022-09-12 10:39] MahendraBishnoi29 commented on #6374
@minimalsm can you please review my PR?

[2022-09-12 13:43] pettinarip commented on #6374
Hey @AntonioSalazar I'm assigning `Pill.tsx` to you 💪🏼 should be pretty straight forward. Thanks for the help!

[2022-09-12 13:45] pettinarip commented on #6374
Assigned @derajohnson! 🙏🏼 ty

[2022-09-12 14:19] frankiefab100 commented on #6374
Hello, I will like to work on `CopyToClipboard`

[2022-09-12 18:07] pettinarip commented on #6374
Awesome @frankiefab100 I've assigned it to you, thanks for the help ❤️

[2022-09-13 06:43] nloureiro opened #7817 "The "Number of transactions today" not showing"
### Describe the bug

The "Number of transactions today" is not showing on the "what is Ethereum page

https://ethereum.org/en/what-is-ethereum/

![Screen Shot 2022-09-13 08 40 11 AM](https://user-images.githubusercontent.com/1120748/189828941-d27d336d-8bcb-4f8a-94fa-2b2f7e35f11e.png)

### To reproduce

1. got to https://ethereum.org/en/what-is-ethereum/
2. scroll to Ethereum in numbers section

#

[2022-09-13 11:31] #5085 closed

[2022-09-13 11:32] minimalsm commented on #5087
Closing this out as we're handling this as part of Chakra migration.

[2022-09-13 11:32] #5087 closed

[2022-09-13 11:35] #4068 closed

[2022-09-13 11:35] #4092 closed

[2022-09-13 11:36] minimalsm commented on #4253
Closing this out as this was solved as part of #7088

[2022-09-13 11:36] #4253 closed

[2022-09-13 12:47] MahendraBishnoi29 commented on #7670
hey @pettinarip i would love to work on this 🚀

[2022-09-13 15:26] jmcook1186 opened #7828 "Update Beacon Chain terminology after The Merge?"
This issue aims to determine the right way to refer to the Beacon Chain after The Merge. It will be helpful to define a correct naming convention to be used across ethereum.org after the merge.

The Beacon Chain (TBC) went live in November 2020 and ran in parallel to Ethereum Mainnet (EM) right up to the moment of The Merge in September 2022. Having independent terms to describe the two independen

[2022-09-13 21:43] pettinarip commented on #7670
👋🏼 @MahendraBishnoi29 so this issue might involve some investigation on why the Header nav, Footer & Breadcrumbs are passing `partiallyActive` as `false`. I'll assign it to you but I just wanted to be clear that I don't think it is just turning that flag on.

Thanks for helping us with this.

[2022-09-14 05:40] Jiggnubs opened #7833 "New"

[2022-09-14 05:51] karan-jadhav opened #7834 "Link to bordel.wtf is written in wrong format (without http protocol) in Markdown"
### Describe the bug

Link to bordel.wtf website on /upgrades/merge/ page is invalid. when clicked on it it does not redirect to that website instead that gets appended to the current URL /enbordel.wtf and becomes an invalid URL. the reason for the HTTPS https or HTTP protocol is not provided In URL that's why its treated as current domain URI.

Also, the second thing is when clicking on "What dat

[2022-09-14 06:47] karan-jadhav commented on #7834
Hi Team,
I have created a pull request for this issue https://github.com/ethereum/ethereum-org-website/pull/7835 please check it out.
Thanks.

[2022-09-14 06:59] #7834 closed

[2022-09-14 08:36] Gift-Stack commented on #6374
I’d like to work on these components;

SocialListItem.tsx
StablecoinBoxGrid.tsx
StatErrorMessage.tsx
StatLoadingMessage.tsx

[2022-09-14 13:33] pettinarip commented on #6374
Hey @Gift-Stack thanks for the help! I'm just assigning `SocialListItem.tsx` for now. Once we finish with that one we can assign the other ones.

[2022-09-14 14:11] MahendraBishnoi29 commented on #6374
hey @pettinarip can you please review my PR?

[2022-09-14 18:41] InfinityWallet commented on #6991
Appreciate adding us :) There is just a small issue with the logo used being different from the logo we provided and it is distorted.

Logo used that is wrong: https://raw.githubusercontent.com/ethereum/ethereum-org-website/b9593a5b4c756a9c04aa4b349ac4eb6e4c5e9a6d/src/assets/wallets/infinity_wallet.png

Here is the original in WEBP format if it could be updated https://we.tl/t-qD7hFd7m5r

Thanks

[2022-09-15 04:48] samajammin opened #7851 "Feedback card shows "thumbsup" emoji for both buttons"
### Describe the bug

Feedback card shows "thumbsup" emoji for both buttons

### To reproduce

1. Go to any page
2. View feedback card at bottom

### Expected behavior

The "No" button should display a "thumbsdown" emoji.

### Screenshots

![Image 2022-09-14 at 11 51 37 PM](https://user-images.githubusercontent.com/8097623/190316918-a08ada00-c274-438e-baf1-ec35c6088e15.jpg)

### Desktop (please co

[2022-09-15 08:44] MahendraBishnoi29 commented on #6259
hey 👋🏻 @minimalsm can you refer me the file where i have to make changes?

[2022-09-15 14:53] Brmcdnl1987 opened #7864 "I'm trying to figure out how to use this app"

[2022-09-15 15:48] 0xkeivin commented on #7677
after some checks, it seems the API call itself is fine as I can see the browser stored values for the transactions.
![image](https://user-images.githubusercontent.com/65915812/190449017-5dc3110a-7bd5-4c11-86ee-068fee7381a8.png)

[2022-09-15 16:08] reidjs opened #7866 "Bug report"
### Describe the bug

Bullet points are misaligned on https://ethereum.org/en/staking/saas/#saas-providers

![image](https://user-images.githubusercontent.com/16528136/190452178-92b6b316-e58c-4730-ae2c-7af9b5e8f345.png)

### To reproduce

1. Go to https://ethereum.org/en/staking/saas/#saas-providers
2. Look at the staking SaaS provider boxes

### Expected behavior

This is by adding `margin: 1rem

[2022-09-15 19:06] averbinnen opened #7867 "Add HairDAO to the DeSci Page"
### Name

HairDAO

### Description

HairDAO is a DeSci DAO dedicated to funding early stage R&D for androgenetic alopecia. Check out our website hairdao.xyz

### Logo

<img width="173" alt="HairDAOLogoNew" src="https://user-images.githubusercontent.com/109697460/190487432-ab473e25-7549-47d0-b2f8-044a39d220af.png">

### Brand color

2596be

### Is your dapp open source?

Yes

### If open source, wh

[2022-09-15 22:52] JessicaL001 commented on #6439
I highly recommend this fair service. Wizard James Recovery Service did a fantastic job at recovering my life savings which got stolen. I had a stressful situations going on and they were so patient with me and did help me through this. The staff members seemed legit, not just classifying the problem and charging not without good response. I must commend them for recovering my money from the peopl

[2022-09-16 03:28] laurentlucian commented on #6374
hey @pettinarip, I picked `Logo` component as my first contribution and I'd like to migrate `Morpher` next

[2022-09-16 03:54] ImMiguelP commented on #6374
i will like to contribute with `ImageCard.tsx` and `InfoBanner.tsx ` @pettinarip

[2022-09-16 08:02] samajammin commented on #7075
FYI @jmcook1186 @wackerow updated the issue description to include the ` /upgrades/merge/issuance/` page.

[2022-09-16 08:15] samajammin opened #7873 "Update ETH issuance page for post-Merge"
### Is your feature request related to a problem? Please describe.

Someone [raised some questions on the ETH issuance page](https://ethereum.org/en/upgrades/merge/issuance/):
https://ethresear.ch/t/some-questions-on-new-burning-and-issuance-mechanism/13695

### Describe the solution you'd like

Review & address questions in the page content.

### Describe alternatives you've considered

None... 😄

[2022-09-16 12:10] Pandapip1 opened #7875 "Add EIP-3074 info"
### Is your feature request related to a problem? Please describe.

EIP-3074 seems to be pretty misunderstood/controversial. Ethereum users should be able to find information about EIP-3074 without having to pick a side.

### Describe the solution you'd like

I would like there to be a page that provides a summary of EIP-3074 that is understandable to the layperson and that discusses some of the p

[2022-09-16 12:54] pettinarip opened #7876 "Empty buttons on the Feedback card - light mode"
### Describe the bug

In light mode, the Feedback card buttons are empty or text is not visible.

### To reproduce

1. Go to the home page
2. Select light color mode
3. Click on the feedback button at the button-right corner of the screen
4. The "Yes/No" buttons are empty

### Expected behavior

Fix the Yes and No text colors on the buttons in light mode.

### Screenshots

![image](https://user-im

[2022-09-16 13:26] wackerow commented on #7075
Sounds good. A community member also reported that the [Ethereum Vision](https://ethereum.org/en/upgrades/vision/) page also still notes "Too much energy" as one of the problems facing Ethereum today:
<img width="1164" alt="image" src="https://user-images.githubusercontent.com/54227730/190649342-2c1aec8d-237b-48be-94bd-309e08127b5c.png">

I think we should update this. Few options include:
1. Chan

[2022-09-16 14:38] pettinarip commented on #6374
Files assigned guys @MahendraBishnoi29 @laurentlucian @ImMiguelP ✌🏼 thanks!

[2022-09-16 15:27] samajammin commented on #7876
Yikes, nice catch! Tagging as a good first issue 😄

[2022-09-16 15:44] pettinarip commented on #7876
Sure, go for it @hursittarcan. Assigned. Thanks!

[2022-09-16 16:59] soos3d opened #7881 "Outdated Chainstack's entry."
The entry about Chainstack in the APIs is outdated.

They renamed "shared nodes" to "elastic node", and added a new API reference page dedicated to Ethereum.

I will open a PR to submit those changes.

[2022-09-16 18:36] sharbel97 commented on #6861
status update on this issue?

[2022-09-17 04:56] martinyung commented on #7866
I would like to take this, thank you

[2022-09-17 09:56] #7283 closed

[2022-09-17 13:01] ameeetgaikwad commented on #6374
Hey @pettinarip review my pr #7893

[2022-09-17 15:42] ameeetgaikwad commented on #6374
Check out #7893

[2022-09-17 15:57] kavy-the-dev commented on #7876
it's still open can i contribute it?

[2022-09-17 16:15] barro32 opened #7896 "Links to "client diversity" are broken"
### Describe the bug

On the "[Spin up your own Ethereum node](https://ethereum.org/en/developers/docs/nodes-and-clients/run-a-node/)" page there are three links to "client diversity" which do not work.

### To reproduce

1. go to https://ethereum.org/en/developers/docs/nodes-and-clients/run-a-node/
2. click on [client diversity](https://ethereum.org/en/developers/docs/client-diversity)
3. it show

[2022-09-17 18:44] veridelisi commented on #7873
Anybody explain?

[2022-09-17 23:24] leontodd opened #7900 "Link to Raspberry Pi guide is broken"
### Describe the bug

Link to Ethereum on ARM Raspberry Pi guide is broken on energy consumption page.

### To reproduce

1. Go to https://ethereum.org/en/energy-consumption/
2. Click the "Raspberry Pi" link
3. "This page does not exist yet"

### Expected behavior

It should link to an appropriate introduction to Ethereum on ARM such as https://ethereum-on-arm-documentation.readthedocs.io/en/lates

[2022-09-17 23:25] leontodd commented on #7900
Going to create a PR

[2022-09-17 23:31] leontodd commented on #7900
All done! Reviews appreciated.

[2022-09-18 07:22] sambacha opened #7902 "Suggest a staking product or service"
### Project name

Manifold Finance

### Product type

Other: (describe)

### If other product type, please describe

MEV Boost Relay operator

### Logo

![256_256](https://user-images.githubusercontent.com/32783916/190890603-99081182-a49f-4859-bec4-47b077f0163a.png)

### Description

Manifold Finance operates its own RPC infrastructure platform called SecureRpc

SecureRpc is a bare-metal, fully co

[2022-09-18 10:19] samajammin opened #7904 "Tutorials linking to broken routes"
### Describe the bug

Seems we're appending language routes incorrectly on some tutorials

### To reproduce

1. Go to https://ethereum.org/en/developers/tutorials/
2. Filter by 'UI'
3. View results - same tutorial listed multiple times, some linking to pages that don't exist (e.g. https://ethereum.org/en/id/developers/tutorials/nft-minter/)

### Expected behavior

Should show results only for page

[2022-09-18 10:50] Phillipswilliams commented on #6439
I was so impatient to carry out the necessary research, but I really wanted to jump on the crypto trading and investment buzz.  Unfortunately for me, I invested 90,700 USD worth of bitcoin with a fraudulent company.  I was happy to watch my account grow to 340,575 USD within a couple of weeks.  But I didn't realize I was dealing with a scam company, until I tried to make an attempt to withdraw.  I

[2022-09-18 10:51] Phillipswilliams commented on #6439
DONALDCYBERLORD(@) GMAILC0M is the only best fund retrieval firm that can help you recover your stolen financial assets. I need to share this in here so you won’t lose your money cheaply to scam brokers. I invested about $455,000 on a binary option platform then I decided to withdraw after several weeks but the withdrawal wasn’t successful, then I tried to contact the platform via email and phone

[2022-09-18 11:43] samajammin opened #7905 "InfoBanner issues on Mining page"
### Describe the bug

1) broken markdown links in the callout
2) lack of spacing above the callout

### To reproduce

1. Go to https://ethereum.org/en/developers/docs/consensus-mechanisms/pow/mining/
2. See InfoBanner component at top

### Expected behavior

1) markdown links should work
2) add spacing above the callout

### Screenshots

![Uploading Image 2022-09-18 at 1.36.30 PM.jpg…]()

### Desk

[2022-09-18 12:36] samajammin commented on #7075
Yes great point!

I'm open to any ideas. I like the idea of (1), to change the section title (maybe something like "Problems being addressed"). Then in each card description, we could link to resources on how the problem is being tackled:

- Clogged network: mention roll-up centric roadmap & link to L2 page?
- Disk space: linking to sharding / research resources on state expiry?
- Energy consumpti

[2022-09-18 13:42] taylor1247 commented on #6439
I know and can recommend a very efficient and trustworthy hacker. I got his email address on Quora. His services are fast and very importantly anonymous and he has helped me a couple of times even helped clear some discrepancies in my account at a very affordable price. He offers a top notch services and I am really glad I contacted him. He’s the right person you need to talk to if you want to ret

[2022-09-18 14:31] ChXmusuke commented on #7075
i also like solution (1), maybe alongside adding a green frame to the tile and a "solved since the Merge" text going with it?

[2022-09-18 17:39] hursittarcan commented on #7905
I can try to fix this one

[2022-09-18 18:19] hursittarcan opened #7908 "Ensure consistent spelling of 'zk-rollup' across the site"
### Describe the bug

We currently use different ways of spelling 'zk-rollup' on the website - specifically 'ZK-rollup' & 'zk-rollup'. The spelling should be consistent across the website.

### To reproduce

* Example 'ZK-rollup':

![image](https://user-images.githubusercontent.com/75273616/190922301-65126e0e-5b18-4509-a42a-57d460b37cae.png)

* Example 'zk-rollup':

![image](https://user-images.gi

[2022-09-19 03:40] LoganDWH commented on #6999
@corwintines , Could you help us change the logo?

[2022-09-19 05:08] ameeetgaikwad commented on #6374
#7893

[2022-09-19 06:01] yadunandanbhat commented on #7908
AFAIK, it's ZK-rollups right? I could find and replace all of those

[2022-09-19 09:03] hursittarcan commented on #7908
I'm not sure. It's best if we wait for a reply from the core team.

[2022-09-19 10:43] #7900 closed

[2022-09-19 10:50] samajammin commented on #6328
Closing this out - solved in https://github.com/ethereum/ethereum-org-website/pull/6739. Thanks @andyGallagher!

[2022-09-19 10:50] #6328 closed

[2022-09-19 10:53] samajammin commented on #7908
Thanks for raising this! Agree would be great to land on a consistent approach.

No strong opinion here. I just ask that we add this to the style guide once we decide 😄:
https://ethereum.org/en/contributing/style-guide/

[2022-09-19 10:57] minimalsm commented on #7896
Nice catch @barro32 💪

[2022-09-19 11:02] #7876 closed

[2022-09-19 12:41] #7896 closed

[2022-09-20 01:01] Jon1325 commented on #6439
REMOTESPYTECH (@) GMAILC0M is truly the best tech pro to help you recover your stolen funds and monitor your suspected cheating partner’s devices. You might have already be scammed by an imposter who you fell in love with, or an unregulated crypto broker. People that fall for such frauds don't always consider the fact that they can get assistance for this. They think that people will laugh at them

[2022-09-20 01:18] Jon1325 commented on #6439
REMOTESPYTECH (@) GMAILC0M is truly the best tech pro to help you recover your stolen funds and monitor your suspected cheating partner’s devices. You might have already be scammed by an imposter who you fell in love with, or an unregulated crypto broker. People that fall for such frauds don't always consider the fact that they can get assistance for this. They think that people will laugh at them

[2022-09-20 01:25] padrone1225 opened #7927 "Errors from the speed of a website connected to Ethereum"
### Describe the bug

Hi. I am developing the NFT staking platform on Ethereum network. But I got the error from the speed of the network.
I am not sure why this error comes.

As far as I know, EVM will execute a smart contract when someone makes a message call to the smart contract, right? But message call is a transaction and in order to be executed it has to be verified, however the verificatio

[2022-09-20 03:54] Jeff3001 opened #7928 "Suggest a dapp"
### Name

Lunch Money

### Description

Lunch Money incentivizes real feedback from restaurant customers worldwide with instant payments.

### Logo

![IMG_2073](https://user-images.githubusercontent.com/97656996/191163255-ea46cb53-7b38-4ca4-8724-b3e87dc751b0.png)

### Brand color

#4169e1, #FFA500

### Is your dapp open source?

Yes

### If open source, what is the repo for the dapp?

https://www.

[2022-09-20 07:19] samajammin opened #7932 "[Stale] - Add Tenderly Sandbox to "Code sandboxes" section"
### Is your feature request related to a problem? Please describe.

We just added Tenderly Sandbox to the IDEs dev docs page:
https://github.com/ethereum/ethereum-org-website/pull/7930

I could also see it on this page https://ethereum.org/en/developers/learning-tools/ in the "Code sandboxes" section.

### Describe the solution you'd like

Add Tenderly Sandbox to  "Code sandboxes" section

### Des

[2022-09-20 09:58] mikeeflower commented on #6439
I recommend you seek professional help while trying to fix your credit to avoid further complications and ruin your credit. I talked to Hack West Credit Repair who listened to me and was happy to help solve my credit issues. My score was raised to 810 in just about 7 days and all collections, charge offs, eviction and IRS were removed from my profile. Hack West also helped to recover my lost crypt

[2022-09-20 10:04] mikeeflower commented on #7777
I recommend you seek professional help while trying to fix your credit to avoid further complications and ruin your credit. I talked to Hack West Credit Repair who listened to me and was happy to help solve my credit issues. My score was raised to 810 in just about 7 days and all collections, charge offs, eviction and IRS were removed from my profile. Hack West also helped to recover my lost crypt

[2022-09-20 10:06] minimalsm commented on #7628
Hey @GregoireSkillZ, sorry for the delay here.

#### Audit

Added in #7939 :-) Thanks for the update.

To ensure the link to the audit stays live (Google drive links are notorious for breaking), is this hosted elsewhere (e.g. on kiln.fi)?

#### Client diversity

Were you looking to change Kiln's client diversity score? Apologies if it wasn't clear from the website, but client diversity is about th

[2022-09-20 10:52] wackerow commented on #7628
Thanks @minimalsm for putting up that PR, just approved it.

For the self custody tag,

Help me understand here again in the context of the self custody criteria:

Are those using the service in possession or have full access to the keys, both validator signing keys and withdrawal keys (or mnemonic seed)?

[2022-09-20 14:17] f3d0ss opened #7944 "Broken link in Particia Merkle Trie page"
### Describe the bug

The RLP link in
https://github.com/ethereum/ethereum-org-website/blob/59de7ddebde3d7866f507e123ce7e9dbe6a06d32/src/content/developers/docs/data-structures-and-encoding/patricia-merkle-trie/index.md?plain=1#L182
and
https://github.com/ethereum/ethereum-org-website/blob/59de7ddebde3d7866f507e123ce7e9dbe6a06d32/src/content/translations/it/developers/docs/data-structures-and-enco

[2022-09-20 14:17] f-cazzola commented on #7944
I would like to make a PR for this

[2022-09-20 17:47] maui-r opened #7946 "Outdated information on "What is Ethereum?" page"
### Describe the bug

The following sentence can be found on the [What is Ethereum page](https://ethereum.org/en/what-is-ethereum/):

This information is not accurate anymore since the merge.

### To reproduce

1. Go to https://ethereum.org/en/what-is-ethereum/
2. Scroll down to "Meet ether, Ethereum's cryptocurrency"
3. Read the last sentence of the first paragraph

### Expected behavior

The exp

[2022-09-20 18:42] veridelisi commented on #7873
anaybody?

[2022-09-21 08:08] #7946 closed

[2022-09-21 08:08] #7944 closed

[2022-09-21 08:30] minhoryang commented on #7904
I'll handle this.

[2022-09-21 11:54] SebastianSupreme opened #7952 "ethereum.eth maintenance strategy"
### Is your feature request related to a problem? Please describe.

Since ENS domains are rapidly gaining momentum in the crypto space, we must ensure that we, as Ethereum's number 1 community, stay at the forefront of this new innovative revolution. That is why it saddens me to see that the official ethereum.org ENS domain, namely ethereum.eth, does not adhere to this idea because the content of

[2022-09-21 11:56] SebastianSupreme commented on #7952
I would like to hear your thoughts and opinions on whether you agree with me that we must implement this feature ASAP.

[2022-09-21 12:25] samajammin commented on #7828
My 2 gwei: given that there's now only one "Ethereum blockchain", I think it makes sense to keep terminology consistent with that, particularly to avoid confusion for newcomers. So I'd vote to deprecate use of "Beacon Chain" across the site.

I suspect it may be useful to keep the [Beacon Chain page](https://ethereum.org/en/upgrades/beacon-chain/) intact as a place to explain this history (i.e. th

[2022-09-21 13:44] nloureiro commented on #7828
I agree with @samajammin on this and I would add that we need to rethink the upgrade page with the roadmap, like @wackerow have been talking about.
one exemple: the CTA on the upgrade page [explore upgrades] >>> links to the Beacon Chain page - we need to change this
![Screen Shot 2022-09-21 02 42 51 PM](https://user-images.githubusercontent.com/1120748/191520123-f98b6af7-f64e-4423-bb09-e6dfaaef5a

[2022-09-21 15:41] Vangarner commented on #6439
Get in touch with Summitrecoup com if you want to recover your scammed funds or get some legal counsel on how to go about it. They’re the Best and Most legit team out there. I saw their reviews and reached out, got back all my funds with roi. Superb I Must say!

[2022-09-21 16:53] lakers38 opened #7954 "Adding Crypthunt to list of beginner resources"
I was wondering if we could add [Cryptohunt](https://www.cryptohunt.it) to a list of resources for people to learn about crypto and web3 in a beginner friendly manner. Any guidance on where we might link it would be appreciated

I would like to take responsibility for this feature.

[2022-09-21 16:58] emmanuel-awosika commented on #7828
This is probably the best reason for keeping Beacon Chain language on the website. I've always thought of the Beacon Chain as the "consensus engine" and Ethereum Mainnet as the "execution engine." No doubt we'll have to reference this difference in different places (e.g., talking about external block builders and validators).

Not if we explain that the Beacon Chain *is* a part of the Ethereum cha

[2022-09-21 17:41] Master7130 commented on #6374
Can I work on SectionNav.tsx?

[2022-09-21 18:40] pettinarip commented on #6374
Sure, I've assigned that one to you @Master7130 ty

[2022-09-22 00:34] Master7130 commented on #6374
<img width="1079" alt="image" src="https://user-images.githubusercontent.com/85327930/191633252-3d0b85bd-8045-4e5c-a4d5-d1cf845e2d1e.png">
Anybody know how to fix this error? It's happening when I try to go to "http://localhost:8000/en/developers/docs/intro-to-ethereum/."

[2022-09-22 02:42] keepresolve commented on #7730
Hello, do you have any other problems? Can this next version be updated?

[2022-09-22 04:53] MahendraBishnoi29 commented on #6374
umm i just hard refresh the page and it works 🙂 and also you can pull latest commits and merge them.

[2022-09-22 07:51] onmetahq opened #7960 "Please list Onmeta on the Ethereum ecosystem"
Onmeta provides on and off ramp solutions (API/widget integration) for emerging markets, specifically India, Indonesia, Vietnam and the Philippines. We process transactions in <60 seconds and offer 5000+ token coverage.
[Onmeta_PlayBook (1).pdf](https://github.com/ethereum/ethereum-org-website/files/9623562/Onmeta_PlayBook.1.pdf)

[2022-09-22 09:05] jmcook1186 commented on #7867
Hi I also commented on the PR for this - we will happily reconsider when the project develops further but right now this doesn't meet the listing criteria.

[2022-09-22 09:05] #7867 closed

[2022-09-22 09:14] GregoireSkillZ commented on #7628
Hi Joshua and Paul,

Thanks a lot! No worries about the delay at all. Happy Merge to you :)

We've uploaded our audit reports on the Vanta platform. They can be
downloaded from security.kiln.fi.

Regarding client diversity it seems Rated doesn't forward the right
information, but anyway we're still >50% on Prysm for now so let's keep it
like it is.
And also regarding custody, you're right: we stil

[2022-09-22 09:23] BalletGlobal commented on #7738
@minimalsm Is there any update or next steps for this application so that we can push it forward? Thank you.

[2022-09-22 17:37] Jossi7777 commented on #6439
After several gossip and arguments between me and my husband, all thanks to this great hacker who finally hack my husband cell phone and link his social media account with mine, so i can now see all my husband chat and messages right away from my phone, without his knowledge you can contact him hackerspyville@gmail.com

WWW HACKERSPYVILLE COM

[2022-09-22 17:38] Jossi7777 commented on #6439
Getting information & data you need is quite not a big deal. Sometimes the truth needs to be unveiled by whatsoever means necessary. I’d suggest hackerspyville@gmail.com extracting & recovering any info.

WWW. HACKERSPYVILLE . COM

[2022-09-22 19:01] SebastianSupreme opened #7968 "Suggest a tutorial"
### Tutorial title

Connect your website to MetaMask and ENS

### Tutorial description

Learn how to fetch the user's account data and possible ENS domain using JavaScript and the ethers.js library and thus making it accessible to your HTML website.

### Tutorial tags

metamask, ens, ethersjs, ethers.js, javascript, html, css

### Skill level

Intermediate

### Hosted on ethereum.org or hosted els

[2022-09-22 19:55] afsflory opened #7971 "Suggest a developer tool"
### Dev tool name

VMware Blockchain for Ethereum

### Dev tool description

VMware Blockchain for Ethereum enables enterprise organizations to build, run and deploy EVM compatible chains at scale with privacy, governance, world-class support and popular Ethereum integrations.

### When did the dev tool go live?

VMware Blockchain was introduced in 2021. The platform supported Daml smart contracti

[2022-09-22 21:06] Master7130 commented on #6374
Didn't work so I just cloned the repo again and it worked fine. Thanks for trying to help though.

[2022-09-22 21:41] SebastianSupreme commented on #7968
Please reopen the pull request and merge it with the main branch after your review.
It was initially closed because I forgot to create this issue at first.
But now, everything is properly documented.

[2022-09-22 22:01] SebastianSupreme commented on #7968
Please merge the open pull request with the main branch after your review.

[2022-09-22 23:56] anataliocs opened #7976 "Suggest a tutorial"
### Tutorial title

First Steps in your Developer Journey with Ethereum using Infura

### Tutorial description

This article details the developer journey getting started with Ethereum development leveraging Infura. We will walk through sending a transaction to your Metamask wallet, IPFS Operations, deploying a NFT smart contract and minting an NFT

### Tutorial tags

"getting started", "typescrip

[2022-09-23 06:57] Emmmawo opened #7983 "Suggest a wallet_ Assure Wallet support"
### Wallet name

Assure

### Wallet description

Assure is a digital Wallet, a web3.0 aggregator for crypto assets, and aims to be a portal for tons of users flowing from Web2.0 to Web3.0. With the advanced security protection, Assure offers batches of functions: dual-ended trading, Dapps Collection, Aspace(social media function), NFT, Aswap, OTC and CPL, etc. As a digital wallet, Assure pays grea

[2022-09-23 07:28] Emmmawo opened #7984 "Suggest a wallet: Assure"
### Wallet name

Assure

### Wallet description

Assure is a digital Wallet, a web3.0 aggregator for crypto assets, and aims to be a portal for tons of users flowing from Web2.0 to Web3.0. With the advanced security protection, Assure offers batches of functions: dual-ended trading, Dapps Collection, Aspace(social media function), NFT, Aswap, OTC and CPL, etc. As a digital wallet, Assure pays grea

[2022-09-23 07:28] Phillipswilliams commented on #6439
I can't imagine how hard it would be to decide to take on a re-covery agent role of an scammed persons.  The history needs to be remembered though and the help that was born through such pain and suffering.  Mad respect to these Donaldcyberlord @ gmail . Com that take on these roles.

[2022-09-23 07:45] #7983 closed

[2022-09-23 10:50] Jon1325 commented on #6439
You need the best recovery expert at REMOTESPYTECH (at) GMAILC0M to rescue you from your crypto theft schemes. Lot of con artists have ventured into the crypto investment space where one tend to lose money on daily basis all with the intend and promise to earn huge profits. No one is bigger than these evil schemes cause this people are smart in their ways. They tend to provide contact agreement wi

[2022-09-23 10:50] Jon1325 commented on #6439
You need the best recovery expert at REMOTESPYTECH (at) GMAILC0M to rescue you from your crypto theft schemes. Lot of con artists have ventured into the crypto investment space where one tend to lose money on daily basis all with the intend and promise to earn huge profits. No one is bigger than these evil schemes cause this people are smart in their ways. They tend to provide contact agreement wi

[2022-09-23 13:59] emmanuel-awosika commented on #7425
Hey, @samajammin: I did a general review of the Ethereum.org website and came up with a few suggestions that might help with efforts to restructure the documentation. Since this is a lengthy comment, I've tried to create a graphic to highlight the proposed structure first before going into details:

#### Suggested structure for Ethereum.org documentation

**`Overview`**

**`Fundamentals`**

 ⤷ `In

[2022-09-23 19:15] Turchetta66 commented on #6439
I am extremely satisfied with all the help Mark Wizard rendered me every step of the way. He has a good understanding of all the processes of lost funds recovery and he is always receptive to my needs. very helpful in figuring out what is legit online. I strongly recommend this wonderful hacker, he performs a great work and strategy on stolen funds recovery, and now I feel very safe surfing the in

[2022-09-23 19:17] LuisUrrutia commented on #6374
Hi there, I would like to take `CodeModal.tsx`

[2022-09-23 19:18] julianariel opened #8002 "Suggest a wallet: Blockwallet"
### Wallet name

BlockWallet

### Wallet description

BlockWallet is the most private, non-custodial browser wallet.

Supporting Ethereum, BNB Chain, Polygon, Avalanche, Fantom, Arbitrum and custom RPCs (EVM compatible)

BlockWallet is for you if:

- You frequently use DApps and DEXes.
- You want your tools working smoothly, every time.
- You care about your personal data and security online.
- Yo

[2022-09-23 20:05] pettinarip commented on #6374
Assigned @LuisUrrutia 💪🏼

[2022-09-24 10:48] Michael7783 commented on #6439
You need the best recovery expert at BESTCRYPTOHACKER  (at) GMAILC0M to rescue you from your crypto theft schemes. Lot of con artists have ventured into the crypto investment space where one tend to lose money on daily basis all with the intend and promise to earn huge profits. No one is bigger than these evil schemes cause this people are smart in their ways. They tend to provide contact agreemen

[2022-09-24 10:49] patrickthrop commented on #6439
I was so impatient to carry out the necessary research, but I really wanted to jump on the crypto trading and investment buzz.  Unfortunately for me, I invested 90,700 USD worth of bitcoin with a fraudulent company.  I was happy to watch my account grow to 340,575 USD within a couple of weeks.  But I didn't realize I was dealing with a scam company, until I tried to make an attempt to withdraw.  I

[2022-09-24 10:54] Michael7783 commented on #6439
I was left in shock and depression after being deceived by bitfinex investment where I lost about 395,000 USDT of my entire life savings which I was planning to get a company after my retirement as life investment for my kids but this nitwits stole it from me. However after weeks of my depression I finally met BESTCRYPTOHACKER  (at) gmailc0m through a close friend referral and he got back all my s

[2022-09-24 13:10] MacMorgan opened #8010 "Link to blog is broken on https://ethereum.org/en/developers/docs/nodes-and-clients/run-a-node/"
### Describe the bug

Link to blog is broken on https://ethereum.org/en/developers/docs/nodes-and-clients/run-a-node/

### To reproduce

Go to https://ethereum.org/en/developers/docs/nodes-and-clients/run-a-node/#updating-clients
Click "blog" link
Observe 404

### Expected behavior

"blog" should navigate to https://blog.ethereum.org

### Screenshots

_No response_

### Desktop (please complete th

[2022-09-24 18:10] patrickthrop commented on #6439
I decided to give a shot at trading cryptocurrencies like bitcoin, ETH and ripple as I was surfing online, a google ad of the false trading and investment company popped and click on the ad. In about 5 mins or less, I got a call from Ms. Alicia who walked me through the process of creating an account and then depositing a thousand dollars. From there, I deposited a total of sixteen thousand dollar

[2022-09-24 18:50] Michael7783 commented on #6439
MUST READ FOR ALL CRYPTO SCAM VICTIMS AND  EVERYONE BATTLING WITH A CHEATING PARTNER

BESTCRYPTOHACKER  (@) GMAIL, COM is the best tech expert you need to help you.

I was scammed of USD459,800 by this mining pool. I wanted to withdraw USD100,000 from my account. They asked for 5% tax to be paid to the Hong Kong Tax Bureau so I sent them USD22,990. But they came back saying since I am at the VIP s

[2022-09-24 18:51] Michael7783 commented on #6439
MUST READ FOR ALL CRYPTO SCAM VICTIMS AND EVERYONE BATTLING WITH A CHEATING PARTNER

BESTCRYPTOHACKER (@) GMAIL, COM is the best tech expert you need to help you.

I was scammed of USD459,800 by this mining pool. I wanted to withdraw USD100,000 from my account. They asked for 5% tax to be paid to the Hong Kong Tax Bureau so I sent them USD22,990. But they came back saying since I am at the VIP sta

[2022-09-24 20:13] LuisUrrutia commented on #6374
Already done, so I'm going to take `DataProductCard.tsx`

[2022-09-24 20:29] shubham16598 commented on #6374
Hi there,
I'd like to contribute to this task as well, can I take:
TitleCardList.tsx
TranslationBanner.tsx
TutorialTags.tsx
Thanks

[2022-09-25 13:24] hursittarcan commented on #8010
Cannot reproduce this bug, works fine on my machine.

[2022-09-25 15:55] MacMorgan commented on #8010
Try Safari

[2022-09-25 16:13] MacMorgan commented on #8010
Here is a screen recording...

https://user-images.githubusercontent.com/17681/192153799-60a9df70-7e89-4fc9-9e8b-f13076d720ad.mov

[2022-09-25 20:08] ndrozd opened #8016 "Wrong hreflang code for Fillipino"
### Describe the bug

Wrong hreflang code as per Google's web.dev

Correct code is `fil` as per [List of ISO 639-1 codes](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes)

### To reproduce

1. Go to https://web.dev
2. Run a test for `https://ethereum.org/en/`
3. Check SEO score

### Expected behavior

hreflang="fil"

### Screenshots

<img width="949" alt="image" src="https://user-images.gith

[2022-09-25 20:36] ndrozd opened #8018 "Web.dev: Links do not have a discernible name"
### Describe the bug

Link to homepage doesn't have name in it

### To reproduce

Run the web.dev test on ethereum.org

### Expected behavior

Accessibility score: 100

### Screenshots

<img width="1049" alt="image" src="https://user-images.githubusercontent.com/6696080/192164486-3b64db3b-99ae-461a-a198-867acf209019.png">

### Desktop (please complete the following information)

_No response_

###

[2022-09-25 21:54] ndrozd commented on #8018
Fixed in #8020

[2022-09-25 21:54] ndrozd commented on #8016
Fixed in #8019

[2022-09-25 23:56] ai-slave opened #8021 "Missing margins on developers page"
### Describe the bug

Button is too close to the paragraph

### To reproduce

1. Go to https://ethereum.org/en/developers/
2. Scroll to "How would you like to get started?"

### Expected behavior

margin between button and paragraph

### Screenshots

<img width="729" alt="image" src="https://user-images.githubusercontent.com/6696080/192171261-fce63105-8e44-498b-9fd6-726298d9ab26.png">

### Desktop

[2022-09-26 07:54] konopkja opened #8024 "Feature request: See Authors/contributors of every page"
### Is your feature request related to a problem? Please describe.

As a user I want to see how many people have contributed to any page. This will give me more trust in the website as well as a contributor I will feel like my contribution has been recognized.

### Describe the solution you'd like

Add a counter with total number of contributors to markdown pages (example: [dev docs](https://ether

[2022-09-26 07:56] konopkja commented on #8024
This feature has been requested via user feedback widget on ethereum.org

[2022-09-26 08:20] konopkja opened #8025 "Feature request: PDF version of the website / articles"
### Is your feature request related to a problem? Please describe.

An estimated 37% of the world's population – or 2.9 billion people – do not have access to the internet. Therefore, the number of people without continuous access to the internet must be even higher. We know that a significant amount of the traffic to ethereum.org comes from developing countries like India (53% population without

[2022-09-26 08:22] konopkja commented on #8025
This has been also requested by users via the feedback widget on ethereum.org.

[2022-09-26 08:39] konopkja opened #8026 "Feature request: add ETH assets in SVG"
### Is your feature request related to a problem? Please describe.

There are many reasons why someone might need our assets in SVG (especially the glyph logo section)

Current issues:

1. Our website does not provide svg format on many of the brand assets
2. If there is SVG version on the website, there is no download button

### Describe the solution you'd like

1. provide an option to download

[2022-09-26 08:39] konopkja commented on #8026
This has been requested via the feedback widget on ethereum.org multiple times

[2022-09-26 09:05] #8018 closed

[2022-09-26 09:08] #8016 closed

[2022-09-26 09:41] #8010 closed

[2022-09-26 10:27] minimalsm commented on #8026
To add to this: IMO, I don't think we would want to add EPS format downloads, even if we had the files. It's an obscure file format that would distract more users from accomplishing their goals than it would help.

[2022-09-26 10:33] minimalsm opened #8029 "Replace placeholder text with template text in bug issue template"
### Is your feature request related to a problem? Please describe.

Before we migrated our issues to [issue forms](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms), we had template text that you could edit to describe a bug. It has been replaced with placeholder text, that disappears when you type. (i.e. now I have to type

[2022-09-26 10:40] minimalsm opened #8030 "Visual regression in markdown tables"
### Describe the bug

The markdown table has visually regressed and is no longer displaying as intended.

- Lines that divide rows are missing
- Content isn't aligned correctly

You can [see how it displayed before in this preview](https://ethereumorgwebsitedev01-networkupgradescomponent.gtsb.io/en/nft) versus [how the markdown table displays now.](https://ethereum.org/en/nft/)

### To reproduce

[2022-09-26 10:47] minimalsm opened #8031 "Visual regression in markdown lists"
### Describe the bug

The lists are no longer displaying as intended.

- Spacing between list items is not correct

You can [see how they displayed before in this preview](https://ethereumorgwebsitedev01-networkupgradescomponent.gtsb.io/en/nft) versus [how they display now.](https://ethereum.org/en/nft/)

### To reproduce

1. Go to https://ethereum.org/en/nft/
2. Scroll down to [the NFT examples s

[2022-09-26 12:54] pettinarip commented on #8030
Good catch.

[These](https://github.com/ethereum/ethereum-org-website/blob/v4.11.1/src/styles/layout.css#L573) were the global styles that we had that weren't migrated to the chakra theme.

We should place them in the new place for global styles: https://github.com/ethereum/ethereum-org-website/blob/dev/src/%40chakra-ui/gatsby-plugin/styles.ts

----
However, these global styles should be only temp

[2022-09-26 14:37] lawlesx opened #8034 "Incorrect Line ordering in Gas and fees"
The ordering of the [line](https://github.com/ethereum/ethereum-org-website/blob/dev/src/content/developers/docs/gas/index.md#after-the-london-upgrade-post-london) could be better so that it will makes sense with the above example.
Currently the example is split in 2 parts and the title is breaking that example. i.e The position of title is not appropriate.

[2022-09-26 14:39] 0xkeivin commented on #7677
fix PR has been created here https://github.com/ethereum/ethereum-org-website/pull/7892 by another contributor 😃

[2022-09-26 15:12] pettinarip commented on #6374
Assigned @LuisUrrutia

[2022-09-26 15:13] pettinarip commented on #6374
Hi @shubham16598 I'm assigning just `TitleCardList` for now. Once we finish with that one I can assign the others 💪🏼 thanks!

[2022-09-26 16:48] Aksa12 commented on #8029
Can I work on this issue? I have submitted the PR above. Please let me know if any other changes are required? Thanks.

[2022-09-26 17:34] #7293 closed

[2022-09-26 17:55] LuisUrrutia commented on #6374
My PR are in review. Meanwhile, I'm going to ask for another component: `EventCard.tsx`

[2022-09-26 18:20] AidanPine commented on #8031
Hello, I would like to take on the responsibility for this issue if possible.

[2022-09-27 10:16] nloureiro opened #8044 "Safari does not load fav icon on some pages"
### Describe the bug

when I follow a link without going to the homepage on safari the favicon is missing.

If I navigate from the homepage it's ok.

### To reproduce

1. open safari desktop
2. https://ethereum.org/en/energy-consumption/#introduction
3. see if you have the favicon on the browser window

### Expected behavior

The fav icon should appear all the time.

### Screenshots

![Screen Shot

[2022-09-27 10:20] minimalsm commented on #8029
Thanks @Aksa12, closed in #8036

[2022-09-27 10:20] #8029 closed

[2022-09-27 10:24] Pro-Coder04 commented on #8031
@minimalsm could you help me to out to find the location where the source code for this file would be?

[2022-09-27 11:43] nloureiro opened #8048 "update the color for the buttons"
### Describe the bug

We had to make a small revision on how the colours were used in the buttons, and we updated the Design system.

link to the design system
https://www.figma.com/file/NrNxGjBL0Yl1PrNrOT8G2B/ethereum.org-Design-System?node-id=545%3A16075

It needs to be updated in the code.

### To reproduce

1. see the hover behaviour on the CTA buttons on ethereum.org

### Expected behavior

R

[2022-09-27 12:26] #8034 closed

[2022-09-27 12:53] pettinarip commented on #6374
Awesome, assigned!

[2022-09-27 13:22] Mustafa-Azad025 commented on #8048
hey @nloureiro ,
I am willing to contribute to this and will i have to change button.tsx only ?
and Please assign this task to me

[2022-09-27 13:29] pettinarip opened #8049 "Migrate `GitStars` component to Chakra UI"
This is part of our [Implement UI library](https://github.com/ethereum/ethereum-org-website/issues/6374) epic.

## Description

Migrate `src/components/GitStars.tsx` from `emotion` styled components to `chakra`.

This components is used in https://ethereum.org/en/developers/local-environment/
![image](https://user-images.githubusercontent.com/468158/192538878-a20965f7-2720-46cd-9f32-d9c9909cc469.p

[2022-09-27 13:30] pettinarip opened #8050 "ReleaseBanner.tsx @pettinarip"

[2022-09-27 13:32] pettinarip opened #8051 "Migrate `Slider` component to Chakra UI"
This is part of our [Implement UI library](https://github.com/ethereum/ethereum-org-website/issues/6374) epic.

## Description
Migrate `src/components/Slider.tsx` from `emotion` styled components to `chakra`.

This component is used in https://ethereum.org/en/what-is-ethereum/
![image](https://user-images.githubusercontent.com/468158/192540772-0f55bcff-4fb5-4b30-9420-70e69afb3d97.png)

## Addition

[2022-09-27 13:34] pettinarip opened #8052 "Migrate `TranslationBanner` component to Chakra UI"
This is part of our [Implement UI library](https://github.com/ethereum/ethereum-org-website/issues/6374) epic.

## Description
Migrate `src/components/TranslationBanner.tsx` from `emotion` styled components to `chakra`.

This component is used in any page that is not fully translated. For example, https://ethereum.org/es/layer-2/
![image](https://user-images.githubusercontent.com/468158/192541136-

[2022-09-27 16:50] simonletort opened #8054 "Wrong wiki link for Liquid Democracy in white paper"
### Describe the bug

ETH whitepaper [link for "Liquid Democracy"](https://github.com/ethereum/ethereum-org-website/blob/dev/src/content/whitepaper/index.md?plain=1#L318) directs to the incorrect Wikipedia page:
- current link: https://en.wikipedia.org/wiki/Delegative_democracy
- correct link: https://en.wikipedia.org/wiki/Liquid_democracy

### To reproduce

1. Go to 'https://ethereum.org/en/white

[2022-09-27 16:50] brandonmcconnell commented on #8044
@nloureiro This actually appears to work for me, running Safari v16.0 (17614.1.25.9.10, 17614).

[2022-09-27 18:42] lawlesx commented on #8051
I will start with this

[2022-09-27 18:43] lawlesx commented on #8051
I would like to work on this.

[2022-09-27 19:22] Abyscuit opened #8056 "Enkrypt Discord link is invalid"
### Describe the bug

The Enkrypt Discord link leads to an invalid invite.

* current link: https://discord.com/invite/W8TrqJXS
* correct link: https://discord.com/invite/Gz8vBneyKe

### To reproduce

1. Go to '[Pick a Wallet](https://ethereum.org/en/wallets/find-wallet/)'
2. Scroll down to 'Enkrypt'
3. Click on 'Discord Logo'
4. See invalid link error

### Expected behavior

The Discord link shou

[2022-09-27 21:37] mdewji-shakepay opened #8058 "Suggest an exchange"
### Exchange name

Shakepay

### Exchange description

Shakepay is a Canadian Exchange that supports Ethereum and Bitcoin. The are registered with FINTRAC in Canada. They also cover all gas fees for transactions to move ETH off platform.

### What geographical restrictions apply to this exchange?

Canada only

### Which currencies are accepted by this exchange?

CAD, BTC, ETH

### Do you have any

[2022-09-27 23:15] wackerow commented on #7409
🐼🐼🐼

[2022-09-27 23:15] #7409 closed

[2022-09-27 23:23] Phillipswilliams commented on #6439
I was so impatient to carry out the necessary research, but I really wanted to jump on the crypto trading and investment buzz.  Unfortunately for me, I invested 90,700 USD worth of bitcoin with a fraudulent company.  I was happy to watch my account grow to 340,575 USD within a couple of weeks.  But I didn't realize I was dealing with a scam company, until I tried to make an attempt to withdraw.  I

[2022-09-27 23:27] Michael7783 commented on #6439
MUST READ FOR ALL CRYPTO SCAM VICTIMS AND EVERYONE BATTLING WITH A CHEATING PARTNER

BESTCRYPTOHACKER (@) GMAIL, COM is the best tech expert you need to help you.

I was scammed of USD459,800 by this mining pool. I wanted to withdraw USD100,000 from my account. They asked for 5% tax to be paid to the Hong Kong Tax Bureau so I sent them USD22,990. But they came back saying since I am at the VIP sta

[2022-09-28 01:35] Michael7783 commented on #6439
You need the best recovery expert at BESTCRYPTOHACKER (at) GMAILC0M to rescue you from your crypto theft schemes. Lot of con artists have ventured into the crypto investment space where one tend to lose money on daily basis all with the intend and promise to earn huge profits. No one is bigger than these evil schemes cause this people are smart in their ways. They tend to provide contact agreement

[2022-09-28 10:35] nloureiro commented on #8048
Hey, Thank you for showing interest in this.
I assume it's only button.tsx but I'm not sure.
probably you just need to be sure the colors variables are set. Should be easy.

[2022-09-28 11:18] curiousyuvi commented on #8049
I would like to work on this issue, please assign it to me.

[2022-09-28 12:17] huaicxinhuaalexis commented on #6439
I almost lost about $225k of my inheritance funds to a self acclaimed broker I met through Telegram and promised me a 35% return on every of my investment including bonuses. I quickly invested because I was seeking financial freedom not knowing I was only trying to enrich someone else. I was denied withdrawals after I already invested demanding for more fees before I could take out my profit and m

[2022-09-28 13:00] nloureiro opened #8062 "align to the bottom the card content"
### Describe the bug

On the developers page, the content of the cards should alight to the bottom.

### To reproduce

1. got to https://ethereum.org/en/developers/
2. scroll down to the "How would you like to get started?" section
3. the interior of the third card should be align to the bottom

### Expected behavior

Align the buttons to the bottom, and the interior text should start at the same

[2022-09-28 14:24] Gancho002 commented on #6439
I saw on a blog, the great works of Hackmart and I had to drop a review here. I was able to get into my girlfriend's phone and I was able to access her Facebook, WhatsApp, iMessages, Texts and deleted pictures. I had experienced a lot in my relationship and tried everything to make her happy, unknown to me that she was having a secret affair with my best friend. Hackmart exposed all their activiti

[2022-09-28 16:24] davydog187 opened #8065 "Feature request - Include DeFiRate.com as a resource for DeFi information and data"
### Is your feature request related to a problem? Please describe.

https://ethereum.org should contain links to all the best resources for education on the web. https://defirate.com is a high-quality DeFi educational website that is currently not linked to.

### Describe the solution you'd like

Include DeFiRate as a resource on the website

### Describe alternatives you've considered

N/A

### A

[2022-09-28 16:24] davydog187 commented on #8065
PRs coming

[2022-09-28 17:25] ekaraman236 opened #8068 "dapp"

[2022-09-28 17:26] najeebkp commented on #8062
Hi, I would like to take care of this. can you please assign this to me? @nloureiro

[2022-09-29 00:44] wackerow commented on #2277
Calling this complete with the merging of our post-merge content. 🎉

[2022-09-29 00:44] #2277 closed

[2022-09-29 06:48] lawlesx commented on #8050
I would like to work on this

[2022-09-29 06:58] wenlanbo opened #8074 "Reward and Penalty Documenation outdated"
### Describe the bug

In Rewards {#rewards}

The base reward calculation is outdated.

### To reproduce

1. Go to (https://ethereum.org/en/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/#rewards)

### Expected behavior

After Altair fork
The base reward calculation should be:

base_reward = effective_balance * (base_reward_factor /  sqrt(sum(active_balance)))

### Screenshots

_No

[2022-09-29 08:11] nloureiro opened #8076 "code block have wrong font size"
### Describe the bug

When displaying code block, like code , pre , etc, the font is bigger than it's supposed to be.

This how we have it now:
`pre, code, kbd, samp {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,monospace;
    font-size: 1em;`

This is how it is supposed to be:
`pre, code, kbd, samp {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,monospace;
    font-size: 0.8em;

[2022-09-29 08:28] nloureiro commented on #8062
It's yours :) Thank you!

[2022-09-29 12:07] Julianna-Perry commented on #6439
For individuals who still don't take their online security seriously, it's a great warning. Someone once stole $50,000 from me (crypto). With the assistance of digitalassetrecoveryexpert @ gmail com, it took me three months and a lot of stress to eventually get it back, but it was a valuable lesson nonetheless. Since then, I've had to keep my online presence under control. I advise hiring them to

[2022-09-29 12:50] pettinarip opened #8083 "SSR - Hydration bugs"
### Describe the bug

We have different hydration mismatches across the site. We are server-side rendering something different than what the client-side is.

### To reproduce

1. On your local setup run `yarn start`
2. Visit http://localhost:8000/en/layer-2/
3. See hydration popup error

### Expected behavior

We don't have any hydration mismatches.

### Screenshots

![image](https://user-images.g

[2022-09-29 12:59] Nishant891 commented on #8048
Hey! This is my first time participating in hacktoberfest .
I have been working previously on buttons in CSS.
I would love to contribute.

[2022-09-29 13:26] mj5219054 opened #8085 "1"

[2022-09-29 14:44] #7904 closed

[2022-09-29 19:47] nmoreau opened #8095 "Content Bug - Broken link in Backend Page in developers/docs/apis/backend/"
### Describe the bug

This page https://ethereum.org/en/developers/docs/apis/javascript/ has a broken link to navigate to https://ethereum.org/en/developers/docs/apis/json-rpc/endpoints/

### To reproduce

1. Go to page https://ethereum.org/en/developers/docs/apis/javascript/
2. Click on "endpoint link"
3. Actual : 404
4. Expected : you should navigate to https://ethereum.org/en/developers/docs/ap

[2022-09-29 20:12] nmoreau opened #8098 "Suggest a developer tool - Coinbase Cloud Node"
### Dev tool name

Coinbase Cloud Node

### Dev tool description

Quickly create new nodes and expand your protocol coverage with access to native blockchain APIs and Advanced APIs.

### When did the dev tool go live?

21st Sept 2022

### Where do you think this page should be shown?

In this page
https://ethereum.org/en/developers/docs/apis/backend/

### Is the product open source?

No

### GitHu

[2022-09-29 21:16] Master7130 commented on #6374
Can I work on ProductList.tsx?

[2022-09-29 21:46] nmoreau commented on #8095
This issue is fixed in the following PR
https://github.com/ethereum/ethereum-org-website/pull/8100

[2022-09-29 22:04] nmoreau commented on #8098
This issue is fixed by https://github.com/ethereum/ethereum-org-website/pull/8101

[2022-09-29 22:14] nmoreau opened #8102 "Content Update - Rework on Backend API Page"
### Dev tool name

Proposal to reoganize the page

### Dev tool description

This page is very very confusing.
https://ethereum.org/en/developers/docs/apis/backend/

I suggest to reschuffle the page to make a clear distinction between Nodes and Libraries.

- Nodes
- - Either your run your node and connect your Dapp to that node. This can work in a local developement environnement, but can hardly s

[2022-09-30 05:29] Jackie-Berry commented on #6439
Binary options is more of a gamble if you ask me, especially when your broker decides to invest on your behalf. That’s how I lost all my investments to a scam company, they claimed they invested on my behalf, imagine! Anyway, long story short, I made research and got connected to a professional from a recovery firm do an investigation on these guys and I got my money recovered within days of my co

[2022-09-30 05:50] samajammin commented on #7653
I believe KaTeX is a fairly popular one. @nhsz may have insight, he implemented math/latex support on https://github.com/ethereum/cryptography-research-website

[2022-09-30 08:25] LoanLLC commented on #6439
Hello
We are a trade finance company that uses our own credit lines to facilitate the issuance of financial guarantees like BG, SBLC, DLC and more. If our services will be of help to you, let us know so we can guide you with our process.
Mobile | WhatsApp: +19893413179
Email:mohammedahsan877@gmail.com

[2022-09-30 08:28] Michael7783 commented on #6439
You need the best recovery expert at REMOTESPYTECH (at) GMAILC0M to rescue you from your crypto theft schemes. Lot of con artists have ventured into the crypto investment space where one tend to lose money on daily basis all with the intend and promise to earn huge profits. No one is bigger than these evil schemes cause this people are smart in their ways. They tend to provide contact agreement wi

[2022-09-30 08:34] patrickthrop commented on #6439
I decided to give a shot at trading cryptocurrencies like bitcoin, ETH and ripple as I was surfing online, a google ad of the false trading and investment company popped and click on the ad. In about 5 mins or less, I got a call from Ms. Alicia who walked me through the process of creating an account and then depositing a thousand dollars. From there, I deposited a total of sixteen thousand dollar

[2022-09-30 08:35] patrickthrop commented on #6439
We need to stop being fooled by all these brokers and account managers, they scammed me over $100,000 of my investment capital, they kept on requesting for extra funds before a withdrawal request can be accepted and processed, in the end, I lost all my money. All efforts to reach out to their customer support desk had declined, I found it very hard to move on. I was researching and find a broadcas

[2022-09-30 08:42] Julianna-Perry commented on #6439
Have you given up trying to get your money back from shady brokers?
I've got good news for you, recovering your money through digitalassetrecoveryexpert @ gmail com is 97 percent achievable. I had given up on ever making money with binary trading after losing over $176k to a phony Israeli broker until I discovered an outstanding recovery team that introduced me to Digitalassetrecovery team and hel

[2022-09-30 08:46] Julianna-Perry opened #8107 "Have you given up trying to get your money back from shady brokers?"
I've got good news for you, recovering your money through digitalassetrecoveryexpert @ gmail com is 97 percent achievable. I had given up on ever making money with binary trading after losing over $176k to a phony Israeli broker until I discovered an outstanding recovery team that introduced me to Digitalassetrecovery team and helped me restore all lost money to cryptocurrency. Through their Mail

[2022-09-30 09:20] loatheb opened #8110 "Suggest a wallet: OneKey"
### Wallet name

OneKey

### Wallet description

OneKey Wallet helps users manage their assets for portfolios, including tokens, NFTs.

### Wallet logo

![Group 8](https://user-images.githubusercontent.com/18140164/193237678-e0037b84-75fa-4a8e-8af1-778def1c7235.svg)

### Background color for brand logo

#00B812

### URL to the project

https://github.com/OneKeyHQ/app-monorepo

### When did the wal

[2022-09-30 12:55] jcvernaleo opened #8116 "Bug report"
### Describe the bug

The links:
https://ethereum.org/en/developers/docs/apis/json-rpc/#net_peercount
and
https://ethereum.org/en/developers/docs/apis/json-rpc/#net_listening
are swapped.

### To reproduce

Go to the links above.

### Expected behavior

Links should point to the correct sections.

### Screenshots

_No response_

### Desktop (please complete the following information)

_No response

[2022-09-30 13:31] minimalsm commented on #8031
@AidanPine @Pro-Coder04

Hey folks. As noted [in this comment](https://github.com/ethereum/ethereum-org-website/issues/8030#issuecomment-1257998371), it looks like this was caused by us not pulling over some global styles in our migration to emotion/Chakra from styled-components.

@pettinarip are you working on this already, or is it something we can allocate?

[2022-09-30 16:50] NoireBlanc commented on #8031
@minimalsm I've already done work moving over the global list item styles, and it seems to have fixed the visual regression issue. However, in the expected look of the webpage you've linked, the first list featured on the nft page does not have the same list item spacing as the rest of the page. Is this expected, or is a consistent spacing for all lists with no exceptions preferred?

[2022-09-30 18:49] #8056 closed

[2022-09-30 22:48] Makarell0147 commented on #6439
Don't allow your spouse to keep on cheating on you, reach out to Hackmart. My husband had been having a secret affair at work and would always come home late using work pressure as an excuse. I knew something wasn't right as he kept so clingy to his phone, always making calls at weird hours and kept on changing his passcode too frequent. I needed to be sure of the situation of things and in about

[2022-10-01 06:14] amit-ksh commented on #8076
I like to work on this, can you assign this to me?

[2022-10-01 07:15] VaibhavArora19 commented on #8076
Can I take this up?

[2022-10-01 13:37] ryankav opened #8127 "Eth R&D discord link invalid"
### Describe the bug

The discord invite on https://ethereum.org/en/community/research/ appears to be no longer valid

### To reproduce

1) Try to use the discord invite to `eth R&D`: https://discord.gg/n7JxAeRu
2) see that invite has expired or is no longer valid

### Expected behavior

The invite allows you to join the channel

### Screenshots

![Screenshot from 2022-10-01 14-35-32](https://user

[2022-10-01 13:43] Michael7783 commented on #6439
You need the best recovery expert at REMOTESPYTECH (at) GMAILC0M to rescue you from your crypto theft schemes. Lot of con artists have ventured into the crypto investment space where one tend to lose money on daily basis all with the intend and promise to earn huge profits. No one is bigger than these evil schemes cause this people are smart in their ways. They tend to provide contact agreement wi

[2022-10-01 13:45] patrickthrop commented on #6439
Many binary operations are rippers. I invested about $320,000 then i decided to withdraw after several week but the withdrawal wasn’t successful, then I tried to contact the binary operation email and phone number, I didn’t get any response from them that was when everything started looking weird. Some weeks later I got a mail from them insisting I should invest more money if I want to withdraw my

[2022-10-01 13:46] Michael7783 commented on #6439
You need the best recovery expert at REMOTESPYTECH (at) GMAILC0M to rescue you from your crypto theft schemes. Lot of con artists have ventured into the crypto investment space where one tend to lose money on daily basis all with the intend and promise to earn huge profits. No one is bigger than these evil schemes cause this people are smart in their ways. They tend to provide contact agreement wi

[2022-10-01 13:47] patrickthrop commented on #6439
Many binary operations are rippers. I invested about $320,000 then i decided to withdraw after several week but the withdrawal wasn’t successful, then I tried to contact the binary operation email and phone number, I didn’t get any response from them that was when everything started looking weird. Some weeks later I got a mail from them insisting I should invest more money if I want to withdraw my

[2022-10-01 13:51] Michael7783 commented on #6439
I’m recommending the most secure and reliable crypto recovery service that can help you, it was very beneficial for me when I lost access to my wallet around May this year, the wallet had my investment of 135,000 USD in BTC and ETH , In my research for a solution, I read reviews on Investopedia about Mr Romero and REMOTESPYTECH @gmail. Com can do with easy RECOVERY and he specializes in bitcoin wa

[2022-10-01 13:51] Michael7783 commented on #6439
I’m recommending the most secure and reliable crypto recovery service that can help you, it was very beneficial for me when I lost access to my wallet around May this year, the wallet had my investment of 135,000 USD in BTC and ETH , In my research for a solution, I read reviews on Investopedia about Mr Romero and REMOTESPYTECH @gmail. Com can do with easy RECOVERY and he specializes in bitcoin wa

[2022-10-01 13:51] patrickthrop commented on #6439
Many binary operations are rippers. I invested about $320,000 then i decided to withdraw after several week but the withdrawal wasn’t successful, then I tried to contact the binary operation email and phone number, I didn’t get any response from them that was when everything started looking weird. Some weeks later I got a mail from them insisting I should invest more money if I want to withdraw my

[2022-10-01 20:02] AlexisM123 commented on #6439
BESTCRYPTOHACKER  (@) GMAILC0M is truly the best tech pro to help you recover your stolen funds and monitor your suspected cheating partner’s devices. You might have already be scammed by an imposter who you fell in love with, or an unregulated crypto broker. People that fall for such frauds don't always consider the fact that they can get assistance for this. They think that people will laugh at

[2022-10-02 01:27] Biancca1972 commented on #6439
I would like to take this opportunity to say that i'm delighted with their cloning service, delivery and features. Very fast and reliable, Plus a personalized thank you message from the owner impressed me so much. Brilliant business, I'll come again. Www. hackmart.org

[2022-10-02 05:48] 0x7a68 opened #8134 "Invalid link for OpenZeppelin proxy patterns in smart contract doc"
### Describe the bug

'Link for [More on proxy patterns](https://ethereum.org/enblog.openzeppelin.com/proxy-patterns/)' in ethereum stack doc directs to a missing page

### To reproduce

1. Go to https://ethereum.org/en/developers/docs/smart-contracts/upgrading/#proxy-patterns
2. Click on '[More on proxy patterns](https://ethereum.org/enblog.openzeppelin.com/proxy-patterns/)'
3. See error: https:/

[2022-10-02 06:51] julian-st commented on #8134
I try to fix this

[2022-10-02 07:14] julian-st commented on #8074
do you have a source for that? Because if I look here https://benjaminion.xyz/eth2-annotated-spec/phase0/beacon-chain/ for get_base_reward the base_rewards_per_epoch is still in there

[2022-10-02 07:48] julian-st commented on #7908
I can't actually find the example for zk-rollup and I would suggest to leave it with ZK-rollup

[2022-10-02 08:07] #7206 closed

[2022-10-02 08:08] #7205 closed

[2022-10-02 13:44] wenbo-alkimiya commented on #8074
This is the source for this change

https://github.com/ethereum/consensus-specs/blob/4370f30b99142d92bf676f0ee6a0aa74f688f891/specs/altair/beacon-chain.md#get_base_reward

[2022-10-02 16:56] pettinarip commented on #8031
Thanks folks for the help with this. We are trying to fix it under #8139 by just using Chakra components.

[2022-10-02 18:03] bizzyvinci opened #8141 "Wrong merge date on upgrade FAQ"
### Describe the bug

When will the upgrades ship? is one of the FAQ on upgrades page and it states:

But the merge has occurred on September 15, 2022

### To reproduce

1. Go to [upgrades page](https://ethereum.org/en/upgrades/)
2. Scroll down to 'Frequently asked questions'
3. Click on 'More' for 'When will the upgrades ship?'
4. See error

### Expected behavior

You'll see the outdated informat

[2022-10-02 20:58] jossip001 commented on #6439
I wish every business operated with the transparency, integrity, and trust like Wizard James Services. I felt in safe hands the entire time, the communication was impeccable, simple  and their fee is very reasonable and you can trust that they aren't ripping you off and running away with your tokens. Don't hesitate if you're reading this, it was worth it. He recovered the password and I was able t

[2022-10-02 21:00] bizzyvinci opened #8143 "L2BEAT api is not working"
### Describe the bug

L2BEAT api is used to get L2 TVL but it raises error 500.

### To reproduce

1. Go to [layer-2 page](https://ethereum.org/en/layer-2/)
2. Scroll down a bit to where L2 TVL and ETH transfer fee are displayed
3. See error "Error, please refresh."
4. Open developer console and you will see the error is because of 500 status code in response

### Expected behavior

The present TV

[2022-10-03 11:13] pettinarip commented on #7464
Issue fixed in #7477

[2022-10-03 11:13] #7464 closed

[2022-10-03 14:47] #8054 closed

[2022-10-03 14:49] minimalsm commented on #8134
Closed in #8135 and #8137 :-)

[2022-10-03 14:49] #8134 closed

[2022-10-03 16:13] corwintines commented on #8116
Closing as PR has been merged

[2022-10-03 16:13] #8116 closed

[2022-10-03 16:14] #8031 closed

[2022-10-03 18:47] corwintines commented on #7908
Closing as PR has been merged

[2022-10-03 18:47] #7908 closed

[2022-10-03 19:34] #7851 closed

[2022-10-03 20:58] minimalsm commented on #8143
@corwintines do we have a contact L2Beat that set us up with this endpoint?

[2022-10-03 20:59] #8127 closed

[2022-10-03 20:59] #8107 closed

[2022-10-03 23:36] LuisUrrutia commented on #6374
@pettinarip `EventCard.tsx` is also done. I will ask for `ExpandableCard.tsx` now, and a friend (@douglasmakey) wants to take `GhostCard.tsx`. For some weird reason, he can't comment on this issue, and we are already in touch with the GitHub Support team, but it would be great if you could assign that component to him.

[2022-10-04 04:46] Jadelee101 opened #8156 "Suggest an exchange: BitDATA Exchange"
### Exchange name

BitDATA Exchange

### Exchange description

BitDATA Exchange (BitEx) is a regulated Fiat-Crypto Trading platform for Crypto-Asset headquartered in Singapore. It provides consumers the easiest way to manage, trade, and truly own their digital assets. The mission of BitEx is to bring true security and compliance into the crypto industry, working closely with the central bank, the

[2022-10-04 08:26] minimalsm commented on #8156
Thanks @Jadelee101 👌

Democratic Republic of Congo, Iran, Democratic People's Republic of Korea, Libya, Somalia, South Sudan, Sudan, Yemen

Can you confirm that you must have a phone number from one of these countries to register a BitDATA account? I don't think we'd list BitDATA as an exchange to users in countries outside of these six countries.

<img width="250" alt="Screenshot 2022-10-04 at 09

[2022-10-04 08:36] minimalsm commented on #7458
Hey @develo-pera, sorry for the delay here. Thanks for raising and offering to help, I've assigned you to this issue.

I think adding content around this makes sense.

A few questions:

1. Where would you see this living on the page?
2. How much content do you see this being (I'd expect it to be a pretty short section, but feel free to push back if you disagree.)?
3. Are there any good examples of

[2022-10-04 08:44] minimalsm commented on #7504
Hey @arkoc, sorry for the delay here. I think adding Layerswap in some capacity makes sense, but it will require some design thinking.

However, I do think we should differentiate native exchange support via simple transfers from interacting with smart contracts/bridges. Any thoughts @corwintines?

[2022-10-04 08:47] issa-me-sush commented on #8141
hey! I would love to work on this, could I please be assigned this  issue?

[2022-10-04 08:48] minimalsm commented on #8141
Hey @issa-me-sush 👋 Sure, assigned! Thanks for offering to help :-)

LMK if you need any help here 🙂

[2022-10-04 08:55] #7905 closed

[2022-10-04 10:00] #8065 closed

[2022-10-04 10:17] Jadelee101 commented on #8156
Hi Joshua,

Thanks for following up with us!

We confirm that the countries listed in the previous email are country
phone numbers that can register a BitDATA Exchange account.

Kindly note that following the successful registration, a KYC/ ID
Authentication check has to be conducted in accordance with the financial
regulation of our local Monetary of Authority (MAS) in Singapore.

Hope this clari

[2022-10-04 11:14] andreilicious23 commented on #7483
@minimalsm can you please check this and push forward, if possible? Thank you!

[2022-10-04 12:49] pettinarip commented on #6374
@Master7130 @LuisUrrutia assigned! thanks

[2022-10-04 13:38] nikolovlazar commented on #6374
Hi @pettinarip! I'm Lazar, a Chakra UI core member. I noticed the Notion page with the research summary is available only to EF org members. Would love to have a chance to check out that page, if that's possible. Also, would you or anyone else from the foundation be interested in creating a case study for our website?

[2022-10-04 14:45] LucasMartinCalderon opened #8163 "Update existing glossary term"
### Checklist

- [X] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [X] This term/definition is not a product advertisement or contain other promotional content
- [X] This term/definition is directly relevant to Ethereum

### Term name

DAG

### Term definition

DAG stands for Directed Acyclic Graph. I

[2022-10-04 15:24] segunadebayo commented on #6374
Creator of Chakra UI here. Excited to see this migration effort!

Happy to help or provide more guidance here if needed. As @nikolovlazar mentioned, we're curious to learn about the decision points that led to choosing Chakra UI.

[2022-10-04 15:26] Khadeeejah commented on #6374
HI are there any components left to contribute to, i would love to contribute

[2022-10-04 15:37] LuisUrrutia commented on #8143
Already make a PR for this issue. But there is one thing to discuss: L2Beat response for TVL now has four main keys: `layers2s`, `combined`, `bridges` and `projects`, I assumed that we needed the data from `layers2s`, but maybe we need the data from `combined`. @minimalsm, can u confirm this?

[2022-10-04 16:38] samajammin commented on #6374
Hey @nikolovlazar @segunadebayo - glad & flattered to see your interest! Also thank you for creating/contributing to Chakra 😄

Not sure how our research doc became private. I've made it public again:
https://www.notion.so/efdn/Research-options-and-select-UI-library-babae0a343e24c92be0d6bd486e35c1c

Please let us know if you have any thoughts or questions!

[2022-10-04 16:47] corwintines opened #8167 "Scrolling issue on /wallets/find-wallet/"
### Describe the bug

When using the [find wallets](https://ethereum.org/en/wallets/find-wallet/) feature, there is an awkward experience with the scrolling, especially when you reach the bottom of the wallets list.

Uploading Screen Recording 2022-10-04 at 10.43.24 AM.mov…

### To reproduce

1. Go to [find wallets](https://ethereum.org/en/wallets/find-wallet/)
2. Scroll down to the bottom of the

[2022-10-04 16:48] corwintines commented on #8167
https://user-images.githubusercontent.com/15589226/193878936-73113f08-f0d7-4574-9ac8-206cc7c68cba.mov

[2022-10-04 16:54] BenedettiLucca opened #8168 "Wrong formating in run a node page"
### Describe the bug

The subtitles in the [requirements section](https://ethereum.org/en/developers/docs/nodes-and-clients/run-a-node/#requirements) are in a weird format.

### To reproduce

1. Go to 'https://ethereum.org/en/developers/docs/nodes-and-clients/run-a-node/'
2. Scroll down to 'Requirements'
3. See error

### Expected behavior

Subtitles should appear in correct format.

### Screensho

[2022-10-04 16:54] corwintines opened #8169 "Make /wallets/find-wallet/ keyboard accessible"
### Describe the bug

Currently, this page is not keyboard accessible. If a user lands on this page, they cannot interact with the personas, filters, or get more information for a wallet.

### To reproduce

1. Go to [find wallets](https://ethereum.org/en/wallets/find-wallet/)
2. Try to select a persona using only the keyboard
3. Try to select a filter using only the keyboard
4. Try to see more inf

[2022-10-04 16:58] ankitzm commented on #8026
Adding a downloadable SVG makes a lot of sense here.
Would love to take up this issue !!

[2022-10-04 17:04] corwintines opened #8170 "Tap outside wallet filter panel to close on mobile"
### Describe the bug

Right now a user can only tap on the X to close the filter panel. But, if a user taps outside the panel this should also close the filter panel

https://user-images.githubusercontent.com/15589226/193881389-d8eb608c-53b8-4e4f-9d44-ecedf5499e82.mov

### To reproduce

1. Go to [find wallets](https://ethereum.org/en/wallets/find-wallet/) on a mobile device, or in mobile view in t

[2022-10-04 17:19] Dhaiwat10 commented on #8052
Happy to take this on! @pettinarip

[2022-10-04 18:11] corwintines opened #8171 "Find wallet reset filters not resetting device toggle"
### Describe the bug

When resetting filters, all filters are reset, but the UI has a but where the device toggles stay selected

https://user-images.githubusercontent.com/15589226/193894175-480c4f40-f12a-4354-b31a-8a3bfb1e4ca1.mov

### To reproduce

1. Go to [find wallets](https://ethereum.org/en/wallets/find-wallet/)
2. Toggle a device filter and any other filters you want
3. Click reset filters

[2022-10-04 18:34] corwintines opened #8172 "Find wallet filter panel animation"
### Is your feature request related to a problem? Please describe.

On mobile, when a user opens the filter panel, right now it appears instantly. And when the user closes the panel disappears instantly. This makes for a weird user experience.

### Describe the solution you'd like

When a user opens the filter panel in mobile view, the filter panel should animate in from the left.

When a user clo

[2022-10-04 18:48] TylerAPfledderer commented on #6374
@pettinarip I'd like to start with the `OrderedList` please. This is exciting stuff! 😄

[2022-10-04 20:42] issa-me-sush commented on #8141
thank you for the opportunity, I think the text was modified partially  in one of the merges few hrs prior to me being assigned, but on the deployed official page it still isnt visible, have made some appropriate changes for the faq text and opened pull request, hope its fine, thank you

[2022-10-04 21:15] jb-0 commented on #6374
I'd be happy to help out, I could start with `TutorialTags.tsx`. I will wait to hear back before making a start.

Thanks

[2022-10-04 21:23] pettinarip commented on #6374
@nikolovlazar @segunadebayo thanks for the amazing work on ChakraUI and for reaching out!

Just saw also that you've added eth.org to the [Chakra showcase](https://chakra-ui.com/community/showcase). Thats amazing! 💪🏼

Same as @samajammin, curious to know how we could help out with the case study.

[2022-10-04 21:26] pettinarip commented on #6374
Cool! thanks for that @TylerAPfledderer! Was going to tell you that `OrderedList` should probably be completely replaced by the [native Chakra `OrderedList`](https://chakra-ui.com/docs/components/list/usage#ordered-list).

We can discuss this in more detail on your PR. I'm assigning those two files to you.

[2022-10-04 21:31] pettinarip commented on #6374
Hey @jb-0 thanks for helping us here. Just realized that `TutorialTags.tsx` depends on `Pill.tsx` (which is already assigned).

Would you like to work on a different file? or I could assign one to you

[2022-10-04 21:34] jb-0 commented on #6374
Sure, feel free to assign anything to me.

[2022-10-04 22:26] pettinarip commented on #6374
Cool, I've assigned `UpgradeStatus.tsx` to you @jb-0 ty!

[2022-10-05 01:10] crypto8893 opened #8174 "Update "What is Ethereum?" section of the website"
On [https://ethereum.org/en/what-is-ethereum/](url) if you go to the section "What about Ethereum's energy consumption?" it will refer to the merge in future tense.

This section needs to be updated now that the merge has happened.

![eth](https://user-images.githubusercontent.com/115051650/193957050-7685bbef-1733-4cbe-9d6f-0a6ef750b8cd.PNG)

You can update it to say:

"Since September of 2022, Et

[2022-10-05 01:16] crypto8893 commented on #8174
I can work on this.

[2022-10-05 01:19] crypto8893 commented on #8174
I can do this

[2022-10-05 03:38] Mahmadabid commented on #6374
I want to contribute

[2022-10-05 04:11] shariqanwar20 commented on #6374
Can I please have these
![Screenshot_20221005-090843_Chrome](https://user-images.githubusercontent.com/61353122/193979655-d0ab23ea-d59f-4f2b-bf31-56709dd08973.jpg)

[2022-10-05 04:21] Mahmadabid commented on #6374
statLoadingMessage.tsx
statErrorMessage.tsx
Can I have this?

[2022-10-05 04:23] Mahmadabid commented on #6374
Can I contribute?
RandomAppList.tsx
UpgradeBannerNotification.tsx

[2022-10-05 04:37] crypto8893 opened #8177 "Grammar Error on Layer 2"
If you go [here](https://ethereum.org/en/layer-2/) and go to "What is layer 2?" There is a sentence:

_A layer 2 is separate blockchain that extends Ethereum and inherits the security guarantees of Ethereum._

It should be:

_A layer 2 is **a** separate blockchain that extends Ethereum and inherits the security guarantees of Ethereum._

[2022-10-05 05:57] ankitzm commented on #8171
hey, would love to take up this issue and will be raising a PR soon !!

[2022-10-05 11:27] alenaign commented on #7777
@minimalsm Hello! Is there any update so that we can push it forward, please? Thank you.

[2022-10-05 12:05] AliTechGeek52 commented on #6374
@pettinarip Can I take RandomAppList.tsx ?

[2022-10-05 13:15] #8177 closed

[2022-10-05 14:04] pettinarip commented on #6374
@shariqanwar20 Thanks! I'm assigning `StablecoinBoxGrid.tsx` for now. Once we are done with that one I can assign the others.

[2022-10-05 14:07] pettinarip commented on #8049
Thanks @curiousyuvi!

[2022-10-05 14:07] pettinarip commented on #8050
Thanks @lawlesx!

[2022-10-05 14:08] pettinarip commented on #8052
Thanks @Dhaiwat10!

[2022-10-05 14:27] #8062 closed

[2022-10-05 18:18] TylerAPfledderer commented on #6374
@pettinarip I checked out `PageMetaData`. I don't believe it needs the conversion because it is using logic from Gatsby and reach router with no visual components.

Is there anything from Chakra you would like to see in addition to what's there?

[2022-10-05 18:31] curiousyuvi commented on #8049
Hey @pettinarip, I think [this](https://github.com/ethereum/ethereum-org-website/pull/8142) PR already fixes this issue, so I'll find some other issue to contribute.

[2022-10-05 18:39] curiousyuvi commented on #8172
I would like to work on this issue, please assign it to me.

[2022-10-05 19:02] Dhaiwat10 commented on #8052
Hi @pettinarip, I'm unfortunately having some trouble trying to run the project locally. This is what I'm seeing when I run `yarn start`:

[code]

After this, all my browser extensions crash too. Very weird. Am I missing something here? Thanks for your time

[2022-10-05 20:29] victorpatru commented on #6374
Hey @pettinarip. I would love to assigned to the `MergeInfographic.tsx` component!

[2022-10-05 20:56] marvintidd commented on #6439
Binary options is more of a ponzi scheme and gamble if you ask me, especially when your broker decides to invest on your behalf. That's how I lost all my funds to a scam company. They claimed they invested on my behalf, imagine!  Anyway, long story short, I did research and got connected to a professional from a recovery firm to do an investigation on these guys and I got my money back within days

[2022-10-05 20:57] patrickthrop commented on #6439
I caught my wife cheating on me with my friend. This literally broke my heart when I found out by hire DONALDCYBERLORD via gmail. com to remotely gain access to my wife’s phone so I could see her text messages and WhatsApp messages too.
 One fateful morning while my wife was getting ready for work, a text came in on her phone and I saw “hey babe, can’t wait to see you on friday 💕”.she had my frien

[2022-10-05 21:50] Giorgionocera commented on #8168
The same thing happens also on 'https://ethereum.org/en/developers/docs/oracles' and other pages.
I gave a look at the code and it seems to happen since it is not possible to convert the title of "h5" (5 hashes, `#####`)
`##### Minimum requirements {#minimum-requirements}` to link.
It seems that the acceptable value of heading for such a link type is up to "h4" (from 1 to 4 hashes).

What do you t

[2022-10-06 00:35] BenedettiLucca commented on #8168
Removing the link won't hurt, messing with the hierarchy seems like a bad course of action.

[2022-10-06 02:39] crypto8893 commented on #8174
https://github.com/ethereum/ethereum-org-website/pull/8186

[2022-10-06 07:42] tuanggo opened #8190 "Tuanggo"

[2022-10-06 10:05] shubham16598 commented on #6374
Hey, @pettinarip Can I get another component assigned? I have raised a PR for TitleCardList.tsx  https://github.com/ethereum/ethereum-org-website/pull/8067

[2022-10-06 11:33] CadeYu opened #8192 "Bug report"
### Describe the bug

the Chinese translation of evm is an error

not 以太空虚拟机
should be 以太坊虚拟机

### To reproduce

1. Go to 'https://ethereum.org/zh/developers/docs/ethereum-stack/'
2. See error

### Expected behavior

the Chinese translation error

### Screenshots

<img width="765" alt="image" src="https://user-images.githubusercontent.com/91041827/194302286-a996c3ef-7a79-42d2-ac0f-2423d50e58d4.png

[2022-10-06 11:55] Thomas772-nyben commented on #6536
Getting to find this team was a blessing to me during my divorce process. My ex took nearly everything from me including my kids, however with the help of this professional Investigators who got into his phone and provided me with conversations and deleted pictures, I was able to prove that he was toxic and abusive. I won the children custody.
WWW. HACKMART.ORG

[2022-10-06 12:16] therealharpaljadeja commented on #6374
hey, @pettinarip please assign me a file.

[2022-10-06 13:17] #7677 closed

[2022-10-06 14:26] pettinarip commented on #6374
Thanks for noting that @TylerAPfledderer. Yea, make sense to leave it as it is. You could work on `RollupProductDevDoc.tsx`, I'm assigning that one to you.

`RollupProductDevDoc.tsx` => @TylerAPfledderer
`MergeInfographic.tsx` => @victorpatru
`StatErrorMessage.tsx` => @shubham16598
`StatLoadingMessage.tsx` => @therealharpaljadeja

Thanks all of you guys!

[2022-10-06 14:50] curiousyuvi commented on #8172
I have opened a [PR](https://github.com/ethereum/ethereum-org-website/pull/8193) that resolves this issue.

[2022-10-06 16:59] TylerAPfledderer commented on #6374
Hey @psparacino ! 😄

I had commented previously that this component probably does not need migration, and @pettinarip responded above. :)

[2022-10-06 21:00] hsghn opened #8194 "hsghn"

[2022-10-06 21:00] hsghn commented on #8194
YES

[2022-10-07 03:17] Mustafa-Azad025 commented on #8048
Hey @nloureiro ,
Very Sorry To Say That I Am Unable To Do This Task As I Am Unable To Open The Theme File My Code Editor Is Not Respond 😥 To File So If You Can Give It To @Nishant891 Your Work Will Not Be Delayed.

[2022-10-07 13:00] euntake commented on #6439
Get in touch with Michael Murphy if you want to recover your scammed funds or get some legal counsel on how to go about it. I lost more than 4.09 BTC to an online investment scam. I was promised to be getting 25% of my investment every month and I fell for it, but [michealmurphy@repairman.com](mailto:michealmurphy@repairman.com) helped. He is the best and most legit team out there. I saw the revie

[2022-10-07 15:29] lemonmill opened #8202 "Suggest a game stored in blockchain"
**Product name:** Keywords
**Product url:** https://keywords.games
**Product description:** How does “Keywords” work: the host riddles the phrase, Stable Diffusion neural network generates an appropriate image. Then the host has to define 2 parameters, prize money, and the cost of an attempt. The prize money is an amount, which a player receives in case he guesses the phrase. The cost of an attemp

[2022-10-08 01:29] theekrystallee opened #8205 "Suggest a wallet"
### Wallet name

Trust Wallet

### Wallet description

The most trusted & secure crypto wallet.

### Wallet logo

![trust_platform](https://user-images.githubusercontent.com/56278409/194679842-efc8dcf2-cadc-458d-844e-c399a072cc89.png)

### Background color for brand logo

#0B65C6

### URL to the project

https://trustwallet.com/

### When did the wallet go live to users?

 November, 2017

### Does

[2022-10-08 01:33] #8205 closed

[2022-10-08 15:43] vickoza opened #8208 "Feature request"
### Is your feature request related to a problem? Please describe.

Add Ethereum for C++ developers

### Describe the solution you'd like

write a solution for writing smart contract using C++

### Describe alternatives you've considered

use EOS

### Additional context

_No response_

[2022-10-08 16:58] deshvin opened #8210 "Bug report - Dead Hyperlink"
### Describe the bug

On: https://ethereum.org/en/developers/docs/nodes-and-clients/run-a-node/#getting-the-client

The hyperlink for "consensus client" points to a dead link: https://ethereum.org/endevelopers/docs/nodes-and-clients/#consensus-clients

The correct URL is: https://ethereum.org/en/developers/docs/nodes-and-clients/#consensus-clients

A '/' is missing between "en" and "developers"

#

[2022-10-09 03:24] amit-ksh commented on #8210
Can I fix this issue??

[2022-10-09 08:40] abhinow01 commented on #8026
hey, I'm new to contributing to open source and I would love to work on this issue !

[2022-10-09 13:48] nautical opened #8213 "Add TECHFUND as new auditing service to smart contract testing page"
Adding TECHFUND to the list of auditing services in docs. TECHFUND ( https://techfund.jp ) is a security auditing firm based out of Tokyo, Japan.

PR Coming soon.

[2022-10-10 04:07] corwintines commented on #8171
Thanks @ankitzm! Will assign to you :)

[2022-10-10 04:08] corwintines commented on #8172
@curiousyuvi thanks! Ill try and get to reviewing this week :)

[2022-10-10 07:06] BalletGlobal commented on #7738
@minimalsm Hi Joshua, is there an update as to how we can push forth our wallet listing application? Let us know if there is anything else you may want to review from us. Thanks.

[2022-10-10 19:46] develo-pera commented on #7458
Hey @minimalsm, thanks for responding and assigning this to me. It will be my first ever contribution to EF :D

1. I think the best place would be under [What are NFTs used for?](https://ethereum.org/en/nft/#nft-use-cases) section under [Investments and collateral](https://ethereum.org/en/nft/#nfts-and-defi) subsection
2. I agree, just few paragraphs to explain it properly (Shouldn't be longer tha

[2022-10-10 20:19] meera commented on #1564
I will be happy to contribute!

[2022-10-10 21:59] #8076 closed

[2022-10-10 23:30] #8194 closed

[2022-10-10 23:49] corwintines commented on #8143
Hey @LuisUrrutia, your line of thinking was correct here. Thanks for looking into this!

@minimalsm I dont currently have one, can try and establish one. I think this came because they launched their new bridge risk framework, but would be nice to know about this stuff ahead of time.

[2022-10-11 02:16] Rahulbaran opened #8225 "Bug report"
### Describe the bug

In translated version of site in HINDI, there are many words which are not in HINDI and I want to change them but I couldn't find the docs of HINDI version.

### To reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

### Expected behavior

There are many words on the site which I expect to be in HINDI

### Screenshots

_No response_

### Desktop

[2022-10-11 02:38] #8225 closed

[2022-10-11 02:44] Rahulbaran commented on #8225
I found the instructions on site about where to translate (Crowdin)

[2022-10-11 04:46] michaelsproul opened #8227 "Description for Lighthouse has been replaced by snap sync description"
### Describe the bug

The description for Lighthouse is currently about Snap Sync. It looks like there was a valid description for Lighthouse that was accidentally replaced with some text about Snap Sync: https://ethereum.org/en/developers/docs/nodes-and-clients/#lighthouse

### To reproduce

1. Go to https://ethereum.org/en/developers/docs/nodes-and-clients/#lighthouse
2. See this text:

### Expe

[2022-10-11 05:26] amit-ksh commented on #8227
I would like to take this issue.

[2022-10-11 07:09] Hoanglam2 opened #8229 "## :white_check_mark: ethereum-org-website-dev deploy preview ready"
## :white_check_mark: ethereum-org-website-dev deploy preview ready
* [Deploy preview](https://ethereumorgwebsitedev01-jb0ethereumorgwebsiterefactorm.gtsb.io)
* [Build logs](https://gatsbyjs.com/dashboard/5e02f963-3fe5-4e37-a1e7-ac05f7753a86/sites/dc7c4340-a8e9-44ed-b7be-883c70d2f02d/builds/6c39a5e8-7580-4a0c-9a56-a169d756c2cc/details) · **22m** build time

_Originally posted by @gatsby-cloud[bot]

[2022-10-11 08:22] nschaferx commented on #4916
Yes you may, I was told by the lead to let contributors edit.

On Sun, May 15, 2022 at 3:36 AM Mirror.Tang ***@***.***>
wrote:

[2022-10-11 08:24] MKEAktionariat commented on #6934
Hi Joshua,

Thanks for the message. Yes, exactly - if possible, we would like to be
listed in the category "finance".

Freundliche Grüsse / Kind regards

--

Michael Kenneally

Strategic Partnerships Manager

Aktionariat AG

CHE-453.438.437

Mobile: +41 79 526 95 08

Email: ***@***.***

Web: https://aktionariat.com <http://aktionariat.com/>

<https://t.sidekickopen06-eu1.com/s3t/c/5/f18dQhb0S7kC8f

[2022-10-11 10:24] Hoanglam2 opened #8231 "## :white_check_mark: ethereum-org-website-dev deploy preview ready"
## :white_check_mark: ethereum-org-website-dev deploy preview ready
* [Deploy preview](https://ethereumorgwebsitedev01-miohtamaethereumorgwebsit10755.gtsb.io)
* [Build logs](https://gatsbyjs.com/dashboard/5e02f963-3fe5-4e37-a1e7-ac05f7753a86/sites/dc7c4340-a8e9-44ed-b7be-883c70d2f02d/builds/e23cd3d2-3d6d-4148-9053-a67ae6908dff/details) · **45m** build time

_Originally posted by @gatsby-cloud[bot]

[2022-10-11 10:33] Hoanglam2 opened #8232 "## :white_check_mark: ethereum-org-website-dev deploy preview ready"
## :white_check_mark: ethereum-org-website-dev deploy preview ready
* [Deploy preview](https://ethereumorgwebsitedev01-miohtamaethereumorgwebsit10755.gtsb.io)
* [Build logs](https://gatsbyjs.com/dashboard/5e02f963-3fe5-4e37-a1e7-ac05f7753a86/sites/dc7c4340-a8e9-44ed-b7be-883c70d2f02d/builds/e23cd3d2-3d6d-4148-9053-a67ae6908dff/details) · **45m** build time

_Originally posted by @gatsby-cloud[bot]

[2022-10-11 14:07] GregoireSkillZ commented on #6447
October 2022

Bulletin

New partnership live

ETH staking

live on Ledger

powered by Kiln

We are thrilled to officially announce our partnership with Ledger Enterprise powering trustless staking on Ethereum.

Thanks to Kiln seamless On-Chain staking, Ledger Enterprise customers can now:

-

stake with a simple transfer

-

start getting rewards

-

while keeping custody of their funds!

Kiln’s u

[2022-10-11 15:52] Aksa12 commented on #8171
@ankitzm are you working on this issue or can I take it up?

[2022-10-11 17:04] ankitzm commented on #8171
Yes working on it currently, will be raising a PR soon !!

[2022-10-11 17:23] Enzonana101 commented on #6439
Have you observed him deleting some messages or putting the password on his phone so as you don't have access to it? Has he been experiencing very irritating mood swings every time he comes home? If so, then it's an indication that he must be doing something that is potentially dangerous or he might be cheating on you. If you want to free yourself from doubt without causing chaos in the house, the

[2022-10-12 04:18] #8231 closed

[2022-10-12 04:18] #8232 closed

[2022-10-12 04:18] #8229 closed

[2022-10-12 04:19] corwintines commented on #8208
Im not sure what this issue is asking. Please reopen a new one with more detail.

[2022-10-12 04:19] #8208 closed

[2022-10-12 09:22] Nuts444 opened #8235 "Update FoxWallet "Buy with credit card" feature"
FoxWallet has introduced a "Buy with credit card" feature, and we'd like it to be updated on ethereum.org website.

![IMG_7144](https://user-images.githubusercontent.com/102349584/195304063-fa6e7488-6873-4c03-b12e-861c05904ab7.jpg)
![IMG_7145](https://user-images.githubusercontent.com/102349584/195304069-f19a538d-322a-4e95-997e-9d9bdca98795.jpg)
![IMG_7146](https://user-images.githubusercontent.co

[2022-10-12 09:53] giftade opened #8237 "Add a "back to top" button"
some web pages on the Ethereum site are long, so adding this would make it easier to go back to the start.

[2022-10-12 11:18] Eliang109 opened #8238 "Ethereum-lids"

[2022-10-12 15:06] Hoanglam2 opened #8239 "Y"

[2022-10-12 20:43] timi-codes commented on #6374
@pettinarip I'm happy to work any other components that comes up.

[2022-10-12 22:23] PatrickAlphaC opened #8241 "Stack Exchange ETH & Peeranha"
### Dev tool name

Stack Exchange ETH & Peeranha

### Dev tool description

Q&A forums for web3

### When did the dev tool go live?

A few years ago

### Where do you think this page should be shown?

Online communities

### Is the product open source?

Yes

### GitHub URL

https://github.com/peeranha

### Documentation URL

https://github.com/peeranha

### Additional context

_No response_

[2022-10-13 00:52] #8239 closed

[2022-10-13 01:19] corwintines commented on #7546
Hey @JosefJ, sorry taking so long on this. Created a PR now: https://github.com/ethereum/ethereum-org-website/pull/8245

[2022-10-13 07:37] Rickymgilliam2042 commented on #6439
You need the best recovery expert at DONALDCYBERLORD (at) GMAILC0M to rescue you from your crypto theft schemes. Lot of con artists have ventured into the crypto investment space where one tend to lose money on daily basis all with the intend and promise to earn huge profits. No one is bigger than these evil schemes cause this people are smart in their ways. They tend to provide contact agreement

[2022-10-14 02:12] Mark093 commented on #6439
Scammers and bogus cryptocurrency investing platforms must be avoided at all costs. They wouldn't let me take even the 47,000 USD I had deposited in my account, which did not include a 9000 USD screen profit. Even after finishing the 18 procedures, customer care will never get back to you regarding this type of problem. False hopes and clever strategies are used to keep you making additional depos

[2022-10-14 14:11] corwintines commented on #8170
Hey @Aksa12!

Thanks for taking this on. If possible would like any area outside of the filter panel to close the panel.

Ill assign this to you.

[2022-10-14 16:42] ryancreatescopy opened #8253 "Add tokengating use case to NFT page"
### Is your feature request related to a problem? Please describe.

The NFT page is lacking a use case that is growing in popularity: tokengating. It's a different way of thinking about NFTs and is a good way of showing off some of the superpowers of NFTs and Ethereum,

### Describe the solution you'd like

Section added under the NFT use case that provides a quick description of tokengating and s

[2022-10-14 18:05] Abu2rkyi opened #8255 "## :white_check_mark: ethereum-org-website-dev deploy preview ready"
## :white_check_mark: ethereum-org-website-dev deploy preview ready
* [Deploy preview](https://ethereumorgwebsitedev01-rctokengating.gtsb.io)
* [Build logs](https://gatsbyjs.com/dashboard/5e02f963-3fe5-4e37-a1e7-ac05f7753a86/sites/dc7c4340-a8e9-44ed-b7be-883c70d2f02d/builds/661d40ab-6128-4ca9-9cde-d75b8fafe1b6/details) · **33m** build time

_Originally posted by @gatsby-cloud[bot] in https://githu

[2022-10-14 18:48] Madisonjaxon commented on #6439
I just want to share my experience with you all out there. Internet scammers drained and ruined me financially because I tried to invest my money in BTC. I was a victim of a bitcoin investment scam, a scheme where you have to save any amount of money stored in your BTC wallet. The idea sounded great, but unfortunately, I fell into the wrong hands. I invested $5,000 every 2 weeks as part of my savi

[2022-10-14 18:59] AlexisM123 commented on #6439
BESTCRYPTOHACKER (@) GMAILC0M is truly the best tech pro to help you recover your stolen funds and monitor your suspected cheating partner’s devices. You might have already be scammed by an imposter who you fell in love with, or an unregulated crypto broker. People that fall for such frauds don't always consider the fact that they can get assistance for this. They think that people will laugh at t

[2022-10-14 20:00] Aksa12 commented on #8170
@corwintines done in the linked PR.

[2022-10-15 02:54] corwintines commented on #8255
Please stop @Abu2rkyi

[2022-10-15 02:54] #8255 closed

[2022-10-15 04:19] ameeetgaikwad commented on #6374
hello, can you assign me some beginner level task? @pettinarip

[2022-10-15 04:29] #8170 closed

[2022-10-15 11:46] arjuna321 opened #8262 "Cozmik"
"The harmony of the world is made manifest in Form and Number, and the heart and soul and all the poetry of Natural Philosophy are embodied in the concept of mathematical beauty."

[2022-10-15 15:52] Khadeeejah commented on #6374
Hello @pettinarip  kindly assign a task to me thanks

[2022-10-15 18:39] lawlesx commented on #8051
@pettinarip Created a PR resolving this
Sorry for the delay, last week was hectic.

[2022-10-15 20:10] Marcelixoo commented on #6374
It seems that everything was already taken, so I'm happy to support any peer with work in progress or maybe take on further work on unlisted components.

[2022-10-15 21:24] AliTechGeek52 commented on #6374
Hi @Marcelixoo you can help me in work ( I am working on this component RandomAppList yet ).

[2022-10-16 03:56] hoanglamcoin opened #8267 "Sao trên eth tôi có tiền trong các token nhưng vô app MetaMask lại ko hiện lên số tiền trong ví mà nó lại ghi là “ xác minh trên 9 nguồn , luôn xác minh địa chỉ Token trên Etherscan? Có hai hiểu vấn đề giúp tôi với ah!"
![image](https://user-images.githubusercontent.com/114911937/196017176-03e7466b-d317-428b-b70e-021fb970e09f.png)

[2022-10-16 04:47] benlazzero opened #8268 "Upgrades page ButtonLink reads 'Head toethresear.ch'"
### Describe the bug

Hi!!

Bug: The /upgrades page button "head to ethresear.ch" is currently "head toethresear.ch". I noticed on English or /en/upgrades however it is the same for each language.

Cause: The Intl file page-upgrades-index has a key of "page-upgrades-head-to" with the value "Head to". This value is being translated and the url(ethresear.ch) is written in the pages/upgrades/index.ts

[2022-10-16 09:41] alonmuroch commented on #7459
@minimalsm @wackerow any action items?

[2022-10-17 03:41] #8267 closed

[2022-10-17 03:41] #8262 closed

[2022-10-17 03:41] #8143 closed

[2022-10-17 10:14] JessicaPete commented on #6439
I am so happy to introduce you to (Crypto Retrieval) who swift to quick action when I reported my scammed money from Bitcoins investment to them as soon I followed their procedures, I was scammed the sum of ($29,530) from Bitcoins investment and (Crypto Retrieval) helped me recover my money back in 24 hours, I recommend you all to (Crypto Retrieval) at their support mail, cryptoretrievalexpert@gma

[2022-10-17 10:36] Marcelixoo commented on #6374
Hey @AliTechGeek52, how do you want to collaborate on that? Do you already have a fork that I can start working on? Or do you prefer to work on it together, i.e. via Discord?

[2022-10-17 13:27] Mark093 commented on #6439
I need to share this in here so you won’t lose your money cheaply to scam brokers. I invested about $45,000 on a binary option platform then I decided to withdraw after several weeks but the withdrawal wasn’t successful, then I tried to contact the platform via email and phone number, I didn’t get a response from them that was when everything started looking weird. Some weeks later I got a mail fr

[2022-10-17 13:43] hoanglamcoin opened #8277 "Migrated Slider.tsx component to Chakra UI"
## Description
Migrated `Slider.tsx` component to Chakra UI

### Screenshots
**Dark Mode**
Before
<img width="891" alt="Screenshot 2022-10-16 at 12 02 45 AM" src="https://user-images.githubusercontent.com/52166437/196002706-5f52d743-7880-44c1-b079-2adfb0f4ce2e.png">
After
<img width="883" alt="Screenshot 2022-10-16 at 12 02 34 AM" src="https://user-images.githubusercontent.com/52166437/196002713-e

[2022-10-17 16:56] AlanGit940 commented on #6439
I lost my money to an online scammer last month through crypto currency Bitcoin transactions, I tried all I could to get the money back at a point i came across a United States crypto recovery expert agency. Visit: ( Hacknetcyberprofessor10 (@) GMAILCOM ) an agency helping a lot of people in getting back their funds, I got in contact with them and I provided all information they needed for the rec

[2022-10-17 16:56] AlanGit940 commented on #6439
I lost my money to an online scammer last month through crypto currency Bitcoin transactions, I tried all I could to get the money back at a point i came across a United States crypto recovery expert agency. Visit: ( Hacknetcyberprofessor10 (@) GMAILCOM ) an agency helping a lot of people in getting back their funds, I got in contact with them and I provided all information they needed for the rec

[2022-10-17 18:13] alex-miller-0 opened #8279 "Suggest a wallet: GridPlus Lattice1"
### Wallet name

GridPlus Lattice1

### Wallet description

The Lattice1 enables management of cryptoassets with a simple, secure interface. It features a dedicated secure enclave, anti-tamper features, secure screen, and human readable smart contract markup so you can always be certain of what you are signing. Pair your Lattice1 with MetaMask, Frame, MyCrypto, etc. to access your crypto from anyw

[2022-10-17 21:59] Charly-1944 opened #8281 "Information en Bolsa"

[2022-10-17 22:00] Christy930 commented on #6439
I owe ADRIAN LAMO a huge debt of gratitude for helping me return the 750,000 GBP that I had been conned out of by shady binary brokers within 72 hours. AVOID BEING SCAMMED BY FAKE HACKERS AND BINARY BROKERS AND HIRE A REPUTABLE HACKING GROUP WHO ARE PROFESSIONAL AND REAL. Nobody else has access to Adrian's backup master key, which he obtained as a proficient private hacker. It was like a miracle w

[2022-10-17 22:03] Charly-1944 commented on #8281
https://www.facebook.com/groups/779669693181361/?ref=share_group_link

[2022-10-17 23:56] therevealer commented on #7425
Wow this really cool

[2022-10-18 09:25] #8227 closed

[2022-10-18 09:25] jmcook1186 commented on #8227
thanks for fixing this!

[2022-10-18 09:40] jmcook1186 opened #8285 "Epic: Post-merge gaps"
This epic is part of our Q4 2022 roadmap: #8399

### Description

This issue is for tracking the ethereum.org post-merge cleanup. Follows on from #7075

Tasks will be ticked off when their PRs are merged.

**New pages**
- [x] Node architecture #8449
- [x] Block proposals #8446
- [x] PoS attack and defense   #8286
- [x] PoS FAQs #8557
- [x] PoS vs. PoW #8642
- [x] update governance page - kicked to

[2022-10-18 15:46] wackerow commented on #7459
Hey @alonmuroch! Thanks for pinging on this. With our Q4 planning we've been discussing prioritizing circling back to the staking pages and I'm advocating that we include spending some time to build out a `/staking/dvt` subpage for the site.

Given that most (all?) DVT solutions are currently only on testnet, I think the format of this page should be a bit different than the existing subpages (`/s

[2022-10-18 16:47] corwintines opened #8288 "Add information on how withdrawals will work"
### Is your feature request related to a problem? Please describe.

There was a recent discussion in [Discord](https://discord.com/channels/714888181740339261/776139785550168084/1031726901221412864) around how withdrawals will work when implemented, and the lack of information around this. Too clear this up for the community, we should add some more information to clarify how withdrawals will work

[2022-10-18 16:51] samajammin commented on #7075
Hey @jmcook1186 @wackerow - is this complete? Can this be closed out?

[2022-10-18 16:54] samajammin commented on #7873
Hey @veridelisi - looks like this is being addressed in #7921

[2022-10-18 16:55] samajammin commented on #7873
I tried to explain the issue description but let me know if you have any specific questions.

[2022-10-18 22:23] wackerow commented on #6374
Hey @pettinarip, noting that there seems to be a known bug with Chakra-UI when hovering over a `disabled` button

Existing issue with potential workaround patch: https://github.com/chakra-ui/chakra-ui/discussions/5211

We came across this while working on the Learning Quiz widget.
<img width="291" alt="image" src="https://user-images.githubusercontent.com/54227730/196556288-a3a17caf-7a02-47c4-aa3b

[2022-10-18 22:41] samajammin commented on #6536
@corwintines think we should close this out? I think if anyone wants to add any remaining wallets, they can create a dedicated issue with the wallet info:
https://github.com/ethereum/ethereum-org-website/issues/new?assignees=&labels=wallet+%3Apurse%3A&template=suggest_wallet.yaml&title=Suggest+a+wallet

[2022-10-18 22:45] samajammin commented on #7251
Unfortunately we didn't get to this epic in Q3.

Any thoughts on how to proceed?
- @corwintines could we create standalone content issues to cover the given topics? Not sure if we have any research we could include or page outlines that we could open to the community to contribute to? Maybe @emmanuel-awosika might be interested?
- @minimalsm otherwise maybe we loop this into content strategy work

[2022-10-18 23:13] #8049 closed

[2022-10-19 01:43] corwintines commented on #6536
Yes this is ready to close.

[2022-10-19 01:43] #6536 closed

[2022-10-19 04:56] Mark093 commented on #6439
I will suggest that we be even more cautious while dealing with digital assets (BTC/ETH) due to the high prevalence of binary option fraud. If you have previously fallen victim to a binary option scam, like I did, and want to get your money back, you need to hire a reputed recovery specialist and a highly skilled private investigator.
If that were the case, Adrian Lamo would be the greatest option

[2022-10-19 05:22] Christy930 commented on #6439
I'm willing to talk about my experience investing in bitcoin and losing money to fraudsters. However, you can get your stolen bitcoins back, so sure. I was taught that recovering bitcoin was impossible, therefore I never thought it was conceivable. But somewhere in April, I was duped into investing in a forex scheme that promised absurdly large profits, and I wound up losing close to $55,000.
I lo

[2022-10-19 07:55] ankitzm commented on #8171
Just made a PR with the required changes. #8291

[2022-10-19 09:19] amit-ksh commented on #8277
Can I work on this?

[2022-10-19 12:42] jmcook1186 opened #8292 "Epic: Energy consumption page"
This epic is part of our Q4 2022 roadmap: #8399

### Description

Overall aim is to deepen the research underlying the energy consumption page. Specific objectives:

- [x] literature search for additional references/numbers: contributor PR #8293 and my PR #8376
- [x] update text to ensure nuances and caveats are clear  #8376
- [x] look for more "primary" sources for quoted numbers  #8376
- [x] upd

[2022-10-19 13:10] pettinarip commented on #8052
@Dhaiwat10 sorry for the delay. Do you still have this issue?

Not sure about it. Can you just add these configs to your local `.env` file?
[code]

That will build a smaller version of the website. Perhaps that fix the issue. LMK

[2022-10-19 14:33] MyK134 commented on #6439
Getting back your lost assets can only be possible when you hire an expert with the best crypto recovery program and has been tested for over a decade in getting back stolen or lost digital financial assets and crypto who is Bestcryptohacker @ GMAILC0M. This professional was able to recover my stolen 157,000 USDT from a broker I met on the internet who deceived me to partake in a crypto investment

[2022-10-19 15:11] pettinarip opened #8295 "Chakra - incorrect disabled button styles when hovered"
### Describe the bug

[Related comment](https://github.com/ethereum/ethereum-org-website/issues/6374#issuecomment-1283076384)

Our disabled button styles are not working as expected when hovered. This seems to be a [known Chakra issue](https://github.com/chakra-ui/chakra-ui/discussions/5211).

### To reproduce

1. Hover over a disabled button
2. See that the hover styles are applied

### Expected

[2022-10-19 15:12] pettinarip commented on #6374
Thanks @wackerow will keep this in mind. I've created an issue to keep track of it #8295.

[2022-10-19 15:38] emmanuel-awosika commented on #7251
Yeah, I briefly discussed working on this w/ @corwintines. We were supposed to have a more detailed discussion about it at Devcon.

I've got a lot going at the moment with treatment and all, but this is something I could help with once things are settled. At least, I hope to be able to work on some of the pages before Q4 runs out.

[2022-10-19 15:58] amit-ksh commented on #8295
I'd like to work on this issue.

[2022-10-19 16:50] konopkja commented on #8026
Hi, @ankitzm was first, im assigning you this task. Still willing to contribute?

[2022-10-19 16:55] timbeiko opened #8297 "Altair Penalties Description Error"
### Describe the bug

h/t to @eliasimos @ariskk for flagging

---

On [this page](https://ethereum.org/en/developers/docs/consensus-mechanisms/pos/rewards-and-penalties/#penalties), we can read:

According to spec though it seems that there is no penalty for missing the head vote post-Altair

See:
* here: https://eth2book.info/bellatrix/part3/helper/accessors#def_get_flag_index_deltas
* here: (Alt

[2022-10-19 17:14] konopkja opened #8298 "Feature request: Modify feedback widget behavior"
### Is your feature request related to a problem? Please describe.

We want to modify the behavior of our feedback widget so its more prominent on desktop devices as right now we do not get enough desktop user feedback (most responses are coming from mobile devices).
<img width="216" alt="Screenshot 2022-10-19 at 12 10 55" src="https://user-images.githubusercontent.com/100724231/196758871-ee6976b9

[2022-10-19 17:23] pettinarip commented on #8295
Assigned @amit-ksh thanks!

[2022-10-19 17:25] abhinow01 commented on #8026
Yes, I will be more than happy to contribute

On Wed, 19 Oct 2022, 22:20 konopkja, ***@***.***> wrote:

[2022-10-19 17:29] ankitzm commented on #8026
hey @konopkja
I think, SVG asset of Ethereum can be added here - https://ethereum.org/en/assets/#brand
Do you have the SVG versions of the assets that you prefer adding here, would add them all.

[2022-10-19 17:38] marcellamalune commented on #8298
Hey there, I'd like to help with this! @konopkja @pettinarip

[2022-10-19 17:41] pettinarip commented on #8298
Assigned @marcellamalune thanks again!

[2022-10-19 22:08] Christy930 commented on #6439
You must first keep in mind that not all people who claim to be hackers are in fact genuine, and from what I have been told, this work is not easy or inexpensive. Before I met this nerdy guy, the finest hacker out there, ADRIAN LAMO, I had been a victim of phony ass hackers who stole from me over $5,000 in bits. As his name suggests, (Hack with adrian lamo @ gmail . com) is a true hacking god. I'm

[2022-10-19 23:05] 0xolishell opened #8299 "Getting Transaction History for an Ethereum Address"
Hi there,

I'd like to submit the below beginner tutorial. I think it's an important thing to know and wanted to add it. In full transparency, I'm from Alchemy :) I use Ethereum.org all the time, the content is so helpful!

https://docs.alchemy.com/docs/how-to-get-transaction-history-for-an-address-on-ethereum

Tutorial tags include: Alchemy, Ethers Js, SDK

[2022-10-20 04:24] ccs368435699 opened #8300 "art"

[2022-10-20 14:33] #8300 closed

[2022-10-20 14:49] konopkja commented on #8026
Correct, the assets should be on the asset page. We do not have SVG versions, where there is none.

[2022-10-20 15:46] Dhaiwat10 commented on #8052
@pettinarip yeah happy to work on this but I see that someone else has already put in a PR for this (#8284). Should I still work on this then?

[2022-10-20 16:01] ali-bahjati opened #8307 "Bug report - Wrong information in the tutorial page: Understanding the Yellow Paper's EVM Specifications"
### Describe the bug

In [the section 9.1: Basics](https://ethereum.org/en/developers/tutorials/yellow-paper-evm/#91-basics) the article mentions:

1. To the best of my knowledge it is wrong, stack vs memory vs storage are all three different things.

### To reproduce

Go to [the article](https://ethereum.org/en/developers/tutorials/yellow-paper-evm/#91-basics)

### Expected behavior

It should st

[2022-10-20 17:14] MichaelAkkerman opened #8309 "Suggest a wallet: Atomic Wallet"
### Wallet name

Atomic Wallet

### Wallet description

Decentralized multi-currency wallet with built-in exchange, staking, and buy crypto options.

### Wallet logo

![atomic_wallet_logo_white_vert_2 (3) 1 (1)](https://user-images.githubusercontent.com/44265428/198365928-8b91929a-a583-479e-a94f-5794e744602a.svg)

### Background color for brand logo

#FFFFFF

### URL to the project

https://atomic

[2022-10-20 17:35] ryandotsmith opened #8310 "Advanced / Networking Layer Suggests nodes use discv5"
### Describe the bug

Firstly, I'm not sure this is the right category to report this issues. It has to do with content not the technical implementation. Happy to post this elsewhere.

The docs [here](https://ethereum.org/en/developers/docs/networking-layer/#execution-discovery) indicate that discv5 is used to discover nodes on the ethereum network. However, nodes such as geth don't use discv5 as

[2022-10-20 17:36] ryandotsmith commented on #8310
I'd be happy to make these changes if / when we get to the bottom of this issue.

[2022-10-20 18:48] pettinarip commented on #8052
Uhmm ok, sorry about that @Dhaiwat10 not sure why @amit-ksh took this issue that was already assigned to you.

Well then, don't work on this please. Happy if you want to jump into that PR to review and share any feedback you might have.

[2022-10-20 22:48] pettinarip commented on #6374
Hey @TylerAPfledderer that is awesome! For sure, any input on the subject is always welcome. Feel free to review that PR and leave suggestions or open a new issue/PR to improve other things 💯

[2022-10-20 23:00] pettinarip commented on #8277
Sorry @amit-ksh there is already a PR open for this migration #8266

Closing as this issue is duplicated.

[2022-10-20 23:00] #8277 closed

[2022-10-21 00:29] TylerAPfledderer commented on #8295
Hey @pettinarip and @wackerow !

The PR is warranted here, but would like to share some thoughts about this topic, should this styling need to be addressed in the future. I had discussion with other Chakra collaborators on this to get other thoughts at this time.

The behavior with the `_hover` styling still being applied with the `_disabled` styling is expected in general CSS and not specific to

[2022-10-21 09:47] jmcook1186 commented on #8310
yes, you are right - the execution clients still use discv4 by default - but discv5 can be toggled on via CLI.
Thanks for poiting this out - please lmk if you want to raise a PR, otherwise I can fix.

[2022-10-21 09:48] jmcook1186 commented on #8297
Thanks for pointing this out - fixed in PR #8302

[2022-10-21 09:48] #8297 closed

[2022-10-21 14:01] nloureiro opened #8320 "Table out of size"
### Describe the bug

The table on this page is way out of the grid

https://ethereum.org/en/developers/docs/evm/opcodes/

### To reproduce

1. Go to https://ethereum.org/en/developers/docs/evm/opcodes/
2. See the page content

### Expected behavior

The table should be within the page grid with overflow scroll

### Screenshots

![Screen Shot 2022-10-21 03 01 09 PM](https://user-images.githubuserc

[2022-10-21 14:11] samajammin commented on #8320
Yikes! Thanks for pointing out.

Think this is a result of the Chakra migration (#6374) @pettinarip? I see the markdown table was migrated in #8061 by @ImMiguelP.

[2022-10-21 14:22] samajammin commented on #8320
@nloureiro can you fix the image in the description? Looks like it never uploaded.

[2022-10-21 14:36] pettinarip commented on #8320
Yea, seems to be a regression form the Chakra migration PR.

[2022-10-21 15:02] dbadoy opened #8321 "Incorrect href in Korean"
### Describe the bug

Incorrect href

### To reproduce

 1. Select korean
 2. Move any tab (example - https://ethereum.org/ko/community/events/)
<img width="745" alt="스크린샷 2022-10-21 오후 11 49 15" src="https://user-images.githubusercontent.com/72970043/197224535-2d71f330-ee19-4c85-8657-f0b18d20ff71.png">
 3. Click below button. (I don't know what to call this)
<img width="203" alt="스크린ᄉ

[2022-10-21 16:20] ryandotsmith commented on #8310
Thanks for the quick reply! I will open a PR.

[2022-10-21 18:08] ritanshoo commented on #8321
Hello @dbadoy , Thanks for pointing the issue,
I would love to work on it, can you please assign it to me

[2022-10-21 20:12] JoshDavisLight opened #8323 "Bug report - Uninformative link"
### Describe the bug

"Correlation penalty" linked text on [Consensus Mechanisms](https://ethereum.org/en/developers/docs/consensus-mechanisms/pos/) directs to the Gasper paper, which doesn't have any immediately relevant information regarding correlation penalties. A search of the pdf for the string "correlation penalty" turns up 0 results.

### To reproduce

1. Go to [Consensus Mechanisms](https

[2022-10-21 20:26] samajammin commented on #6284
This epic had reduced focus in Q3 as a result of Geth website design work (see #7166 update for details) but we still managed push progress forward across 1) foundations, 2) components, and 3) layouts. We also synced the design system with our Chakra UI implementation, laying the ground for a future code implementation of the design system.

The primary pieces we worked on this quarter:
- Foundati

[2022-10-21 20:57] Aksa12 commented on #8320
Hey, I would like to work on this issue

[2022-10-21 21:59] nloureiro commented on #8320
I assigned it to you. Go for it!

[2022-10-22 00:50] dbadoy commented on #8321
Thanks for respond, @ritanshoo!
I couldn't set the assign. Maybe the permissions are set.
IMO if you want, you can leave a comment that you will work on it, and then tag the issue to PR when you are done.

[2022-10-22 04:50] sandraparker7840 commented on #6439
In need of a Data Analyst?
I help in social media hacks like verification and followers
Bitcoin mining
Cash bitcoin investment also
Contact bestappshackers(at)gmail(dot)com

[2022-10-22 05:17] emmanuel-awosika commented on #8323
Hi @JoshDavisLight. Thanks for pointing this out. I just replaced the link with a new one pointing to [this resource on correlation penalties](https://eth2book.info/bellatrix/part2/incentives/slashing#the-correlation-penalty). Turns out the inactivity leak links to points to the same paper, but it has new link pointing to a [more descriptive resource](https://eth2book.info/bellatrix/part2/incentiv

[2022-10-22 17:12] ernestosperanza commented on #8048
Hey may I work on this issue?

[2022-10-24 17:01] nagabhiru commented on #8044
Same as @brandonmcconnell, I'm able to see the favicon on Safari desktop and on Safari mobile (Version 16.0 (17614.1.25.9.10, 17614))

[2022-10-24 17:14] corwintines commented on #8048
Thanks @ernestosperanza! Will assign to you now :)

[2022-10-24 17:34] samajammin commented on #7166
Happy October!

We had an amazing time meeting many [ethereum.org](http://ethereum.org) contributors at [Devcon](https://devcon.org/) this month and encourage everyone to check out the [many talks](https://archive.devcon.org/archive/playlists/devcon-6/)! [Here’s my presentation on ethereum.org](https://archive.devcon.org/archive/watch/6/education-as-a-public-good-past-present-and-future-of-ethereu

[2022-10-24 17:34] #7166 closed

[2022-10-24 17:44] AlanGit940 commented on #6439
Bitcoin scams everywhere , be careful who you invest with , I feel peoples pain because I was also in this shoes , got scammed of $60000 by an instagram broker who lured me into investing on their website with promise to make times 3 of it in a month and bonuses , time to withdraw funds , I found out it was fake website and the took all the money a lot of other people too , thanks to an amazing ge

[2022-10-24 17:44] AlanGit940 commented on #6439
Bitcoin scams everywhere , be careful who you invest with , I feel peoples pain because I was also in this shoes , got scammed of $60000 by an instagram broker who lured me into investing on their website with promise to make times 3 of it in a month and bonuses , time to withdraw funds , I found out it was fake website and the took all the money a lot of other people too , thanks to an amazing ge

[2022-10-24 17:49] AlanGit940 commented on #7555
crypto scams everywhere , be careful who you invest with , I feel peoples pain because I was also in this shoes , got scammed of my savings by an instagram broker who lured me into investing on their website with promise to make times 3 of it in a month and bonuses , time to withdraw funds , I found out it was fake website and the took all the money a lot of other people too , thanks to an amazing

[2022-10-24 18:18] Karthik-Gupta commented on #8068
Looks like a dummy issue, can be closed?

[2022-10-24 19:00] corwintines commented on #8083
https://github.com/ethereum/ethereum-org-website/pull/8247 closing as this has been merged in

[2022-10-24 19:00] #8083 closed

[2022-10-24 19:08] samajammin commented on #7166
Updates on our Q3 KPIs:

**Translation KPIs**

- Reduce the number of QA issues in Crowdin by 20%
    - ❌ 6% reduction in QA issues since Q2
    - Still a 49.19% reduction since the first QA round in April!
- Update 200 content buckets between all languages
    - ✅ 276 content buckets updated
    - Kudos to all translators who helped us achieve this goal!
- Add translations for Essential pages in

[2022-10-24 19:35] corwintines opened #8344 "Fix Gatsby i18n issue"
_This is part of our [Change i18n plugin epic](https://github.com/ethereum/ethereum-org-website/issues/8345)._

### Describe the bug

There are currently some issues with the internationalization library that is being used.

1 - High memory usage during build time
2 - A large app.js bundle is being created, making the user experience suffer when this is downloaded

After some initial fixes for cod

[2022-10-24 21:02] pettinarip opened #8345 "Epic: Change i18n Gatsby plugin/library"
This epic is part of our Q4 2022 roadmap: #8399

### Description

Not long ago, we detected that our final JS bundles (served to the clients) had a very big size which creates a slow load performance for our users impacting directly the UX and the accessibility of the site.

Since then we have run [some investigations](https://www.notion.so/efdn/Gatsby-i18n-issue-9ef381505b2448048c0ac1be90759f5d)

[2022-10-24 21:35] #7817 closed

[2022-10-24 22:00] corwintines commented on #7968
See comments in https://github.com/ethereum/ethereum-org-website/pull/7974

[2022-10-24 23:16] MyK134 commented on #6439
Please everyone should be careful and stop being fooled by all these brokers and account managers, they scammed me over $ 565,000 of my investment capital, they kept on requesting for extra funds before a withdrawal request can be accepted and processed, in the end, I lost all my money. All efforts to reach out to their customer support desk had declined, I found it very hard to move on. God so ki

[2022-10-25 02:03] #8320 closed

[2022-10-25 15:32] samajammin opened #8364 "Inconsistent padding/margin on docs pages"
### Describe the bug

The padding of the opcodes page looks off:
https://ethereum.org/en/developers/docs/evm/opcodes

### To reproduce

1. Go to https://ethereum.org/en/developers/docs/evm/opcodes
2. See margin/padding of main content

### Expected behavior

Should look same as other docs pages.

### Screenshots

Opcodes page:
![Image 2022-10-25 at 10 29 18 AM](https://user-images.githubuserconten

[2022-10-25 15:34] samajammin commented on #8364
Now that I compare multiple pages, it seems to be inconsistent across doc pages:

https://user-images.githubusercontent.com/8097623/197817622-3d71ef87-0a8c-4d07-9137-56a7599544eb.mp4

I wonder if we're doing some sort of centering of the main content? I believe the layout should be consistent on every page (i.e. the same padding/margin between the left menu & the main page content).

[2022-10-25 15:39] benhsainalaa opened #8365 "ethereum"

[2022-10-25 15:39] #8365 closed

[2022-10-26 02:42] TylerAPfledderer commented on #8364
Hey @samajammin!

I reverted the code for that table to pre Chakra migration, and it does not appear to be a part of the issue.

Along with that `margin: 0 auto` on the main content, there is the change in width of the right-side sticky TOC due to change in length of the longest text string for each page header.

A possible solution is to remove the `margin: 0 auto` from the [`Content` component](

[2022-10-26 05:06] amit-ksh commented on #8364
Can I work on this issue??

[2022-10-26 06:10] amit-ksh opened #8373 "Extra padding on the right in the docs pages"
### Describe the bug

There is some extra padding on the right side of the page when the screen width is close to `1025px`.

### To reproduce

1. Go to any docs page like https://ethereum.org/en/developers/docs/dapps/
2. Open the dev tool and change the screen width near to `1025px`  just before the `l` breakpoint.
3. Slide the right side of the page to see the extra padding.

### Expected behavio

[2022-10-26 06:57] Mrsan825 opened #8374 "SCB BANK PUBLIC 8252305092"
08091982

[2022-10-26 11:18] lukassim commented on #6283
Closing this out as it's no longer a top priority but please comment if you'd like to contribute to this initiative!

[2022-10-26 11:18] #6283 closed

[2022-10-26 13:20] pettinarip commented on #8364
I agree with @TylerAPfledderer that the issue seems to be on TOC component by not having a fixed width. The other components (Sidebar & Content) do have a fixed width.

IMO the solution is to set a width to the TOC and let the `margin: 0 auto` fills the remaining content.

=====
Assigning it to you @amit-ksh ty

[2022-10-26 13:43] A-ndy-git commented on #6861
This is resolved by #6872. Can we close this issue down now?

[2022-10-26 13:44] Crypto147 commented on #6439
HAVE YOU LOST YOUR MONEY TO FAKE INVESTMENT SCHEMES OR ANY ONLINE SCAM WHATSOEVER?, HAVE YOU BEEN IN SEARCH FOR GENUINE HACKER'S ONLINE?. WELL, YOU HAVE FOUND REDEMPTION IN ASORE CORP.
asorehackcorp @ gmail com

Asore Corp is a Russian based group of multinational hacker's, an affiliate of Evil Corp. We have mutual interests obliged to fight online scam and scammers in general. In doing this, we m

[2022-10-26 14:05] #8295 closed

[2022-10-26 14:05] pettinarip commented on #8295
Cool, thanks for the context @TylerAPfledderer. I think the logic makes sense now that you've explained it. Hopefully, there is an easier/cleaner way of dealing with it in the future but for now, this is fine as well.

[2022-10-26 16:25] corwintines commented on #2467
Fixed with https://github.com/ethereum/ethereum-org-website/pull/7367

[2022-10-26 16:25] #2467 closed

[2022-10-26 16:32] corwintines commented on #1461
Should have clarity soon to push this across finish line

[2022-10-26 16:35] hannamueller09 opened #8377 "recover stolen btc"

[2022-10-26 16:43] corwintines commented on #2585
While we dont do absolute paths, we have a script made to resolve these issues

[2022-10-26 16:43] #2585 closed

[2022-10-26 16:47] #4459 closed

[2022-10-26 16:49] corwintines commented on #3021
https://github.com/ethereum/ethereum-org-website/pull/5839

Some work has been done on this, but since this issue is quite stale going to close out. There are updated issue templates for this for exchanges to fill out if they want to be listed now.

[2022-10-26 16:49] #3021 closed

[2022-10-26 16:52] corwintines commented on #3443
Added in https://github.com/ethereum/ethereum-org-website/pull/5839

[2022-10-26 16:52] #3443 closed

[2022-10-26 16:53] corwintines commented on #3572
Added in https://github.com/ethereum/ethereum-org-website/pull/5839

[2022-10-26 16:53] #3572 closed

[2022-10-26 17:39] abdulmoizlakhani commented on #6374
Hi, I need a component to work on.

[2022-10-26 20:35] #8095 closed

[2022-10-27 00:39] sandraparker7840 commented on #6439
Incase you are in need of good and quality hacking services such as spouses cell phone hack, email hack, bank account hacks and others, bestappshackers is the best at that. I decided to hire him after a long history of disappointments from other hackers and he really surprised me by helping with every hacking help I needed, contact him and get yours done. Contact on email bestappshackersATgmailDOT

[2022-10-27 01:15] samajammin commented on #8364
Thanks for the input @TylerAPfledderer & offer to help @amit-ksh!

So @pettinarip do you think the TOC component should have a horizontal scroll if the text is long? The text length often varies across pages/translations.

[2022-10-27 03:09] TylerAPfledderer commented on #8373
Hmmm might be related to #8364

[2022-10-27 14:16] amit-ksh commented on #8364
https://user-images.githubusercontent.com/91947037/198305776-a0bd5ecf-ff1f-4f64-b39d-fbe908a6ca8c.mp4

Why all the pages are not responsive except the `Intro to Ethereum` page?
And also I tried setting the width of the TOC component but the pages are behaving still the same way.

[2022-10-27 16:50] #8377 closed

[2022-10-27 16:50] #8374 closed

[2022-10-27 18:41] #7873 closed

[2022-10-27 19:44] pettinarip commented on #8051
Done! thanks t o @lawlesx

[2022-10-27 19:44] #8051 closed

[2022-10-27 20:15] #8098 closed

[2022-10-27 21:05] pettinarip commented on #6374
@SNikhill @Mousticke @MahendraBishnoi29 @LuisUrrutia @derajohnson @douglasmakey @AntonioSalazar @AliTechGeek52

Calling out people who have files assigned to them and that **don’t** have a PR created yet. I wanted to check if you are still interested and are planning on migrating them in the short term.

If you are not planning on that anymore, we can reassign to other people that may want to work

[2022-10-27 21:09] Master7130 commented on #6374
I'll have a PR in hopefully tomorrow for ProductList.tsx.

[2022-10-27 21:16] #8052 closed

[2022-10-27 21:34] #8141 closed

[2022-10-27 22:17] #8174 closed

[2022-10-28 02:27] MahendraBishnoi29 commented on #6374
I'm working on my assigned components 💪🏻

[2022-10-28 08:10] derajohnson commented on #6374
Hi, I’m sorry for not being able to work on my component. I haven’t been able to run it locally. I always get an error so yes, you can reassign my component.

[2022-10-28 10:45] konopkja opened #8391 "UI Bug report: deposit contract page (missing padding)"
### Describe the bug

- missing padding for the button "copy address" + "reveal address" and info text bellow

### To reproduce

1. go to https://ethereum.org/en/staking/deposit-contract/
2. look at the button "reveal address"

### Expected behavior

- add padding to the button

### Screenshots

<img width="550" alt="Screenshot 2022-10-28 at 13 02 31" src="https://user-images.githubusercontent.com

[2022-10-28 11:26] lukassim opened #8392 "Fix typo on The Merge page"
### Describe the bug

There is a typo in the following sentence: _with all it's accounts, balances, smart contracts, and blockchain state_
'it's' means 'it is', and is incorrect in this context

### To reproduce

1. Go to https://ethereum.org/en/upgrades/merge/#what-is-the-merge
2. Scroll down past the infographic
3. Read the 1st sentence
4. See error

### Expected behavior

'it's' should be chang

[2022-10-28 11:29] Rcarrie21 commented on #6439
I was asked to give my thoughts on GEARHEADPANACEA.COM because I was pleased with how my score improved and how much they taught me. To whom it may concern, all I can say is that they are good at their job and if you need any cyber related help you can visit their website or email gearheadcyberpanacea@gmail.com

[2022-10-28 11:37] lukassim opened #8393 "Fix inconsistent spelling of YouTube"
### Describe the bug

The spelling of YouTube is inconsistent, as there are two instances of 'Youtube' on the website
- The Ethereum energy consumption page
- The Client diversity page

### To reproduce

1. Go to https://ethereum.org/en/energy-consumption/
2. Search for 'compared to youtube'
3. See error

1. Go to https://ethereum.org/en/developers/docs/nodes-and-clients/client-diversity/#further-

[2022-10-28 14:35] chlolands commented on #6615
@corwintines Hello! We've added some new features to the wallet (the main two being NFT & multichain support.) I just edited the issue. Can we please have this updated on the site? Thank you!

[2022-10-28 16:08] jmcook1186 commented on #7425
Hi @emmanuel-awosika this is great work, thanks a lot. I like a lot of the ideas here. Some things we might want to think on some more are:

1) the definition of "protocol" - to me protocol means the rules encoded in client software that keeps the network live and secure. That wouldn't include things like token standards that are features of the application layer.
2) the distinction between `proto

[2022-10-28 16:20] Saloni-Girhepuje opened #8398 "Bug report"
### Describe the bug

The primary button colour in light mode should be changed from Hex code: 1C1CF5 to Hex code: 1718A5.
Reasons:
1. Provides better contrast against the background by a contrast ratio of 3 points. - Improved accessibility
2. It matches the colour pallet used in the website illustrations better.- Coherent design system

### To reproduce

1. Go to the Ethereum homepage
2. Access l

[2022-10-28 17:05] minimalsm opened #8399 "Q4 2022 ethereum.org product roadmap"
*To make our work more accessible and to foster more community collaboration, our team publishes an overview of our quarterly roadmap goals. See last quarter's roadmap here: #7166.*

**Greetings fellow Ethereans!**

[Our vision with ethereum.org](https://ethereum.org/en/about/) continues to be to create the best portal for Ethereum's growing community. We’re an educational resource focused on help

[2022-10-28 20:06] Habibullah-Sahan commented on #8399
Is there any opportunity for paid position after proving oneself by contributing?

[2022-10-28 20:28] Mohiiit commented on #8398
I would like to work on this.

[2022-10-28 20:30] samajammin commented on #8399
Hey @Habibullah-Sahan! Thanks for your interest.

In short, _potentially_!  Unfortunately, we can't provide any guarantees at the moment. Our team doesn't have any open paid roles at the moment. That said, whenever we do hire, we first look to our open-source community. Half of our 10-person team started out as community contributors on the project.

Again, I can't make any guarantees, but I suspe

[2022-10-28 20:34] Mohiiit commented on #8399
I want to contribute to the project.

[2022-10-28 21:19] SebastianSupreme commented on #7163
@vdusart Great idea if you ask me 👍

[2022-10-29 07:48] malik672 commented on #8399
interested in this

[2022-10-29 08:02] SavPhill opened #8407 "Unresponsive Table"
### Describe the bug

On page https://ethereum.org/en/nft/ The comparison table under the heading ‘A comparison’ is not symmetrical on all device types.

See screenshot below taken from a mobile device:
![10F2CDC4-A4AB-412D-98A3-B20D3056CBD9](https://user-images.githubusercontent.com/38789408/198820682-7cf9b814-8515-45a0-8ea1-779fc79daf36.jpeg)

### To reproduce

1. Go to 'https://ethereum.org/en/

[2022-10-29 12:46] yash251 commented on #8399
Would love to contribute to this @samajammin @minimalsm

[2022-10-29 21:12] samajammin commented on #8399
Great @malik672 @yash251 - please let us know how you'd like to get involved! Most epics have standalone issues, so feel free to join the discussion there or hop in our Discord if you want to chat with our team.

[2022-10-30 05:06] amit-ksh commented on #8364
Hey @pettinarip and @samajammin! I tried your solution but it's not working, instead giving a small width (like  `100px`) to the `Content` component is fixing this issue.

https://user-images.githubusercontent.com/91947037/198863468-f1e92d00-73a3-4899-a76e-937c06524b1c.mp4

[2022-10-30 08:43] Hedda8227 commented on #6439
Men are bloody cheaters, don't trust them. I caught mine with the help of Wizard James. My husband has been cheating on me after everything we have been through together. Thank you once more Wizard James your services really helped me.

You can contact  him on (markwizard@solution4u.com)  He is  fast and reliable although quite pricy.

I was able to keep tabs on my partner with his help.

[2022-10-30 08:44] patrickthrop commented on #6439
I was scammed over $1.850.000. I talked with this guy for 8 months. I sent him money via Bitcoin atm and bank account, I almost lost everything. But for the timely intervention of the Donald Programmer, who just in kick-off on time got back my $1.850.000. He is really good at what he does, I have recommended him to friends and co-workers who all became satisfied customers. He has helped me a lot i

[2022-10-30 10:43] tinniaru3005 commented on #8407
I would like to work on this. Can you please assign it to me?

[2022-10-30 10:44] hackdaemo commented on #6439
I will brief you how I was able to achieve this .. Acting nervous and suspicious was how I first noticed something was not right so I talked with a friend about it and she did introduced me to a hacker who helped me spy on his phone remotely for proof , I was able to get a remote access to his phone and believe me I really wish I had done this earlier .. but it’s never too late to know the truth .

[2022-10-30 12:35] SNikhill commented on #6374
Greetings @pettinarip,
I have been slightly engaged with some personal stuff.
Yes, I am still interested in working on the same and I shall create some PR(s) in the coming days.

Apologies for the delay.

[2022-10-30 17:56] harveyjavier commented on #2888
Hello @GeorgeTrotter @wackerow @minimalsm I'm so sorry if it took a year for me to get back to you guys on this one. I believe I haven't explained our non-custodial wallet product well. Basically, same with issue [#2886](https://github.com/ethereum/ethereum-org-website/issues/2886), it's a private repo, not open source, and purely non-custodial that just calls functions from the Web3.js library. A

[2022-10-30 17:59] harveyjavier commented on #2888
Or I might as well open a new one since this is labeled blocked already. Our wallet has changed since then. And IOS is already at version 11.0.0 same with Android

[2022-10-30 23:12] AliTechGeek52 commented on #6374
Hello, @pettinarip I am working on the component and will create PR once it will be fully done. Sorry for the late reply.

[2022-10-31 02:40] MyK134 commented on #6439
This story I’m about to tell right now happens to be the biggest experience I have ever had all my life. I’m a kind of man who believes on nature and has a free heart. I got a new job, and the salary was more than enough for me but I decided to invest in bitcoin so that I can keep my funds save and have access to them when ever without going to the bank. I went to Telegram and sign up with a scam

[2022-10-31 05:31] mappo7 commented on #8399
@samajammin I'd like to chat with the team as there are a few different epics I think our team might be able to help with! I'm already in your discord, will I reach out there to one of the team? If so, who?

[2022-10-31 09:07] minimalsm commented on #8391
Closed by #8396

[2022-10-31 09:07] #8391 closed

[2022-10-31 09:08] minimalsm commented on #8392
Closed by #8404

[2022-10-31 09:08] #8392 closed

[2022-10-31 09:08] minimalsm commented on #8393
Closed by #8396

[2022-10-31 09:08] #8393 closed

[2022-10-31 10:15] GregoireSkillZ commented on #6447
Staking Rewards Summit - Rooftop Happy Hour hosted by Finoa, Fantom, and Kiln

Good afternoon,

On the occasion of Staking Summit Rewards, we are delighted to invite you to our Rooftop Happy Hour on November 8th, co-hosted with Finoa and Fantom.

Don't forget to mark your calendar, we are looking forward to meeting you in person.

Register now
(https://cTyHJ04.na1.hubspotlinks.com/Ctc/GE+113/cTyHJ

[2022-10-31 16:45] corwintines opened #8421 "Uses of `Dagger Hashamoto` when it should be `Dagger Hashimoto`"
### Describe the bug

There are a few places on ethereum.org where `Dagger Hashimoto` is spelt `Dagger Hashamoto`, which also breaks some links on the website.

### To reproduce

1. Go to https://ethereum.org/en/developers/docs/consensus-mechanisms/pow/mining-algorithms/
2. Scroll down to bottom
3. See wrong spelling and url

### Expected behavior

Remove references to `Dagger Hashamoto` and repla

[2022-10-31 17:10] corwintines commented on #8168
Hey @giorgionocera! Sorry for late reply here, but your intuition is right, we want to remove the h5 tag formatting for now (ex: {#} after the heading, this is what generates the link).

Will review your PR and push up any missed ones I can find. Thanks!

[2022-10-31 17:18] #8168 closed

[2022-10-31 17:49] corwintines commented on #2123
Based on @pettinarip comment going to abandon / close out.

[2022-10-31 17:49] #2123 closed

[2022-10-31 17:50] #8421 closed

[2022-10-31 19:05] corwintines commented on #8213
Hey @nautical.

Was looking into this, and wondering if https://hiaudit.io/ is what you are referring to for the audit service?

[2022-10-31 19:49] corwintines commented on #8241
Closed with above PR

[2022-10-31 19:49] #8241 closed

[2022-10-31 20:12] slipperybeluga commented on #1461
It's been more than 2 years, I certainly don't care anymore.

[2022-10-31 20:13] corwintines commented on #7549
Closed with above PR

[2022-10-31 20:13] #7549 closed

[2022-10-31 20:15] #7833 closed

[2022-10-31 20:28] #8253 closed

[2022-10-31 20:32] corwintines commented on #7546
Closed with above PR

[2022-10-31 20:32] #7546 closed

[2022-10-31 20:39] corwintines commented on #8268
Closed by above PR

[2022-10-31 23:07] corwintines commented on #8171
Closed with above PR

[2022-10-31 23:07] #8171 closed

[2022-11-01 10:56] q9f commented on #1461
But maybe someone else cares?

[2022-11-01 12:48] Pandapip1 commented on #7875
Would really like to see this, still.

[2022-11-01 14:53] corwintines commented on #7251
Going to close this out. Will reopen this with an outline in the future

[2022-11-01 14:53] #7251 closed

[2022-11-01 14:55] corwintines commented on #5992
Closing: https://github.com/ethereum/ethereum-org-website/pull/7636

[2022-11-01 14:55] #5992 closed

[2022-11-01 14:56] janeshrader commented on #6439
Have you noticed that most credit repair agencies give promises they never intend to keep? However, in the quest to fix my credit, I came across a lot of good comments about HACK MAVENS CREDIT SPECIALIST on WALLETHUB and I decided to give it a trial. I never believed he would have my derogatory mark removed and increase my score from 437 to 798 across the three major bureaus within few days. He al

[2022-11-01 14:59] #8281 closed

[2022-11-01 14:59] #8238 closed

[2022-11-01 15:19] #5581 closed

[2022-11-01 15:20] corwintines commented on #4325
Closing as this has been abandoned

[2022-11-01 15:20] #4325 closed

[2022-11-01 15:21] corwintines commented on #4916
Closing as the above PR addresses this

[2022-11-01 15:21] #4916 closed

[2022-11-01 15:22] corwintines commented on #6938
While I think the idea is nice, this isn't anything we can do on ethereum.org. Going to close this.

[2022-11-01 15:22] #6938 closed

[2022-11-01 15:23] corwintines commented on #1461
Going to reopen, we still plan on adding this.

[2022-11-01 15:27] corwintines commented on #8210
Closed with above PR

[2022-11-01 15:30] corwintines commented on #8163
Closing as this was updated in above release

[2022-11-01 15:30] #8163 closed

[2022-11-01 15:30] #8068 closed

[2022-11-01 15:31] #7960 closed

[2022-11-01 15:33] corwintines commented on #7881
Closing as above PR addressed this

[2022-11-01 15:33] #7881 closed

[2022-11-01 15:35] corwintines commented on #7927
This issue isn't related to work we can do on ethereum.org. Going to close.

[2022-11-01 15:35] #7927 closed

[2022-11-01 15:37] corwintines commented on #7866
Closing, was fixed in the above PR

[2022-11-01 15:37] #7866 closed

[2022-11-01 15:37] #7864 closed

[2022-11-01 15:46] #7521 closed

[2022-11-01 15:48] corwintines commented on #6340
Closing as this was done in the above PR

[2022-11-01 15:48] #6340 closed

[2022-11-02 00:14] wackerow opened #8444 "General ether issuance page"
### Is your feature request related to a problem? Please describe.

Currently there is a page titled [How The Merge impacted ETH supply](https://ethereum.org/en/upgrades/merge/issuance/) which was originally created to focus on the changes taking place with the issuance of ether via the transition to proof-of-stake via The Merge. With a successful Merge behind us, this page has been updated with p

[2022-11-02 01:03] MyK134 commented on #6439
This story I’m about to tell right now happens to be the biggest experience I have ever had all my life. I’m a kind of man who believes on nature and has a free heart. I got a new job, and the salary was more than enough for me but I decided to invest in bitcoin so that I can keep my funds save and have access to them when ever without going to the bank. I went to Telegram and sign up with a scam

[2022-11-02 10:01] os-dlake opened #8447 "Add project to desci/#get-involved"
### Is your feature request related to a problem? Please describe.

Hey! I'm Oliver, a Lead Developer at Data Lake.

I propose an addition to the https://ethereum.org/en/desci specifically in "Get Involved" for [data-lake.co].
Data Lake is building a Global Medical Data Donation System and serves the purpose of data access layer for both Decentralized and Centralized Science Projects.

We believe

[2022-11-02 14:17] lightclient commented on #6760
Still want! :D

[2022-11-02 18:00] minimalsm opened #8456 "Rethink "ETH is valuable because:" learning quiz question"
![unkno21312wn](https://user-images.githubusercontent.com/62268199/199565191-18115e6e-6ef2-43a3-97b7-b0fbaaf3f61f.png)

Received some feedback regarding this question:

Worth noting that each answer should be backed entirely by the content of the page (see the [Why does ETH have value? section](https://ethereum.org/en/eth/)). We should not introduce new information into **the answers** that is not

[2022-11-02 18:15] ligi commented on #8456
As the author of the feedback quoted I also lean to 1 and completely removing the question

[2022-11-02 18:21] ligi opened #8458 "Quiz: Which iteration of the web does not rely on third-party payment providers?"
### Describe the bug

![image](https://user-images.githubusercontent.com/111600/199570399-0c55d23d-dfa1-47cc-aabf-2ac5eae94133.png)

IMHO here "D" is most correct - also web1 and even web2 does not really really rely on third-party payment providers. Maybe if you think about how to buy the hardware - but this is also still true for web3 mostly. But I would just remove the question completely ..

#

[2022-11-02 18:37] ligi opened #8460 "Quiz: Web3 allows users to own digital assets directly through:"
ENS is also a NFT - so B and C are correct. But also these are not the only types of digital assets. I would completely remove this question.

![image](https://user-images.githubusercontent.com/111600/199573578-52bb2cbb-8235-45e3-a6c6-b772cc72cc92.png)

[2022-11-02 18:40] Ghetto21 commented on #6281
Epi: pre merge prep# 6281
Closed

[2022-11-02 18:48] ligi opened #8461 "Quiz: From the options presented, which is the most secure way to store your seed phrase?"
![image](https://user-images.githubusercontent.com/111600/199575363-74163c0c-e887-4fcf-ac49-1864547cf48a.png)

IMHO this really depends (e.g. who can get access to that paper) and I would completely remove that question.
We should get people to do shamir backups (when really encouraging seeds) instead of writing down the seed somewhere.

[2022-11-02 19:58] ryandotsmith commented on #8310
@jmcook1186 PR opened!

[2022-11-03 00:15] mds1 opened #8465 "Quiz Bug report: You can have a single, censorship-resistant login across all of the web through the use of"
### Describe the bug

It expects the wrong answer as shown in the images below

<img width="661" alt="image" src="https://user-images.githubusercontent.com/17163988/199625634-2ac32fb1-fd95-4156-a2a2-3b46468cba37.png">

<img width="655" alt="image" src="https://user-images.githubusercontent.com/17163988/199625649-2f4cda16-0a08-4da5-868e-aefcb4d89d64.png">

### To reproduce

See above

### Expected

[2022-11-03 00:33] valerierosario opened #8466 "adding a resource"
I saw your links pages related to Cryptocurrency/ Binance. It is found here -http://ethereum.org/en/nft/

Do you mind adding a Binance article as part of your resource link - (https://www.binance.com/en/blog/fiat/how-to-invest-in-nfts-421499824684903763?utm_source=Spiralytics&utm_medium=Binance+Blog&utm_campaign=Blog5

[2022-11-03 02:39] dcposch opened #8467 "Testnets page directs dapp developers to use Goerli"
### Describe the bug

This page makes it sound like Goerli is the right testnet for testing dapps, while Sepolia is going away soon: https://ethereum.org/en/developers/docs/networks/#ethereum-testnets

Apparently Sepolia is actually preferred?  https://twitter.com/lightclients/status/1587914219214999552

### To reproduce

1. Go go https://ethereum.org/en/developers/docs/networks/#ethereum-testnets

[2022-11-03 02:56] hoanglamcoin opened #8468 "## Description (optional)"
## Description (optional)
Add a concise explanation of the changes.

## Testing Steps (optional)
Detail the steps required for the reviewer(s) to verify and test these changes.

__Originally posted by @milan-bc in https://github.com/blockchain/blockchain-wallet-v4-frontend/pull/5491__

[2022-11-03 04:35] corwintines commented on #8399
Hey, @Gandalf-Dust-Wizard!

How would you like to get involved? Happy to chat about this either here or on discord.

[2022-11-03 04:43] corwintines commented on #8467
Thanks, @dcposch! Opened something up to be reflect information in this blog post: https://blog.ethereum.org/2022/06/21/testnet-deprecation.

[2022-11-03 04:45] #8468 closed

[2022-11-03 05:00] corwintines commented on #8465
Thanks, @mds1!

This got fixed in: https://github.com/ethereum/ethereum-org-website/pull/8453

Will be fixed in next deploy

[2022-11-03 05:00] #8465 closed

[2022-11-03 05:22] corwintines commented on #8310
Hey @ryandotsmith, thanks for opening this.

Just wanted to let you know I edited the description links from https://ethereum.org/en/developers/docs/networking-layer/#consensus-discovery to https://ethereum.org/en/developers/docs/networking-layer/#execution-discovery based on your PR.

[2022-11-03 10:26] minimalsm commented on #8292
Closed by #8376 🎉 thanks @jmcook1186

[2022-11-03 10:26] #8292 closed

[2022-11-03 10:55] minimalsm commented on #8466
Hey @valerierosario, thanks for the suggestion.

I'd personally not like to include any links that are speculative (how to invest, how to make money from selling 'x', how to defi degen, etc).

[2022-11-03 11:36] minimalsm commented on #7552
Closing this out as part of #8094. I've migrated question suggestions here [to this Notion doc](https://www.notion.so/efdn/Review-Ori-s-learning-quizzes-suggestions-on-issue-79027459ef9f4f0a9b5ef384f3faf941) and will be updating decisions here.

[2022-11-03 11:43] konopkja commented on #7555
@minimalsm  the explanation here should be improved as it is quite confusing i think
![image](https://user-images.githubusercontent.com/100724231/199711485-0f6ad91d-d012-4620-845e-6bd836b22dd4.png)

**suggestion**:
While this is correct, it's only one of the reasons ETH is valuable, and therefore there is a better answer.

what do you think?

[2022-11-03 11:44] #7555 closed

[2022-11-03 11:47] minimalsm commented on #7555
How about: This answer is partially correct, but it's only one of the reasons ETH is valuable. @konopkja

[2022-11-03 11:49] minimalsm commented on #7555
@konopkja let's discuss in #8477

[2022-11-03 11:51] minimalsm commented on #7554
Closing this out as part of #8094. I've migrated question suggestions here [to this Notion doc](https://www.notion.so/efdn/Review-Ori-s-learning-quizzes-suggestions-on-issue-79027459ef9f4f0a9b5ef384f3faf941) and will be updating decisions here.

[2022-11-03 11:51] #7554 closed

[2022-11-03 11:54] minimalsm commented on #7557
Closing this out as part of #8094. I've migrated question suggestions here [to this Notion doc](https://www.notion.so/efdn/Review-Ori-s-learning-quizzes-suggestions-on-issue-79027459ef9f4f0a9b5ef384f3faf941) and will be updating decisions here.

[2022-11-03 11:54] #7557 closed

[2022-11-03 14:39] jmcook1186 opened #8478 "Flag emojis failing to render on /community/events page"
### Describe the bug

The following page contains a table with events listed by region. The location name is decorated with the local flag. However, the Dubai flag emoji is failing to render and instead shows what I guess is the flag's unicode characters.

https://ethereum.org/en/community/events/

### To reproduce

1. Go to https://ethereum.org/en/community/events/
2. Scroll down to 'Web3Dubai'
4

[2022-11-03 15:20] hursittarcan opened #8479 "Change "Ethereum meetups" flag position [design proposal]"
### Describe the bug

## Descirption
* The flags in the "Ethereum meetups" list are displayed a little above the text (I don't know if this is a bug or if this is supposed to be like this).
* I think it would look better if we would lower the position of the flag, to match the position of the text. (see screenshots, before & after).

### To reproduce

1. Go to https://ethereum.org/en/community/eve

[2022-11-03 15:25] jmcook1186 commented on #8479
also see #8478 for broken flags

[2022-11-03 16:16] ciprianpierr commented on #6439
I read a review about a man who is a professional in recovering funds hacked via online thereby saving me from being poor. I was scammed of my hard earned money on Telegram group, the scammer often asks for money if I must access my profit but he suddenly stopped responding to my messages until Michael Murphy helped recover $309k USDT money. He is reliable at any point in time, you can contact(🅜🅘🅒

[2022-11-03 18:52] #8478 closed

[2022-11-03 19:12] ryandotsmith commented on #8310
@corwintines brilliant!

[2022-11-03 19:13] #8310 closed

[2022-11-03 21:30] corwintines commented on #8307
Closed with above PR

[2022-11-03 21:30] #8307 closed

[2022-11-03 21:39] corwintines commented on #8323
Closed with above PR

[2022-11-03 21:39] #8323 closed

[2022-11-03 21:53] flossiefranklin74 opened #8484 "Recover your stolen funds from scammers"
### Is your feature request related to a problem? Please describe.

Good day Audience,

I am  Flossie Franklin from Buffalo USA. I want to use this great medium to announce this information to the public about  Spyware Cyber. A few months back, I was seeking an online BTC investment plan when I got scammed for about $129,000. I was so down and didn't know what to do until I came across a timeline

[2022-11-03 21:53] corwintines commented on #8466
I also dont think this is an appropriate link for the NFT page, but appreciate the suggestion @valerierosario

[2022-11-03 22:20] corwintines commented on #8467
Closed in https://github.com/ethereum/ethereum-org-website/pull/8481

[2022-11-03 22:20] #8467 closed

[2022-11-04 00:54] TylerAPfledderer opened #8490 "RFC: Implementing StorybookJS & Chromatic"
## Overview
This is a proposal to add [StorybookJS](storybook.js.org/) to the workflow of the Ethereum.org site, outlining the potential benefits to its implementation beginning Q1 of next year after the Chakra UI migration is complete and serve as a parallel epic to the Design System Epic (#6284). Anyone is welcome to comment in favor of or against what is suggested here.

There will also be an u

[2022-11-04 06:49] konopkja opened #8491 "Epic: Tutorials revamp (dev & non-dev)"
This epic is part of our Q4 2022 roadmap: https://github.com/ethereum/ethereum-org-website/issues/8399

Since launching in 2021, our developer tutorials have been a huge success. Our tutorials are purely driven by community contributions and 5% of all traffic to the website 🎉 There are now some growing pains:

- [x] too many tags in the UI
- [x] duplicate tags
- [x] outdated tutorials

**Furthermo

[2022-11-04 09:05] Michael-A-Heuer opened #8495 "Sepolia long-term Support unclear"
In the [networks section about sepolia](https://github.com/ethereum/ethereum-org-website/blob/dev/src/content/developers/docs/networks/index.md#sepolia-sepolia) the docs state that

This seems to contradict the announcement https://blog.ethereum.org/2022/06/21/testnet-deprecation

and discussion https://ethereum-magicians.org/t/og-council-post-merge-testnets/9034

On Twitter, client devs from [get

[2022-11-04 09:10] jmcook1186 commented on #8495
Hello - yes that text was out of date - it got updated yesterday in this PR #8481.
Sepolia is supported long term and is the preferred testnet for dapp developers.

[2022-11-04 09:59] q9f commented on #8495
We should incorporate the release and lifecycle schedule maybe? I don't know who said that Sepolia will not be maintained long term. The opposite is true. Sepolia is currently the best bet long term

* https://youtu.be/1UtcvVve32A?t=708
* https://ethereum-magicians.org/t/proposal-predictable-ethereum-testnet-lifecycle/11575/5

[2022-11-04 13:15] emmanuel-awosika commented on #7425
Hi @jmcook1186. Thanks for the feedback. I've left some replies to your comments:

I was thinking about "Protocol" in terms of the overall blockchain network along with its key components. The idea is that anyone who reads the "Protocol" section should have at least a high-level understanding of Ethereum's inner workings, especially the building blocks involved (consensus, EVM execution, etc.).

T

[2022-11-04 13:20] TylerAPfledderer commented on #6374
@pettinarip if this is to be reassigned (`Footer.tsx`), I'm happy to take it over!

[2022-11-04 14:04] pettinarip commented on #6374
Assigned @TylerAPfledderer thanks!

=====
To everyone, there are a few unassigned files. For those who want to pick one, here is the list:
- BoxGrid.tsx
- Breadcrumbs.tsx
- BugBountyCards.tsx
- ExpandableCard.tsx
- Pill.tsx

[2022-11-04 14:05] Master7130 commented on #6374
Can I work on BoxGrid.tsx?

[2022-11-04 14:08] jb-0 commented on #6374
@pettinarip - I'm happy to pick up another, can take a look on the weekend. No preference.

[2022-11-04 14:34] Marcelixoo commented on #6374
Hey @pettinarip, can I work on `BugBountyCards.tsx`?

[2022-11-04 14:44] pettinarip commented on #6374
@Master7130 @jb-0 @Marcelixoo thanks!

[2022-11-04 14:55] nloureiro opened #8500 "Dropdown menu have a <div> directly inside a <ul>"
### Describe the bug

Dropdown menu have a <div> directly inside a <ul> and it's not valid html

inside a <ul> needs to be a <li>

### To reproduce

1. Go to ant page
2. Click on "Learn" form the top navigation on the header
3. inspect the markup from the dropdown options
4. confirm what it's on the screenshot

### Expected behavior

should ve <ul> <li> <div> << if needed to have the same outcome

[2022-11-04 15:20] vdusart commented on #6374
@pettinarip Can I work on the `Pill.tsx` component ?

[2022-11-04 15:26] pettinarip commented on #6374
Done @vdusart! ty

[2022-11-04 16:19] shariqanwar20 commented on #6374
@pettinarip can you assign me another component. No preference

[2022-11-04 18:23] pettinarip commented on #6374
I've assigned `BoxGrid.tsx` to you @shariqanwar20 ty!

[2022-11-04 23:34] MyK134 commented on #6439
This story I’m about to tell right now happens to be the biggest experience I have ever had all my life. I’m a kind of man who believes on nature and has a free heart. I got a new job, and the salary was more than enough for me but I decided to invest in bitcoin so that I can keep my funds save and have access to them when ever without going to the bank. I went to Telegram and sign up with a scam

[2022-11-04 23:45] hoanglamcoin commented on #8468
do you use face? @Corwin Smith

Vào Th 5, 3 thg 11, 2022 lúc 11:45 Corwin Smith ***@***.***>
đã viết:

[2022-11-05 00:24] TylerAPfledderer commented on #8490
I'd like to comment that in observation at the page component level, that a lot of additional styling applied to component could be abstracted away as theme variants for each component?

This could make it a lot easier to visualize those different stylings in Storybook instead of creating page-level stories specifically to include the styling.

I think it would be good to reference here any existi

[2022-11-05 01:31] grey4grey commented on #6439
i was scammed by a forex website Tradestation to be precise to the tune 0f $153,700. was firstly informed that ill be able to withdraw 11.5% roi weekly from the second month of membership and if i invest more, the roi could be increased by 4.5%. i later invested $17,300 to make it a total of $170,000. After the whole investment, i was only able to make a withdrawal for the first week, then after w

[2022-11-05 01:38] MyK134 commented on #6439
This story I’m about to tell right now happens to be the biggest experience I have ever had all my life. I’m a kind of man who believes on nature and has a free heart. I got a new job, and the salary was more than enough for me but I decided to invest in bitcoin so that I can keep my funds save and have access to them when ever without going to the bank. I went to Telegram and sign up with a scam

[2022-11-05 20:23] SNikhill commented on #6374
@pettinarip

The `Accordion.tsx` contains: StableCoinAccordion and apparently, this component is not being used.

Another StablecoinAccordion.tsx component exists and is being used in the Stablecoins page.

[2022-11-06 00:29] psparacino commented on #6374
@pettinarip im free to work on one if there are any remaining👍

[2022-11-06 03:51] mail4metablocks commented on #8288
Can you assign this to me? i can contribute

[2022-11-06 03:55] mail4metablocks commented on #8299
Thanks @shelleyolivia for sharing this,

Can some one please assign this to me? i can add it to the {{https://ethereum.org/en/developers/docs/}}

[2022-11-06 07:03] shelleyolivia commented on #8299
Thank you @mail4metablocks, so appreciate your help!

[2022-11-06 09:19] hoanglamcoin opened #8508 "This is an automated pull request to sync changes between the public and private repos."
This is an automated pull request to sync changes between the public and private repos.

:robot: This pull request should be merged (not squashed) to preserve continuity across repos, so please let a bot do the merging!

__Originally posted by @Octomerger in https://github.com/github/docs/pull/21854__

[2022-11-06 09:19] #8508 closed

[2022-11-07 01:06] TylerAPfledderer commented on #8500
Hey @nloureiro! Indeed, per W3 content model spec, only `li` tags should be direct descendants of the `ul` element.

I would argue that an improvement would be to have separate sub-lists with each heading tied to the sublist (via `aria-labelledby` say). To keep the navigation content dynamic, maybe use logic based on the structure of the [linkSections](https://github.com/TylerAPfledderer/ethereum-

[2022-11-07 01:18] TylerAPfledderer commented on #6374
@SNikhill @pettinarip I wonder if this component was supposed to exist? See PR #1938. It looks to have been added, but never implemented.

[2022-11-07 08:40] Sarahmoos commented on #6439
I come here with good news about a solution to your hacking problems and it comes with ease you just need to follow instructions given to you cause they work as a cooperation and they are kin on following instructions given to them, working with them was one of the  great experiences i had  in my life they made me understand the meaning of a 100% job .Hackingssolution AT  gmail DOT com They can he

[2022-11-07 08:42] MyK134 commented on #6439
This story I’m about to tell right now happens to be the biggest experience I have ever had all my life. I’m a kind of man who believes on nature and has a free heart. I got a new job, and the salary was more than enough for me but I decided to invest in bitcoin so that I can keep my funds save and have access to them when ever without going to the bank. I went to Telegram and sign up with a scam

[2022-11-07 09:30] nloureiro commented on #8500
Yes, it might be better to wait for the next wave of components from the UI migration

[2022-11-07 09:42] minimalsm commented on #8500
This isn't broken (tested on screenreaders too), but I agree we should endeavour to use valid HTML :-) Removed bug tag and added a11y tag instead.

[2022-11-07 09:49] minimalsm opened #8516 "Update Spinner colors to be consistent"
[In this PR](https://github.com/ethereum/ethereum-org-website/pull/8483/files#r1013781740), I noted we should change the spinner colour implemented on the staking page. For this to happen, we must:

1. Decide colour
2. Implement colour consistently across spinners

[2022-11-07 12:22] minimalsm commented on #7240
Closing this out as it is no longer a priority on our Q4 roadmap. Check out our [#content-strategy channel on Discord](https://ethereum.org/discord) if you're still interested in discussing content strategy.

[2022-11-07 12:22] #7240 closed

[2022-11-07 12:22] #6329 closed

[2022-11-07 12:23] minimalsm commented on #6365
Closing in favour of #8491

[2022-11-07 12:23] #6365 closed

[2022-11-07 12:26] minimalsm commented on #7461
Closed with #8094

[2022-11-07 12:26] #7461 closed

[2022-11-07 12:37] dumpslabs opened #8518 "need some sepolia for Development"
Hey @minimalsm can you please provide me 3000 Sepolia ETH on
0x9BDe91219DAb4a30B7151a5cc03cdeDb404804Ca
I'm currently working on some projects that are really dependents of having ETH on some testnet so we can continue development.

Thank you!

[2022-11-07 13:21] pettinarip commented on #6374
Good point @SNikhill @TylerAPfledderer. I think we can delete it. Would appreciate @SNikhill if you can create a PR to do that.

[2022-11-07 13:28] pettinarip commented on #6374
@psparacino all the files are assigned right now. Will let you know when we have more files to migrate :)

[2022-11-07 14:16] TylerAPfledderer commented on #8500
Correct @minimalsm. No problems for me when using NVDA. :)

[2022-11-07 14:42] Sarahmoos commented on #6439
At the point where i could not take it the way my husband treated me in the marriage i was always left alone and i felt neglected and only got comfort from my son who was always there for me, my husband always coming late from work with the excuse of working late little did i know that he was having an affair with a woman from his office and he was always on his phone being secretive with it but w

[2022-11-07 14:44] patrickthrop commented on #6439
What a great success working with the best hacking team out there to recover my lost investment in Bitcoin , earlier last month I was involved with this online investment scheme that a friend introduced me to , but little did we know that the company was all a scam and never really existed though they were offering a huge returns on profits and that triggered my interest the more , the first few w

[2022-11-07 16:03] ritave opened #8522 "Request to add MetaMask Grants DAO to Ethereum grants list"
MetaMask has recently opened a grants programme with a yearly $2.4M budget.

On behalf of MetaMask, I'm requesting it to be added to the [Ethereum grants](https://ethereum.org/en/community/grants/) list.

* [Link to the grants programme that we request to add](https://metamaskgrants.org/)
* [Official announcement](https://consensys.net/blog/press-release/consensys-launches-metamask-grants-dao/)

A

[2022-11-07 16:47] minimalsm commented on #7739
Hey @biancabuzea200

Sorry for the delay here. Please check out the preview of #8523 to ensure you're happy with the change.

Primarily: we had to shorten the description from: "_Balancer is an automated portfolio manager and trading platform. Balancer turns the concept of an index fund on its head: instead of paying fees to portfolio managers to rebalance your portfolio, you collect fees from tra

[2022-11-07 16:59] #7739 closed

[2022-11-07 17:01] samajammin opened #8524 "Add documentation on how to create a new page"
### Is your feature request related to a problem? Please describe.

We don't document how this is done (I don't think?). Would be great to have a resource in our docs:
https://github.com/ethereum/ethereum-org-website/tree/dev/docs

### Describe the solution you'd like

I suspect we should focus on markdown pages to start...

New documentation page that outlines:
- how to create a page via a new fo

[2022-11-07 20:25] biancabuzea200 commented on #7739
Hello all,

Thank you very much for assisting with this. Could you please change the
description to "Your DeFi liquidity infrastructure" instead, please?

Kind regards,
Bianca

On Mon, Nov 7, 2022 at 6:59 PM Paul Wackerow ***@***.***>
wrote:

[2022-11-07 22:32] samajammin commented on #8490
Hey @TylerAPfledderer - thanks for this suggestion!

I've used Storybook on projects in the past & have enjoyed it. Agree it can help to avoid regressions/bugs when making updates to components! It also makes components easier to test & interact with during development. I'd say the primary downside is it adds additional overhead to the project in terms of complexity & maintenance, similar to a tes

[2022-11-07 23:43] TylerAPfledderer commented on #8490
@samajammin thank you for your thoughts! It makes sense to me the concerns that were present with the overheard.

If it helps at all, I find that the tutorial on [Design Systems with Storybook](https://storybook.js.org/tutorials/design-systems-for-developers/) is great to view to see what Storybook generally recommends in setting up the workflow for design systems.

I think Chromatic is an easy ad

[2022-11-08 15:39] samajammin opened #8532 "Rethink "Roadmap" section of About page"
### Is your feature request related to a problem? Please describe.

We currently have a "Roadmap" section of About page:
https://ethereum.org/en/about/#roadmap

It outlines a process of how we approach work on the website:

Then it pulls in various GH issues (via GH API) with the associated labels:
- planned: `Status: Up Next`
- in progress `Status: In Progress`

Then for "implemented" I believe i

[2022-11-08 15:45] samajammin opened #8533 "Add Design System info to About page"
### Is your feature request related to a problem? Please describe.

Currently we list information about our "design principles" on this page:
https://ethereum.org/en/about/#design-principles

But there's no mention of the design system that's in progress (#6284).

### Describe the solution you'd like

Now that the design system (#6284) is in progress & we have [Figma files we can reference](https:

[2022-11-08 19:25] uday03meh commented on #7201
Hi @samajammin, I would like to work on this issue.
Please assign it to me.

[2022-11-08 21:08] pettinarip commented on #6374
Assigning `TutorialTags.tsx` to you @psparacino.

[2022-11-08 21:25] goncharov-vlad opened #8538 "Add new product to Digital collectibles list. NFT collectors social network"
I wanna add my project to the list.
This is it https://indigos.app

This platform ensures that you won't be alone as a web3 user. It also can be used as an effective marketing tool for advertising NFTs, because of its blockchain community you interact with directly

You can read more about it on https://indigos.app/about page

[2022-11-09 10:57] EugeneBezuglyi opened #8543 "Add Hacken and HackenProof to smart-contracts/testing/index.md"
Adding Hacken (https://hacken.io/) to the Smart contract auditing services list.
Hacken – Web3 cybersecurity auditor bringing the 360-degree approach to blockchain security.

Adding HackenProof (https://hackenproof.com/) to the Bug bounty platforms list.
HackenProof – Expert bug bounty platform where blockchain projects only pay for verified, relevant and in-scope bug reports.

[2022-11-09 10:57] EugeneBezuglyi commented on #8543
Relate PR: https://github.com/ethereum/ethereum-org-website/pull/8544

[2022-11-09 12:08] danceratopz opened #8546 "Add a section describing how a transaction gets executed to developers/docs/consensus-mechanisms/pos/"
### Is your feature request related to a problem? Please describe.

There's a section in [developers/docs/consensus-mechanisms/pow/index.md](https://github.com/ethereum/ethereum-org-website/blob/7410a42d41d0c63fa8ca0ad68d9e30a99c93705f/src/content/developers/docs/consensus-mechanisms/pow/mining/index.md) that describes how transactions were mined in PoW. It could be useful to have an analogous top

[2022-11-09 12:17] minimalsm opened #8547 "Links in JSON are unstyled"
### Describe the bug

The links that we create through HTML embedded in JSON are not getting styled. Other tags (e.g. bold, italics) seem to be working fine.

Some pages this effects:
https://ethereum.org/en/run-a-node/
https://ethereum.org/en/staking/
https://ethereum.org/en/layer-2/
https://ethereum.org/en/what-is-ethereum/

### To reproduce

1. Go to 'https://ethereum.org/en/layer-2/'
2. Search

[2022-11-09 14:25] TylerAPfledderer commented on #8547
@minimalsm looks like the styling got lost when moving `GlobalStyle.tsx` to the Chakra theme in `styles.ts`. There may be a few others that of been missed as well?

[2022-11-09 14:52] sandraparker7840 commented on #6439
In need of a Data Analyst?
I help in social media hacks like verification
and followers
In need of a Private investigator?
Hacking?
Bitcoin mining
Cash bitcoin investment also
Contact bestappshackers(at)gmail(dot)com

[2022-11-09 14:53] sandraparker7840 commented on #6439
In need of a Data Analyst?
I help in social media hacks like verification
and followers
In need of a Private investigator?
Hacking?
Bitcoin mining
Cash bitcoin investment also
Contact bestappshackers(at)gmail(dot)com

[2022-11-09 14:57] patrickthrop commented on #6439
I was scammed over $1.850.000. I talked with this guy for 8 months. I sent him money via Bitcoin atm and bank account, I almost lost everything. But for the timely intervention of the Donald Programmer, who just in kick-off on time got back my $1.850.000. He is really good at what he does, I have recommended him to friends and co-workers who all became satisfied customers. He has helped me a lot i

[2022-11-09 18:54] #8547 closed

[2022-11-09 20:23] pettinarip opened #8550 "Incorrect styles on `Pill` component"
### Describe the bug

Do to recent the recent Chakra migration on the `Pill` component #8501 the styles on light mode are not the correct ones. Check the screenshots below.

### To reproduce

1. Go to https://ethereumorgwebsitedev01.gtsb.io/en/layer-2/
2. Scroll down to the "Application specific layer 2s" section
3. See the incorrect styles

### Expected behavior

We should apply the correct style

[2022-11-09 20:29] pettinarip opened #8551 "Replace `Pill` component with the Chakra `Badge` component"
### Is your feature request related to a problem? Please describe.

Currently we are using [a custom component (`Pill`)](https://github.com/ethereum/ethereum-org-website/blob/dev/src/components/Pill.tsx) to display a badge like component.

Since we are migrating over using Chakra components, we need to replace this custom component with the Chakra one.

### Describe the solution you'd like

`Badge

[2022-11-09 21:15] TylerAPfledderer opened #8552 "Consolidate Table of Content Components"
A part of this [Discord discussion](https://discord.com/channels/714888181740339261/870313128242602004/1039930750805475438)

Investigate whether or not the ToC components need to be consolidated, at least between `UpgradeTableOfContents` and `StakingHomeTableOfContents` as they contain similar styling and display similar content.

[2022-11-09 21:16] TylerAPfledderer commented on #8552
@wackerow or @pettinarip please assign to me, as I have already begun exploring the issue.

[2022-11-10 02:42] TylerAPfledderer commented on #8552
@pettinarip a couple of initial observations:

There are three components for table of contents:
  - [TableOfContents](https://github.com/ethereum/ethereum-org-website/blob/dev/src/components/TableOfContents.tsx)
  - [UpgradeTableOfContents](https://github.com/ethereum/ethereum-org-website/blob/dev/src/components/UpgradeTableOfContents.tsx)
  - [StakingHomeTableOfContents](https://github.com/ether