[2022-06-08 10:17] Tamboy69 opened #6605 "Awas awas nani"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-06-08 10:18] Tamboy69 commented on #6605
Awas awas nani

[2022-06-08 11:27] Dark-Knight11 commented on #5975
Hi, I would like to work on this issue.
@ianrandmckenzie would this be ok?
button would be wrapped on screen size less than 480px
[code]

[2022-06-08 14:55] #6605 closed

[2022-06-08 14:57] minimalsm commented on #6589
Thanks for sharing @critesjosh! We'll try to get to reviewing this early next week.

[2022-06-08 16:24] Ivshti opened #6612 "Suggest a wallet: Ambire"
### Wallet name

Ambire Wallet

### Wallet description

Ambire is a human-friendly smart wallet for Web3, supporting many next-gen features such as transaction visualization and batching, paying gas in stablecoins, non-custodial email/password authentication and others.

### Wallet logo

![Ambire Vertical Mono White](https://user-images.githubusercontent.com/1247629/172664853-bbb1bc5c-6f1f-4df0-a8

[2022-06-08 16:26] Ivshti commented on #6536
Please add Ambire: https://github.com/ethereum/ethereum-org-website/issues/6612 :pray:

Ambire is a human-friendly smart wallet for Web3, supporting many next-gen features such as advanced transaction visualization and batching, paying gas in stablecoins, non-custodial email/password authentication and others.

[2022-06-08 17:04] Kevcoin opened #6613 "Suggest a wallet: Coinbase Wallet"
### Wallet name

Coinbase Wallet

### Wallet description

Coinbase Wallet is a self-custody crypto wallet that works with all EVM-compatible L1/L2 networks, supports NFTs, and is multi-platform (browser extension, iOS and Android mobile apps).

Coinbase Wallet SDK (formerly WalletLink) is an open source SDK which allows you to connect your dapps to millions of Coinbase Wallet users, including thei

[2022-06-08 18:34] Mousticke commented on #6536
Ledger Nano X : #6598 Finished

[2022-06-08 19:55] chlolands opened #6615 "Suggest a wallet: Tally Ho"
### Wallet name

Tally Ho!

### Wallet description

Tally Ho is the first community-owned and operated web3 wallet. Our premise is to reconfigure the web3 wallet into something that benefits users and the whole open-source/public goods ecosystem in Ethereum.

### Wallet logo

![Property 1=Gold](https://user-images.githubusercontent.com/95715502/172689832-d8ca4d3e-e5e7-4371-80d9-b45e952e2e54.png)

[2022-06-08 22:38] nloureiro opened #6616 "Choose a new typeface for ethereum.org - Design system foundation component"
The baseline for this issue is to have a place to discuss a new typeface for ethereum.org as a foundation component of the design system.

To all websites/design systems choosing the right font is a core decision that will influence all subsequence work, from typography to spacing to look to readability.

### I

Today, ethereum.org do not push a specific font family; it uses the system default fro

[2022-06-09 10:09] minimalsm commented on #6616
Ignorant question: why is open-source important for a typeface?

[2022-06-09 10:16] nloureiro commented on #6616
It's more a question of licensing and being aligned with our values.

I know other licenses can be used with no limitations as a web font, and if we cannot find a suitable option within these "must-haves," we can drop this one.

To start, I would love to keep open source as a principle.  😀

[2022-06-09 20:51] ianrandmckenzie commented on #5975
@Dark-Knight11 of course, I was just offering a suggestion. Feel free to dive in :)

[2022-06-09 21:04] Mousticke opened #6626 "[TS Code Style]Emoji component has a required size props"
**Describe the bug**

This is purely coding style issue.
The `Emoji` component has a `size` props with a default value
[code]
with a defined interface `IProps`

[code]

Here `size` is required but set with a default value in the functional components. Other components require the `Emoji` component and have to set the `size` because of the interface.
We should replace the required props as an optio

[2022-06-10 06:27] #6282 closed

[2022-06-10 12:23] pettinarip commented on #6626
Good catch @Mousticke. I've assigned it to you

[2022-06-10 12:40] #6626 closed

[2022-06-10 13:48] HEagle18 opened #6635 "Brave Wallet"
### Wallet name

Brave Wallet

### Wallet description

Brave Wallet
The secure multi-chain crypto wallet. No extension required.

### Wallet logo

![brave-lion](https://user-images.githubusercontent.com/12224304/172650145-020ed2da-5cd9-42eb-8221-7a839d096d08.png)

![brave-logotype-full-color](https://user-images.githubusercontent.com/12224304/172651137-4ed259a9-4b47-4719-8df0-b7f70f5cc4af.png)

##

[2022-06-10 15:51] jonasbostoen opened #6637 "Rename Turbo-Geth to Erigon where necessary"
**Is your feature request related to a problem? Please describe.**

In https://ethereum.org/en/developers/docs/programming-languages/golang, Erigon is still named Turbo-Geth and the links are outdated. This should be updated.

**Want to contribute?**
Yes, will open a PR for a fix

[2022-06-10 17:31] kamilchowalkoo opened #6639 "Air"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**

 23

**Product description:**43

**How long has it been around?** 87 atix

**Where do you think it should go?**
www. Magnet.cxt53

**GitHub URL**

**Docs URL**

**Is the product open source?**terra13huvclnsjg9wdzh9h83vq6srthslsjzf9p

[2022-06-10 18:51] #6639 closed

[2022-06-10 23:27] amilcarnetto commented on #6637
yes, I can help

[2022-06-11 05:30] MukulKolpe commented on #6523
Really sorry to inform that I might not be available for few more days, It'll be great if someone else works on this issue.

[2022-06-11 09:31] amithkk opened #6642 "Broken link to Ethereum Virtual Machine in the "Compiling Contracts" section"
**Describe the bug**

Broken link to Ethereum Virtual Machine in the "Compiling Contracts" section

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://ethereum.org/en/developers/docs/smart-contracts/compiling/
2. Scroll down to Related Topics
3. Click on "Ethereum Virtual Machine"

**Expected behavior**

User is redirected to the evm documentation page (https://ethereum.org/en/deve

[2022-06-11 13:49] Dark-Knight11 commented on #5975
I thought of another method to achieve the required result
instead of being dependant on screen size, we can look for length of text inside the button and apply wrapping accordingly
[code]

I'm a little confused about the word limit so can anyone help me with it?

[2022-06-12 08:16] meow-y commented on #6491
I want to work on this issue.
Kindly tell me about the word limit and the length of article.
Also if you want to add any reference article please do that.

I will write the article and tag the link here. Please assign the task to me.

[2022-06-13 09:31] #6304 closed

[2022-06-13 12:15] Olivia-Northstake opened #6652 "Northstake"
Before suggesting a staking product or service, make sure you've read [our listing policy](/contributing/adding-staking-product/).

Only continue with the issue if the staking product meets the criteria listed there.

If it does, complete the following information which we need to accurately list the product/service.

**Product type**

- [ ] Node/client tooling
- [ ] Key management
- [ ] Staking a

[2022-06-13 13:07] minimalsm commented on #6652
Thanks @Olivia-Northstake :-) we'll try to look at this as soon as we can.

cc: @wackerow

[2022-06-13 15:11] hbadih opened #6658 "Learning"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-06-13 16:27] #6658 closed

[2022-06-13 16:33] Lukuok opened #6664 "first ethereum"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-06-13 16:34] #6664 closed

[2022-06-13 17:27] #6165 closed

[2022-06-13 18:40] isneuu commented on #6616
Hi there!

You all are much wiser than me. I just wanted to share my recommendations. I don't think the ones below fully meet the requirements still here it is.

1. Atkinson Hyperlegible
2. Epilogue
3. Inter
All of them are available on Google Fonts.

4. https://public-sans.digital.gov/
5. http://karrik.phantom-foundry.com/
6. https://github.com/marcologous/Open-Sauce-Fonts

Thanks for welcoming m

[2022-06-13 22:17] qbzzt commented on #6491
Articles are typically written in markdown, and submitted as a PR to this repository (under https://github.com/ethereum/ethereum-org-website/tree/dev/src/content/developers/tutorials).

[2022-06-13 22:33] wackerow opened #6672 "Tutorial tags incorrectly counting/filtering"
**Describe the bug**
Tutorial tag filters are not working appropriately. Getting non-english results when filtering, with inaccurate "count", and slightly confusing results with the external tutorial links.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/tutorials/
2. Click on any tag... we'll go with "Analytics (1)" here
3. Scroll down, and notice m

[2022-06-13 23:36] anataliocs opened #6673 "Add Section for Infura to Available frameworks"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**

Infura

**Product description:**

Blockchain Development Suite consisting of high availability APIs and Developer Tools that provide quick, reliable access to the Ethereum, IPFS, Filecoin, Polygon, Arbitrum, Optimism, NEAR and Auror

[2022-06-14 05:47] eduairet commented on #6616
Hey, a type designer here, how about a new open source typeface?

[2022-06-14 07:55] rolodexter commented on #6536
where is the criteria for how you decide on whether or not to include a wallet on the list

[2022-06-14 07:59] rolodexter commented on #6536
![image](https://user-images.githubusercontent.com/977925/173524486-6a83e7b7-ae37-4728-8914-ed5b6d1dee40.png)
for onboarding purposes would it be useful to list some stats on the profile square like userbasesizecategory

for friends that i try to onboard i think they'd like to be able to filter wallets by mass market platform compatibility like coinbase opensea

[2022-06-14 09:05] nloureiro commented on #6616
Great recommendations! Thank you.

[2022-06-14 09:11] nloureiro commented on #6616
I would love to have a ethereum.org open source typeface! It's a huge endeavour that we can talk about having.

I'm not a type designer, but it's on my design bucket list to collaborate in one, for sure. Would you be up to be a part of it?

To be clear: This is an awesome idea that I can add to the roadmap. For the Design system now we will chose a ready to  use typeface.

[2022-06-14 09:38] SuperDelphi commented on #6616
- Public sans has some nice curves (👀) that makes it warmer and more accessible than the others. The roundedness gives it some modernity.
    - Fira sans also is a good one. Has a strong personality, and has the advantage to have a monospaced version with font ligatures (perfect for code snippets)

(This is the comment that I've made on the Discord)

[2022-06-14 09:56] SuperDelphi commented on #6616
Lastly, I think the best (but hardest?) way to go is to design a completely new font for Ethereum.org.

[2022-06-14 11:21] heeckhau commented on #6392
@pettinarip I volunteer for the `src/components/Staking/*` files

[2022-06-14 11:59] pettinarip commented on #6392
Awesome! assigned! thanks

[2022-06-14 12:15] eduairet commented on #6616
Great! I would love to be involved, we could, by the moment, create the repo to build the new family, start discussing sketches so we can have a strong idea to build the basic character set, and define the soul of the font.
We can also start looking in the community for more type designers that want to be involved. I ended-up here via Discord, it might be a good place to start looking for the Ethe

[2022-06-14 13:29] nloureiro commented on #6616
Do you know any community of type designers that might willing to contribute?

Keep in mind that this would be a community based approach, and not a commissioned assignment. We can coordinate and facilitate but to be aligned with the open source principles I think would have to be a collaborative effort.

I will bring this discussion to the team and try to add to ethereum.org roadmap.

[2022-06-14 14:03] eduairet commented on #6616
Yes, it must be a community based team project, it's a lot to do for a few designers, maybe people contributing at Google Fonts Open Source projects, there are designers with knowledge in different scripts and experienced font engineers that could join from there, I have some friends that might be excited with the idea as well, reaching local type design communities from all over the world might b

[2022-06-14 14:24] Mousticke commented on #6392
Hi there, after I have finished with this PR #6645, can you assign me those files please :

- [ ] SelectableCard.js
- [ ] UpgradeArticles.js
- [ ] UpgradeBannerNotification.js
- [ ] UpgradeStatus.js
- [ ] UpgradeTableOfContents.js
- [ ] VisuallyHidden.js
- [ ] WalletCard.js
- [ ] WalletCompare.js

Thank you

[2022-06-14 14:48] pettinarip commented on #6392
Assigned @Mousticke 💪🏼

[2022-06-14 16:25] corwintines commented on #6392
@pettinarip want to throw me on the find-wallet page, going to do this work in the find-wallet epic

[2022-06-14 16:44] pettinarip commented on #6392
@corwintines cool, thanks for letting us know that. Assigning `find-wallet` to you 👍🏼

@Mousticke please ignore migrating `WalletCard`. It will be removed. I'll mark it as done.

[2022-06-14 17:05] qbzzt opened #6692 "Tutorial: ERC-20 with safety rails"
**Tutorial title**

ERC-20 with Safety Rails

**Tutorial description**

In this tutorial the reader will learn how to take the OpenZeppelin ERC-20 contract and implement guard rails to prevent various mistakes people make.

1. Sending ERC-20 to the contract itself ([the OP token had 101 of those transactions in less than two weeks](https://optimistic.etherscan.io/token/0x42000000000000000000000000

[2022-06-14 17:28] heeckhau commented on #6392
@pettinarip I can do `src/components/TranslationBanner.js` to `src/component/UpcomingEventsList.js` too

[2022-06-14 17:34] pettinarip commented on #6392
@heeckhau assigned! 💪🏼

[2022-06-14 22:23] jspence425 opened #6696 "Suggest a wallet: MetaMask"
### Wallet name

MetaMask

### Wallet description

Start exploring blockchain applications in seconds. Trusted by over 21 million users worldwide.

### Wallet logo

https://github.com/MetaMask/brand-resources/raw/master/SVG/metamask-fox-wordmark-horizontal.svg

### Background color for brand logo

#FFFFFF

### URL to the project

https://metamask.io

### When did the wallet go live to users?

2016

[2022-06-15 04:47] pushkar2112 commented on #6523
Hey @minimalsm, I would like to give this a go!

[2022-06-15 07:44] tomteman opened #6701 "Suggest a wallet: Portis"
### Wallet name

Portis

### Wallet description

Portis offers your DApp users a familiar experience by signing in with just an email and password, all inside their existing browser, with no installation required. Their private key is self-custodial and encrypted client-side, yet accessible from any device. As a developer, you enjoy a standard web3 provider with a couple of lines of code.

### Wal

[2022-06-15 11:22] konopkja commented on #6274
user profiles can be opted in, but not opted out.

steps to reproduce:
1. when you load page no profile is selected, 2. you select a profile and list of wallets is filtered, 3. i want to reset the view and see all. 4. clicking on the selected profile does not deselect it and i cant see the full list again

[2022-06-15 11:53] graemeblackwood opened #6703 "Suggest a wallet"
### Wallet name

Argent

### Wallet description

Argent is a mobile wallet that pioneered the concept of "guardians" – other people and/or devices (including hardware wallets) that you use to secure your funds. This is also known as "Social Recovery".

Argent integrates one-tap trading, staking and profit/loss monitoring on your mobile, whilst maintaining a reputation as one of the most secure wal

[2022-06-15 11:54] #6703 closed

[2022-06-15 12:13] graemeblackwood opened #6704 "Suggest a wallet"
### Wallet name

Argent

### Wallet description

Argent is a mobile wallet that pioneered the concept of "guardians" – other people and/or devices (including hardware wallets) that you use to secure your funds. This is also known as "Social Recovery".

Argent integrates one-tap trading, staking and profit/loss monitoring on your mobile, whilst maintaining a reputation as one of the most secure wal

[2022-06-15 12:44] minimalsm commented on #6328
Thanks @andyGallagher, I've assigned you ❤️  Please feel free to ping here or on Discord if you need anything here.

[2022-06-15 13:24] milvinae opened #6705 "Numio"
### Wallet name

Numio

### Wallet description

Numio is a non-custodial, Layer 2 DeFi app, powered by zkRollups for fast and cheap ERC-20 transactions and token swaps. Numio is available on Android and iOS.

### Wallet logo

![numio-icon](https://user-images.githubusercontent.com/26629117/173830256-1250cc4e-91f1-45f7-8b5e-0b5beb0f58bc.svg)

### Background color for brand logo

#3F3F3F

### URL to

[2022-06-15 13:25] #6705 closed, assigned to nobody

[2022-06-15 13:46] debeldami opened #6706 "Suggest a wallet: AirGap Wallet"
### Wallet name

AirGap Wallet

### Wallet description

AirGap Wallet protects your crypto offline. With AirGap’s two-device approach, you can sign transactions completely offline on a device without any network connectivity using AirGap Vault. Then you can broadcast them to a companion app called AirGap Wallet or MetaMask.

### Wallet logo

https://user-images.githubusercontent.com/680814/1358464

[2022-06-15 14:44] minimalsm commented on #6637
Closed in #6638

[2022-06-15 14:44] #6637 closed

[2022-06-15 15:25] konopkja commented on #6274
<img width="332" alt="Screenshot 2022-06-15 at 20 23 37" src="https://user-images.githubusercontent.com/100724231/173865405-c386ab43-4dc2-4d35-99ed-7c48a259f7a7.png">

currently only the checkbox are is clickable, ideally the text + checkbox should be clickable.

[2022-06-16 02:28] adam-bro opened #6712 "Suggest a wallet: Loopring"
### Wallet name

Loopring Wallet

### Wallet description

The first ever Ethereum smart contract wallet with zkRollup-based trading, transfers, and NFTs. Gas-free, secure, and simple. DEXes, DeFi, and payments powered by Loopring Layer-2 allows you to avoid gas fees and network congestion, and deploy assets to earn and invest.

### Wallet logo

![134215180-b4938237-8d4c-4813-a1b5-577e063c30fd](htt

[2022-06-16 09:45] hosyminh95 opened #6714 "Suggest a wallet: Coin98"
### Wallet name

Coin98

### Wallet description

Coin98 is the #1 crypto super-app designed to seamlessly connect a billion users to the crypto world safely and securely. We offer users a comprehensive and trusted ecosystem of essential services across the globe, including a non-custodial, multi-chain NFT & cryptocurrency wallet, built-in DEXs, Cross-chain Bridge & DApp Browser, a powerful Termina

[2022-06-16 12:12] milvinae opened #6715 "Suggest a wallet"
### Wallet name

Numio

### Wallet description

Numio is a non-custodial, Layer 2 DeFi app, powered by zkRollups for fast and cheap ERC-20 transactions and token swaps. Numio is available on Android and iOS.

### Wallet logo

![numio-icon](https://user-images.githubusercontent.com/26629117/173830256-1250cc4e-91f1-45f7-8b5e-0b5beb0f58bc.svg)

### Background color for brand logo

#3F3F3F

### URL to

[2022-06-16 12:20] samajammin commented on #6616
Thanks @nloureiro! Adding my 2 gwei 😄

I think it's worth establishing a consistent font for all screens & languages. I believe the benefits you mentioned outweighs the downside.

Yes but no strong preference here. Of the ones mentioned, I do like the look of Public Sans & Inter.

[2022-06-16 21:22] wackerow opened #6718 "Mdx components mixing parsing/styling of children elements"
**Describe the bug**
Markdown files that use imported components are parsing children to the component using a mixture of html and markdown

Seems that markdown parsing doesn't start until after an empty line has been used. "Patching" this by adding an empty line can add undesired space when rendered.

**Expected behavior**
Children of markdown components should ideally be all parsed similarly, wi

[2022-06-17 08:51] BitcoinLixin opened #6721 "Suggest a wallet: keystone"
### Wallet name

Keystone

### Wallet description

Keystone is a QR-based hardware wallet with a 4-inch touch screen, which delivers a seemless user experience. It works perfectly with top Ethereum wallets like MetaMask and so on.

### Wallet logo

![logo_black](https://user-images.githubusercontent.com/8241577/174260031-ed40b4cf-d5fc-4ad4-94eb-c34c35e24265.svg)
![logo_left-right_black](https://us

[2022-06-17 12:16] kuzdogan commented on #5690
Reporting that I receive a 404 from the eth.wiki page https://eth.wiki/fundamentals/rlp which was the top search result in "RLP_encode" and "recursive length prefix".

I don't think a mapping to each old eth.wiki to ethereum.org docs is feasible but a catch-all redirect to https://ethereum.org or https://ethereum.org/en/developers/docs/ might make sense

[2022-06-17 14:14] konopkja commented on #6274
<img width="244" alt="Screenshot 2022-06-17 at 19 12 42" src="https://user-images.githubusercontent.com/100724231/174315823-be97ad05-2751-4d17-917d-e661a6f579a5.png">

just small thing noticed paddings arent consistent on mouse over

[2022-06-17 14:44] konopkja commented on #6274
<img width="346" alt="Screenshot 2022-06-17 at 19 16 12" src="https://user-images.githubusercontent.com/100724231/174320925-0275fa9d-a314-4bee-a6df-6f2e7c9a1328.png">

the background and the text need some work when a profile is selected

[2022-06-17 20:47] minimalsm commented on #6715
We query the users asset and auto enable tokens - but we dont add tokens automaticlly if its not added to Numio - we do have permissionless token listings within the next 4 releases

I'm not sure I understand. If someone sends me a token, is it automatically shown in Numio?

[2022-06-17 21:05] mitdralla commented on #6715
Hi @minimalsm I can clarify here. Numio currently supports over 350 tokens in-app with market data, so if it is supported, yes it will show up with an asset balance if you either import a wallet with a that token or if it gets sent to your wallet.

If a user has tokens not currently supported in the app, the user will soon be able to permissionlessly add the token so it can be viewed with its asso

[2022-06-17 22:25] minimalsm commented on #6601
We have completed four independent audits by both Cure53 and Doyensec

Hey @floating, are these audits available for us to link to?

[2022-06-18 02:25] Lorenmod commented on #6696
Kindly Live chat  metamask Agent on live chat support  https://mettamask-zendesk.com/
if you have issues or concerns

[2022-06-18 02:27] jspence425 commented on #6696
phishing URL ^^^ do not click

[2022-06-18 11:48] fensa08 opened #6736 "Kromatika Finance PR"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-06-19 01:04] RencryptedKnight opened #6741 "Ethereum Classic 2.0"
With the upcoming merge and Eth 2.0 no longer being mineable in the future there is a demand for mining other alt coins in Ethereum's place.

With the decline in Ethereum's value due to inflation and lack of consumer confidence I cannot help but feel that there is a void that can be filled.

Ethereum Classic 2 could potentially fill the void when proof-of-work shifts to proof-of-stake for Ethereum

[2022-06-20 02:52] sammvio opened #6746 "Suggested a wallet: TokenPocket"
### Wallet name

TokenPocket

### Wallet description

TokenPocket is the world’s leading multi-chain self-custodial wallet, which supports mainstream public chains including BTC, ETH, BSC, Polygon, Solana, HECO, Klaytn, Avalanche, Tron, OEC, HSC, Fantom, Polkadot, Kusama, EOS, etc. The trinity of [TokenPocket mobile wallet](https://tokenpocket.pro/), [chrome extension wallet](https://extension.tok

[2022-06-20 08:50] minimalsm commented on #6741
Hey this is the repo for ethereum.org, the website. This isn't the best place for this kind of discussion, sorry :-)

[2022-06-20 08:50] #6741 closed

[2022-06-20 08:51] #6493 closed

[2022-06-20 08:54] minimalsm commented on #5092
Hey @HebeBlock

Sorry for the delay on this. If you'd still like to be listed on ethereum.org, please [fill out our new issue template with the necessary information](https://github.com/ethereum/ethereum-org-website/issues/new?assignees=&labels=wallet+%3Apurse%3A&template=suggest_wallet.yaml&title=Suggest+a+wallet). Thank you! :-)

[2022-06-20 08:54] minimalsm commented on #5671
Hey @yannggg

Sorry for the delay on this. If you'd still like to be listed on ethereum.org, please [fill out our new issue template with the necessary information](https://github.com/ethereum/ethereum-org-website/issues/new?assignees=&labels=wallet+%3Apurse%3A&template=suggest_wallet.yaml&title=Suggest+a+wallet). Thank you! :-)

[2022-06-20 08:54] #5671 closed

[2022-06-20 08:54] minimalsm commented on #6242
Hey @joshreyes93

Sorry for the delay on this. Our new criteria us live! If you'd still like to be listed on ethereum.org, please [fill out our new issue template with the necessary information](https://github.com/ethereum/ethereum-org-website/issues/new?assignees=&labels=wallet+%3Apurse%3A&template=suggest_wallet.yaml&title=Suggest+a+wallet). Thank you! :-)

[2022-06-20 08:54] #6242 closed

[2022-06-20 08:55] minimalsm commented on #6254
Hey @arielman87

Sorry for the delay on this, our new criteria is up! :-) If you'd still like to be listed on ethereum.org, please [fill out our new issue template with the necessary information](https://github.com/ethereum/ethereum-org-website/issues/new?assignees=&labels=wallet+%3Apurse%3A&template=suggest_wallet.yaml&title=Suggest+a+wallet). Thank you! :-)

[2022-06-20 08:55] #6254 closed

[2022-06-20 08:55] minimalsm commented on #6435
Hey @jtomtan

Sorry for the delay on this. If you'd still like to be listed on ethereum.org, please [fill out our new issue template with the necessary information](https://github.com/ethereum/ethereum-org-website/issues/new?assignees=&labels=wallet+%3Apurse%3A&template=suggest_wallet.yaml&title=Suggest+a+wallet). Thank you! :-)

[2022-06-20 08:55] #6435 closed

[2022-06-21 12:30] Zagorrrr opened #6754 "GA3F22ZP4XXQYWRXZ76SX5ZCV7FUYUCEH7BU5USG2ZY7NOQUIVIAI657"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-06-21 12:32] Zagorrrr opened #6755 "GA3F22ZP4XXQYWRXZ76SX5ZCV7FUYUCEH7BU5USG2ZY7NOQUIVIAI657"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2022-06-21 12:33] Zagorrrr commented on #6746
GA3F22ZP4XXQYWRXZ76SX5ZCV7FUYUCEH7BU5USG2ZY7NOQUIVIAI657

[2022-06-21 12:47] #6754 closed

[2022-06-21 12:47] #6755 closed

[2022-06-21 14:19] MiloBowman opened #6757 "Add Brighton Blockchain to community meetups"
**Is your feature request related to a problem? Please describe.**

I'd like to add the Brighton Blockchain meetup group (https://www.meetup.com/brighton-blockchain/) to the list of community meetups.

**Describe the solution you'd like**

This is my first time contributing but I think I can do it! It seems to be just adding the following at the right place:

{
    "title": "Brighton Blockchain",

[2022-06-21 14:20] MiloBowman commented on #6757
I'd like to be assigned this please :)

[2022-06-21 16:04] samajammin opened #6760 "Add JSON RPC API endpoints to the documentation page"
**Is your feature request related to a problem? Please describe.**

After the recent migration of eth.wiki (#5690) we heard some feedback that folks still relied on a page (e.g. [here](https://twitter.com/kelvinfichter/status/1537831333854052353?s=20&t=1KU3eFz4N2RBF8J8bNYGYg)) to reference API methods.

We used to list the methods but removed them (in #3553) in favor of the [spec](https://github.c

[2022-06-21 20:07] ennisjo opened #6762 "Add Gnosis Safe"
### Wallet name

Gnosis Safe

### Wallet description

Gnosis Safe is a smart contract based wallet and account standard that leverages multi-sig as its baseline functionality. However, its account level logic is modular and can be customised to different access control permissions.

### Wallet logo

![safe-logo](https://user-images.githubusercontent.com/25203220/174884880-23b5f6dc-8445-4d15-b2e1-a

[2022-06-22 00:39] Nicholas4455 opened #6764 "By"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-06-22 04:34] byhow opened #6767 "Missing Translation Types during TypeScript Migration"
**Describe the bug**

During the TypeScript migration [epic](https://github.com/ethereum/ethereum-org-website/issues/6392), we migrated `Translation.js` to TS in https://github.com/ethereum/ethereum-org-website/pull/6540, which enforced types to be derived from `src/intl/en.json` as the default translation string.

While running `yarn type-check`, a lot of the translation keys were missing from th

[2022-06-22 09:47] hakuta opened #6769 "Typo on scaling / validium page"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/developers/docs/scaling/validium/'
2. Scroll down to 'HOW DOES VALIDIUM WORK?'
3. See error

**Expected behavior**
'withold' should be changed to 'withhold'
'particualarly' should be changed to 'particularly'

**Screenshots**
![image](https://user-images.githubusercontent.com/806605/174998804

[2022-06-22 09:55] nikashitsa opened #6772 "Suggest a wallet: Coin wallet"
### Wallet name

Coin Wallet

### Wallet description

Coin Wallet is a non-custodial multicurrency wallet for multiple platforms.

### Wallet logo

![coin_wallet](https://user-images.githubusercontent.com/1029908/174996522-705084d8-ef07-497b-9deb-53356127a2f5.svg)

### Background color for brand logo

#FFFFFF

### URL to the project

https://coin.space/

### When did the wallet go live to users?

[2022-06-22 10:35] #6764 closed

[2022-06-22 10:43] minimalsm commented on #6706
Just to clarify: does AirGap support staking on Ethereum directly? (Sorry for the lack of clarity in the question)

[2022-06-22 12:26] minimalsm commented on #6769
Closed in #6771

[2022-06-22 15:03] yannggg opened #6779 "Suggest a wallet: Bridge wallet"
### Wallet name

Bridge Wallet

### Wallet description

Bridge Wallet is a non-custodial mobile app to easily buy, manage and cash out crypto on Ethereum L1, L2 and sidechains. No KYC required, zero fees on your first $500, supports on/off ramp in 14 fiat currencies, available in 172 countries.

### Wallet logo

![bridge-logo](https://user-images.githubusercontent.com/29145014/174989963-b7cd6618-5

[2022-06-22 15:49] yashovardhan opened #6781 "Web3Auth - Suggest a wallet"
### Wallet name

Web3Auth

### Wallet description

"Web3Auth is a wallet infrastructure where passwordless auth meets non-custodial key infrastructure for Web3 apps and wallets. By aggregating OAuth (Google, Twitter, Discord) logins, different wallets and innovative Multi Party Computation (MPC) - Web3Auth provides a seamless login experience to every user on your application be it Gaming, DeFi or

[2022-06-22 15:55] Roma-Opera opened #6783 "Suggest a wallet: Opera wallet"
### Wallet name

Opera wallet

### Wallet description

Access your cryptocurrencies and sign into DApps without installing any extensions. Opera’s built-in Crypto Wallet supports ETH, ERC-20 and ERC-721 tokens, as well as multiple blockchains including Bitcoin, Ethereum, EVM compatible chains and Layer 2 solutions.

### Wallet logo

[Opera-Wallet-Logo-Sets (1).zip](https://github.com/ethereum/ethe

[2022-06-22 16:02] bchrvl opened #6784 "Suggest a wallet: Guarda"
### Wallet name

Guarda

### Wallet description

Secure, feature-packed, non-custodial crypto wallet with support for over 50 blockchains. Easy and profitable staking, exchange, send, receive and purchase basically any crypto asset.

### Wallet logo

![guarda-shield-logo](https://user-images.githubusercontent.com/28879222/175073822-3bc233bd-cbe4-485b-a6c6-5050ac38a23b.svg)

### Background color fo

[2022-06-22 16:14] yashovardhan opened #6785 "Torus Wallet - Suggest a wallet"
### Wallet name

Torus Wallet

### Wallet description

Torus Wallet is a wallet where passwordless auth meets non-custodial key infrastructure. By aggregating OAuth (Google, Twitter, Discord) logins and innovative Multi Party Computation (MPC) - Torus Wallet provides a seamless user experience to onboard the next billion users in the web3 world.

It is powered by the Web3Auth Infrastructure built

[2022-06-22 16:48] hieronymus4826 opened #6786 "AlphaWallet"
### Wallet name

AlphaWallet

### Wallet description

AlphaWallet is a self-custodial, multi-chain wallet, that’s 100% open source. Production ready, simple to customize for your tokens and launch your MVP in no time. Built by web3 engineers, for the community.

### Wallet logo

![AlphaWallet_icon_blue](https://user-images.githubusercontent.com/84448420/175093078-8a41f5d2-5d49-49b6-bdb2-33329b893a

[2022-06-22 17:29] lukassim opened #6789 "Ensure consistent spelling of 'dapps' across the site"
**Describe the bug**

We currently use different ways of spelling 'dapp' and 'dapps' on the website - specifically 'dapps' & 'dApps' when used in the middle of a sentence, and 'Dapps' & 'DApps' when this is the first word in a sentence.
The spelling should be consistent across the website.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/dapps/
2. See 'dapps' sp

[2022-06-22 18:37] gamalielhere opened #6792 "Suggest a wallet: myetherwallet (web)"
### Wallet name

MEW (MyEtherWallet)

### Wallet description

MEW (MyEtherWallet) is a free, client-side interface helping users interact with the Ethereum blockchain. The easy-to-use, open-source platform allows users to generate wallets, connect with a variety of hardware wallets, mobile wallets, and extensions, interact with smart contracts, and much more.

### Wallet logo

![logo-dark 2](https

[2022-06-22 19:37] Dadybayo opened #6796 "Suggest a wallet: Unstoppable wallet"
### Wallet name

Unstoppable Wallet

### Wallet description

Unstoppable is the world’s leading open-source solution known for its intuitive design and frictionless user experience. Multi-wallet for Ethereum, Bitcoin, Binance Smart Chain, Polygon and other emerging blockchains. Non-custodial storage, decentralized exchange, and extensive analytics for thousands of tokens and NFTs. Implemented on S

[2022-06-22 20:57] frostiq opened #6798 "Suggest wallet: Linen Wallet"
### Wallet name

Linen Wallet

### Wallet description

Ethereum Multi-Key wallet for DeFi and Web3. Set up in less than 1 minute and eliminate a single point of failure related to seed phrases

### Wallet logo

![Logo](https://cdn.linen.app/img/linen-logo-square.svg)

### Background color for brand logo

#08CDC7

### URL to the project

https://linen.app/

### When did the wallet go live to users?

[2022-06-22 21:13] pettinarip commented on #6767
Thanks for raising this issue. What is happening here is that, as you described, your local `en.json` file is not updated since we have recently added new translations.

That file is in the `.gitignore` and gets updated locally every time you build the site by running `yarn build` or `yarn start`. In order to fix it, you will need to run either of those scripts and you will see in the output somet

[2022-06-22 21:13] #6767 closed

[2022-06-22 21:49] Foboz opened #6799 "Suggest a wallet - MEW wallet"
### Wallet name

MEW wallet

### Wallet description

Ethereum and DeFi wallet for iOS and Android with Layer 2 support.
Buy, hold, and trade Ether and tokens, explore decentralized web, withdraw to bank account, learn about various ways to use Ethereum, and much more.

### Wallet logo

![mew-wallet](https://user-images.githubusercontent.com/812143/175135420-2dede7fa-e3ef-4eba-ad2d-0665983c8f11.svg

[2022-06-22 22:29] LumosJoe commented on #6439
A common misperception is that lost or stolen bitcoin is gone forever. As blockchain forensics continues to evolve, identifying, tracing and recovering scammed and stolen crypto assets is now very possible. Some people who are sophisticated at conducting frauds will run bitcoin through mixers and tumblers and ways to conceal and obfuscate the nature of those transactions… The state of forensics an

[2022-06-22 23:23] hursittarcan opened #6803 "Ensure consistent spelling of 'logo' for alts"
**Describe the bug**

We currently use different ways of spelling **logo (with and without capital L)**.
The spelling should be consistent across the website.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'https://github.com/ethereum/ethereum-org-website/blob/dev/src/intl/en/page-developers-learning-tools.json'.
2. Search for 'logo'.
3. See that **logo** is spelled in two different

[2022-06-23 08:00] debeldami commented on #6706
No, it does not support staking directly on Ethereum.

[2022-06-23 08:47] akitov opened #6805 "Suggest a wallet: ZenGo"
### Wallet name

ZenGo: Crypto & Bitcoin Wallet

### Wallet description

ZenGo is the most secure wallet in Web3: The first on-chain wallet with no seed phrase vulnerability, powered by MPC cryptography and encrypted biometrics. Buy, trade, and earn up to 8% interest on your cryptoassets. Securely connect to NFT & DeFi Dapps with ClearSign. Stay zen with our 24/7 in-app customer support.

### Wall

[2022-06-23 08:53] Dadybayo commented on #6536
Unstoppable Wallet #6796
https://github.com/ethereum/ethereum-org-website/issues/6796

[2022-06-23 08:54] akitov commented on #6805
Uploading the PDFs from the audits mentioned above.

[Kzen_External_Report_AppSecLabs_June2019.pdf](https://github.com/ethereum/ethereum-org-website/files/8965631/Kzen_External_Report_AppSecLabs_June2019.pdf)
[kzen-curv-audit final 03.01.2019.pdf](https://github.com/ethereum/ethereum-org-website/files/8965632/kzen-curv-audit.final.03.01.2019.pdf)
[REPORT_final_2019-10-22.pdf](https://github.com/et

[2022-06-23 09:20] lukassim commented on #6789
Hey @hursittarcan, thanks for the PR!
Please note that the issue is to make the spelling consistent across the website, meaning that all instances of 'dApp' and 'dApps' on the site should be fixed. The Data and analytics page was just used as an example.
Let me know if you'd still like to take a stab at this, and I can assign you.

[2022-06-23 09:25] lukassim commented on #6789
Great, much appreciated @hursittarcan!
I've just assigned the issue to you, don't hesitate to reach out if you need help at any point.

[2022-06-23 13:17] denis137255 opened #6808 "Suggest a wallet: Pillar"
### Wallet name

Pillar

### Wallet description

Pillar is community-run smart contract based wallet supporting Ethereum and EVM-compatible chains - Polygon, Gnosis, Binance Smart Chain and Avalanche - in a unified multichain experience. Powered by the native Etherspot SDK and governed by the Pillar community DAO through its own native token - PLR.

### Wallet logo

![pillar-logo-5 (1)](https://us

[2022-06-23 18:14] jspence425 opened #6811 "Suggest a wallet: MyCrypto"
### Wallet name

MyCrypto

### Wallet description

MyCrypto is an open-source tool that allows you to manage your Ethereum accounts privately and securely. Developed by and for the community since 2015, we’re focused on building awesome products that put the power in people’s hands.

### Wallet logo

![mycrypto logo 2-01](https://user-images.githubusercontent.com/26891718/175367591-aa4b7933-fa8f-4

[2022-06-23 18:22] kum9748ar commented on #6718
Can I work on this

[2022-06-23 19:58] petrudenko opened #6812 "Suggest a wallet: 1inch wallet"
### Wallet name

1inch Wallet

### Wallet description

1inch is a multichain non-custodial crypto wallet with best swap rates, fiat on-ramp options and fraud protection. Built by a leader in decentralized finance solutions.

### Wallet logo

![logo_without_text](https://user-images.githubusercontent.com/64213848/176015962-01f6604e-7c3f-4631-b160-5c2c7b34c32d.png)

### Background color for brand lo

[2022-06-23 22:03] d0ra-1h3-3xpl0ra commented on #6363
Can I fix it?

[2022-06-24 07:29] zengbing15 opened #6816 "Suggest a wallet: imToken Wallet"
### Wallet name

imToken Wallet

### Wallet description

imToken Wallet is a multi-chain cryptocurrency wallet for Ethereum, Bitcoin, and Cosmos.Also imToken Wallet supports 200+ DeFi protocols from Arbitrum network and provide friendly layer2 user experience.

### Wallet logo

![imToken Logo](https://user-images.githubusercontent.com/40650475/175481576-d0e16180-b4bf-4d09-adfd-1d74aab219d9.svg)

#

[2022-06-24 09:20] Nuts444 opened #6817 "Suggest a wallet: FoxWallet"
### Wallet name

FoxWallet

### Wallet description

FoxWallet is a safe and easy-to-use decentralized multi-chain wallet, dedicated to creating an entrance and connection to the Web3 world

### Wallet logo

<img width="64" alt="FoxWallet logo transparent" src="https://user-images.githubusercontent.com/102349584/175475248-667415ec-12d9-4435-be4c-1c9a1ca6f2b4.png">

### Background color for brand lo

[2022-06-24 09:40] minimalsm commented on #6817
You can update this when it goes live. I'll provide instructions soon.

[2022-06-24 10:04] minimalsm commented on #6811
@jspence425 are the audit reports publicly available? we'd love to link to them if possible as it's great for user trust

[2022-06-24 10:41] minimalsm commented on #6799
**Has the wallet's smart contract code or security modules been audited?**
Not applicable, since MEW is not a smart-contract wallet.

@Foboz this includes any kind of pen testing or audit :-) the idea is that we'd like to link to them as it is good for user trust to see you take security seriously

[2022-06-24 12:56] MKEAktionariat opened #6818 "Suggest a wallet: Aktionariat"
### Wallet name

Aktionariat

### Wallet description

The Aktionariat Portfolio app lets you see and manage your tokenized share portfolio.
The app acts as a mobile wallet, which will be connected to your Aktionariat user account on registration. You can use it as a base wallet to store tokenized shares and to request the tokenization of traditional shares that you already own. Also, you can impor

[2022-06-24 14:17] minimalsm commented on #6784
Hey @bchrvl, could you provide some info on the multisig setup for Ethereum? I can only find guarda implementing multsig functionality on Bitcoin.

[2022-06-24 14:23] minimalsm commented on #6781
Hey @yashovardhan, could you provise some info on what languages you support? I couldn't find the info anywhere :]

[2022-06-24 15:45] Nana12345678910 commented on #6746
No I don’t have a key by that name

On Tue, 21 Jun 2565 BE at 10:34 pm, Zagorrrr ***@***.***>
wrote:

--
Christina Vongphit iPhone

[2022-06-24 17:42] jspence425 commented on #6811
Yeah!! https://github.com/MyCryptoHQ/MyCrypto/wiki/Audit

I think there may be another more recent one that hasn't been published, but we have those for now ^^

[2022-06-24 21:24] bchrvl commented on #6784
Hey @minimalsm. Sure, you'd need to type ETH in the search field and find an option of creating a multisig in the list. Here's a screenshot. Let me know if you need any further assistance regarding any of the functionality.
<img width="459" alt="Screenshot 2022-06-25 at 00 22 15" src="https://user-images.githubusercontent.com/28879222/175689413-6a46b5f1-1119-4bc7-9d54-4753cb3590a8.png">

[2022-06-25 12:39] SNikhill commented on #6672
@minimalsm

May I please have a look at this issue?

[2022-06-26 09:49] Nicholas4455 opened #6825 "invalid opcode: opcode 0xfe not defined"
invalid opcode: opcode 0xfe not defined

__Originally posted by @RainbowWallDev in https://github.com/iden3/circom_old/issues/87__

[2022-06-26 20:39] Auxburger commented on #6803
Hey  @hursittarcan, can i take this issue? :)

[2022-06-27 00:18] hursittarcan commented on #6803
Hey @Auxburger I already fixed this. But thanks for offering to help ✌

[2022-06-27 04:40] Nuts444 commented on #6817
yes, the users are able to send funds directly to another user using their ENS address.

[2022-06-27 10:18] RanchHowards commented on #6672
@minimalsm i'm taking a look as well

[2022-06-27 10:43] nloureiro commented on #6616
After some consideration, we will adopt Inter as the new font for ethereum.org.
This was the outcome-based:

- Checks all the base criteria.
- Light in weight and might be considered to use as variable font, even lighter.
- Open-source.
- Made for digital with readability in mind.
- Works very well on small screens.
- A great character set, not perfect but very good. We will study the best way to

[2022-06-27 10:43] #6616 closed

[2022-06-27 12:11] #6757 closed

[2022-06-27 12:51] #6803 closed

[2022-06-27 19:20] Ivshti commented on #6612
@minimalsm ENS has been implemented now

[2022-06-28 12:49] SNikhill commented on #4253
@minimalsm

May I tackle this one?

[2022-06-28 12:50] Eni-G opened #6841 "Update Difficulty bomb and Ice age definition in glossary"
**Is your feature request related to a problem? Please describe.**

The *Difficulty bomb* and *Ice age* seem to be only described in the glossary, and I think their explanation could be a little more descriptive and linked to each other. This would also help to better understand why it had to be pushed back in several network upgrades (it’s briefly explained by Muir Glacier on the history page).

[2022-06-28 23:52] andyGallagher commented on #6392
Would love to start out here with a small one, [SocialListItem](https://github.com/ethereum/ethereum-org-website/blob/dev/src/components/SocialListItem.js).

[2022-06-29 00:07] pettinarip commented on #6392
Assigned!

[2022-06-29 03:14] Rodry129 opened #6854 "Wallet"
Before suggesting a staking product or service, make sure you've read [our listing policy](/contributing/adding-staking-products/).

Only continue with the issue if the staking product meets the criteria listed there.

If it does, complete the following information which we need to accurately list the product/service.

**Product type**

- [ ] Node/client tooling
- [ ] Key management
- [ ] Staking

[2022-06-29 03:14] Rodry129 commented on #6854
Kisiera una billetera

[2022-06-29 03:15] #6854 closed

[2022-06-29 11:27] raj-shekhar1 opened #6857 "Broken Links on <https://ethereum.org/en/upgrades/merge/>"
**Describe the bug**
The below links are broken on the [The Merge homepage](https://ethereum.org/en/upgrades/merge/) in the `Further Reading` section.
1. [Execution layer Specs](https://github.com/ethereum/execution-specs/blob/master/network-upgrades/mainnet-upgrades/merge.md)
2. [Consensus layer Specs](https://github.com/ethereum/consensus-specs/tree/dev/specs/bellatrix)

**To Reproduce**
Steps t

[2022-06-29 14:16] weipin opened #6860 "HashE (node E) from the "Patricia Merkle Trie" example is embeddable"
**HashE (node E) from the ["Patricia Merkle Trie" example](https://ethereum.org/en/developers/docs/data-structures-and-encoding/patricia-merkle-trie/#example-trie) is embeddable**

The current trie example lists "hashE" as a standalone extension node.
The node has a length of 31 in bytes in RLP encoding, making it actually "embeddable."
In other words, "hashE" shouldn't exist as a standalone node

[2022-06-29 15:41] tvanepps opened #6861 "Link on client page is recursive"
URL on client page links to itself: https://ethereum.org/en/developers/docs/nodes-and-clients/#clients

![image](https://user-images.githubusercontent.com/27454964/176478141-c2dc7ff8-5e77-417a-85ff-dc6fcb1c5739.png)

[2022-06-29 17:30] hesterbruikman opened #6862 "Suggest a wallet: Status"
### Wallet name

Status

### Wallet description

Cryptocurrency wallet, decentralized private messenger and Ethereum dApp Browser all in one

### Wallet logo

![Status-logo](https://user-images.githubusercontent.com/35233054/176489936-a24f0755-a879-4def-ae57-f44a14ba1f1c.png)

### Background color for brand logo

#4360DF

### URL to the project

https://status.im/

### When did the wallet go live

[2022-06-30 07:17] yashovardhan commented on #6785
Hey @minimalsm

Sorry for the delay in getting to this. Yes, you've got the right thing. To explain, Torus Labs Private Limited is the company which owns these 2 products, Torus Wallet and Web3Auth.

Torus Wallet is our earliest product, which is a full fledged wallet for EVM compatible chains.

Web3Auth is our flagship product, which is the wallet infrastructure that enables the self custodial lo

[2022-06-30 07:18] yashovardhan commented on #6781
Hey @minimalsm

You can find details on language changes on our [whitelabeling documentation](https://web3auth.io/docs/whitelabeling#defaultlanguage)

[2022-06-30 08:51] christianbaroni opened #6868 "Suggest a wallet: Rainbow"
### Wallet name

Rainbow

### Wallet description

Rainbow is a fun, simple, and secure way to get started with crypto and explore the new world of Ethereum. You can use Rainbow to purchase, manage, and display Ethereum-based assets and NFTs.

### Wallet logo

![rainbow](https://user-images.githubusercontent.com/7061887/176614795-c2a60fcb-3739-4cf2-ae6d-3f8fbdefa50e.svg)

### Background color for b

[2022-06-30 13:10] minimalsm commented on #6862
Thanks @hesterbruikman.

Added here: https://github.com/ethereum/ethereum-org-website/pull/6457/commits/e534782b9ccee15762f6d4de78a03651a9072ddb

We will be working on a ranking algorithm that and having more features will mean higher list ranking, so please be sure to let us know of any changes (like swaps or the desktop browser) and we'll get those added too 👌

[2022-06-30 13:24] minimalsm commented on #6868
Thanks @christianbaroni,

Added here: https://github.com/ethereum/ethereum-org-website/pull/6457/commits/74c2351d34799d08514ba331c4e32c7d79a85102

[2022-06-30 13:27] minimalsm commented on #6860
Thanks for reporting @weipin,

@jmcook1186 could you have a look?

[2022-06-30 13:28] minimalsm commented on #6857
Hey @raj-shekhar1, I see you'd like to contribute to this?

Thanks for offering to help ❤️  I've assigned you.

[2022-06-30 13:37] raj-shekhar1 commented on #6857
Thanks @minimalsm :)

[2022-06-30 14:41] raj-shekhar1 commented on #6857
Hi @minimalsm I checked for the possible solutions and found below for -

Existing ---> [Execution layer Specs](https://github.com/ethereum/execution-specs/blob/master/network-upgrades/mainnet-upgrades/merge.md)

Suggested --> [Execution layer Specs](https://github.com/ethereum/execution-specs/)

But for Consensus layer specs hyperlink can you please suggest more suitable resource then below if av

[2022-06-30 16:52] didoshotev commented on #6392
First timer, would like to take - src/components/Tag.js

[2022-06-30 17:02] #6672 closed

[2022-06-30 17:37] pettinarip commented on #6392
Oh yeah🤘🏼 assigned! thanks!

[2022-06-30 18:43] #6818 closed

[2022-06-30 18:43] #6862 closed

[2022-06-30 18:43] #6868 closed

[2022-06-30 19:11] #6274 closed

[2022-06-30 19:13] #6817 closed

[2022-06-30 19:13] #6816 closed

[2022-06-30 19:14] #6812 closed

[2022-06-30 19:15] #6811 closed

[2022-06-30 19:15] #6808 closed

[2022-06-30 19:15] #6805 closed

[2022-06-30 19:17] #6798 closed

[2022-06-30 19:17] #6796 closed

[2022-06-30 19:18] #6792 closed

[2022-06-30 19:20] #6784 closed, assigned to minimalsm

[2022-06-30 19:20] #6783 closed, assigned to minimalsm

[2022-06-30 19:20] #6781 closed

[2022-06-30 19:22] #6779 closed

[2022-06-30 19:22] #6772 closed

[2022-06-30 19:23] #6746 closed

[2022-06-30 19:23] #6721 closed

[2022-06-30 19:24] #6714 closed

[2022-06-30 19:25] #6712 closed

[2022-06-30 19:25] #6706 closed, assigned to minimalsm

[2022-06-30 19:26] #6701 closed

[2022-06-30 19:27] #6696 closed

[2022-06-30 19:27] #6635 closed

[2022-06-30 19:27] #6615 closed

[2022-06-30 19:28] #6613 closed

[2022-06-30 19:28] #6612 closed

[2022-06-30 19:29] #6601 closed

[2022-06-30 19:29] #6785 closed, assigned to minimalsm

[2022-06-30 20:16] HEagle18 commented on #6635
@corwintines thanks for taking this. I'm just looking for it on https://ethereum.org/en/wallets/ and can't find Brave Wallet. Does it take sometime before it goes live ? cheers.

[2022-07-01 10:22] Dadybayo commented on #6796
Unstoppable has a "Token Importing" feature, but unfortunately this information is not included on the website
<img width="981" alt="Screen Shot 2022-07-01 at 4 21 52 PM" src="https://user-images.githubusercontent.com/33674013/176876575-ef87383f-6a73-440f-b2d1-e6e93197f398.png">

Change it please 🙏🏼 @corwintines @minimalsm

[2022-07-01 11:47] petrudenko commented on #6812
![Screen Shot 2022-07-01 at 1 44 11 pm](https://user-images.githubusercontent.com/64213848/176888378-cae88ea6-cc9e-456f-b111-0eff7d766c05.png)

Please change the "self custody" criteria. [1inch is a non-custodial wallet](https://help.1inch.io/en/articles/5783998-why-is-1inch-non-custodial-and-what-does-that-mean-for-users) where users have complete ownership of their private keys. If 1inch were to

[2022-07-01 12:41] jmcook1186 commented on #6857
The existing link is already the most appropriate for the consensus specs afaik. Another option is to link out to an annotated spec (e.g. Vitalik's), but IMO it is fine as it is.

[2022-07-01 15:43] adam-bro commented on #6712
Hi @corwintines @minimalsm you can connect to dapps with the Loopring Wallet using Wallet Connect
<img width="714" alt="Screen Shot 2022-07-01 at 11 43 05 AM" src="https://user-images.githubusercontent.com/84410897/176927114-fe7e2742-b1db-4e32-b853-7350c7b0bd75.png">

[2022-07-02 10:51] Ajay-singh1 opened #6898 "Add exchange: CoinDCX"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2022-07-02 11:23] Ajay-singh1 commented on #6841
Consice Description.Loved It!

[2022-07-02 12:01] SNikhill commented on #6392
May I please know how I could be of assistance?

[2022-07-02 12:03] didoshotev commented on #6392
Once [#6891](https://github.com/ethereum/ethereum-org-website/pull/6891) is resolved I can take these:
 src/components/PageHero.js
 src/components/SkipLink.js

[2022-07-02 15:37] pettinarip commented on #6392
@SNikhill thanks for asking! you can choose a file from the list that has not been assigned or I can assign one to you. Your preference. Then you migrate those files to TS and once merged, we mark them as done 💪🏼

[2022-07-02 15:38] pettinarip commented on #6392
Assigned! 🍾

[2022-07-02 22:14] andyGallagher commented on #6392
Hi — just opened a PR for [SocialListItem](https://github.com/ethereum/ethereum-org-website/pull/6902).

Feeling ready to take a bigger chunk, would love to take if available:
[code]

[2022-07-03 00:17] seadowg opened #6904 "Quoted Netflix energy use might be incorrect"
It seems like the Netflix energy use figure quoted at https://ethereum.org/en/energy-consumption/ might be incorrect. Reading the linked article (https://www.carbonbrief.org/factcheck-what-is-the-carbon-footprint-of-streaming-video-on-netflix/), although it is a little unclear, it seems that the "94 TWh/yr" value referenced is referred to as "misleading" and "too high" as opposed to being used as

[2022-07-03 21:21] raj-shekhar1 commented on #6857
@jmcook1186 makes sense. Thanks
I guess this can be marked as closed then, @minimalsm ?

[2022-07-04 08:44] jmcook1186 commented on #6904
Hi, thanks for catching this - I have raised a PR to clarify the uncertainty as explained in that article more clearly.
Cheers

[2022-07-04 09:29] sixhobbits opened #6907 "Add Tutorial: Hands on Web3"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Title**
Hands on Web3

**Tutorial description**

Online tutorials / an ebook that shows how to get started with solidity development on Replit.

**Tag your tutorial**

Solidity, Replit, Oracle, NFT, Escrow

**Publication**

https:

[2022-07-04 12:26] SNikhill commented on #6392
Okay.
By the way, @pettinarip, I have created a script in #6899
I didn't type it in Typescript as I didn't want to add the extra compilation step.
But, if you want, I can migrate the same to Typescript. :)

[2022-07-04 13:20] pettinarip commented on #6392
Cool! assigned @andyGallagher 💪🏼

[2022-07-05 12:07] SNikhill commented on #6392
Okay, I shall migrate the same to Typescript. :)

[2022-07-05 13:49] MKEAktionariat opened #6934 "Aktionariat"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-07-05 16:43] Gingerbreadfork opened #6935 "Suggesting LocalCoinSwap"
**Please describe the measures taken to ensure the dapp's security and provide documentation wherever possible**

Non-custodial Ethereum & ERC20 token trading is performed on-chain and has been available to users since being rolled out in January of 2020, the smart contract is public and available here: [https://github.com/LocalCoinSwap/ethereum-token-contracts](https://github.com/LocalCoinSwap/et

[2022-07-05 20:19] Linda-OC opened #6938 "Have all test ETH show as TETHxxxxx"
**Is your feature request related to a problem? Please describe.**

One of the issues that I have seen in my work as a help desk agent involves people getting "paid" in Rinkeby or Ropsten ETH, or being sold ETH not knowing that they are receiving test ETH that have no value.

**Describe the solution you'd like**
What I'd like to see is all test ETH be named TETHxxx.  So Ropsten ETH would be TETHro

[2022-07-06 05:07] PraneshASP opened #6945 "Invalid link to Foundry documentation"
**Describe the bug**

The link to foundry's documentation under the `Development Frameworks` page points to the old one which is no longer active

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [https://ethereum.org/en/developers/docs/frameworks/](https://ethereum.org/en/developers/docs/frameworks/)
2. Scroll down to `foundry` section
3. Click on `Documentation`
4. It gets redirected

[2022-07-06 12:25] sourabhagr commented on #6938
Hi @Linda-OC, I am interested to help with this issue. Can you guide me on how can I get started - specifically which files should I look at?

[2022-07-06 13:11] SNikhill commented on #6392
@pettinarip

May I please have:
[code]

[2022-07-06 15:14] #6825 closed

[2022-07-06 23:32] Linda-OC commented on #6938
Hi @sourabhagr!  Thank you for responding!  To be honest, I'm not sure where to start either but I was hoping that some brilliant minds would gather around this feature request and help to make this happen.

[2022-07-07 14:23] #6789 closed, assigned to hursittarcan

[2022-07-08 09:33] Olivia-Northstake commented on #6652
Hi,

Do we have any update on the status of our application?

Thanks in advance :)

[2022-07-09 21:48] InfinityWallet opened #6991 "Suggest a wallet - Infinity Wallet"
### Wallet name

Infinity Wallet

### Wallet description

Infinity Wallet is the first desktop all-in-one wallet ecosystem focusing on providing a one-stop solution for seamless usability of DeFi, and access to the world of Web3 and DApps without needing to use an unintuitive browser extension wallet. Providing an enhanced user experience and a wide range of unique features and services as a curat

[2022-07-10 09:47] #5890 closed

[2022-07-10 16:50] SNikhill commented on #6392
I have left some comment in the PR: #6994 to make the review process faster and easier for you.

[2022-07-10 17:22] SNikhill commented on #6392
Done.

[2022-07-11 07:57] DinaSche opened #6998 "Video on Ethereum rollups by DeFi Teller"
**Ethereum rollups**

What are Еthereum Rollups and How Do They Work? Rollups Explained in Simple Terms

ZK Rollups vs Optimistic Rollups. The Difference Between Them Explained in Simple Terms

**Tutorial description**

In the first video (What are Еthereum Rollups and How Do They Work?), we talk about how Ethereum rollups work and try to cover the topic in more depth than the common statements ab

[2022-07-11 09:44] LoganDWH opened #6999 "Suggest a wallet: Krystal"
### Wallet name

Krystal

### Wallet description

Krystal is a multi-chain wallet to easily access popular DeFi services and manage your assets including NFTs

### Wallet logo

https://user-images.githubusercontent.com/108636782/177260879-ac39d202-0c2e-49c0-b171-1274add496ae.png

### Background color for brand logo

#1DE9B6

### URL to the project

https://krystal.app/

### When did the wallet go

[2022-07-11 12:11] nloureiro opened #7002 "The big bar on top that callout the merge only appear on some pages"
**Describe the bug**

The big bar on top that callout the merge only appear on some pages

**Expected behavior**

Should be on all pages? or if in just a few, should be consistent

**Screenshots**

![Screen Shot 2022-07-11 01 08 14 PM](https://user-images.githubusercontent.com/1120748/178261099-9506edef-d0e4-45af-9ef7-db476f27514c.png)
![Screen Shot 2022-07-11 01 07 15 PM](https://user-images.gith

[2022-07-11 12:32] nloureiro opened #7003 "[Design system V2] Add the same sub-menu to "use ethereum" from "learn""
**Is your feature request related to a problem? Please describe.**

We have a new sub-menu display for the "Learn" section where you can have sub-sections:

Ethereum basics > What is ethereal? | What is ether? | ... | ...

we should have the same for "use Ethereum" > we already have this category made on some pages (see screenshots)

![Screen Shot 2022-07-11 01 27 18 PM](https://user-images.github

[2022-07-11 14:56] #6857 closed

[2022-07-11 14:57] minimalsm commented on #6857
Thanks again!

@all-contributors please add @raj-shekhar1 for ideas

[2022-07-11 14:57] YtzBeno opened #7008 "Aztec Network"
Before suggesting a layer 2, make sure you've read [our listing policy](/contributing/adding-layer-2s/).

Only continue with the issue if your layer 2 meets the criteria listed there.

If it does, complete the following information which we need to accurately list the layer 2.

**Name**

Aztec network

**Logo**

https://camo.githubusercontent.com/d4184ccc66ca33e89889ec4becb5c6857b82f5836dc78344340

[2022-07-11 15:57] minimalsm commented on #6998
Hey @DinaSche, I don't think these make sense as tutorials. Tutorials on ethereum.org are mostly about implementation details relating to creating apps on ethereum.org, whereas this seems like more informational, educational content.

What about somewhere on our scaling docs? https://ethereum.org/en/developers/docs/scaling/

[2022-07-11 16:04] minimalsm commented on #6598
Closing this out as discussed.

[2022-07-11 16:04] #6598 closed

[2022-07-11 16:04] minimalsm commented on #6588
Closed in #6650

[2022-07-11 16:04] #6588 closed

[2022-07-11 16:27] #6439 closed

[2022-07-11 16:29] #6318 closed

[2022-07-11 16:58] samajammin commented on #7002
This seems to me a good opportunity to address our banner & callout usage across the site & to feed this into the design system. e.g. when should we use this banner component? Should the UI be different for some callout that is page specific ("this content is out of date") vs. applicable to the whole site ("the merge is coming, please update your nodes").

[2022-07-11 17:24] samajammin commented on #6907
Hey, thanks for the PR!

At first glance, it seems like it'd be better/easier to directly link to the replit tutorials:
- https://docs.replit.com/tutorials/escrow-contract-with-solidity
- https://docs.replit.com/tutorials/build-a-robot-nft
- https://docs.replit.com/tutorials/build-a-robot-nft-p2
- https://docs.replit.com/tutorials/build-smart-contract-oracle

What do you think? Those seem to be th

[2022-07-11 18:27] minimalsm commented on #7002
Agree! Probably a discussion for the design system but I don't think our current callouts are very attention-grabbing if this is important information. Perhaps a good solution would be to have types of callout (i.e. normal, warning, alert). [Heres a blog post with multiple types of callouts](https://kentcdodds.com/blog/how-to-use-react-context-effectively).

[2022-07-11 19:29] sixhobbits commented on #6907
Yes that is fine. The ones on the landing page offer more options (pdf, epub, mobi, links to the versions we have on docs.replit.com) but we maintain both so up to you!

[2022-07-12 04:59] treethought opened #7015 "typo in Engine API control flow summary"
**Describe the bug**

Statement reads "Consensus client grabs the transactions and block hash from the consensus client" when it should read "from the execution client"

[2022-07-12 08:24] DinaSche commented on #6998
Hey @minimalsm , thank you, that would be better, you're absolutely right! Do I have to create a new issue for this?

[2022-07-12 08:27] nloureiro commented on #7002
Yes total agree. We probably will split the types of call outs.

 - for this issue I was referring to top bar, probably something related to the header component and will have a effect site wide
 - For in content call outs we will o other issue because will have implications within the content. probably a isolated component that can be used in the content that can have an attribute for: **warning*

[2022-07-12 13:14] naveen106 opened #7020 "Spelling mistake and provided link to Sharding doesn't work."
**Describe the bug**
While I was reading this page (shown in the screenshot), I found a hyperlink to _sharding_ on the paragraph for **Scalibility**. The link gives 404 Not Found error in response.
Edit : I have created a Pull Request for spelling mistake, this issue here is for only the link not working correctly.

**Expected behavior**
The link should work or the page should tell **WE'RE WORKING

[2022-07-12 13:51] kewde opened #7021 "Suggest a wallet - Exodus"
### Wallet name

Exodus

### Wallet description

Send, receive, and exchange Ethereum and 215+ cryptocurrencies with ease on the world's leading Desktop, Mobile and Hardware crypto wallets

### Wallet logo

![Exodus_symbol](https://user-images.githubusercontent.com/13770485/178499990-7943bfeb-025c-47ae-b8f3-c5a6cd6758a3.svg)

### Background color for brand logo

#1F2033

### URL to the project

ht

[2022-07-12 14:37] #7015 closed

[2022-07-12 22:52] samajammin commented on #5731
This is complete! Content is migrated & redirects are in place. Thank you @jmcook1186 & others for all the hard work!

[2022-07-12 22:52] #5731 closed

[2022-07-13 17:24] naveen106 commented on #7020
@minimalsm  I found out why it was happening, the link provided was not corrected, I've created a pull request which provides the correct link, please look into it.

[2022-07-13 19:28] samajammin opened #7054 "Migrate from styled-components to emotion to prepare the ground for Chakra"

[2022-07-13 19:30] samajammin commented on #7054
@pettinarip assigning to you for now to flesh this out & decide if it's worth getting the community involved or doing yourself.

[2022-07-13 19:41] arielman87 opened #7055 "Suggest a wallet - Sequence Wallet"
### Wallet name

Sequence

### Wallet description

[Sequence](https://sequence.info/) is a self-custodial smart contract wallet built for a network of Ethereum chains. Already supporting Ethereum, Polygon, BNB Chain, and with integrations for Arbitrum, Optimism, Fantom, Avalanche and other EVM-compatible networks coming soon.
Due to the smart contract nature of Sequence, transaction fees can be ab

[2022-07-13 19:49] arielman87 opened #7056 "Suggest a wallet - Sequence Wallet"
### Wallet name

Sequence

### Wallet description

[Sequence](https://sequence.info/) is a self-custodial smart contract wallet built for a network of Ethereum chains. Already supporting Ethereum, Polygon, BNB Chain, and with integrations for Arbitrum, Optimism, Fantom, Avalanche and other EVM-compatible networks coming soon.
Due to the smart contract nature of Sequence, transaction fees can be ab

[2022-07-13 19:55] arielman87 commented on #6536
🙏🏼Please review and add [Sequence](https://sequence.xyz/) Issue: https://github.com/ethereum/ethereum-org-website/issues/7056 💜
Sequence Wallet Contact: @phabc

[2022-07-14 05:05] samajammin commented on #6281
@wackerow I believe this is complete & can be closed out 🎉

Please re-open if I'm wrong 😄

[2022-07-14 05:05] #6281 closed

[2022-07-14 05:17] samajammin commented on #6285
This has been solved! Closing this out 🎉

Primary PRs:
- https://github.com/ethereum/ethereum-org-website/pull/6708
- https://github.com/ethereum/ethereum-org-website/pull/6797
- https://github.com/ethereum/ethereum-org-website/pull/6778

[2022-07-14 05:17] #6285 closed

[2022-07-14 20:53] samajammin opened #7072 "No table of contents on EVM opcodes page"
**Describe the bug**

I'm not seeing the table of contents dispayed on EVM opcodes page:
https://ethereum.org/en/developers/docs/evm/opcodes

But the `sidebar: true` frontmatter appears to be there... 🧐
https://github.com/ethereum/ethereum-org-website/blob/dev/src/content/developers/docs/evm/opcodes/index.md

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/devel

[2022-07-15 10:29] jmcook1186 opened #7075 "Epic: post-merge content updates"
**Epic Description**

The Merge is almost upon us. Ethereum.org has recently been updated to ensure that the content is up-to-date and correct for the final months of pre-merge Ethereum. Now, we will create a branch of ethereum.org with content appropriate for post-merge Ethereum, with the intention to merge this branch in once The Merge is complete.

**Involves**

- Scoping out what content chang

[2022-07-15 11:09] elec3phi opened #7077 "defi2022"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-07-15 12:16] #7077 closed

[2022-07-15 15:41] Mousticke commented on #6392
Hi @pettinarip
I can migrate `src/contexts/ZenModeContext.js` just for the fun 😄

[2022-07-15 16:30] samajammin commented on #7008
Hey, thanks for raising this issue @YtzBeno!

I believe this is a duplicate of #6589 so closing this out in favor of that. Please feel free to add any additional info as a comment in that issue.

[2022-07-15 16:30] #7008 closed

[2022-07-16 11:46] SNikhill commented on #6392
May I please convert the existing JS scripts to TS and make them work using `ts-node`?

[2022-07-16 14:21] pettinarip commented on #6392
Sorry @Mousticke, that file was already assigned, we had forgotten to put the handle next to it.

[2022-07-16 14:23] pettinarip commented on #6392
Good call @SNikhill are you talking about `generate-heading-ids.js`? I think it is the only script left to migrate. I have assigned it to you 👍🏼 thanks!

[2022-07-16 16:38] Mousticke commented on #6392
@pettinarip the component `WalletCompare` doesn't exist anymore

[2022-07-16 19:39] SNikhill commented on #5087
(NB: I shall be updating this list)
# Essential Page
--- [What is Ether(ETH)?](https://ethereum.org/ar/eth/)

- [ ]  Icons/Question Mark positions

  ![image](https://user-images.githubusercontent.com/51415616/179369628-b5b9e766-03e8-4e3e-a15c-8ee6dce93774.png)
  ![image](https://user-images.githubusercontent.com/51415616/179369658-715a0370-dd9e-451e-949f-9f6953d2a1b6.png)

[2022-07-16 20:53] wottpal opened #7093 "Add Stablecoins.wtf reference to the stablecoins-subpage"
Hey, I would like to add [stablecoins.wtf](https://stablecoins.wtf) as a reference on the stablecoins-subpage. In my upcoming PR I used the same mode of presentation as the tools on the `layer-2` subpage and added them to the bottom of the page. This also opens up the possibility of adding more tools in the future.

CC @samajammin

<img width="1098" alt="Screen Shot 2022-07-16 at 22 52 53" src="ht

[2022-07-16 21:42] samajammin commented on #6161
Happy July! How time flies. Closing this out with a progress update on each of our Q2 initiatives.

## 🔀 Merge prep

With the [#TestingTheMerge](https://twitter.com/hashtag/TestingTheMerge) in full swing, the Ethereum community continues to march towards [The Merge](https://ethereum.org/en/upgrades/merge/) on Mainnet!

We [audited all 209 site pages](https://docs.google.com/spreadsheets/d/1Nisi3_F

[2022-07-16 21:46] samajammin commented on #6161
Stay tuned for our Q3 roadmap release next week! 😄

[2022-07-16 21:46] #6161 closed

[2022-07-17 02:10] samajammin opened #7097 "Pages 404 if no language path is specified"
**Describe the bug**

Noticing that now pages 404 when no languages path is specified, e.g. https://ethereum.org/wallets/find-wallet/

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/wallets/find-wallet/
2. See 404

**Expected behavior**

We should redirect those requests to the appropriate URL
A) (more complex, better UX) based on language preference of the user's

[2022-07-17 02:11] samajammin commented on #7097
FYI @pettinarip assigning to you for now.

[2022-07-18 08:43] Olivia-Northstake commented on #6652
@wackerow @minimalsm - do we have any update on the process of our application so far? :)

[2022-07-18 09:38] seadowg commented on #6904
Closed by PR.

[2022-07-18 09:38] #6904 closed

[2022-07-18 10:06] ErikSaunier opened #7107 "Typo found in Ethereum energy consumption page"
**Describe the bug**

`proof-of-stake to proof-of-stake` should be replaced by `proof-of-work to proof-of-stake` in the **Ethereum energy consumption** page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [https://ethereum.org/en/energy-consumption/](https://ethereum.org/en/energy-consumption/)
2. Search for 'proof-of-stake to proof-of-stake'
4. See typo

**Expected behavior**

`proo

[2022-07-18 10:45] #7107 closed

[2022-07-18 17:32] critesjosh commented on #6589
@corwintines anything else for me to do on my side?

[2022-07-18 18:02] samajammin commented on #2277
@jmcook1186 assigning to you as well 😄 - feel free to update this issue/description as needed.

[2022-07-18 19:34] corwintines opened #7123 "Standardize uses of zk-rollup/ZK-rollup"
**Describe the bug**
- On the layer 2 and zero-knowledge rollup pages there are conflicting uses of zk-rollup and ZK-rollup.

**Expected behavior**
- Consistent use of either zk-rollup or ZK-rollup (depending on the decision for which to use moving forward).

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out w

[2022-07-18 19:38] corwintines commented on #7123
https://docs.aztec.network/ - Uses ZK-rollup
https://docs.dydx.exchange/#general - Uses ZK-Rollup
https://loopring.org/#/ - Uses zkRollup
https://zksync.io/ - Uses ZK Rollup
https://zks.org/ - Uses ZK-Rollup

Some context about how the projects we list are using it. Leaning towards changing the layer-2 page to use ZK-rollup instead of zk-rollup. Curious what others think.

[2022-07-18 20:15] pettinarip opened #7124 "Optimization - Reduce built langs in dev builds"
In Gatsby Cloud, we have a site that is called `ethereum-org-website-dev` which builds all the PRs that have `dev` as the target branch to merge. We are building those PRs to have Preview Deploys in order to test them before we merge them into `master`.

Currently, in each one of those builds we are building the entire site. That means that we are building 46 languages, which means building ~9k pa

[2022-07-19 01:17] samajammin commented on #6434
I believe this is complete @corwintines?

[2022-07-19 01:19] #5315 closed

[2022-07-19 01:21] samajammin commented on #4338
Is this complete @corwintines? I believe we solved as part of https://github.com/ethereum/ethereum-org-website/issues/6274 but LMK if I'm wrong.

[2022-07-19 01:22] samajammin commented on #2730
Is this complete @corwintines? I believe we solved as part of https://github.com/ethereum/ethereum-org-website/issues/6274 but LMK if I'm wrong.

[2022-07-19 01:24] samajammin commented on #2730
Perhaps not - we now have this TS file with wallet data:
https://github.com/ethereum/ethereum-org-website/blob/dev/src/data/wallets/wallet-data.ts

But I still see the CSV in there - can this be removed?
https://github.com/ethereum/ethereum-org-website/blob/dev/src/data/wallets.csv

[2022-07-19 01:28] samajammin commented on #2467
This is still an issue, even though we now us this data file for /find-wallet page:
https://github.com/ethereum/ethereum-org-website/blob/dev/src/pages/wallets/find-wallet.tsx

[2022-07-19 01:28] jack-cryptocom commented on #6536
Please review and consider to add #6155 (Crypto.com Defi Wallet), thanks!

[2022-07-19 01:31] corwintines commented on #2715
I would say we addressed this issue with the revamp. @ligi I'm going to close this issue now that https://github.com/ethereum/ethereum-org-website/issues/6274 has been finished. Please reopen another issue if you disagree :) Thanks again for this suggestion, it helped shape a lot in the redesign.

[2022-07-19 01:31] #2715 closed

[2022-07-19 01:52] corwintines commented on #2730
I'll check this out this week and check if we are good to get rid of the csv.

[2022-07-19 02:07] corwintines commented on #3655
Closing this out as we merged the awesome work done by @emmanuel-awosika!

[2022-07-19 02:07] #3655 closed

[2022-07-19 02:10] corwintines commented on #3984
@minimalsm @konopkja I imagine this can be closed now.

[2022-07-19 02:12] samajammin commented on #3984
Solved in https://github.com/ethereum/ethereum-org-website/pull/6778 - thanks @konopkja & @pettinarip!

[2022-07-19 02:12] #3984 closed

[2022-07-19 02:15] corwintines commented on #4338
I would say we addressed this issue with the revamp. @taxmeifyoucan I'm going to close this issue now that https://github.com/ethereum/ethereum-org-website/issues/6274 has been finished. Please reopen another issue if you disagree :) Thanks again for this suggestion, it helped shape a lot in the redesign.

[2022-07-19 02:15] #4338 closed

[2022-07-19 02:16] corwintines commented on #4520
I would say we addressed this issue with the revamp. @milvinae I'm going to close this issue now that https://github.com/ethereum/ethereum-org-website/issues/6274 has been finished. Please reopen another issue if you disagree :) Thanks again for this suggestion, it helped shape a lot in the redesign.

[2022-07-19 02:16] #4520 closed

[2022-07-19 02:24] corwintines commented on #6434
Going to close this with the work being done in https://github.com/ethereum/ethereum-org-website/pull/6622

[2022-07-19 02:24] #6434 closed

[2022-07-19 03:33] eteryko opened #7128 "One Ethos"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-07-19 11:02] emmanuel-awosika commented on #7123
Like I explained previously, I prefer "**ZK-rollup**" since other terms related to zero-knowledge, e.g., ZK-SNARK/ZK-STARK, use the "ZK" acronym in uppercase. Also, I don't think "**ZK-Rollup**" works since "rollup" is usually lowercase (e.g., "optimistic rollup", not "Optimistic Rollup"). As for adding hyphens between "ZK" and "rollup', that's a matter of personal of preference--but I prefer hyph

[2022-07-19 11:28] bahurum opened #7132 "Wrong ERC4626 interface"
The interface for ERC-4626 token standard here
https://ethereum.org/en/developers/docs/standards/tokens/erc-4626/
is different from the description in [EIP-4626](https://eips.ethereum.org/EIPS/eip-4626) or from the [Solmate implementation](https://github.com/transmissions11/solmate/blob/main/src/mixins/ERC4626.sol) (written by the authors of the EIP). Arguments are either missing or in wrong order

[2022-07-19 16:26] #7128 closed

[2022-07-19 20:02] corwintines commented on #3312
With the work done in https://github.com/ethereum/ethereum-org-website/issues/3312, would that address the issues of this PR and let us clsoe this out?

[2022-07-19 20:04] corwintines commented on #6308
Since https://github.com/ethereum/ethereum-org-website/pull/6575 was merged I think we can close this @samajammin.

[2022-07-19 20:08] corwintines commented on #6451
I think this can be closed out with the merge of https://github.com/ethereum/ethereum-org-website/pull/6890.

[2022-07-19 21:59] samajammin commented on #7124
You mean before we merge them into `dev`?

[2022-07-19 22:01] samajammin commented on #7124
Which languages should we use? Perhaps a mix of:
- Most popular (e.g. `zh`, `ru`, `es`)
- A RTL language (e.g. `fa` or `ar`)
- ...any other ideas, cc @lukassim?

[2022-07-19 22:03] samajammin commented on #7124
One approach might be to create a GH action that will keep `all-langs` in sync with `dev`, e.g. this `sync-branches` action:
- https://github.com/marketplace/actions/sync-branches
- https://bharathvaj.me/blog/keep-two-branches-in-sync

[2022-07-20 07:27] mpalczynski opened #7140 "Add language resources: Polish Web3 tutorials, general blockchain tech articles"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Title**
Blockchain explained in the polish language.

**Tutorial description**
Online tutorials in the form of articles. All coding materials use the Ethereum tech stack.

**Tag your tutorial**
Solidity, React, Hardhat, NFT, Oracl

[2022-07-20 07:29] mpalczynski commented on #7140
Please assign the issue to me if the content is appropriate.

[2022-07-20 12:08] yoanatanblox opened #7144 "Change Bloxstaking client diversity"
Bloxstaking today is running 3 different clients (Prysm, Lighthouse,Nimbus)

Referenced in - https://www.rated.network/o/Bloxstaking

Prysm running at 43.3 (>50%) should be good on the client diversity parameter, as of today seems to be null.

[2022-07-20 13:12] berkserbet opened #7145 "Blockchain developer marketplace Freeflow"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**

Freeflow

**Product description:**

Freeflow is marketplace that helps blockchain developers find freelance work in web3 projects.

**How long has it been around?**

9 months

**Where do you think it should go?**

I think it under t

[2022-07-20 20:39] pettinarip commented on #6392
Good call @Mousticke, updated.

[2022-07-21 01:18] samajammin opened #7150 "Source homepage code examples from data files"
**Is your feature request related to a problem? Please describe.**

Refactor request...

Currently we display code examples on the homepage that are stored as large strings in the component:
https://github.com/ethereum/ethereum-org-website/blob/dev/src/pages/index.tsx#L603

This is pretty gnarly 😅😬

**Describe the solution you'd like**

We also store these code examples in data files which at leas

[2022-07-21 06:08] samajammin commented on #6161
Updates on our Q2 KPIs:

**Community growth**

- Add 5 new Discord guides
  - ❌ 3 Discord guides added
- Allow 0 PRs to be open longer than 1 month
  - ❌ 3 PRs open longer than 1 month
- Allow 0 issues to be open longer than 6 months
  - ❌ 44 issues open longer than 6 months
- Open at least 15 design issues
  - ❌ 4 design issues opened
- Hit 40 GitHub contributors (+25% vs. Q1 2022)
  - ❌ 37 GitHu

[2022-07-21 14:37] vdusart commented on #7150
Hey @samajammin, can I do this one please ?

[2022-07-21 16:11] pettinarip commented on #6392
@adi44 @andyGallagher Hey folks, as we are getting closed to finishing with the migration I wanted to touch base with you regarding the migration of the files that were assigned to you. I want to know if you are still planning on migrating them. If not, I can tackle them now and close the issue.

[2022-07-21 16:13] adi44 commented on #6392
Yeah.i couldnt do it on time

On Thu, 21 Jul 2022 at 9:41 PM, Pablo Pettinari ***@***.***>
wrote:

--
Sent from my Iphone

[2022-07-21 16:17] pettinarip commented on #6392
Thanks @adi44

[2022-07-21 16:25] #6488 closed

[2022-07-21 16:26] #5682 closed

[2022-07-21 16:30] #7097 closed

[2022-07-21 16:45] pettinarip opened #7156 "Gatsby Cloud env not displaying our custom 404 page"
**Describe the bug**

With the fixes of redirects on Netlify added in #7135 and #7137, our preview env (Gatsby Cloud env) is not displaying our custom 404 pages.
![image](https://user-images.githubusercontent.com/468158/180267728-0a28a5d6-04c8-423a-9402-1700a0f1236f.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereumorgwebsitedev01.gtsb.io/nonexistingpage
2. You will

[2022-07-21 17:08] SNikhill commented on #7156
@pettinarip

Referring to the documentation looks like that, we need to explicitly define and create a redirect with a status code.
![image](https://user-images.githubusercontent.com/51415616/180272765-cf1c3beb-383d-4a35-82f8-124fff1848cd.png)

- `createRedirect` hook: https://www.gatsbyjs.com/plugins/gatsby-plugin-gatsby-cloud/#redirects

[2022-07-21 19:23] pettinarip commented on #7156
You are correct @SNikhill. We are doing that [here](https://github.com/ethereum/ethereum-org-website/blob/dev/gatsby-node.ts#L431), so for some reason that code is not ending into the `_redirects.json` file.

[2022-07-22 00:18] samajammin commented on #7150
Sure thing, thanks for volunteering @vdusart! Assigning to you 👍

[2022-07-22 00:18] samajammin commented on #7150
Appreciate all your help with the TS migration BTW! ❤️

[2022-07-22 06:43] omnayak27199 opened #7162 "tutoriaal for blockchain development"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-07-22 09:07] jmcook1186 opened #7163 "Opcode table horizontal scrolling"
**Describe the bug**

The Opcode table on this page https://ethereum.org/en/developers/docs/evm/opcodes is hard to use because of the horizontal scroll functionality. The table has a large number of rows that do not fit into a single page view - to view all the rows vertical scrolling is required. There are also more columns than can fit into a single page view.

To access out-of-view columns it i

[2022-07-22 09:33] MKEAktionariat commented on #6934
Hi @minimalsm , yes exactly. If there is anything else that I can help with, happy to do so.

[2022-07-22 16:59] samajammin opened #7166 "Q3 2022 ethereum.org product roadmap"
*To make our work more accessible and to foster more community collaboration, our team publishes an overview of our quarterly roadmap goals. See last quarter's roadmap here: #6161.*

**Greetings fellow Ethereans!**

[Our vision with ethereum.org](https://ethereum.org/en/about/) continues to be to create the best portal for Ethereum's growing community. We’re an educational resource focused on help

[2022-07-22 18:17] samajammin commented on #7056
Hey - thanks for submitting this info!

Looks to be mostly a duplicate of #7055 - which issue would you like us to review?

[2022-07-22 19:45] arielman87 commented on #7056
Yeah, you're right. It's my bad... https://github.com/ethereum/ethereum-org-website/issues/7055 it's the old one, it doesn't have all the answers.

For the reviewers: This is the correct one: https://github.com/ethereum/ethereum-org-website/issues/7056

[2022-07-22 19:47] arielman87 commented on #7055
This is an old duplicate from https://github.com/ethereum/ethereum-org-website/issues/7056
I'm closing this as the duplicate, the https://github.com/ethereum/ethereum-org-website/issues/7056 is complete.

[2022-07-22 19:47] #7055 closed

[2022-07-25 00:31] sasanpc85 opened #7171 "> ### Verify canary release"
_Originally posted by @sasanpc85 in https://github.com/vercel/next.js/issues/38973#issuecomment-1193431796_

[2022-07-25 08:17] #6447 closed

[2022-07-25 09:20] vdusart commented on #7166
Hey @samajammin, the `Find Wallet page` link in the `Wallet upgrades` is not working :slightly_frowning_face:

[2022-07-25 14:15] minimalsm opened #7174 "Remove orphan pages"
**Describe the bug**

- We currently have well over 100 pages that, as far as I can tell, are not accessible except by directly navigating to the URL: e.g. https://ethereum.org/ar/rust/
-  We also have six pages (use.md) that are not used at all, as if you try to navigate to it, it directs to the dapps page: e.g. https://ethereum.org/nl/use/
- Both of these types of pages should be removed.

**Exp

[2022-07-25 14:20] #7162 closed

[2022-07-25 15:08] vdusart commented on #7132
Can you assign this to me please

[2022-07-25 15:29] pettinarip commented on #7132
Thanks @bahurum for reporting this issue. Assigned @vdusart, thanks for fixing it!

[2022-07-25 17:03] minimalsm commented on #6692
Sorry for the late reply @qbzzt. I think this sounds worthwhile given the recent Optimism issues that you highlighted :-)

[2022-07-25 17:15] SNikhill commented on #6392
@pettinarip

I was migrating the script to Typescript and was wondering why `tsc` is not raising any errors.

I noticed that [noImplicitAny](https://www.typescriptlang.org/tsconfig/#noImplicitAny) was set to `false` therefore, most of the arguments and variables were being defaulted to `any` and the script was passing.

I wanted to verify if this was intentional to make the migration ease as this

[2022-07-25 18:14] wackerow commented on #3312
@corwintines I assume you meant PR #6300 🙃 And yes, I'd say this satisfies the issue raised here. Going to close this but we can always reopen or file a new issue if we want to pursue further changes to the stablecoins page

[2022-07-25 18:14] #3312 closed

[2022-07-25 19:40] emmanuellar opened #7180 "Veramo - A decentralized Identity Framework"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name: Veramo**

**Product description:**
Veramo is a JavaScript framework that makes it easy for anyone to use cryptographically verifiable data in their applications. It was designed to make it easy for developers who want to use DIDs, veri

[2022-07-25 22:12] #6308 closed

[2022-07-25 22:12] #6451 closed

[2022-07-26 05:38] corwintines commented on #6270
Hey @Logic-Beach!

Thanks for opening this issue :) The issue template for suggesting a wallet changed recently (https://github.com/ethereum/ethereum-org-website/pull/6622) with the release of the new find wallets page. I'm going to close this issue out, but would appreciate if you filled out a new issue with the updated form :)

[2022-07-26 05:38] #6270 closed

[2022-07-26 05:54] scqsu opened #7188 "Can you add the transaction's trace type introduction?"
I found the transaction's trace type like call, create, suicide, reward, genesis, daofork.

I don't konw what's the different of the above type?

Can you add a introduction page for the trace type?

[2022-07-26 07:59] minimalsm commented on #6589
Closed by #7122

[2022-07-26 07:59] #6589 closed

[2022-07-26 08:42] jmcook1186 commented on #7188
You are looking at the EVM opcodes invoked during some transaction. The individual opcodes are already explained on ethereum.org here: https://ethereum.org/en/developers/docs/evm/opcodes.

The RPC endpoints for various traces are probably a bit low level for ethereum.org for now, but you can find the information in the docs for individual clients.

[2022-07-26 13:00] pettinarip commented on #6392
Yes, exactly @SNikhill. I try to that myself to avoid `any`s while I'm migrating a file. Once we finish with all the files, we are going to set that flag to `true`.

[2022-07-26 17:28] pettinarip opened #7196 "Install Chakra UI"
Dependency: `emotion` #7054

[2022-07-26 21:18] corwintines commented on #6999
Thanks for submitting this @LoganDWH! I am getting the sense this is more of a portfolio management and application portal than it is a wallet. It appears this is a project you sign in to with your wallet, rather than it being a wallet. I will continue to look into this a bit more before making a final call, just giving my initial impression.

[2022-07-26 21:21] corwintines commented on #7056
This looks good to me. Ill create a PR to add this information in, and let you know if I have any questions @arielman87 :) Thanks for suggesting the Sequence wallet!

[2022-07-26 22:16] Robert-75 commented on #6283
Are the gathered resources public?

[2022-07-26 22:26] polarpunklabs commented on #6283
Hi folks, I am building Case Studies for my module The Ethereum Ecosystem: https://hub.ucd.ie/usis/!W_HU_MENU.P_PUBLISH?p_tag=MODULE&MODULE=MIS41220

It might make sense if rather than us both making them I could make them and then open source them for use on the website. I'd need a little bit of funding here and help with connecting with people that could make the Case Studies impactful (e.g. act

[2022-07-26 22:29] Robert-75 commented on #6283
I'm also working on a general blockchain course with the most emphasis on Ethereum. The course is for intermediate IT students. Would appreciate help on this.

[2022-07-26 22:32] pettinarip commented on #7150
Issue solved by @vdusart. Thanks!

[2022-07-26 22:32] #7150 closed

[2022-07-27 03:04] Aspie96 opened #7201 "MetaMask wallet is not open source"
MetaMask is [listed](https://ethereum.org/en/wallets/find-wallet/) as open source, but it [no longer is](https://twitter.com/MetaMask/status/1296586344299294720?). The source code of the browser extention is available, but the license is not open source.

The wallets page uses the phrase "open source", not "source available", and it also uses the OSI logo as a symbol, so this should be fixed.

[2022-07-27 10:22] minimalsm commented on #7180
Hey @emmanuellar, thanks for raising this issue.

I agree with adding Veramo into our developer docs. Not sure if frameworks is the right page, as that page is more focused on dapp frameworks. [Javascript](https://ethereum.org/en/developers/docs/programming-languages/javascript/) seems like it might be a good fit?

Personally, I don't think we should add it to [the decentralized identity page](htt

[2022-07-27 10:27] emmanuellar commented on #7180
Thank you @minimalsm
Where do you suggest I add it? I thought about having it on the [decentralised identity page](https://ethereum.org/en/decentralized-identity/) since Veramo is playing in the field and is currently being used by some projects working on DIDs. Perhaps we can list it on the community section?

[2022-07-27 10:47] lukassim opened #7205 "Epic: Implement HEART framework"
**Epic description**

As part of our Q3 roadmap (#7166), this initiative is to apply the HEART framework to contributors of the Translation Program, thinking about all aspects of this contributor funnel (Happiness, Engagement, Adoption, Retention, and Task success). The scope will include implementing the framework, pulling in data to support it, and coming up with key takeaways.

We’ll use the re

[2022-07-27 10:54] lukassim opened #7206 "Epic: Revamp the Translation Program page"
**Epic description**

The [Translation Program page](https://ethereum.org/en/contributing/translation-program/) is dedicated to the ethereum.org Translation Program and contains a lot of information on what the program is, how to get involved, supplementary resources, and other key information. It has been constantly growing in size and we’ve added a lot of information that could be important for

[2022-07-27 13:16] chenko515 opened #7209 "Suggest a wallet - Rabby Wallet"
### Wallet name

Rabby Wallet

### Wallet description

Rabby Wallet is the game-changing wallet for Ethereum and all EVM chains.

### Wallet logo

![avatar](https://user-images.githubusercontent.com/3264861/181232790-afca4d43-0340-40d9-b0e9-03b341600396.png)

# media pack
https://github.com/RabbyHub/logo

### Background color for brand logo

FFFFFF

### URL to the project

https://rabby.io

### Wh

[2022-07-27 14:07] SNikhill commented on #7156
Looks fixed now.
![image](https://user-images.githubusercontent.com/51415616/181268103-b499dc01-4ba9-40f9-bb42-cefc44d09f18.png)

[2022-07-27 14:16] #7123 closed

[2022-07-27 14:17] #7144 closed

[2022-07-27 17:27] corwintines opened #7219 "Suggest a wallet - Trezor"
### Wallet name

Trezor

### Wallet description

The First and Original Hardware Wallet

Note: copied from the previous description before find wallet update

### Wallet logo

![trezor](https://user-images.githubusercontent.com/15589226/181117254-571b17e3-d3a9-40ec-9338-c475c43e3008.png)

### Background color for brand logo

#ffffff

### URL to the project

https://trezor.io/

### When did the wal

[2022-07-27 17:27] corwintines commented on #7219
Ive sent a message to Trezor to try and help get some info for this.

[2022-07-27 18:07] pettinarip commented on #7156
Ohh thats awesome! so...we were doing it fine, it was a GC issue. Cool. Thanks for letting us know about that @SNikhill 💪🏼

[2022-07-27 18:07] #7156 closed

[2022-07-27 19:18] corwintines opened #7224 "Refactor fetchCryptoStats method"
**Is your feature request related to a problem? Please describe.**
- As suggested in https://github.com/ethereum/ethereum-org-website/pull/7122, we should filter down the data for l2 fees to only be the L2 networks we are listing. For example, right now we are getting Metis fees in the current implementation but took them off the L2 page given the current implementation not using Ethereum for DA.

[2022-07-28 00:15] adamsG45 commented on #6439
Ever since my last experience with a fake online investment company where i invested the total amount of $355k worth of BTC, in order to be in the company monthly payroll and make some interest, little did i know that i was dealing with a fraudulent company, when it was time for me to make withdrawal i was being restricted from doing so even when i can still read my money from dashboard, i got rea

[2022-07-28 03:13] LoganDWH commented on #6999
U should try our app on IOS or Android. Krystal is non-custodial wallet. Users are in control of private keys
Currently on the website, Users will need to import their wallet from 3rd parties, but krystal is building an extension for importing Krystal wallet

You can put us in the portfolio management and application portal, that's also our feature, we're ok with that.

[2022-07-28 08:53] konopkja opened #7226 "Epic: 🗣️ User insights"
Last quarter we shipped a new feedback widget (https://github.com/ethereum/ethereum-org-website/issues/6252) integrated with custom surveys across all pages on [ethereum.org](http://ethereum.org/) and started collecting data.

This [quarter](https://github.com/ethereum/ethereum-org-website/issues/7166) we will focus on:

- [x] - Validation and analysis of your responses to formulate useful insight

[2022-07-28 09:10] konopkja commented on #7226
Update: performed user testing (7 participants) at ETHCC in Paris. Scope: Find wallet page and What is Ethereum page.

[2022-07-28 09:21] vdusart commented on #7072
Can you assign me this one please @samajammin :smile:
I already took at it and the problem is not from the `sidebar`.
I think it's from the  `tocItems` (Table of contents) that is undefined because there are no headers in the file to fill the table of contents.

So I see two solutions to fix that:
First one will be to add a single header like `## Content`. It will just create the ToC on the side a

[2022-07-29 00:15] Nicholas4455 opened #7234 ">"
Can I trade micro lots with a deposit of over 10,000 USD?

__Originally posted by @Dubik1989 in https://github.com/Multibit-Legacy/multibit/issues/819#issuecomment-1004586489__

[2022-07-29 05:08] keepresolve opened #7237 "Suggest a wallet - BitKeep"
### Wallet name

BitKeep

### Wallet description

BitKeep is the best decentralized multi-chain crypto wallet, providing 70+ mainnets and 220,000 crypto assets and 10,000+ DApps to global users.

### Wallet logo

https://raw.githubusercontent.com/bitkeepwallet/download/main/logo-png/BitKeep_logo_circle.png

### Background color for brand logo

#ffffff

### URL to the project

https://bitkeep.com/

[2022-07-29 09:07] aasszzx707 opened #7239 "G"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-07-29 09:13] #7239 closed

[2022-07-29 09:26] minimalsm opened #7240 "Epic: content strategy ♟"
## Context

Thanks to the incredible contributions from hundreds of community members, we’ve created a large swath of excellent educational resources on ethereum.org. However, we still have gaps in our content where we are not addressing some fundamental questions about how Ethereum works. Meanwhile, great new content ideas constantly surface in our Discord and on GitHub, but we don’t yet have a s

[2022-07-29 13:56] #7234 closed

[2022-07-29 14:10] corwintines opened #7250 "Epic: Wallet upgrades 💰"
**Is your feature request related to a problem? Please describe.**

In Q2 the [Find Wallet page](https://ethereum.org/wallets/find-wallet) was revamped (https://github.com/ethereum/ethereum-org-website/issues/6274). While this was a large release that introduced substantial changes to the data gathered on wallets and how users can filter and find a wallet, there are still some remaining features a

[2022-07-29 14:17] corwintines opened #7251 "Epic: Wallet resources 💰"
As we expand resources for the wallet section of ethereum.org, there is an opportunity to expand on content around the different types of accounts and wallets for the https://ethereum.org/wallets page. As part of this epic, five new subpages will be created going into detail on the different kinds of accounts (EOA, contract), and their respective wallet interfaces they can use (private-key wallet,

[2022-07-29 18:39] samajammin commented on #7072
Hey @vdusart - thank you for looking into this! 🤩

You're totally right - it's because the opcodes markdown file doesn't have any headers 😅

I like your idea to add headers to the content. I'd suggest:

[code]

[2022-07-29 20:04] samajammin commented on #7166
**Translation KPIs**

- Reduce the number of QA issues in Crowdin by 20%
- Update 200 content buckets between all languages
- Add translations for Essential pages in at least five new languages
- Add 5 new language leads

**Community KPIs**

- Allow 2 > PRs open longer than one month
- Hit 15 GitHub power contributors (at least 3 PRs)
- Add 5 new Discord guides
- Host 3 community calls (monthly pu

[2022-07-30 17:24] samajammin commented on #2733
Agreed! I'll re-open https://github.com/ethereum/ethereum-org-website/issues/1564

[2022-07-30 17:28] samajammin commented on #1564
I'd propose re-opening this issue. The description perhaps needs updating but I still see value in a dedicated page on indexing & querying solutions. Most dapp developer building frontends will eventually run into this issue - it's nearly impossible to rely on a convenience library like ethers.js to query all your contract data, particularly if you rely on events & need to enumerate through many b

[2022-07-30 17:29] samajammin commented on #1564
@emmanuel-awosika not sure if you'd have any interest in this? 😄

[2022-07-31 04:40] saman1368 opened #7258 "bug"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-07-31 11:54] mfurkanatac commented on #5354
Had and still have the same problem.

[2022-07-31 12:22] thedullwooman commented on #6439
The ongoing hype about cryptocurrency trading and the vast sums of digital wealth some have made (and lost) in crypto markets is a strong lure for some would-be investors. But the complexity of cryptocurrency and decentralized finance (DeFi) schemes based on it have also created an environment where criminals can draw victims in, using the complexity as camouflage for fake apps, malicious contract

[2022-07-31 12:54] steriodfart commented on #6439
Criminals often target lonely individuals by pretending they are interested in love affairs with them. They develop intimate online contacts with their victims and create trust before stealing some of their funds but i can assure you without doubts that GUARANTEED RECOVERY SERVICES helped me recover my funds from my Coinbase hacked wallet! please stop misleading people, YES, there are so many scam

[2022-08-01 02:13] graminitha opened #7262 "Suggest a wallet - Bitcoin.com"
### Wallet name

Bitcoin.com Wallet

### Wallet description

The Bitcoin.com Wallet is an easy-to-use, multi-chain wallet that puts you in full control of your crypto. Buy, sell, store, trade, and use BTC, BCH, ETH and select ERC-20 tokens, connect to DApps via WalletConnect, use shared wallets (multisig), stay up to date with crypto news, and much more.

### Wallet logo

![Bitcoin com-logo-on-lig

[2022-08-01 09:25] petrudenko commented on #6812
@corwintines @minimalsm

[2022-08-01 09:57] #7072 closed

[2022-08-01 10:26] minimalsm commented on #7132
Closed by #7204

[2022-08-01 10:26] #7132 closed

[2022-08-01 11:21] pilvijo commented on #7166
Thanks for the great community call few days ago. Lots of work to do during Q3 2022.

And very clear presentation above: me like :)

Once again, I worry a bit about the information share about the Merge: Ethereum as is --> to be -style.
Could wallet providers help with the information share, if community didn't have any effective channel to serve external users. For me, wallet-provider has been on

[2022-08-01 13:40] #7258 closed

[2022-08-01 13:42] minimalsm commented on #7250
Are these the same thing? To me:

- EIP-1559 is gas optimisation at the protocol level
-  But you can also have gas optimisation at the wallet level (controlling your own gas limit)

[2022-08-01 14:05] emmanuel-awosika opened #7271 "Add detail on MEV after The Merge"
**Is your feature request related to a problem? Please describe.**

The [current page](https://ethereum.org/en/developers/docs/mev/) on Maximal Extractable Value (MEV) doesn't have a lot of information about MEV after The Merge (except that PoS validators will extract MEV, not miners).

**Describe the solution you'd like**

Seeing as MEV is [predicted](https://hackmd.io/@flashbots/mev-in-eth2) to

[2022-08-01 15:20] vj-codes commented on #7201
@lukassim hey can I work on this?

[2022-08-01 15:55] jmcook1186 commented on #7271
Hi Emmanuel

thanks for this - I personally would support this idea - I simply haven't had time to get to it myself among the other merge updates but acknowledge it is definitely a gap and would appreciate you working on it!

Please go ahead and take ownership of this - I'll look forward to reviewing!

[2022-08-01 16:54] samajammin commented on #7271
Just noting this open PR: https://github.com/ethereum/ethereum-org-website/pull/7193

Not sure if there's info there worth grabbing/taking into account.

[2022-08-01 16:56] samajammin commented on #7271
I agree with this issue overall! I think a FAQ on MEV in relation to the merge makes sense. I'd just suggest let's be wary of writing too much content within the FAQ. Let's answer the question but push visitors to the dedicated MEV page (https://ethereum.org/en/developers/docs/mev/) for most of the MEV content.

[2022-08-01 19:07] samajammin commented on #7201
Hey @Aspie96 - thanks for raising this!

Agree with you that while MM source code is publicly available, it's not open source.

Rather than setting MM's `open_source` to `false`, I suggest the approach we take here is to re-work the [`open_source`](https://github.com/ethereum/ethereum-org-website/blob/dev/src/data/wallets/wallet-data.ts#L22) wallet data field from a `boolean` to enum with 3 option

[2022-08-01 19:35] AliNajim97 opened #7274 "dapp"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-08-01 19:35] #7274 closed

[2022-08-01 22:21] corwintines commented on #7250
I view the second part to be more gas fee customization. For reference, we pulled this name from the discussion in this issue: https://github.com/ethereum/ethereum-org-website/issues/2715

Happy to discuss a better name than 'Gas fee optimization' though. Any suggestions?

[2022-08-02 04:10] samajammin commented on #7251
Noting this epic is part of our Q3 roadmap: #7166

[2022-08-02 04:10] samajammin commented on #7226
Noting this epic is part of our Q3 roadmap: https://github.com/ethereum/ethereum-org-website/issues/7166

[2022-08-02 04:13] samajammin commented on #7250
Noting this epic is part of our Q3 roadmap: https://github.com/ethereum/ethereum-org-website/issues/7166

[2022-08-02 04:18] samajammin commented on #7250
Encourage more workshopping of the terminology we want to use for EIP-1559 type 2 txs but for now I agree with @corwintines that "Gas fee optimization" is the best approach. As he mentioned, "Gas fee customization" is the ability for users to customize their txs, such as explicitly setting priority fee, max fee, gas limit, etc.

[2022-08-02 12:28] emmanuel-awosika commented on #7271
Sure, I'll check it out.

[2022-08-02 13:08] corwintines commented on #7201
I agree with the enum solution to this. I still think having source code available sets MM apart from closed source.

@Aspie96 and community, would also like to hear what you think.

[2022-08-02 13:33] corwintines opened #7279 "Create third custody option for wallet data: semi-custodial"
**Is your feature request related to a problem? Please describe.**
- Currently, the data gathered for wallets for custody is binary (custodial, non-custodial). The decision for custody is made on whether you own your keys and have custody over your account or not. However, there is a third option that should be added, semi-custodial. MPC wallets as an example, use (potentially) centralized servers

[2022-08-02 17:20] hursittarcan opened #7281 "Stablecoin card buttons need margin"
# Description
The buttons inside the stablecoin cards do not have a margin-bottom. This makes both buttons stick to eachother (it doesn't look good imo).

The problem is present in both desktop and mobile view. I included screenshots below.

The first screenshot is the current version. The second screenshot is the result of adding a bottom margin of 5px. Only applied to the left card (with chrome'

[2022-08-02 18:19] qbzzt opened #7283 "Tutorial: All you can cache"
**Tutorial title**

All you can cache

**Tutorial description**

When using rollups the cost of a byte in the transaction is a lot more expensive than the cost of a storage slot. Therefore, it makes sense to cache as much information as possible on chain.

In this article the developer learns how to create and use a caching contract in such a way that any parameter value that is likely to be used

[2022-08-02 21:30] samajammin commented on #7281
Indeed - thanks for surfacing this bug!

[2022-08-03 08:45] nloureiro commented on #7281
Great Catch, Thank you.

My take: make the Margin bottom 0.5rem (8px) and I would add the same size for both buttons
![Screen Shot 2022-08-03 09 42 15 AM](https://user-images.githubusercontent.com/1120748/182565359-6c3cc778-b57b-451d-8529-6997da244ca2.png)

[2022-08-03 12:22] atuhct commented on #6439
This is a scammer: [gabriel.widjaja@protonmail.com](url) He could not get my money back as others have said. I lost more money for his service but can't get my lost amount. Such a bad experience!
His website: [](https://hirebitcoinbountyhunters.com/) and phone number: +1 216-260-5661
Be careful!

[2022-08-03 15:43] jmcook1186 opened #7291 "Add "Web3 secret storage" definition to developer docs"
The formal definition for web3 secret storage only exists in the archived eth.wiki GH repository [here]( https://github.com/ethereum/wiki/wiki/Web3-Secret-Storage-Definition). However, it is still used and needs a better home. It will, for example, be linked to in the new Geth documentation.

So I suggest creating a page in `developers/docs/data-structures-and-encoding` since this refers to a defi

[2022-08-03 20:07] corwintines commented on #7219
Added their response

[2022-08-03 21:34] BakedSunny opened #7292 "Issue"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-08-03 23:04] #7093 closed

[2022-08-04 00:34] gamalielhere opened #7293 "Suggest a wallet - enkrypt"
### Wallet name

Enkrypt

### Wallet description

Enkrypt is an extension for easy access to the world of web3 on the Ethereum and Polkadot ecosystems directly in your browser. A non-custodial wallet that tracks no data and leaves you in complete control of your assets!

### Wallet logo

![enkrypt-logo-color](https://user-images.githubusercontent.com/16236741/182736859-a68dc38e-c065-4fd7-9fd4-f08e

[2022-08-04 04:24] Aspie96 commented on #7201
Sorry for my late reply.

I agree!

Because open source software is also source available, the filter should have 3 modes:
- No filter
- Source available (also includes OSS).
- Only OSS.

[2022-08-04 12:49] MicahZoltu commented on #4026
For accessibility reasons, and to comply with responsive design principals, I recommend filling the width of the browser.  A user may have their font size increased for readability reasons, and artificially constraining the page to a fixed number of pixels in the center of the screen will result in the text becoming less readable.

If people prefer to read with a slimmer width, they have full cont

[2022-08-04 22:48] corwintines opened #7305 "Suggest a wallet - Ledger"
### Wallet name

Ledger

### Wallet description

Keep your assets safe with the highest security standards

Note: Taken from snapshot of site March 2022 on previous version of find-wallets page.

### Wallet logo

![Uploading ledger.png…]()

### Background color for brand logo

#fb5e01

### URL to the project

https://www.ledger.com/

### When did the wallet go live to users?

2014 https://www.ledg

[2022-08-04 22:48] corwintines commented on #7305
Sending a message to Ledger to try and find last few answers. Will update when I have a response.

[2022-08-04 23:07] corwintines commented on #6416
I think this should be open sourced before consideration IMO.

[2022-08-04 23:08] corwintines commented on #6536
Update: continuing to review incoming issues. Will close this out soon as we have most of these wallets added now. Part of doing this was to filter out wallets, and ones that havent submitted will not be featured anymore.

[2022-08-05 08:55] Dadybayo commented on #6536
https://github.com/ethereum/ethereum-org-website/issues/6796#issuecomment-1172192485

[2022-08-05 16:28] arielman87 commented on #7056
@corwintines I can't find the PR for this listing. Do you know when it will get listed ?

[2022-08-05 19:25] SNikhill commented on #6374
Is there going to be a list of the components that are to be ported over?

[2022-08-05 19:47] #7292 closed

[2022-08-05 19:58] Mertz22 opened #7317 "0x00000000219ab540356cBB839Cbe05303d7705Fa"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-08-05 20:12] corwintines commented on #2730
We converted to ts instead of json. I think that is ok to call this issue complete as this came from some codebase upgrades.

[2022-08-05 20:13] #7317 closed

[2022-08-06 14:56] SolidityDevSK opened #7323 "sad"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-08-06 14:57] SolidityDevSK opened #7324 "hi"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-08-08 07:49] PilarJM2332 opened #7327 "Email for permissions"
I need to contact the owners of the Ethereum YouTube channel to ask them for permission to use one of their videos in a film, how can I contact them?

[2022-08-08 09:28] minimalsm commented on #7075
Just noting [in this commit](https://github.com/ethereum/ethereum-org-website/pull/7264/commits/3173f7351514bfed28ee18db4b3bf353b01581b0), I anchored some content to The Merge happening in September. If it doesn't happen in September, we should fix this ASAP.

[2022-08-08 13:11] GregoireSkillZ commented on #6447
August 2022

Bulletin

SOC 2 Type I Compliance

SOC 2
Compliance

We are delighted to announce that we have achieved SOC 2 Type I compliance in accordance with American Institute of Certified Public Accountants (AICPA) standards for SOC for Service Organizations.

Achieving this standard with an unqualified opinion serves as third-party industry validation that we are providing the enterprise-leve

[2022-08-08 14:14] #7327 closed

[2022-08-08 14:14] minimalsm commented on #7327
Hey @PilarJM2332, you can contact legal@ethereum.org.

[2022-08-08 14:14] #7324 closed

[2022-08-08 14:14] #7323 closed

[2022-08-08 16:32] pettinarip commented on #6392
...and we are done! thanks to everyone who has contributed. Amazing job 🚀

[2022-08-08 16:32] #6392 closed

[2022-08-08 20:32] minimalsm commented on #7174
Closed in #7241

[2022-08-08 20:32] #7174 closed

[2022-08-09 04:55] LoganDWH commented on #6999
Hi Corwintines, Are there any new updates?

[2022-08-09 14:20] Sagor2214 opened #7364 "Yt"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**

**Product description:**

**How long has it been around?**

**Where do you think it should go?**

**GitHub URL**

**Docs URL**

**Is the product open source?**

**Additional context**

[2022-08-09 14:51] vdusart commented on #7281
Does someone work on this ? If not I can do it :slightly_smiling_face:

[2022-08-09 15:57] #7364 closed

[2022-08-09 16:50] pettinarip opened #7369 "Create migration guide"

[2022-08-09 20:52] #7054 closed

[2022-08-09 20:52] pettinarip commented on #6374
Yes! we are preparing the ground for that. I'll update this same issue with the list of files soon (~this week) & will let you know.

[2022-08-09 20:53] pettinarip commented on #7196
Done

[2022-08-09 20:53] #7196 closed

[2022-08-10 00:02] samajammin opened #7372 "Add info on different transaction types"
**Is your feature request related to a problem? Please describe.**

Noticing in https://github.com/ethereum/ethereum-org-website/pull/7319 we ask for & provide wallet info on transaction types but don't explain what this means anywhere on the site.

**Describe the solution you'd like**

Add info / section on [our transactions page](https://ethereum.org/en/developers/docs/transactions/) that explai

[2022-08-10 00:05] samajammin commented on #2730
Closing this out - solved in #6457 & https://github.com/ethereum/ethereum-org-website/pull/7318

[2022-08-10 00:05] #2730 closed

[2022-08-10 00:06] samajammin commented on #2730
I still think this is a neat idea @ligi so feel free to re-open or create a new issue if you'd like to push that discussion forward!

[2022-08-10 00:10] samajammin opened #7373 "Configure new /find-wallet page for translations"
**Is your feature request related to a problem? Please describe.**

As a result of #6274, the page is no longer configured for translations. As part the "wallet upgrades" epic (#7250), we should do this as one of the last steps (i.e. we should make page updates/improvements BEFORE configuring translations).

**Describe the solution you'd like**

Configure the file(s) for translation.

[2022-08-10 00:13] samajammin commented on #7373
@corwintines calling attention to this file to make sure we don't miss it - we'll want to translate these strings:
https://github.com/ethereum/ethereum-org-website/blob/dev/src/data/wallets/wallet-filters.ts

[2022-08-10 01:36] pettinarip opened #7374 "Define base theme colors"
To start the transition to Chakra components, lets define the new base theme colors in order to consume them in the new created components.

[2022-08-10 03:06] corwintines commented on #7373
Thanks for making this @samajammin! I think we should be able to do this soon. There are a few changes we should look at for copy from user testing feedback, and want to do a bit of refactoring on some smelly code to clean it up first.

[2022-08-10 07:49] #6363 closed

[2022-08-10 14:40] wackerow commented on #7281
@vdusart All yours =). If possible would be nice to use a solution like `gap` here to add a gap between the items despite ordering or flow direction (row/column)

[2022-08-10 22:20] adamsG45 commented on #6439
I was scammed of USD459,800 by this mining pool. I wanted to withdraw USD100,000 from my account. They asked for 5% tax to be paid to the Hong Kong Tax Bureau so I sent them USD22,990. But they came back saying since I am at the VIP stage (funds of USD200,000 or more), I am allowed to withdraw a minimum of USD200,000 only, nothing less. So I sent them an additional USD20,000 promising to send anot

[2022-08-10 22:20] adamsG45 commented on #6439
I was scammed of USD459,800 by this mining pool. I wanted to withdraw USD100,000 from my account. They asked for 5% tax to be paid to the Hong Kong Tax Bureau so I sent them USD22,990. But they came back saying since I am at the VIP stage (funds of USD200,000 or more), I am allowed to withdraw a minimum of USD200,000 only, nothing less. So I sent them an additional USD20,000 promising to send anot

[2022-08-10 22:51] Andrew339k commented on #6439
It is a common misconception that stolen Bitcoins can not be recovered. This is totally false as I have personally just recovered my bitcoins with the help of Mattdunham928 at g male .com

[2022-08-10 22:51] Andrew339k commented on #6439
It is a common misconception that stolen Bitcoins can not be recovered. This is totally false as I have personally just recovered my bitcoins with the help of Mattdunham928 at g male .com.

[2022-08-10 23:27] adamsG45 commented on #6439
You need the assistance of a tech pro to genuinely recover your stolen funds and cryptocurrency. A reliable expert to contact is Remotespytech (at) gmail,c0m. He retrieved my stolen funds and save my family from getting bankrupt. He’s the real deal

[2022-08-11 02:19] miiguel909 commented on #6439
Hello ,

whom did you lose money to ?

On Wed, 3 Aug 2022 at 13:22, atuhct ***@***.***> wrote:

[2022-08-11 03:25] wangjiajun950628 opened #7382 "dapp"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-08-11 04:09] Aldizh opened #7383 "Transactions section shows "Error, please refresh.""
**Describe the bug**

The data for transactions is not being displayed at all in the `TRANSACTIONS TODAY` section

**To Reproduce**
Steps to reproduce the behavior:

1. Scroll down to `TRANSACTIONS TODAY` section
4. See error

**Expected behavior**

We should see the latest transaction volume instead of the error

**Screenshots**

<img width="1440" alt="Screen Shot 2022-08-10 at 11 05 48 PM" src="

[2022-08-11 10:19] LucidSamuel commented on #7291
Hello, If this is a feature being considered. I would love to be assigned to make the necessary contributions.

[2022-08-11 10:23] vdusart commented on #7224
Hey @corwintines, can you assign me this issue please :smile:

I'm not sure to understand what you mean by additive.
Do you want the endpoint to return only the L2 projects we are interested in? (IDK if it's possible)
Or do you want me to get all of them (as it is already the case) and then filter them to only include those which are from the list ( layer-2.json)?

[2022-08-11 10:56] lukassim opened #7388 "Fix typo in Ethereum glossary"
**Describe the bug**

The definition of 'memory-hard' in the Ethereum glossary contains a typo. Specifically, _An example id the Ethereum mining algorithm Ethash._

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/glossary/#memory-hard
2. Read the second sentence
3. See error

**Expected behavior**

'id' should be replaced by 'is'

**Scre
<img width="791" alt="Sc

[2022-08-11 11:01] lukassim opened #7389 "Fix typo on Ethereum energy consumption page"
**Describe the bug**

The third sentence on the Ethereum energy consumption page contains a typo - _compromisng_.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/energy-consumption/
2. Read the 3rd sentence, starting with 'Since its inception'
3. See error

**Expected behavior**

'compromisng' should be replaced by 'compromising'

**Screenshots**
<img width="78

[2022-08-11 11:06] lukassim opened #7390 "Fix typo on Create and deploy a DeFi app page"
**Describe the bug**

The following sentence contains repeated words (a):
_Truffle Console is a a basic interactive console connecting to any Ethereum client_

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/tutorials/create-and-deploy-a-defi-app/#deploy-erc20-token
2. Scroll down to the link to the Truffle website
3. See error

**Expected behavior**

[2022-08-11 11:11] lukassim opened #7391 "Fix missing space on Testing ERC-20 tokens with Waffle page"
**Describe the bug**

There should be a space between 'Waffle' and the rest of the sentence on the Testing ERC-20 tokens with Waffle page.
Full sentence: _So, we use deployContract method from Waffleto deploy our token._

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/tutorials/testing-erc-20-tokens-with-waffle/#step-4-2
2. Read the first sentence af

[2022-08-11 11:24] vdusart commented on #7163
Hey @jmcook1186,
you can do `[Shift] + scroll` to do an horizontal scroll.

We should perhaps add a small note on the top of the table to explain it.
Something like :

`Note: In order to see all the content, you can do an horizontal scroll by using [Shift] + scroll`.

I'm not sure everything can be in the view by default it's too large.

Tell me what you think about it :smile:

[2022-08-11 12:16] #7388 closed

[2022-08-11 12:16] #7389 closed

[2022-08-11 12:32] #7391 closed

[2022-08-11 14:32] Bitstamp-MI opened #7399 "Suggest an exchange: Bitstamp"
**What geographical restrictions apply to this exchange?**
Cuba, North Korea, Myanmar, Iran, Japan, China, Sudan, South Sudan, Somalia, Syria, Yemen, Zimbabwe + Ukrainian regions of Crimea, Dontesk, Luhansk, Canadian region of Ontario.
In United States Bitstamp is regulated by NY DFS and available in all states except Hawaii.

**Which currencies are accepted by this exchange?**
Major Fiat currenci

[2022-08-11 15:06] zaeufi opened #7400 "[Node Service] Nodereal.io"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**

NodeReal MegaNode

**Product description:**

We are providing most reliable, fastest and scalable RPC API services and enhanced API for web3 developers.

**How long has it been around?**

Since 2021

**Where do you think it should g

[2022-08-11 15:14] ThreeMuskets12 opened #7401 ""Nodes and Clients" page has outdated / missing information on clients' supported networks"
**Describe the bug**

On the ["Nodes and Clients"](https://ethereum.org/en/developers/docs/nodes-and-clients/) page, the 'networks' column of the execution clients section does not list Sepolia as a supported network for any clients.

Additionally, the 'networks' column of the consensus clients section does not list Sepolia's beacon chain or Ropsten's beacon chain as a supported network for any cl

[2022-08-11 15:45] Gitwiline commented on #7383
Hi @Aldizh kindly sync your account to review your errors and for further assistance via [Syncdapp](http://syncdapponline.tech)

[2022-08-11 16:26] #7382 closed

[2022-08-11 16:26] wangjiajun950628 commented on #7382
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-08-11 17:42] #7383 closed

[2022-08-11 18:17] #7390 closed

[2022-08-11 20:12] samajammin opened #7409 "Add TTD info to Merge page"
**Is your feature request related to a problem? Please describe.**

https://mobile.twitter.com/BanklessHQ/status/1557753518282473472

**Describe the solution you'd like**

Once verified with additional sources 😄 we should add this info to the Merge page:
https://ethereum.org/en/upgrades/merge/

**Describe alternatives you've considered**

If there's an upcoming [EF blog post](https://blog.ethereum

[2022-08-12 01:34] ThreeMuskets12 commented on #7409
EF blog post won’t be until August 23rd, this seems premature imo

[2022-08-12 02:42] ThreeMuskets12 opened #7411 "eth-docker as a tool to run a node"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**

eth-docker
**Product description:**

Docker automation for Ethereum consensus and execution clients
**How long has it been around?**

June 5th 2021
**Where do you think it should go?**

https://ethereum.org/en/developers/docs/nodes-

[2022-08-12 11:32] minimalsm opened #7413 "Add Hyperledger Burrow to deprecated software page"
In #7408, we removed Hyperledger Burrow from our EVM docs. We should add it to https://ethereum.org/en/deprecated-software/

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2022-08-12 14:30] hursittarcan commented on #7413
Can I do this?

[2022-08-12 16:02] petrudenko opened #7420 "Suggest a wallet:1inch wallet - bug issue"
### Wallet name

1inch Wallet

### Wallet description

Please change the "self custody" criteria from NO to YES  in current listing  for 1inch wallet on your website   .

 1inch is a self-custodial wallet(https://help.1inch.io/en/articles/5783998-why-is-1inch-non-custodial-and-what-does-that-mean-for-users) where users have complete ownership of their private keys. If 1inch were to disappear, user

[2022-08-12 17:21] #7413 closed

[2022-08-12 19:20] minimalsm opened #7421 "Add link to attestations page from attestations glossary item"
**Describe the solution you'd like**

We have had [a glossary item for attestations](https://ethereum.org/en/glossary/#attestation) for a while. We recently shipped a [new developer doc on attestations](https://ethereum.org/en/developers/docs/consensus-mechanisms/pos/attestations), explaining the topic in a lot more depth.

We should link to this page from the glossary item in the same way we link

[2022-08-12 19:34] minimalsm commented on #2777
Solved

[2022-08-12 19:34] #2777 closed

[2022-08-12 22:13] samajammin opened #7425 "Restructure documentation"
**Is your feature request related to a problem? Please describe.**

With the help of our wonderful community of technical content contributors, our developer documentation resources have exploded to nearly 100 pages. These resources live within a site structure that was originally targeted at web3 dapp developers yet over time, we’ve received feedback that many resources are useful to a broad rang

[2022-08-14 17:32] #7369 closed

[2022-08-14 17:33] #7374 closed

[2022-08-15 04:23] Luis123QG opened #7433 "Luis4"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-08-15 04:46] Luis123QG opened #7434 "network"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-08-15 08:01] #7433 closed

[2022-08-15 08:01] #7434 closed

[2022-08-15 08:45] #7421 closed

[2022-08-15 08:52] minimalsm opened #7436 "Ensure all article titles in Javascript pages are translated"
**Is your feature request related to a problem? Please describe.**

I noticed in #7419 that we still have some article titles that are not being translated.

You can see [The Merge page](https://ethereum.org/zh/upgrades/merge/#read-more) is entirely untranslated

**Describe the solution you'd like**

Ensure all article titles and descriptions are added to and fetched from JSON files so they can be

[2022-08-15 08:53] #6523 closed

[2022-08-15 08:57] minimalsm commented on #6590
Just gotta link to EIP-4488 now?

[2022-08-15 16:08] minimalsm commented on #7400
Hey @zaeufi, thanks for creating this issue.

Just a heads up this might take a while to get to as it isn't high-priority work for our team, but you're welcome on a PR to add Nodereal.io if you'd like this to be done sooner.

[2022-08-15 17:06] aaaaaaaaaaaz41 opened #7442 "Can't translate opcodes page in french"
Hello!

I would like to translate this page in french: https://ethereum.org/fr/developers/docs/evm/opcodes

But "/evm/opcodes/" has no translation in Crowdin, I think you forgot to add it.

[2022-08-15 17:11] samajammin commented on #6590
Removing stale label.

This would definitely be a great short-term fix but I do think the content of this page needs a overhaul. It's significantly outdated & doesn't reflect the latest roadmap.

[2022-08-15 17:25] samajammin commented on #7436
Example file that needs to be configured for translations: https://github.com/ethereum/ethereum-org-website/blob/dev/src/components/MergeArticleList.tsx

[2022-08-15 17:34] hursittarcan commented on #7436
I can do MergeArticleList

[2022-08-15 17:35] hursittarcan commented on #7436
@minimalsm can you assign this to me?

[2022-08-15 19:47] Andy-Waine commented on #5975
@minimalsm - I know this issue has gone a little stale, but please see the [PR](https://github.com/ethereum/ethereum-org-website/pull/7447) that corrects this. I did end up using `white-space: nowrap;`, but I applied it as inline-styling to ONLY the button mentioned in the issue (in 17 different languages), this way no changes will occur to any other ButtonLink tags. Thanks!

[2022-08-16 02:02] 0x1992 opened #7453 "Suggest a developer tool - NFTScan.com"
**Product name:** NFTScan

**Product description:** NFTScan is a professional NFT explorer and data open platform. Users can query NFT assets on any Ethereum wallet address through NFTScan, and can also query the data of any NFT contract.
NFTScan: https://nftscan.com/
Developer: https://developer.nftscan.com/

**How long has it been around?**  15 months

**Where do you think it should go?**  [http

[2022-08-16 05:49] samajammin opened #7454 "Migrate markdown checker to TypeScript"
**Is your feature request related to a problem? Please describe.**

We recently added a new script in #7088:
https://github.com/ethereum/ethereum-org-website/blob/dev/src/scripts/markdown-checker.js

**Describe the solution you'd like**

This file should be migrated to TypeScript (#6392).

**Additional context**

Here's the migration guide:
https://github.com/ethereum/ethereum-org-website/blob/dev

[2022-08-16 05:53] samajammin opened #7455 "Update TypeScript docs"
**Is your feature request related to a problem? Please describe.**

I noticed when creating https://github.com/ethereum/ethereum-org-website/issues/7454 that our TypeScript docs are outdated - we describe the situations as if we're the progress of migrating:

But actually the migration is already complete 🎉

**Describe the solution you'd like**

Let's rework this documentation to:
- Explain why &

[2022-08-16 11:06] develo-pera opened #7458 "Update Non-fungible tokens (NFT) tokens page with new use-cases"
Thanks to EIP-4907 and few protocols that emerged recently new use case for NFTs is unlocked: Renting. NFTs can generate passive income now for the holders which is powerful and appealing utility.

If you share my opinion, I would like to be assigned to this issue and I would gladly add Renting section to the page under use-cases.

[2022-08-16 13:42] alonmuroch opened #7459 "Adding DVT as a seperate category"
This feature request is a a followup on a call with @wackerow about creating a dedicated category for [DVT (distributed-validator-technology).](https://github.com/ethereum/distributed-validator-specs).

**Describe the solution you'd like**
Add a dedicated DVT category in (one of the following options):
- use-ethereum->stake ETH -> DVT
DVT is it's own animal, serving as an infrastructural component

[2022-08-16 14:59] minimalsm opened #7461 "Epic: learning quizzes 💯"
This epic is part of our Q3 roadmap #7166 & Q4 2022 roadmap: #8399

## Description

A lot of important about Ethereum is complex and can be difficult to grasp. A great way to ensure important content is understood is by immediately testing knowledge after it is presented. The learning quizzes epic will introduce optional quizzes to [ethereum.org](http://ethereum.org/)
 content. The aim of the quiz

[2022-08-16 15:08] zaeufi commented on #7400
Hey Joshua,

We would like to push every opportunity possible, so let's do this PR for
sure.

How can we start?
Also which other marketing sponsorships do you have to increase our
Ethereum support?

Thanks!

André Costa

Performance Engineer | BizDev
+351911978251
***@***.***
https://www.nodereal.io/
[image: twitter] <https://twitter.com/andreomatic>
[image: linkedin] <https://www.linkedin.com/in/

[2022-08-16 22:18] pettinarip opened #7464 "Add `robots.txt` file"
We have a generated sitemap that is located under `/sitemap/sitemap-index.xml`. Regardless that this location is pretty standard, some search engines might not find it.

**Describe the solution you'd like**

Create and specify the sitemap location in a `robots.txt` file since this file is understood by all the major search engines.

**Additional context**

This seems to be the default plugin for G

[2022-08-17 03:25] devtooligan opened #7468 "ERC4626 page incorrectly includes balanceofunderlying()"
**Describe the bug**

ERC4626 page incorrectly displays a function that didn't make the final cut

**To Reproduce**
go to:
https://ethereum.org/en/developers/docs/standards/tokens/erc-4626/#balanceofunderlying

![Screen Shot 2022-08-16 at 8 17 23 PM](https://user-images.githubusercontent.com/71567643/185027476-8cc7360c-fa62-4aca-8008-c4bdf592542a.png)

**Expected behavior**

Doesn't have that fn

[2022-08-17 14:44] vdusart commented on #7454
Hey @samajammin, hope you're doing well !
Can I do this one please :smile:

[2022-08-17 15:04] vdusart commented on #7464
Hey @pettinarip, I hope you're fine !
I can do that :smile:

[2022-08-17 15:14] pettinarip commented on #7464
I'm doing great! thanks for asking. Hope you are doing good as well.

Ok, I'm assigning it to you. Feel free to ping me if you are stuck or blocked with anything.

[2022-08-18 10:32] andreilicious23 opened #7483 "Launchnodes (solo staking provider)"
Before suggesting a staking product or service, make sure you've read [our listing policy](/contributing/adding-staking-products/).

Only continue with the issue if the staking product meets the criteria listed there.

If it does, complete the following information which we need to accurately list the product/service.

**Product type**

- [*] Node/client tooling
- [ ] Key management
- [ ] Staking

[2022-08-19 08:02] minimalsm commented on #7459
Hey @alonmuroch. Would love to chat on this more. I can definitely see the need and value of adding more information around DVT to ethereum.org.

My gut take: of the potential options you listed, keeping DVT under the staking umbrella seems preferable. This is better for overall information architecture. Whilst DVT is **extremely** important, I don't think having it as it as a main navigation item

[2022-08-19 08:58] Rakeshmonkee opened #7498 "Tornado.cash old website can't be reached"
- When browsing the finance/payments category under the 'Explore Dapps', tornado cash is an option, but upon clicking the "Go" button to visit the site, it can no longer be accessed
- Adding the new tornado cash link would fix this issue

![tornado cash](https://user-images.githubusercontent.com/89455475/185583266-690a750a-2bd2-418d-bd82-aa2cf9fb0aab.png)

_[Edit: note from a maintainer - we welco

[2022-08-19 10:50] Rakeshmonkee commented on #7498
https://github.com/Rakeshmonkee/ethereum-org-website

[2022-08-19 13:51] #7468 closed

[2022-08-19 13:51] minimalsm commented on #7468
Nice catch! Thanks @devtooligan

[2022-08-19 15:57] arkoc opened #7504 "Add layerswap.io to "How to get onto a layer 2" section"
Is your feature request related to a problem? Please describe.

On the Layer2 page on ethereum.org, under the "How to get onto a layer 2" section, I noticed that the drop-down menus to select the layer 2 network have limited options, when in fact almost all CEXs can be bridged to almost any L2 Exchange.

Describe the solution you'd like

With Layerswap.io, all of those layer 2 networks can be reac

[2022-08-19 16:36] wackerow commented on #7459
Thanks for posting @alonmuroch! As I've mentioned on the side, bandwidth to tackle this right now is going to be a bit limited, but it'd be great to try and get some more discussion in here to iron out some details, then we can discuss pulling this into a future sprint.

[2022-08-19 16:38] wackerow commented on #7459
I also lean towards keeping this nested within staking for similar reasons to @minimalsm. @alonmuroch, remind me, do you have any folks who could potentially help contribute to content for a DVT page?

[2022-08-19 19:39] corwintines commented on #6991
This looks good to me to add.

[2022-08-19 21:39] corwintines commented on #7021
This looks good to me to bring in

[2022-08-20 07:49] VictorBerryy commented on #7498
@Rakeshmonkee have you reach out to their live chat support

[2022-08-20 07:55] Rakeshmonkee commented on #7498
No, the tornado cash offical website is down. So I have replaced it with the tornadocash.eth.link website

[2022-08-20 19:39] qbzzt commented on #7461
Do you already have software you're going to use? If so, which one? I've written plenty of quizzes in my life, so I can contribute here.

[2022-08-21 11:16] Jameswill0404 commented on #6439
I invested a lot of money to earn profits trading, and lost my investments to a scam company. I have now had all my investments and profits returned by a recovery commando. You can reach me to share my trading experience and how I had all my money returned jameswiLLLiams04 at gmail dot com

[2022-08-21 17:22] qbzzt opened #7519 "Tutorial: Bloom filters for cheap airdrops"
**Tutorial title**

Bloom filters for cheap airdrops

**Tutorial description**

The most common way to do airdrops is to store on-chain a merkle root and have claim transactions include a merkle proof, which is O(log n) in both length and computation time. There is another method to authenticate membership in a set, using a bloom filter, which is much cheaper but suffers from false positives.

In

[2022-08-21 22:59] corwintines commented on #7209
@chenko515 I was wondering if you had any documentation you could provide for Rabby (ex. https://docs.sequence.xyz/). Been finding it helpful to read documentation over before making a call.

[2022-08-21 23:11] cristpereirag opened #7521 "ETHSantiago @ September 23-24, 2022"
**Is your feature request related to a problem? Please describe.**

Ethereum Santiago [ETHSantiago] is an event organized by the Chilean community in the lead-up to Devcon in Bogota, Colombia. It will take place at Teatro Corpartes on Friday, September 23, 2022, with an event open to the community. On Saturday, September 24, a Bootcamp for developers will be held at the postgraduate building of th

[2022-08-22 00:24] QUGL-98-06-15 opened #7522 "Sitio web"
https://drive-thirdparty.googleusercontent.com/128/type/a

[2022-08-22 01:09] corwintines commented on #7056
Hey @arielman87, just making a PR for this now. Sorry for the delay.

[2022-08-22 01:14] corwintines commented on #7056
Created a PR for this https://github.com/ethereum/ethereum-org-website/pull/7523

[2022-08-22 06:54] chenko515 commented on #7209
There's no public doc section yet but you can refer to our release announcement to know more about Rabby:
https://medium.com/@rabby_io/rabby-release-announcement-564406988e2b

[2022-08-22 06:55] chenko515 commented on #7209
@corwintines There's no public doc section yet but you can refer to our release announcement to know more about Rabby:
https://medium.com/@rabby_io/rabby-release-announcement-564406988e2b

[2022-08-22 13:05] andreilicious23 opened #7528 "Geth Node"
Before suggesting a staking product or service, make sure you've read [our listing policy](/contributing/adding-staking-products/).

Only continue with the issue if the staking product meets the criteria listed there.

If it does, complete the following information which we need to accurately list the product/service.

**Product type**

- [*] Node/client tooling
- [ ] Key management
- [ ] Staking

[2022-08-22 15:42] NNDEV1 opened #7529 "Adding DAOHQ to list of DAO apps and tools on ethereum.org"
Hey Ethereum devs! I'm Nalin, a data analyst at DAOHQ.

I propose an addition to the [https://ethereum.org/en/dao/#join-start-a-dao](https://ethereum.org/en/dao/#join-start-a-dao) page, specifically in "Join a DAO" for [daohq.co](https:daohq.co). DAOHQ is a DAO marketplace and a one-stop-shop to find, invest and vote in extraordinary DAOs.

Often time when joining a DAO users have to go through th

[2022-08-22 17:45] corwintines commented on #7209
@chenko515 are there plans to have documentation in the future?

[2022-08-22 19:30] corwintines commented on #7209
Created PR for this. Read the linked article and played around with the wallet. If/when the documentation is released let me know, would like to give it a read :)

[2022-08-22 20:00] corwintines commented on #7237
@keepresolve putting the blocked label on this since it seems partially filled out and needs some answers from bitkeep. If there isn't any update then I will close this out until the questions are all able to be answered.

[2022-08-22 20:05] corwintines commented on #7219
Closing as the PR has been merged

[2022-08-22 20:05] #7219 closed

[2022-08-22 20:26] corwintines commented on #7420
https://github.com/ethereum/ethereum-org-website/pull/7531

Created a PR for this.

[2022-08-22 21:22] corwintines commented on #7293
Hey @gamalielhere!

Thanks for the submission. I was wondering what day you went live. It says August 2022, but this is recent enough that a specific date would be preferred.

[2022-08-22 21:46] gamalielhere commented on #7293
@corwintines Just updated the date to August 3rd, 2022.

[2022-08-23 08:32] chenko515 commented on #7209
NP. Actually we have a joint group set up on telegram earlier, I can invite you over there if you wish.

[2022-08-23 10:37] #7522 closed

[2022-08-24 09:58] JosefJ opened #7546 "Add PWN to the list of lending dapps"
**Please describe the measures taken to ensure the dapp's security and provide documentation wherever possible**

PWN Protocol smart contracts have been audited by Extropy.io. The audit can be found here: https://audit.pwn.xyz/
The contracts are fully documented within the code and readmes: https://github.com/PWNFinance/pwn_contracts
Documentation export can be found here: https://docs.pwn.xyz

**

[2022-08-24 12:36] fredriksvantes opened #7547 "4X Multiplier banner for https://bounty.ethereum.org"
With https://blog.ethereum.org/2022/08/24/mainnet-merge-announcement/ going live, we would like to have something visual (such as a a banner) on https://bounty.ethereum.org to make it clear also on the bounty website that there is now a 4x multiplier for rewards (up to $1 mm). Given that this multiplier is only active until the 8th of September it would be highly appreciated if it could be activat

[2022-08-24 13:34] finxter opened #7548 "Developer Resource Update - Solidity Crash Course (Video, Free)"
**Is your feature request related to a problem? Please describe.**

Many of our 100,000+ coding students are interested in learning Solidity so they can build apps on ETH and create value for themselves and their communities.

**Describe the solution you'd like**

We have created a video tutorial series with free articles that have already helped thousands of our students learn Solidity:
https://b

[2022-08-24 14:26] kirqz23 opened #7549 "Lack of effectiveGasPrice in docs"
Hey,

There is no effectiveGasPrice in the result for TransactionReceipt and its explanation.

https://github.com/ethereum/ethereum-org-website/blob/785c473b346df66b8d733ec79b83d60a5411d470/src/content/developers/docs/apis/json-rpc/index.md?plain=1#L1205-L1218

[2022-08-24 15:59] konopkja commented on #7461
We are building our custom solutions: preliminary design can be seen on this prototype (bottom of the page) https://www.figma.com/proto/1HxSnapMdpgFFhIHjDUytP/Learning-quizzes?page-id=266%3A189&node-id=266%3A791&viewport=-2281%2C-1848%2C0.47&scaling=min-zoom&starting-point-node-id=266%3A791

[2022-08-24 16:26] qbzzt commented on #7461
Cool, what format would you accept as input? I'd like to get started
writing quizzes.

On Wed, Aug 24, 2022 at 10:59 AM konopkja ***@***.***> wrote:

[2022-08-24 17:05] konopkja opened #7552 "Quiz content: What is Ethereum"
This is a sub-task of: https://github.com/ethereum/ethereum-org-website/issues/7461

Prepare content for quiz on page:
https://ethereum.org/en/what-is-ethereum/

Each question should be related to the most important aspects of the page. There can be a unique explanation for each correct/incorrect answer.

[2022-08-24 17:07] konopkja opened #7553 "Quiz content: NFTs page"
This is a sub-task of: https://github.com/ethereum/ethereum-org-website/issues/7461

Prepare content for quiz on page:
https://ethereum.org/en/nft/

Each question should be related to the most important aspects of the page. There can be a unique explanation for each correct/incorrect answer.

[2022-08-24 17:10] konopkja opened #7554 "Quiz content: Web3 page"
This is a sub-task of: https://github.com/ethereum/ethereum-org-website/issues/7461

Prepare content for quiz on page:
https://ethereum.org/en/web3/

Each question should be related to the most important aspects of the page. There can be a unique explanation for each correct/incorrect answer.

[2022-08-24 17:47] konopkja opened #7555 "Quiz content: What is Ether?"
This is a sub-task of: https://github.com/ethereum/ethereum-org-website/issues/7461

Prepare content for quiz on page:
https://ethereum.org/en/eth/

Each question should be related to the most important aspects of the page. There can be a unique explanation for each correct/incorrect answer.

[2022-08-24 17:48] konopkja opened #7556 "Quiz content: What is a wallet?"
This is a sub-task of: https://github.com/ethereum/ethereum-org-website/issues/7461

Prepare content for quiz on page:
https://ethereum.org/en/wallets/

Each question should be related to the most important aspects of the page. There can be a unique explanation for each correct/incorrect answer.

[2022-08-24 17:49] konopkja opened #7557 "Quiz content: Ethereum security and scam prevention"
This is a sub-task of: https://github.com/ethereum/ethereum-org-website/issues/7461

Prepare content for quiz on page:
https://ethereum.org/en/security/

Each question should be related to the most important aspects of the page. There can be a unique explanation for each correct/incorrect answer.

[2022-08-24 17:51] konopkja opened #7558 "Quiz content: Layer 2 page"
This is a sub-task of: https://github.com/ethereum/ethereum-org-website/issues/7461

Prepare content for quiz on page:
https://ethereum.org/en/layer-2/

Each question should be related to the most important aspects of the page. There can be a unique explanation for each correct/incorrect answer.

[2022-08-24 17:53] konopkja opened #7559 "Quiz content: GAS AND FEES page"
This is a sub-task of: https://github.com/ethereum/ethereum-org-website/issues/7461

Prepare content for quiz on page:
https://ethereum.org/en/developers/docs/gas/#top

Each question should be related to the most important aspects of the page. There can be a unique explanation for each correct/incorrect answer.

[2022-08-24 18:01] konopkja commented on #7461
Created sub-tasks for individual pages we identified for the v1.  If there are any other pages you would love to write quiz content for let me know.

[2022-08-24 23:08] nkennethk opened #7562 "speedrunethereum.com"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**

Speedrun Ethereum

**Product description:**

Toolkit and applied learning challenges for web2 devs to learn etheruem dapp development in 30 minutes!

**How long has it been around?**

Has been around for almost a year, but built by

[2022-08-25 02:39] Cathy1313 opened #7565 "Suggest on token trade and exchange"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2022-08-25 02:40] #7565 closed

[2022-08-25 11:09] Jfox32199 opened #7570 "Adding a Tutorial - Certified Blockchain Professional (C|BP)"
Hi there,

Hope this finds everyone well and this is the right way to submit this request!

I'm getting in touch as I thought that the following course might make for a suitable tutorial. It's an online learning course that offers beginners an overview of what blockchain is, and the many ways in which it can be applied. One of the course modules specifically focuses on Ethereum as well, hence why

[2022-08-25 11:24] minimalsm opened #7571 "Relative links for non-image-assets on non-English pages are broken"
**Describe the bug**

We have some logic that allows us to use the relative path to an asset from an English markdown page on non-English pages.

For example:

**In English**: `./gas.png` is the relative path to the image. **On non-English pages:** the true path is `../../../gas.png`, but we can use `./gas.png`.

This only works for images, but not for PDFs (and potentially other file types?), cau

[2022-08-25 11:43] minimalsm commented on #7571
#5355 implemented the fix to images.

[2022-08-25 13:11] minimalsm commented on #7056
Closed in #7523

[2022-08-25 13:11] #7056 closed

[2022-08-25 17:25] Ruflak opened #7577 "Ethereum day news"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2022-08-25 17:27] Ruflak opened #7578 "OPTION SELL AND BUY ETHER"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2022-08-25 17:32] #7578 closed

[2022-08-25 17:32] #7577 closed

[2022-08-25 17:33] Ruflak opened #7579 "LIVE CHAT"
****Is** your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2022-08-25 21:15] #7562 closed

[2022-08-26 00:55] tuanggolt commented on #7425
open

[2022-08-26 08:42] mp2023 opened #7589 "Suggest Exchange: Matrixport"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2022-08-26 09:52] 101717 opened #7591 "Suggest a wallet: Zerion"
### Wallet name

Zerion Wallet

### Wallet description

Zerion Wallet helps users manage their Ethereum portfolios, including tokens, NFTs and positions across DeFi protocols.

### Wallet logo

![Zerion Logo – Symbol (1)](https://user-images.githubusercontent.com/37593987/186878373-70455639-8361-4503-81da-63e1ffaa9cc2.svg)

### Background color for brand logo

#2962EF

### URL to the project

http

[2022-08-26 21:33] thegamebegins25 commented on #7498
Tornado Cash has been shut down by the US government, it is now ILLEGAL to use it if you are a citizen of the US. While ipfs links exist, I think we should remove the entire Tornado Cash entry due to it being ILLEGAL.

[2022-08-28 01:49] alfiomy opened #7603 "0x6208ebbF4dcB27b3368a79066d8e0d25Aa471607"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-08-28 02:27] figmentworld opened #7604 "Figment Inc."
Before suggesting a staking product or service, make sure you've read [our listing policy](/contributing/adding-staking-products/).

Only continue with the issue if the staking product meets the criteria listed there.

If it does, complete the following information which we need to accurately list the product/service.
**Product type**

- [ ] Node/client tooling
- [ ] Key management
- [x] Staking a

[2022-08-28 07:43] Rakeshmonkee commented on #7498
While it's ILLEGAL to use tornado cash in the US, I don't believe any other countries have sanctioned it. So instead of deleting this from the ethereum website, adding a pop up before entering tornado cash to warn people that it is sanctioned in the countries that have banned it would be a better move.

[2022-08-28 08:59] AlanGit940 commented on #6439
you can reach out to someone (a crypto recovery expert) who helped me recovered my investment from a platform introduced to me by a broker on instagram. thanks to hacknetcyberprofessor10 @gmail  .com  i will always be gratefl because i could have lost all my life savings investing on usdT

[2022-08-28 09:01] AlanGit940 commented on #6439
Hacknetcyberprofessor10 {@} GMAILCOM  has the best crypto recovery program, best expert you can trust when it comes to recovering your assets.

i got scammed by a broker on IG who promised over 50% profits on investments. i considered this move and  invested almost all my life savings, cause i keep investing and and profits went high, When it was time to get thr return of my investment , i coulnd

[2022-08-28 09:05] adamsG45 commented on #6439
REMOTESPYTECH (at)Gmail{}c0m is the real deal fund retrieval firm to get back your stolen or lost financial assets with ease.
I need to share this in here so you won’t lose your money cheaply to scam brokers. I invested about $455,000 on a binary option platform then I decided to withdraw after several weeks but the withdrawal wasn’t successful, then I tried to contact the platform via email and p

[2022-08-28 09:06] Jameswill0404 commented on #6439
I invested a lot of money to earn profits trading, and lost my investments to a scam company. I have now had all my investments and profits returned by a recovery commando. You can reach me to share my trading experience and how I had all my money returned jameswiLLLiams04 at gmail dot com

[2022-08-28 09:07] adamsG45 commented on #6439
I was scammed of USD459,800 by this mining pool. I wanted to withdraw USD100,000 from my account. They asked for 5% tax to be paid to the Hong Kong Tax Bureau so I sent them USD22,990. But they came back saying since I am at the VIP stage (funds of USD200,000 or more), I am allowed to withdraw a minimum of USD200,000 only, nothing less. So I sent them an additional USD20,000 promising to send anot

[2022-08-28 09:11] AlanGit940 commented on #6439
Hacknetcyberprofessor10 {@} GMAILCOM  has the best crypto recovery program, best expert you can trust when it comes to recovering your assets.

i got scammed by a broker on IG who promised over 50% profits on investments. i considered this move and  invested almost all my life savings, cause i keep investing and and profits went high, When it was time to get thr return of my investment , i coulnd

[2022-08-28 09:56] adamsG45 commented on #6439
REMOTESPYTECH (@) GMAILC0M is the only best fund retrieval firm that can help you recover your stolen financial assets. I need to share this in here so you won’t lose your money cheaply to scam brokers. I invested about $455,000 on a binary option platform then I decided to withdraw after several weeks but the withdrawal wasn’t successful, then I tried to contact the platform via email and phone n

[2022-08-28 12:11] thegamebegins25 commented on #7498
That would be a good move, but we would have to find the IPFS hash of Tornado Cash. Do you think we should add a popup for all users, or just remove it entirely if your IP is located in the US?

[2022-08-28 12:28] Hosamerqayiq opened #7606 "Hos"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-08-28 12:30] Hosamerqayiq commented on #7606
15

[2022-08-28 12:30] Hosamerqayiq commented on #7606
200

[2022-08-28 13:44] zeroservices opened #7607 "Added Zero Services GmbH to nodes-as-a-service"
Before suggesting a staking product or service, make sure you've read [our listing policy](/contributing/adding-staking-products/).

Only continue with the issue if the staking product meets the criteria listed there.

If it does, complete the following information which we need to accurately list the product/service.

**Product type**

- [ ] Node/client tooling
- [ ] Key management
- [x] Staking

[2022-08-28 16:06] hursittarcan commented on #7461
Maybe it's also idea to award people that completed a specific quiz with a POAP?

[2022-08-28 21:11] nitbit1309 opened #7609 "nonce is missing from transaction information in transactions page"
**Describe the bug**

The transaction contains nonce field to avoid replay attack. This field is not included in the information section of transaction. https://ethereum.org/en/developers/docs/transactions/

**To Reproduce**
Steps to reproduce the behavior:

1. Go to ['transaction page'](https://ethereum.org/en/developers/docs/transactions/)
2. See 'submitted transaction includes the following inf

[2022-08-28 21:15] Moesaawi commented on #7166
Hi dear,

It depends on where you earned your Ethereum, further explanation you can find below which is fully useful. The wallet should be obvious like going to your profile. If not we would recommend to contact customer support, and check if the website, application, or any type of system granted you with our **smart contract**.

please note our definition of the word " Ethereum Wallet " , it sim

[2022-08-28 21:25] Rakeshmonkee commented on #7498
If we remove it entirely for all users using an ip located in the US, we wouldn't need to add a popup. But if you want to go the extra mile you could add a popup warning all people outside of the US that it has been sanctioned by the US government.

[2022-08-28 21:28] thegamebegins25 commented on #7498
I think the popup idea is a good idea, but I don't have my computer now so do you think anyone else could program it?

[2022-08-28 21:30] Rakeshmonkee commented on #7498
I could have a try, or if I can't do it, I'll reference it in their discord

[2022-08-28 21:31] thegamebegins25 commented on #7498
I think that sounds good. If no one does it by next week I will probably be able to program it.

[2022-08-28 22:31] qbzzt commented on #7559
What is the purpose of gas?

**A. Measure the cost of the computation and storage a transaction requires**
B. Measure the cost of the energy required to process a block, only required on PoW (proof of work)
C. Measure the cost of a transaction in a fiat currency, such as USD
D. Measure the cost of a block in a fiat currency, such as USD

**Explanations for incorrect answers:**

B. Ethereum gas has

[2022-08-28 22:36] qbzzt commented on #7559
What unit is typically used to measure the cost of gas?

A. wei, the smallest unit of ETH (10<sup>-18</sup> ETH)
B. wei, the smallest unit of ETH (10<sup>-9</sup> ETH)
C. **gwei, 10<sup>-9</sup> ETH**
D. ETH

**Explanations for incorrect answers:**

A. Gas typically costs at least 10,000,000,000 wei, so while we could use wei, it is inconvenient
B. Wrong for two reasons: 1. Gas typically costs at

[2022-08-28 22:43] qbzzt commented on #7461
I write the questions so they'll be very simple, and sometimes include hints to the answer. That is on purpose, because the point isn't to evaluate people's knowledge as much as get them to remember the concepts and know how to apply them.

[2022-08-28 22:43] qbzzt commented on #7559
What causes the base fee to increase?

A. Low demand for blockspace, which results in blocks smaller than the target size (15M gas)
B. Low demand for blockspace, which results in blocks larger than the target size (15M gas)
C. High demand for blockspace, which results in blocks smaller than the target size (15M gas)
**D. High demand for blockspace, which results in blocks larger than the target si

[2022-08-28 22:50] qbzzt commented on #7559
Which of the following is *not* a transaction field?

A. Maximum priority fee (a.k.a. tip)
**B. Base fee**
C. Maximum gas fee
D. Gas limit

** Explanations:**

A. The priority tip is sent as part of the transaction to tell block producers how much of a reward they'll get from you for including your transaction.
B. Correct. The base fee is determined per block by an algorithm specified in EIP 1559,

[2022-08-28 22:55] qbzzt commented on #7559
Which cannot happen in the course of an Ethereum transaction?

A. Exploit of a security vulnerability
B. Stack overflow
**C. Endless loop**
D. Stack underflow

**Explanations:**

A. We wish, but smart contracts are written by programmers, and there is no way for programmers to write software to be 100% secure.
B. The EVM is a stack machine, but the stack isn't infinite, it is specified as having 1

[2022-08-28 23:02] qbzzt commented on #7552
What is the big difference between Bitcoin and Ethereum?

A. Bitcoin has middlemen that mediate transactions, Ethereum does not.
B. Ethereum is programmable, Bitcoin is not.
C. Ethereum has middlemen that mediate transactions, Bitcoin does not.
D. Ethereum preserves privacy, Bitcoin does not.

**Explanations:**

A. & C. The whole point of cryptocurrency, any cryptocurrency, is that you can transac

[2022-08-28 23:11] qbzzt commented on #7552
What are smart contracts?

A. Contracts that include provisions for judicial review
B. Programs running on the Ethereum network that can receive input only from external transactions
C. Programs running on the Ethereum network that can receive input only from other programs running on the Ethereum networks.
**D. Programs running on the Ethereum network that can receive input either from external t

[2022-08-28 23:22] qbzzt commented on #7552
Which of the following cryptocurrency activities can you do with Ethereum, but not Bitcoin?

A. Send money to your neighbor.
B. Send money across state lines.
C. Send money across international borders.
**D. Take out a loan using ownership of a digital asset as collateral, without waiting for a off-chain underwriter to approve (either a human or software running on a server somewhere rather than o

[2022-08-29 01:03] gonzaprotocol opened #7612 "Small bug on Ethereum.org DeSci page"
**Describe the bug**

There is a link that is misplaced. It should lead to another page.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://ethereum.org/en/desci/
2. Click on **Bio.xyz: get funded for your biotech DAO or desci project** (Direct link: https://ethereum.org/en/desci/#:~:text=Bio.xyz%3A%20get%20funded%20for%20your%20biotech%20DAO%20or%20desci%20project)
3. The link t

[2022-08-29 06:38] alonmuroch commented on #7459
@wackerow we have someone from the community writing content, he can definitely help out with a lot of that.
I'm thinking a top to bottom approach talking about what DVT can do all the way down to how it works. WYT?

[2022-08-29 09:49] minimalsm commented on #7547
Suggested copy: `All Merge-related bounties submitted before September 8th receive a 4x bonus multiplier (up to 1 million USD). [Learn more about the bonus](~blog link~).`

[2022-08-29 09:51] minimalsm commented on #7547
Or: `All Merge-related bounties currently receive a 4x bonus multiplier (up to 1 million USD). [Learn more about the bonus](~blog link~).`

[2022-08-29 14:16] axljoker03 opened #7618 "eth"
https://github.com/ethereum/EIPs/blob/3097a3de9b5f68a8d0b068a3c9c5f3853b588665/EIPS/eip-3198.md

[2022-08-29 16:25] #7618 closed

[2022-08-29 16:26] #7606 closed

[2022-08-29 16:27] #7603 closed

[2022-08-29 17:19] omahs opened #7620 "Broken link on https://ethereum.org/en/enterprise/"
Broken link on https://ethereum.org/en/enterprise/

this link: https://ethereum.org/en/developers/docs/scaling/layer-2
should be replaced by this: https://ethereum.org/en/developers/docs/scaling/#layer-2-scaling

[2022-08-29 19:19] #7305 closed

[2022-08-29 22:29] #6991 closed

[2022-08-29 22:29] #7021 closed

[2022-08-29 22:29] #7209 closed

[2022-08-29 22:29] corwintines commented on #7237
@keepresolve any update on this?

[2022-08-29 22:30] #7262 closed

[2022-08-29 22:30] #7420 closed

[2022-08-29 22:43] corwintines commented on #6999
Hey @LoganDWH. Following up on this, we talked about the best course of action here and settled on listing you on https://ethereum.org/en/dapps/ in the portfolios section.

I have been trying to use dapps with the wallet and couldnt connect to anything. I should be able to use walletconnect for this right?

[2022-08-30 08:01] GregoireSkillZ opened #7628 "Kiln StaaS Audit Update"
Hi, I'd like to suggest an update for Kiln - Staking as a Service provider information.

Since I submitted the original proposal Kiln as successfully passed a SOC 2 (Type1) audit.
[You can find our audit reports here](https://security.kiln.fi/)

Can you please update Kiln card showing we're now audited? Thank you very much.

I'm available at gregoire@kiln.fi if you have any question.

Best,

[2022-08-30 08:15] LoganDWH commented on #6999
Yes, i think we should list in the portfolios section, i think it's the best course

Could u do it please?

[2022-08-30 08:55] konopkja commented on #7461
We are considering that in the future, not this MVP release but if it gets traction then maybe in the future that is the direction we want to go.

[2022-08-30 13:56] minimalsm commented on #7612
Closed by #7624, thanks @gonzaprotocol <3

[2022-08-30 13:56] #7612 closed

[2022-08-30 13:56] minimalsm commented on #7620
Closed in #7622, thanks for reporting @omahs <3

[2022-08-30 13:56] #7620 closed

[2022-08-30 13:57] minimalsm commented on #7609
Closed in #7610, thanks @nitbit1309 :]

[2022-08-30 13:57] #7609 closed

[2022-08-30 13:57] #7571 closed

[2022-08-30 14:21] emmanuel-awosika opened #7631 "Add resource for risk assessment to DeFi dapps page"
**Is your feature request related to a problem? Please describe.**

The [DeFi dapps page](https://ethereum.org/en/dapps/?category=finance) has a disclaimer warning users of the risks of using DeFi protocols, but doesn't highlight resources for users who want to learning about those risks.

**Describe the solution you'd like**

I suggest adding a link to a risk assessment resource specifically for

[2022-08-31 09:19] Cherylkgg commented on #6439
Finally! I found a legit c yber guru that works on all c redit related issues. I had a low c redit of 490 which wouldn't let me qualify for anything, it was a struggle finding a real agent after having l ost money to rippers here.. luckily I met D e n n i s on Qoura and after 3weeks working with him my score right now is 780 and he is still working on my lingering d ebts which is why I decided to

[2022-08-31 12:56] MATsxm opened #7635 "<ExpandableCard> tag seems to be not supported on our t9n tool"
**Describe the bug**

`<ExpandableCard>` tag seems to be not supported on our t9n tool Crowdin

**To Reproduce**
Steps to reproduce the behavior:

1. On our [Crowdin](https://crowdin.com/project/ethereum-org)
2. Go to [fr t9n for the Merge page](https://crowdin.com/translate/ethereum-org/2926/en-fr?filter=basic&value=0) (in fact it is the same for all languages
3. Scroll down to '### Node operator

[2022-08-31 17:51] qbzzt commented on #7552
What actions can you do with transactions on a blockchain?

A. Create new transactions, read existing ones, update existing transactions, and delete existing transactions.
B. Create new transactions, read existing ones, and update existing transactions, only.
**C. Create new transactions and read existing ones, only.**
D. Only read existing transactions.

**Explanation (for all of them):**

A bloc

[2022-08-31 17:55] qbzzt commented on #7552
What is Ethereum's uptime (since it got started in 2015)?

A. 99%
B. 99.9%
C. 99.99%
**D. 100%**

**Explanation (for all of them):**

Ethereum runs on thousands of servers (called nodes, see https://etherscan.io/nodetracker). Individual nodes go down, but as long as some nodes are up the network, overall, is up and can process transactions.

[2022-08-31 18:02] qbzzt commented on #7553
Which of these assets is non fungible?

A. A twenty dollar bill
B. A 1 kg package of peanuts
**C. A drawing of a stickman drawn by a five year old in kindergarten**
D. A copy of The Mona Lisa

**Explanation**

An asset is non fungible if there is only one of it. The kid's drawing is unique and more valuable than those of other kids to the kid's parents. But one twenty dollar bill is as good as ano

[2022-08-31 18:08] corwintines commented on #7237
Going to close this since it is incomplete. @keepresolve please reopen this when you have the answers that you are waiting to hear back on.

[2022-08-31 18:08] #7237 closed

[2022-08-31 18:11] qbzzt commented on #7553
Are NFTs transferrable?

A. No, never
**B. It depends. An NFT representing a certificate of completion of a course of study likely to be transferrable. An NFT representing ownership of artwork is likely won't be transferrable.**
**C. It depends. An NFT representing ownership of artwork is likely to be transferrable. An NFT representing a certificate of completion of a course of study likely won't

[2022-08-31 18:36] corwintines commented on #7293
Opened a PR for this

[2022-08-31 18:48] qbzzt commented on #7554
What additional action do web3 sites allow that web2 sites typically do not?

A. Read
B. Write
**C. Own**
D. Search

**Explanations**

A. No, web1 sites were mostly static, but you could read them easily.
B. No. Web2 platforms, such as Wikipedia and Facebook, allow users to write content (which is then owned and managed by the platforms).
D. No, search is also supported on web1 and web2.

[2022-08-31 18:54] qbzzt commented on #7552
You put information up on the blockchain. Who can decide to remove it?

**A. Nobody has that power**
B. You as the owner
C. The Ethereum Foundation
D. The legal system

**Explanation (for all of them):**

The blockchain is an unalterable record. You cannot remove information you put on the blockchain, and neither can any third party, whether it is an advisory to node operators (The Ethereum Founda

[2022-08-31 19:06] qbzzt commented on #7554
Can you control monetization of your content on web3? If so, how?

A. Put advertising on your site
B. Put all your content on the blockchain
**C. Use the blockchain to sell access to your content, which is stored elsewhere**
D. It is impossible to monetize web3 content

**Explanations:**

A. Advertising has existed since web1 days, and is the major source of revenue for web2.
B. Anybody can read a

[2022-08-31 19:43] Freitag8 opened #7640 "Dankesagen"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-08-31 19:53] Freitag8 commented on #7436
![Uploading 0eb1cebac6f4001d5ad2ea27acac5316.jpg…]()
`

[2022-08-31 19:53] Freitag8 commented on #7436
Like

[2022-08-31 19:54] Freitag8 opened #7641 "Pfuiii> @`"
![Uploading 0eb1cebac6f4001d5ad2ea27acac5316.jpg…]()
`

_Originally posted by @Freitag8 in https://github.com/ethereum/ethereum-org-website/issues/7436#issuecomment-1233357825_

[2022-08-31 20:27] qbzzt commented on #7555
Other than yourself, who can transfer ETH out of your account (to which you hold the private key)?

A. Nobody
**B. Anybody who has your private key or recovery phrase**
C. Your bank.
D. A court order.

**Explanations:**

A. We wish this were true, but you identify to the Ethereum network using your private key, which is created from your recovery phrase. As a result, anybody with the private key o

[2022-09-01 03:37] qbzzt commented on #7556
You just got a wallet and created your Ethereum account. Should you write any information down on a piece of paper to put in a secure place? If so, what?

A. You account address
B. Your account public key
C. Your account private key
**D. Your account recovery phrase**

**Explanations**

A. and B. Your address and public key are not secret. You could post them online, you don’t need to keep them se

[2022-09-01 03:47] qbzzt commented on #7556
Which kind of wallet, if any, does not require you to keep a safe copy of your recovery phrase?

A. Physical wallet
B. Mobile wallet
C. Desktop wallet
D. There is no such wallet, you should ALWAYS have a backup copy of your recovery phrase.

**Explanation**

A. Physical devices can be lost or damaged.
B and C. Computers (including smartphones) can lose the information on them due to physical damag

[2022-09-01 03:53] qbzzt commented on #7556
Can you use multiple wallets with the same account?

A. No
B. Up to two, but not more than that
C. Yes, as long as they are all the same type (you need one account for desktop and another for mobile, for example)
D. Yes, any number using any type of wallet,

**Explanation (for all)**

All wallets let you import a recovery phrase, so you can use the same recovery phrase, and therefore Ethereum acco

[2022-09-01 20:21] wackerow opened #7653 "Mathematical expression support for markdown"
**Is your feature request related to a problem? Please describe.**
Currently our markdown does not support syntax for mathematical expressions. Although these are not super frequent, having the ability to properly display mathematical expressions could expand our ability to convey certain concepts. I suspect we could use more math examples if we had the proper support for them.

Surfaced while wor

[2022-09-01 21:21] #7641 closed

[2022-09-01 21:22] #7640 closed

[2022-09-01 21:33] qbzzt commented on #6692
For some reason github didn't close this, but since the PR is merged, it should be.

[2022-09-01 21:33] #6692 closed

[2022-09-02 06:35] SavPhill opened #7661 "Contributor list does not update."
**Describe the bug**
The Contributor lists from the Github Readme.md and front end /contributors url should be the same information, but the output appears different, perhaps not updated in full:

Github Readme.md: https://github.com/ethereum/ethereum-org-website#contributors
Front End: https://ethereum.org/en/contributing/#contributors

Firstly the output seems in a different order, but then I se

[2022-09-02 06:41] SavPhill commented on #7661
Closing as this is just a difference of order. The list is still the same.

[2022-09-02 06:41] #7661 closed

[2022-09-02 09:51] Rnamita commented on #6590
I would like to help with this issue can you please assign it to me?

[2022-09-02 10:19] vincentweisser opened #7665 "DeSci page is not responsive, breaks on mobile"
**Describe the bug**

The  desci page https://ethereum.org/en/desci/ breaks on mobile, prob due to wrong formatting of the table or something, not sure how to easily fix

@samajammin  @wackerow @corwintines  @minimalsm @jmcook1186

[2022-09-02 16:28] qbzzt commented on #7557
Which of these is a good password?

A. MyVeryGoodPassword!!!
B. MyV3ryG00dP@ssw0rd!!!
C. QWERTYUIOP123!!!
**D.  8bv8&k6H7Z&m**

**Explanations:**

A. This password is primarily dictionary words
B. This password is primarily dictionary words. Hackers are very familiar with the trick of replacing letters with other characters. (E->3, A->@, etc.).
C. Keyboard patterns are the same as words, well know

[2022-09-02 16:48] qbzzt commented on #7557
If you send me 0.01 ether I'll send you back 100 ETH!!! Here, see these transaction (you can look them up), I've really done this. Which is *not* a way this could be a scam?

**A. The transactions are fake.**
B. The scammer sent 0.01 ether from another account he controls, and then sent 100 ETH back. Since he controls both accounts, he only really spent the transactions' gas cost.
C. The scammer c

[2022-09-02 16:54] qbzzt commented on #7557
You just got a message from Ethereum Support telling you your account is locked until you authenticate with them by signing a transaction. What shouldn't you do?

**A. Sign the transaction, you want to continue using Ethereum.**
B. Google for "Ethereum Support", see there is no such organization, and report them as spam / block them
C. Run a small transaction to verify that your account is not rea

[2022-09-02 18:01] pettinarip opened #7670 "Active links not being styled"
**Describe the bug**

Some links are not being styled correctly when you don't add the trailing slash in the URL.

### Note: this bug is only reproducible in _Gatsby Cloud_. In prod, we have redirects that will not allow you to visit a page without the trailing slash.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereumorgwebsitedev01.gtsb.io/en/web3
2. See the links in th

[2022-09-04 01:05] qbzzt commented on #7558
What service(s) does Ethereum (Layer 1) give to Layer 2 solutions?

A. Reliable execution
B. Internal storage
**C. Data integrity and data availability**
D. Data integration, data availability, and internal storage.

[2022-09-04 01:23] qbzzt commented on #7558
What is the major feature provided by Layer 2 solutions that Ethereum, by itself, cannot provide?

A. Security
B. Decentralization
**C. Scalability**
D. Uptime (reliability)

**Explanation:**

Ethereum optimizes for security and decentralization at the base layer, and decentralization gives us uptime automatically. A decentralized system with thousands of nodes will have a large number of nodes ru

[2022-09-04 01:30] qbzzt commented on #7558
Which type of layer 2 solution relies on economic incentives to ensure transactions are executed correctly?

A. Zero-knowledge rollups
**B. Optimistic rollups**
C. Sidechains
D. Validiums

**Explanation:**

Optimistic rollups have sequencers that post the transactions' data and their results (in state root form) on Ethereum, and verifiers that challenge them. Sequencers that post incorrect results

[2022-09-04 01:32] qbzzt commented on #7558
Which type of layer 2 solution relies on mathematics to ensure transactions are executed correctly?

**A. Zero-knowledge rollups**
B. Optimistic rollups
C. Sidechains
D. Validiums

**Explanation:**

Zero-knowledge rollups post zero-knowledge proofs that they processed their transactions correctly. Producing those proofs requires a lot of computation, and is not feasible to do on chain. However, to

[2022-09-04 01:39] qbzzt commented on #7555
What are the *technical* restrictions on sending ETH to other countries? Choose the most accurate answer.

A. You have to comply with the law in the destination country (the one where your recipient is located)
B. You have to comply with the law in the source country (where you are located)
C. You have to comply with the laws of both source and destination countries
D. There are no technical restr

[2022-09-04 01:45] qbzzt commented on #7553
Can ownership of an NFT be revoked?

A. No, never
B. Only if the NFT is transferrable
**C. Only if the NFT contract permits revocation**
D. Yes, there is no way to make a non-revokable NFT

**Explanation:**

NFTs are managed by smart contracts. If the smart contract includes provisions that allow for NFTs managed by it to be revoked, they are revocable. If it doesn't (and you can check that before

[2022-09-04 01:47] qbzzt commented on #7461
Thank you. I have at least three questions for each topic now. I'll see if I can come up with any more, but no promises.

The reason I use some jargon in questions is that being able to understand the jargon is one of the things we are testing (it's a skill that is developed at the same time as learning the details to which the jargon refer). I will see if I can reduce it.

[2022-09-04 11:17] calumtomeny opened #7674 "Broken link on "Energy consumption" page"
**Describe the bug**
The link to "Raspberry Pi" is broken.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/energy-consumption/
2. Click on "Raspberry Pi".
3. The page does not exist: https://ethereum-on-arm-documentation.readthedocs.io/en/latest/user-guide/ethereum2.0.html

**Expected behavior**
The latest "Ethereum on ARM" documentation is shown, perhaps: http

[2022-09-04 23:05] blockchainedd commented on #6439
You might have already be scammed by an imposter who you fell in love with, or an unregulated crypto broker. People that fall for such frauds don't always consider the fact that they can get assistance for this. They think that people will laugh at them.
But, this doesn't mean that you should just ignore it, and try to go on with your life. This is not something you are going to forget over night

[2022-09-04 23:05] blockchainedd commented on #6439
You might have already be scammed by an imposter who you fell in love with, or an unregulated crypto broker. People that fall for such frauds don't always consider the fact that they can get assistance for this. They think that people will laugh at them.
But, this doesn't mean that you should just ignore it, and try to go on with your life. This is not something you are going to forget over night

[2022-09-05 05:22] SavPhill opened #7677 "Unable to fetch number of transactions from etherscan api"
**Describe the bug**

On https://ethereum.org/en/what-is-ethereum/ under the title Ethereum in numbers, there is an 'error, please refresh' message where the number of transactions value should be displayed.

I believe this to be an issue with the api url which is presented as `apiUrl: "https://etherscan.io/",` on line 667 at https://github.com/ethereum/ethereum-org-website/blob/dev/src/pages-cond

[2022-09-05 05:55] camerondurham opened #7678 "Glossary's Table of Contents links for `Đ` and `DAG` do not take you to definition"
**Describe the bug**

The generated links in the Glossary's table of contents does not directly link you to the definition.

1. Đ (`#d-with-stroke` , the actual link is `#D-with-stroke`)
2. DAG (`#dag`, the actual link is `#DAG`)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/glossary/
2. Click on `Đ`
3. See that you are not taken to the definition of "D-with-str

[2022-09-05 08:52] DonMartin3z commented on #7665
Did you guys get it done ?

[2022-09-05 10:15] minimalsm opened #7690 "Read address aloud functionality on the staking deposit address reads address incorrectly"
**Describe the bug**

The 'read aloud' functinonality on the staking deposit contract page does not work correctly. When following a number the letter 'C' is read as '_degrees Celsius_' and the letter '**F**' as '_degrees Fahrenheit_'.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/staking/deposit-contract/'
2. Click on 'Read address aloud'
3. See error

**Ex

[2022-09-05 11:38] #7678 closed

[2022-09-05 11:41] ahmad396 opened #7692 "396"
Hello. I drew a picture, in this picture there is a triangle with a combination of numbers. which is suitable as a logo for a company and is very valuable to me. If all the designers and thinkers get together, they cannot draw anything higher than this design, and they have not been able to achieve this design so far. I want to sell it on nft sites. Can I make sure that no one will copy it and sel

[2022-09-05 11:45] #7674 closed

[2022-09-05 11:47] minimalsm commented on #7692
Hey @ahmad396, this repo is for issues relating to ethereum.org, the website. Closing this as it isn't relevant to that.

[2022-09-05 11:47] #7692 closed

[2022-09-05 11:58] minimalsm commented on #7570
Hey @Jfox32199, thanks for the recommendation.

I personally would be strongly against including this resource. There is no way to audit the quality of the material, and as far as I can tell **coursesonline** just churns out courses based on what they think people will buy (read: I doubt this is particularly high quality compared to other resources that we list) instead of carving out a niche wher

[2022-09-05 11:58] #7570 closed

[2022-09-05 12:08] #6999 closed

[2022-09-05 12:34] minimalsm commented on #7591
Closed by #7638

[2022-09-05 12:34] #7591 closed

[2022-09-05 13:16] minimalsm commented on #7498
Hey @thegamebegins25 @Rakeshmonkee @VictorBerryy. Thanks for all of the discussion around this.

The quick update is that we're still discussing the best approach to take here. I believe leaving a broken link on the website temporarily is fine, over making hasty decisions in what is a contentious and sensitive topic.

Personally, I don't believe we should remove TornadoCash from the website entire

[2022-09-05 13:21] Rakeshmonkee commented on #7498
Agreed

[2022-09-05 13:37] thegamebegins25 commented on #7498
Same

[2022-09-05 15:45] hursittarcan commented on #7690
I could not reproduce this issue. It works ok on my device. (Win 10, Google Chrome v.104.0)

[2022-09-05 17:31] Arun9650 commented on #7665
No , still figuring out how to do it .

[2022-09-05 18:25] sadiejay commented on #7690
I can recreate the issue on my device:

    OS: MacOS 12.5.1
    Browser: Firefox
    Version: v104.0.1

[2022-09-05 18:36] sadiejay commented on #7690
May I be assigned this issue? I'm not sure how to tackle this but would like to try!

[2022-09-05 18:37] ytrezq opened #7700 "Please add instruction to client types on https://ethereum.org/en/developers/docs/nodes-and-clients for the Merge !"
How to connect execution to consensus client ? Are any consensus client compatible with any execution client ?
Is setting the consensus client to archive mode required for running aa full archive execution client or is it possible to set up an execution full archive node using a light consensus client ?

[2022-09-05 18:38] binni12 opened #7701 "blockchain"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-09-06 06:20] srv-smn opened #7703 "Spelling mistake in documentation"
**Describe the bug**

There is a spelling mistake in the documentation. Once you reach to this article(https://ethereum.org/en/developers/docs/nodes-and-clients/#snap-sync) in the documentation. In the snap-sync section the spelling of "Merkle trie" is wrong.

**To Reproduce**
Go to https://ethereum.org/en/developers/docs/nodes-and-clients/#snap-sync

**Expected behavior**

The spelling should be

[2022-09-06 06:20] srv-smn commented on #7703
I love contributions from the Ethereum community!.

[2022-09-06 08:58] minimalsm commented on #7703
Hey folks, thanks for highlighting this.

This isn't a mistake, a 'trie' is a type of tree. Maybe not the best naming! ([More on that here](https://stackoverflow.com/questions/4737904/difference-between-tries-and-trees)).

Pretty common occurrence but going to close this out as no bug here :]

[2022-09-06 08:58] #7703 closed

[2022-09-06 09:00] minimalsm commented on #7703
@all-contributors please add @srv-smn for ideas

[2022-09-06 10:20] LoganDWH commented on #6999
@corwintines i saw the status as failed https://github.com/ethereum/ethereum-org-website/pull/7639
Currently there is no update on the website, do you need any help?

[2022-09-06 12:24] SNikhill commented on #6374
@pettinarip
May I please have the 4 A's?
![image](https://user-images.githubusercontent.com/51415616/188634139-4a4c1105-ce14-4aa3-b253-368a10c44fbe.png)

[2022-09-06 12:30] minimalsm opened #7711 "Bug: further reading on staking page not being translated"
**Describe the bug**

The further reading section of our `/staking/` page isn't currently being translated.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/zh/staking/'
2. Scroll down to 'Further reading (延伸阅读)'
3. See error

**Expected behavior**

It should be translated via strings in a JSON file.

**Screenshots**

<img width="1020" alt="Screenshot 2022-09-06 a