[2022-03-10 13:57] eccentricexit commented on #5633
Ethereum foundation not only should keep rocketpool there but also add a note saying something like:

“We discourage using centralized staking services as those degrade the decentralization and censorship resistance of the network. Instead, we recommend using a permissionless, decentralized protocol like rocketpool since it increases it.”

If the website was choosing a specific company, then it wo

[2022-03-10 14:00] AD1528 commented on #5633
Context is important.

Before mentioning any particular service or protocol (or, ideally, a curated group of offerings, rather than just one), It would actually be more helpful to state some of the values that benefit the health and resilience of Ethereum overall.

E.g. a section intro that talks about client diversity and increasing the number of validators could be added to better educate those

[2022-03-10 14:48] minimalsm opened #5642 "Fix inconsistent spellings of JavaScript"
**Describe the bug**

At the moment we inconsistently spell JavaScript throughout our site. Searching the codebase there are 683 results for '**JavaScript**' (the correct spelling) but also 120 results for Javascript (the incorrect spelling).

**To Reproduce**
Steps to reproduce the behavior:

1. Search codebase for 'JavaScript' and 'Javascript' (case sensitive)
1. See error

**Expected behavior**

[2022-03-10 14:58] nloureiro commented on #5639
Hello. @vluna I've made a version on [Figma](https://www.figma.com/file/sz9yv6zXVpEx8OgvhtCgFr/%3Ckbd%3E-style?node-id=2%3A13).

We should change to mono font and reduce the size of the text to 0.9rem, just to give some space to the "key" shaped box not to change the overall line-height when used in the middle of a <p>

[2022-03-10 15:14] minimalsm opened #5643 "Fix inconsistent spellings of MetaMask"
**Describe the bug**

Similar to #5642 — at the moment we inconsistently spell MetaMask throughout our site. Searching the codebase there are 144 results for '**MetaMask**' (the correct spelling) but also 151 results for Metamask (the incorrect spelling).

**To Reproduce**
Steps to reproduce the behavior:

1. Search codebase for 'MetaMask' and 'Metamask' (case sensitive)
1. See error

**Expected b

[2022-03-10 15:19] KaranKaira commented on #5642
@minimalsm, I would like to take up this issue.
So, I have to individually edit the incorrect spelling(Javascript) into correct spelling( JavaScript).
Thats all , right..

[2022-03-10 15:24] minimalsm commented on #5642
Hey @KaranKaira, thanks for offering to help. I've assigned you.

Yes, that is correct. Butt be careful not to change any that are used within code/urls/etc :-)

Feel free to ping if you need any guidance.

[2022-03-10 15:26] KaranKaira commented on #5642
@minimalsm Sure, I will be changing only those which are occurring in text only.

[2022-03-10 20:14] Re-Drawn commented on #5643
Hi, @minimalsm, I would like to work on this issue!

[2022-03-10 21:29] samajammin opened #5646 "Create a listing policy for staking services"
**Is your feature request related to a problem? Please describe.**

An obvious takeaway from discussions in #5633 & broader community debate around this topic is to create a dedicated listing policy for staking services.

A listing policy would help provide transparent criteria on how to suggest staking services to add on ethereum.org. While we already do have a listing policy for "[Ethereum produ

[2022-03-10 21:49] samajammin opened #5647 "Revamp the Staking page"
**Is your feature request related to a problem? Please describe.**

As mentioned in our Q1 roadmap (#5105), improving the UX of staking is a key goal of our team. Part of this effort should be to revamp the [Staking page](https://ethereum.org/en/staking/).

Two clear areas of improvement we've identified are to expand our resources for both 1) pooled staking & 2) solo staking to make both processe

[2022-03-10 21:58] samajammin commented on #5633
Appreciate the additional input folks!

FYI I created a couple more issues aiming to address much of your feedback & to improve our listing of staking services. Encourage you to give those a read & weigh in if you have input:
- Revamp the Staking page #5647
- Create a listing policy for staking services #5646

[2022-03-11 02:15] ObieMunoz commented on #5643
Hi, I can get this done quickly & will be careful to only update the spellings that are in text and outside of code or url's.

[2022-03-11 06:29] johnsgeorgecet opened #5649 "(Add exchange) Xanpool"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2022-03-11 11:16] minimalsm commented on #5643
Hey @Re-Drawn, thanks for offering to help. I've assigned you.

Please let us know if you need a hand on this :-)

[2022-03-11 11:16] minimalsm commented on #5643
@ObieMunoz thanks for offering, I'll ping you if @Re-Drawn isn't able to work on this.

[2022-03-11 12:28] tsudmi commented on #5633
@samajammin I still think we should temporarily remove rocketpool from that page and bring it back once the staking page will be revamped. Currently, there are multiple wallets user can choose from, same goes for dapps and only one staking solution if you have less than 32 ETH.

[2022-03-11 15:34] samajammin commented on #3746
My latest thinking on this is still to:
- Update all footer social links to https://ethereum.org/en/community/online/
- Highlight social links specific to ethereum.org on https://ethereum.org/en/about/
- Highlight social links specific to the Ethereum Foundation on https://ethereum.org/en/foundation/

[2022-03-11 16:35] lingzhong opened #5652 "Inconsistent code snippet block copy-ability across the same NFT tutorial"
**Describe the bug**

Code snippets within Part 1 of the [NFT tutorial](https://ethereum.org/en/developers/tutorials/how-to-write-and-deploy-an-nft/) offer inconsistent copy interaction than Part 2 and Part 3, where all code snippets within Part 2 and Part 3 are copy-able, only some from Part 1 are.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [Part 1](https://ethereum.org/en/devel

[2022-03-11 17:46] KaranKaira commented on #5642
Hi @minimalsm , I have edited every markdown file.
There are json files which have incorrect spelling. Do I need to edit them also.
![image](https://user-images.githubusercontent.com/46125192/157921813-39f85e3a-8614-4f1c-8960-9cbdfc35b34b.png)

[2022-03-11 18:22] NajaOrangeBird opened #5655 "Hi, we at 501NFTs.com would like to make a feature request: an Eth contract definition called 501NFT. A 501NFT is different from other NFTs due to USA registered non-profit organization (IRS code 501c3) as being the initial offerer and it having a tax-deductible component to it defined in the smart contract. It would have a royalty distribution of 100% initial offering to the non-profit 501c3. Then the 501c3 can continue the 100% royalty or redefine subsequent royalties down to a 25% for subsequent sales. This allows for collector trading and tax-write offs knowing that this 501NFT is standardized for that purpose.. This particular NFT can serve as a "coupon/member pass" for other real world utilities or tax deductible donation events defined by the 501c3. Please let us know if this can be done as an NFT Definition or if we should make it a token ourselves."
**Is** your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2022-03-11 23:07] samajammin commented on #3984
Multiple folks have also reported this in Discord:
- https://discord.com/channels/714888181740339261/727898649006309377/949382094029717524
- https://discord.com/channels/714888181740339261/727898649006309377/949698900384677898

[2022-03-11 23:55] fubuloubu opened #5657 "Add Ape python-based smart contract dev tool"
**Product name:**

Ape

**Product description:**

The smart contract development tool for Pythonistas, Data Scientists, and Security Professionals.

**How long has it been around?**

In Beta for 3 months, v0.1.0 Released today

**Where do you think it should go?**

- https://ethereum.org/en/developers/docs/frameworks/#available-frameworks
- https://ethereum.org/en/developers/docs/programming-langu

[2022-03-12 06:49] KaranKaira commented on #5642
@minimalsm , seeing the changes made in pull request #5654 , I am editing the spellings the json files too..

[2022-03-12 07:17] KaranKaira commented on #5642
hi @minimalsm , opened pull request #5659.

[2022-03-12 15:33] yokem55 commented on #5633
I'm going to advocate a somewhat different position: ethereum.org should not have a 'staking services' page at all.

Just 'staking' in and of itself is at best a neutral thing for Ethereum. Just throwing ether over the wall into the deposit contract looking for a return does not by itself do anything good for the protocol. What does help the protocol is getting more distinct and independent indivi

[2022-03-12 22:03] samajammin opened #5660 "Update gas docs to post-London/EIP-1559 info only"
**Is your feature request related to a problem? Please describe.**

Last year we created a bunch of updates around the London upgrade / EIP-1559: #3022 #3521

I'm wondering how long we should frame the content on the [gas page](https://ethereum.org/en/developers/docs/gas/) as "[Prior to the London upgrade](https://ethereum.org/en/developers/docs/gas/#pre-london)" & "[After the London upgrade](http

[2022-03-12 22:05] davymic1 opened #5661 "ETH Wallet has a powerful security updates"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-03-12 22:13] samajammin commented on #5655
?

[2022-03-12 22:13] #5655 closed

[2022-03-13 10:35] NewHouses opened #5662 "Add Galician language"
Hello, I would like to star to translate the website to Galician

[2022-03-13 17:13] lukassim commented on #5662
Hey, thanks for the suggestion.
Added, you can find Galician translations here: https://crowdin.com/project/ethereum-org/gl

Some more information about the ethereum.org Translation Program: https://ethereum.org/en/contributing/translation-program/
You can also join our Discord to reach out to the team or other translators, find other ways of getting involved, claim your POAPs for translation, etc

[2022-03-13 17:13] #5662 closed

[2022-03-13 18:51] gakonst commented on #5633
+1 on reverting. candidly [this](https://ethereum.org/en/staking/) reads like an ad which doesn't sound fitting for ethereum dot org

[2022-03-13 19:18] jasperghost1 commented on #5633
You're right, I think Sam was doing other services a favor when he wrote;

The discussion was vague because it's been readily fleshed out in other forums. There are three simple axes, principally, we ought to define our staking services by as these are the same standards we hold Ethereum itself to. Rocket Pool is the clear leader in all of them.

Permissionlessness - anyone can spin up an Ethereum

[2022-03-14 00:36] Hamidreza5242 opened #5663 "www.hamidrooz5522m@gmail.com"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-03-14 00:37] Hamidreza5242 commented on #5663
ok

[2022-03-14 12:26] minimalsm commented on #5581
@lingzhong added a bunch in #5664.

There might still be a few to add (At a glance: DYDX, Lido)

[2022-03-14 14:13] minimalsm commented on #5642
Solved in #5659

[2022-03-14 14:13] #5642 closed

[2022-03-14 14:17] #5643 closed

[2022-03-14 14:42] lingzhong commented on #5647
+100 on this!

As a staking participant, it was non-obvious to identify all the trade-off's between the various types of staking mechanisms on the website.

It'd be great if the we can incorporate a way to clearly compare and contrast the trade-off's in the new page design, including but not limited to:

- Staking reward
- Risks
- Financial/asset requirement
- Technical requirement
- Maintenance d

[2022-03-14 14:48] #5663 closed

[2022-03-14 15:13] apollo71-dev opened #5668 "web3"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-03-14 15:59] #5668 closed

[2022-03-14 18:39] samajammin commented on #5646
@jasperghost1 also had a relevant comment here: https://github.com/ethereum/ethereum-org-website/issues/5633#issuecomment-1066165105

Perhaps as part of the listing policy, we come up with objective ways to measure where services fall on
those 3 axes.

[2022-03-14 18:50] yannggg opened #5670 "(Add Exchange) Add Mt Pelerin"
**What geographical restrictions apply to this exchange?**

Afghanistan, Belarus, Burundi, Central African Republic, Democratic Republic of the Congo, Guinea, Guinea-Bissau, Iran, Iraq, Lebanon, Libya, Mainland China (Hong Kong and Taiwan accepted), Mali, Myanmar, Nicaragua, North Korea, Somalia, Sudan, South Sudan, Syria, USA, Venezuela, Yemen, Zimbabwe.

**Which currencies are accepted by this e

[2022-03-14 19:16] yannggg opened #5671 "(add-wallet) - Bridge Wallet"
**Is your wallet security tested? Please explain security measures i.e. security audit, internal security team or some other method.**

Yes, each new app version is security tested internally before release.

**When did your wallet go live to users?**

April 2020

**Does your wallet have an active development team?**

Yes

**Is your wallet open-source?**

No

**Is your wallet globally accessible?*

[2022-03-14 19:45] danielgmason commented on #5633
Seems helpful to have an option up until the page gets revamped even if it's suboptimal, but agree that something that presents more information about staking + the myriad of providers with pros/cons is definitely better.

[2022-03-14 21:18] #4504 closed

[2022-03-15 10:58] minimalsm commented on #5671
Hey @yannggg thanks for raising this issue.

A few things on the description:

I'm not really comfortable with this first sentence as to a user it might read like ethereum.org is endorsing this product. I think cutting it entirely keeps the descriptiveness intact. Thoughts?

Can you substantiate this claim?

Thanks 😀

[2022-03-15 11:04] minimalsm opened #5676 "On-hover effect missing on 'Go' button (dapps page)"
**Describe the bug**

Under the 'Get started' section of [the dapps page](https://ethereum.org/en/dapps/) the 'Go' button does not have an on-hover effect.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/dapps/'
1. Scroll down to 'Get started'
1. Hover over the 'Go' button
1. See error

**Expected behavior**

The button should have an appropriate on-hover effe

[2022-03-15 12:55] #5657 closed

[2022-03-15 19:42] nloureiro commented on #5647
We've created a [Figma prototype](https://www.figma.com/proto/p1rEqloJKtdCpr42YdbLpJ/Staking-EPIC?page-id=360%3A532&node-id=475%3A1881&viewport=264%2C48%2C0.25&scaling=min-zoom&starting-point-node-id=475%3A1881) to get more detailed feedback on this.
The Goal is to the most feedback we can on a wireframe type of pages to set the content and flow right.

Please add your contribution using the comme

[2022-03-15 20:15] samajammin commented on #5647
Thanks for the input @lingzhong! I think that's a great list of considerations to include 😍

Amazing! @nloureiro just posted a design protoype (see comment above). I encourage you to check that out & add your feedback. We also have a public Discord - feel free to join the discussion in the `🥩｜staking` channel: https://discord.gg/aQEq7GQsgE

[2022-03-15 20:24] samajammin commented on #5633
Again, appreciate the input on this folks 👌

Overall I think much of the pushback on https://github.com/ethereum/ethereum-org-website/pull/5349 is valid but rather than focus on "remove RocketPool" I think it's more productive to focus on how to display multiple staking options.

@nloureiro just shared some design prototypes of how we might accomplish that. I encourage you all to check it out & ad

[2022-03-15 21:27] gakonst commented on #5633
@samajammin thanks for the follow up! The direction towards revamping the page seems good! Given that, do you not think it makes sense to move forward with https://github.com/ethereum/ethereum-org-website/pull/5635, since #5647 ACKs that the previous design was not clear enough, and that the original https://github.com/ethereum/ethereum-org-website/pull/5349 PR was not the "right" solution?

[2022-03-15 21:29] samajammin opened #5681 "Sitemap is broken"
**Describe the bug**

https://ethereum.org/sitemap.xml no longer resolves correctly

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/sitemap.xml

**Expected behavior**

This URL should render our sitemap file.

Looks like this was last read on 12/8/21:
![Image 2022-03-15 at 2 24 33 PM](https://user-images.githubusercontent.com/8097623/158475168-32ec6ef6-ed62-4401-9

[2022-03-15 21:37] samajammin opened #5682 "Incorrect response codes"
**Describe the bug**

Seeing odd behaviour in our site response codes. Seems the site is not always returning 404 response code when it should.

**To Reproduce**
Steps to reproduce the behavior:

All of these I'd expect a 404 response:
- Go to https://ethereum.org/derp (404 response)
- Go to https://ethereum.org/en/upgrades/asdfasdf/ (200 response if 1st request, 304 on subsequent request)
- Go to

[2022-03-16 09:55] minimalsm commented on #5676
Hey @KaranKaira, all yours 😀❤️

[2022-03-16 10:52] ademidun opened #5684 "Add Atila as a crypto scholarships and Grants Platform"
[Atila](https://atila.ca) is a platform that allows people to start and get scholarships and grants using fiat and [crypto](https://atila.ca/crypto). Here is a [video demo](https://www.youtube.com/watch?v=rsE-PFz5vTE).

The current fiat-based scholarships are not easily accessible by students across the world. For example, if someone starts a scholarship in Canada, it's quite difficult to give tha

[2022-03-16 12:47] HursitTarcan commented on #5682
Can I try to fix this?

[2022-03-16 16:34] pettinarip commented on #5681
In the newer version of `gatsby-plugin-sitemap` the sitemap is placed here: `/sitemap/sitemap-index.xml`. I've updated the Google Search Console to use that path 👍🏼

[2022-03-16 16:34] #5681 closed

[2022-03-16 21:13] qbzzt commented on #5038
I checked it - with compression using my article's technique is actually counter productive. So I have to either give up on this, or include in the introduction that it doesn't work with Optimism, but if you have to work with a different rollup that doesn't compress natively it'll be useful. That would sound like an attack on Arbitrum even if it isn't.

As reluctant as I am to throw away all this

[2022-03-16 21:13] #5038 closed

[2022-03-17 11:19] vj-codes commented on #5581
@minimalsm hey I would like to work on this!

[2022-03-17 15:45] jmcook1186 opened #5690 "Migrate materials from eth.wiki"
## Background

The material hosted at eth.wiki is now very stale and contains information that is years out of date. This can be confusing for users because the old information can contradict newer information available elsewhere and it is not clear what the canonical source of information should be. While the wiki is rich with Ethereum history, it seems like a good time to migrate some informatio

[2022-03-17 23:53] wukongma opened #5695 "更简捷落地 更多元化宣传"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2022-03-17 23:54] wukongma opened #5696 "需要一个以太坊新钱包"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-03-18 10:04] #5696 closed

[2022-03-18 12:33] #5616 closed

[2022-03-18 12:33] #5695 closed

[2022-03-18 13:55] pizdecpizdec opened #5699 "New tutorual: How Getting Ethereum Account Balance and Transactions"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

How Getting Ethereum Account Balance and Transactions

**Tutorial description**

We’re going to take apart two sets of data used in creating an Ethereum wallet.
Current Balance — The last Eth amount for the accou

[2022-03-18 13:56] pizdecpizdec opened #5700 "New tutorial: How to connect to the Ethereum network using Web3.js"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

How to connect to the Ethereum network using Web3.js

**Tutorial description**

In this tutorial, we will learn how to use Web3.js to connect to the Ethereum blockchain using HTTP. We will write code to get the l

[2022-03-18 13:58] pizdecpizdec opened #5701 "New tutorial: How to connect to the Ethereum network using Web3.py"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

How to connect to the Ethereum network using Web3.py

**Tutorial description**

In this tutorial, we will learn how to use Web3.py to connect to the Ethereum blockchain using HTTP. We will write code to get the l

[2022-03-18 15:49] samajammin commented on #5690
Relates to #2324 & #2325

[2022-03-18 17:13] sahil5d opened #5702 "Satoshi Nakamoto candidate"
This Paypal cofounder is likely Satoshi Nakamoto, based on common

- technical capability
- psychological motivation
- time availability plausibility
- physical location coincidence
- software stylistic similarity
- technical jargon similarity
- unusual and quirky expressions similarity.

https://medium.com/p/4120f36da702

[2022-03-18 17:30] Shutch748 opened #5703 "qbzzt:short-abi/ethereum.CallResult/ethereum.abi/ethereum:dev"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-03-18 17:30] Shutch748 commented on #5703
@Shutch748

[2022-03-18 20:13] #5703 closed

[2022-03-18 20:13] #5702 closed

[2022-03-19 05:29] yokymia opened #5704 "Thank"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-03-19 05:29] yokymia opened #5705 "Coin"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2022-03-19 05:29] yokymia opened #5706 "Coin"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-03-19 05:29] yokymia opened #5707 "Coin"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-03-19 09:39] #5704 closed

[2022-03-19 09:39] #5707 closed

[2022-03-19 09:39] #5706 closed

[2022-03-19 09:39] #5705 closed

[2022-03-20 09:13] wd021 opened #5708 "Reduce repo size"
Are there efforts to reduce the size of the repo? It's currently 500mb+..

[2022-03-20 16:35] b17z opened #5711 "Additions to Consensus Mechanisms Docs"
- Talk about Byzantine Generals Problem
- Some more analogies
- Note on the difference between protocols and algorithms

[2022-03-20 16:49] b17z commented on #3655
@minimalsm I can take this on if it's still open and @shadforth is blocked for whatever reason. Happy to collab, too, if they're available.

[2022-03-21 11:24] 0fatih opened #5714 "Wrong information?"
Hey, I just re-reading the Ethereum whitepaper and I saw something interesting. In [this](https://ethereum.org/en/whitepaper/#ethereum-state-transition-function) link you can see that paragraph under the State Transition Function (5):

But AFAIK also the sender's nonce changes if there is an out of gas situation. I tested it, and I am right. Am I missing something or there is misinformation?

[2022-03-21 11:42] michael-spengler opened #5715 "Error retrieving TVL in DeFi (DeFiPulse endpoint)"
symptom: "Error, please refresh - see screenshot below"

context:  https://github.com/ethereum/ethereum-org-website/blob/dev/src/components/StatsBoxGrid.js#L366-L392

![Screenshot 2022-03-21 at 12 30 39](https://user-images.githubusercontent.com/43786652/159252845-9009b5c5-fcb9-4bfb-8ec1-da37832307d7.png)

[2022-03-21 11:58] #5173 closed

[2022-03-21 12:00] minimalsm commented on #5620
Hey @wasim162010

Can you confirm:

- Has BoltX undergone an external security audit?
- Does BoltX have an internal security team?

[2022-03-21 12:15] michael-spengler commented on #5715
Potential solution approaches:
1. Update DeFi Pulse API Key via https://data-beta.defipulse.com/dashboard/defipulse
2. Consider Whitelisting https://ethereum.org - see screenshot to simplify things (no need for GATSBY_FUNCTIONS_PATH ... here)

![Screenshot 2022-03-21 at 13 13 41](https://user-images.githubusercontent.com/43786652/159258889-1b4320fa-86db-4459-8aea-48c28c22cde6.png)

Feel free to pi

[2022-03-21 12:29] michael-spengler commented on #5715
I just found out the issue might also be caused by the defipulse api itself --> https://discord.com/channels/344842193019863040/656905049598984202/955441962603921448

in this case you might consider this issue as a minor potential improvement proposal to whitelist https://ethereum.org - see screenshot above to avoid the dependency on ...GATSBY_FUNCTIONS_PATH ... on the own backend...

[2022-03-21 14:50] corwintines commented on #5660
I think we should update the gas page to just portray the current state of Ethereum now that London has been out for quite a few months, and move some of the historical gas information to the [/history/](https://ethereum.org/en/history/) page. We could probably overhaul the history page to accommodate for that change if we are going to add this information though. I do think there is some value sh

[2022-03-22 00:08] nebulahh opened #5717 "Typo on intro to ether page"
**Describe the bug**

A sentence does not flow well. this sentence under "what is ether" section is talking about ether but then it seems The merge is the one needed to validate blocks.
**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/developers/docs/'
2. Click on 'intro to ether'
3. Scroll down to 'what is ether'
4. See error

**Expected behavior**

there shoul

[2022-03-22 10:26] minimalsm commented on #5717
Hey @nebulahh, thanks for offering to help. I've assigned you 😀

[2022-03-22 10:28] Hamidreza5242 opened #5719 "MetaMask State logs - v4.2.2 (834)"

[2022-03-22 10:28] Hamidreza5242 commented on #5719
h

[2022-03-22 10:43] minimalsm commented on #5715
Hey @michael-spengler, thanks for flagging this.

We've been having intermittent issues with the DefiPulse endpoint for a while (it would mostly work but break every few refreshes). Seems to be down altogether right now ☹️

I _think_ @wackerow was reaching out to them regarding this?

[2022-03-22 12:29] #5719 closed

[2022-03-22 12:33] minimalsm commented on #5714
Hey @0fatih, the whitepaper has been frozen to preserve its historical context. Even if there was/is a mistake here, we wouldn't be changing it. (See #3794 for more context on this)

That being said, unsure if this has changed since the Whitepaper was published (many things have). Perhaps ask in the [ETH R&D server](https://discord.gg/2BEKHUqHSA) if you're simply curious?

Going to close this out

[2022-03-22 12:33] #5714 closed

[2022-03-22 17:52] wackerow commented on #5708
So a fresh clone of this repo is showing ~554 MB total, 372 MB of which is in the `.git` folder, while the `src` folder is 173 MB. Translations are just strings and don't really add much to the repo itself, only to the build size.

We should probably take a look at our packages at some point to see which potentially aren't being used anymore. Otherwise perhaps a look at our images to see if any ar

[2022-03-22 18:55] pettinarip commented on #5708
- `src` ~ yeah probably we need to clean up the assets folder. Also, I like having some remote service for the assets. However, I think that will make the contribution process a bit more complex, not sure.
- `.git` ~ I think it is a good opportunity to discuss whether we want to analyze/reduce the size of our git history. Maybe we could make a backup of it and squash the history at some point. I d

[2022-03-22 19:59] samajammin commented on #5681
Nice @pettinarip! Can you also add a redirect from the old sitemap (https://ethereum.org/sitemap.xml)?

[2022-03-23 01:30] mrlessc opened #5729 "Crypto.com"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2022-03-23 02:28] Henryjk4 commented on #2789
from what i have learned so far i would use Uniswap at [uniswap.org](https://uniswap.org/) hope this helps

[2022-03-23 05:18] #5729 closed

[2022-03-23 10:23] jmcook1186 opened #5731 "Migrate materials from ethdocs.org"
## Background

The homestead guide at [ethdocs.org](https://ethdocs.org/en/latest/index.html) is now a historical archive. While it is full of interesting information it is now very out of date and users can easily be confused by contradictory information provided there compared to newer resources such as ethereum.org. Therefore, this issue is to suggest selective migration of material from ethdoc

[2022-03-23 12:03] nebulahh commented on #5717
please am new to this. After running yarn start, i made the required changes on my local machine, but my git bash on windows does not open a new terminal session. it just says success doing something and am unable to type any other thing into git bash, should i edit and make PR on github or commit and push via vscode. what should i do?

[2022-03-23 12:20] nebulahh commented on #5717
please am new to this. After running yarn start, i made the required changes on my local machine, but my git bash on windows does not open a new terminal session. it just says success doing something and am unable to type any other thing into git bash. it is taking too long and i cant see anything that shows it is loading. should i edit and make PR on github or commit and push via vscode. what sho

[2022-03-23 12:50] minimalsm commented on #3632
Looks like this was accidentally closed in #4865 but this is still an issue.

[2022-03-24 03:06] qbzzt opened #5746 "Proposal: IPFS for decentralized user interfaces"
**Tutorial title**

IPFS for decentralized user interfaces

**Tutorial description**

This tutorial teaches the reader how to use IPFS to store the user interface for a decentralized app. This is important because while the application's data and business logic are decentralized, without a censorship resistant user interface users might lose access to it anyway.

**Tag your tutorial**

- IPFS
- Us

[2022-03-24 04:12] Righteouxxx opened #5747 "Crypto"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-03-24 05:28] Righteouxxx commented on #5747
const { createHmac } = await import('crypto'); const secret = 'abcdefg'; const hash = createHmac('sha256', secret) .update('I love cupcakes') .digest('hex'); console.log(hash); // Prints: // c0fa1bc00531bd78ef38c628449c5102aeabd49b5dc3a2a516ea6ea959d6658e

[2022-03-24 06:01] lingzhong opened #5749 "NFT minting tutorial uses HTTP-based URI instead of IPFS-based URI"
**Describe the bug**

The existing NFT tutorial recommends minting tokens with HTTP-based URI which uses centralized gateway provided by Pinata. However, Switching to IPFS-based URI should be recommended instead, this will allow decentralized and direct interaction with objects on IPFS.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/tutorials/how-to

[2022-03-24 06:23] samajammin commented on #5639
Solved in #5651

[2022-03-24 06:23] #5639 closed

[2022-03-24 08:33] tomaspasie commented on #5676
Hi @KaranKaira. I tried looking into this problem you are facing, but I was not able to recreate your issue. However, I was able to get the dapps page running locally on my end and fix the on-hover effect. If you are still facing issues and no longer want to work on this, I'll be happy to take over! 😄

[2022-03-24 10:48] #5747 closed

[2022-03-25 08:59] KaranKaira commented on #5676
@tomaspasie,Sure you can take over , I am kinda busy these days.

[2022-03-25 09:13] tomaspasie commented on #5676
Hello @minimalsm! Could you assign me this issue? This is actually my first time contributing to an open-source project and I'd love to help out. Thanks!

[2022-03-25 13:34] lukassim opened #5759 "Ethereum security and scam prevention fixes"
**Describe the bug**

1) Remove exclamation mark from 'Common scams' section
2) Fix wording in 'Giveaway scam' section
3) Add end punctuation to 'Social media hacks' section

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/security/
2. Scroll down to 'Common scams', 'Giveaway scam', and 'Social media hacks' sections
3. See errors

**Expected behavior**

1) All i

[2022-03-25 13:52] lingzhong commented on #5581
@minimalsm Added DYDX and Lido in #5755, ready for review 👍

There are definitely more though.

[2022-03-25 13:53] lukassim opened #5760 "Change description of how Ethereum proof-of-work works"
**Describe the bug**

In the 'Proof-of-work economics' section of the Proof-of-work page, the description is no longer accurate, as the way Ethereum works under proof-of work has changed after EIP-1559.
Specifically, the following sentence should be reworded: _Miners who successfully create a block get rewarded with two freshly minted ETH and all the transaction fees within the block._

**To Repro

[2022-03-25 14:01] lukassim opened #5762 "Fix typo in the Ethereum glossary"
**Describe the bug**

Under the entry for 'decentralized exchange', the button linking to the /get-eth/dex page contains a typo. Specifically the incorrect spelling is 'Decentalized exchanges'

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/glossary/
2. Click on 'decentralized exchange' in the right sidebar or scroll down to the 'decentralized exchange' entry
3

[2022-03-25 14:07] lukassim opened #5763 "Remove redundant 'are' from contributing page"
**Describe the bug**

In the 'A note on plagiarism' section on the Contributing to ethereum.org page, one of the sentences contains a redundant 'are', which should be removed

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/contributing/
2. Scroll down to the 'A note on plagiarism' section
3. Read the second-to-last sentence
4. See error

**Expected behavior**

[2022-03-25 15:17] rakeshhotker commented on #5762
@lukassim i am willing to work on it

[2022-03-25 15:59] lingzhong commented on #5760
Would like to pick this one up! This is an important inaccuracy to correct.

[2022-03-25 17:52] samajammin opened #5767 "Create a listing policy for events"
**Is your feature request related to a problem? Please describe.**

Our listing policies aim to provide transparent criteria on how to suggest products/resources/services to be added ethereum.org & to give insight on how we evaluate proposals. While we already do have a listing policy for "[Ethereum products](https://ethereum.org/en/contributing/adding-products/)", we've learned that dedicated lis

[2022-03-26 13:08] Steph-crown commented on #5763
I would like to help out with a PR

[2022-03-26 18:09] noahliechti opened #5773 "Make Ethereum whitepaper more consistent and enhance semantic"
**Describe the Enhancement**

When I read the whitepaper, several things have caught my eye:
- in the `A Next-Generation Smart Contract and Decentralized Application Platform` some links have quotation marks included and some have not
- the link to the pdf doesn't really emphasizes that it leads to the original whitepaper
- the header `Long-Term Supply Growth Rate (percent)` is just bold text and

[2022-03-26 18:09] noahliechti commented on #5773
I'd love to work on that issue

[2022-03-27 18:52] Junfromc opened #5776 "Is these a misstake in ETH Whitepaper? or I misunderstand?"
abstracked from ETH whitepaper--Miscellanea And Concerns--Fees

"A miner would be willing to process a transaction if the expected reward is greater than the cost. Thus, the expected reward is kR/N since the miner has a 1/N chance of processing the next block, and the processing cost for the miner is simply kC. Hence, miners will include transactions where kR/N > kC, or R > NC. Note that R is the

[2022-03-28 04:32] oma131 commented on #5763
I would like to be assigned to this issue

[2022-03-28 04:34] nitin094-hub commented on #5763
Already made a PR !

On Sat, 26 Mar 2022 at 18:38, Steph Crown ***@***.***> wrote:

[2022-03-28 09:42] minimalsm commented on #5776
Hey @Junfromc, we aren't updating the whitepaper anymore but a good place to discuss this would be [the Eth R&D discord](https://discord.gg/2BEKHUqHSA).

Thanks for raising.

[2022-03-28 09:42] #5776 closed

[2022-03-28 10:02] #5762 closed

[2022-03-28 12:38] WhiteFlamingo commented on #5581
think permission settings on the doc I created were changed for a couple hours last week, so have updated. thanks for adding this, too!

[2022-03-28 14:45] pettinarip opened #5788 "No labels on the wallets checkboxes"
**Describe the bug**

Missing labels on the wallets checkboxes.

**To Reproduce**
Steps to reproduce:

1. Go to https://ethereum.org/en/wallets/find-wallet/
2. Scroll down to the "Choose the wallet" section
3. The cards checkboxes don't have labels
![image](https://user-images.githubusercontent.com/468158/160419996-98d8e2fb-9dcf-4dd6-b4ce-308044098cf3.png)

**Expected**

- Each underlying checkbox

[2022-03-28 14:57] pettinarip opened #5790 "Repeated ids on the stats charts"
**To Reproduce**
Steps to see the bug:

1. Go to the home page https://ethereum.org/
2. Scroll down to the stats charts
3. Each chart has the following repeated ids in its implementation: `colorUv` and `colorPv`
![image](https://user-images.githubusercontent.com/468158/160425215-8158ec2a-d40a-4dd7-8b32-cbc36e92b586.png)

**Expected behavior**

Modify the way we set these ids (`colorUv` and `colorP

[2022-03-28 14:59] HursitTarcan commented on #5790
Can you assign me for this?

[2022-03-28 15:01] HursitTarcan commented on #5788
I can fix this

[2022-03-28 15:03] pettinarip opened #5791 "Breadcrumbs a11y improvements"
**Description**

Things to improve in the `Breadcrumbs` component:

- Use `nav` as the wrapper element
- Add aria attrs (`aria-label` on the `nav` element)
- Items should not be `h4` should be just `a`
- [Bug] sometimes the last element is empty, leaving an empty `a` with no text. That shouldn’t happen.

**Additional context**

Check as a reference https://www.w3.org/TR/wai-aria-practices/examples

[2022-03-28 15:04] minimalsm commented on #5759
Closed in #5777

[2022-03-28 15:04] #5759 closed

[2022-03-28 15:06] lingzhong commented on #5760
@minimalsm no worries :) It’s good for a new contributor to pick this one up, too!

Welcome to the repo @kum9748ar !

[2022-03-28 15:06] #5763 closed

[2022-03-28 15:12] pettinarip opened #5792 "Multiple nav landmarks in dev docs"
**Describe the bug**

In our dev docs pages, we have two navbars with no label that differentiate them.

**To Reproduce**
1. Go to https://ethereum.org/en/developers/
2. See the two nav bars.
![image](https://user-images.githubusercontent.com/468158/160429341-1e2de4cd-3755-4847-b2ff-ad2acaad7f8f.png)

**Expected behavior**

Add a aria-label in each nav to differentiate them.
- First nav `<nav aria

[2022-03-28 15:25] HursitTarcan commented on #5792
I can fix this too

[2022-03-28 15:37] pettinarip opened #5793 "Add aria-label to exchange search input"
**Describe the bug**
The select/search input doesn't have an aria-label description.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/get-eth/
2. Scroll down to the select input
![image](https://user-images.githubusercontent.com/468158/160434052-1172ea6f-1d1e-4ae8-a066-a81be57999cd.png)

**Expected behavior**

Add aria-label to the underlying input element.

**W

[2022-03-28 16:54] HursitTarcan commented on #5793
I can fix this

[2022-03-28 17:48] pettinarip opened #5795 "Make anchor links accessible"
**Description**
On the developer docs, we have an anchor icon that appears when you hover over the titles or headings. These anchor or link icons don't have anything that describes what they do or what they are. They appear as empty links since the icon is aria hidden.

**Where are these anchor icons?**
1. Go to https://ethereum.org/en/developers/docs/
2. See the anchor icons on the left side of t

[2022-03-28 18:46] KaranKaira commented on #5793
Hey @pettinarip , I would like to contribute on this.

[2022-03-28 19:35] pettinarip commented on #5793
Hey @HursitTarcan I'll assign this one to @KaranKaira since you are already working on 2 other PRs.

Thanks both for the help!

[2022-03-29 10:02] lukassim opened #5798 "Change position of quotation marks on 'Upgrades' page"
**Describe the bug**

The closing quotation mark in the title _What happened to 'Eth2?'_ on the Upgrades page should only include the term 'Eth2', not the question mark as well.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/upgrades/
2. Scroll down to the What happened to 'Eth2?' section
3. See error

**Expected behavior**

The correct placement of the quotat

[2022-03-29 10:11] lukassim opened #5799 "Remove redundant square bracket on 'Spin up your own Ethereum node' page"
**Describe the bug**

One of the sentences in the 'Hardware' section of the 'Spin up your own Ethereum node' page contains an unnecessary square bracket, that should be removed.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/docs/nodes-and-clients/run-a-node/
2. Click on 'Hardware' in the right sidebar or scroll down to the 'Hardware' section
3. Fin

[2022-03-29 10:18] lukassim opened #5801 "Fix spelling of Minerstat on 'Mining' page"
**Describe the bug**

In the 'Related tools' section on the 'Mining' page, _Minerstat_ is misspelled as _Minerstar_.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/docs/consensus-mechanisms/pow/mining/
2. Click on 'Related tools' in the right sidebar, or scroll down to the 'Related tools' section
3. Read the third item on the list
4. See error

**Ex

[2022-03-29 10:29] lukassim opened #5802 "Reword contradictory sentences on 'Adding developer tools' page"
**Describe the bug**

The sentences in the 'Product ordering' section of the 'Adding developer tools' page are contradictory.
_Unless products are specifically ordered otherwise, such as alphabetically, products will be displayed from most to least recently added to the page._ - This sentence implies that the most recently added tools are listed on top of the list.
_In other words, the newest prod

[2022-03-29 11:11] nitin094-hub commented on #5802
I will do it!

[2022-03-29 11:59] mikoto-studio opened #5805 "Contribution - Added Japanese info in community resources page"
Contribution - Added Japanese info in src/content/community/language-resources/index.md

[2022-03-29 12:30] nitin094-hub commented on #5802
I have made a merge request. Plz, Check!

[2022-03-29 13:55] krsakshi commented on #5798
I can take care of that

[2022-03-29 15:23] KaranKaira commented on #5793
@pettinarip , what should be the label-text?

[2022-03-29 15:33] #5801 closed

[2022-03-29 15:40] pettinarip opened #5816 "Missing alt text on contributors images"
**Describe the bug**
The contributors images don't have an `alt` text.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/contributing/#contributors
2. The contributors images don't have an `alt` text

**Expected behavior**

Images should have an `alt` text. E.g. `alt="Contributor {name}"`

**Want to contribute?**

We love contributions from the Ethereum community

[2022-03-29 16:08] #5749 closed

[2022-03-29 18:14] #3972 closed

[2022-03-29 18:26] wackerow commented on #5816
Closed with above PR.

[2022-03-29 18:26] #5816 closed

[2022-03-29 18:35] pettinarip commented on #5793
@KaranKaira I would use the same text we are using as the placeholder, in this case, `Type where you live` and that is an already translated text 👍🏼

[2022-03-29 18:59] pettinarip commented on #5795
Thanks @lingzhong assigned to you!

[2022-03-29 20:00] kum9748ar commented on #5791
Hi there can I work on this ?

[2022-03-29 20:09] pettinarip commented on #5791
Thanks @kum9748ar assigned it to you 💪🏼

[2022-03-30 07:09] Steph-crown commented on #5790
Hi, can I hop on this?

[2022-03-30 07:57] DavideSantini opened #5832 "PERLA"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-03-30 08:03] KaranKaira commented on #5793
@pettinarip , plz take a look at PR #5831

[2022-03-30 08:49] okdonga commented on #5682
Hi @samajammin, It seems to be a gatsby issue. Someone made an [issue](https://github.com/gatsbyjs/gatsby/issues/28977) on this on gatsby github, but sadly didn't get any response from the team...

[2022-03-30 08:54] Righteouxxx opened #5833 "Endpoint"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2022-03-30 08:55] Righteouxxx commented on #5833
{"status":"1","message":"OK-Missing/Invalid API Key, rate limit of 1/5sec applied","result":[{"blockNumber":"54092","timeStamp":"1439048640","hash":"0x9c81f44c29ff0226f835cd0a8a2f2a7eca6db52a711f8211b566fd15d3e0e8d4","nonce":"0","blockHash":"0xd3cabad6adab0b52eb632c386ea194036805713682c62cb589b5abcd76de2159","transactionIndex":"0","from":"0x5abfec25f74cd88437631a7731906932776356f9","to":"","value"

[2022-03-30 08:57] #5833 closed

[2022-03-30 08:57] #5832 closed

[2022-03-30 08:59] minimalsm commented on #5805
Closed by #5807

[2022-03-30 08:59] #5805 closed

[2022-03-30 09:00] minimalsm commented on #5802
Thanks @nitin094-hub, closed by #5806

[2022-03-30 09:00] #5802 closed

[2022-03-30 09:09] minimalsm commented on #5684
Hey @ademidu, thanks for suggesting this and sorry for the delay in reviewing it.

First off, I wanted to say I really appreciate the awesome work you're doing in making education more accessible. However, as far as ethereum.org goes, we wouldn't be able to list this product at this time due to the product's age and lack of battle-testedness.

Feel free to reapply in the future once the project is

[2022-03-30 09:09] #5684 closed

[2022-03-30 10:11] minimalsm commented on #5792
Hey @HursitTarcan,

Just noting the side nav on [our developer docs](https://ethereum.org/en/developers/docs/) is also a navigation landmark and should get a differentiating aria-label too.

<img width="1561" alt="Screenshot 2022-03-30 at 11 08 58" src="https://user-images.githubusercontent.com/62268199/160807741-ab5f47f5-e30f-49c3-87bc-f8e054e8d675.png">

[2022-03-30 10:14] minimalsm commented on #5671
Hey @yannggg

Just a small update here: as part of [our Q1 product roadmap](https://github.com/ethereum/ethereum-org-website/issues/5105), we are refining our wallets page to improve the user experience of picking a wallet for our users. This will include refining the listing criteria for our wallets page. Until we have researched, established, and published refined listing criteria, we will not b

[2022-03-30 10:18] minimalsm commented on #5620
Hey @wasim162010

Just a small update here: as part of [our Q1 product roadmap](https://github.com/ethereum/ethereum-org-website/issues/5105), we are refining our wallets page to improve the user experience of picking a wallet for our users. This will include refining the listing criteria for our wallets page. Until we have researched, established, and published refined listing criteria, we will n

[2022-03-30 10:19] minimalsm commented on #5092
Hey @HebeBlock

Just a small update here: as part of [our Q1 product roadmap](https://github.com/ethereum/ethereum-org-website/issues/5105), we are refining our wallets page to improve the user experience of picking a wallet for our users. This will include refining the listing criteria for our wallets page. Until we have researched, established, and published refined listing criteria, we will not

[2022-03-30 10:20] minimalsm commented on #4969
Confirmed that `gatsby-plugin-image` is handling this for us already. Thanks again @byoriolserra

[2022-03-30 10:20] minimalsm commented on #4969
@all-contributors please add @byoriolserra @ForbidTANNEN for ideas

[2022-03-30 10:21] #4969 closed

[2022-03-30 10:21] minimalsm commented on #4697
Hey @nikashitsa

Just a small update here: as part of [our Q1 product roadmap](https://github.com/ethereum/ethereum-org-website/issues/5105), we are refining our wallets page to improve the user experience of picking a wallet for our users. This will include refining the listing criteria for our wallets page. Until we have researched, established, and published refined listing criteria, we will no

[2022-03-30 10:31] minimalsm commented on #4261
Hey @maxingeerinck

Sorry for the delay here. Having a look at Refinable, love the UI!

Unfortunately, I don't think adding Refinable offers anything particularly novel to users of ethereum.org that we don't already showcase and we feel listing it would only lead to more confusion for users.

The real deciding factor is that Refinable is a general NFT marketplace, rather than one focused on Ethere

[2022-03-30 10:31] #4261 closed

[2022-03-30 10:32] #4133 closed

[2022-03-30 10:33] minimalsm commented on #5717
Just noting @nebulahh that this is still an issue (see comments in #5742)

[2022-03-30 10:39] minimalsm commented on #3161
Closed by #4146

[2022-03-30 10:39] #3161 closed

[2022-03-30 10:42] minimalsm commented on #2985
Circling back on this. Given our coverage of NFT tutorials on ethereum.org I don't think adding this tutorial makes sense anymore, as it doesn't have anything we don't already cover except listing on OpenSea, which isn't something I believe needs explained.

[2022-03-30 10:42] #2985 closed

[2022-03-30 10:46] minimalsm commented on #3655
Hey @b17z, thanks for offering to help. I've assigned you! :-)

[2022-03-30 10:49] minimalsm commented on #4361
Unfortunately, due to the existing wealth of internal resources we have on NFTs already, we don't believe adding this adds anything novel to the tutorials and might just paralyse users with choices or confuse them further, ([as per our listing policy](https://ethereum.org/en/contributing/adding-products/)). Sorry again for the delay in reviewing this.

[2022-03-30 10:49] #4361 closed

[2022-03-30 10:49] minimalsm commented on #4714
Closed in #5150

[2022-03-30 10:49] #4714 closed

[2022-03-30 10:50] minimalsm commented on #5451
Closing this out as we are unable to reproduce this anymore. Thanks for reporting!

[2022-03-30 10:50] #5451 closed

[2022-03-30 10:50] minimalsm commented on #5451
@all-contributors please add @php4fan for bugs

[2022-03-30 11:01] nikashitsa commented on #4697
Hi @minimalsm

Thanks for update 😊

[2022-03-30 11:28] minimalsm commented on #5649
Hey @johnsgeorgecet,

I tried searching Google/xanpool.com but was unable to find anything on the exact geographical restrictions. We require this to list on ethereum.org. Could you tell us/point us to a resource that explains exactly where Xanpool is and is not available?

[2022-03-30 12:23] minimalsm commented on #4037
Hey @asriqul, closing this out. Please feel free to reopen/open a new issue with the information above.

[2022-03-30 12:23] #4037 closed

[2022-03-30 13:01] minimalsm commented on #2324
Closed by #5690 (the audit has been done, migration in progress)

[2022-03-30 13:01] #2324 closed

[2022-03-30 13:04] minimalsm commented on #3890
Hey @astarinmymind,

This has been added to our zk-rollups page and will be added to our upcoming layer 2 page. I don't believe this also belongs on the dapps page.

Thanks!

[2022-03-30 13:04] #3890 closed

[2022-03-30 13:06] minimalsm commented on #5087
Yes, @SNikhill, all of these seem in the scope of this issue to me. Do you have particular concerns?

[2022-03-30 13:08] ademidun commented on #5684
Thank you so much for the kind words @minimalsm and no worries about the delay I know that you're very busy.

I completely understand where you're coming from and I will reapply in the future when we're more established as you suggested.

I'm glad we have people like you as part of the Ethereum community. ❤️

[2022-03-30 13:09] byoriolserra commented on #4969
Thank you very much!! @minimalsm

[2022-03-30 17:20] #5715 closed

[2022-03-30 18:17] kum9748ar commented on #5791
Hi there in breadcrumbs component should I wrap up the `List ` within `nav` like
![image](https://user-images.githubusercontent.com/67071462/160903266-1c4f1262-9beb-4e42-b2d8-8ab070d2a102.png)
![image](https://user-images.githubusercontent.com/67071462/160903915-2dec3dbb-219a-413a-9f1a-67b34a4fada5.png)

[2022-03-31 11:14] lukassim opened #5851 "Fix spelling of 'Cloudflare'"
**Describe the bug**

On the 'Set up Web3.js to use the Ethereum blockchain in JavaScript' page, _Cloudflare_ is misspelled as _Cloudfare_.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/tutorials/set-up-web3js-to-use-ethereum-in-javascript/
2. Use the search function or scroll down to the following sentence: _If you’d like to directly access a host

[2022-03-31 11:19] lukassim opened #5852 "Fix spelling of 'execution layer'"
**Describe the bug**

On the 'How to turn your Raspberry Pi into a node by flashing the MicroSD card', _execution layer_ is misspelled as _execution later_.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/tutorials/run-node-raspberry-pi/
2. Use the right sidebar or scroll down to the 'Switching clients' section
3. Read the 3rd sentence
4. See error

[2022-03-31 11:22] HursitTarcan commented on #5852
Can I fix this one?

[2022-03-31 11:27] lukassim opened #5853 "Fix spelling of 'constraint'"
**Describe the bug**

On the 'How to use Manticore to find bugs in smart contracts' page, _constraint_ is misspelled as _cosntraint_.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/tutorials/how-to-use-manticore-to-find-smart-contract-bugs/
2. Use the right sidebar or scroll down to the 'Constraints' section
3. Read the first sentence in the 'Global

[2022-03-31 11:37] HursitTarcan commented on #5853
I will fix this too

[2022-03-31 11:48] lukassim opened #5855 "Fix errors on the Uniswap-v2 contract walkthrough page"
**Describe the bug**

There are two errors on the 'Uniswap-v2 contract walkthrough' page:
1 - 'Skim' is misspelled as 'Skip'
2 - 'Definition' is misspelled as  'Defintion'

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/tutorials/uniswap-v2-annotated-code/
2. Search for 'Sync or Skip'
3. Search for 'defintion'
4. See errors

**Expected behavior**

'S

[2022-03-31 11:49] HursitTarcan commented on #5855
I will fix this one too

[2022-03-31 11:57] HursitTarcan commented on #5851
Will fix this too :)

[2022-03-31 13:47] #5851 closed

[2022-03-31 13:47] #5853 closed

[2022-03-31 13:49] #5852 closed

[2022-03-31 13:50] #5855 closed

[2022-03-31 13:54] minimalsm commented on #5580
No answer on Twitter, [followed up with Vyper team on Discord.](https://discord.com/channels/809793915578089484/809794150550732830/959088198095605870)

[2022-03-31 14:56] kum9748ar commented on #5791
@pettinarip Can I get a feedback on my last comment

[2022-03-31 19:03] StrongerXi opened #5862 "Potentially inaccurate documentation in example code"
**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/docs/smart-contracts/anatomy/#unique-digital-asset
2. Click on `Show all` (if not already enabled)
3. Scroll down to the function `_createPizza`
4. See comment above `assert(pizzaToOwner[id] == address(0));`

**Expected behavior**
A correct explanation on the purpose of the assert statement (e.g., `id` o

[2022-03-31 19:34] pettinarip commented on #5791
@kum9748ar no, we already have a wrapper component. That component is the `List` component.

Now, the `List` component  is currently a `ul` element. You should replace that with a `nav` element.

Take a look at the example in this page https://www.w3.org/TR/wai-aria-practices/examples/breadcrumb/index.html we should get a structure similar to that.
[code]

[2022-03-31 21:55] charles-cooper commented on #5580
migrated to https://learn.vyperlang.org

[2022-04-01 03:11] masteraychen commented on #4530
why would OpenEthereum be deprecated? Is there any problem that couldn't be solved?
Rust are in many ways better than golang....It's a shame not to have a Rust version of Ethereum...

[2022-04-01 07:02] aghakaro opened #5873 "LessonTesting"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-04-01 18:54] HursitTarcan commented on #4053
@minimalsm not sure if this has already been resolved but I'm willing to do this (if it still has to be done).

[2022-04-02 14:06] lingzhong opened #5883 "Transaction count chart encounters error while loading"
**Describe the bug**

The `TRANSACTIONS TODAY` and `NODES` charts in the front page fail to load.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [ethereum.org](https://ethereum.org/)
2. Scroll down to `Ethereum Today` section with charts
3. See error

**Expected behavior**

Both charts should load without error

**Screenshots**

![chart_error](https://user-images.githubusercontent.co

[2022-04-02 14:58] lingzhong commented on #5883
Both charts are backed by etherscan.io APIs, see https://github.com/ethereum/ethereum-org-website/blob/dev/src/components/StatsBoxGrid.js#L459-L478

[2022-04-02 15:14] lingzhong commented on #5883
Fetching from the API endpoint failed. The error is suggesting the existing API token does not have the right permissions/limits to access Etherscan API Pro endpoints.

![tx_count](https://user-images.githubusercontent.com/4011137/161389563-9b09748e-cef1-440c-81e5-c209fc6c59fc.png)

[2022-04-02 15:18] lingzhong commented on #5883
The `NODES` chart sometimes loads, but the `TRANSACTIONS TODAY` chart is failing consistently.

The `TRANSACTIONS TODAY` lambda lives here: https://github.com/ethereum/ethereum-org-website/blob/dev/src/lambda/txs.js

[2022-04-02 15:23] lingzhong commented on #5883
Looks like we're rate limited: `"NOTOK-Missing/Invalid API Key, rate limit of 1/5sec applied"`

[2022-04-02 15:30] lingzhong commented on #5883
Potential solutions:

- Let's verify what subscription tier do we have with Etherscan and check if we need to upgrade
- Switch to a different API provider
- Check all the places we're calling this API, maybe we don't need to call it as often, or we should use a cache

[2022-04-03 13:40] lingzhong commented on #5883
The `NODES` chart is loading without error consistently now.

The `TRANSACTIONS TODAY` chart is backed by a paid API, (which I'm not sure if we have upgraded to API PRO), see https://docs.etherscan.io/api-endpoints/stats-1#get-daily-transaction-count

[2022-04-03 14:30] Limpisey168 opened #5887 "Describe the bug"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- android:11.1 [e.g. android]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 100.2]

**Smartphone (please complete the following information):**

- Device:

[2022-04-03 14:45] lingzhong commented on #5883
Hey @pettinarip @minimalsm @wackerow, while I was digging through the error, I saw your discussion and solution in a similar fix #5751 . Can you provide some guidance on how we should proceed in this issue?

I found some potential alternative API provider for `TRANSACTIONS TODAY` data if we decide to move away from Etherscan. Let me know, thanks!

---

[2022-04-04 02:38] qbzzt opened #5890 "Article: Understanding the Yellow Paper"
**Tutorial title**

Understanding the Yellow Paper

**Tutorial description**

As we get more developers into web3, we get more people who are confused by the mathematical notation in the [Yellow Paper](https://ethereum.github.io/yellowpaper/paper.pdf). It would be useful, IMAO, to have an article that explains to developers who lack mathematical education how to understand the yellow paper.

**Tag

[2022-04-04 03:19] lingzhong commented on #5652
Easily worked around with code snippet copy/paste.

[2022-04-04 03:19] #5652 closed

[2022-04-04 04:34] maxgeor commented on #3984
Quick win would be properly grouping and nesting different ideas. Since this tab is about _learning_, it makes snes eto group ideas into Basic and Advanced (people shouldn't read "Blockchain Bridges" before "What's ETH?"). Here's one grouping:

Learn
- **Basics**
  - What’s Ethereum?
    - Ether (ETH)
    - Smart contracts
    - History of Ethereum
    - Ethereum upgrades
    - Ethereum Whitepaper

[2022-04-04 11:36] lukassim opened #5892 "Fix typo on ERC-20 Contract Walkthrough page"
**Describe the bug**

On the 'ERC-20 Contract Walkthrough' page, _but_ is misspelled as _buf_.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/tutorials/erc20-annotated-code/#hooks
2. Read the sentence under the code block
3. See error

**Expected behavior**

_Buf_ should be changed to _but_

**Screenshots**
<img width="895" alt="Screenshot 2022-04-0

[2022-04-04 14:38] #5792 closed

[2022-04-04 14:38] #5790 closed, assigned to nobody

[2022-04-04 14:39] #5788 closed

[2022-04-04 14:42] #5676 closed

[2022-04-04 14:59] KaranKaira commented on #5892
@lukassim , Hey I would like to take this up.

[2022-04-04 15:26] #5873 closed

[2022-04-04 15:44] minimalsm commented on #5890
I agree this is a valuable resource to have @qbzzt. One thing that I'm not clear on: how often does the yellow paper get updated? Do we have EIP-1559 in here now? Or more recent changes?

[2022-04-04 15:45] minimalsm commented on #5890
Also the yellow paper is 41 pages long. How long do you forsee this being? Is it like a SparksNotes version? Or did you want to go through everything line by line similar to your other tutorials?

[2022-04-04 15:59] #5793 closed

[2022-04-04 18:23] pettinarip commented on #5883
Thanks @lingzhong for taking the time to investigate on this.

It seems that the `module=stats&action=dailytx` endpoint (being used by the `TRANSACTIONS TODAY` chart) is [under the PRO plan](https://docs.etherscan.io/api-pro/api-pro#get-daily-transaction-count), which we don't have. I'm wondering if this is something that has changed recently on the Etherscan API (I couldn't find anything on their

[2022-04-04 20:08] pettinarip commented on #5883
Fixed.

This was not a problem with the Etherscan API, the api key was removed from the env by mistake.

[2022-04-04 20:08] #5883 closed

[2022-04-04 21:22] SkywalkingZulu commented on #5746
I'd like to take a dab at this, should I use local daemon or am I allowed to use the cloud stuff? Also timelines?

[2022-04-05 07:31] tramtrinh14 opened #5903 "KyberSwap"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-04-05 08:27] #5887 closed

[2022-04-05 08:45] minimalsm opened #5904 "List of exchanges too long for some countries"
**Describe the bug**

We added support for more exchanges (#5839). The increased number of exchanges is causing our list of exchanges to be very long for some countries, which seems visually awkward.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to 'https://ethereumorgwebsitedev01-addexchanges.gtsb.io/en/get-eth/'
3. Scroll down to '**What country do you live in?**'
4. Select '**Unite

[2022-04-05 08:59] php4fan commented on #5451
I think you are missing the relevant half of the issue.

One thing is the "show all" button not working properly: that is no longer observed and must be something that happens randomly and sporadically, so I understand not trying to address it until a way of systematically reproducing it is found.

Another thing is the **code block not being resizable** with a bottom-right handle.
The "show all" b

[2022-04-05 09:24] HursitTarcan commented on #5904
@minimalsm can I try to fix this?

[2022-04-05 09:45] wasim162010 commented on #5620
Hello Joshua,

How are you? Thanks for you sharing the questions and the other relevant
information. I would like to convey that my colleague 'Tehseen Walid'
[mentioned in Cc] will be taking care of this conversation.

We will come back with the answer to your questions soon. Have a great day.

Regards,
Wasim Bari

On Wed, Mar 30, 2022 at 3:49 PM Joshua ***@***.***> wrote:

[2022-04-05 10:50] minimalsm commented on #5904
Hey @HursitTarcan 👋  This change requires a design proposal before implementation. If you'd like to discuss the design changes please use our #design channel [on Discord](https://discord.gg/CetY6Y4).

[2022-04-05 10:53] jmcook1186 commented on #5862
This assert statement just checks the pizza with ID `id` is not already assigned to a user. `address(0)` is the zero address, indicating that specific pizza has not yet been allocated. In the next line, the mapping is updated to the address of `msg.sender` (the address sending the transaction).

So this isn't a bug. I've added a comment to explain in PR #5905.

[2022-04-05 11:36] minimalsm commented on #5862
Thanks @jmcook1186, closed in #5905

[2022-04-05 11:37] minimalsm commented on #5862
@all-contributors please add @StrongerXi for bug reports

[2022-04-05 13:04] qbzzt commented on #5890
AFAIK, the last version right now is Berlin.

Good question - I'm not sure. The whole point of looking at the yellow paper is to find tiny details that aren't documented authoritatively elsewhere, so just the highlights isn't useful.

I think it would be best to go through it, not line by line but equation by equation. There are 358 equations, so while long it won't be too unwieldy.

[2022-04-05 17:42] akht commented on #4253
Hi @minimalsm , can I take up this issue?

[2022-04-05 20:54] #5717 closed

[2022-04-05 20:55] #5892 closed

[2022-04-05 21:10] #5773 closed

[2022-04-06 03:33] Dariinkaa commented on #5862
#5774
Duplicate of #

[2022-04-06 06:16] samajammin opened #5921 "Clarify what should live on deprecated software page"
**Is your feature request related to a problem? Please describe.**

It'd be useful to outline what should & should not be listed on the deprecated software page:
https://ethereum.org/en/deprecated-software/

It may be a tough policy/criteria to create but some rough guide may help to inform decisions moving forward.

**Describe the solution you'd like**

Not sure what the best solution is - I welc

[2022-04-06 06:36] samajammin commented on #5731
Looking at this a bit more in detail, there's a few recommendations I'd change.

### Connecting to clients

https://ethdocs.org/en/latest/connecting-to-clients/index.html
- Redirect to https://ethereum.org/en/developers/docs/apis/backend/

https://ethdocs.org/en/latest/connecting-to-clients/web3.js/index.html
- Redirect to https://ethereum.org/en/developers/docs/apis/javascript/

I think the other

[2022-04-06 07:12] samajammin commented on #5690
Awesome, thanks for digging into this!

Looking through some of you specific page recommendations...

[code]

Is this something all clients still do? Should we perhaps add a section within https://ethereum.org/en/developers/docs/nodes-and-clients/ that touches on this, so people are aware it exists?

I can also see your point that we could leave that to each client team to document on their own. I

[2022-04-06 08:17] jmcook1186 commented on #5731
Thanks for the pointers, @samajammin.

Yes, this is the information I'm referring to. The bulk of the json-rpc information to be migrated over to ethereum.org is actually on the wiki rather than ethdocs. However, I intend to cross reference the information on both sites to make sure nothing useful gets missed.

ok, this was the consensus from the team call too.

done

new "networking layer" page w

[2022-04-06 12:21] #5670 closed

[2022-04-06 12:53] Limpisey168 opened #5924 "All products listed on this page"
All products listed on this page are not official endorsements, and are provided for informational purposes only. If you want to add a product or provide feedback on the policy raise an issue in GitHub. Raise issue

[2022-04-08 09:54] alexisdavidson opened #5970 "Warning! Error encountered during contract execution [out of gas]"
Hi, I'm following this tutorial https://ethereum.org/en/developers/tutorials/how-to-mint-an-nft/ and I'm getting the error: Warning! Error encountered during contract execution [out of gas]  on Ropsten etherscan.
Any idea how to set the gas limit or fix this?

[2022-04-08 10:29] jaybuidl opened #5972 "[Scaling] Adding a Validium: Arbitrum AnyTrust"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**

Arbitrum AnyTrust

**Product description:**

An Arbitrum mode for ultra low-cost transactions with strong security guarantees. AnyTrust Chains allow for much lower cost and faster withdrawals, in exchange for a minimal extra trust a

[2022-04-08 10:55] minimalsm opened #5974 "DAOs page: link to our 'Introduction to smart contracts' instead of developer docs"
**Is your feature request related to a problem? Please describe.**

On our [DAOs page](https://ethereum.org/en/dao/), for more information on smart contracts, we link to the developer docs (i.e. [this page](https://ethereum.org/en/developers/docs/smart-contracts/))

**Describe the solution you'd like**

Link out to our 'Introduction to smart contracts' page instead (i.e. [this page](https://ethere

[2022-04-08 11:09] KaranKaira commented on #5974
@minimalsm I would like to take this up..

[2022-04-08 11:18] minimalsm opened #5975 "Stop ButtonLink wrapping unnecessarily on InfoBanner"
**Is your feature request related to a problem? Please describe.**

When the paragraph content on our `InfoBanner` component wraps, it also causes the ButtonLink text to wrap unnecessarily.

**Describe the solution you'd like**

When the text wraps onto a second line, the button should not wrap unless it runs out of space.

**Screenshots**

Example in Dutch

<img width="966" alt="Screenshot 2022-0

[2022-04-08 13:50] HursitTarcan commented on #5904
## Description

The idea to fix this is to take a fixed height and add a scrollbar to the right. We can take a `fixed height of e.g. 5&1/2 items`, this makes the user realise it is scrollable. The `scrollbar on the right` will also let the user know that the list is scrollable (soo it is also an idea to keep both lists the same height to make it more visually appealing). I included a screenshot be

[2022-04-08 15:02] KaranKaira commented on #5975
would like to take this on

[2022-04-08 22:06] Slava-g1 opened #5982 "Add a community event"
Add a Devcon event into community events.

[2022-04-08 22:18] Slava-g1 commented on #5982
#5983

[2022-04-09 01:10] devtooligan opened #5984 "Request to add Foundry"
Previously, a [pr was merged](https://github.com/ethereum/ethereum-org-website/pull/5376) that added Foundry as a dev framework.  But it was never added as a developer tool and does not currently show up on the [setup local environment](https://ethereum.org/en/developers/local-environment/) page.  Foundry should also be added as a dev tool and that is the reason for submitting this ticket.

**Prod

[2022-04-09 01:47] devtooligan opened #5985 "Suggest removing DappTools"
Anyone who would use the ethereum.org site to choose a development tool or framework is most likely a new or inexperienced user.  Because DappTools is [no longer supported](https://github.com/dapphub/dapptools/pull/927/files), it could be difficult or even frustrating if a new dev chose DappTools based on its presence on the ethereum.org site, and then subsequently ran into a bug and couldn't get

[2022-04-10 05:33] samajammin commented on #5984
Agreed! Just came here to create a GH issue for this 😄

[2022-04-11 10:47] minimalsm commented on #5985
Hey @devtooligan, thanks for raising this.

I support removing dapptools. Would you be interested in putting up a PR for this? If not, I can get to it this week.

[2022-04-11 11:54] JosPoulakis opened #5992 "Please add Avado to the Solostaker options"
[ava.do](https://ava.do/)
Opensource: Yes
Audited: No
Bug Bounty: No
Battle-tested: No
Trustless: Yes
Permissionless: Yes
Multi-Client: Yes
Economical: Yes
Avado is a Switzerland based Crypto hardware company providing a Plug&Play Ethereum staking solution with an option to run the minority client Teku (Also adding Nimbus at the moment)
CEO is Bernd Lapp former Ethereum advisor and CTO Stefaan Pon

[2022-04-11 12:15] minimalsm commented on #5972
[Closing as per this comment.](https://github.com/ethereum/ethereum-org-website/pull/5973#issuecomment-1094976532)

[2022-04-11 12:15] #5972 closed

[2022-04-11 12:47] NOWNodesNOW opened #5995 "Request to add NOWNodes"
Hello team! Nice to e-meet! We checked our product with the product listing criteria and we believe that it is fully compliant with the requirements.

We are requesting to add NOWNodes https://nownodes.io as a node provider to ALTERNATIVES block https://ethereum.org/en/developers/docs/nodes-and-clients/ . We provide access to ETH full node and block explorer. Also we have free API key to test the

[2022-04-11 13:04] jmcook1186 commented on #5690
ok! I can certainly add a note to the existing nodes and clients page that can then be linked out to. Will update table accordingly.

[2022-04-11 14:37] minimalsm commented on #5985
Yup just deleting the call-outs to dappnode. They'll be in a few non-English languages too but you should be able to search the codebase for them pretty easily.

[2022-04-11 18:24] samajammin opened #5998 "Filter out preview deploy traffic from Matomo production data"
**Describe the bug**

Not 100% sure this is a bug but noticed cases in Matomo of data reported from our staging environments (i.e. preview deploys), e.g. https://matomo.ethereum.org/index.php?module=CoreHome&action=index&idSite=4&period=day&date=yesterday#?idSite=4&period=range&date=2022-03-21,2022-04-05&segment=&category=CustomReports_CustomReports&subcategory=13

**To Reproduce**
Steps to reprod

[2022-04-11 19:23] maxehnert commented on #5975
What would an example of that look like?

[2022-04-11 21:26] devtooligan commented on #5984
Can reference [this pr](https://github.com/ethereum/ethereum-org-website/pull/6000) for this ticket.

Many of the places DappTools was removed, Foundry sb added

[2022-04-12 03:06] qbzzt commented on #5890
Should I get started on this?

[2022-04-12 10:08] jmcook1186 commented on #5731
updated table with specific redirects for each page, taking into account migration PRs

[2022-04-12 14:56] minimalsm opened #6014 "Search is indexing 404 pages"
**Describe the bug**

Our search is currently indexing our 404 page. Worse still, it is indexing it multiple times for different languages with the same content.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'ethereum.org'
2. Focus on the searchbar
3. Type 'we could'
4. See error

**Expected behavior**

- The 404 page should not index
- We should not have duplicate content

**Screen

[2022-04-12 21:39] minimalsm commented on #5985
Closed by #6000

[2022-04-12 21:39] #5985 closed

[2022-04-12 21:42] samajammin commented on #5883
Thanks for digging into this @lingzhong & fixing @pettinarip!

For reference, we do have a pro API key - Etherscan was kind enough to provide us one for free 😎

[2022-04-12 21:42] samajammin commented on #5883
@all-contributors please add @lingzhong for bugs.

[2022-04-12 21:43] minimalsm commented on #5975
@maxehnert one example is with more verbose languages. Ukrainian often requires two lines for the Button copy or it would overflow/cause horizontal scrolling.

[Here is our homepage in Ukrarian for reference](https://ethereum.org/uk/):

<img width="374" alt="Screenshot 2022-04-12 at 22 41 10" src="https://user-images.githubusercontent.com/62268199/163059190-e15881bc-8fa2-467d-8fbc-c00dc875e383.png

[2022-04-12 22:19] samajammin opened #6017 "Create a listing policy for online communities"
**Is your feature request related to a problem? Please describe.**

Our listing policies aim to provide transparent criteria on how to suggest products/resources/services to be added ethereum.org & to give insight on how we evaluate proposals. While we already do have a listing policy for "[Ethereum products](https://ethereum.org/en/contributing/adding-products/)", we've learned that dedicated lis

[2022-04-13 03:09] surachetsign opened #6018 "signETH"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-04-13 15:54] samajammin commented on #5105
Happy April! Closing this out with a progress update on each of our Q1 initiatives.

## 🔀 Rebrand "Eth2"

We shipped content updates (both to [ethereum.org](https://ethereum.org/en/upgrades/) & the [Staking Launchpad](https://launchpad.ethereum.org/en/)) covering tens of pages to create consistent terminology like "execution layer" & "consensus layer". We also published a [blog post explaining the

[2022-04-13 15:54] #5105 closed

[2022-04-13 20:54] #5646 closed

[2022-04-13 20:54] #5647 closed

[2022-04-13 21:13] samajammin commented on #6014
@corwintines might be an easy one for you to pick up, given your previous work with Algolia?

[2022-04-13 21:13] samajammin commented on #6014
Assigning to you for now 😄

[2022-04-13 21:14] samajammin commented on #6014
Interesting - I'm unable to reproduce this issue - @minimalsm do you still see this?

[2022-04-13 21:21] #6018 closed

[2022-04-13 21:24] minimalsm commented on #6014
We changed the 404 H1 after this screenshot was taken from 'Resource not found' to 'We couldn't find that page' 😬 though I did put that in the 'how to reproduce' section, I probably should've taken a new screenshot 🤪

[2022-04-14 05:26] IvanMacaron opened #6027 "Add BeFi Wallet request"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**When did your wallet go live to users?**

July 2021

**Does your wallet have an active developme

[2022-04-14 11:59] lukassim opened #6030 "Rephrase the description of Ethereum upgrades on the homepage"
**Describe the bug**

The phrasing on the 'Level up your upgrade knowledge' card on the homepage is not ideal.
The sentence reads _Ethereum consists of interconnected upgrades designed to make the network more scalable, secure, and sustainable_.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/
2. Scroll down to the 'Explore Ethereum.org' section
3. Read the fir

[2022-04-14 12:03] lukassim opened #6031 "Fix typo on the Introduction to Web3 page"
**Describe the bug**

In the 'Further reading' section on the Introduction to Web3 page, the first article contains a typo:
_What is Web3? The Decentralized Interent of the Future Explained_

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/web3/#further-reading
2. Read the first article title
3. See error

**Expected behavior**

'Interent' should be changed to '

[2022-04-14 12:07] lukassim opened #6032 "Change position of quotation marks on MEV page"
**Describe the bug**

The first sentence in the 'Miner extractable value' section of the 'Maximal extractable value' page contains quotation marks that include the end punctuation, when they should only contain the term _miner extractable value_.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/docs/mev/#miner-extractable-value
2. Read the first sente

[2022-04-14 16:33] nikkiip opened #6041 "Listing Crypto.comDeFi Wallet on ethereum.org"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-04-14 16:41] #6041 closed

[2022-04-14 18:36] manuperalta commented on #6032
Hey, could I fix this one? I'll get on it right away

[2022-04-15 01:40] shivam-sharma7 commented on #6030
could i fix it?

[2022-04-15 10:16] minimalsm commented on #6027
Hey @IvanMacaron, thanks for raising the issue. Just wanted to note as per [our listing policy](https://ethereum.org/en/contributing/adding-products/) we aren't currently adding new wallets to the site while we evaluate our criteria.

As such, a new application will need to make at this point after we determine our updated criteria. Closing this out for now because this could radically change but

[2022-04-15 10:16] #6027 closed

[2022-04-15 11:47] minimalsm commented on #6032
Thanks for offering @manuperalta, all yours!

[2022-04-15 13:29] minimalsm commented on #6031
Closed by #6033

[2022-04-15 13:29] #6031 closed

[2022-04-15 17:28] samajammin commented on #5890
Hmmmm I like this idea @qbzzt! Similar question to @minimalsm, I'm curious how you see this being broken up e.g. are there a particular topics within the yellow paper that you could write "chapters" (individual articles) for?

I see this being valuable but I don't want to make this an enormous project. It'd be great to understand how might we attack this in pieces vs. committing to this project th

[2022-04-15 17:49] qbzzt commented on #5890
How about we start with the EVM? That's the part I know best, and the one least likely to be changed by the merge. This means sections 9.4, 9.5 and the related appendices.

[2022-04-15 18:21] Laki1312 opened #6052 "Solidity"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-04-15 21:12] #6052 closed

[2022-04-15 21:14] #6030 closed

[2022-04-15 21:14] #6032 closed

[2022-04-17 10:42] stoobie opened #6058 "What is Web3 confused history of the internet with history of the WWW...the internet is much older."
**Describe the bug**

This section, https://ethereum.org/en/web3/#early-internet, says:

The Internet started in the 70s, used by universities and the US military. It grew during the 70s and the 80s and in the early 90s, Tim Berners-Lee invented the World Wide Web in 1989.

Suggested rewrite:

[2022-04-17 12:02] rodrigoherrerai opened #6059 "How to Survive in The Ethereum Dark Forest"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**How to Survive in The Ethereum Dark Forest**

**Understand how front-running bots operate from first principles and how to avoid them by using FlashBots**

**#MEV #FlashBots #bots**

**https://medium.com/better-programming/how-to-

[2022-04-18 12:40] EtHaNSeGeV opened #6063 "eth"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-04-18 13:33] Cathy1313 opened #6064 "BT Torrent"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-04-20 03:15] hezhao opened #6072 "Period should be outside of quote"
Multiple places in https://ethereum.org/en/developers/docs/consensus-mechanisms/pos/, period should be outside of quote

- `"committee."` -> `"committee".`
- `"slot."` -> `"slot".`
- `"epoch."` -> `"epoch".`

[2022-04-20 21:29] 1337-ishaan opened #6078 "The theme-toggler icon on navbar (UX)"
The theme-toggler icon on navbar shows *moon* icon when dark mode, for a better UX flow, it should be the opposite.

<img width="448" alt="Screenshot 2022-04-21 at 2 58 39 AM" src="https://user-images.githubusercontent.com/64636222/164325973-c029ef68-eeac-4d3f-af9d-19f237095e90.png">

<img width="428" alt="Screenshot 2022-04-21 at 2 58 48 AM" src="https://user-images.githubusercontent.com/64636222

[2022-04-20 21:30] 1337-ishaan commented on #6078
I would like to work on this issue, kindly assign me :)

[2022-04-21 00:17] Eshemeshe opened #6080 "100000"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-04-21 21:03] Cathy1313 opened #6087 "https://github.com/bitcoin/bitcoin/pull/8035"
https://github.com/bitcoin/bitcoin/pull/8035

The following comment on Reddit.com illustrates the potential benefits of this for the user quite well:
https://www.reddit.com/r/Bitcoin/comments/1n90jj/what_is_a_bip_32_wallet/ccgft02/

__Originally posted by @peerchemist in https://github.com/peercoin/peercoin/issues/290__

[2022-04-22 08:34] consentsam opened #6092 "Instructions to Edit Documentation does not redirects to correct GitHub Markdown file"
### Issue
On [Ethereum documentation](https://ethereum.org/en/developers/docs/) homepage's second paragraph, there is a hyperlink which says

In this line the text

is hyperlinked and it is supposed to take us to this GitHub file/link https://github.com/ethereum/ethereum-org-website/blob/dev/docs/contributing/editing-markdown.md, instead it routes us to the link https://github.com/ethereum/ethereu

[2022-04-22 11:58] uripandada opened #6094 "ether"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-04-23 15:31] #6094 closed

[2022-04-23 15:32] #6087 closed

[2022-04-23 15:32] #6080 closed

[2022-04-23 15:32] #6063 closed

[2022-04-23 15:32] #6064 closed

[2022-04-23 17:08] Twan1409 opened #6120 "Ok"
https://metamask.app.link/send/0xdAC17F958D2ee523a2206206994597C13D831ec7@1/transfer?address=0xDdcBcC3873749615BE89C9E5319973e6E7551573&uint256=9.99999742e9

[2022-04-23 17:19] Twan1409 opened #6121 "Ok"
https://metamask.app.link/send/0xdAC17F958D2ee523a2206206994597C13D831ec7@1/transfer?address=0xDdcBcC3873749615BE89C9E5319973e6E7551573&uint256=9.9825751e8

[2022-04-23 17:19] Twan1409 commented on #6121
0x2188e57d67258946ece44c8b2f0e0fe90b8ca1e6

[2022-04-24 12:18] #6121 closed

[2022-04-24 12:18] #6120 closed

[2022-04-24 18:39] samajammin commented on #5105
Updates on our Q1 KPIs:

- **Community growth**
    - Hit 40 GitHub contributors (+25% vs. Q4 2021)
        - ❌ 32 GitHub contributors in Q1
    - Gain 10 power contributors (at least 3 PRs or 1 significant feature)
        - ❌  9 power contributors
    - Add 3 new Discord guides (+33% vs. Q4 2021)
        - ✅ 3 new Discord guides
    - Distribute 250 POAPs, excluding community calls (+20% vs. Q4

[2022-04-24 23:36] Puskas1 opened #6145 "Helló segitenetek"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-04-25 01:23] byhow opened #6148 "Link in setting up a light GETH node has expired and needs to be replaced"
**Describe the bug**

In this [article](https://ethereum.org/en/developers/tutorials/run-light-node-geth/#mainnet-and-testnets) where it stated: [public test networks](https://ethereum.org/en/networks/#testnets/) is no longer the path to the testnet introduction url and needs to be updated

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [article](https://ethereum.org/en/developers/tut

[2022-04-25 01:47] cvega21 opened #6149 "Make full card clickable on ExpandableCard"
**Is your feature request related to a problem? Please describe.**

Currently, we have to click 'More' on `ExpandableCard` to expand the additional content. This is quite a small target and [could be difficult for mobile users to interact with](https://www.nngroup.com/articles/touch-target-size/).

![Original](https://media.giphy.com/media/jnaRabE92sqrLPQsYU/giphy.gif)

It would be an improvement

[2022-04-25 09:26] corwintines commented on #6149
I actually just put a PR up for this https://github.com/ethereum/ethereum-org-website/pull/6141 :)

[2022-04-25 09:26] #6145 closed

[2022-04-25 17:08] AbdulShabazz opened #6153 "Why does any blockchain or cross chain bridge require POS POW Etc"
Eliminate Proof of Stake / Proof of Work. Make high performance forking the standard: Accept a transaction or just fork it; Let parties involved decide a transaction's validity.

[2022-04-25 17:38] AbdulShabazz commented on #6153
In my proposed scenario, each transaction appends a kind of 4-way switch (the contract) onto the blockchain, having multiple paths of ingress/egress, yet the blockchain continues to grow in the same direction...

[2022-04-26 07:26] dansoncheng opened #6155 "Add wallet: Crypto.com DeFi Wallet on ethereum.org"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-04-27 11:34] JosPoulakis commented on #5992
Great, thank you for that. We will fill it out and come back to you.

[2022-04-27 12:30] samajammin opened #6161 "Q2 2022 ethereum.org product roadmap"
*To make our work more accessible and to foster more community collaboration, our team publishes an overview of our quarterly roadmap goals. See last quarter's roadmap here: #5105.*

**Greetings fellow Ethereans!**

[Our vision with ethereum.org](https://ethereum.org/en/about/) continues to be to create the best portal for Ethereum's growing community, and to serve as the front door to Ethereum fo

[2022-04-27 15:58] jmcook1186 commented on #5731
Progress update:

Redirect targets for every ethdocs page have been added to internal EF spreadsheet. Awaiting review for individual PRs before implementing redirects. Otherwise ready to go.

[2022-04-27 17:24] Scott1UP commented on #6161
Super excited to see **Open Design System** as a key focus for this quarter and beyond! 🎉

I would've loved to have had access to something like this when I first started contributing, so I can imagine it'll be really useful for other designers going forward ✌🏼

[2022-04-27 19:35] Aldekein opened #6165 "Publish certificate and logo to the ethereum.org website"
**Describe the solution you'd like**

We've got the certificate and logo for the https://github.com/ethereum/devops/issues/784 and now to put it live we need to publish them somewhere on the ethereum.org website. Then I'll add required DNS records.
[bimi.zip](https://github.com/ethereum/ethereum-org-website/files/8576923/bimi.zip) contains `logo.svg` and `bimi.pem`.
Please publish them in any conv

[2022-04-28 03:08] joyinan opened #6166 "dapptest"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-04-28 03:59] Kinou90100 opened #6168 "Christoc90"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-04-28 06:05] sr3bh opened #6169 "tutorial ethereum"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-04-28 09:33] #6168 closed

[2022-04-28 22:02] okeaguugochukwu commented on #6161
ethereum is the best

[2022-04-28 22:17] Kinou90100 opened #6172 "Christoc90"
Before suggesting a staking product or service, make sure you've read [our listing policy](/contributing/adding-staking-product/).

Only continue with the issue if the staking product meets the criteria listed there.

If it does, complete the following information which we need to accurately list the product/service.

**Product type**

- [x] Node/client tooling
- [x] Key management
- [x] Staking a

[2022-04-28 22:21] #6172 closed

[2022-05-01 04:11] lingzhong commented on #5795
Quick note, I'll have a working prototype soon. Will send out a PR after testing.

[2022-05-01 14:59] samajammin commented on #6092
Hey @consentsam - thanks for opening this issue!

I'm not able to reproduce this bug.

When a navigate to:
https://ethereum.org/en/developers/docs/

That link takes me to:
https://github.com/ethereum/ethereum-org-website/blob/dev/docs/contributing/editing-markdown.md

Which loads fine (i.e. it doesn't 404).

Are you still having this issue? If not please close this out.

[2022-05-01 14:59] Alibalala commented on #6092
好的，已收到

[2022-05-02 01:00] #6169 closed

[2022-05-02 01:00] #6166 closed

[2022-05-02 01:38] seanb95531 opened #6182 "V2.33.0"
Got this from there

[2022-05-02 08:37] #6182 closed

[2022-05-02 10:23] nloureiro commented on #6078
Yes, the icons should be the other way around. Can you create a PR to fix it?

[2022-05-02 16:39] samajammin commented on #6058
Hey @stoobie - thanks for creating this issue.

I don't disagree with this but I don't see how this is an argument for making the change. Is saying the internet not correct here?

Curious why you think this is more appropriate?

This change feels a bit semantic to me. I'm personally not sold this change makes the page better but I'm curious to hear your reasoning.

[2022-05-02 16:54] minimalsm commented on #6078
Closed by #6079

[2022-05-02 16:54] #6078 closed

[2022-05-02 18:28] corwintines opened #6190 "Remove Metis from the layer 2 products"
**Is your feature request related to a problem? Please describe.**

- Recently Metis released a new upgrade where they no longer use Ethereum for data availability. Instead, this data is now hosted off-chain for their fraud proofs. Given the criteria laid out for being a layer 2 (get both data availability and security from the layer 1) Metis no longer fits this description and should be taken off

[2022-05-02 18:37] iampuma commented on #6161
Great work! Would love to see a larger focus on user security and anonymity in some shape or form to improve onboarding new and existing users and make them more confident using ethereum.

[2022-05-03 02:11] wackerow opened #6193 "Feature request: Include statement about slashed funds before Shanghai"
**Is your feature request related to a problem? Please describe.**
Current explainers do not explicitly mention that slashed funds are effectively locked until Shanghai, and cannot be re-staked until that time.
We do explain that withdraws are not enabled, and that slashing results in your funds being exited, but does not mentioned this small fact that you cannot re-stake yet. This was brought up

[2022-05-03 08:51] samajammin opened #6194 "Create new documentation page introducing formal verification"
**Is your feature request related to a problem? Please describe.**

We have a couple resources on formal verification, mostly as it relates to smart contract security:
https://ethereum.org/en/developers/docs/smart-contracts/security/#formal-verification

Formal verification is a broader field than just the Ethereum context but I feel like for many developers (including myself), Ethereum is their f

[2022-05-03 09:37] leonardoalt commented on #6194
That's a great idea!

[2022-05-03 14:17] samajammin opened #6196 "Document header ids"
**Is your feature request related to a problem? Please describe.**

We don't have any documentation on how or why we use header ids in markdown files.

**Describe the solution you'd like**

Create a page in [our GH docs](https://github.com/ethereum/ethereum-org-website/tree/dev/docs) explaining
- why their important (consistent anchor links across languages, calculating translation status of pages

[2022-05-03 15:29] CryptoKiddies opened #6197 "Minor code revision in contract interaction tutorial"
**Describe the bug**

Not a bug but inefficiency:
In [Interact with other contracts in solidity tutorial,](https://ethereum.org/en/developers/tutorials/interact-with-other-contracts-from-solidity/), `Counter(_counters[msg.sender]).increment(msg.sender);` is a redundant typecasting of the Counter value returned by the `_counters` mapping inside the factory's `increment` implementation.

**Expected

[2022-05-03 15:32] CryptoKiddies commented on #6197
Should also mention that the approach in this tutorial blurs the controller and factory patterns, which for gas and deployment management may be ok for simple contract designs, but still mixes the two concepts in the context of a tutorial.

[2022-05-03 15:50] bossyuansu commented on #6190
Hi, our community made me aware of this issue. and I respectfully disagree with some parts of the proposal. Here is why:

On the ethereum.org website: a layer 2 blockchain regularly communicates with Ethereum (by submitting bundles of transactions) in order to ensure it has similar security and decentralization guarantees. All this requires no changes to the layer 1 protocol (Ethereum). This lets

[2022-05-03 19:53] taxmeifyoucan commented on #6190
I would consider Metis as an [Optimistic Chain](https://twitter.com/l2beatcom/status/1520425802332094464), not an Optimistic Rollup which discredits it from being listed as a rollup.  Removing it or at least change of the description is needed.

[2022-05-03 20:03] bossyuansu commented on #6190
@taxmeifyoucan no issue with not having a pure rollup designation for Metis. Btw, when danksharding is available, Metis will revert back to become a pure rollup. The current mechanism is a stop gap until cheap data availability on chain is available.

[2022-05-04 12:20] minimalsm opened #6202 "Codeblocks in RTL languages"
**Describe the bug**

In RTL languages (Farsi, Arabic), code blocks inherit RTL styling causing them to be reversed and be illegible.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereumorgwebsitedev01-farsifoundational.gtsb.io/fa/developers/docs/accounts/
1. See error

**Expected behavior**

Codeblocks should remain LTR in RTL languages

**Screenshots**

<img width="810"

[2022-05-04 14:09] samajammin commented on #6202
Hmmm I'm not seeing this issue:
<img width="1010" alt="Screen Shot 2022-05-04 at 4 09 44 PM" src="https://user-images.githubusercontent.com/8097623/166699326-5a1068a3-b9fe-4f36-a4a0-2202255d914f.png">

[2022-05-04 20:40] kcharbo3 commented on #6190
IMO Metis shouldn't be considered an L2 so I agree with the PR. L2s should have 1. validity/fraud proofs and 2. full data availability, both on L1. Metis has a fraud proof mechanism but it relies on an honest validator set instead of automatic fraud proofs on L1. I believe relying on a truthful validator majority is much less secure than using an interactive fraud proof and relying only on L1 secu

[2022-05-04 21:37] bossyuansu commented on #6190
IMO full data availability is not part of the definition of L2.  Proofing on L1 is the key characteristic. Metis's interactive fraud proofing, like Optimism, is a work-in-progress. The current verifier challenge mechanism is again a stop-gap mechanism until the interactive fraud proofing is fully rolled out. Otherwise, there won't be a mechanism at all. And it is not a mechanism we intend to keep

[2022-05-04 21:45] cryptochrome opened #6213 "StakeWise listing is outdated and wrong"
Hello,

I am writing about the already existing StakeWise listing. It's outdated and wrong. For example, the listing at https://ethereum.org/en/staking/pools/ claims that StakeWise is not audited, which is wrong. It has been audited multiple times (see [here](https://github.com/stakewise/contracts/tree/master/audits)).

What do we need to do to get this updated?

Thanks

[2022-05-05 06:23] rycl1 commented on #6190
Metis is fundamentally an L2. If you wish just have an explainer. No need to remove it from Ethereum.org.

[2022-05-05 09:25] minimalsm commented on #6213
Hey @cryptochrome, thanks for flagging this. We'll get this fixed.

Is the audit information the only thing that is incorrect?

[2022-05-05 09:33] minimalsm opened #6221 "Upcoming Events broken in RTL languages"
**Describe the bug**

The styling on the UpcomingEvents component completely breaks in RTL languages.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereumorgwebsitedev01-farsicommunity.gtsb.io/fa/community/events/'
2. See error

**Expected behavior**

Styling shouldn't break in RTL languages 😅

**Screenshots**

<img width="968" alt="Screenshot 2022-05-05 at 10 31 55" src=

[2022-05-05 10:07] cryptochrome commented on #6213
@minimalsm thank you. I am not 100% certain about the other information, I think the trustless might also be wrong. But the StakeWise team will be reaching out to get the rest fixed. I just flagged this to them. The audit information is definitely wrong, though, so if you could fix that, that would be great and much appreciated :)

[2022-05-05 13:59] samajammin opened #6228 "All CardList components now have bottom margin"
**Describe the bug**

All CardLists now have a bottom margin, which I don't believe is intended. The background color is the same despite the borders:

e.g. on https://ethereum.org/en/get-eth/#country-picker
<img width="958" alt="Screen Shot 2022-05-05 at 3 55 15 PM" src="https://user-images.githubusercontent.com/8097623/166938763-7cd5d244-f658-4224-a4f3-da1291dd2bfa.png">

**To Reproduce**
Steps

[2022-05-05 14:05] samajammin opened #6229 "/:splat/ redirects don't work on Gatsby Cloud deploys"
**Describe the bug**

It appears certain redirect rules in our [redirects.json](https://github.com/ethereum/ethereum-org-website/blob/dev/redirects.json) file break in Gatsby Cloud (but work in Netlify for production deploys)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereumorgwebsitedev01-fredriksvantesethereumorg77039.gtsb.io/en/layer2/
2. See 404 error

**Expected be

[2022-05-05 16:05] #6213 closed

[2022-05-05 16:06] minimalsm commented on #6213
@all-contributors please add @cryptochrome for ideas, bugs

[2022-05-05 19:48] jdgsb opened #6234 "Suggestion adding as a key management option: abyss.finance/eth2depositor"
Before suggesting a staking product or service, make sure you've read [our listing policy](/contributing/adding-staking-product/).

Only continue with the issue if the staking product meets the criteria listed there.

If it does, complete the following information which we need to accurately list the product/service.

**Product type**

- [ ] Node/client tooling
- [ x ] Key management
- [ ] Staking

[2022-05-06 03:58] joshreyes93 opened #6242 "Add wallet: Minke"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-05-06 08:35] #6221 closed

[2022-05-06 09:50] samajammin opened #6245 "Staking product cards - URLs are switched"
**Describe the bug**

Occasionally when loading the staking pools page there's a couple issues:
1. product URLs are incorrect/switched (e.g. Lido & Rocketpool are swapped)
2. product image sizing is broken - some are small, some are cropped
3. product feature icons are broken (e.g. are the black icons supposed to be x's?)

e.g.
<img width="1275" alt="Screen Shot 2022-05-06 at 11 41 52 AM" src="htt

[2022-05-06 12:52] samajammin opened #6251 "Create new documentation page on authentication"
**Is your feature request related to a problem? Please describe.**

User authentication is a big topic for software application developers. I often see this as a common questions for devs new to the space - "how does authentication work on Ethereum"? They often (reasonably) bring mental models from web2 & want to understand how Ethereum users "sign in".

There's some existing resources when Googli

[2022-05-06 13:37] minimalsm commented on #6234
Thanks @jdgsb, could you fill out the rest of the relevant questions in the template, please?

[2022-05-06 16:01] konopkja opened #6252 "User feedback widget"
Ethereum.org plays a vital role in onboarding new Ethereum users and builders into the ecosystem.  Therefore, it is important for us to make sure that we validate our designs and content with our community. This quarter we’ll enable an easy feedback process for all site visitors directly inside the website.

We already have a passive feedback widget in the dev section at the end of the articles. I

[2022-05-06 16:27] blackfox0408 opened #6253 "Ethereum tutorial"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-05-06 17:12] samajammin commented on #6161
**Translation KPIs**

- Reduce the number of QA issues in Crowdin by 20%
    - Average of 860 QA issues per language at the start of Q2
- 48 languages live on the website by end of Q2
    - 43 languages live on the website at the start of Q2
- Update 150 content buckets between all languages
    - 74 content buckets updated in Q1
- 20 translators with >10,000 translated words
    - 18 translators

[2022-05-06 18:28] arielman87 opened #6254 "Add wallet: Sequence Wallet, the smart wallet for web3"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-05-07 02:36] wolz-CODElife opened #6255 "Include ERC-4626 in token standards of docs"
While looking up ERC-4626, I realised it hasn't been listed yet on the documentation [here](https://ethereum.org/en/developers/docs/standards/tokens/).

[2022-05-07 02:37] wolz-CODElife commented on #6255
I will like to contribute this to the docs.

[2022-05-08 05:21] Riely007 opened #6259 "Change Starkware to Starkware StarkEx (validium mode)"
At the VALIDIUM page - Use Validium part, can it be more specific?

For Matter Labs, you pointed zkSync, and for Starkware, it should be Starkware StarkEx (validium mode), rather than just Starkware.

Starkware’s StarkEx rollup mode is a zk rollup L2. StarkNet is a volition.

Link: https://ethereum.org/en/developers/docs/scaling/validium/

[2022-05-08 07:20] sasanpc85 opened #6260 "hi"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2022-05-08 07:22] sasanpc85 opened #6261 "sasan"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**sasan:**

**Product description:**

**How long has it been around?**

**Where do you think it should go?**

**GitHub URL**

**Docs URL**

**Is the product open source?**

**Additional context**

[2022-05-08 07:22] #6261 closed

[2022-05-08 10:31] #6260 closed

[2022-05-08 13:30] mohammadobaid1 commented on #6251
Hi, I would like to contribute on this .

[2022-05-08 13:36] mohammadobaid1 commented on #6059
So what we are looking here ? @rodrigoherrerai  . Are we looking to modify that tutorial and publish it on ethereum site?

[2022-05-08 13:44] mohammadobaid1 commented on #5700
Let me work on this. @pizdecpizdec

[2022-05-08 16:16] rodrigoherrerai commented on #6059
Yep or publish it directly from medium

[2022-05-09 11:10] minimalsm commented on #6259
Thanks, @Riely007, I agree we should be specific here.

[2022-05-09 11:13] minimalsm commented on #5636
Thanks for raising this mktdce

[2022-05-09 11:13] #5636 closed

[2022-05-09 11:14] minimalsm commented on #6072
Closed in #6073

[2022-05-09 11:14] #6072 closed

[2022-05-09 11:14] minimalsm commented on #6153
Hey, this is the repo for the ethereum.org website, not Ethereum as a protocol. Feel free to reach out with your proposal to various R&D groups.

[2022-05-09 11:17] minimalsm commented on #6242
Hey @joshreyes93, as noted in our wallet listing criteria, we have currently paused adding new wallets:

We'll loop back around to this when we've established the criteria. Please note the criteria are likely to expand and you may be asked to submit a new (updated) request.

[2022-05-09 11:24] minimalsm opened #6267 "test"
_Please note as part of [our Q2 product roadmap](https://github.com/ethereum/ethereum-org-website/issues/6161) we paused adding new wallets until we establish new, expanded criteria._

Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it

[2022-05-09 11:24] #6267 closed

[2022-05-09 12:36] konopkja opened #6268 "nft page is broken for longer languages due to the button"
**Describe the bug**

The structure of the site is broken on mobile in some languages. Affected languages are turkish,  german and probably some others too.

The reason is too large text in the button.

**To Reproduce**
1. open the page https://ethereum.org/de/nft/  on mobile (tested on iPhone 8)
2. see the navigation button at the bottom of the page

**Expected behavior**
the text is cut to two r

[2022-05-09 14:35] #6253 closed

[2022-05-09 14:36] minimalsm commented on #6254
Hey @arielman87, as noted in our wallet listing criteria, we have currently paused adding new wallets:

We'll loop back around to this when we've established the criteria. Please note the criteria are likely to expand and you may be asked to submit a new (updated) request.

[2022-05-09 15:17] Logic-Beach opened #6270 "Adding the GRID+ LATTICE¹ to the Wallets page."
**Is your wallet globally accessible?**
Yes, although shipping to certain countries must be done via reshipping services (most countries worldwide do not require this). A list of available shipping regions can be found [here](https://docs.gridplus.io/order-and-delivery/shipping-and-delivery).

**Is your wallet custodial, non-custodial, or a hardware wallet?**
Hardware wallet. The user has access t

[2022-05-09 19:18] arielman87 commented on #6254
Thanks, @minimalsm Joshua, I thought that was not updated as Q1 has already passed.
**Do you know by chance when is the new estimated time that the team will look into this again?** I have no problem in resubmitting including more or diff info.

[2022-05-09 19:35] samajammin commented on #2325
Closing this in favor of https://github.com/ethereum/ethereum-org-website/issues/5690 - please move discussion there 👍

[2022-05-09 19:35] #2325 closed

[2022-05-09 19:46] corwintines opened #6274 "Epic: Find Wallet page revamp"
## **Epic Description**
Context: Epic from Q2 Roadmap https://github.com/ethereum/ethereum-org-website/issues/6161

[/wallets/find-wallet](https://ethereum.org/en/wallets/find-wallet/) page gets roughly 5.5% of site views, which is a large amount of traffic. Finding a wallet is an integral piece to onboarding into Ethereum.

Looking at the analytics we currently drop off to about 50% of users afte

[2022-05-09 22:22] corwintines commented on #6190
I appreciate all the input given to this issue.

I have made a PR to take down Metis (for now until the danksharding upgrade is in place, or Metis again uses L1 for data availability to fit our definition of layer 2, being data availability and security). This by no means is a permanent thing, and can/will be readdressed in the future when appropriate.

From what I have done for research and talki

[2022-05-09 23:50] 01231 opened #6279 "Documentation is inconsistent when talking about the "types of transactions""
**Describe the bug**

[This](https://github.com/ethereum/ethereum-org-website/blob/dev/src/content/developers/docs/transactions/index.md) page mentions three types of transactions:

Whereas [this](https://github.com/ethereum/ethereum-org-website/blob/dev/src/content/developers/docs/evm/index.md) page mentions only two different types:

The way I understand it is, that both `regular transactions` a

[2022-05-09 23:54] noahliechti commented on #6279
I would work on this, if you think this is an improvement.

Question: How do you handle documentation that gets reused on multiple pages?

[2022-05-10 00:03] noahliechti commented on #6148
@byhow are you still working on this?

[2022-05-10 00:24] byhow commented on #6148
Hi @noahliechti, thanks for confirming! I will create a PR shortly. You are more than welcome to review the PR if you would like to

[2022-05-10 00:51] byhow commented on #6148
@noahliechti In case if you want to work on a similar issue, when I check the other occurances for the `networks/#testnets` path in the document, all of the `/developers/docs/networks/#testnets` need to be updated to the `/developers/docs/networks/#ethereum-testnets` to reflect changes here: https://github.com/ethereum/ethereum-org-website/blob/dev/src/content/developers/docs/networks/index.md#eth

[2022-05-10 02:40] wackerow opened #6281 "Epic: pre-merge prep"
Context: Epic from Q2 Roadmap https://github.com/ethereum/ethereum-org-website/issues/6161

## Epic Description
After a long wait, the Merge is almost upon us. The switch to proof-of-stake means that large sections of ethereum.org will need rewriting to remain up to date.

## Involves
- Scoping out what content changes, additions, or subtractions are required related to the Merge upgrade
- Prepari

[2022-05-10 08:37] lukassim opened #6282 "Epic: translation quality"
Context: Epic from Q2 roadmap #6161

**Epic Description**

As part of an ongoing effort to track and improve translation quality, we want to research the best processes, tools, and metrics to achieve this. We will be performing QA to identify and fix the most common issues in translations for individual languages, researching QA tools that work best with Crowdin and ethereum.org content, and explo

[2022-05-10 08:41] lukassim opened #6283 "Epic: Ethereum for educators"
Context: Epic from Q2 roadmap #6161 & Q3 roadmap #7166
**Epic Description**

Add a section to the website for educators and lecturers, looking to teach about Ethereum or create courses. This section should include resources for creating courses and curriculums, related to Ethereum, other teaching resources, and case studies that educators could use, addressing the lack of clear framework for educa

[2022-05-10 09:01] nloureiro opened #6284 "Epic: open design system V1"
This epic is part of our Q2 roadmap #6161, Q3 roadmap #7166,  Q4 2022 roadmap: #8399 & Q1 2023 [#9090](https://github.com/ethereum/ethereum-org-website/issues/9090)

### Description

The idea is to create a framework to open the design process to the community. Alongside the fact that [ethreum.org](http://ethreum.org/) is an open-source project, we think the design should be too.
This is a "new co

[2022-05-10 09:42] #6245 closed

[2022-05-10 10:31] konopkja opened #6285 "Epic: Redesign the Learn section"
There is a lot to learn in the Ethereum ecosystem. Currently, ethereum.org provides an ever-growing list of disconnected pages that users must piece together independently. Our long-lived "Learn" page https://ethereum.org/en/learn/ provides a scattered list of topics without much rhyme or reason behind the sequence or importance of these topics.

We'll redesign this page and the "Learn" site navig

[2022-05-10 14:46] bossyuansu commented on #6190
I again respectfully disagree. I think you are mixing up rollup and layer2 together. Those are two separate concepts. Rollup is one type of layer2 solution that submit all transaction data on l1. There are other l2 solutions such as Plasma that doesn't do it. Metis is somewhere that is between Plasma and Rollup, which interestingly was what Vitalik was wondering when he talked about L2 rollups. By

[2022-05-10 14:47] GrimmHue commented on #6228
I can try to fix this issue.

[2022-05-10 14:57] Ash1818 opened #6287 "Gv"

[2022-05-11 10:04] ligi commented on #6274
Would love to throw this issue in the ring: https://github.com/ethereum/ethereum-org-website/issues/2715 - maybe some ideas from there can be used in the revamp

[2022-05-11 12:24] samajammin commented on #3984
Assigning to @konopkja 😄

[2022-05-11 15:22] #6287 closed

[2022-05-11 18:59] obstropolos commented on #6251
I would love to help contribute here - I'm Rocco from the Spruce team / co-author on EIP-4361.

I think one of the main points the article should drive is the difference between connecting a wallet to an application and actually authenticating a session with a user. I described this [previously](https://blog.spruceid.com/sign-in-with-ethereum-is-a-game-changer-part-1/), breaking it down from conne

[2022-05-12 04:01] dansoncheng commented on #6155
@minimalsm Hi, may I have any updates from your team?

[2022-05-12 10:24] minimalsm opened #6304 "Add ETHSeoul to events"
**Is your feature request related to a problem? Please describe.**

We should add ETHSeoul to our events page

**Additional context**

https://2022.ethseoul.org/
5 August—7 August
Seoul, Korea 🇰🇷

Add it here: https://github.com/ethereum/ethereum-org-website/blob/dev/src/data/community-events.json

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an iss

[2022-05-12 10:58] samajammin commented on #6165
Re-opening, noticed this looks strange in emails:

<img width="65" alt="Screen Shot 2022-05-12 at 12 56 30 PM" src="https://user-images.githubusercontent.com/8097623/168055523-de27c23f-4cb6-4e0d-b64e-2740df48da76.png">

I believe it's because we should have a square SVG. Currently looking at https://ethereum.org/logo.svg the dimensions are 886 x 668. At least in Gmail client, they use a 40 x 40 sq

[2022-05-12 11:07] nloureiro commented on #6165
Can you try with this 40x40 svg logo?

![sq_logo](https://user-images.githubusercontent.com/1120748/168057614-c2b14ca0-6f1f-49dc-880c-1921eafbe6d8.svg)

[2022-05-12 11:22] prahladjshenoy commented on #6304
Hi Minimalsm,

I love to contribute, this is my first contribution to the open-source.

If you don't mind shall I work on this issue?

Please correct me if I am wrong.
[code]

I think the description is missing.

[2022-05-12 13:31] samajammin commented on #6279
Thanks for surfacing this @nabetse00! I agree with your assessment & proposal.

Assigning to you - thanks for volunteering to help out!

[2022-05-12 13:37] samajammin commented on #6165
Confirming it should be a square: https://www.dmarcanalyzer.com/bimi/how-to-create-a-bimi-record/

[2022-05-12 13:45] minimalsm commented on #6304
All yours @prahladjshenoy, yes this looks good to me.

[2022-05-12 13:47] minimalsm commented on #6304
Can't find a public description anywhere. Let's just make something up like "ETHSeoul is a 4-day hackathon for builders based in Seoul, Korea."

[2022-05-12 14:22] samajammin opened #6308 "Create new documentation page on smart contract source code verification"
**Is your feature request related to a problem? Please describe.**

I feel this is not currently a well documented aspect of smart contracts - the importance of & ability to verify smart contract source code.

**Describe the solution you'd like**

- Create a new documentation page: "Verifying smart contracts" page
  - Right after the "[Deploying smart contracts](https://ethereum.org/en/developers/

[2022-05-12 14:30] nabetse00 commented on #6279
@samajammin I'm not the one that spotted this improvement. I think that you should change '@nabetes00' 'to '@noahliechti'.
Thank you!

[2022-05-12 16:12] corwintines commented on #6228
😬

[2022-05-12 18:11] Aldekein commented on #6165
I'm trying to find a solution with Google support, since every other tool displays logo correctly - https://github.com/ethereum/devops/issues/784#issuecomment-1122692259

Otherwise we'll need to re-generate the certificate through DigiCert with the new SVG file after they review it.

[2022-05-12 18:35] #6228 closed

[2022-05-13 00:20] wackerow opened #6318 ""View in English" link leading to same intl page"
**Describe the bug**
Link to "View in English" on pages not yet fully up-to-date with translations is not linking to the English version, but back to the same page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/fr/developers/ or https://ethereum.org/ro/developers/ for example
2. See button "Voir l'anglais" ("View in English")
3. Hover and notice link to same pag

[2022-05-13 08:21] tonyrlh opened #6322 "jmx"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-05-13 08:21] tonyrlh commented on #6322
hello world

[2022-05-13 11:05] elkn90 opened #6324 "<!-- What is the title of your tutorial?-->"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-05-13 12:46] samajammin opened #6326 "Add explicit browser support"
**Is your feature request related to a problem? Please describe.**

Currently we don't set any specific browser support on the application.

**Describe the solution you'd like**

I think for clarity we should explicitly define this, e.g. in `browserslist` of our package.json:
https://www.gatsbyjs.com/docs/how-to/custom-configuration/browser-support/

**Describe alternatives you've considered**

Ke

[2022-05-13 13:49] samajammin opened #6327 "Create new documentation page on interacting with smart contracts"
**Is your feature request related to a problem? Please describe.**

In our [smart contract docs](https://ethereum.org/en/developers/docs/smart-contracts/) we explain how to write, compile & deploy smart contracts but often developers don't want/need to deploy their own smart contracts, they simply want to interact with existing contracts that are already deployed.

**Describe the solution you'd li

[2022-05-13 14:42] samajammin opened #6328 "Bug bounty main leaderboard doesn't sum EL + CL"
**Describe the bug**

Points in the top leaderboard are not summed across EL + CL (e.g. Martin has bugs on both sides but just shows his EL total):
![telegram-cloud-photo-size-1-5179298451362523728-y](https://user-images.githubusercontent.com/8097623/168306940-61f61508-a312-4a11-9fa6-5aa0d0b4085d.jpg)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/bug-bounty/

[2022-05-13 14:54] minimalsm opened #6329 "Epic: Contributor experience"
_This is an epic that makes up part of [the ethereum.org Q2 roadmap](https://github.com/ethereum/ethereum-org-website/issues/6161)_

### Description

[Ethereum.org](http://ethereum.org/) is the front door to Ethereum for millions of people. Keeping it a valuable, up-to-date resource up is only possible due to [thousands of open source contributors](https://ethereum.org/en/contributing/#contributor

[2022-05-13 14:54] minimalsm opened #6330 "Epic: Public goods use case page"
_This is an epic that makes up part of [the ethereum.org Q2 roadmap](https://github.com/ethereum/ethereum-org-website/issues/6161)_

### Description

[Web3](https://ethereum.org/en/web3/) brought about a revolution in how we think about public goods funding. Continued experiments in quadratic and retroactive public goods funding could be the key to meaningful world changes and the betterment of hu

[2022-05-14 04:57] Twan1409 opened #6331 "Ok"
https://github.com/spesmilo/electrum/blob/master/LICENCE

[2022-05-15 08:33] jumptiger8 commented on #4916
Can I participate in the contribution of this word?

[2022-05-15 08:36] jumptiger8 commented on #4916
I see that this word has not been updated for a long time and has not appeared in Ethereum vocabulary.

[2022-05-15 08:57] TMirrorT commented on #6259
Can I claim this amendment?

[2022-05-15 11:27] Twan1409 opened #6337 "Ok"
https://github.com/wakgill/bitcoin-archive/issues/13

[2022-05-15 19:40] GustavoRSSilva opened #6338 "Typo in variable name in utils/calculateStakingRewards.js"
**Describe the bug**

This is a minor mistake (I bet it is just a typo), but in the utils/calculateStakingRewards.js (https://github.com/ethereum/ethereum-org-website/blob/dev/src/utils/calculateStakingRewards.js) there is mention of the variable **offlineEpochGweiPentalty**, I think it means **offlineEpochGweiPenalty**.

the same thing happens to **vaildatorUptime**, I think its meant to be **val

[2022-05-16 08:41] JosPoulakis opened #6340 "Request to add AVADO to the Ehtereum Solo-Staking page"
Before suggesting a staking product or service, make sure you've read [our listing policy](/contributing/adding-staking-product/).

Only continue with the issue if the staking product meets the criteria listed there.

If it does, complete the following information which we need to accurately list the product/service.

**Product type**

- [x] Node/client tooling
- [ ] Key management
- [ ] Staking a

[2022-05-16 10:18] #6338 closed

[2022-05-16 10:19] minimalsm commented on #6338
Thanks for reporting @GustavoRSSilva, fixed in #6339 <3

[2022-05-16 10:19] minimalsm commented on #6338
@all-contributors please add @GustavoRSSilva for bugs

[2022-05-16 10:25] #6148 closed

[2022-05-16 10:28] #6337 closed

[2022-05-16 10:31] #6331 closed

[2022-05-16 10:32] #6322 closed

[2022-05-16 10:34] minimalsm commented on #6304
Hey @prahladjshenoy :-) looks like you've done the work here but forgot to push it back to origin. You need to merge your fork into our repo. You can see some information on [how to do this in our README](https://github.com/ethereum/ethereum-org-website#6-submit-your-pr).

[2022-05-16 11:45] #6324 closed

[2022-05-16 12:20] #5580 closed

[2022-05-16 12:23] charles-cooper commented on #5580
bumping because as mentioned, the site is still up, it just has been migrated to https://learn.vyperlang.org

[2022-05-16 14:36] pettinarip commented on #5791
This one is done.

[2022-05-16 21:09] noahliechti commented on #6148
@byhow Thanks for the opportunity. I think I'll go for another open issue, since there many others to choose from :)

[2022-05-17 04:06] wackerow opened #6357 "Nav bar horizontal scroll on some languages"
**Describe the bug**
On certain language versions of the site, the longer text strings in the nav bar result in crowding of the nav bar contents, causing horizontal overflow and scrolling at certain screen widths.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/ru/ on desktop
2. Resize window to a width between 1024 and ~1100
3. See larger nav strings (compared to

[2022-05-17 04:21] prahladjshenoy commented on #6304
Hi @minimalsm  thanks for the assistance, If I want to do anything let me know, and I will do it.

[2022-05-17 05:04] #6202 closed

[2022-05-17 09:21] lupascualex opened #6362 "Add new Node Service"
In the [Popular Node Service](https://ethereum.org/en/developers/docs/nodes-and-clients/nodes-as-a-service/#popular-node-services) section, I would like to add [OMNIA](omniatech.io) with the following features:

- Privacy is enabled by default (and by design - no tracking)
- The first service to cover off-chain privacy
- Front-running protection
- Decentralized RPC resource pool
- Freemium subscri

[2022-05-17 11:16] samajammin commented on #6279
Whoops, sorry! At least I assigned it correct 😅

Please go ahead with your proposal @noahliechti 😄

[2022-05-17 11:22] samajammin commented on #5682
Removing stale status & assigning to @corwintines.

[2022-05-17 11:32] lukassim opened #6363 "Fix spelling on the Language resources page"
**Describe the bug**

On the Language resources page, the first sentence in the 'ethereum.org resources' section contains additional words that should be removed.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/community/language-resources/#ethereum-org
2. Read the first sentence
3. See error

**Expected behavior**

'is translated' should be removed so the sent

[2022-05-17 11:38] joeurassa commented on #6363
I can correct that

[2022-05-17 13:33] nhsz opened #6365 "Epic: Revamp Tutorials section"
_This is an epic that makes up part of [the ethereum.org Q2 Roadmap](https://github.com/ethereum/ethereum-org-website/issues/6161)_.

### Description

Our developer tutorials section continues to grow as we receive submissions from the community.

Currently we have nearly 50 tutorials that collectively make up 5% of all pageviews on the website. Traffic continues to grow as we roll out translation

[2022-05-17 14:19] pettinarip commented on #5998
In GC `NODE_ENV` is `production` for Production Builds and Pull Request Builds. https://support.gatsbyjs.com/hc/en-us/articles/360052322954-Environment-Variables-Specific-to-Gatsby-Cloud

What I'm planning to do is to basically avoid loading the plugin if `GATSBY_IS_PREVIEW` is true. Basically because we done have control over that on the plugin.

[2022-05-17 16:07] #6252 closed

[2022-05-17 17:38] minimalsm opened #6370 "Remove algorithmic stablecoins from ethereum.org"
### Problem

[After the collapse of UST](https://www.coindesk.com/markets/2022/05/15/the-collapse-of-terra-was-devastating-but-there-is-still-hope-for-crypto/), the general sentiment I'm seeing in the wild is that algorithmic stablecoins are fundamentally flawed from a design perspective (E.g.: [1](https://twitter.com/TrungTPhan/status/1526572065276383232), [2](https://twitter.com/StellarOrg/statu

[2022-05-17 17:42] wackerow commented on #6370
Don't think we should do nothing. Think we should at least add a note of caution to the explainer card for algo's, but on the fence regarding removing from the list.

Besides market cap, have we looked at any other metrics around these coins that could help further indicate network size and usage?

[2022-05-17 18:01] nhsz commented on #6370
I'm leaning towards a mix between options 3 & 4. Algo stablecoins exist, we can't ignore them, so in terms of being informative, we should add them as a type in the 'types of stablecoin' section and add the disclaimer IMHO.

But also think no specific algo stable should be listed for now as all of them have failed and couldn't mantain the peg (explaining this decision on the page too).

[2022-05-17 18:23] luminoir-dustin commented on #6370
If we list algo stables, we should have a write up about specific risks, especially 'death-spirals' and list the graveyard of all previous failed attempts.

George Soros' attack on the pound should also be required reading.
https://www.thebalance.com/black-wednesday-george-soros-bet-against-britain-1978944

The other tail risk about stablecoins in general is that traditional currencies have contro

[2022-05-17 19:41] pettinarip opened #6374 "Epic: Implement UI library"
*This is an epic that makes up part of [the ethereum.org Q3 roadmap](https://github.com/ethereum/ethereum-org-website/issues/7166)*

### **Description**

A major insight from our research into accessibility and our website audits last quarter was that many of the issues we face, like lack of keyboard navigation, support for assistive technology and consistent W3C design patterns can be solved out-

[2022-05-17 20:46] strifedefi commented on #6370
I'm leaning towards option 4 as I do believe they'll be around for some time.

Provide a summary of the types of stablecoins, inherent risks, and examples of failures.

[2022-05-17 21:15] corwintines commented on #6370
I'm most in favor of option 3 or 4. I think it's important to talk about them still, but I do think we need to do something to bring awareness of the risk a bit more on the ones that are listed. We currently have a list we filter down to which I think needs to be reassessed as part of this issue. This list includes all stables being listed on the page, and part of that could be looking into risky

[2022-05-17 21:32] wackerow commented on #5998
Fixed with #6366

[2022-05-17 21:32] #5998 closed

[2022-05-18 02:37] robriks commented on #6370
Option 4 seems most reasonable seeing as Terra mkt cap was 2/3 Lehman / small country size. Algostables are too large to ignore and people will continue designing them, potentially someday achieving sustainability but w/ many failures along the way.

In addition to option 4, I think the current stablecoins list could benefit from adding a superscript disclaimer in the 'COLLATERAL TYPE' field next

[2022-05-18 02:48] AstronautSleuth commented on #6370
4 because VCs will continue to fund projects who are building algo stablecoins as the upside is extremely large should 1 succeed.

Here's a very good twitter thread on the game DK was playing https://twitter.com/gametheorizing/status/1526373843908153345

But we should definitely add more links & resources regarding token design or an explanation of how the death spiral works & post mortem of IRON/

[2022-05-18 03:11] DavisSwell opened #6382 "Swell Network - Ethereum staking product."
Before suggesting a staking product or service, make sure you've read [our listing policy](/contributing/adding-staking-product/).

Only continue with the issue if the staking product meets the criteria listed there.

If it does, complete the following information which we need to accurately list the product/service.

**Product type**

- [ ] Node/client tooling
- [ ] Key management
- [x] Staking a

[2022-05-18 06:13] byhow opened #6384 "the link for testnet node in the article `node as a service` needs to be updated"
**Describe the bug**

As mentioned here: https://github.com/ethereum/ethereum-org-website/issues/6148#issuecomment-1121738925, In this [article](https://ethereum.org/en/developers/docs/nodes-and-clients/nodes-as-a-service/) where it pointed the link for [Ethereum Testnets](https://ethereum.org/en/developers/docs/nodes-and-clients/nodes-as-a-service/#how-do-node-services-work) is referecing an outd

[2022-05-18 06:51] SuperDelphi commented on #6384
I can take this issue!

[2022-05-18 07:59] tomhuangkai opened #6385 "tomh"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-05-18 08:50] SuperDelphi opened #6386 "Question mark wrapped alone in French version"
**Describe the bug**

On the [Ethereum upgrades](https://ethereum.org/fr/upgrades/) page (French version), in the first dark section (see screenshots), the question mark is left alone in a new line, in some screen resolutions.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to [here](https://ethereum.org/fr/upgrades/)
2. Scroll down a bit to the dark section (see screenshots)
4. See err

[2022-05-18 14:41] tvanepps opened #6389 "Remove OpenEthereum from node page"
https://ethereum.org/en/developers/docs/nodes-and-clients/#projects

OpenEthereum is deprecated and should be removed

[2022-05-18 19:46] pettinarip opened #6392 "Epic: TypeScript rollout"
*This is an epic that makes up part of [the ethereum.org Q2 roadmap](https://github.com/ethereum/ethereum-org-website/issues/6161)*

### **Description**

Our codebase is rapidly increasing in size and in contributors. This brings challenges to reliably keep the code organized, avoid code duplication, and review code.

To help alleviate these challenges, we’ll be incorporating TypeScript into our c

[2022-05-19 06:36] joshreyes93 commented on #6242
all g @minimalsm if you could just comment here when the new criteria is up that would be awesome.

[2022-05-19 07:12] SuperDelphi commented on #6386
Hey, I would have wanted to fix it actually aha! (waiting for approval)
But if it's your first PR on ethereum.org, I leave it to you!

[2022-05-19 08:52] kuzdogan commented on #6274
It would be nice to have a filter for transaction decoding + documentation.

In short it is possible to decode the function parameters by pulling the ABI. If the wallet uses Sourcify (i.e. contract metadata) it can both decode via ABI + show the function's NatSpec user documentation, instead of a hex string.

[2022-05-19 09:25] emmanuel-awosika commented on #6194
Hi @samajammin. I opened a new PR for this issue. Let me know what you think!

[2022-05-19 09:29] samajammin commented on #6370
I also vote for option 4

I think it's too early to completely dismiss algorithmic stablecoins. I don't think it's ethereum.org's job to completely write them off at this point - that's for the broader market/industry to decide. Experimentation in this field will no doubt continue & I think we can continue to display them.

That said, I agree they should be labeled as experimental given no attempt

[2022-05-19 09:32] emmanuel-awosika commented on #1511
Happy to help create this page, @samajammin. :)

[2022-05-19 09:57] saintsal commented on #6370
Some random dude had a nice point about distinguishing between over- and under-collateralised stables.  :) https://twitter.com/VitalikButerin/status/1525512307358347265

It strikes me this distinction is a lot clearer, easier to understand (for learners) and to categorise (for list maintainers).  Whereas trying to maintain a list of projects and their various categories of "how algorithmic" will p

[2022-05-19 10:12] minimalsm commented on #6386
Hey @SuperDelphi, thanks for raising this. All yours!

[2022-05-19 10:13] minimalsm commented on #6386
Thanks for offering @strifedefi, I'll be putting up some other good first issues soon :)

[2022-05-19 15:16] samajammin opened #6400 "Create a new page for "Ethereum research bounties""
**Is your feature request related to a problem? Please describe.**

We have an Ethereum bug bounty page:
https://ethereum.org/en/bug-bounty/
This page covers a specific set of bounties (specification bugs, client bugs, solidity bugs, deposit contract bugs).

Meanwhile there are many other (primarily research-based) bounties that the EF & other projects/orgs are funding. One primary issue of these

[2022-05-19 19:01] strifedefi commented on #6386
@SuperDelphi Apologies did not mean to step on your toes! 😃 @minimalsm Thank you I'll be on the lookout!

[2022-05-19 19:05] SuperDelphi commented on #6386
No problem at all! Thanks for offering, I appreciate that

[2022-05-19 22:35] HursitTarcan commented on #6386
Love this civilized chat

[2022-05-20 04:55] DaveyD233 commented on #6389
The problem is not the Hysterium is being being blocked, comma more than the numbers of possible ethereum tokens, according to CoinBase, keeps rising 100,000k+ETH1&2 tokens since the beginning of this year(ie. 120million ETH 1&2 tokens available, from January 2022, to 120.1 ETH1&2 tokens 8n February 2022, to 120.8million ETH1&2 tokens NOW, May 2022, EQUALLY, where there are 121.6 TOTAL ETH1&2 toke

[2022-05-20 05:09] DaveyD233 commented on #6400
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2 tokens", according to CoinBase, keeps rising 100k ETH1(&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2 tokens available, ON January 2022, to 120.1 ETH1&2 tokens IN February 2022, to NOW; Where there ARE 120.8Million ETH1(&2.0) tokens NOW, May 2022, EQUALLING "121.6 TO

[2022-05-20 05:10] DaveyD233 commented on #6384
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2 tokens", according to CoinBase, keeps rising 100k ETH1(&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2 tokens available, ON January 2022, to 120.1 ETH1&2 tokens IN February 2022, to NOW; Where there ARE 120.8Million ETH1(&2.0) tokens NOW, May 2022, EQUALLING "121.6 TO

[2022-05-20 05:23] DaveyD233 commented on #6384
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2 tokens", according to CoinBase, keeps rising 100k ETH1(&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2 tokens available, ON January 2022, to 120.1 ETH1&2 tokens IN February 2022, to NOW; Where there ARE 120.8Million ETH1(&2.0) tokens NOW, May 2022, EQUALLING "121.6 TO

[2022-05-20 05:24] DaveyD233 commented on #6363
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2 tokens", according to CoinBase, keeps rising 100k ETH1(&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2 tokens available, ON January 2022, to 120.1 ETH1&2 tokens IN February 2022, to NOW; Where there ARE 120.8Million ETH1(&2.0) tokens NOW, May 2022, EQUALLING "121.6 TO

[2022-05-20 05:25] DaveyD233 commented on #6370
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2 tokens", according to CoinBase, keeps rising 100k ETH1(&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2 tokens available, ON January 2022, to 120.1 ETH1&2 tokens IN February 2022, to NOW; Where there ARE 120.8Million ETH1(&2.0) tokens NOW, May 2022, EQUALLING "121.6 TO

[2022-05-20 05:29] DaveyD233 commented on #5354
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2 tokens", according to CoinBase, keeps rising 100k ETH1(&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2 tokens available, ON January 2022, to 120.1 ETH1&2 tokens IN February 2022, to NOW; Where there ARE 120.8Million ETH1(&2.0) tokens NOW, May 2022, EQUALLING "121.6 TO

[2022-05-20 06:37] DaveyD233 commented on #6255
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2.0 tokens", according to CoinBase, RISING 100k (IN BOTH ETH1&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2.0 tokens available, ON January 2022, to 120.1 ETH1&2.0 tokens IN February 2022, to NOW; Where CoinBase is showing there ARE 120.8Million ETH1&2.0 tokens PRESENTL

[2022-05-20 06:38] DaveyD233 commented on #6254
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2.0 tokens", according to CoinBase, RISING 100k (IN BOTH ETH1&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2.0 tokens available, ON January 2022, to 120.1 ETH1&2.0 tokens IN February 2022, to NOW; Where CoinBase is showing there ARE 120.8Million ETH1&2.0 tokens PRESENTL

[2022-05-20 06:39] DaveyD233 commented on #6242
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2.0 tokens", according to CoinBase, RISING 100k (IN BOTH ETH1&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2.0 tokens available, ON January 2022, to 120.1 ETH1&2.0 tokens IN February 2022, to NOW; Where CoinBase is showing there ARE 120.8Million ETH1&2.0 tokens PRESENTL

[2022-05-20 06:40] DaveyD233 commented on #6270
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2.0 tokens", according to CoinBase, RISING 100k (IN BOTH ETH1&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2.0 tokens available, ON January 2022, to 120.1 ETH1&2.0 tokens IN February 2022, to NOW; Where CoinBase is showing there ARE 120.8Million ETH1&2.0 tokens PRESENTL

[2022-05-20 06:41] DaveyD233 commented on #6234
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2.0 tokens", according to CoinBase, RISING 100k (IN BOTH ETH1&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2.0 tokens available, ON January 2022, to 120.1 ETH1&2.0 tokens IN February 2022, to NOW; Where CoinBase is showing there ARE 120.8Million ETH1&2.0 tokens PRESENTL

[2022-05-20 06:41] DaveyD233 commented on #5671
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2.0 tokens", according to CoinBase, RISING 100k (IN BOTH ETH1&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2.0 tokens available, ON January 2022, to 120.1 ETH1&2.0 tokens IN February 2022, to NOW; Where CoinBase is showing there ARE 120.8Million ETH1&2.0 tokens PRESENTL

[2022-05-20 06:43] DaveyD233 commented on #6155
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2.0 tokens", according to CoinBase, RISING 100k (IN BOTH ETH1&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2.0 tokens available, ON January 2022, to 120.1 ETH1&2.0 tokens IN February 2022, to NOW; Where CoinBase is showing there ARE 120.8Million ETH1&2.0 tokens PRESENTL

[2022-05-20 06:43] DaveyD233 commented on #5620
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2.0 tokens", according to CoinBase, RISING 100k (IN BOTH ETH1&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2.0 tokens available, ON January 2022, to 120.1 ETH1&2.0 tokens IN February 2022, to NOW; Where CoinBase is showing there ARE 120.8Million ETH1&2.0 tokens PRESENTL

[2022-05-20 06:44] DaveyD233 commented on #6382
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2.0 tokens", according to CoinBase, RISING 100k (IN BOTH ETH1&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2.0 tokens available, ON January 2022, to 120.1 ETH1&2.0 tokens IN February 2022, to NOW; Where CoinBase is showing there ARE 120.8Million ETH1&2.0 tokens PRESENTL

[2022-05-20 06:48] DaveyD233 commented on #4697
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2.0 tokens", according to CoinBase, RISING 100k (IN BOTH ETH1&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2.0 tokens available, ON January 2022, to 120.1 ETH1&2.0 tokens IN February 2022, to NOW; Where CoinBase is showing there ARE 120.8Million ETH1&2.0 tokens PRESENTL

[2022-05-20 06:49] DaveyD233 commented on #3312
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2.0 tokens", according to CoinBase, RISING 100k (IN BOTH ETH1&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2.0 tokens available, ON January 2022, to 120.1 ETH1&2.0 tokens IN February 2022, to NOW; Where CoinBase is showing there ARE 120.8Million ETH1&2.0 tokens PRESENTL

[2022-05-20 06:52] DaveyD233 commented on #2715
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2.0 tokens", according to CoinBase, RISING 100k (IN BOTH ETH1&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2.0 tokens available, ON January 2022, to 120.1 ETH1&2.0 tokens IN February 2022, to NOW; Where CoinBase is showing there ARE 120.8Million ETH1&2.0 tokens PRESENTL

[2022-05-20 06:53] DaveyD233 commented on #5690
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2.0 tokens", according to CoinBase, RISING 100k (IN BOTH ETH1&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2.0 tokens available, ON January 2022, to 120.1 ETH1&2.0 tokens IN February 2022, to NOW; Where CoinBase is showing there ARE 120.8Million ETH1&2.0 tokens PRESENTL

[2022-05-20 07:00] DaveyD233 commented on #3984
The problem is NOT the Hysterium of ETHERIUM being #blocked, more than the #number#s of "POSSIBLE Ethereum 1&2.0 tokens", according to CoinBase, RISING 100k (IN BOTH ETH1&2.0) tokens since the BEGINNING of this year(ie. 120million ETH 1&2.0 tokens available, ON January 2022, to 120.1 ETH1&2.0 tokens IN February 2022, to NOW; Where CoinBase is showing there ARE 120.8Million ETH1&2.0 tokens PRESENTL

[2022-05-20 11:42] lukassim opened #6404 "Fix spelling of Optimisic Kovan on Networks page"
**Describe the bug**

On the Networks page, 'Optimistic Kovan' is spelled as 'Optimisic Kovan'.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/docs/networks/#optimistic-kovan
2. Read the title
3. See error

**Expected behavior**

'Optimisic Kovan' should be changed to 'Optimistic Kovan'

**Screenshots**
<img width="556" alt="Screenshot 2022-05-20 at

[2022-05-20 11:48] lukassim opened #6405 "Change spelling of Dex to uppercase letters"
**Describe the bug**

On the 'Get ETH' page, 'Try a Dex' is not capitalized consistently with the other instances of DEX on the website.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/get-eth/
2. Scroll down to the first set of cards (Centralized exchanges, Decentralized exchanges, Wallets)
3. Read the middle card (Decentralized exchanges)
4. See error

**Expe

[2022-05-20 11:54] lukassim opened #6406 "Fix punctuation on Set up your local environment page"
**Describe the bug**

On the 'Set up your local environment' page in the developer docs, the punctuation in the cards (Frameworks and pre-made stacks) is not always consistent.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/local-environment/
2. Scroll down to the Frameworks and pre-made stacks section
3. Compare the punctuation in the product cards

[2022-05-20 12:46] jmcook1186 commented on #6370
I vote for option 4 - keep them in the list but clearly labelled as algorithmic. Then we should have a clear explanation of the risks associated with algo stables and links out to details of past failures.

[2022-05-20 17:55] andyosei12 commented on #6404
I can work on this

[2022-05-21 07:54] SuperDelphi commented on #6386
@minimalsm By the way, I have yet this issue's PR to be reviewed ˆˆ
https://github.com/ethereum/ethereum-org-website/pull/6395
So we can just close this issue aha! Thanks

[2022-05-21 14:08] SNikhill commented on #5087
Oh, I need to look at this.

[2022-05-21 15:42] SNikhill commented on #5087
@minimalsm

Do you have any tips to optimise the build process? The local build seems to be taking quite long to proceed (and yes, I have increased the heap size to 8192).

[2022-05-21 15:46] SNikhill commented on #5087
(NB: I saw the single language tip later)

[2022-05-21 19:23] Keecointoken opened #6416 "KeeCoin Dashboard - DAPP Wallet Eth Managment"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-05-23 04:12] WGUcoder22 opened #6421 "Possible Phishing Website"
Possible phishing website = https://ethstake.exchange/en/about/

Description:

This website mimics ethereum.org to just about every link. The URL listed above represents one page of the website that clearly shows signs of phishing, with hyperlinks under the Work in progress section and the following sections below that are not taking the user to GitHub, instead they are linked to the current page.

[2022-05-23 08:14] rwv opened #6422 "`/wallets/find-wallet`"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-05-23 08:14] rwv commented on #6422
Sorry for missubmit

[2022-05-23 08:14] #6422 closed

[2022-05-23 08:20] rwv opened #6423 "Wrong i18n link for `page-find-wallet-new-to-wallets-link` in `/wallets/find-wallet/`"
**Describe the bug**

In `/wallets/find-wallet/` there's a link `page-find-wallet-new-to-wallets-link` navigate to `/wallets`. However, it use raw `<a>` tag instead of `components/Link` which cause i18n navigate fails:

`/zh/wallets/find-wallet/` navigate to `/wallets/` instead of `/zh/wallets/`

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/zh/wallets/find-walle

[2022-05-23 11:20] #6255 closed

[2022-05-23 12:19] minimalsm commented on #6423
Awesome catch @rwv, thanks!

[2022-05-23 12:20] #6423 closed

[2022-05-23 12:44] samajammin opened #6432 "Create a new use case page for Decentralized Science (DeSci)"
**Is your feature request related to a problem? Please describe.**

An emerging use case of Ethereum & blockchain technology is "DeSci" or Decentralized Science.

This isn't a topic we currently cover on the site. I think there's opportunity to expose newcomers to this use case.

**Describe the solution you'd like**

Create new use case page (e.g. like [DeFi](https://ethereum.org/en/defi/), [NFTs]

[2022-05-23 12:45] samajammin commented on #6432
Hey @jmcook1186 - assigning to you for now 😄

[2022-05-23 13:25] minimalsm commented on #6421
Hey @WGUcoder22, thanks for reporting. **This is a scam website.**

I've reported it to Google using [this phising reporting link](https://safebrowsing.google.com/safebrowsing/report_phish/?hl=en). Please do the same and do not engage with this website!

[2022-05-23 13:25] #6421 closed

[2022-05-23 13:34] #6406 closed

[2022-05-23 13:44] SombatThomoh opened #6433 "bleh, that brings back solidity.go and `ParseCombinedJSON` ..."
bleh, that brings back solidity.go and `ParseCombinedJSON` ...

_Originally posted by @holiman in https://github.com/ethereum/go-ethereum/pull/24935#discussion_r879440590_

[2022-05-23 13:45] #6433 closed

[2022-05-23 15:27] corwintines opened #6434 "Update listing policy for wallets"
**Is your feature request related to a problem? Please describe.**
As part of the find-wallet update (https://github.com/ethereum/ethereum-org-website/issues/6274) the listing policy needs and issue template form to be updated to reflect the new features users are able to use as filters to find an appropriate wallet. Below is the proposed new issue template form.

**Describe the solution you'd lik

[2022-05-23 15:32] jtomtan opened #6435 "Add Ownbit wallet"
_Please note as part of [our Q2 product roadmap](https://github.com/ethereum/ethereum-org-website/issues/6161) we paused adding new wallets until we establish new, expanded criteria._

Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it

[2022-05-23 16:01] minimalsm commented on #6389
@tvanepps I take it the hopes of OE being taken over by someone else are dead?

[2022-05-23 16:01] #6385 closed

[2022-05-23 21:59] vincentweisser commented on #6432
Hi Sam and Joseph, this is awesome, happy to colab and jam! Let me know how it usually works, do you commit a draft version and have others commit proposed improvements/additions?

[2022-05-23 22:45] dandelions126 opened #6439 "Does anyone know how to pull your principle from the USDT Liquidity Mining scam?"
Hello,
I suspect I'm scammed by a USDT liquidity mining to mine ETH in the Ethereum blockchain. And the Dapp claims they are have a strategic partnership with Coinbase and Ethereum... I'm a victim of this scam. Can anyone share or know how to retrieve my original capital from this liquidity mining pool? Thanks,

[2022-05-24 00:47] wackerow commented on #6370
I feel convinces personally. Sounds like there is heavy support for option 4: keeping algo's listed, but offering additional education / warnings around them. I agree @samajammin that it should not be up to the ethereum.org team to exile an entire category of projects. I prefer education.

I agree with the other comments to also add scrutiny to the other categories. Algo's have had a rough path, b

[2022-05-24 05:36] slowblogger commented on #4868
The oldest version of the white paper seems to be [this](http://web.archive.org/web/20131219030753/http://vitalik.ca/ethereum.html).

The title of the paper is the same as the title of the email, according to "The Infinite Machine" book, that Vitalik sent with the first version.

[2022-05-24 07:15] samajammin commented on #6432
Amazing, thanks for volunteering @vincentweisser. Would love to collaborate on this. I think your article linked above already covers a good chunk of the content we'd imagine having on this page.

I just created a `desci` branch (https://github.com/ethereum/ethereum-org-website/pull/6442) with a new page template to work off. Figure that might be a useful foundation to work off. Potential options

[2022-05-24 08:04] polarpunklabs commented on #4868
@slowblogger Thank you, I had come across this after this post. I had asked around for a copy of the original email and nobody had it, but luckily we have this proto-proto- version of the paper (the ur-paper?). It's fascinating as a document in its own right.

[2022-05-24 11:35] MonsieurDMA opened #6443 "Typo in tutorial translated to multiple languages"
In one the developer tutorials named _Transfers and approval of ERC-20 tokens from a solidity smart contract_ a typo was introduce in a precedent commit making the ERC20 example wrongfully manage the allowance for an user.

`allowed[owner][msg.sender] = allowed[owner][msg.sender]+numTokens;`

**Expected behavior**

`allowed[owner][msg.sender] = allowed[owner][msg.sender]-numTokens;`

**Link to one

[2022-05-24 13:28] Jstar101 opened #6445 "Slashing Insurance Feature for Pooled Staking Providers"
**Is your feature request related to a problem? Please describe.**

Slashing is the fundamental mechanism for the Beacon Chain to punish validators. Whilst every pooled staking solution has mechanisms in place to reduce the risk of slashings, the risks can never be fully mitigated and slashing is arguably one of the main risks to user funds. The impact of slashing can be severe, as seen with Stake

[2022-05-24 14:58] GregoireSkillZ opened #6447 "Kiln - Staking as a service - Direct & White-labeled staking"
Before suggesting a staking product or service, make sure you've read [our listing policy](/contributing/adding-staking-product/).

Only continue with the issue if the staking product meets the criteria listed there.

If it does, complete the following information which we need to accurately list the product/service.

**Product type**

- [X] Staking as a service

**Name**

Kiln

**Logo**

![Kiln_L

[2022-05-24 17:29] corwintines opened #6451 "Zero Knowledge page"
**Is your feature request related to a problem? Please describe.**
- Right now on ethereum.org there aren't any resources on zero-knowledge technology (other than a small amount of information on zk-rollups). Since zero-knowledge proofs are being used for a variety of use cases (rollups, gaming, proof of location, etc), a general learn page on zero-knowledge would be great.

**Describe the solutio

[2022-05-24 18:43] consentsam commented on #6092
Hello @samajammin,
I put the issue on Discord as well and it seems like someone fixed it. So, I think this issue can be closed off. Thank you for your response!

[2022-05-24 18:43] #6092 closed

[2022-05-24 19:53] wackerow opened #6452 ""Trustless" definition for pooled staking options"
**Describe the issue**
Recently our staking content was updated to include more details about different ways to stake, and the products/services that can be used to help in each of those categories. In attempt to prevent/limit subjective bias, some objective attributes were assessed for these products/services.

One of these attributes was a "**Trustless**" indicator for pooled staking options, an

[2022-05-24 21:29] Jstar101 commented on #6452
I agree that it is important to define each indicator as specifically as possible in order to remove any uncertainty around definitions which could leave room for subjective bias. I also agree with the high-level definition of trustless, meaning key steps are taken to remove human/centralised control over pool funds. In my mind, there are 4 key parts to consider:
1) The custody of the keys
2) The

[2022-05-25 03:03] slowblogger commented on #4868
@polarpunklabs The Infinite Machine book has the content of the email, and Vitalike linked it to the URL that was this archive shows.

[2022-05-25 07:08] amitkumar76 opened #6459 "Re: Guest Post On Why Penetration Testing Is Required For Blockchain"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

[Guest post - penetration testing.docx](https://github.com/ethereum/ethereum-org-website/files/8768727/Guest.post.-.penetration.testing.docx)

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please

[2022-05-25 07:19] COLONAYUSH commented on #6451
I want to work on this issue @corwintines

[2022-05-25 08:45] polarpunklabs commented on #4868
Excellent, thanks.

[2022-05-25 10:11] tsudmi opened #6460 "Update StakeWise information"
StakeWise is listed as one of the pool staking options at https://ethereum.org/en/staking/pools/

We would appreciate ticking the Trustless and Diverse Clients boxes for StakeWise. Here is why:

# Trustless

Non-custodial - StakeWise migrated to `0x01` withdrawal prefix in April 2021. All our validators are created with `0x0100000000000000000000002296e122c1a20fca3cac3371357bdad3be0df079` withdrawa

[2022-05-25 15:34] qbzzt opened #6464 "TutoriaL Rollup-friendly Merkle trees"
**Tutorial title**

Rollup-friendly Merkle trees

**Tutorial description**

Processing on rollups is dirt cheap. In comparison, calldata, which has to be written to L1, is very expensive.

Currently the way we do merkle proofs, for example for airdrops, uses a lot of calldata. For an airdrop of size $n$ we need $\lceil log_2(n) \rceil$ 32 byte words. In this tutorial the reader will learn how to a

[2022-05-25 15:47] #6464 closed

[2022-05-25 16:36] COLONAYUSH commented on #6451
Sure, I will keep that in mind. Need to a little more research on ZK as to make it more accessible for non technical users.I will share a proposal regarding the same just after that

[2022-05-25 17:56] wackerow commented on #6452
My question here asked about defaulting to "trusted" _not_ "trustless" until withdrawals are enabled... Meaning, none of them are trustless since we still require humans to finish the job. In either case, I agree with your sentiment, which seems to be that even though it's not perfect, there are still objective measures that can be taken to make things as trustless as possible, and we should diffe

[2022-05-25 18:01] wackerow commented on #6460
Thank you for posting this information. Also replied to #6452 where we can further fine tune the Trustless definition to make it most useful to users, but gonna merge #6461 in the meantime. 👍🏻

[2022-05-25 18:01] #6460 closed

[2022-05-26 02:18] ianrandmckenzie commented on #5975
Hi, just poking around the repo. I immediately thought `white-space: nowrap;` as well, so glad you acknowledged it. I would guess it could still work, but maybe adding a `max-width` of some kind could help. It may need responsive queries if going the `max-width` route, though. Just leaving this for whoever is/will work on it. Ping me if needed. :)

[2022-05-26 02:31] ianrandmckenzie opened #6471 "ruby docs in /en/ language path showing Romanian instead of English"
**Describe the bug**

The following English page is incorrectly displaying some Romanian texts on the production site of this page:
https://ethereum.org/en/developers/docs/programming-languages/ruby/

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [https://ethereum.org/en/developers/docs/programming-languages/ruby/](https://ethereum.org/en/developers/docs/programming-languages/ruby/)

[2022-05-26 04:55] demonicirfan commented on #6471
Hey @ianrandmckenzie I'm new here can i take this issue 😊

[2022-05-26 07:14] Jstar101 commented on #6452
Oh yes, my brain just assumed it said "trustless"! We're on the same page regarding the sentiment though - some providers do more than others to improve the trustless nature of their platforms which I believe should be reflected.

This is correct. At the end of the day, if you are aiming to provide the most "trustless" service which includes the ability to force close validators, this power needs

[2022-05-26 08:46] minimalsm commented on #6471
Nice catch @ianrandmckenzie 💪

Whenever this happens, it is usually because a stray translated file has an `en` for the `lang` in the front matter. As English is built first, then translated files after, any translated files with an `en` path will overwrite the actual English file.

Looks like the Romanian version of this page mistakenly has `en` instead of `ro` as the path: https://github.com/eth

[2022-05-26 08:48] minimalsm commented on #6471
@demonicirfan thanks for offering to help 🙏 issue creators generally have the first go at solving issues if they want to take a pop at it (it looks like he'd like to work on it).

But, if Ian can't take up this issue today, feel free to take over 😎.

[2022-05-26 10:21] milvinae commented on #6451
I would love to help out if you need any help with content reviews, suggestions etc.

[2022-05-26 13:17] KcCoinSupport commented on #6439
Hello sir.. We're so sorry for the inconvenience that you're passing through Sir!!! As your issues been rectified yet Sir?

[2022-05-26 13:59] corwintines commented on #6471
Just want to note there are 3 files that have this bug and should get captured under this too:

- https://github.com/ethereum/ethereum-org-website/bclob/dev/src/content/translations/ro/developers/docs/programming-languages/ruby/index.md
- https://github.com/ethereum/ethereum-org-website/bclob/dev/src/content/translations/ro/developers/tutorials/nft-minter/index.md
- https://github.com/ethereum/eth

[2022-05-26 14:03] corwintines commented on #6471
Woops, didn't mean to click close with comment 😅

[2022-05-26 14:26] emmanuel-awosika commented on #1511
I opened a PR for the page, @samajammin. Let me know if it's good to go.

[2022-05-26 14:35] minimalsm commented on #6459
Hey @amitkumar76 :-) thanks opening this. I don't think this content really makes sense for ethereum.org. Hope you find a more impactful place to post this content! Thanks ❤️

[2022-05-26 14:35] #6459 closed

[2022-05-26 14:57] minimalsm commented on #1511
Hey @emmanuel-awosika, thanks for the PR 😎 GitHub tip: if you can cross-reference an issue in your PR by adding the issue number like this: `#1511` becomes #1511

[2022-05-26 16:03] demonicirfan commented on #6471
@minimalsm thanks for your reply i will search fro some other issues 🙂

[2022-05-26 17:08] emmanuel-awosika commented on #1511
Hey @minimalsm, thanks for the tip. I should get it to try it out soon.

[2022-05-26 17:37] #6471 closed

[2022-05-26 18:51] wackerow commented on #6452
Another thought with slight addition

[2022-05-26 19:14] pmantica3 opened #6478 "Can't deposit stake through ETH Launchpad"
**Describe the bug**

After clicking "Confirming Deposit" in the launchpad website, we get a "Transaction Failed" error message. We have 38 eth in our wallet and our only trying to deposit enough eth for one validator. We are using the metamask wallet.

**To Reproduce**

1. Go to https://launchpad.ethereum.org/en/
2. Go through the staking wizard
3. Click "Confirming Deposit" at the very end
4. Se

[2022-05-26 20:42] minimalsm commented on #6471
Hey @ianrandmckenzie, thanks again for flagging this. I merged a commit to fix this as we were doing a deploy anyway.

Be sure to [claim your POAP](https://ethereum.org/en/contributing/#poap) for this 🥳!

[2022-05-27 08:58] CarlBeek commented on #6478
Sorry to hear the transaction failed. We're going to need a little more information in order to debug this.

Where exactly is the error message being displayed (in your wallet/on the launchpad/ both)? Is there more information in the error message as to why the TX failed (out of gas etc)? Does the failed tx show up on a block explorer or in your wallet?

[2022-05-27 12:05] PatrickAlphaC opened #6481 "Add 32 hour long mega-course to tutorials"
I just dropped this insane mega 32 hour long course...

https://www.youtube.com/watch?v=gyMwXuJrbJQ

Hope you all like it :)

[2022-05-27 12:24] pmantica3 commented on #6478
Hi apparently this was an issue from our side. We had to approve our transaction and were failing to do so. Thanks for the rapid response though.

[2022-05-27 12:24] #6478 closed

[2022-05-27 13:44] devtooligan commented on #5984
lemme know if there's any way i can help w this one

[2022-05-27 20:47] wackerow opened #6488 "Deep URLs not forwarding to default language"
**Describe the bug**
When going to a URL with one directory in the path, the language locale does not need to be included, allowing a link to be language agnostic when sharing and it will redirect accordingly. If the directory is deeper than one level, this results in a 404.

**To Reproduce**
Steps to reproduce the behavior:

Compare the following:
- https://ethereum.org/upgrades/ (forwards to htt

[2022-05-27 22:28] hursittarcan commented on #6488
I'm not sure if this will help but:
I had a quick look, I couldn't find the exact location of the bug. But I believe I might have found the code to look at (not 100% sure). I included a screenshot.

- https://github.com/ethereum/ethereum-org-website/blob/f73abdab628fbad734225c30f38e9ba3d758e3bb/gatsby-config.ts#L48-L50

[2022-05-27 22:48] hursittarcan commented on #6488
I'm not sure if this will help but:
I had a quick look at this and I believe I found the problem. I'm not sure if we can fix this bug programmatically.

- Almost all redirects happen in [redirects.json](https://github.com/ethereum/ethereum-org-website/blob/dev/redirects.json)
- Example given in issue: https://github.com/ethereum/ethereum-org-website/blob/f73abdab628fbad734225c30f38e9ba3d758e3bb/re

[2022-05-28 00:54] qbzzt opened #6491 "Article: Blockchain data storage strategies"
.

**Tutorial title**

Blockchain data storage strategies

**Tutorial description**

There are several ways in which data from external sources can be stored using the Blockchain. Here they are in order of increasing cost.

1. Calldata
2. Contract code
3. Events
4. EVM storage

This article will compare the different strategies, their costs and tradeoffs, and demonstrate the necessary code to use

[2022-05-28 10:38] hursittarcan commented on #6389
@minimalsm can I remove it from the page?

[2022-05-28 14:21] DayanchMuhammetgeldiyev opened #6493 "Turkmen language added"
Can Turkmen language be added to the languages? Because the Turkmen language was not there. Could you please add the Turkmen language?

[2022-05-29 13:11] avcdsld commented on #6268
Hi. I can work on this.

[2022-05-29 13:36] avcdsld commented on #6268
I found that the cause was not a button, but a table that contained long words that could not be broken (e.g. `Wiederverkaufsgebühren`). The whole layout is fixed by adding a hyphenation CSS setting.

<img width="385" alt="ScreenShot 2022-05-29 22 25 54" src="https://user-images.githubusercontent.com/10495516/170871578-80d519fa-01a3-413c-973c-ef23397957d7.png">

[2022-05-29 20:11] ianrandmckenzie commented on #6471
Heya, sorry I disappeared after reporting. Things have been pretty hectic with projects I'm already working on. Would have been nice to contribute, but now that I know how things work around here I'll be sure to jump on the next one I see.

Thanks :)

[2022-05-30 08:51] lukassim commented on #6493
Hey, thanks for the suggestion.
We've just added Turkmen to the project, here is the direct link: https://crowdin.com/project/ethereum-org/tk

[2022-05-30 10:53] #6268 closed

[2022-05-30 13:04] GregoireSkillZ commented on #6447
Hi,

That’s right sorry for the confusion.

In our current product, the validation keys are generated in our backend
service and the user does not see them unless they request a copy of them.
We did this for convenience as we found that most users did not want to
generate the keys themselves. So indeed the default flow for validation
keys it not self-custody.

The eth2-keystore-converter is a util

[2022-05-30 14:50] #6443 closed

[2022-05-30 14:50] minimalsm commented on #6481
Fixed in #6482

[2022-05-30 14:50] #6481 closed

[2022-05-30 16:06] minimalsm commented on #6451
@COLONAYUSH I know it's only been a few days but just wanted to see where you were at with this. We were discussing it at a weekly call we have and we have talked about a rough outline we could provide for you if that helps get you unblocked here 🙂 ?

[2022-05-31 03:41] DayanchMuhammetgeldiyev commented on #6493
Thank you for everything

[2022-05-31 03:45] DayanchMuhammetgeldiyev commented on #6493
Thanks for everything. I have even started
I will invite Turkmens to the project.
I have a question. Is the translation published after it is completely finished or is the language in the site?

[2022-05-31 11:25] miiguel909 commented on #6439
There are a lot of these liquidity mining scams taking over the internet at the moment.  I see lots of people complaining about these scams everywhere and I personally know people that have lots of millions including myself. We need to come together to stop these scammers as there are too good at what they do. Send in your reports and experience to ChargebacknowATaol . com as there currently takin

[2022-05-31 17:56] tsudmi opened #6516 "StakeWise Bug Bounty"
StakeWise has added a Bug Bounty program: https://github.com/ethereum/ethereum-org-website/pull/6515

[2022-05-31 17:56] tsudmi commented on #6516
Fixed in https://github.com/ethereum/ethereum-org-website/pull/6515

[2022-05-31 18:02] #6516 closed

[2022-05-31 20:12] wackerow opened #6517 "Feedback Widget unaccessible by keyboard"
**Describe the bug**
Tab stops aren't working for the feedback widget, and aria-labels missing for screen readers.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org
2. Attempt to navigate to (and through) FeedbackWidget with just the keyboard

**Expected behavior**
Should be able to tab to the FeedbackWidget "dot" and navigate easily with keyboard within this modal

[2022-05-31 21:29] imansayadi3 opened #6519 "....."
I am sure now that all my thoughts and prejudices have been directed at the empty atrium. Your network customer must pay $ 100 &Reveal the private key and all personal information and wait for ethereum recovery. Unless you warn the user first. Do not show your words to anyone. It is shameful. Your user's personal life is in danger because of the investment. Dictators They will eventually be destro

[2022-06-01 07:04] tototx opened #6521 "hwo to creat cryptocurrency on eth"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-06-01 08:29] #6521 closed

[2022-06-01 08:40] minimalsm opened #6523 "Add "The Hitchhikers Guide To Ethereum""
**Describe the solution you'd like**

[Jon Charbonneau](https://mobile.twitter.com/jon_charb) from Delphi Digital put out an incredible summary of the Ethereum roadmap called ["The Hitchhikers Guide To Ethereum"](https://members.delphidigital.io/reports/the-hitchhikers-guide-to-ethereum).

We should add some links to this guide on ethereum.org.

Some places that might make sense:

- [Upgrades](htt

[2022-06-01 10:20] MukulKolpe commented on #6523
Hey @minimalsm, can I work on this issue?

[2022-06-01 11:18] samajammin opened #6529 "generate-heading-ids script is a bit broken"
**Describe the bug**

The generate-heading-ids script appears to be broken. It works for certain cases but not all.

**To Reproduce**

See #6527 as an example.

**Expected behavior**

The script should slugify all headers & create IDs. As you can see in the example PR, things start to break.

**Additional context**

Not sure what the exact issue is - looking at #6527, I wonder if the script is jus

[2022-06-01 11:28] minimalsm commented on #6523
Hey @MukulKolpe 👋 by all means! I've assigned you.

Feel free to ping me here if you need anything 💪. I've included a list of pages but I encourage you to look for other places where it might make sense to add this as a resource.

[2022-06-01 15:32] samajammin commented on #6434
I think this is mostly complete from https://github.com/ethereum/ethereum-org-website/pull/6438 but let's make sure we also re-assess our listing criteria (in addition to the data we collect):
https://ethereum.org/en/contributing/adding-products/

So let's confirm what the hard requirements all wallets must meet in order for us to list them on the site.

[2022-06-01 20:32] corwintines opened #6536 "Update all wallet data with new issue form questions"
**Is your feature request related to a problem? Please describe.**
As part of the find-wallet page revamp (https://github.com/ethereum/ethereum-org-website/issues/6274) we have updated the issue template form for wallets (https://github.com/ethereum/ethereum-org-website/issues/new?assignees=&labels=wallet+%3Apurse%3A&template=suggest_wallet.yaml&title=Suggest+a+wallet). This new issue template exp

[2022-06-01 22:30] Mousticke commented on #6529
Hi there, can I check this out ?
Assuming that, I will create a branch from [open-research-header-ids](https://github.com/ethereum/ethereum-org-website/tree/open-research-header-ids)

I'll see what the script is doing and fix as needed

[2022-06-02 07:48] Mousticke commented on #6392
Hi there, I would like to be assigned to these two components :

- src/components/Accordion.js
- src/components/Emoji.js

Thnak you very much

[2022-06-02 09:30] LEOUSS04 opened #6541 "welcome you to create an issue or a pull request."
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-06-02 21:25] wackerow opened #6545 "SVG's not loading for 'why run a node' section"
**Describe the bug**
SVG's missing on run-a-node page

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/run-a-node/
2. Scroll down to "Why run a node?"
3. SVG's missing

**Expected behavior**
SVG icons should accompany each card

**Screenshots**
<img width="1235" alt="image" src="https://user-images.githubusercontent.com/54227730/171740639-48f7fd28-2891-4130-8cfe

[2022-06-03 00:54] #6517 closed

[2022-06-03 02:05] #6545 closed, assigned to wackerow

[2022-06-03 07:48] Ghospel opened #6551 "Suggestion: Remove the OpenZeppelin Test Environment"
The page [Testing Tools and Libraries](https://ethereum.org/en/developers/docs/smart-contracts/testing/) suggests using the [OpenZeppelin Test Environment](https://github.com/OpenZeppelin/openzeppelin-test-environment), however this repository has been archived and is no longer maintained. I suggest to remove this.

[2022-06-03 07:59] Mousticke commented on #6392
@pettinarip : After the #6543  PR is made, I'd like to migrate:

- [] Accordion.js (already reserved after Emoji being merged to `dev`)
- [] AssetDownload.js
- [] BeaconChainActions.js
- [] BoxGrid.js
- [] CardList.js
- [] Translation.js

Thank you :)

[2022-06-03 10:08] samajammin commented on #6529
Thanks @Mousticke ! I've assigned you.

[2022-06-03 14:39] pettinarip commented on #6392
Assigned! @Mousticke

`Translation.js` is being migrated in this PR https://github.com/ethereum/ethereum-org-website/pull/6540 you can jump into and review it and/or make any suggestion.

[2022-06-03 15:43] britis6main opened #6556 "Crypto"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-06-04 03:23] adi44 commented on #6392
src/pages/layer-2.js
src/pages/run-a-node.js
src/pages/stablecoins.js
src/pages/staking
src/pages/staking/deposit-contract.js

I would like to work on this @pettinarip

[2022-06-04 04:14] #5984 closed

[2022-06-04 04:50] jack-cryptocom commented on #6161
Add Crypto.com DeFi Wallet #6155

[2022-06-04 04:53] jack-cryptocom commented on #6161
Add #6155

[2022-06-04 14:59] pettinarip commented on #6392
@adi44 assigned! and thanks!

[2022-06-05 07:28] emmanuel-awosika opened #6565 "Create new use-case page for Decentralized Domain Naming Systems (dDNS)"
**Is your feature request related to a problem? Please describe.**

The Ethereum.org homepage has a use-case for a "permissionless DNS", but no dedicated use-case page for it.

**Describe the solution you'd like**

1. **Create a new "Decentralized domain naming systems (dDNS)" use-case page.** I suggest creating a new use-case page for decentralized domain naming. The big idea is to show I think i

[2022-06-05 18:52] Alfre1352 opened #6567 "Eth"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-06-05 18:52] Alfre1352 opened #6568 "Eth"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2022-06-05 18:53] Alfre1352 opened #6569 "Wo"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2022-06-05 20:11] Alfre1352 opened #6570 "De"

[2022-06-06 03:16] Alfre1352 opened #6573 "E"
https://github.com/cosmos/ibc-go/blob/main/modules/core/ante/ante.go

[2022-06-06 06:22] #6573 closed

[2022-06-06 06:23] #6570 closed

[2022-06-06 06:23] #6569 closed

[2022-06-06 06:23] #6568 closed

[2022-06-06 06:24] #6567 closed

[2022-06-06 11:56] Aldekein commented on #6165
Here are the updated cert and logo: [bimi_certificate_and_logo.zip](https://github.com/ethereum/ethereum-org-website/files/8833443/bimi_certificate_and_logo.zip)

[2022-06-06 12:00] isidorosp commented on #6452
@Jstar101 Does the stakewise DAO control the validator exit signatures? I thought it was a committee. Can the DAO (i.e. an onchain vote of token holders) trigger a validator exit, or does it require the actual committee members to gather to do so?

[2022-06-06 18:52] wackerow commented on #6370
Another thought on how these tokens are organized... Right now we break stables into fiat backed, crypto backed, precious metal backed, and algorithmic.

There are "algorithms" involved in tokens like DAI as well... we could consider adjusting the name of the algo section to something like "Incentive-based non-collateralized" or "under-collateralized" to make this category more explicit about what

[2022-06-06 20:01] Mousticke commented on #6392
@pettinarip : Since `isMobile` is pretty straight forward and I am waiting for some PR before migrating the others (dependent components) assigned to me, can you assign me `utils/cache.js` please ?

[2022-06-06 20:24] #6556 closed

[2022-06-06 20:24] #6541 closed

[2022-06-06 22:23] pettinarip commented on #6392
Hey @Mousticke cool! assigned. Sorry for the delay, will try to get them merged soon.

[2022-06-06 22:56] M-Ivan commented on #6392
@pettinarip Hey Pablo! I would like to contribute with some of the files for the migration, i would like to pick:
* src/pages/developers/* (entire directory)
* src/pages/404.js
* src/pages/assets.js
* src/pages/bug-bounty.js
* src/pages/community.js

QQ: Is there any time expectations to get this done by? Thx.

[2022-06-06 23:42] wackerow opened #6588 "Update non-dev links to L2 resources"
**Describe the bug**
We have several links that are attempting to help people understand more about layer 2 pages. Many of these originate from pages outside of the developer docs, but for a while were forced to link to the `/developers/docs/scaling/`.

These should be updated to point to the new `/layer-2/` page when outside of the developer docs, where appropriate.

**To Reproduce**
Steps to rep

[2022-06-07 00:42] critesjosh opened #6589 "Add Aztec Network"
Before suggesting a layer 2, make sure you've read [our listing policy](/contributing/adding-layer-2/).

Only continue with the issue if your layer 2 meets the criteria listed there.

If it does, complete the following information which we need to accurately list the layer 2.

**Name**

Aztec

**Logo**

![Aztec_horizontal_lock_up_black](https://user-images.githubusercontent.com/18372439/172247766-

[2022-06-07 02:36] #6529 closed

[2022-06-07 02:40] samajammin commented on #5690
@jmcook1186 I think we can close this out - great work! Feel free to re-open if you think we missed anything.

[2022-06-07 02:40] #5690 closed

[2022-06-07 02:46] samajammin opened #6590 "Update Sharding page"
**Is your feature request related to a problem? Please describe.**

Our sharding page is outdated - we should revamp this to reflect the latest roadmap.

**Describe the solution you'd like**

  - Explain iterative approach (danksharding / protodanksharding)

Potential resources to link out to
  - [https://www.eip4844.com/](https://www.eip4844.com/)
  - [https://members.delphidigital.io/reports/the

[2022-06-07 02:46] samajammin commented on #6590
@wackerow assigning to you for now but anyone: feel free to comment if you'd like to help out with this!

[2022-06-07 07:55] minimalsm commented on #6523
Hey @MukulKolpe, any update on this 😀?

[2022-06-07 10:33] MahendraBishnoi29 commented on #6588
can i take this issue?

[2022-06-07 10:42] MahendraBishnoi29 commented on #6374
can i contribute?

[2022-06-07 15:20] pettinarip commented on #6392
Awesome, thanks for the help @M-Ivan. I've assigned them to you. As I'm assigning a lot of files to you, please try to break them into different PRs. E.g. one for the developer's pages, one for the assets, and so on.

Regarding the timing, our goal is to finish this migration on this quarter (Q2), end of the current month.

[2022-06-07 16:10] nuchanucha opened #6595 "Spot a (potential) typo on "What's ether?" page"
Hello!
I'm translating "What's ether?" page and I saw this part: "Want to buy some Ethereum?". Should this be "ether" instead of "Ethereum" since Ethereum is a network not a currency that you can trade/buy?

Thank you!

![image](https://user-images.githubusercontent.com/104920894/172428279-02f57e90-2478-4d2c-bdf1-949f613b0d1c.png)

[2022-06-07 16:16] nuchanucha commented on #6595
Ah, I

[2022-06-07 16:16] #6595 closed

[2022-06-07 19:30] Mousticke opened #6598 "Suggest a wallet : Ledger Nano X"
### Wallet name

Ledger Nano X

### Wallet description

Secure, grow your crypto and manage your NFTs with a new Bluetooth-enabled hardware wallet. When you own crypto, what you really own is a private key that gives you access to your coins. You need to keep this key completely safe. Ledger wallets are the best way to own and secure this key. Secure your valuable assets with the Nano X hardware w

[2022-06-07 21:22] sambacha commented on #6536
Fortmatic is now Magic

[2022-06-07 21:24] sambacha commented on #6536
Metamask has Metamask mobile, which is not the same as Metamask (desktop) they do not have the same features. As does Argent wallet with Android and iOS: they do not have feature parity (yet?)

[2022-06-07 21:47] chlolands commented on #6536
Can you please add Tally Ho?

[https://tally.cash/]
[https://github.com/tallycash/extension]

[2022-06-07 22:28] floating opened #6601 "Suggest a wallet: Frame"
### Wallet name

Frame

### Wallet description

A privacy focused Ethereum wallet that runs natively on macOS, Windows and Linux

### Wallet logo

![Frame Logo](https://frame.nyc3.cdn.digitaloceanspaces.com/frameGhost.svg)

### Background color for brand logo

rgb(34, 32, 33)

### URL to the project

https://frame.sh

### When did the wallet go live to users?

April 1, 2019

### Does the wallet ha

[2022-06-07 22:31] floating commented on #6536
Please add Frame: #6601

Thank you! 🙏

[2022-06-08 09:18] Jstar101 commented on #6452
The various elements of 'trustless' fall upon a continuum. The question I ask myself when it comes to withdrawal keys is what is safer - a group of people/DAO in control of validator exits or an individual/single entity? A protocol that can guarantee access to pool funds or one that relies entirely on a third party to access pool funds?

Ensuring a committee, acting under instruction from a DAO, c

[2022-06-08 09:19] Jessie1980 commented on #6452
I need my Bitcoin back

On Wed, Jun 8, 2022 at 5:18 AM Jstar101 ***@***.***> wrote:

[2022-06-08 09:51] isidorosp commented on #6452
I don't think it's a bad mechanism but I'm not sure I'd call it a clear winner. While it adds a vector for possible recovery there are complications.
a) The recovery mechanism might make the situation worse by forcing action (vs allowing the dispute to be resolved more slowly over time). Because the NO still has access to the validator key, if we're saying that the "committee" kicks into gear when