[2022-11-10 08:29] multipoles opened #8555 "Suggest a dapp Zbra.land - a domain fee based on registration demand"
### Name

Zbra Land - a domain fee based on registration demand

### Description

We propose a domain fee based on registration demand, named [ZbraLand](https://zbra.land) .

Inspired by *Vitalik*'s [idea](https://vitalik.ca/general/2022/09/09/ens.html) and ENS *Jeff*'s discussion, we want to allocate domains in a better way. *Vitalik* made a Eureka time about long-term domain pricing. Billions of

[2022-11-10 09:07] hsghn opened #8556 "Suggest a glossary term"
### Checklist

- [X] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [X] This term/definition is not a product advertisement or contain other promotional content
- [X] This term/definition is directly relevant to Ethereum

### Term name

Halil

### Term definition

Yes

### Sources, if any (please do no

[2022-11-10 10:55] konopkja opened #8558 "Bug report: outdated link to non-existing wallet filter"
### Describe the bug

This filter is no longer existing after find wallet revamp.

### To reproduce

1. Go to https://ethereum.org/en/security/#spend-limits
2. Click on [Explore wallets with limits protection](https://ethereum.org/en/wallets/find-wallet/?filters=has_limits_protection)

### Expected behavior

 remove the link

### Screenshots

<img width="908" alt="Screenshot 2022-11-10 at 15 50 59

[2022-11-10 11:02] konopkja opened #8559 "Bug report: broken link on what is a wallet page"
### Describe the bug

The link redirects to blog homepage, not specific article. Should be removed or replaced.

### To reproduce

1. Go to https://ethereum.org/en/wallets/
2. Click on "the keys to keeping your crypto safe" link

### Expected behavior

working link

### Screenshots

<img width="763" alt="Screenshot 2022-11-08 at 18 38 01" src="https://user-images.githubusercontent.com/100724231/20

[2022-11-10 14:30] julianariel commented on #8002
@minimalsm any updates on this? is there something we can do to accelerate the process? thanks!

[2022-11-10 15:11] Saksham010 commented on #8559
Can I work on this issue?

[2022-11-10 15:47] konopkja commented on #8559
absolutely

[2022-11-10 16:28] samajammin opened #8562 "Get ETH page incorrect "last updated" date"
### Describe the bug

I believe this page is giving the wrong date on when it was last updated.

### To reproduce

1. Go to https://ethereum.org/en/get-eth/#country-picker
2. Select a country in the dropdown
3. Scroll down below the exchange/wallet results
4. See text (screenshot below): "We collected this information manually. If you spot something wrong, let us know at website@ethereum.org. Last

[2022-11-10 17:10] yash251 commented on #8558
could you please assign me this issue?

[2022-11-10 17:11] yash251 commented on #8558
also I don't understand, I can see a wallet filter

[2022-11-10 17:23] konopkja commented on #8558
what do you mean?

[2022-11-10 17:35] konopkja commented on #8558
oh sorry, remove the link and the text. "Explore wallets with limits protection"

[2022-11-10 19:23] pettinarip commented on #8551
Nice @TylerAPfledderer assigning it to you. Please take into account this bug that is related #8550 to this (in order to implement the correct color scheme in the badge theming).

[2022-11-10 20:04] TylerAPfledderer commented on #8551
@pettinarip, correct. You got it! 👍

[2022-11-10 20:17] janeshrader commented on #6439
Have you noticed that most credit repair agencies give promises they never intend to keep? However, in the quest to fix my credit, I came across a lot of good comments about HACK MAVENS CREDIT SPECIALIST on WALLETHUB and I decided to give it a trial. I never believed he would have my derogatory mark removed and increase my score from 437 to 798 across the three major bureaus within few days. He al

[2022-11-10 20:18] janeshrader commented on #6439
Have you noticed that most credit repair agencies give promises they never intend to keep? However, in the quest to fix my credit, I came across a lot of good comments about HACK MAVENS CREDIT SPECIALIST on WALLETHUB and I decided to give it a trial. I never believed he would have my derogatory mark removed and increase my score from 437 to 798 across the three major bureaus within few days. He al

[2022-11-10 20:35] corwintines commented on #8550
Closing as above PR has been merged

[2022-11-10 20:35] #8550 closed

[2022-11-10 23:19] hackdaemon553 opened #8569 "Recover your stolen funds from scammersFeature request"
### Is your feature request related to a problem? Please describe.

Good day Audience,
I am Eric from Buffalo USA. I want to use this great medium to announce this information to the public about Spyware Cyber. A few months back, I was seeking an online BTC investment plan when I got scammed for about $129,000. I was so down and didn't know what to do until I came across a timeline about Spyware C

[2022-11-11 04:03] TylerAPfledderer commented on #8551
@pettinarip I notice that there are two styled pill components that do not use the `Pill` component, but are created in the [ProductCard component](https://github.com/ethereum/ethereum-org-website/blob/94dfbce15a319e11a7ecce20bc645b6573695ea9/src/components/ProductCard.tsx#L74-L111) and the [StakingProductsCardGrid component](https://github.com/ethereum/ethereum-org-website/blob/94dfbce15a319e11a7

[2022-11-11 07:30] OpenWJY opened #8571 "Bug report: repeated gas_limit description"
### Describe the bug

the `index.md` in path <code>ethereum-org-website/src/content/translations/zh/developers/tutorials/send-token-etherjs/</code> has a description error.

### To reproduce

1. Go to '[https://ethereum.org/zh/developers/tutorials/send-token-etherjs/#transaction-params](https://ethereum.org/zh/developers/tutorials/send-token-etherjs/#transaction-params)'
2. Scroll down to '交易参数'
4

[2022-11-11 13:54] EugeneBezuglyi commented on #8543
Update PR due to the content movement to another page:
https://github.com/ethereum/ethereum-org-website/pull/8574

[2022-11-11 18:58] gzanitti opened #8577 "Link colission in Ethereum's Rust developer page"
### Describe the bug

In the Ethereum's Rust developer page, two projects point in the same direction due to redirections: SputnikVM and evm_rs.

### To reproduce

1) Go to Ethereum's Rust developer page [here](https://ethereum.org/en/developers/docs/programming-languages/rust/)
2) Go to the section "Rust projects and tools".
3) Open both links: [SputnikVM](https://github.com/sorpaas/rust-evm) and

[2022-11-11 21:03] jryanhaber commented on #8569
This is spam, please announce on Twitter.
I propose deleting this spam for coherence in our communications.

[2022-11-11 21:05] jryanhaber commented on #8562
I am interested in fixing bugs like this.
Is there an existing mechanism for rewarding devs who are addressing bugs?

[2022-11-12 13:52] samajammin commented on #6190
@corwintines I believe this issue can be closed. Metis has been removed.

Thank you all for the discussion. Seems most of the contention here is on the definition of L2. Happy to have that debate if anyone would like to open an issue around that. Our listing policy is open source - anyone can suggest changes to it. It can be found here: https://ethereum.org/en/contributing/adding-layer-2s/

[2022-11-12 13:53] #6190 closed

[2022-11-13 02:51] TylerAPfledderer opened #8580 "A11y Refactor: `MeetupList` Component"
## Objective
Improving accessibility and UI markup for the [MeetupList](https://github.com/ethereum/ethereum-org-website/blob/dev/src/components/MeetupList.tsx) component, including UX with screen readers.

## Description
Now that this component has been migrated to ChakraUI for the UI Epic, there might be further improvements that can be made.

- As this is a list, it could be rendered with Chakr

[2022-11-13 10:48] 0xSoulDev opened #8581 "Delete"
Delete

[2022-11-13 13:16] Elib27 commented on #8581
Could I work on this issue ?

[2022-11-13 15:56] armgp commented on #8562
Hey, I can work on this. Can I get assigned to this issue?

[2022-11-13 22:14] stefan2100 commented on #6439
Is not advisable to just embrace every investment opportunity because of scams, I have been a victim and lost up to $75,000. All my life, I have always been looking for ways to invest money, so as to retire early. Unfortunately, I got scammed in forex and binary options. I haven’t felt so empty in my life, all effort to recover my funds was in vain. I recommend ( ESTEEPMORGAN @ CONSULTANT. com) fo

[2022-11-13 22:15] stefan2100 commented on #6439
Is not advisable to just embrace every investment opportunity because of scams, I have been a victim and lost up to $75,000. All my life, I have always been looking for ways to invest money, so as to retire early. Unfortunately, I got scammed in forex and binary options. I haven’t felt so empty in my life, all effort to recover my funds was in vain. I recommend ( ESTEEPMORGAN @ CONSULTANT. com) fo

[2022-11-13 22:16] patrickthrop commented on #6439
If you have been looking for the best fund retrieval firm that can help you recover your stolen assets. I need to share this in here so you won’t lose your money cheaply to scam brokers. I invested about $455,000 USDT on a binary option platform then I decided to withdraw after several weeks but the withdrawal wasn’t successful, then I tried to contact the platform via email and phone number, I di

[2022-11-14 13:58] danierod opened #8583 "Add an exchange - Moonpay.com"
### Exchange name

Moonpay

### Exchange description

MoonPay is a financial technology company that builds payments infrastructure for crypto. Our on-and-off-ramp suite of products provides a seamless experience for converting between fiat currencies and cryptocurrencies using all major payment methods including debit and credit card, local bank transfers, Apple Pay and Google Pay. MoonPay is act

[2022-11-14 14:05] armgp commented on #8562
When I built the code, Its showing the last commited time of https://github.com/ethereum/ethereum-org website/blob/dev/src/data/exchanges-by-country.csv.
![image](https://user-images.githubusercontent.com/49094298/201680080-bd98d6db-c7fa-4eb6-83c2-d9b515859554.png)

[2022-11-14 15:12] SunSchizzzz opened #8584 "Oben Ethereum Starter"

[2022-11-14 16:36] pettinarip opened #8586 "Upgrade Gatsby to v5"
### Is your feature request related to a problem? Please describe.

No.

### Describe the solution you'd like

Upgrade Gatsby to v5 using the [official migration guide](https://v5.gatsbyjs.com/docs/reference/release-notes/migrating-from-v4-to-v5/).

### Describe alternatives you've considered

None.

### Additional context

More official resources:
- https://www.gatsbyjs.com/blog/gatsby-5-upgrade-

[2022-11-14 16:56] corwintines opened #8587 "Remove FTX and FTX US"
We should remove FTX from the get-eth page as they are no longer a functional exchange, and anyone interacting with that exchange is at risk of losing their assets.

Paused withdrawals
- https://ftx.com/

Bankrupt filing
- https://twitter.com/FTX_Official/status/1591071832823959552

[2022-11-14 17:44] samajammin commented on #8285
@jmcook1186 I think we should add the Ethereum governance page to this list of pages to update:
https://ethereum.org/en/governance/

[2022-11-14 18:10] minimalsm commented on #8587
To clarify, we should remove FTX and FTX US, they are two different organisations, but both have filed for bankruptcy and are not accepting withdrawals or deposits (i.e. not acting as an exchange, and not helpful to users who are trying to get ETH).

[2022-11-14 19:16] corwintines commented on #8466
Following up on this, going to close the issue. I dont think a link giving investment advice like this is appropriate for the NFT page.

Thank you for the suggestion, @valerierosario! If you have any others please do open more issues in the future :)

[2022-11-14 19:16] #8466 closed

[2022-11-14 21:41] #8587 closed

[2022-11-14 22:55] corwintines commented on #8298
@konopkja I think we can close this now

[2022-11-14 22:56] corwintines commented on #8298
Go ahead and reopen if you disagree

[2022-11-14 22:56] #8298 closed

[2022-11-15 11:39] sandraparker7840 commented on #6439
In need of a Data Analyst?
I help in social media hacks like verification
and followers
In need of a Private investigator?
Hacking?
Bitcoin mining
Cash bitcoin investment also
Contact bestappshackers(at)gmail(dot)com

[2022-11-15 11:51] patrickthrop commented on #6439
When searching for the best cryptocurrency wallet to keep your cryptocurrencies, one very important thing that comes to mind is the reliability and flexibility of the app due to the variety of options that could be explored in cryptocurrency trading and investment.One core value is the assurance that your cryptocurrency is safe as market prices fluctuate.  I've made use of some crypto apps in the

[2022-11-15 13:23] SunSchizzzz commented on #8584
[]()> >"um Ethereum-Netzwerk auszuführen, müssen Sie im Allgemeinen eine Gebühr namens „Gas“ zahlen (so genannt, weil diese Gebühren die Blockchain am Laufen halten"<

[]

[2022-11-15 13:58] Dev-Liz commented on #8583
Hello @danierod where am I supposed to add this, please??. I'm interested in working on it.

[2022-11-15 14:00] Dev-Liz commented on #8581
Hello @0xSoulDev I'd love to work on this

[2022-11-15 14:28] danierod commented on #8583
Hello @Dev-Liz , Moonpay is to be added as an exchange

[2022-11-15 14:38] minimalsm commented on #7553
Closing this out as part of #8094. I've migrated question suggestions here [to this Notion doc](https://www.notion.so/efdn/Review-Ori-s-learning-quizzes-suggestions-on-issue-79027459ef9f4f0a9b5ef384f3faf941) and will be updating decisions here.

[2022-11-15 14:38] #7553 closed

[2022-11-15 14:38] minimalsm commented on #7556
Closing this out as part of #8094. I've migrated question suggestions here [to this Notion doc](https://www.notion.so/efdn/Review-Ori-s-learning-quizzes-suggestions-on-issue-79027459ef9f4f0a9b5ef384f3faf941) and will be updating decisions here.

[2022-11-15 14:38] #7556 closed

[2022-11-15 14:38] minimalsm commented on #7558
Closing this out as part of #8094. I've migrated question suggestions here [to this Notion doc](https://www.notion.so/efdn/Review-Ori-s-learning-quizzes-suggestions-on-issue-79027459ef9f4f0a9b5ef384f3faf941) and will be updating decisions here.

[2022-11-15 14:38] #7558 closed

[2022-11-15 14:38] minimalsm commented on #7559
Closing this out as part of #8094. I've migrated question suggestions here [to this Notion doc](https://www.notion.so/efdn/Review-Ori-s-learning-quizzes-suggestions-on-issue-79027459ef9f4f0a9b5ef384f3faf941) and will be updating decisions here.

[2022-11-15 14:38] #7559 closed

[2022-11-15 15:15] fvictorio opened #8597 "Consider removing Embark from the list of developer tools"
Embark hasn't had any activity for more than two years.

Someone [asked](https://github.com/embarklabs/embark/issues/2496) about the state of the project more than a year ago, without any response yet.

I suppose you want to be neutral here (hence the randomization of the order in which the tools are shown), and I don't have anything against Embark itself, but in this particular case I think that

[2022-11-15 15:53] pettinarip commented on #8551
Good catch @TylerAPfledderer.

If its possible yes, I would replace them since there is not going to be any conflict in using a Chakra component inside those components.

[2022-11-15 16:13] marcellamalune commented on #6374
@pettinarip I can work on another component if something is pending 😄

[2022-11-15 17:21] watchanan554 opened #8598 "Thailand"

[2022-11-15 18:21] TylerAPfledderer commented on #8586
FYI Chakra's Gatsby plugin in the current version might not support the upgrade. Currently checking if this has been addressed/investigated yet.

[2022-11-15 18:27] dgcoffman opened #8599 "Bug report"
### Describe the bug

The Coinbase Wallet data on https://ethereum.org/en/wallets/find-wallet/ is incorrect.

### To reproduce

1. Go to https://ethereum.org/en/wallets/find-wallet/
2. Click on "Coinbase wallet"
3. See the incorrect data

### Expected behavior

Coinbase Wallet
  - Is non-custodial
  - Supports multiple L2s including Optimism, Arbitrum, Polygon, BNB, and Fantom
  - Has native suppo

[2022-11-16 03:52] TylerAPfledderer commented on #8551
@pettinarip this will impact `TutorialTags`, which is incomplete under the first wave migration (#6374) and currently assigned. Can either...
- Complete most of this issue and wait until the component has been migrated, or...
- Finish this issue with a PR that is merged and does not include this component, and create another PR after merge. This will require leaving the `Pill` component in the pro

[2022-11-16 11:27] nloureiro commented on #8364
My take on this is that the solution is to have a fixed width on the table of contents. That's the component that swings width depending on the length of the content.

On the Design system, I propose a fix:
1)  Keep the content left aligned to be close to the left navigation
2) give a max-width to the table of content: let's try 16rem/256px

screencast of the fixed tables of content width using de

[2022-11-16 11:51] nloureiro commented on #8398
@Saloni-Girhepuje I love to see design issues open, thank you for this (next time add a design label to it, to be a bit quicker to circle back to it ;) )

I will close this issue for two reasons:
1) we aim for a AA, AAA is welcome but AA is good enough for our audience.
2) we are in the process of creating a Design system that will be the base for all pages on ethereum.org.

This Design system is

[2022-11-16 14:32] armgp commented on #8599
can i work on this?

[2022-11-16 16:34] pdelagrave opened #8608 "Decentralized Identity documentation: Using the expression "PKI" is misleading"
Hello,

Referring to this section in particular: https://ethereum.org/en/decentralized-identity/#public-key-infrastructure

[PKI](https://en.wikipedia.org/wiki/Public_key_infrastructure) is centralized, all the control is held by the root CAs and the organizations packaging the "trusted" CAs certs in their popular products (browsers, OSes).

While the expression "Public-Key Infrastructure" alone d

[2022-11-16 16:47] apexwallet opened #8609 "Suggest a wallet"
### Wallet name

Apex

### Wallet description

Apex is providing a gateway to NFTs, DeFi, DAOs, and much more in web3. We have features such as storing NFTs, swapping tokens, voting on proposals, gaming, P2P messaging, dapp to user notifications, and potentially wallet insurance.

### Wallet logo

![apex-logo](https://user-images.githubusercontent.com/115434845/202228311-05e6ea5d-2e0c-4289-ab8f-ea

[2022-11-16 18:12] TylerAPfledderer commented on #8586
Issue with Chakra's Gatsby Plugin has been fixed, and should be released by the time this project transitions to Gatsby 5

[2022-11-16 18:19] pettinarip commented on #8586
Cool! great to hear that. Thanks for bringing that up.

[2022-11-16 23:39] samajammin opened #8611 "Add "Proof of Reserves" to exchange listing policy"
### Is your feature request related to a problem? Please describe.

We have a listing policy to determine which exchanges we link to from the site:
https://ethereum.org/en/contributing/adding-exchanges/

We currently list them on:
https://ethereum.org/en/get-eth/

Given recent events, I think it's worth adding proof of reserves as a criteria to our listing policy in order to:
- protect users
- enc

[2022-11-17 08:02] armgp commented on #8583
@danierod
https://www.moonpay.com/legal/licenses
Here moonpay is licensed for Louisiana. Following the issue I have added Louisiana to usaExceptions. Should I remove it or keep it that way.

[2022-11-17 09:18] minimalsm commented on #8522
Hey @ritave, thanks for raising this 💪

Agree we should add this to the grants page. I'd encourage you to open a PR if you'd like to move this along quickly. If not, I've added a few tags that should get some community attention on this issue ☺️

Thanks again

[2022-11-17 10:04] armgp commented on #8583
@danierod Thanks for the immediate response. I have removed it. I also think the data in exchanges-by-country.csv for moonpay is wrong. For example moonpay has support in Albania, but the csv file shows false. Should I also correct these data?

[2022-11-17 10:45] danierod commented on #8583
Hey @armgp let me double check that list again and make sure it is updated. Will give you an answer in a few minutes

[2022-11-17 11:02] danierod commented on #8583
@armgp updated the list of countries in the original issue request, but I will also add the updated list here:

- Afghanistan
- Albania
- Bahamas
- Bangladesh
- Belarus
- Barbados
- Bolivia
- Botswana
- Burkina Faso
- Cambodia
- Cayman islands
- China
- Congo
- Côte d'Ivoire
- Cuba
- Ecuador
- Ghana
- Haiti
- Iceland
- Iran
- Iraq
- Jamaica
- Japan
- Kosovo
- Korea
- Liberia
- Libya
- Malta
- Maur

[2022-11-17 12:38] armgp commented on #8583
okay thanks :)

[2022-11-17 14:28] pettinarip opened #8630 "Create a Chakra `Select` component"
*This is part of our [2nd wave of migration](https://github.com/ethereum/ethereum-org-website/issues/8632) of the [Implement UI library](https://github.com/ethereum/ethereum-org-website/issues/6374) epic.*

### Is your feature request related to a problem? Please describe.

Right now we have a [`Select` component](https://github.com/ethereum/ethereum-org-website/blob/dev/src/components/SharedStyle

[2022-11-17 14:42] pettinarip opened #8632 "Implement UI library - 2nd migration wave"
*This is part of our [Implement UI library](https://github.com/ethereum/ethereum-org-website/issues/6374) epic.*

This is our 2nd list of components to migrate all of our UI components to Chakra.

### **How to contribute**

If you’d like to help with this migration, please follow these steps:

1. Leave a comment here asking which file you would want to work on.
2. We assign you to the file (by add

[2022-11-17 14:49] pettinarip opened #8633 "Migrate `DeveloperDocsLinks.tsx` to Chakra"
*This is part of our [2nd wave of migration](https://github.com/ethereum/ethereum-org-website/issues/8632) of the [Implement UI library](https://github.com/ethereum/ethereum-org-website/issues/6374) epic.*

**Things to consider**

- Use [Chakra’s List component](https://chakra-ui.com/docs/components/list/usage) instead of `<ul>`.

Check our [epic](https://github.com/ethereum/ethereum-org-website/i

[2022-11-17 14:53] pettinarip opened #8635 "Migrate Search `Input.tsx` & `index.tsx` component to Chakra"
*This is part of our [2nd wave of migration](https://github.com/ethereum/ethereum-org-website/issues/8632) of the [Implement UI library](https://github.com/ethereum/ethereum-org-website/issues/6374) epic.*

**Things to consider**

- Start migrating the `Input.tsx` since `index.tsx` depends on it
- Use [Input](https://chakra-ui.com/docs/components/input/usage) & [FormControl](https://chakra-ui.com/

[2022-11-17 14:58] pettinarip opened #8636 "Migrate `FileContributors.tsx` to Chakra"
*This is part of our [2nd wave of migration](https://github.com/ethereum/ethereum-org-website/issues/8632) of the [Implement UI library](https://github.com/ethereum/ethereum-org-website/issues/6374) epic.*

**Things to consider**

- Replace the custom Modal with the [Chakra’s Modal](https://chakra-ui.com/docs/components/modal/usage)

Check our [epic](https://github.com/ethereum/ethereum-org-websit

[2022-11-17 14:58] pettinarip opened #8637 "Migrate `Roadmap.tsx` to Chakra"
*This is part of our [2nd wave of migration](https://github.com/ethereum/ethereum-org-website/issues/8632) of the [Implement UI library](https://github.com/ethereum/ethereum-org-website/issues/6374) epic.*

**Things to consider**

- Use the [Link Overlay](https://chakra-ui.com/docs/components/link-overlay/usage) to replace the `CardItem` imported component from `SharedStyledComponents`

Check our 

[2022-11-17 15:01] pettinarip opened #8638 "Migrate `SimpleTable.tsx` to Chakra"
*This is part of our [2nd wave of migration](https://github.com/ethereum/ethereum-org-website/issues/8632) of the [Implement UI library](https://github.com/ethereum/ethereum-org-website/issues/6374) epic.*

**Things to consider**

- Check if we can use the [Chakra’s Table component](https://chakra-ui.com/docs/components/table/usage) for this

Check our [epic](https://github.com/ethereum/ethereum-o

[2022-11-17 15:05] pettinarip opened #8639 "Migrate `Tabs.tsx` to Chakra"
*This is part of our [2nd wave of migration](https://github.com/ethereum/ethereum-org-website/issues/8632) of the [Implement UI library](https://github.com/ethereum/ethereum-org-website/issues/6374) epic.*

**Things to consider**

- Delete the current `Tabs.tsx` file
- Replace it with the native [Chakra Tabs component](https://chakra-ui.com/docs/components/tabs/usage)
- Probably we will need to cr

[2022-11-17 15:08] pettinarip opened #8640 "Migrate `TranslationLeaderboard.tsx` to Chakra"
*This is part of our [2nd wave of migration](https://github.com/ethereum/ethereum-org-website/issues/8632) of the [Implement UI library](https://github.com/ethereum/ethereum-org-website/issues/6374) epic.*

**Things to consider**

- Lets see if we can replace the logic of the [`OptionContainer`](https://github.com/ethereum/ethereum-org-website/blob/dev/src/components/TranslationLeaderboard.tsx#L14

[2022-11-17 15:50] GregoireSkillZ commented on #6447
November 2022

Bulletin

A note from Kiln

Staking, the core primitive of Web3

Amid the market turmoil, it is important to remember that the initial promise of crypto is to prevent unnecessary value-absorbing intermediaries and provide users sovereignty and true ownership over their assets. This is what we strive to do every day at Kiln. As a reminder these are the 3 core features we rely on.

No

[2022-11-17 17:30] pettinarip commented on #8632
@TylerAPfledderer awesome 💪🏼 assigned! ty

[2022-11-17 17:32] pettinarip commented on #8632
Assigned @MahendraBishnoi29! ty

I wanted to let you know that you still have `DismissibleCard.tsx` assigned to you from the 1st wave. Please, let me know if you are still considering in working on it or if I can reassign it to someone else.

[2022-11-17 17:43] Master7130 commented on #8632
Can I work on `UpgradeArticles.tsx`?

[2022-11-17 17:46] pettinarip commented on #8632
Assigned @Master7130, thanks!

[2022-11-17 17:51] marcellamalune commented on #8632
Hi @pettinarip I'd like to work on a couple components! No preference 🙂

[2022-11-17 18:31] pettinarip commented on #8632
👋🏼 @marcellamalune thanks. I've assigned `ButtonDropdown.tsx` & `Codeblock.tsx` to you.

[2022-11-17 18:31] minimalsm commented on #8599
Closed by #8600

[2022-11-17 18:31] #8599 closed

[2022-11-17 18:39] armgp commented on #8632
Hey can I work on FileContributors.tsx

[2022-11-17 18:41] armgp commented on #8636
Hey can I work on this?

[2022-11-17 19:03] TylerAPfledderer commented on #8632
@pettinarip Also assign to me `StakingProductsCardGrid` for the same reason as I stated above! 😅

[2022-11-17 20:12] samajammin opened #8653 "Add "use bridges" section to the bridge page"
### Is your feature request related to a problem? Please describe.

We have a page on bridges:
https://ethereum.org/en/bridges/

Currently it describes bridges but doesn't explain how or where to use any.

### Describe the solution you'd like

Add a "use bridges" section to the page.

Simple solution might be to just link to some resources that list out bridges, e.g.
- Risk analysis: https://l2bea

[2022-11-17 20:18] Rodrigolvc opened #8654 "Feature Request - Add Staking Survey as a Banner to the Staking page"
### Is your feature request related to a problem? Please describe.

- The current distribution of Ethereum validators is becoming increasingly centralized amongst a few large entities.
- To remedy the situation, we need a better understanding of how and why users choose where and when to stake their ETH.

### Describe the solution you'd like

- We would like ethereum.org to link an anonymous surve

[2022-11-17 21:06] pettinarip commented on #8632
@armgp done! & thanks

[2022-11-17 21:08] pettinarip commented on #8632
No worries :) thank you for being aware of those potential conflicts/dependencies.

[2022-11-17 21:40] samajammin commented on #8522
I assume this would make the most sense under "project specific" grants?
https://ethereum.org/en/community/grants/#project-specific

@ritave let us know if you disagree.

[2022-11-18 02:48] MahendraBishnoi29 commented on #8632
nope I'm working on it 💪🏻 also i think these are easy ones so i will complete them all so please assign me all these 😁🚀

[2022-11-18 06:03] amit-ksh commented on #8639
Hey @pettinarip! can I work on this issue?

[2022-11-18 11:29] ritave commented on #8522
@samajammin
I think that's reasonable.

For some context:

While MetaMask grants have a requirement to have some positive impact on MetaMask, we're also sponsoring broad public good type projects as well.

The first [approved proposal](https://metamaskgrants.org/Agoric-f6febc801a5142069e175bb177ba0ea3) concerns building [Secure EcmaScript sandboxes](https://github.com/endojs/endo/tree/master/packa

[2022-11-18 17:57] pontushenriksson commented on #8559
I am able to contribute to this too if @Saksham010 needs help or doesn't finish :D

[2022-11-18 21:50] pettinarip commented on #8632
@MahendraBishnoi29 great, good to hear 🙌🏼

[2022-11-18 22:18] pettinarip commented on #8639
Sure! Thanks for helping on this @amit-ksh.

[2022-11-18 22:20] pettinarip commented on #8636
Assigned @armgp 👍🏼

[2022-11-19 00:57] frankiefab100 commented on #8632
@pettinarip can I work on `UpcomingEventsList.tsx`

[2022-11-19 03:41] MahendraBishnoi29 commented on #8632
assigned me? 😀

[2022-11-19 07:09] Pranav-yadav commented on #8632
Hey @pettinarip !
I would like to help w/

[2022-11-19 13:47] amit-ksh commented on #8638
Hey @pettinarip! Can I work on this?

[2022-11-19 19:46] Jadelee101 commented on #8156
Hi Ethereum/Ethereum-Org-Website,

Could you advise what should we be expected to do?

Thank you.

Best regards,
Jade

On Sat, 19 Nov 2022 at 4:04 PM, github-actions[bot] <
***@***.***> wrote:

--
Best Regards,
*Jade Lee*
Marketing Manager

*BitDATA Exchange*

143 Cecil Street, #09-01 GB Building, Singapore 069542

*w* bitex.sg

<https://twitter.com/BitDATAExchange>
<https://www.linkedin.com/compa

[2022-11-20 00:51] Jack18056 commented on #6439
I'm Lynn from Tuttle lane Colusa, California. United States. My special greetings to everyone reading this letter, If you are into Crypto currency investment then this message you need to read carefully as it will be of a great impact to your knowledge. myself and my family have been into crypto trading legitimately for the past 5 years and we haven't had such a great loss like the recent loss whe

[2022-11-20 00:54] patrickthrop commented on #6439
If you have been looking for the best fund retrieval firm that can help you recover your stolen assets. I need to share this in here so you won’t lose your money cheaply to scam brokers. I invested about $455,000 USDT on a binary option platform then I decided to withdraw after several weeks but the withdrawal wasn’t successful, then I tried to contact the platform via email and phone number, I di

[2022-11-20 13:59] melindafarr commented on #6439
Good day everyone, I'm Melinda and I want to share my story of how I was coined $250,000 from a fake cryptocurrency investment plan that almost ruined my life, I contacted the authorities and there was nothing they could do to recover my money until I came across an article online about Wardrivers Cyber Service and how they could help me recover my stolen funds by hacking into those scammers walle

[2022-11-20 20:49] epicfox87 commented on #8583
+1 on this many of my clients use it because it covers many geos!

[2022-11-20 20:50] epicfox87 commented on #8598
What is wrong with thailand lol

[2022-11-20 21:11] epicfox87 opened #8683 "Add Nansen's 'Proof of Reserves' of all Exchanges"
### Exchange name

All Exchanges Proof of Reserves

### Exchange description

After the recent events that led to the bankruptcy of FTX, it is very important for everyone to have quick way to view all exchanges reserves, please add this resource as a note:

https://portfolio.nansen.ai/entities?utm_source=twitter&utm_medium=social&utm_campaign=portfolio_exchanges_12nov22

It includes all major exch

[2022-11-20 22:58] soheil555 commented on #8632
Hi @pettinarip I'd like to work on `BeaconChainActions.tsx`, `BugBountyPoints.tsx,` and `PageHero.tsx` components.

[2022-11-21 09:35] #8522 closed

[2022-11-21 13:38] adi29raj commented on #8632
Hi @pettinarip I'd like to work on a couple components! Search will be preferred.

[2022-11-21 14:10] pettinarip opened #8696 "Incorrect spacing between Staking Grid's bullet points"
### Describe the bug

The bullet points inside the Staking Grids have the incorrect spacing between them.

### To reproduce

1. Go to https://ethereum.org/en/staking/solo/#node-tools
2. See incorrect spacing

### Expected behavior

Screenshot taken from a previous version of the site where the `p` tag didn't have any margin.
![image](https://user-images.githubusercontent.com/468158/203075467-ec32b

[2022-11-21 14:19] pettinarip opened #8697 "Incorrect spacing in Card component"
### Describe the bug

We tried to fix this issue on a [previous PR](https://github.com/ethereum/ethereum-org-website/pull/8132) but it looks like it is not covering correctly all the cases.

### To reproduce

1. Go to https://ethereum.org/en/staking/solo/#why-stake-solo
2. See incorrect spacing styles

### Expected behavior

The 3 cards should not have any spacing between the title and the content

[2022-11-21 16:00] pettinarip commented on #8638
Thanks @amit-ksh

[2022-11-21 16:04] pettinarip commented on #8632
@adi29raj assigned

[2022-11-21 18:04] samajammin opened #8698 "Add ethereumjs client as an execution client?"
### Is your feature request related to a problem? Please describe.

AFAIK the @ethereumjs/client is a complete Ethereum client implementation:
https://github.com/ethereumjs/ethereumjs-monorepo/tree/master/packages/client

### Describe the solution you'd like

So far we list it as an EVM implementation:
https://ethereum.org/en/developers/docs/evm/#evm-implementations

But perhaps we should also add

[2022-11-21 18:51] g11tech commented on #8698
would love to see ethereumjs up there, as we believe that we are upto date with the EIP implementations in production and run any mainnet block provided pre-state is  available

(we can do this - running mainnet blocks- in limited capacity currently by hooking up ethereumjs with an ethers provider to provide us state data to run any block). And this works in browser too.

Overall:

i) We have to a

[2022-11-21 20:40] Powell14 commented on #6439
I initially invested a total of $115,000 over a period of 5 weeks with my broker. My bonus/profit was $402,798 every attempt to make withdrawal failed and i was instructed to make another deposit of $25,000 before I can make withdrawals which i did. Yet i was unable to make withdrawals and all attempt to contact broker proved futile . This became very pathetic as i felt so bad losing my investment

[2022-11-21 20:43] Phillipswilliams commented on #6439
You need the best recovery expert at CRYPTOCYBERNET(at) GMAILC0M to rescue you from your crypto theft schemes. Lot of con artists have ventured into the crypto investment space where one tend to lose money on daily basis all with the intend and promise to earn huge profits. No one is bigger than these evil schemes cause this people are smart in their ways. They tend to provide contact agreement wi

[2022-11-21 20:45] Jack18056 commented on #6439
HIRE THE CERTIFIED AND GUARANTEED CRYPTO RECOVERY AND PHONE SPYING EXPERT AT REMOTESPYTECH

Finding out that your husband or wife has been unfaithful isn’t just a time of profound heartbreak and shock, it’s also a time of intense confusion . At certain points desperate measures are our only resort and we take them, finding a trustworthy infiltrator can be a lifeline and I sure used one to save my

[2022-11-21 21:46] marvintidd commented on #6439
Binary options is more of a ponzi scheme and gamble if you ask me, especially when your broker decides to invest on your behalf. That's how I lost all my funds to a scam company. They claimed they invested on my behalf, imagine!  Anyway, long story short, I did research and got connected to a professional from a recovery firm to do an investigation on these guys and I got my money back within days

[2022-11-22 05:42] adi29raj commented on #8635
Hi @pettinarip , Hope this helps in assigning this issue to me.

[2022-11-22 09:22] nsexer opened #8704 "Bug report"
### Describe the bug

Broken link on https://ethereum.org/en/learn/#what-is-ethereum-used-for:
 More on Ethereum use cases > 📃Blockchain in developing countries > http://governance40.com/wp-content/uploads/2019/06/Blockchain-in-Developing-Countries.pdf

### To reproduce

1. Visit 'https://ethereum.org/en/learn/#what-is-ethereum-used-for'
2. Click on 'Blockchain in developing countries'

### Expect

[2022-11-22 09:30] potions1 opened #8705 "ethermail"
https://ethermail.io/ ethermail email commination for Ethereum wallet users

[2022-11-22 14:42] #8559 closed

[2022-11-22 14:51] danierod commented on #8583
Since PR from @armgp was abandoned, I'll work on this issue.

[2022-11-22 14:59] armgp commented on #8583
sorry i am new to contributing and I accidentally reset all my commits🥲

[2022-11-22 17:53] hsghn opened #8716 "Yes"

[2022-11-22 21:39] vdusart opened #8718 "Emoji misalignment on Tutorial Metadata"
### Describe the bug

On the tutorial list page and on the tutorial page, the metadata are not aligned

### To reproduce

1. Go to [a tutorial](https://ethereum.org/en/developers/tutorials/short-abi/) or [the list of tutorials](https://ethereum.org/en/developers/tutorials/)
2. Look at the tutorial metadata (part just bellow the title)
3. See the not aligned elements (icons and texts)

### Expected

[2022-11-23 02:48] jane57890 commented on #6439
Have you been defrauded by deceptive Bitcoin traders ,fake binary options wrong investment platforms? I personally will recommend no one other than smart contract forensic team at ([Caltechrecovery@gmail.com](mailto:Caltechrecovery@gmail.com)) ,This is the least I could do for them after they saved my life by helping me recover up to 54.4BTC in less than two weeks from an online investment ripper

[2022-11-23 06:03] Jack18056 commented on #6439
The world would have been a better and the safest place if everyone can deliver services just like (support@Bestcryptohacker.com) who was able to recover my stolen 525,000 USDT from a fake binary trading platform I registered and invested with via google ads. They were able to make this possible using some tracing software and within few hours o wrote this team I retrieved the first tranche of my

[2022-11-23 09:26] #8716 closed

[2022-11-23 09:31] minimalsm commented on #8654
Hey @Rodrigolvc, thanks for raising this.

For the proposed survey, could you confirm:

- How do you anticipate the data being used?
- Will the results be made public?

[2022-11-23 09:33] #8558 closed

[2022-11-23 11:48] minimalsm commented on #8654
Also, when would this survey run? Does it have a start and end date?

[2022-11-23 15:49] pettinarip opened #8721 "Investigate & create spike to extract translation strings from the code"

[2022-11-23 16:39] samajammin commented on #8683
Related to #8611

[2022-11-23 18:21] Rodrigolvc commented on #8654
- The data will be used to determine the causes of centralization, create visual data, and inform our strategy to mitigate centralization. The survey is anonymous unless participants want a POAP; we will issue POAPs and delete the email list.
- Results will be publicized.
- We anticipate running it for two weeks.

[2022-11-23 18:35] MARVINCECIL opened #8722 "Suggest a glossary term"
### Checklist

- [X] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [X] This term/definition is not a product advertisement or contain other promotional content
- [X] This term/definition is directly relevant to Ethereum

### Term name

MARVIN CECIL

### Term definition

Anyone out there seeking to rec

[2022-11-23 19:04] Rodrigolvc commented on #8654
- Starting the 2022/11/29

[2022-11-23 21:38] ChelseaLola commented on #6439
### **[ULTIMATE HACKER JERRY IS CURRENTLY HELPING SCAM VICTIMS RECOVER THEIR FUND](url)**

GOT SCAMMED?????...It's not too late,,, Hire  A licensed professional hacker ,
Contact ULTIMATE HACKER JERRY
To recover your Scammed Bitcoin/Scammed funds/ Cryptocurrency/ Recovery of Stolen bitcoin / Bitcoin Mining/ Increase your Credit score/ MOBILE SPY REMOTE CONTROL ACCESS AUTHORIZATION.
(Ultimatehackerj

[2022-11-23 21:39] ChelseaLola commented on #6439
**### [ULTIMATE HACKER JERRY IS CURRENTLY HELPING SCAM VICTIMS RECOVER THEIR FUND](https://ultimatehackerjerry.mystrikingly.com/)**

GOT SCAMMED?????...It's not too late,,, Hire  A licensed professional hacker ,
Contact ULTIMATE HACKER JERRY
To recover your Scammed Bitcoin/Scammed funds/ Cryptocurrency/ Recovery of Stolen bitcoin / Bitcoin Mining/ Increase your Credit score/ MOBILE SPY REMOTE CONT

[2022-11-23 21:40] Phillipswilliams commented on #6439
👆👆👆I am very sorry to hear about your loss, please don't do anything drastic.  I was also scammed over $45,000k but got my funds recovered back through the name…CryptocyberNet@gmail . Com channel he can help you recover your lost.

[2022-11-23 21:42] Jack18056 commented on #6439
The world would have been a better and the safest place if everyone can deliver services just like ([support@Bestcryptohacker.com](mailto:support@Bestcryptohacker.com)) who was able to recover my stolen 525,000 USDT from a fake binary trading platform I registered and invested with via google ads. They were able to make this possible using some tracing software and within few hours o wrote this te

[2022-11-24 00:23] vdusart commented on #8718
Hey @pettinarip, I took a look at it and here is what I found for the moment.
I don't know why but the `:writing_hand:` emoji creates an empty node in the span (just bellow the `img` tag) as you can see on the image bellow
![image](https://user-images.githubusercontent.com/43795504/203667734-ebdd84e6-d54d-442e-a936-c7a19453c5f5.png)

When I delete we obtain the wanted result
![image](https://user-

[2022-11-24 02:56] TylerAPfledderer commented on #8718
@pettinarip @vdusart  The global `img, svg, video, canvas, audio, iframe, embed, object` multi-selector has `display: block` which is causing the white space (very strange indeed this is only happening with the one emoji!).

I would advise going into the descendant selector of [Emoji](https://github.com/ethereum/ethereum-org-website/blob/cd0c9575bcffb068538568f3d3cbae76b8564021/src/components/Emoj

[2022-11-24 03:29] IstoraMandiri opened #8725 "Bug report: Blank page with cookies disabled"
### Describe the bug

When visiting ethereum.org with cookies disabled, the static HTML loads and is visible for a few seconds as the page loads. As soon as the JavaScript is hydrated, the website goes completely blank and errors appear in the console (see below). The issue does not occur when cookies are enabled, or if Javascript is disabled.

This bug also occurs in the latest v4 gatsby-starger-

[2022-11-24 04:04] TylerAPfledderer commented on #8697
I have a couple of thoughts here! 😄

I'm wondering, because there are components involved that are rendered in the `Card` via `children`, maybe they need to apply their own spacing styles versus letting `Card` do most of the heavy lifting.

Between the two site pages being referenced here and in the related GH Issue, the quick solution I see is to remove `justifyContent` within `Card` and apply `m

[2022-11-24 13:04] soheil555 commented on #8632
Hey @pettinarip

I've completed the migration of `BeaconChainActions.tsx`.
I would like to work on another component.

[2022-11-24 14:36] pettinarip commented on #8552
Agreed with everything you described.

+1 on leaving `TableOfContents` as it is. It's pretty different from the other ones.
+1 on combining the other two, `UpgradeTableOfContents` & `StakingHomeTableOfContents`

In terms of data structure, I would lean toward using the [mdx `tableOfContents` data structure](https://www.gatsbyjs.com/plugins/gatsby-plugin-mdx/#graphql-mdx-node-structure) as you said

[2022-11-24 14:40] wackerow commented on #8552
Yeah, this sounds good. It's that root staking page (not markdown) that made this more difficult. If we can optionally pass the custom id I think that would be a good solution

[2022-11-24 15:06] pettinarip commented on #8500
Correct. I think we should have a `ul` for each sublist.

Maybe something like this 🤔
[code]

In terms of timing, the `Nav` is not listed yet on the migration to Chakra. So...if someone wants to tackle this now or in the following weeks, I would say let's do it.

**Note**: I'll block this issue if I see that we are migrating it and no one has picked it yet.

[2022-11-25 14:31] metadiver commented on #8633
HI @pettinarip, I'm new here, I would like to work on this one to start with. Can you assign it to me please?

[2022-11-25 17:24] Asorehackcorp commented on #6439
ASOREHACKCORP is a financial regulator, private investigation and funds recovery body. We specialize in cases as regards ETHICAL HACKING, CRYPTOCURRENCY, FAKE INVESTMENT SCHEMES and RECOVERY SCAM. We are also experts in CREDIT REPAIR, we analyze what’s impacting your score.
All software tools needed to execute RECOVERIES from start to finish are available in stock and NO UPFRONT FEE is required. K

[2022-11-25 22:10] TylerAPfledderer commented on #8552
Thank you all for these thoughts. 🤘

I'll wait for PR #8703 to be reviewed and merged, then go ahead and tackle this further.

[2022-11-26 04:03] ImMiguelP commented on #8632
Hey @pettinarip can I get  `PostMergeBanner.tsx` , StakingGuides.tsx ,  StakingHowSoloWorks.tsx ,assigned to me please.

[2022-11-26 11:03] pk-aneesh opened #8740 "transaction"

[2022-11-26 11:04] pk-aneesh opened #8741 "wallet"

[2022-11-26 12:02] amit-ksh commented on #8638
Hey @pettinarip!, I was facing issues migrating the `SimpleTable.tsx` using Chakra `Table`. I was not able to make the Table row a link. Can you help me, please??
Here is the current code-

![tablerow](https://user-images.githubusercontent.com/91947037/204087789-6aa5ddbf-e4d6-4746-83a7-8f78e507b63d.png)

[2022-11-26 12:41] 1kko-ahnlabio opened #8742 "Suggest a wallet"
### Wallet name

ABC Wallet

### Wallet description

Secure and convinient Multichain wallet by security company.

### Wallet logo

![favicon_400](https://raw.githubusercontent.com/ahnlabio/abcwallet-extension-provider-api/93841ec6e990c654c933cddffab6fa00783b0372/icon/favicon_400.png)

### Background color for brand logo

#000000 or #ffffff

### URL to the project

https://myabcwallet.io/

### Whe

[2022-11-27 06:28] amit-ksh commented on #8637
Hey @pettinarip! Can I work on this one?

[2022-11-27 18:18] mushketyk opened #8748 "Suggest a tutorial"
### Tutorial title

Developing Applications on Ethereum Blockchain

### Tutorial description

In-depth course about developing DApps on Ethereum

An in-depth course about developing full-stack applications on the Ethereum blockchain. The course starts with the basics of the Ethereum protocol and its infrastructure. Then it goes into the Solidity programming language, setting up a development envir

[2022-11-28 02:25] ForrestChew opened #8749 "Fix Typo"
### Describe the bug

There is a typo. The word "in" should be "is".

### To reproduce

1. Go to https://ethereum.org/en/developers/tutorials/yellow-paper-evm/#91-basics
2. Press CTRL + F and search for _The maximum size of the stack in 1024 bytes._

### Expected behavior

The word "in" should be replaced with "is"

### Screenshots

_No response_

### Desktop (please complete the following informa

[2022-11-28 06:02] Austindgk23 opened #8751 "Mine"

[2022-11-28 14:39] #8581 closed

[2022-11-28 15:02] #8571 closed

[2022-11-28 15:04] nvitorovic opened #8764 "Add links to Tenderly platform"
The links to Tenderly development platform (website, docs, discord) are missing from several pages:

- [Community Support](https://ethereum.org/en/developers/docs/frameworks/)
- [Frameworks list](https://ethereum.org/en/developers/docs/frameworks/)
- [Nodes and clients](https://ethereum.org/en/developers/docs/nodes-and-clients/)
- [Node as a service](https://ethereum.org/en/developers/docs/nodes-a

[2022-11-28 15:06] nvitorovic commented on #8764
I can take this one!

[2022-11-28 15:17] minimalsm opened #8767 "Remove mentions of specific node provider projects from developer docs"
### Is your feature request related to a problem? Please describe.

Currently, we get PRs every few weeks from node providers to be added as a suggestion directly in the copy of the page.

- [Example 1](https://github.com/ethereum/ethereum-org-website/pull/8554/files#r1025642625)
- [Example 2](https://github.com/ethereum/ethereum-org-website/pull/8666/files)
- [Example 3](https://github.com/ethere

[2022-11-28 15:29] pettinarip commented on #8344
Bundles after changing the lib:
![image](https://user-images.githubusercontent.com/468158/204316548-23c9982d-94fa-4090-bfad-385fa832c0ad.png)

Closing.

[2022-11-28 15:29] #8344 closed

[2022-11-28 15:37] GregoireSkillZ commented on #6447
I’m honored to announce today that we have completed a $17 million Series A funding round, led by Illuminate Financial.

Announcing our $17M Series A

to expand our staking offering

Final version (https://cTyHJ04.na1.hubspotlinks.com/Ctc/GE+113/cTyHJ04/VXcGtw5flvwmVw5DCc5XXYcPW8LzBkh4SXzq3N1m0Frc2-1nyV1-WJV7CgHTPW4trqlN2q-qYHW8N1v_q2TmqgdN4rv3bPf-3Q2W2NXljc3d_SyRN26fYyKkBFpwW7BLY6w4176zgW7bd3M18n

[2022-11-28 15:57] pettinarip commented on #8632
Assigned `BannerGrid/index.tsx` @soheil555 & the requested ones to you @ImMiguelP. Ty!

[2022-11-28 15:57] pettinarip commented on #8637
Done @amit-ksh 🙏🏼

[2022-11-28 16:20] UliGall opened #8769 "Fix wrong unit in chart energy consumption"
### Describe the bug

The `<EnergyConsumptionChart />` element in [src/content/energy-consumption/index.md](https://github.com/ethereum/ethereum-org-website/blob/dev/src/content/energy-consumption/index.md) has a wrong caption.

It says _Annual Energy Consumption in TW/yr_, but it needs to be _Annual Energy Consumption in TW**h**/yr_. Note the missing **h**.  Everywhere else it's correct.

### To

[2022-11-28 16:22] UliGall commented on #8769
@jmcook1186 tagging for visibility; I'd submit a PR, but couldnt find the file that I needed to change.

[2022-11-28 16:25] jmcook1186 commented on #8769
ok - thanks for the catch!

[2022-11-28 16:45] #8639 closed

[2022-11-28 16:47] nloureiro commented on #8654
@Rodrigolvc, is there a reason for the survey to be "anonymous"? In the sense that it does not have a brand/name/organized by and no link to who's behind the survey? Is it on purpose?

At the top is: "We are interested in creating informative and educational ...."
Who are "we"?

The idea is to give some credibility and assurance of who is behind this; it helps to trust and, therefore, to fill it.

[2022-11-28 16:48] karasakalmt commented on #5354
I found out that you don't need to re-declare the event on the contract since it will be the same line of code they probably reducted to not re-declare on the contract. So just delete the event declerations that does exist in the interface. Better option can be keeping your events inside your interface and you can focus on the logic part on contract side.

[2022-11-28 16:56] pettinarip commented on #8551
Got it @TylerAPfledderer. I'm assigning `TutorialTags` to you since there is not much migration to do there apart from the `Pill` component & the assignee hasn't shown any activity yet.

[2022-11-28 17:40] TylerAPfledderer commented on #8551
@pettinarip understood. Thank you!

[2022-11-28 17:46] Rodrigolvc commented on #8654
@nloureiro @minimalsm
I think it's a good point. We've updated the survey; it now explains that it is a collaboration between ETHStaker and the EF. Should we make it more explicit? I agree it is better to define who is running the survey.

[2022-11-28 18:02] pettinarip opened #8772 "Implement Chakra's Breadcrumbs component"
### Is your feature request related to a problem? Please describe.

Currently we have [a custom implementation](https://github.com/ethereum/ethereum-org-website/blob/dev/src/components/Breadcrumbs.tsx) of the Breadcrumbs component.

### Describe the solution you'd like

Replace the current implementation using the [Chakra's Breadcrumbs component](https://chakra-ui.com/docs/components/breadcrumb/us

[2022-11-28 19:54] wackerow opened #8773 "Remove Ropsten and Rinkeby from nodes-and-clients page"
### Describe the bug

Ropsten and Rinkeby testnets are in the process of being deprecated.

According to a previous [blog post](https://blog.ethereum.org/2022/06/21/testnet-deprecation), Ropsten is due to be deprecated by the end of this year (Q4 2022), and Rinkeby (which never underwent a merge upgrade) is due to be deprecated by mid next year (Q2/Q3 2023).

Given Ropsten deprecation is essential

[2022-11-28 20:25] TylerAPfledderer commented on #8551
@pettinarip Created a PR #8774 for this component.

[2022-11-28 22:20] AdebolaEgunjobi opened #8776 "Request for a Simple Introduction to Ethereum (Idiot's Guide)"
Someone please create a simple introduction to Ethereum - like an Idiot's Guide. The whole thing is quite confusing and getting more so!! People like me are scared away by the seeming complexity and deep amount of detail. I'm finding it hard to know where to start learning!

[2022-11-29 00:08] Jamalgunt6 commented on #6439
**A total of 4btc was lost to a fake platform I came across on IG .ever since then I have worked with several Recovery Agents to see if I could get my btc back but none could finish up the task given , most of them got stuck at some point , nothing positive came out of it all till I came to know about this very last Agent that I reached out few weeks back , the recovery process was so damn good an

[2022-11-29 08:03] Phillipswilliams commented on #6439
When searching for the best cryptocurrency wallet to keep your cryptocurrencies, one very important thing that comes to mind is the reliability and flexibility of the app due to the variety of options that could be explored in cryptocurrency trading and investment.One core value is the assurance that your cryptocurrency is safe as market prices fluctuate.  I've made use of some crypto apps in the

[2022-11-29 10:39] cyybhzw opened #8780 "test-eth"

[2022-11-29 13:25] thahemperor opened #8781 "Suggest a wallet"
### Wallet name

OKX

### Wallet description

OKX Web3 Wallet is a developer-friendly blockchain wallet, featuring multichain, security, and decentralized aspects

### Wallet logo

![2F97504D-DD2F-491E-935C-41235DE58239](https://user-images.githubusercontent.com/119421319/204537000-9bc3f5cf-8ee9-4f2f-82d7-588310ca9919.jpeg)

### Background color for brand logo

#000000

### URL to the project

htt

[2022-11-29 14:16] ChelseaLola commented on #6439
How Can I Recover BTC Sent To BCH (BCHABC) Or Vice Versa?

GOT SCAMMED?????...It's not too late,,, Hire  A licensed professional hacker ,
Contact ULTIMATE HACKER JERRY
To recover your Scammed Bitcoin/Scammed funds/ Cryptocurrency/ Recovery of Stolen bitcoin / Bitcoin Mining/ Increase your Credit score/ MOBILE SPY REMOTE CONTROL ACCESS AUTHORIZATION.
mail at Ultimatehackerjerry@seznam . cz

How Can

[2022-11-29 14:32] ChelseaLola opened #8784 "Feature request"
### Is your feature request related to a problem? Please describe.

How Can I Recover BTC Sent To BCH (BCHABC) Or Vice Versa?

GOT SCAMMED?????...It's not too late,,, Hire  A licensed professional hacker ,
Contact ULTIMATE HACKER JERRY
To recover your Scammed Bitcoin/Scammed funds/ Cryptocurrency/ Recovery of Stolen bitcoin / Bitcoin Mining/ Increase your Credit score/ MOBILE SPY REMOTE CONTROL AC

[2022-11-29 17:57] samajammin commented on #8654
Overall I support this initiative but I am a bit wary on creating a slippery slope when it comes to community members requesting to add surveys on ethereum.org. e.g. I could see many researchers across the ecosystem wanting to create surveys on the website. We should have some sort of criteria for why or why not we decide to add a particular survey.

Criteria that comes to mind:
- making it clear

[2022-11-29 23:06] jaymeh13 opened #8792 "Launchcaster"
* Name: Launchcaster
* Tagline: A place to share and discover new Web3 projects.
* Link: https://www.launchcaster.xyz/
* Image: https://pbs.twimg.com/profile_images/1580949361630085122/GoIJf7ME_400x400.png
* Category: Technology

[2022-11-30 06:41] amit-ksh commented on #8632
Hi @pettinarip I'd like to work on a couple of components!

[2022-11-30 19:42] TylerAPfledderer commented on #8772
@pettinarip I can take this!

[2022-11-30 21:01] totoCZ opened #8797 "Suggest a staking product or service"
### Project name

Squid

### Product type

Staking as a service

### If other product type, please describe

_No response_

### Logo

![squid Logo - Black with Transparent Background](https://user-images.githubusercontent.com/5316250/204906808-79539a06-37fe-4fb7-be99-bbebb58049d9.svg)

### Description

Squid specializes in building and operating infrastructure for Ethereum users and also offers a

[2022-11-30 21:30] #8784 closed