[2021-12-02 13:22] #4547 closed

[2021-12-02 13:31] minimalsm commented on #4537
@lemiesz I've assigned you to this. The first step would be just removing the link from the community page. Although as Sam noted we probably want to decide which (if any) we want to keep. Looks like the Remix team is still pretty active on Gitter.

[2021-12-02 13:56] minimalsm commented on #3971
Closed by #4256

[2021-12-02 13:56] #3971 closed

[2021-12-02 16:05] samajammin commented on #4237
There's a Gatsby issue on providing an option to remove it from production build - perhaps we can bump there: https://github.com/gatsbyjs/gatsby/issues/23629

[2021-12-02 16:13] samajammin commented on #4237
@Aldekein thanks for raising this issue!

I don't have a solid understanding of what the stats.json file exposes, but is it any different from our site being open source & available on GitHub? Any malicious actor can already inspect our package.json to view our dependency graph, no?

[2021-12-02 16:25] DPXIV opened #4619 "hello"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2021-12-02 16:38] lukassim opened #4621 "Fix typo in Raspberry Pi node tutorial"
**Describe the bug**

The ''How to turn your Raspberry Pi 4 into a node'' contains a typo.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to (https://ethereum.org/en/developers/tutorials/run-node-raspberry-pi/#recommended-hardware-and-setup)
2. Scroll down to ''Recommended hardware and setup''
3. In the second line, ''MicroSD Card (16 GB Class 10 minimun)'' contains a typo

**Expected b

[2021-12-02 17:41] sanket-kogekar commented on #4542
I would like to take this! @minimalsm

[2021-12-02 18:07] samajammin opened #4622 "Add headers to all markdown files"
**Describe the bug**

With update to how we support language translations (#4441) we now rely on markdown headers to determine if files are up to date or not.

We have some markdown pages that do not have any headers. They should - this is also best practices for SEO.

**To Reproduce**
1. Run `yarn build` on the project.
2. See `regex error` logs

**Expected behavior**
We should receive any `regex

[2021-12-02 20:02] geoffhull03 commented on #4621
@lukassim Could you please assign me this one? I'm new to open-source contributing, but this one seems very doable 😄

[2021-12-02 20:31] lukassim commented on #4621
@geoffhull03 Sure, feel free to take a crack at this.

[2021-12-03 10:43] minimalsm commented on #4622
These are the two tutorials causing the regex errors:

- https://ethereum.org/en/developers/tutorials/interact-with-other-contracts-from-solidity/
- https://ethereum.org/en/developers/tutorials/logging-events-smart-contracts/

[2021-12-03 11:24] #4621 closed

[2021-12-03 11:34] #4609 closed

[2021-12-03 11:40] #4619 closed

[2021-12-03 12:00] vluna commented on #4598
@minimalsm PR in here #4626, let me know if there are any changes.

[2021-12-03 12:34] minimalsm opened #4633 "Redundant translation files (developer docs)"
**Describe the bug**

Many of our non-English languages have duplicated files that were not removed when we refactored the file structure.

For example:
- [src/content/translations/developers/docs/programming-languages/rust/index.md](https://github.com/ethereum/ethereum-org-website/blob/dev/src/content/translations/zh/developers/docs/programming-languages/rust/index.md)
- [src/content/translations

[2021-12-03 18:52] m-t-a97 commented on #4608
Thank you for assigning the issue to me. I have created a PR for it now.

[2021-12-03 20:53] lemiesz commented on #4537
Thanks was a bit busy with work yesterday, but will take a deeper look at this tonight/tomorrow.

[2021-12-04 12:21] maximgeerinck commented on #4261
Any update?

[2021-12-04 19:57] minimalsm commented on #2585
@samajammin

Until this is solved I believe we're blocked on the CrowdIn to Github automation?

[2021-12-04 20:02] samajammin commented on #2585
Depends on the implementation but I don't think this should impact the GH <> Crowdin integration at all. Particularly if we can implement option D.

[2021-12-04 23:22] minimalsm opened #4648 "Multiple H1 tags on use-cases template"
**Describe the bug**

The use-cases template has two H1s. This is bad for the page's accessibility and SEO.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/nft/'
1. See error

**Expected behavior**

There should only be one H1 tag on the page. (Aesthetic/design of the page should not change, a different tag can be styled the same as the H1)

**Screenshots**

!

[2021-12-05 04:43] mskalisz commented on #4542
Has this issue been addressed? If not, I'd be happy to try to work on it! Thanks!

[2021-12-05 05:52] nwoodr94 commented on #4560
Hey all, thanks for your help and feedback on this.

I'll just share my results for those who might appreciate a simpler, or otherwise alternative graphic in the future.

From the Ethereum whitepaper:

I propose the below graphic, which illustrates this system and meets my needs.
![ethereum-state-transition-new](https://user-images.githubusercontent.com/46133948/144734715-87998cd5-21b8-4a0e-974a-e

[2021-12-05 05:54] SNikhill commented on #4648
@minimalsm

Sir, may I please have this issue?

[2021-12-05 11:16] aghArdeshir opened #4651 "Switch chart length would make the chart visuals corrupted"
**Describe the bug**

In some scenarios with some data, switching charts in landing page from 30 Days to 90 Days would make the Nodes count chart unreadable.

**To Reproduce**
Steps to reproduce the behavior:

1. Open landing page
2. Use mock data at the end of this issue (they are real data)
3. Scroll down to charts section (Ethereum today)
4. Switch to 90 Days and back

**Expected behavior**

Ch

[2021-12-05 15:49] Mocktic commented on #4542
@minimalsm  I can work on this if possible. It's an easy fix!!!

[2021-12-05 16:50] samajammin commented on #2778
FYI current work on #4271 will solve this.

[2021-12-05 16:52] samajammin commented on #2778
@minimalsm do you still notice this issue on the recent Gatsby v4 preview deploys (e.g. #4324)?

[2021-12-05 16:55] samajammin commented on #2778
I actually do notice the quality being worse... 🧐

e.g. look at the hero on https://build-67666ca9-da4b-4126-841f-d7bf9bf4842b.gtsb.io/en/what-is-ethereum/ vs https://ethereum.org/en/what-is-ethereum/

Might just be a matter of configuring the new plugin? cc @wackerow @pettinarip

[2021-12-05 17:01] wackerow commented on #2778
@samajammin Yeah, there is a `quality: 100` parameter that we can add on the image queries. I added this to all images marked as "hero" but not every single image on the site. I didn't do this by default everywhere, but maybe it's worth it. Can push a patch to max out the gatsby image quality.

[2021-12-05 17:15] minimalsm commented on #4648
@SNikhill thanks for offering to help. I've assigned you to this 👌👌

[2021-12-05 17:16] samajammin commented on #2585
For the record we are currently go with approach B (manually updated image paths of translated files) to solve this (which is NOT ideal).

[2021-12-06 10:52] minimalsm opened #4655 "Add section on crypto mining pool scams"
**Is your feature request related to a problem? Please describe.**

Crypto mining pool scams seem to be the newest popular attack vector for scamming people out of their crypto. We should add this to our security page (and try to optimise for ranking for the term @samajammin ?)

**Describe the solution you'd like**

Add a section on crypto mining pool scams here on our [security and scam preventio

[2021-12-06 12:37] minimalsm opened #4657 "Sort meetup list"
**Is your feature request related to a problem? Please describe.**

Currently our meetup list is displayed [in the order they are entered into the array](https://github.com/ethereum/ethereum-org-website/blob/16e8705bd3f0c8fe6b3bd90281fdbe53ab9c39f0/src/components/MeetupList.js#L7). This might be giving older events more visibility than newer ones.

**Describe the solution you'd like**

Until we co

[2021-12-06 13:24] patcito opened #4658 "gatsby develop errors with `../intl/en.json` missing"
When I start `gatsby develop` I get the following error. I couldn't find a way to generate this intl/en.json file. Any help appreciated.

[code]

[2021-12-06 14:01] joneskj55 commented on #4655
@minimalsm I'd like to take this one if possible.

[2021-12-06 14:05] amm98d commented on #4657
Hi, I would like to be assigned to this issue.

[2021-12-06 14:35] #4608 closed

[2021-12-06 14:54] vluna commented on #4598
@minimalsm My apologies, I completely disregard the second screenshot! I will fix it and open a new PR for it.

[2021-12-06 14:54] james-prysm commented on #3921
saw the bot mark this as stale. I think @wackerow has been working on this but not sure if any direction has changed.

[2021-12-06 17:55] corwintines commented on #4657
I think we should sort by country in my opinion.

[2021-12-06 18:51] samajammin commented on #4657
Agreed, I think this makes more sense vs. random sort. As a visitor I want to see meetups in my city grouped together.

[2021-12-06 19:29] amm98d commented on #4657
Agreed and  understood. I submitted a PR, let me know if I can work on this and I'll push an update to it.

@corwintines
@samajammin

[2021-12-06 21:04] vluna commented on #4598
@minimalsm here is the PR with the fix for the second part #4667. Let me know if there are any issues.

[2021-12-06 21:55] rigingstardev opened #4668 "First:ethereum"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2021-12-06 21:58] rigingstardev opened #4669 "new:first"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2021-12-06 22:12] samajammin commented on #4657
Thanks @amm98d! Feel free to move forward with an update, we chatted with @minimalsm offline about this.

FYI we do have lodash installed on this project, so you could probably use something like `sortBy` for this: https://lodash.com/docs/4.17.15#sortBy

[2021-12-06 22:28] pettinarip commented on #2585
Might be worth to look at https://www.gatsbyjs.com/plugins/gatsby-plugin-module-resolver/ where we could start by the basic resolution of `src`:

[code]

Note: I don't know if this is going to work from inside the md files, this is something to test.

[2021-12-07 00:53] decipherer2 opened #4672 "Proof of Attendance Protocol (POAP)"
**Checklist**

- [ ] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [ ] This term/definition is not a product advertisement or contain other promotional content
- [ ] This term/definition is directly relevant to Ethereum

**Term Name:** Proof-of-Attendance-Protocol (POAP)

**Term Definition:**

 Alows

[2021-12-07 04:03] mohfarhann opened #4673 "ETH"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2021-12-07 06:23] amm98d commented on #4657
Sounds great! Will push an update soon :)

[2021-12-07 06:25] samajammin commented on #4655
Thanks @minimalsm - I'm not too aware of these scam but trust you take & the sources.

When you say rank for terms, what terms are you referring to?

[2021-12-07 06:28] samajammin commented on #4672
Thanks for the suggestion!

I'm a bit skeptical of this. POAP is certainly a popular term in the space but it's also a dapp/product built on Ethereum. Should we be listing products as glossary terms? Seems like a slippery slope. Should ENS be a glossary term? Should MetaMask?

[2021-12-07 06:30] decipherer2 commented on #4672
Sam,

I just thought it would be a good suggestion but after hearing your
thoughts I think it would be a slippery slope.
I'll look for some more glossary terms related to Ethereum itself. Thanks!

On Mon, Dec 6, 2021 at 10:28 PM Sam Richards ***@***.***>
wrote:

[2021-12-07 06:36] samajammin commented on #4633
I believe this is intended. Let's discuss @minimalsm @corwintines 🙂

[2021-12-07 06:37] samajammin commented on #4633
Ah no maybe you're right.

[2021-12-07 06:38] samajammin commented on #4633
If so we should probably just clean this up ourselves. Might be confusing to someone without the context.

[2021-12-07 11:31] #4673 closed

[2021-12-07 11:31] #4669 closed

[2021-12-07 11:32] #4668 closed

[2021-12-07 11:33] minimalsm commented on #4655
@joneskj55 all yours :-)

[2021-12-07 11:41] minimalsm commented on #4633
Already partially done in #4638. I believe we can trim a bit more here but wanted to start with the obvious ones.

[2021-12-07 12:01] amm98d commented on #4657
Hi @minimalsm, update pushed. Kindly check #4662.

[2021-12-07 13:42] alibabaei1380 opened #4677 "pless agree"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2021-12-07 13:43] alibabaei1380 commented on #4677
helo i'm study blackchain

[2021-12-07 14:36] minimalsm commented on #4361
Hey @rounakbanik 👋 sorry for not being able to review this sooner. At the moment we're swamped trying to keep up on [our Q4 roadmap](https://github.com/ethereum/ethereum-org-website/issues/4215). I'll try to take some time out of hours to review this in the next week. ❤️

[2021-12-07 14:41] rounakbanik commented on #4361
@minimalsm Thank you so much! Look forward to it. :)

[2021-12-07 15:50] corwintines opened #4679 "Add and implement the Link component in Markdown files"
**Is your feature request related to a problem? Please describe.**
The content created using markdown is using the `<a>` html. We should switch this over to using `<Link>` as we do throughout the project.

**Describe the solution you'd like**
- Add Link to templates used for markdown
- Go through markdown files and replace the `<a>` elements with `<Link>`

**Want to contribute?**

We love contribu

[2021-12-07 15:52] KarthikSundar2002 commented on #4679
I am interested in contributing to this PR

[2021-12-07 16:06] Sayantan-s commented on #4679
Please assign me this task if it's open? @corwintines

[2021-12-07 16:19] #4677 closed

[2021-12-07 16:20] minimalsm commented on #4679
@corwintines I think we already pass the `Link` component to the MDXProvider to replace the default behaviour of an <a> tag. [Is this what you mean?](https://github.com/ethereum/ethereum-org-website/blob/3636982ae2e34cdfcde41a941238b05dd2d1c4a1/src/templates/docs.js#L160)

[2021-12-07 16:22] minimalsm commented on #4672
@decipherer2 I agree with samajammin that it's a slippery slope to add this. Seems like you agree so closing this out :-)

[2021-12-07 16:22] #4672 closed

[2021-12-07 16:22] minimalsm commented on #4672
@all-contributors please add @decipherer2 for ideas

[2021-12-07 17:13] villarode commented on #4361
Please keep me posted as well lads) Cheers

On Tue, 7 Dec 2021, 17:36 Joshua, ***@***.***> wrote:

[2021-12-07 23:48] #4271 closed

[2021-12-08 03:53] MashaZhou666 opened #4686 "Is the world running out of Bitcoin?"
Unlike fiat currency like the U.S. dollar – as the Federal Reserve can simply decide to print more banknotes – Bitcoin’s supply is finite: BTC has a maximum supply embedded in its design, of which roughly 89 percent had been reached in April 2021. It is believed that Bitcoin will run out by 2040, despite more powerful mining equipment. This is because mining becomes exponentially more difficult an

[2021-12-08 06:00] Twan1409 opened #4688 "Ok"
bitcoin:bc1qur774a8hhggazag7sawu2c7k5ke059xzjw8dwe?label=12

[2021-12-08 06:01] Twan1409 commented on #4688
1Bf9sZvBHPFGVPX71WX2njhd1NXKv5y7v5

[2021-12-08 06:28] #4688 closed

[2021-12-08 06:28] Twan1409 commented on #4688
Ok

[2021-12-08 14:14] aguscruiz commented on #4648
@minimalsm I can also work in this issue if you need

[2021-12-08 14:28] nejdevyslovit opened #4691 "ja atom"
<img src="https://media2.giphy.com/media/l0K4kWJir91VEoa1W/giphy.gif"/>

[2021-12-08 15:08] minimalsm commented on #4648
Hey @aguscruiz, thanks for offering. @SNikhill is on this for now but if for any reason he can't complete I'll ping you 😬❤️

[2021-12-08 15:19] #4686 closed

[2021-12-08 18:37] aguscruiz commented on #3984
I have a proposal for the design. Here are my thoughts:

- The dropdown could be divided into sections, I divided here in the mock but I may not be correct on the division criteria (that's open to discussion obviously).
- We could only list the "most useful" learn articles at the dropdown, and have a "browse all topics" at the bottom to link to a Learn landing page with every article listed.
- I a

[2021-12-08 23:05] nikashitsa opened #4697 "Add Coin Wallet"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2021-12-09 22:38] pgupta212 commented on #4679
Hi corwintines

I would like to contribute to this PR

[2021-12-10 01:26] tburnam commented on #4679
@corwintines, please let me know if still available!

[2021-12-10 02:40] #4622 closed

[2021-12-10 04:44] wackerow opened #4710 "Dev docs contributors not fetching"
**Describe the bug**
Latest contributor and "See contributors" modal not fetching properly.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/docs/
2. Note the latest contributor is not shown

**Expected behavior**
Should fetch contributors for the file and display them.

**Screenshots**
![image](https://user-images.githubusercontent.com/54227730/14551

[2021-12-10 05:07] wackerow commented on #4633
@minimalsm Is this closed now with #4638?

[2021-12-10 05:19] corwintines opened #4711 "Setup Translation support for MeetupList component"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Refactor the MeetupList component to support translations.

**Additional context**

- Setup a json file with translations in `/intl/en`

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-12-10 05:20] corwintines opened #4712 "Setup UpcomingEventsList component to support translations"
**Describe the solution you'd like**
Refactor the UpcomingEventsList component to support translations.

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-12-10 05:22] corwintines opened #4713 "Add DAO card information in community/online.md"
**Describe the solution you'd like**
Setup a card and CTA for DAOs in the community/online.md file. This should come at the bottom of the page, and send the user to the DAO section of `/community/get-involved`

[2021-12-10 05:24] corwintines opened #4714 "Style events to look like a blockchain"
**Is your feature request related to a problem? Please describe.**
Would like to have the events listed on `/community/events` styled to have a connection between them to look like a blockchain. Some inspiration to draw from: https://bitcoin.org/en/events

**Additional context**
- Feel free to reach out to @corwintines about this

**Want to contribute?**

We love contributions from the Ethereum co

[2021-12-10 06:08] tburnam commented on #4714
I'd love to tackle this!

[2021-12-10 09:43] lemiesz commented on #4537
It seems like this page has already been edited and the gitter link is no longer there.

[2021-12-10 11:36] aguscruiz commented on #3984
@minimalsm thoughts?

[2021-12-10 12:20] ShubhankarKG commented on #2730
Is this still up for grabs? Wanted to know how to proceed on this one then.

[2021-12-10 13:26] Mtan6666666 opened #4720 "Send to you shiba Tracker"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2021-12-10 13:27] Mtan6666666 commented on #4720
Add To classic ethereum and in Shiba Tracker

[2021-12-10 14:32] Aldekein commented on #4237
Oh, that's a good catch :) I created this issue based on Detectify report without considering the open source nature of the website. `webpack.stats.json` [does not disclose](https://webpack.js.org/api/stats/) any extra information, so should be safe to keep as-is.

[2021-12-10 14:32] #4237 closed

[2021-12-10 17:23] wackerow commented on #4658
@patcito  hey! So this should be fixed at this point. Make sure you're up-to-date with the newest `dev` branch, which is now set up to properly load the translation files (like `../intl/en.json`) when you build the site.

If things are working now feel free to close this out, otherwise let us know if you're still having issues, thanks! =)

[2021-12-10 18:02] patcito commented on #4658
@wackerow still getting the same error, commit 957567c341f3ad91305c60f7d0b71dcaebfff839

[2021-12-10 19:49] wackerow commented on #4658
@patcito If you haven't, run `yarn` to make sure packages are up to date, and instead of just running `gatsby develop` make sure you're running `yarn start`... this will execute a `prebuild` script first which should generate all the translation files, then it runs `gatsby develop` for you after this has been done.

See `package.json` https://github.com/ethereum/ethereum-org-website/blob/957567c34

[2021-12-10 20:22] Hakeemmidan opened #4721 "Redesign: TableOfContents"
**Is your feature request related to a problem? Please describe.**

Not really. Just a redesign of `TableOfContents` component contents.

**Describe the solution you'd like**

From
| Inactive      | active |
| ----------- | ----------- |
| <img width="233" alt="Screen Shot 2021-12-10 at 11 07 54 PM" src="https://user-images.githubusercontent.com/27740273/145635782-daa2e0ab-f861-4d07-b3a2-2785c1925

[2021-12-11 05:44] mahdiomidvar78 opened #4724 "solidity"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2021-12-11 07:54] patcito commented on #4658
Thanks this worked!

[2021-12-11 07:54] #4658 closed

[2021-12-11 08:24] aghArdeshir commented on #4651
I'll just close issue as it's PR is merged: https://github.com/ethereum/ethereum-org-website/pull/4650

[2021-12-11 08:24] #4651 closed

[2021-12-11 14:26] Twan1409 opened #4726 "Ok"
bitcoin:bc1qrnazkjkhlfsjk68hvfxh4shyu893qql4lmfu26?label=Antwan%20Leshawn%20Rollins

[2021-12-11 15:17] Sl1van opened #4727 ""Edit page" points to the wrong URL"
**Describe the bug**

"Edit page" points to the wrong URL on multiple pages where you can edit the page via github. 2 examples are :
https://ethereum.org/en/defi/
https://ethereum.org/en/dao/

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [https://ethereum.org/en/defi/](https://ethereum.org/en/defi/)
2. Click on 'Edit page'
4. Now you should get a 404 because the page no longer exist

[2021-12-11 15:55] #4726 closed

[2021-12-11 15:55] #4724 closed

[2021-12-11 15:56] #4720 closed

[2021-12-11 15:56] corwintines commented on #4714
@tburnam assigning to you :) Let me know if you need anything.

[2021-12-11 17:28] corwintines commented on #4713
Hey @vluna, sorry for not responding. I had this on my plate to do so I took care of this one. Thanks for reaching out though!

[2021-12-11 20:52] samajammin commented on #4710
Noticed that in GC our `GATSBY_GITHUB_TOKEN_READ_ONLY` was a different value than in Netlify. Just replaced it & triggered a rebuild. We'll see if that fixes it. It's working for me when I run locally with `netlify dev`.

[2021-12-11 21:56] samajammin commented on #4710
This didn't seem to solve the issue 🤔

I am noticing this console error while running this locally:
[code]
Looks to be the same issue as here: https://github.com/styled-components/styled-components/issues/1198

I wouldn't expect this to break it but I wonder if that's somehow affecting things in prod build.

[2021-12-11 22:01] samajammin commented on #4710
A cleaner way to refactor that FileContributors might be to display the "skeleton" placeholder elements if `loading`, else render the actual components. Currently we are passing `loading` to the styled components which appears to be creating this error.

[2021-12-12 07:01] muddlebee opened #4753 "Feature: Add community links(gitter/matrix) for ethereum-solidity"
**Is your feature request related to a problem? Please describe.**

Community links for Solidity(https://github.com/ethereum/solidity) to be added here https://ethereum.org/en/community/online/

- Gitter: https://gitter.im/ethereum/solidity
- Matrix: https://matrix.to/#/#ethereum_solidity:gitter.im

Community Links Source: https://forum.soliditylang.org/

[2021-12-13 00:51] AndreasGassmann opened #4755 "AirGap Wallet"
**Is your wallet security tested? Please explain security measures i.e. security audit, internal security team or some other method.**

We have done a [security audit by a third party](https://github.com/airgap-it/airgap-coin-lib/tree/master/docs/audits).

**When did your wallet go live to users?**

We released the first version of the wallet about 4 years ago.

**Does your wallet have an active d

[2021-12-13 09:49] tlack29 opened #4756 "KinglackNFT"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2021-12-13 12:07] minimalsm opened #4757 "StatsBoxGrid result rendering as an H3"
**Describe the bug**

The StatsBox with charts on our homepage currently uses the H3 tag to render the result. I'm guessing this was done as a quick way to get font styling but it is poor for accessibility and SEO.

<img width="1423" alt="Screenshot 2021-12-13 at 12 03 21" src="https://user-images.githubusercontent.com/62268199/145809092-055c1023-1c5f-4a33-9847-39f70f38d88d.png">

**To Reproduce**

[2021-12-13 12:40] joneskj55 commented on #4757
@minimalsm I can take this one.

[2021-12-13 19:56] #4713 closed

[2021-12-14 01:30] Backling commented on #4755
thank you so much

[2021-12-14 01:34] #4655 closed

[2021-12-14 01:38] Backling opened #4767 "paribu.com"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2021-12-14 04:45] #4710 closed

[2021-12-14 09:27] minimalsm commented on #4757
Thanks @joneskj55, I've assigned you to this 👌

[2021-12-14 12:32] #4711 closed

[2021-12-14 12:32] #4712 closed

[2021-12-14 12:35] #4297 closed

[2021-12-14 13:17] Liares00 opened #4774 "Livros e publicações"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-12-14 17:00] victorlrz commented on #4721
@Hakeemmidan I would love to work on this :)

[2021-12-14 17:11] mitdralla commented on #4447
Hello @minimalsm 👋🏼  please let me know if you need any more information from us on the Numio listing - Thank you

[2021-12-14 18:00] Hakeemmidan commented on #4721
@victorlrz
There's a pull request for this already, unfortunately.
Thank you for the enthusiasm though! = )

PS: [This](https://github.com/ethereum/ethereum-org-website/issues/4026) seems like a similar issue (design/frontend related), and it's marked as 'stale', so it might be a good candidate to check out! ( ^___^ )

[2021-12-14 21:03] victorlrz commented on #4721
Oh thanks @Hakeemmidan :) I'll have a loook !

[2021-12-15 08:42] prakhar1144 commented on #4727
Please assign this to me.
I would like to work on this issue.

[2021-12-15 09:26] prakhar1144 opened #4784 "Missing Avatar and Invalid DateTime in Docs"
**Describe the bug**

1. We have a missing avatar
2. Last Edit date also shows **Invalid Datetime**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/docs/dapps/
2. Just after the title **INTRODUCTION TO DAPPS**
4. See error

**Screenshots**

![Screenshot from 2021-12-15 14-16-51](https://user-images.githubusercontent.com/56781761/146157973-66065bec-05

[2021-12-15 09:35] prakhar1144 commented on #4784
I would like to work on this issue.
Please Assign.

[2021-12-15 11:14] minimalsm commented on #4784
Hey @prakhar1144 thanks for the report. Unfortunately, this is something that can only be debugged using our production servers. We think we have a solid fix for this and should be pushing it out later today 🥰

[2021-12-15 11:31] #4757 closed

[2021-12-15 11:33] #4774 closed

[2021-12-15 11:33] #4756 closed

[2021-12-15 12:04] minimalsm commented on #4755
Hey @AndreasGassmann thanks for raising this :-) could you add the two newest questions (below) that we just added to our wallet template and I'll get this reviewed for you?

[2021-12-15 12:40] AndreasGassmann commented on #4755
@minimalsm I added the 2 new questions to the post. Let me know if you need anything else.

[2021-12-15 13:10] #4598 closed

[2021-12-15 17:14] wackerow commented on #4784
Note this issue was filed under #4710 and patched in #4763.

Unfortunately in the meantime, something is causing a bug on the homepage now, but the core issue of why the contributor data was not being fetched has been solved (`relativePath` was including `__dirname` at the beginning which included a second `src` folder).

[2021-12-16 03:40] evertonfraga opened #4793 "Bug: H3 ::before pseudo-element is preventing click interation with the elements above."
Hello!

H3 element has a pseudo-element (::before) with negative margin top, which prevents clicking on links within that range of 120px.

A quick fix would be to use `pointer-events: none` on that pseudo-element, but I'd chase a cleaner solution.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/dao/
1. Try to click on a link right before a H3 element.

**Expect

[2021-12-16 14:43] ShubhankarKG commented on #4727
Hi, I tried reproducing this, but all the links all working properly. Do you mind having a look again ?

[2021-12-16 16:39] samajammin commented on #3984
Thanks for the suggestion @aguscruiz! I like your proposal 😄

[2021-12-16 20:03] kum9748ar opened #4804 "The discord server link for Ethereum org website team was given twice"
**Describe the bug**

The discord server link for Ethereum org website team was given twice
**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/community/online/'
2. Click on 'chat rooms button'
3. Scroll down to '...'
4. See error

**Expected behavior**

**
![image](https://user-images.githubusercontent.com/67071462/146440748-04b24041-5e22-4fb9-b572-6faf38d2df8c.p

[2021-12-16 20:05] prakhar1144 commented on #4784
As mentioned earlier by [minimalsm](https://github.com/ethereum/ethereum-org-website/issues/4784#issuecomment-994688881), this issue is now fixed.

[2021-12-16 20:05] #4784 closed

[2021-12-16 20:06] prakhar1144 commented on #4727
Issue has been resolved.

[2021-12-17 07:56] Sl1van commented on #4727
I have no idea how i got the 404 last saturday but the problem seems to be solved now. I looked into the releases and can't find a change that addressed the issue.

[2021-12-17 07:56] #4727 closed

[2021-12-17 13:56] samajammin commented on #2304
This now has added importance given that we rely on header IDs to determine if a translated file is outdated our not (#4441).

[2021-12-17 14:39] #4542 closed

[2021-12-17 14:42] #4477 closed

[2021-12-17 15:29] #4804 closed

[2021-12-17 20:14] sorenrood opened #4820 "Add Replit to dev sandboxes section"
**Product name:**
Replit

**Product description:**
Replit is an online IDE for editing, hosting, and sharing code. A few months ago, we [released a solidity environment](https://twitter.com/Replit/status/1448708682234089477) that has gotten a lot of traction from both new and experienced solidity developers.

**How long has it been around?**
Replit has been around for 5+ years. Our solidity enviro

[2021-12-18 04:27] kennethcassel opened #4821 "Update Ethereum docs to make definition of Wallet and Account clearer"
The site has a conflicting definition of Wallets on two pages.

On https://ethereum.org/en/wallets, the definition is:

On https://ethereum.org/en/developers/docs/accounts/#a-note-on-wallets the definition is:

I brought this up in a [twitter thread](https://twitter.com/KennethCassel/status/1471854438126137352?s=20) and @samajammin agreed with the following suggested terminology from @wslyvh

Acco

[2021-12-18 04:30] kennethcassel commented on #4821
I'd like to be assigned to this issue :)

[2021-12-18 23:50] Badboythe2 opened #4824 "Swap"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-12-19 09:06] muddlebee opened #4825 "BUG: Links in the DAO section not clickable due to overlaying H3 tags from use-cases template"
**Describe the bug**

 Links in the DAO section not clickable due to overlaying H3 tags from use-cases template

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/dao/#join-a-dao
2. Click on all links under the section **Join a DAO** and **Start a DAO**
3. Few links are not clickable

**Expected behavior**
All links should be clickable

**Screenshots**

**Desktop

[2021-12-19 11:13] weiduxk opened #4826 "维度"

[2021-12-19 11:14] weiduxk opened #4827 "维度"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2021-12-19 11:18] weiduxk commented on #4827
维度

[2021-12-19 16:10] #4826 closed

[2021-12-19 16:11] #4827 closed

[2021-12-19 18:39] cdomashn commented on #3632
At the moment, I have some bandwidth to research Options for you if you would like.

In the interim, [https://ethereum.org/en/eth2/](url) probably needs to be updated manually. See Edition83 on [https://hackmd.io/@benjaminion/eth2_news/https%3A%2F%2Fhackmd.io%2F%40benjaminion%2Fwnie2_211203](url) ![Ben83](https://user-images.githubusercontent.com/58366873/146685963-caca9aff-ee18-4a8c-9214-18f381e5

[2021-12-19 18:43] cdomashn commented on #2810
Let me take a look at the logs/settings, etc.

[2021-12-19 18:56] cdomashn commented on #2325
If there is some do-able/reasonable sub-task I can start with without an organization, I am willing to give it a try.

[2021-12-19 20:00] jfhood opened #4830 "Bookoflife"
**Is your feature request related to there is a trust issue with crypto with the General Public there needs to be more personal use of the ethereum name service domains also I propose a blockchain Ark in the future composed of the people who's names are written in  bookofLife.eth subdomain s. Arkoflife would be the second phase of this use case. The actual blockchain data from the people who parti

[2021-12-20 06:47] TinTran3182 opened #4831 "finance"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-12-20 12:56] #4831 closed

[2021-12-20 12:56] #4830 closed

[2021-12-20 12:57] #4824 closed

[2021-12-20 15:20] minimalsm commented on #4793
Thanks for raising this @evertonfraga :-) would you like to tackle this issue?

[2021-12-20 15:21] minimalsm commented on #4825
Hey @muddlebee thanks for raising this. We've already got an open issue in #4793 that covers this, so I'm going to close this one out for now :-) thanks again.

[2021-12-20 15:21] #4825 closed

[2021-12-20 15:23] minimalsm commented on #4714
@tburnam just checking you've seen your assignment to this :-)

[2021-12-20 15:41] #4657 closed

[2021-12-20 16:12] vluna commented on #4714
@minimalsm I would like to help if possible 🙂 Let me know if there is anything I can do.

[2021-12-20 16:57] corwintines commented on #4793
@evertonfraga I believe its for scrolling purposes for links

[2021-12-20 17:43] samajammin commented on #4793
Thanks for offering to help out @evertonfraga! Good to see you again 😄

Yup, expand on @corwintines's comments, the reason for the negative margin is so that if you open a URL w/ an anchor tag (e.g. https://ethereum.org/en/developers/docs/nodes-and-clients/#full-node), the browser & nav doesn't overlap the header.

Curious to hear what you come up with , I'm sure there's better approaches than the

[2021-12-20 18:26] evertonfraga commented on #4793
sure, thanks @samajammin! there's `scroll-padding` for that particular problem. >90% support, afaict.

OK expect a PR from me :)

[2021-12-20 20:12] #4721 closed

[2021-12-20 23:52] juchos opened #4851 "Eth"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2021-12-21 09:43] j3lli21 opened #4858 "ME"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-12-21 12:26] #4858 closed

[2021-12-21 12:27] #4851 closed

[2021-12-21 12:27] minimalsm commented on #4821
Closed in #4822

[2021-12-21 12:27] #4821 closed

[2021-12-21 13:11] samajammin opened #4859 "Add ETHGlobal events"
**Is your feature request related to a problem? Please describe.**

https://ethglobal.medium.com/announcing-the-ethglobal-2022-season-51a7906bb3a4

**Describe the solution you'd like**

Add to https://ethereum.org/en/community/events/

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-12-21 20:35] polarpunklabs opened #4868 "Standardising the Ethereum White Paper"
The history of the Ethereum white paper is not analogous to Nakamoto’s Bitcoin white paper. Bitcoin’s white paper is traditionally presented in Nakamoto’s original format: a[ PDF document](https://bitcoin.org/bitcoin.pdf) produced in [OpenOffice](https://tex.stackexchange.com/questions/306754/was-anything-in-satoshi-nakamotos-original-bitcoin-paper-compiled-in-latex) and self-hosted on bitcoin.org

[2021-12-22 03:52] #4425 closed

[2021-12-22 06:27] seanb95531 opened #4874 "?"
https://github.com/polkadot-js/extension/tree/master

[2021-12-22 08:45] seanb95531 commented on #4874
Issue #4874 ?

On Tue, Dec 21, 2021, 10:27 PM seanb95531 ***@***.***> wrote:

[2021-12-22 10:47] ShubhankarKG commented on #4303
Hey @Hakeemmidan , still working on this ? If not, can I pick this one up ?

[2021-12-22 12:33] A2be opened #4877 "Typo/mispelling in the .es Spanish version of the ethereum.org home page"
**Describe the bug**

The current word "implulsa" is a typo/misspelling. It is not a word in any language.

The correct word should be "impulsa", as it "powers the Ether cryptocurrency"

This is on line 6 of the page-index.json file.

[https://github.com/ethereum/ethereum-org-website/blob/c7546d01d825e6e4e8d037112d6f0327f947dc22/src/intl/es/page-index.json#L6](https://github.com/ethereum/ethereum-

[2021-12-22 12:37] A2be commented on #4877
I'd do the PR if I knew how, but am not sure I have the permissions or know-how to submit it.  Happy to learn if someone wants to show me how.

[2021-12-22 14:50] Hakeemmidan commented on #4303
Hi @ShubhankarKG, thank you for reaching out! = )
Yes, I'm still working. (Kind of got busy with another task.) I'll try to get it done this week (by end of day, Sunday, 12/26/2021). If I don't, I'll pass it on to you. Thanks again ( ^__^ )

[2021-12-22 15:51] vluna commented on #4877
@A2be You can follow this [instructions](https://github.com/ethereum/ethereum-org-website#how-to-contribute) to set up your development environment and create the PR. If you have any questions I will be happy to help you. If you do not want to do it, I can create the PR for you 🙂

[2021-12-22 16:01] A2be commented on #4877
Okay, cool.  Go ahead and assign the issue to me.

Let's see if I can't get the switches and gears of github moving in such a way to make this simple fix and PR.

[2021-12-22 16:09] A2be commented on #4877
@vluna , I'm thru the initial steps, and up to this one:
**Set up your local environment (optional)**

1) If it is "optional", not sure I need all this next bit of complexity. Or do I?
Question:  is it "advisable" for me to do this set of steps?

2) I use a WinOS computer.   I'm not sure how to `run` commands shown like:
`$ git remote add upstream https://github.com/ethereum/ethereum-org-website.g

[2021-12-22 17:28] vluna commented on #4877
1) I believe you can just skip that, I never set that up and I did not run into any problems.
2) That is just a regular git command. I do not use windows, but you can use bash for it. Or maybe install windows linux subsystem?

[2021-12-22 17:41] A2be commented on #4877
Thanks @vluna .  Will skip that entire "optional" step.

But "bash" is not in my vocabulary, so hard to know what is involved, if I wanted to follow your next
instruction:  "`you can use an external bash for it."

[2021-12-22 18:34] vluna commented on #4877
It means to create a new branch in git for your changes. The sample code is shown below in the step: `git checkout -b new_branch_name`

[2021-12-22 20:09] #4874 closed

[2021-12-22 21:02] vluna commented on #4859
@samajammin I can work on this 🙂

[2021-12-22 21:57] minimalsm commented on #4859
Hey @vluna, thanks for offering to help here. I've assigned you ✌️

[2021-12-22 22:31] samajammin opened #4885 "Speed up local development"
**Is your feature request related to a problem? Please describe.**

Currently this app takes quite a bit of time to start a local development server via `yarn start`. It'd be a big productivity boost for our team & contributors if we can reduce this boot up time.

**Describe the solution you'd like**

One potential approach we discussed is to have a flag for which/how many languages we support dur

[2021-12-23 05:56] samajammin commented on #4820
Thanks for the issue @sorenrood! Just played around this, looks great. Agree we should add this to the site 👍 👍

[2021-12-23 06:00] ShubhankarKG commented on #4885
We can use an ENV variable to keep track of what languages we want. What we can do is

1. Convert the [translations file](https://github.com/ethereum/ethereum-org-website/blob/dev/src/data/translations.json) to export a Javascript object, that way we can add and remove keys as desired.
2. Assuming we name the ENV variable as INTL_SUPPORT, perhaps we can make it in this way:
- If `NODE_ENV === deve

[2021-12-23 06:05] samajammin commented on #4820
Out of curiosity, is there a way to deploy a contract without connecting a wallet? Would be a nice feature to have an in-memory EVM like ethereumjs as an option for users.

Love the UI to interact with deployed contracts! I'd suggest linking directly to etherscan vs just displaying the tx hash.

[2021-12-23 07:28] lbk3530 commented on #4188
@minimalsm Hi, any update?

[2021-12-23 09:33] MiConnell opened #4891 "Add Rocketpool to 'Less Than 32 ETH' section of staking page"
**Describe the solution you'd like**
The current [staking page](https://ethereum.org/en/eth2/staking/#stake) under the `less than 32 eth` section only links out to a [list of pools and staking services](https://beaconcha.in/stakingServices). Now that Rocketpool is live, I think it would be great to feature that project. As they are more than just a pool, users with less than 32 eth can actually ru

[2021-12-23 10:23] sorenrood commented on #4820
Amazing -- let me know if there is anything more you need on my end.

Yup! We have a (PoC) hardhat version [here](https://replit.com/@tangert/solidity-hardhat-prototype).

[2021-12-23 12:41] mrlessc opened #4892 "L"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2021-12-23 13:34] vluna commented on #4859
@minimalsm Here is the PR #4889. Let me know if there are any changes that need to be done 🙂

[2021-12-23 20:49] seanb95531 opened #4896 "Team-1"
Gitcoin
https://t.me/Gitcoin_official

[2021-12-23 21:08] seanb95531 opened #4897 "Team"
https://github.com/ersilia-os

[2021-12-23 23:49] cdomashn commented on #2325
After testing the waters with wiki.js and eth-wiki github repo, for a whole host of reasons I am inclined to suggest keeping eth.wiki around for a little longer. Very many eth.wiki links are broken (or rather dead) indeed, however on my local clone/server I was able to identify/fix at least a good half of them I believe, including:
- dead links to external websites,
- internal eth.wiki links,
- li

[2021-12-24 00:11] cdomashn commented on #2810
1. Gatsby does not seem to offer many startup options one can experiment with (to put it mildly).
2. The issue of overly verbose startup Gatsby logs is not uncommon. As a remedy, one of the websites suggests running
- the localized/translated website/portal, and
- the primary english-only website/portal
separately.

Doing so might be a good option for other reasons actually; and the benefits may o

[2021-12-24 01:08] notjustinshaw commented on #4820
Woah! This is amazing! Great work @sorenrood. Let's get this merged!!

I'm not too familiar with how the Ethereum docs pages work, but I did some sleuthing and it looks like we could just add the relevant information to this array of sandboxes:
https://github.com/ethereum/ethereum-org-website/blob/d6a72e94fcda11cf09ecd77d7f18f75acb892cb7/src/pages/developers/learning-tools.js#L82-L91

Looks like w

[2021-12-25 17:26] Chhoukra74 opened #4902 "Binance"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2021-12-25 17:28] #3020 closed

[2021-12-25 19:02] yehia67 opened #4903 "We ethereum projects is not registered on google summer of code?"
[Google Summer Of Code](https://summerofcode.withgoogle.com/)    is a great opportunity for developers to contribute in Open-source project and to continue Open-source contribution on their careers. I see ethereum has a lot of projects that has great potential to be accepted in Google summer of code. Which will help a lot of developers to learn more about web3 technologies and open-source organiza

[2021-12-25 21:59] Ningnong369 commented on #4633
Apakah butuh ditambahkan bahasa daerah

[2021-12-25 22:02] Ningnong369 opened #4904 "Jika ingin lebih menyeluruh dan masuk kesendi sendi terdalam masyarakat dunia dan memang sudah seharusnya maka masukan sebanyaknya terjemahan bahasa"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-12-26 22:57] vluna commented on #4877
Hey @A2be! Were you able to figure it out?

[2021-12-27 00:59] A2be commented on #4877
I've been working at it.  Have done
`winget` ...
and even got some sort of `git` for WinOS installed,
so I now have Apps I can open called
`Git GUI`
`Git CMD` , and
`Git Bash`  (although I still have no idea what "bash" is.

[2021-12-27 01:02] A2be commented on #4877
But I have not been able to figure out how to get all those various cmd line strings that are thrown around operating in my environment.

I probably need to work in a coworking environment for a while, adjacent to an experienced Git and Github person, who is sorta kinda a little bit familiar with WinOS.    I need a sherpa.

Given I don't work in or around anyone like that, maybe it is time for me

[2021-12-27 01:13] A2be commented on #4877
So, bottom line, I still don't know how to `run` commands shown like:
`$ git remote add upstream https://github.com/ethereum/ethereum-org-website.git` on my WinOS machine.

[2021-12-27 01:14] A2be commented on #4877
So you should just go ahead and submit the fix.  Will make the ethereum.org website better in the quickest and most efficient way.

[2021-12-27 01:34] A2be commented on #4877
I got a LOT farther when I opened that `Git GUI` app on WindowsOS.

I might have even got that "git remote add upstream https://github.com/ethereum/ethereum-org-website.git` line to run, after I typed it in following a `$` cmd line prompt.

And I could even `browse` the file I want to update:  `src/intl/es/page-index.json`
where I want to fix the spelling of one word in line 6.

But I could never

[2021-12-27 06:46] clifert opened #4906 "RTs tutorial"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2021-12-28 04:44] blakewood84 opened #4910 "A Simple Guide to Using MetaMask with your Decentralized Application"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

A Simple Guide to Using MetaMask with your Decentralized Application

**Tutorial description**

This tutorial is to help others learn the basics of using MetaMask with their decentralized application and some hel

[2021-12-28 21:53] Maikub77 opened #4912 "METAMASK"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2021-12-29 01:49] PirateRadioY opened #4914 "i m in china how to have a ethereum wallet, fans of metaverse"
**Is your feature request related to a problem? Please describe. Y, i m a  fans of metaverse,lots OF MANAGE problemS NEED to be solved

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-12-29 05:12] Clashinm commented on #4914
Basically how can I pull my self up out this down fall If I need to get you
or someone else to take over in other to finalize the website

On Tue, Dec 28, 2021, 6:49 PM PirateRadioY ***@***.***> wrote:

[2021-12-29 09:29] nschaferx opened #4916 "Added term to glossary: Soft Fork"
**Checklist**

- [x] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [x] This term/definition is not a product advertisement or contain other promotional content
- [x] This term/definition is directly relevant to Ethereum

**Soft Fork**

**A temporary divergence in a [blockchain](https://ethereum.org/en

[2021-12-29 09:32] JWLangford commented on #3790
@minimalsm is this issue still accepting pull requests?

[2021-12-29 14:25] Gobljn opened #4918 "Improve to "How to Write & Deploy an NFT" tutorial"
**Reference tutorial**
https://ethereum.org/en/developers/tutorials/how-to-write-and-deploy-an-nft/#write-contract

**Proposed improvement**
I propose to specify that `@openzeppelin/contracts` have to be installed by npm.
And also in the contract code `MyNFT.sol` I suggest removing the accessor `public` from the constructor because hardhat generates a warning during compilation.

Let me know if th

[2021-12-29 18:50] #4914 closed

[2021-12-29 18:50] #4912 closed

[2021-12-29 18:50] #4904 closed

[2021-12-29 18:51] #4902 closed

[2021-12-29 18:51] #4892 closed

[2021-12-29 18:51] #4897 closed

[2021-12-29 18:51] #4896 closed

[2021-12-29 18:52] #4906 closed

[2021-12-29 18:52] corwintines commented on #4891
@wackerow would be interested in hearing what you think around this.

[2021-12-29 21:21] Naman-Bhalla opened #4922 "The URL for "Ethereum community DAOs" is wrong"
**Describe the bug**

The URL for "Ethereum community DAOs" on  https://ethereum.org/en/dao/ doesn't work as it points to a page that doesn't exist.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/dao/
2. Scroll to the section in screenshot.
<img width="393" alt="Screenshot 2021-12-30 at 2 49 40 AM" src="https://user-images.githubusercontent.com/6305474/1477041

[2022-01-01 14:08] aryankeluskar opened #4930 "Unable to click links due to a psuedoelement's hinderance"
**Describe the bug**

The last two links in the subheading "Join a DAO" don't work for all of its children.

**To Reproduce**

Steps to reproduce the behaviour:

1. Go to https://ethereum.org/en/dao/
2. Scroll to the section in screenshot.

![image](https://user-images.githubusercontent.com/80093392/147852402-55e51b40-4bdc-402b-b594-b94d5772caa5.png)

3. Try clicking on "Ethereum community DAOs" o

[2022-01-01 14:42] udbhav-s commented on #4930
![image](https://user-images.githubusercontent.com/50021387/147852955-8366eaac-93b4-491e-bf94-0f39b39cabd6.png)

The `h3` element following the `ul` containing the two list items under "Join a DAO" has a psudo ::before element (`.gWTLmC::before`) which has a negative margin and height of 120px which covers the list and seems to obstruct the mouse from interacting with the list. Removing it by unti

[2022-01-01 15:32] vluna commented on #4877
@A2be I have opened the PR for you 🙂

[2022-01-03 07:26] PokeBallsGame opened #4935 "https://www.pokéballs.com"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-01-03 12:42] kamilsadik opened #4937 "Broken link in CALLING A SMART CONTRACT FROM JAVASCRIPT post"
**Describe the bug**

The link at the end of [this paragraph](https://ethereum.org/en/developers/tutorials/calling-a-smart-contract-from-javascript/#call-reading-value-from-a-smart-contract) is broken:
The first example will call a “constant” method and execute its smart contract method in the EVM without sending any transaction. For this we’ll read the ERC20 balance of an address. *Read our artic

[2022-01-03 13:11] vluna commented on #4937
@minimalsm I can take this if possible.

[2022-01-03 13:14] minimalsm commented on #4937
Thanks for the report @kamilsadik

@vluna all yours, please don't include `#gatsy-focus-wrapper` in the URL :-)

[2022-01-03 13:18] minimalsm commented on #4935
Hey @PokeBallsGame, did you mean to submit a blank issue?

Closing this out for now but feel free to reopen with the correct information.

[2022-01-03 13:18] #4935 closed

[2022-01-03 13:32] PokeBallsGame commented on #4935
sorry i forget

Joshua ***@***.***>于2022年1月3日 周一下午9:19写道：

[2022-01-03 13:51] vluna commented on #4937
@minimalsm here is the PR #4938

[2022-01-03 14:25] #4937 closed

[2022-01-03 14:26] minimalsm commented on #4937
@all-contributors please add @kamilsadik for bug reports

[2022-01-03 15:33] minimalsm commented on #4877
Thanks for the report @A2be ❤️ @all-contributors please add @A2be for bug reports

[2022-01-03 15:34] #4877 closed

[2022-01-03 16:05] kamilsadik commented on #4937
Wow thanks!

[2022-01-03 21:24] corwintines commented on #4820
Id like to randomize this list. Will push a PR with that functionality.

[2022-01-03 22:36] #4859 closed

[2022-01-04 08:42] aryankeluskar commented on #4930
I have found the faulty line in code, and working on the fix.

[2022-01-04 17:59] fulldecent opened #4968 "Update all mentions of Ethereum Mainnet to use the wording Ethereum Mainnet"
**Describe the bug**

This is related to [EIP-2228](https://eips.ethereum.org/EIPS/eip-2228)

Currently, the ethereum.org website refers to the main network using various names. The correct and only name should be Ethereum Mainnet. With capitalization exactly like that.

**To Reproduce**

x

**Additional context**

Extensive discussion on why this is a good idea, and unanimous community consent is

[2022-01-04 19:27] byoriolserra opened #4969 "Improve Website's Image Formats"
**Is your feature request related to a problem? Please describe.**

With this Issue I would like to suggest changing the website's image file types to more modern, smaller ones.

**Describe the solution you'd like**

It would require for the files to switch from PNG to WebP.

**Describe alternatives you've considered**

We could also use AVIF, but I believe it is supported by less browsers. I beli

[2022-01-05 01:08] Factral opened #4972 "error in the code blocks of spanish developer docs"
in some sections of Spanish developer docs there are errors in the translation of code blocks.

for example in the [smart contracts](https://ethereum.org/es/developers/docs/smart-contracts/) section in the second block of code, in the 3rd line of code `contract VendingMachine {` is literally translated as `contrato VendingMachine {` ignoring the solidity syntax and making the script not work in pr

[2022-01-05 10:06] chtnnh opened #4974 "Expand article on composability in smart contracts"
**Describe the bug**

The article on [composability](https://ethereum.org/en/developers/docs/smart-contracts/composability/) in smart contracts is a stub, and can be improved. This should be done as composability is a key component of why DeFi is so diverse on Ethereum.

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in h

[2022-01-05 10:06] chtnnh commented on #4974
Would love to help add some links to the article as well as expand it. Have forked and cloned my fork.

[2022-01-05 11:51] #4303 closed

[2022-01-05 11:52] minimalsm commented on #4922
Solved in #4923

[2022-01-05 11:52] #4922 closed

[2022-01-05 11:53] minimalsm commented on #4918
Solved, thanks!

[2022-01-05 11:53] #4918 closed

[2022-01-05 11:53] minimalsm commented on #4918
@all-contributors please add @Gobljn for ideas

[2022-01-05 17:49] #3790 closed

[2022-01-05 22:31] TonyGaski commented on #4793
hey anyone here able to help me familiarize myself with this stuff?

[2022-01-05 22:31] guillaume731987 opened #4984 "All Solidity tutorial please"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-01-05 22:54] #4930 closed

[2022-01-06 02:08] samajammin opened #4992 "Broken link in merkle proof tutorial"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/tutorials/merkle-proofs-for-offline-data-integrity/
2. Click on "The sample code is provided here"
3. This links to https://github.com/qbzzt/merkle-proofs-for-offline-data-integrity which 404s

**Expected behavior**

Should link to code repo

**Additional context**

@qbzzt perhaps y

[2022-01-06 02:15] aaronisme opened #4994 "Introduce Keystone hardware wallet"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-01-06 13:06] zainabb12345 opened #4995 "Add term "Base Fee" to glossary"
**Checklist**

- [x] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [x] This term/definition is not a product advertisement or contain other promotional content
- [x] This term/definition is directly relevant to Ethereum

**Base Fee:**

**Term Definition: The algorithmically determined network fee prop

[2022-01-06 13:20] minimalsm commented on #4995
Hey @zainabb12345, thanks for the suggestion to add this.

Would love some other opinions on this. My first reaction is that adding properties of a block or transaction might be slippery slope, do we also add priority fee? What about max fee?

They are explained well and within relevant context in the developer docs already: e.g., on our [gas](https://ethereum.org/en/developers/docs/gas/#base-fee)

[2022-01-06 13:22] #4984 closed

[2022-01-06 13:24] minimalsm commented on #4974
Hey @chtnnh, thanks for offering to help.

Agreed! This needs some work. Did you plan to add any additional content or just link out to external resources? Either way, please feel free to open a PR to improve this page 🙏

[2022-01-06 13:31] minimalsm commented on #4903
Hey @yehia67 thanks for raising this.

It is actually something that we are considering for ethereum.org although we have not fully investigated/committed to it yet.

Appreciate the prompt here. Applications for organisations [don't open until Feb 2022](https://summerofcode.withgoogle.com/) so there isn't anything actionable here just yet so I'm going to close this issue out. The ethereum.org team

[2022-01-06 13:31] #4903 closed

[2022-01-06 13:32] zainabb12345 commented on #4995
Hey @minimalsm,
Thank you for bringing it to my attention that it is there in relevant context and with details.
Closing request.
Again thank you

[2022-01-06 13:54] minimalsm commented on #4968
Hey @fulldecent

We made the transition to using Mainnet as a proper noun in Aug 2021. There will be a few that slip through the cracks, I've fixed them in #4996. Feel free to double-check yourself if there are any others that need to be changed.

I won't comment on the EIP issue as I feel it would muddy the discussion but the entire ethereum.org team supports this change and we have added this to

[2022-01-06 13:54] #4968 closed

[2022-01-06 14:13] Mejko1 opened #4997 "Dapp"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-01-06 15:06] chtnnh commented on #4974
hola @minimalsm! currently researching and trying to find the right words to extend the article. Already added links to the articles I'm reading.

[2022-01-06 15:56] #4997 closed

[2022-01-06 17:36] samajammin commented on #4995
IMO "base fee" would be a useful word to add. I think it's a common term that users will come across.

[2022-01-06 17:37] corwintines commented on #4995
I would definitely support this. It's a common term in many wallets users will be interacting with, and having a place to shine a light on what it is seems valuable to me.

[2022-01-06 17:37] wackerow commented on #4995
Hey @zainabb12345! Agree this would be a nice term to add to the glossary. We want to be careful not to have a slippery slope where we feel we need to add every technical property out there, but I believe this term would certainly provide value.

Would you like to help out with this one? If so drop a reply and we'll assign you =)

[2022-01-06 18:28] zainabb12345 commented on #4995
@wackerow Yes, I would very much like to =)

[2022-01-06 19:42] saavyg opened #5000 "SaavyWallet"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**

**Product description:**

**How long has it been around?**

**Where do you think it should go?**

**GitHub URL**

**Docs URL**

**Is the product open source?**

**Additional context**

[2022-01-06 19:42] saavyg opened #5001 "Etherium"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-01-06 19:43] saavyg opened #5002 "SaavyGirlsales"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2022-01-06 19:53] #5002 closed

[2022-01-06 19:53] #5001 closed

[2022-01-06 19:53] #5000 closed

[2022-01-06 19:55] corwintines commented on #4793
@TonyGaski let me know if there is something else you are interested in looking into. If you want to see how this got solved I just opened a PR for this.

[2022-01-06 20:03] saavyg opened #5004 ":robot: I have created a release \*beep\* \*boop\*"
:robot: I have created a release \*beep\* \*boop\*
---
### [13.1.1](https://www.github.com/googleapis/release-please/compare/v13.1.0...v13.1.1) (2022-01-03)

### Bug Fixes

* **rust:** Rust strategy should update root Cargo files in a workspace ([#1182](https://www.github.com/googleapis/release-please/issues/1182)) ([26a040c](https://www.github.com/googleapis/release-please/commit/26a040cf06a7a2cf

[2022-01-06 20:35] saavyg opened #5006 "Export a reverse byte order function for the Merge function in the follow-up PR. The function does a copy underneath, and we added a test. Credit goes to original author @jmozah"
Export a reverse byte order function for the Merge function in the follow-up PR.  The function does a copy underneath, and we added a test. Credit goes to original author @jmozah

__Originally posted by @terencechain in https://github.com/prysmaticlabs/prysm/pull/10040__

[2022-01-06 21:08] #5004 closed

[2022-01-06 21:09] #5006 closed

[2022-01-07 00:27] ForbidTANNEN commented on #4969
Great suggestion! I am happy to pick this up. I will submit a PR shortly.

[2022-01-07 13:19] minimalsm opened #5010 "Text overflowing onto images on some languages (Find-wallet)"
**Describe the bug**
On some Slavic languages, we're seeing text-overflow due to the generally longer length of sentences in these languages (relative to English).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/ru/wallets/find-wallet/'
2. See error

**Expected behavior**
The text should break to a new line if it gets too long

**Screenshots**

Russian:
![Screens

[2022-01-07 19:37] #5010 closed

[2022-01-07 20:06] #4820 closed

[2022-01-07 20:07] #4793 closed

[2022-01-08 04:12] samajammin commented on #4215
Happy new year fellow Ethereans! Closing this out with a progress update on each of our Q4 initiatives.

## 🚀 Enable a CLR.fund quadratic funding round on layer 2

After over 6 months of contributing to clr.fund's quadratic funding stack, we've [merged our changes](https://github.com/clrfund/monorepo/pull/388) to the [upstream repo](https://github.com/clrfund/monorepo), which added L2 network supp

[2022-01-08 04:12] #4215 closed

[2022-01-08 06:10] SNikhill commented on #4083
@minimalsm

Sir, this issue is now fixed. :)

[2022-01-08 13:05] yannggg opened #5029 "nt"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-01-08 17:57] #5029 closed

[2022-01-09 14:09] Leeb6774 opened #5032 "I think i deserve more then this. I will be glad to exchange"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2022-01-09 15:09] fiskce opened #5033 "Cant create development enviroment!"
Im trying to create a development enviroment but i doesnt seem to work

https://pastebin.com/ndqzWRV7

[2022-01-09 15:38] Leeb6774 opened #5034 "Keys army rifle"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-01-09 16:49] #4648 closed

[2022-01-09 17:16] MrBrain295 commented on #5032
@minimalsm this needs to be closed.

[2022-01-09 21:34] #5034 closed

[2022-01-09 23:47] qbzzt opened #5038 "Article: Compressing contract deployers for Layer 2"
# Tag your tutorial

#Layer2 #Optimization #L2

# Tutorial title

Compressing Contract Deployers for Layer 2

# Tutorial description

Rollups change the tradeoffs between providing the blockchain with information (through CALLDATA) and having the information processed on the blockchain. All transactions have to be written, at great expense, to L1 (the Ethereum mainnet). On the other hand, processi

[2022-01-10 02:29] evertonfraga commented on #4793
thanks for fixing that before me, @corwintines :)

[2022-01-10 13:19] #5032 closed

[2022-01-10 13:19] minimalsm commented on #5032
Thanks @MrBrain295 ❤️

[2022-01-10 14:20] vishvanathan-k commented on #4176
This issue is solved... It has to be closed 😄!!

[2022-01-10 20:01] lukassim opened #5042 "Fix typo in 'Sending transactions using Web3' tutorial"
**Describe the bug**

In the 'Sending transactions using Web3' developer tutorial, we have a note that says ''This guide is for singing your transactions on the backend for your app...''
'Singing' is a typo here.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the tutorial: https://ethereum.org/en/developers/tutorials/sending-transactions-using-web3-and-alchemy/
2. Scroll down to the f

[2022-01-10 21:41] stefan-wuest commented on #5042
I would like to do this as my first issue in here

[2022-01-11 12:06] #5042 closed

[2022-01-11 12:10] minimalsm commented on #5033
Hey @fiskce, thanks for raising this issue.

Could you let me know what command you used in your terminal to get this output?

Also, if you use Discord you can [join our server here](https://discord.gg/CetY6Y4) to get help more quickly on this. ☺️

[2022-01-11 12:50] minimalsm commented on #4994
Hey @aaronisme, thanks for the detailed information. I've put up a PR to add Keystone

[2022-01-11 12:50] minimalsm commented on #4994
@all-contributors please add @aaronisme for ideas

[2022-01-11 13:13] minimalsm commented on #4969
Hey @byoriolserra, thanks for raising this.

I believe our Image component created by [gatsby-plugin-image](https://www.gatsbyjs.com/plugins/gatsby-plugin-image) already handles this for us. If I go to ethereum.org and copy the link to the hero image I get [this WebP image](https://ethereum.org/static/28214bb68eb5445dcb063a72535bc90c/9019e/hero.webp). Not 100% how this works under the hood but I b

[2022-01-11 13:17] minimalsm commented on #4916
Hey @nschaferx, I agree we should add Soft Fork to the glossary.

I think we can come up with a cleaner definition.

Would you like to be assigned to this?

[2022-01-11 13:19] minimalsm commented on #4891
Thanks @MiConnell,

Personally I'd be fine with adding this.

Echoing @corwintines — I'd default to @wackerow on this.

[2022-01-11 14:05] nschaferx commented on #4916
Sure thing!

[2022-01-11 15:15] minimalsm commented on #4916
@nschaferx assigned! Be sure to ping here if you need any help getting this over the line.

[2022-01-11 15:18] minimalsm commented on #4714
@tburnam no just submitting it as a PR is fine.

Any update on the status of this ❤️?

[2022-01-11 15:18] #4575 closed

[2022-01-11 15:23] minimalsm commented on #4435
I personally don't think having its own page makes sense. Curious to receive other input on this.

We're currently working on the ETH2 rebrand (more on that soon in our Q1 roadmap). Maybe adding this to the general Ethereum vision page we plan on creating makes sense?

I'd say blocked for now until we at least release V1 of the rebrand but open to alternative ideas.

[2022-01-11 19:16] sorenrood commented on #4820
@corwintines I still don't see the updated https://ethereum.org/en/developers/learning-tools/. Did something happen?

[2022-01-12 00:30] nschaferx commented on #4916
I believe omitting the last sentence and changing "become stricter" to "are updated" would simplify the definition.

[2022-01-12 02:03] wackerow opened #5066 "Translation banner logic on homepage"
**Describe the bug**
Homepage for translated paged that are up to date with English are showing the "out of date, view in english" banner popup.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/pl/ (or any language with homepage updates completed)
2. See popup banner with option to help translate or view page in English.

**Expected behavior**
If page is up to date

[2022-01-12 02:44] ibeale opened #5069 "Link to alchemy docs page on Web3 txs is broken in some tutorials"
**Describe the bug**

The links contained within:

- https://ethereum.org/en/developers/tutorials/how-to-write-and-deploy-an-nft/#connect-metamask-and-alchemy ("To learn more about sending transactions check out **this tutorial**")
- https://ethereum.org/en/developers/tutorials/how-to-write-and-deploy-an-nft/#deploy-contract ("To learn more about sending transactions, check out this tutorial on **

[2022-01-12 02:44] ibeale commented on #5069
I can take this!

[2022-01-12 12:04] #4994 closed

[2022-01-13 05:21] Dinar97 opened #5079 "Tutorial"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-01-13 11:12] #5079 closed

[2022-01-13 11:22] minimalsm opened #5083 "Unwanted text wrap on ExpandableCard component"
**Describe the bug**

We have undesirable word-wrapping with the use of our [ExpandableCard](https://github.com/ethereum/ethereum-org-website/blob/dev/src/components/ExpandableCard.js) component on some languages where:

- the card's preview text spans two lines
- the translation of the word 'More' is too long

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to 'https://ethereum.org/tr/e

[2022-01-13 11:57] minimalsm opened #5084 "Trilemma text labels are not visible"
**Describe the bug**

The text labels for 'Security', 'Decentralisation', and 'Scaling' are not visible on the [Trilemma](https://github.com/ethereum/ethereum-org-website/blob/dev/src/components/Trilemma.js). However, they are showing up in the DOM.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to 'https://ethereum.org/en/eth2/vision/'
3. Scroll down to 'The challenge of decentralized

[2022-01-13 12:09] minimalsm opened #5085 "Glossary header ID does not take you directly to the header"
**Describe the bug**

When navigating directly to a header-ID or using the table of contents there is additional (unwanted) content between the navigation bar and header. This may be slightly confusing/jarring to users.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to 'https://ethereum.org/en/glossary/#byzantium-fork'
2. See error

**Expected behaviour**

The selected header should be

[2022-01-13 12:13] minimalsm opened #5086 "/get-eth/ CallOutBanner not displaying any content"
**Describe the bug**

The callout banner on the /get-eth/ page is not displaying any content.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/get-eth/'
3. Scroll down to bottom of page
4. See error

**Expected behavior**

The content should display dynamically based on the selected website language

**Screenshots**

<img width="1557" alt="Screenshot 2022-01-13

[2022-01-13 13:26] minimalsm opened #5087 "Better support for RTL languages"
**Is your feature request related to a problem? Please describe.**

Until now we haven't had significant amounts of RTL ([right-to-left-script](https://en.wikipedia.org/wiki/Right-to-left_script)) content on ethereum.org. With #5080 we translate our [Use Ethereum bucket](https://ethereum.org/en/contributing/translation-program/content-versions/#use-ethereum-pages) for Arabic and we'll soon have th

[2022-01-13 14:29] #5069 closed

[2022-01-13 14:57] mradziwon commented on #5086
Hi Joshua, I can fix it. Problem is related to wrong props passed to component. `CalloutBanner` accepts `title` and `description`, not `titleKey` and `descriptionKey`. I can pass translated `title` and `description` or refactor `CalloutBanner` to accept keys and translate it there, just like in `Callout` component. I think the problem has occurred because of this inconsistency between similar comp

[2022-01-13 15:35] minimalsm opened #5090 "Add more testnet faucets to Networks developer doc"
**Is your feature request related to a problem? Please describe.**

People are often frustrated by broken testnet faucets. The best immediate solution to this is to provide more choices on this page. In the case that one faucet goes down, they have other options.

**Describe the solution you'd like**

Add the following faucets (and any other reliable faucets) to the [Networks developer doc](https:

[2022-01-13 15:50] SarveshLimaye commented on #5090
@minimalsm can I work on this issue?

[2022-01-13 15:50] mradziwon commented on #5086
@minimalsm should I pass translated texts to [CalloutBanner](https://github.com/ethereum/ethereum-org-website/blob/37ce90359540b3cf0ba6f677ca3e4f30bcfc6e93/src/components/CalloutBanner.js) or refactor it to accept keys like in [Callout](https://github.com/ethereum/ethereum-org-website/blob/37ce90359540b3cf0ba6f677ca3e4f30bcfc6e93/src/components/Callout.js)? What's your opinion?

[2022-01-13 15:55] minimalsm commented on #5086
Sorry for the lack of clarity. Yes, I believe we want to refactor it to use keys for better translation support if we decide to use this component in a markdown file. @wackerow could you confirm?

[2022-01-13 16:12] wackerow commented on #5086
We could go either way here. The `CalloutBanner` component specifically seems to only be used on React pages, and we pass it already translated strings (except for this buggy case), which works fine for the non-markdown side of things.

For consistency I say we just refactor this as well, which will make it usable in markdown in the future and keep it consistent with the other Callout component.

[2022-01-13 16:17] mradziwon commented on #5086
@wackerow @minimalsm everything is clear now thanks.

[2022-01-13 17:21] HebeBlock opened #5092 "Add Hebe Wallet"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-01-13 17:22] SNikhill commented on #5087
@minimalsm
Sir, is there any way in which I could be of assistance with this?

[2022-01-13 17:36] SNikhill commented on #5084
@minimalsm

Sir, May I tackle this issue? I shall like to learn more about how these good looking graphics are setup.

[2022-01-13 17:40] wackerow commented on #5084
This has been fixed in #4915

[2022-01-13 21:24] samajammin commented on #4215
Updates on our Q4 KPIs:

- Translation Program
    - ✅ 4000 project members in Crowdin - 4192 members
    - ❌ Support 5 new languages on the website - We had 5 new languages translated but not live on the site. [Malay](https://ethereum.org/ms/) (#4747) & [Swahili](https://ethereum.org/sw/) (#4836) are live on the site, there’s a PR up to add Marathi (#4952), while Serbian and Thai were still in re

[2022-01-14 01:52] samajammin commented on #5090
Thanks @SarveshLimaye, go for it! Just assigned you.

[2022-01-14 01:53] samajammin commented on #5087
Thanks for volunteering @SNikhill!

I suspect the best next step is to outline specific changes we could make & align on approaches to implement those changes. @SNikhill feel free to make suggestions!

[2022-01-14 01:57] samajammin commented on #5086
Ya this looks to be caused by #4768

[2022-01-14 01:58] samajammin commented on #5086
Agree with @wackerow, might as well refactor this as well to receive keys.

[2022-01-14 02:01] samajammin commented on #5085
FYI when I clicked on the link I didn't see this issue:
![Image 2022-01-13 at 5 59 48 PM](https://user-images.githubusercontent.com/8097623/149438500-b370fda3-2d23-4393-99ec-6ae4fe335cbd.jpg)

I'm not able to replicate - @minimalsm what browser/device/version are you using?

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

[2022-01-14 02:02] samajammin commented on #5084
Yes indeed looks to be solved in #4915 - thanks @wackerow! Closing this out.

https://ethereumorgwebsitedev01-eth2rebrand.gtsb.io/en/upgrades/vision

[2022-01-14 02:02] #5084 closed

[2022-01-14 02:03] samajammin commented on #5083
Nice catch!

[2022-01-14 02:19] vluna commented on #5083
Hey @minimalsm, I would like to give it a try 🙂

[2022-01-14 02:33] aaronisme commented on #4994
Thanks a lot! @minimalsm @matthieu

[2022-01-14 11:47] minimalsm commented on #5092
Hey thanks for creating this issue, could you expand here, please? For example:

1. Has Hebe Wallet has a security audit of its smart contracts?
2. Does Hebe Wallet employ an internal security team?
3. Does Hebe Wallet have a bug bounty problem?

[2022-01-14 12:28] feliche93 opened #5099 "Gas Fees Calculator (Multi Currency, Network & Txn Types)"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**

Gas Fees Calculator (Multi Currency, Network & Txn Types)

**Product description:**

Calculate gas fees in your local currency for different transaction types on Mainnet, Arbitrum, Binance Smart Chain, Avalanche, Polygon, Fantom and

[2022-01-14 14:11] lukassim opened #5101 "Fix typo on Block explorers page"
**Describe the bug**

There is a typo in the following sentence: ''Blockscout – focusses on the following networks:''
'Focusses' is not the standard spelling.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/docs/data-and-analytics/block-explorers/#block-explorers
2. Check the description for Blockscout
3. See error

**Expected behavior**

'Focusses'

[2022-01-14 14:23] guevaraf commented on #5101
@lukassim please see the PR associated with this typo

[2022-01-14 15:46] garrivjo opened #5104 "Ethereum is not a state machine, but a Turing machine"
**Describe the bug**

In https://ethereum.org/en/developers/docs/evm/#from-ledger-to-state-machine, there is a sentence stating that
`For this more complex feature, a more sophisticated analogy is required. Instead of a distributed ledger, Ethereum is a distributed [state machine](https://en.wikipedia.org/wiki/Finite-state_machine)`. However, if you follow the link, it says that a state machine "c

[2022-01-14 16:17] HebeBlock commented on #5092
1.Has Hebe Wallet has a security audit of its smart contracts?

We do not audit smart contracts.

2.Does Hebe Wallet employ an internal security team?

Yes, we have an internal team responsible for security, they have been involved in Nxt, Ardor, Cosmos, Iris client wallet development.

3.Does Hebe Wallet have a bug bounty problem?

For the reminder of white hats, we will give some token rewards

[2022-01-14 16:40] samajammin opened #5105 "Q1 2022 ethereum.org product roadmap"
*To make our work more accessible and to foster more community collaboration, our team publishes an overview of our quarterly roadmap goals. See last quarter's roadmap here: #4215.*

**Greetings fellow Ethereans!**

Happy new year! [Our vision with ethereum.org](https://ethereum.org/en/about/) continues to be to create the best portal for Ethereum's growing community, and to serve as the front doo

[2022-01-14 16:41] minimalsm commented on #5085
Hmm, it seems to only be visible on my 27inch screen (but somewhat less so than yesterday, which makes no sense...) let me dig into this more later.

OS: macOS Monterey v12.1
Browser: Brave
Version: V1.34.80

[2022-01-14 18:19] joyboy114 opened #5106 "DApp for ride sharing"
As time is growing, market competition becomes more fierce. So less skilled get paid lesser.
Ride sharing has become one such example. Where there should be actually no dependence on third party as central authority.
Similar to this many handloom businesses pay very less and earn very high margin profit on the cost of development of working people.
We can create a unified solution for such problem

[2022-01-14 20:49] minimalsm commented on #5083
Hey @vluna, all yours 😬

As a potential area to investigate, in many cases the wrapping actually disappears actually disappeared when the card is expanded 🤔

[2022-01-14 20:54] minimalsm commented on #5087
Hey @SNikhill, thanks for offering to help 😀

This is a pretty significant refactor. I think the highest value would be to follow the order of our [content-buckets](https://ethereum.org/en/contributing/translation-program/content-versions/). A very impactful first step would be having proper RTL support for our homepage (bucket one) As far as implementation goes we already [have some RTL support](

[2022-01-14 22:14] wackerow commented on #5106
Hey @joyboy114, agree, but this is the repo for issue regarding the ethereum.org website. If you have ideas for apps I'd encourage you to get involved in the community to find others who may be interested in this. Gonna close this for now since it's off topic for this repo.

[2022-01-14 22:14] #5106 closed

[2022-01-15 08:39] SNikhill commented on #5087
Okay, sure, sir. I shall see what a content bucket is and start with that.
Yes, I remember seeing that `isLangRightToLeft()` function. I shall let you know as I explore further and have any questions. :)

[2022-01-15 22:57] OneKongpc opened #5111 "KAMPANAT"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-01-16 04:18] www-imotoneigesled-net opened #5112 "Bug report"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-01-16 06:18] OneKongpc opened #5113 "Kongpc"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-01-16 12:30] ghostizbud commented on #5105
I think what ETH needs is not PRing murge purge etc but vision for broader application in broader economy

[2022-01-16 13:59] 666love commented on #5105
cool！

[2022-01-16 14:01] garrivjo commented on #5104
Could you assign this issue to me, please?

[2022-01-16 15:44] mmilenkovic opened #5119 "Added term to glossary: SNARK"
**Checklist**

- [x] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [x] This term/definition is not a product advertisement or contain other promotional content
- [x] This term/definition is directly relevant to Ethereum

**Term Name:**

SNARK

**Term Definition:**

Succinct Non-interactive ARgument of

[2022-01-16 15:49] mmilenkovic opened #5120 "Added term to glossary: STARK"
**Checklist**

- [x] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [x] This term/definition is not a product advertisement or contain other promotional content
- [x] This term/definition is directly relevant to Ethereum

**Term Name:**

STARK

**Term Definition:**

Scalable Transparent ARgument of Kno

[2022-01-16 16:34] mmilenkovic opened #5121 "Added term to glossary: Zero-knowledge proof"
**Checklist**

- [x] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [x] This term/definition is not a product advertisement or contain other promotional content
- [x] This term/definition is directly relevant to Ethereum

**Term Name:**

Zero-knowledge proof

**Term Definition:**

Zero-knowledge proof

[2022-01-16 21:06] bigcomicart opened #5122 "BigComicArt"
**Is your feature request related to a problem? Please describe.**
Adding my product to Ethereum Dapps page

www.BigComicArt.com has been live and producing NFTs with major established NFT platforms for going on 4 years.
Also see Cryptoarts.org
**Describe the solution you'd like**
Add Ethereum Product

Contributing to Ethereum.org
**Describe alternatives you've considered**
Been contributing to th

[2022-01-17 00:21] mdedeu opened #5124 "Add Spanish "Introduction to Ethereum Development" course from Computer Society ITBA and Martin Triay"
**Introducción a Ethereum Development**

**En este tutorial en español de 4 clases, un developer de web2 puede obtener los conocimientos básicos sobre web3, qué es Ethereum y qué son los Smart Contracts. Durante las clases vamos a ver aplicada esta tecnología, un ejemplo práctico de un smart contract en Solidity, las bases del lenguaje, cómo funciona el testing con Hardhat y cómo setear un entorno

[2022-01-17 00:22] mdedeu commented on #5124
@gilbertginsberg

[2022-01-17 10:45] #5112 closed

[2022-01-17 11:43] minimalsm commented on #5122
Hey @bigcomicart thanks for raising this issue.

Maybe I'm missing something but this doesn't appear to be a dapp?

[2022-01-17 13:00] tehseen94 opened #5125 "BOLTX"
Hello,

My name is Tehseen Waheed and I work as a Blockchain Partnership Manager at BOLT Global. We have our own crypto wallet which has been live for over 6 months. I have had a look at the requirements to list on ethereum.org and I believe our wallet (BOLTX) does fulfil all the various points mentioned on there.

I would like to take this opportunity further and would like to supply with any mor

[2022-01-17 14:05] mdedeu opened #5126 "Add Spanish"Introduction to Security and Hacking in Ethereum" course by Computer Society ITBA and Martín Abbatemarco"
**Introducción  a Seguridad y Hacking en Ethereum**

**El objetivo es que una vez terminado el curso, los participantes conozcan las técnicas utilizadas por auditores para detectar, probar y remediar las vulnerabilidades de seguridad más comunes en Smart Contracts.**

**Security, DeFi**

**17 de agosto de 2021 por Youtube**

**Intermediate**

**Youtube**

**https://youtube.com/playlist?list=PLTqiw

[2022-01-17 14:07] #5083 closed

[2022-01-17 14:10] #5090 closed

[2022-01-17 14:11] mdedeu opened #5128 "Add Spanish "Intoduction to DeFi Development" Course by Computer Society ITBA and Martín Triay"
**Introducción a DeFi Development**

**En este  crash course vamos a realizar una introducción a lo que es el mundo DeFi y vamos a dar un breve ejemplo de Defi en Solidity, el lenguaje de programación por excelencia de los smart contracts. El objetivo es que una vez terminado el curso, los participantes conozcan los términos más comunes en el ámbito DeFi, conozcan un pantallazo de los protocolos q

[2022-01-17 14:12] mdedeu commented on #5126
@gilbertginsberg

[2022-01-17 14:13] mdedeu commented on #5128
@gilbertginsberg

[2022-01-17 14:16] minimalsm commented on #5086
Closed by #5115

[2022-01-17 14:16] #5086 closed

[2022-01-17 14:37] #5101 closed

[2022-01-17 14:38] #5066 closed

[2022-01-17 16:22] vluna commented on #4714
@minimalsm I would like to give it a go if there is no update on this.

[2022-01-17 17:50] minimalsm commented on #4714
Thanks offering again @vluna 🙏 Hmm yeah feel free to have a swing at this.

[2022-01-17 22:54] Scheusal13 opened #5135 "Scheusal"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-01-17 22:57] Scheusal13 opened #5136 "DR"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-01-18 11:40] #5136 closed

[2022-01-18 11:40] #5135 closed

[2022-01-18 11:52] minimalsm commented on #5128
Thanks for this @mdedeu 😀 excited to get more development resources in Spanish.

I think a good start would be adding this to our [language resources page](https://ethereum.org/en/community/language-resources/#es). [Here is the canonical page](https://github.com/ethereum/ethereum-org-website/blob/dev/src/content/community/language-resources/index.md) that needs editing. Would you like to open a PR

[2022-01-18 11:54] minimalsm commented on #5126
Thanks @mdedeu, [see my comment in your other issue](https://github.com/ethereum/ethereum-org-website/issues/5128#issuecomment-1015337935) for next steps here ☺️

[2022-01-18 11:54] minimalsm commented on #5124
Thanks @mdedeu, [see my comment in your other issue](https://github.com/ethereum/ethereum-org-website/issues/5128#issuecomment-1015337935) for next steps here ☺️

[2022-01-18 11:56] minimalsm commented on #5125
Hi @tehseen94, thanks for suggesting this.

Could you please open a new issue with [the wallet template](https://github.com/ethereum/ethereum-org-website/issues/new?assignees=&labels=feature+%3Asparkles%3A%2C+content+%3Afountain_pen%3A&template=suggest_wallet.md&title=) and fill out all of the relevant information for our team to review 😬?

[2022-01-18 12:45] minimalsm opened #5139 "Update translation guide with up-to-date screenshots"
**Is your feature request related to a problem? Please describe.**

The translation guide has a [few outdated screenshots](https://ethereum.org/en/contributing/translation-program/translation-guide/#strings) that refer to 'Docking' (now known as the merge). It would be nice if we could update these images to a current equivalent.

**Additional context**

![image](https://user-images.githubusercont

[2022-01-18 14:32] minimalsm commented on #5104
@all-contributors please add @garrivjo for ideas

[2022-01-18 14:32] #5104 closed

[2022-01-18 15:43] mdedeu commented on #5128
Done! https://github.com/ethereum/ethereum-org-website/pull/5142

[2022-01-18 20:18] Scheusal13 opened #5143 "?"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-01-18 20:18] Scheusal13 opened #5144 "?"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-01-19 00:02] fulldecent commented on #4968
Thank you! Here is the specific thing that's fixed

https://github.com/ethereum/ethereum-org-website/pull/5145

[2022-01-19 00:52] #5144 closed

[2022-01-19 00:52] #5143 closed

[2022-01-19 03:31] vluna commented on #5139
@minimalsm I can look into it 🙂

[2022-01-19 05:30] samajammin commented on #5105
## Q1 KPIs

- Translation Program
  - Reach 5,000 project members in [Crowdin](https://crowdin.com/project/ethereum-org) (+15% vs. Q4 2021)
  - Translate 1,000,000 words (+13% vs. Q4 2021)
  - Average 290 active contributors per month (+3% vs. Q4 2021)
  - Update 35 [content buckets](https://ethereum.org/en/contributing/translation-program/content-versions/) across all languages
  - Launch 5 new l

[2022-01-19 11:56] minimalsm commented on #5139
Hey @vluna, thanks! I've assigned you 🙏

[2022-01-19 12:29] #4995 closed

[2022-01-19 12:33] minimalsm commented on #5128
Closed by #5142

[2022-01-19 12:33] #5128 closed

[2022-01-19 12:33] minimalsm commented on #5126
Closed by #5142

[2022-01-19 12:33] #5126 closed

[2022-01-19 12:33] minimalsm commented on #5124
Closed by #5142

[2022-01-19 12:33] #5124 closed

[2022-01-19 12:37] minimalsm commented on #5125
Closing this out, please create an issue with the wallet template as instructed above. 😀

[2022-01-19 12:37] #5125 closed

[2022-01-19 12:38] minimalsm commented on #5121
Thanks @mmilenkovic and agreed! We should add this to the glossary. Would you like to make a PR for this?

[2022-01-19 12:38] minimalsm commented on #5120
Thanks @mmilenkovic and agreed! We should add this to the glossary. Would you like to make a PR for this?

[2022-01-19 12:38] minimalsm commented on #5119
Thanks @mmilenkovic and agreed! We should add this to the glossary. Would you like to make a PR for this?

[2022-01-19 12:40] minimalsm commented on #5122
Closing this out as per my comment above, feel free to comment and reopen if I've misunderstood here :-) thanks again.

[2022-01-19 12:40] #5122 closed

[2022-01-19 12:50] minimalsm commented on #5033
Discussion in discord, can't troubleshoot this without more information. Closing this out.

[2022-01-19 12:50] #5033 closed

[2022-01-19 12:50] minimalsm commented on #4974
@chtnnh sure thing! Let me know if you need any help getting started on this.

[2022-01-19 12:52] minimalsm commented on #4972
Hey @Factral, thanks for flagging this.

Yes, we can open leave the translated comments in and revert the code to English. I've assigned you :-)

[2022-01-19 12:54] minimalsm commented on #4916
Agree! But I wouldn't worry too much about the definition being perfect right now. We can resolve that in the PR itself :-)

[2022-01-19 12:56] minimalsm commented on #4891
Marking this as blocked until we merge the ETH2 rebrand stuff in. Though, I still think we should make this change.

[2022-01-19 12:59] minimalsm commented on #4633
Closed by #4638

[2022-01-19 12:59] #4633 closed

[2022-01-19 13:01] minimalsm commented on #4679
Marking as blocked until we clarify the work needing done here @corwintines

[2022-01-19 13:10] minimalsm commented on #4504
Thanks for the suggestion @cameronfink

@lemiesz no strong feelings but I prefer explicitly declaring the colours being used instead of using opacity to achieve a colour.  E.g. adding opacity via rgba can cause problems where your design system is WCAG compliant on paper, but in the browser it isn't.

Curious to hear other thoughts on this @corwintines @wackerow

[2022-01-19 13:20] minimalsm commented on #589
During several discovery calls we noticed that GitHub to Crowdin automation via API does not allow us to review minor changes to source content and decide if translations should be kept. This means that small changes/typos in English (many of which have no effect on other languages) will erase the current translation for that string in ~40 other languages. Until we find a workaround to resolve thi

[2022-01-19 13:26] minimalsm commented on #1148
Should create a new issue as we've moved to Gatsby cloud.

1) Is this still an issue with Gatsby cloud?

2) Can we solve it by not allowing their GitHub account to trigger PRs (in the same way that only the ethereum.org core team got deploy previews, to begin with)

[2022-01-19 13:29] minimalsm commented on #2490
Does this need to be an issue anymore?

My understanding is that with the content bucket refactor the codebase now supports page by page translations and we just don't have correct processes in place to do page by page properly.

[2022-01-19 13:36] minimalsm commented on #4229
@lemiesz thanks for offering to help 🙏 If you're up for making a PR for this that'd be awesome. Let me know and I can assign you to this issue.

[2022-01-19 13:41] Andrulko commented on #589
Are you aware of `update_option` parameter available for Update File endpoint?
https://support.crowdin.com/api/v2/#operation/api.projects.files.put

The same parameter is available in API v1 (it's considered as deprecated, usage of API v2 is preferrable):
https://support.crowdin.com/api/api-integration-setup/#titles-update-file

The `update_option: update_as_unapproved` will allow to keep translat

[2022-01-20 05:44] lemiesz commented on #4229
Hey really sorry. Got caught up with vacation and new year, forgot I even commented on this.

I don't have the bandwidth to work on this until possibly the end of the month. If its a high priority please assign to someone else.

[2022-01-21 06:49] Deepu2517 opened #5164 "fixed deposit"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-01-21 10:07] sasicodes commented on #1564
@minimalsm Is this issue still open or closed by (#2439) ?

[2022-01-21 16:28] kennethcassel opened #5167 "Add Pointer to the list of developer learning tools"
Would love to have [Pointer](https://www.pointer.gg/) listed as one of the developer learning tools (under bootcamps).

Pointer is a web3 dev education company that gives crypto rewards for devs who complete our interactive tutorials.

Over 100 developers have deployed a full-stack solidity app through our Solid Solidity tutorial.

We've had some great [testimonials ](https://testimonial.to/pointe

[2022-01-22 08:20] SNikhill commented on #5087
Things I noticed:
(NB: I shall be updating this list)

Language: Arabic (I don't understand it but, do know that it is RTL)
- [ ] If I am on the home page and select a code example, the same tends to be rendered in an incorrect way
![image](https://user-images.githubusercontent.com/51415616/150630738-e7674054-b8ab-40c6-b6c5-9e8bf867d173.png)

[2022-01-22 10:39] SNikhill commented on #5087
@minimalsm

Sir, above are some things from the Home Page. Not all of them are a priority.

For Graphs are stuff, I shall like to suggest that on hover, the position of `origin` like 0,0 is shown. The same helps in identifying the direction the trend is progressing in.

[2022-01-22 19:58] tehseen94 opened #5173 "BOLTX Wallet"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-01-22 20:32] ampon0001 opened #5174 "0x4f96838938677121bCC5938fE2a8E6B651E154d1"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-01-22 21:22] Emilianoreynoso opened #5175 "Emiliano"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-01-22 23:51] lukassim opened #5176 "Fix typo on Ethereum Support page"
**Describe the bug**

'Ergion' is a typo.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/community/support/
2. Go to Execution clients
3. Check item 4
4. See error

**Expected behavior**

The correct spelling is 'Erigon'

**Screenshots**

![Erigon typo](https://user-images.githubusercontent.com/37338979/150659108-bbd6e377-37be-473b-8eb8-3619ebe4d822.png)

**De

[2022-01-23 04:17] RishiKumarRay commented on #5176
I am Interested to raise PR

[2022-01-23 05:42] Aman-Mandal commented on #5176
Am Interested! :)

[2022-01-23 07:22] Clashinm commented on #5176
I am interested!

On Sat, Jan 22, 2022, 10:42 PM Aman Mandal ***@***.***> wrote:

[2022-01-23 07:50] michael60634 opened #5178 "Issue with "Find a wallet" on ethereum.org"
**Describe the bug**

Dharma is shutting down and should be removed from the wallets list.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/wallets/find-wallet/
2. See error

**Expected behavior**

Dharma should not be present in the wallets list

**Additional context**

More information can be found on the [Dharma website](https://www.dharma.io/) and their [rec

[2022-01-23 10:59] dogankara44 opened #5179 "Space art"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-01-23 16:30] Ej1seven commented on #5176
I already sent a pull request resolving this issue! Thanks!

[2022-01-23 18:24] samajammin opened #5181 "Eth2 redirects aren't working"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/eth2/
2. See error (404)

**Expected behavior**

Should redirect to https://ethereum.org/en/upgrades/

**Additional context**

Caused by #4915

[2022-01-23 18:25] samajammin commented on #5181
Looks like some work, e.g. https://ethereum.org/en/eth2/beacon-chain/ --> https://ethereum.org/en/upgrades/beacon-chain/

[2022-01-23 18:38] #5181 closed

[2022-01-24 01:10] astutejoe opened #5186 "We currently don't explain how Uniswap V2 charges fees from each swap"
**Is your feature request related to a problem? Please describe.**

We currently don't explain how Uniswap V2 charges fees from each swap

**Describe the solution you'd like**

A solution is described on this [PR](https://github.com/ethereum/ethereum-org-website/pull/5185)

[2022-01-24 08:58] nikashitsa commented on #4697
Hey @minimalsm please have a look at this wallet ☝️

[2022-01-24 09:31] jmcook1186 opened #5190 "Add term to glossary: Execution Layer"
**Checklist**

- [ x ] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [ x ] This term/definition is not a product advertisement or contain other promotional content
- [ x ] This term/definition is directly relevant to Ethereum

**Term Name:**
Execution Layer

**Term Definition:**

After the merge to pr

[2022-01-24 09:38] jmcook1186 opened #5191 "Add term to glossary: Consensus Layer"
**Checklist**

- [ x ] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [ x ] This term/definition is not a product advertisement or contain other promotional content
- [ x ] This term/definition is directly relevant to Ethereum

**Term Name:**
Consensus Layer

**Term Definition:**

After the merge to pr

[2022-01-24 10:06] minimalsm commented on #5191
Hey @jmcook1186 :-) agreed that we should add this. Would you like to take care of a PR for it?

[2022-01-24 10:07] jmcook1186 commented on #5191
yep, on it.

[2022-01-24 10:08] minimalsm commented on #5190
Hey @jmcook1186 :-) agreed that we should add this. Would you like to take care of a PR for it?

I also think we should add 'execution client' and 'consensus client' (separately). Not sure how we should change this to avoid duplication but keep context 🤔

[2022-01-24 10:08] #5179 closed

[2022-01-24 10:11] jmcook1186 commented on #5190
ok, so maybe I can just add all four terms (ex client, ex layer, cons client, cons layer) in a single PR and close issues #5190 and #5191?

[2022-01-24 11:45] jmcook1186 opened #5194 "Client diversity page"
**Is your feature request related to a problem? Please describe.**

Client diversity is one of the more pressing vulnerabilities especially in the run-up to the merge. Although redressing this imbalance requires exchanges and institutional node operators to switch to minority clients, home node operators can make a difference too. This page will be a high level jumping off point for people interes

[2022-01-24 11:50] minimalsm commented on #3939
Closing this out. Please fill out the issue template as requested if you'd like to see this added 🙏

[2022-01-24 11:50] #3939 closed

[2022-01-24 11:55] minimalsm commented on #3897
Hey @yitokenfrank. Sorry for the delay on this.

Unfortunately, this wallet does not meet our product listing criteria. As part of our wallet section revamp in our [Q1 roadmap](https://github.com/ethereum/ethereum-org-website/issues/5105), we will be updating the product listing criteria. Please feel free to reapply under the new criteria if you feel yiToken meets the necessary criteria.

[2022-01-24 11:55] #3897 closed

[2022-01-24 12:05] minimalsm commented on #3863
Closed by #3850

[2022-01-24 12:05] #3863 closed

[2022-01-24 12:40] #5164 closed

[2022-01-24 13:40] minimalsm commented on #1564
I'd say closed. Thanks @sasicodes

[2022-01-24 13:42] minimalsm commented on #2277
Re-up this?

[2022-01-24 13:49] minimalsm commented on #2401
Seems this is fixed.

Can someone else confirm?

[2022-01-24 13:52] minimalsm commented on #2778
Closed with our move to Gatsby V4.

[2022-01-24 13:52] #2778 closed

[2022-01-24 13:55] #5174 closed

[2022-01-24 14:00] #4083 closed

[2022-01-24 14:01] #4117 closed

[2022-01-24 14:01] #5175 closed

[2022-01-24 14:02] #4501 closed

[2022-01-24 14:35] lingzhong opened #5198 "Broken link to ETH staking on the Beacon Chain upgrade page"
**Describe the bug**

The link to information about ETH staking is broken (Resource Not Found) on the Beacon Chain upgrade page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/upgrades/beacon-chain/
2. Click on 'stake your ETH' under the 'WHEN'S IT SHIPPING?' section
3. See 'Resource Not Found' error after being navigated to the https://ethereum.org/en/upgrade

[2022-01-24 15:12] minimalsm commented on #5198
@lingzhong thanks for spotting this! && Appreciate your offering to create PR to fix this 😀 I've assigned you.

[2022-01-24 15:15] minimalsm commented on #5198
@lingzhong looks like there are 29 occurrences of this. Let's squash them all 😠🐛

<img width="478" alt="Screenshot 2022-01-24 at 15 14 00" src="https://user-images.githubusercontent.com/62268199/150809887-57186eb0-9224-492f-a8d7-3d91f20f2d42.png">

[2022-01-24 15:17] lingzhong commented on #5198
@minimalsm OOF! Sounds good, will combine all the link fixes into a single PR. Thanks for doing the sweep!

[2022-01-24 15:19] #3970 closed

[2022-01-24 15:19] #4443 closed

[2022-01-24 15:19] #4447 closed

[2022-01-24 15:19] #4755 closed

[2022-01-24 15:25] minimalsm commented on #5176
@RishiKumarRay @Aman-Mandal @Clashinm

Hey folks, thanks for the interest here. Looks like @Ej1seven already put up a PR to solve this. We'll be putting out a bunch of new issues for contributors soon :-) if you'd like to get pinged when we do this please be sure to [join the discord](https://discord.gg/CetY6Y4)

[2022-01-24 15:33] #5176 closed

[2022-01-24 16:46] #5178 closed

[2022-01-24 17:30] minimalsm commented on #5198
Hey @lingzhong, we're going to try to get this out in the next few hours. Do you have the capacity to get this done soon 😀?

[2022-01-24 17:33] lingzhong commented on #5198
@minimalsm Yes! I do have the capacity to get this out the door quickly. I'm ironing out the last bit of dev set up, and I already know where the code fixes would be. Thanks for the check!

[2022-01-24 17:49] samajammin commented on #1461
Still an issue. I've been following up with EF internally but still don't have resolution.

[2022-01-24 17:57] minimalsm commented on #2490
Solved in #4441

[2022-01-24 17:57] #2490 closed

[2022-01-24 18:55] minimalsm commented on #5186
Closed with #5185

[2022-01-24 18:55] #5186 closed

[2022-01-24 20:18] #5198 closed

[2022-01-24 21:25] mmilenkovic commented on #5119
PR created https://github.com/ethereum/ethereum-org-website/pull/5208

[2022-01-24 21:25] mmilenkovic commented on #5120
PR created https://github.com/ethereum/ethereum-org-website/pull/5208

[2022-01-24 21:25] mmilenkovic commented on #5121
PR created https://github.com/ethereum/ethereum-org-website/pull/5208

[2022-01-25 09:49] minimalsm commented on #589
Going to close this out and capture it internally as per [the comments on the Q4 roadmap update](https://github.com/ethereum/ethereum-org-website/issues/4215#issuecomment-1007882026). Unfortunately, due to the edge cases outlined above this isn't something we can solve for now.

[2022-01-25 09:49] #589 closed

[2022-01-25 09:49] milvinae commented on #4447
Hello @minimalsm, thanks for the Numio listing.

I just wanted to point out that there is a mistake in the listing as the wallet does support Token Swaps but the features card says it doesn't.

Also, if possible could the background colour for the logo be changed from white to #3F3F3F or should we submit a logo with this background?

Thank you for your help.

[2022-01-25 09:52] minimalsm commented on #1787
In its current state, this isn't something that we think a contributor could pick up (it is more of an epic than issue itself and requires far more context for someone to pick this up). We've captured this internally and will relist it when it becomes a priority again.

[2022-01-25 09:52] #1787 closed

[2022-01-25 09:54] minimalsm commented on #4969
@wackerow is going to check out if this is being handled for us by `gatsby-plugin-image` and close this issue if it is. We don't want to update source files to WEBP (_it is still obscure and therefore harder for contributors to work with_) if we can avoid it by allowing Gatsby to do all the heavy lifting here.

[2022-01-25 10:01] minimalsm commented on #4504
Thanks for the suggestion @seekingtau . Discussed with the team and we're happy to use HEX across the codebase.

For consistency's sake we should:

- use uppercase HEX (i.e. use `#FFFFFF`, not `#ffffff`)
- use 8-digit HEX notation when alpha/opacity is required

Is this something you'd be interested in working on @seekingtau?

[2022-01-25 12:49] #4972 closed

[2022-01-25 14:34] minimalsm opened #5215 "Use rems for font-size"
**Is your feature request related to a problem? Please describe.**

We have a lot of `font-size` declarations that are still using pxs. This is an accessibility problem as [using px for `font-size` doesn't provide support to users who have made text size adjustments in their browsers settings](https://css-tricks.com/is-it-better-to-use-ems-rems-than-px-for-font-size/).

**Describe the solution you

[2022-01-25 14:36] lingzhong commented on #4753
Happy to take a stab at this 😃

[2022-01-25 16:02] SarveshLimaye commented on #5215
@minimalsm can I work on this issue?

[2022-01-25 16:02] luisbeqja commented on #5215
@SarveshLimaye  Im doing

[2022-01-25 16:15] minimalsm commented on #4753
Hey @lingzhong, thanks for offering to help again. It's all yours 🙌. Feel free to give me a ping here or on Discord if you need to be unblocked on anything.

[2022-01-25 19:34] zaid1011 opened #5220 "**tutorial title**"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-01-25 21:22] samajammin opened #5221 "Add 2022 Ethereum events"
**Is your feature request related to a problem? Please describe.**

More events have been added to this sheet:
https://docs.google.com/spreadsheets/d/1NEu_FCc1hnGAuRgPmbXXpf0h2lCrCOlMKbbFEqgkVDQ/htmlview

**Describe the solution you'd like**

Add them to https://ethereum.org/en/community/events/

**Describe alternatives you've considered**

Should we also add a link to this spreadsheet? Seems like

[2022-01-26 02:45] vluna commented on #5221
I can take care of this one.

[2022-01-26 12:33] minimalsm commented on #5221
Thanks @vluna, assigned! 😀💪

[2022-01-26 12:33] #5220 closed

[2022-01-26 12:35] minimalsm commented on #5215
Hey @SarveshLimaye thanks for offering, looks like @luisbeqja has already done this work.

Thanks for the PR @luisbeqja 💪. In future please comment on the issue before starting work. If someone else has offered to work on an issue before you they'd be given the opportunity first.

[2022-01-26 12:38] luisbeqja commented on #5215
@minimalsm  oh sorry and thank you so much for the advice, it was my first contribution 💪🏼

[2022-01-26 16:59] adam-bro commented on #3970
Hi minimalsm can you please tick off 'buy ETH with card'

Users can now onramp from FIAT to ETH straight to Loopring L2 without having to pay for gas-fees. This has been the easiest and cheapest way for our users to onboard funds onto Loopring. RAMP and Banxa are our FIAT providers

![1IMG_5663](https://user-images.githubusercontent.com/84410897/151210021-2f67ea06-6122-4bab-b4f3-3a376ded84d8.jpeg)

[2022-01-26 21:26] #5139 closed

[2022-01-27 10:47] sukruarc opened #5244 "Ok"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-01-27 14:18] lukassim opened #5246 "Add space to 'TheGraph' on the grants page"
**Describe the bug**

The Graph is the name of an indexing protocol. On the grants page, there is a space missing between these two words.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to ['...'](https://ethereum.org/en/community/grants/#project-specific)
2. Check the first item in the list
3. See error

**Expected behavior**

The correct spelling is 'The Graph'

**Screenshots**

![The

[2022-01-27 15:22] lukassim opened #5248 "Add end punctuation to Ethereum Governance sentence"
**Describe the bug**

The following sentence should end with a period:
'Since so many people depend on Ethereum's stability, there is a very high coordination threshold for core changes, including social and technical processes, to ensure any changes to Ethereum are secure and widely supported by the community'

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/go

[2022-01-27 17:46] ilkererkek commented on #5246
I can take care of this issue.

[2022-01-27 18:44] adi611 commented on #5248
Please assign me this issue.

[2022-01-27 19:46] #5190 closed

[2022-01-27 19:46] #5191 closed

[2022-01-27 22:38] #5248 closed

[2022-01-27 23:11] HursitTarcan commented on #5246
I'll work on this.

[2022-01-28 00:00] sepivip opened #5254 "Georgian Language"
I want to be a contributor and start translating projects to Georgian. Please add the language.

[2022-01-28 02:33] wackerow commented on #4891
Hey @MiConnell  sorry for the delays here... Love that you brought this up, I think adding Rocket Pool is an absolute must. We were planning on assessing and revamping the staking section in the near future and I definitely planned on incorporating Rocket Pool into it as much as possible.

In the meantime, if you do have a PR, it's hard to saw how it'll all play together in the end with other upco

[2022-01-28 10:14] centralizedtransformer commented on #3479
@minimalsm Hi Joshua! It's Andrew from the Atomic Wallet team. First of all sorry for not replying to your comments.

We are ready to send you the audit in dm. We have it in pdf format. Please provide us with contacts where we can send it.

Regarding the team, we constantly updating the app and maintaining our own validators and nodes, so the team is pretty active. You may check out the website an

[2022-01-28 10:53] minimalsm commented on #5246
Hey @ilkererkek :-) you can work on this. I've assigned you. Please ping if you need any help getting started.

[2022-01-28 10:53] minimalsm commented on #5246
@HursitTarcan thanks for offering but @ilkererkek replied first! We're uploading a bunch more good first issues so please keep your eyes open 😬

[2022-01-28 10:55] #5244 closed

[2022-01-28 11:04] minimalsm opened #5260 "Uncentered content on upgrades banner"
**Describe the bug**

In #5235 we implemented a banner on [all of our upgrades pages](https://ethereum.org/en/upgrades/). The banner isn't centered vertically.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/upgrades/'
2. See error

**Expected behavior**

The banner should be centered.

**Screenshots**

<img width="1273" alt="Screenshot 2022-01-28 at 10 58 40"

[2022-01-28 11:10] minimalsm opened #5261 "Bad labelling on on upgrade banner link"
**Is your feature request related to a problem? Please describe.**

In #5235 we implemented a banner on [all of our upgrades pages](https://ethereum.org/en/upgrades/). The banner includes a link to the blog post announcement with the text 'More Info'. This is [poor UX and bad for accessibility](https://www.nngroup.com/articles/learn-more-links/).

**Describe the solution you'd like**

We need to u

[2022-01-28 11:59] minimalsm commented on #4891
@MiConnell assigned :-)

[2022-01-28 12:28] vluna commented on #5261
@minimalsm  I can take a look at this one.

[2022-01-28 12:43] vluna commented on #5260
@minimalsm I could potentially look at this one while working on #5261  as well if thats ok.

[2022-01-28 13:42] minimalsm commented on #5260
@vluna all yours 💪

[2022-01-28 13:42] minimalsm commented on #5261
Thanks @vluna ❤️  assigned.

[2022-01-28 16:35] crisgarner opened #5263 "Add Foundry as a developer framework"
**Product name:**

Foundry

**Product description:**

Foundry is a blazing fast, portable and modular toolkit for Ethereum application development written in Rust.

**How long has it been around?**

~6 months.

**Where do you think it should go?**

Frameworks: https://ethereum.org/en/developers/docs/frameworks/

**GitHub URL**

https://github.com/gakonst/foundry

**Docs URL**

Docs: https://onbjer

[2022-01-29 00:18] #5246 closed

[2022-01-29 00:58] #5221 closed

[2022-01-29 01:34] #5194 closed

[2022-01-29 17:49] lukassim opened #5268 "The Run a node page and Translators guide don't show up on the search"
**Describe the bug**

When searching for Run a node or Translation style guide on the website, the search doesn't show the latest pages.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to ethereum.org
2. Type 'Run a node' or 'Translation style guide' in the search bar
3. See error

**Expected behavior**

The search should show the newly added pages.

**Screenshots**

![Search error 1](ht

[2022-01-29 22:16] haydenfowler opened #5270 "Remove redundant closing bracket on the consensus-mechanisms page"
**Describe the bug**

An additional closing bracket has been included on a hyperlink in the consensus-mechanisms page and should be removed.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the [consensus-mechanisms](https://ethereum.org/en/developers/docs/consensus-mechanisms/) page
2. Scroll down to `Sybil resistance & chain selection`
3. Note that a stand-alone closing bracket exist

[2022-01-30 04:55] noahfigueras commented on #5270
Just commited a fixed for this issue!

[2022-01-30 05:13] haydenfowler commented on #5270
@noahfigueras I should have mentioned, I've already put up a pull request which you can find [here](https://github.com/ethereum/ethereum-org-website/pull/5271).

[2022-01-30 12:08] feliche93 commented on #5099
Hey @minimalsm I saw you added the label `needs grooming`. I was wondering if there's anything needed from my side on this or if you're missing some infos :)

[2022-01-31 08:38] aforamit commented on #5268
I tried to follow the steps as described and my observation are as follows:

- _run a node_ : The result is not top of the list, but appears in the middle. See below

<img width="887" alt="run a node" src="https://user-images.githubusercontent.com/22254168/151762319-86171108-7b85-4b26-8172-a8aac683f4d0.PNG">

- _translation style guide_ : the results are shown correctly on top of the list. See bel

[2022-01-31 09:15] minimalsm commented on #5268
Hey @aforamit, thanks for checking in on this. @lukassim is referring to [this page](https://ethereum.org/en/run-a-node) that we newly released.

Seems the issue is solved now. Closing this out.

[2022-01-31 09:15] #5268 closed

[2022-01-31 09:26] minimalsm opened #5273 "Skip link scrolls too far down the page"
**Describe the bug**

Navigating to the main content ID (#main-content) using the skip-link takes me to the 'Stake your ETH' section (well lower in the page than I should be taken to). This bug is persistent across all pages I tested.

**Other pages tested:**
- DeFi
- governance
- Developer docs,
- Developer tutorials

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.o

[2022-01-31 09:44] #5270 closed

[2022-01-31 09:53] minimalsm opened #5275 "Client-diversity developer doc not included in developer docs sidebar navigation"
**Describe the bug**

We added a [new page to our docs on client diversity](https://ethereum.org/en/developers/docs/nodes-and-clients/client-diversity/) but forgot to add it to the developer docs sidebar 🤪!

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/developers/docs/nodes-and-clients/client-diversity/'
2. Look between under 'Nodes and clients' in sidebar
3

[2022-01-31 09:57] minimalsm opened #5276 "Broken header-ID on client diversity developer docs"
**Describe the bug**

We recently added [a new page on client-diveristy](https://ethereum.org/en/developers/docs/nodes-and-clients/client-diversity/). The header ID for 'Use a minority client' is broken.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/developers/docs/nodes-and-clients/client-diversity/'
2. Scroll down to 'Use a minority client'
3. See error

*

[2022-01-31 10:00] minimalsm commented on #5254
Closed, thanks @lukassim

[2022-01-31 10:00] #5254 closed

[2022-01-31 10:38] minimalsm commented on #5248
Thanks for offering @adi611!

Looks like @ihebu had already opened a PR (note: please comment if you've started work, to avoid duplicate PRs)

We've [opened a bunch more good first issues](https://github.com/ethereum/ethereum-org-website/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) if you're interested in helping out!

[2022-01-31 11:01] minimalsm opened #5278 "Treat 'the Merge' as a proper noun"
**Is your feature request related to a problem? Please describe.**

The Merge should be treated as a proper noun as it refers to a specific, non-generic event.

**Describe the solution you'd like**

We currently treat it as a common noun (i.e. '_Once the merge happens_'). We should search the codebase for all instances of 'the merge' and change them to use the proper noun (the Merge or The Merge i

[2022-01-31 11:09] minimalsm commented on #5261
Any update on this @vluna?

[2022-01-31 11:15] minimalsm commented on #5087
@SNikhill ahh nice catch on the graph. Never even thought of that... could definitely be confusing 🤔

Any reason we wouldn't have this on by default (instead of just on hover)? Worth noting the ~40% of people on mobile wouldn't be able to use it if it was just available on hover. Also, we're making the assumption that people will hover over it with their mouse whilst viewing it.

Curious if anyone

[2022-01-31 11:36] minimalsm commented on #5167
Closed by #5216

[2022-01-31 11:36] #5167 closed

[2022-01-31 11:36] minimalsm commented on #5119
Closed by #5208

[2022-01-31 11:36] #5119 closed

[2022-01-31 11:36] minimalsm commented on #5120
Closed by #5208

[2022-01-31 11:36] #5120 closed

[2022-01-31 11:36] minimalsm commented on #5121
Closed by #5208

[2022-01-31 11:36] #5121 closed

[2022-01-31 11:37] minimalsm commented on #4974
@chtnnh hey :-) just checking you've seen that I assigned you on this.

[2022-01-31 11:38] thong369 opened #5280 "thank"

[2022-01-31 11:39] krvaibhaw commented on #5275
I guess I can take care of that.

[2022-01-31 11:39] minimalsm commented on #5280
Hey @thong369, appears you've created an empty issue? Closing this out but feel free to reopen with the correct info.

[2022-01-31 11:39] #5280 closed

[2022-01-31 11:40] #4176 closed

[2022-01-31 11:52] minimalsm commented on #2810
Thanks @cdomashn

[Had a look at the logs](https://www.gatsbyjs.com/dashboard/5e02f963-3fe5-4e37-a1e7-ac05f7753a86/sites/354db32e-7775-49f1-b099-b42a9bfcf83a/builds/a7a005b5-7eaf-4639-9b3a-41010c623331/details#rawLogs). Since the move to Gatsby V4/Gatsby Cloud this doesn't seem to be the same issue. Can we close this?

[2022-01-31 11:53] minimalsm commented on #5275
Thanks @krvaibhaw, all yours :-) feel free to ping if you need anything.

[2022-01-31 12:33] thong369 opened #5282 "deal."
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-01-31 12:35] #5282 closed

[2022-01-31 13:34] vluna commented on #5261
@minimalsm My apologies, I could not work on it over the weekend. I have submitted the PR now including the text update and alignment. Let me know if you want any changes done 🙂

[2022-01-31 14:14] ihebu commented on #5276
Can I work on this one ?

[2022-01-31 14:56] minimalsm commented on #3764
Still not up, closing this out :-)

[2022-01-31 14:56] #3764 closed

[2022-01-31 14:57] minimalsm commented on #4253
Hey @narayand16

Sorry for the late reply on this. Do you want to work on this still?

[2022-01-31 14:59] minimalsm commented on #4229
@lemiesz no worries, completely understand 😀 not massively high priority if you're still interested in picking this up.

[2022-01-31 15:14] #5261 closed

[2022-01-31 15:21] minimalsm commented on #5276
@ihebu would like to get this patched in the next few hours. if that is ok, please do :-) ❤️

[2022-01-31 15:29] adi611 commented on #5278
Please assign me this issue.

[2022-01-31 17:42] minimalsm commented on #2810
We suspect this is still happening locally but not on Gatsby cloud logs

[2022-01-31 18:45] samajammin commented on #2401
Closing this out - I'm no longer getting this error in local dev 👍

[2022-01-31 18:49] samajammin opened #5289 "Missing alt props in images"
**Describe the bug**

It appears we have images that are missing `alt` props.

**To Reproduce**
Steps to reproduce the behavior:

1. Run the app (`yarn start`)
2. Open in browser (e.g. `localhost:80000/en/`)
3. See console error

[code]

[code]

[code]

**Expected behavior**

All images should have an `alt` prop.

**Screenshots**

![Image 2022-01-31 at 10 49 19 AM](https://user-images.githubuserco

[2022-01-31 20:38] HursitTarcan commented on #5289
Can I try to fix this issue?

[2022-01-31 20:57] #5276 closed

[2022-01-31 22:06] #5215 closed

[2022-01-31 22:15] minimalsm commented on #5289
Hey @HursitTarcan, thanks for offering to help. For sure you can!

I've assigned you, please ping here if you need any help on this one.

[2022-01-31 22:27] minimalsm commented on #5278
Hey @adi611, thanks for offering to help.

This is temporarily blocked whilst we decide if this should always be 'The Merge' or if 'the Merge' is correct in the middle of a sentence 😬

Will ping you (probably tomorrow) after we decide.

[2022-01-31 22:27] #4910 closed

[2022-02-01 05:44] krvaibhaw opened #5295 "Smart contracts for testing description should be italicize to match with the overall aesthetic"
**Describe the bug**

Smart contracts for testing description should be italicize to match with the overall aesthetic

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/docs/programming-languages/python/
2. Scroll down to PYTHON PROJECTS AND TOOLS
3. See the last entry "Smart contracts for testing" under Active section.
4. See error

**Expected behavior

[2022-02-01 05:48] krvaibhaw commented on #5295
@minimalsm I have fixed this issue.
Related PR : Update Smart contracts for testing description to match with the overall aesthetic #5296

[2022-02-01 07:18] Codentry opened #5297 "Etheriumm"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-02-01 12:52] #5297 closed

[2022-02-01 12:53] minimalsm commented on #5295
Closed in #5296, thanks @krvaibhaw 💪

[2022-02-01 12:53] #5295 closed

[2022-02-01 12:55] minimalsm commented on #5278
Hey @adi611, looks like we're going with 'The Merge' (always uppercase 'The'). Feel free to open a PR for this :-)

[2022-02-01 12:56] minimalsm commented on #5260
Closed in #5283

[2022-02-01 12:56] #5260 closed

[2022-02-01 12:57] minimalsm commented on #5099
Hey @feliche93, thanks for raising this. Just wanted to double-check some things on our end. Happy to get this added but won't have the capacity to do it myself anytime soon. Can you open a PR to add it?

[2022-02-01 15:19] pettinarip commented on #2123
I couldn't find a proper solution for this. It seems that there is no elegant and easy solution for this right now in GH.

I would lean towards closing this until we hear something new from the GH team in the thread you shared.

[2022-02-01 16:54] minimalsm commented on #5275
Closed by #5281

[2022-02-01 16:54] #5275 closed

[2022-02-01 16:59] samajammin opened #5299 "Add date formats to the style guide"
**Is your feature request related to a problem? Please describe.**

Noticed on https://ethereum.org/en/developers/docs/nodes-and-clients/client-diversity/#current-client-diversity

"The execution layer data were obtained from Ethernodes on 23/01/22"

**Describe the solution you'd like**

We should outline a consistent date format (at least for English) in the style guide:
https://ethereum.org/en/c

[2022-02-02 00:34] luckybus77 opened #5302 "brightcoin.ico"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-02-02 00:36] luckybus77 opened #5303 "brightcoin.ico"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-02-02 09:59] brokenprogrammer commented on #4504
@minimalsm I would like to claim this issue.

I noticed most colors are defined in theme.js but there is also a few in other places such as layout.css and I have not yet investigated any components but I'm guessing we change to hex there as well.

A question for you is if I should change only the `rgb` and `rgba` occurences or if I should worry about others as well such as `hsla` or `mix` ?

[2022-02-02 11:35] minimalsm commented on #4504
Thanks for offering to help @brokenprogrammer. I've assigned you.

We'd like to use HEX across the entire codebase for consistency.

[2022-02-02 11:35] #5303 closed

[2022-02-02 11:36] #5302 closed

[2022-02-02 13:28] brokenprogrammer commented on #4504
@minimalsm Just for clarification does that include removing the use of the `polished` npm package referenced in: https://github.com/ethereum/ethereum-org-website/blob/dev/src/theme.js#L2 ?

[2022-02-02 13:33] vluna commented on #5273
@minimalsm I am not 100% sure about the solution for this, but after looking for a couple of days online I think I found a solution.

[2022-02-02 13:46] vluna commented on #5273
@minimalsm I have created the PR, I am sure maybe this is not what is expected but thought I will give it a try.

[2022-02-02 13:57] narayand16 commented on #4253
Hi Joshua,

I would like to work on this issue. Can you assign it to me ?

It would be great if you could give a little brief about the issue and what
we are trying to accomplish.

Thanks,
Narayan Deshmukh

On Mon, 31 Jan 2022 at 20:27, Joshua ***@***.***> wrote:

[2022-02-02 22:05] chtnnh commented on #4974
hey @minimalsm sorry for the delay.

things have been hectic for a while, finals week. getting back to this by the weekend, hope that's acceptable?

[2022-02-03 02:31] ewerx opened #5315 "Update Coinbase Wallet description and features"
The entry for Coinbase Wallet includes some outdated information. Updates below.

**Platforms**

Mobile native (iOS/Android) and **Chrome extension**

**Does the wallet support layer 2 networks?**

Yes. Polygon, Optimism, Arbitrum.

**Can the wallet be used with arbitrary Ethereum RPC endpoint?**

Yes

**Does the wallet have fiat on-ramps?**

Yes, users can connect their Coinbase account for fiat

[2022-02-03 07:34] sukruarc opened #5317 "Ok"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2022-02-03 07:35] sukruarc opened #5318 "Yes"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-02-03 07:35] sukruarc opened #5319 "Yes"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-02-03 07:35] sukruarc opened #5320 "Yes"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2022-02-03 13:36] #5320 closed

[2022-02-03 13:36] #5319 closed

[2022-02-03 13:36] #5317 closed

[2022-02-03 13:36] ErikBjare commented on #4753
Gave this a shot in #5322

[2022-02-03 13:36] #5318 closed

[2022-02-03 13:38] sukruarc commented on #5317
0x790F05d378b00FE48Dc3706dca1D739A3B664799

[2022-02-03 13:38] sukruarc commented on #5317
0x790F05d378b00FE48Dc3706dca1D739A3B664799

[2022-02-03 13:39] sukruarc opened #5323 "Yes"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-02-03 13:39] sukruarc opened #5324 "Yes"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-02-03 13:39] sukruarc opened #5325 "Yes"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-02-03 13:39] sukruarc opened #5326 "Yes"

[2022-02-03 13:39] sukruarc opened #5327 "0x790F05d378b00FE48Dc3706dca1D739A3B664799"

[2022-02-03 13:41] sukruarc opened #5328 "0x790F05d378b00FE48Dc3706dca1D739A3B664799"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-02-03 13:41] sukruarc opened #5329 "0x790F05d378b00FE48Dc3706dca1D739A3B664799"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-02-03 13:41] sukruarc opened #5330 "0x790F05d378b00FE48Dc3706dca1D739A3B664799"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**

**Product description:**

**How long has it been around?**

**Where do you think it should go?**

**GitHub URL**

**Docs URL**

**Is the product open source?**

**Additional context**

[2022-02-03 13:41] sukruarc opened #5331 "0x790F05d378b00FE48Dc3706dca1D739A3B664799"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-02-03 13:46] lingzhong commented on #4753
Thanks for taking this over @ErikBjare ! 👍

[2022-02-03 13:47] lingzhong commented on #4753
Thanks for taking this over @ErikBjare ! 👍

[2022-02-03 15:55] #5331 closed

[2022-02-03 15:56] #5330 closed

[2022-02-03 15:56] #5329 closed

[2022-02-03 15:56] #5328 closed

[2022-02-03 15:56] #5326 closed

[2022-02-03 15:56] #5325 closed

[2022-02-03 15:56] #5324 closed

[2022-02-03 15:56] #5323 closed

[2022-02-03 17:48] SNikhill commented on #5087
Sure, we can have it on by default too. If the chart supports it and we can position it the right.

What about the other things? Is the stuff okay to proceed with?

[2022-02-04 09:49] chiholiu10 commented on #5299
May I solve this issue?

[2022-02-04 10:51] #3128 closed

[2022-02-04 10:52] minimalsm commented on #3128
This was solved with our translations refactor

[2022-02-04 12:20] #4753 closed

[2022-02-04 13:27] #5278 closed

[2022-02-04 16:04] dragos379 opened #5339 "dragos first"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-02-04 16:05] dragos379 commented on #5339
yht

[2022-02-05 19:23] Vienio99 opened #5343 "Add Encode Club to developer learning tools"
**Is your feature request related to a problem? Please describe.**

Add [Encode Club](https://www.encode.club/) to [developer learning tools page](https://ethereum.org/en/developers/learning-tools/) under the bootcamp section.

**Describe alternatives you've considered**

Remove Vyper.fun because the website is no longer available, add dots at the end of descriptions for consistency

**Additional

[2022-02-06 07:37] hjohn1987 opened #5347 "John"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-02-06 07:39] #5347 closed

[2022-02-06 23:58] MiConnell commented on #4891
I just added PR #5349. This is just a brief description, I wasn't sure if there should be a hero image and everything like there is with the r/ethstaker section below. Also if there's a desire to add a full page dedicated to rocket pool I would be happy to contribute. Looking forward to your feedback.

[2022-02-07 11:54] AnmolBansalDEV commented on #4504
does this issue still need resolution?

[2022-02-07 14:21] #5339 closed

[2022-02-07 14:30] minimalsm commented on #5289
Closed by #5340

[2022-02-07 14:30] #5289 closed

[2022-02-07 15:16] corwintines commented on #4338
Hey @taxmeifyoucan! We are going to be looking at the wallets pages as part of the Q1 roadmap. Id be interested in chatting a bit about some of your thoughts for the wallets section of ethereum.org if you're interested. Updating the filters and listing criteria is on the list of things to do for this epic, and it seems like you have some ideas on some filters that would be potentially beneficial f

[2022-02-07 15:17] corwintines commented on #4520
Hey @milvinae! Thanks for the suggestions. We are working on updating the wallets section of our site in Q1, and having L2 support is high on the list of filters in my mind. Happy to bring this filter in, and thanks for listing some wallets that fit the criteria as well!

[2022-02-07 15:21] ligi commented on #2715
Great! Happy to chat

[2022-02-07 15:26] samajammin opened #5352 "Missing copy on /get-eth/ banner"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/get-eth/
2. Scroll down to bottom banner
3. See error

![Image 2022-02-03 at 9 47 34 AM](https://user-images.githubusercontent.com/8097623/152818000-312ca4b5-09b9-447a-a514-fa930350629f.jpg)

**Expected behavior**

Should be text above the button.

**Want to contribute?**

We love contribution

[2022-02-07 15:37] minimalsm commented on #3518
We're closing this out as this isn't something a contributor can contribute to.

[2022-02-07 15:37] #3518 closed

[2022-02-07 16:58] milvinae commented on #4520
Hello @corwintines - thanks for the update

If it is any help I recently launched a zkRollup Directory over at [zkrollups.xyz](https://www.zkrollups.xyz/). It doesn't cover all L2s, just the zkRollups, but you may find it to be a useful data source.

For Arbitrum there is - https://portal.arbitrum.one/

and for Optimism - https://www.optimism.io/apps/wallets

Let me know if I can help in any way.

[2022-02-07 21:20] vladx777 opened #5354 "Transfer token tutorial throws: DeclarationError: Event with same name and parameter types defined twice."
https://github.com/ethereum/ethereum-org-website/blob/864d77178dee04e80d5f983b3911cc351118fb26/src/content/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md

The above tutorial no longer works with current solidity versions, which throw this error:

DeclarationError: Event with same name and parameter types defined twice.

This is because Approval

[2022-02-08 01:39] samajammin commented on #4868
Thanks for this thoughtful post @polarpunklabs! Appreciate the time & energy you've put into this 🙏

I agree with your overall assessment.

For the website, I think (3) makes sense (assuming Vitalik doesn't have an issue with tweaking the title). I support fixing the broken images, as well as keeping the new images given they provide dark mode support (#2030).

For the PDF, I think (2) makes sense

[2022-02-08 10:41] tehseen94 commented on #5173
Hi, Just wanted to find out if this ticket is still to be reviewed or have I missed something:)

[2022-02-08 10:59] Clashinm commented on #5173
I'm trying to get all my money back idk what I quit did

On Tue, Feb 8, 2022, 3:41 AM tehseen94 ***@***.***> wrote:

[2022-02-08 14:04] polarpunklabs commented on #4868
Thanks @samajammin
Those are my favoured options too.

[2022-02-08 14:31] jmcook1186 opened #5365 "Add to glossary: "Sync Committee""
**Checklist**

- [x ] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [x ] This term/definition is not a product advertisement or contain other promotional content
- [x ] This term/definition is directly relevant to Ethereum

**Term Name:**

Sync Committee

**Term Definition:**
a subset of 512 validator

[2022-02-08 14:33] jmcook1186 opened #5366 "Add to glossary: "Supermajority""
**Checklist**

- [x ] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [x ] This term/definition is not a product advertisement or contain other promotional content
- [x ] This term/definition is directly relevant to Ethereum

**Term Name:**

Supermajority

**Term Definition:**
Supermajority is the term

[2022-02-08 14:34] jmcook1186 opened #5367 "Add to glossary: "fork-choice algorithm""
**Checklist**

- [ x ] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [ x ] This term/definition is not a product advertisement or contain other promotional content
- [ x ] This term/definition is directly relevant to Ethereum

**Term Name:**

Fork-choice algorithm

**Term Definition:**

the algorithm

[2022-02-09 00:13] wackerow commented on #5263
Hey @crisgarner! Thanks for the suggestion. I put up a PR (#5376) to add this to the developer frameworks listed.

[2022-02-09 00:15] wackerow commented on #2810
This has not been reproducible since migration to Gatsby Cloud / Gatsby v4. Can reopen if needed but closing for now.

[2022-02-09 00:15] #2810 closed

[2022-02-09 00:26] wackerow commented on #5038
Hey @qbzzt, this outline looks great! Totally on board to have more intermediate/advanced coverage of layer 2s. Looks like you were planning on setting this up as a tutorial?

Would love to potentially incorporate some of this into our upcoming L2 improvements, perhaps pulling pieces to update the developer docs eventually. We'll cross that bridge soon, but in the meantime I think this tutorial wo

[2022-02-09 01:07] qbzzt commented on #5038
Thank you. I spent 15 hours writing it up, and I'm close to done, but for the second time Optimism developnment caught up with me and an article I wished to write got superceded. We're going to start compressing the calldata before writing it to L1, so there's no point compressing the contract prior to deployment. Being an Optimism employee, I'm reluctant to put my name on an article that wouldn't

[2022-02-09 07:59] feliche93 commented on #5099
@minimalsm I checked out the how-to contribute section, forked the repo and created a new branch `gas_fees_calculator` and pushed the changes to my forked repo:

https://github.com/feliche93/ethereum-org-website/commit/d78e1579398a1ff3d9b76b256895f34dbbb61c02

Any more steps I need to do? How would I open a PR on your site now?

Thanks!

[2022-02-09 11:21] #5263 closed

[2022-02-09 11:25] #3452 closed

[2022-02-09 13:52] Himanxu1 commented on #5085
Have this resolved or I would like to contribute to this issue:

[2022-02-10 01:33] Dami8 opened #5383 "Tutorial title"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-02-10 04:19] hungle965 opened #5384 "yep"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-02-10 13:28] minimalsm opened #5385 "Whitepaper PDF is a 404 when navigating directly to download URL"
**Describe the bug**

We've added a PDF version of the whitepaper in #5372.

- Downloading the PDF works when clicking on the URL (as expected)
- Navigating directly to the download URL does not work and returns a 404 page (bug)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [this link](https://ethereumorgwebsitedev01-addwhitepaperpdf.gtsb.io/en/whitepaper) (not yet live yet)
2. Open

[2022-02-10 13:35] #5383 closed

[2022-02-10 13:37] minimalsm commented on #5352
Fixed in #5356 🎉

[2022-02-10 13:37] #5352 closed

[2022-02-10 20:17] kurumbus opened #5389 "Solidity version conflict in tutorial"
I was following this tutorial:
https://ethereum.org/en/developers/tutorials/how-to-write-and-deploy-an-nft/

And got this error:
Error HH606: The project cannot be compiled, see reasons below.
The Solidity version pragma statement in these files doesn't match any of the configured compilers in your config. Change the pragma or configure additional compiler versions in your hardhat config.
  * @ope

[2022-02-10 20:56] wackerow commented on #5365
This looks great @jmcook1186, agree this would make a nice addition to the glossary.

We can fine-tune details in the PR, but I did not that Vitalik's post notes that sync committees consist of 1024 validators... I didn't see 512 noted anywhere, let's just double-check this.

Just assigned you, thanks!

[2022-02-10 21:07] wackerow commented on #5366
This looks good... again, we can fine tune the copy in the PR, but not against adding this to the glossary. Curious thoughts on maybe even adding another entry for "supermajority client" where we can touch on the problem of one client having a potential supermajority to finalize on its own. Sheds more light on the client diversity topic.

[2022-02-11 10:08] jmcook1186 commented on #5367
excellent - I'll add an issue to add LMD-GHOST too

[2022-02-11 10:10] jmcook1186 opened #5392 "Add to glossary: "LMD_GHOST""
**Checklist**

- [ x ] This is a term not already found in the glossary (for similar terms, please consider the benefits of a new term vs updating an existing term)
- [ x ] This term/definition is not a product advertisement or contain other promotional content
- [ x ] This term/definition is directly relevant to Ethereum

**Term Name:**

LMD-GHOST

**Term Definition:**

LMD_GHOST is the fork choi

[2022-02-11 10:23] jmcook1186 commented on #5365
I think 1024 was the original intention but it was updated to 512 by the time of the altair update. It is 512 in the altair specs (https://github.com/ethereum/annotated-spec/blob/master/altair/sync-protocol.md#introduction).

[2022-02-11 15:51] victorlrz commented on #5392
Hello I would like to take this feature please :)

[2022-02-11 15:54] jmcook1186 commented on #5392
i already opened PR #5396 - feel free to suggest edits

[2022-02-13 13:27] Ravikantcool2022 opened #5411 "Developer"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**

**Product description:**

**How long has it been around?**

**Where do you think it should go?**

**GitHub URL**

**Docs URL**

**Is the product open source?**

**Additional context**

[2022-02-13 18:35] vluna opened #5412 "Tabbing through the main menu - submenus does not close main menu when reaching last item"
**Describe the bug**

When going through the submenu of the main menu by pressing tab, the menu does not close when last item is tabbed when going to the next menu item. Or when pressing shift + tab on the first item in the submenu, the menu remains open.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/
2. Press tab until the focus is on `Use Ethereum` and pres

[2022-02-13 19:38] #5411 closed

[2022-02-13 19:40] minimalsm commented on #3794
Closing this out as per #5372

Thanks @polarpunklabs ❤️❤️❤️

[2022-02-13 19:40] #3794 closed

[2022-02-14 13:21] licitrasimone opened #5417 "Solidity version conflict HH606"
In tutorial for developers got this error:
**Error HH606** The project cannot be compiled, see reasons below.

[2022-02-14 17:35] #5365 closed

[2022-02-14 23:22] max-v27 opened #5425 "First day"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-02-15 04:13] grapevinegizmos opened #5426 "Suggestions for reducing contract size article"
In the article on "DOWNSIZING CONTRACTS TO FIGHT THE CONTRACT SIZE LIMIT" there's a lot of good tips, but the biggest contributor to breaking the contract size limit in my experience wasn't mentioned  -- which is creating a new instance of a contract within another one.  If you use `new`
inside a contract to create another contract instance, it looks like the size of the contract calling `new` is

[2022-02-15 04:52] max-v27 opened #5427 "I will help you"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2022-02-16 00:09] IamAmitK commented on #5389
I think it should be fine, since you have changed the pragma version in hardhat, it won't be necessary. Just make sure if you are creating a new sol file, keep the same pragma version.

[2022-02-16 07:12] devalenya commented on #4134
Can this be done with another chain... Like the polyjuice godwoken chain?

[2022-02-16 09:58] arinddas opened #5433 "Ethereum 2.0 Learning Guide for Absolute Beginners"
##  **New learners can follow the document and learn the basic concepts around ETH 2.0**

# OVERVIEW

ETH 2.0 is going through major updates each day, many teams are working to create eth2.0 clients for next gen ethereum platform upgradation. ETH 2.0 comes with some major changes in architecture and functionality.

1. POS (proof of stake consensus) mechanism
2. Validators, Shard chain & Beacon cha

[2022-02-16 12:30] vluna commented on #4229
@minimalsm I can take a look at this one. I would just like some clarification if possible:
- Remove `outline: none;` or find a way to make sure the focus shows on the button dates *30d* and *90d*
- Make sure that after tabbing the button *Developer portal*, the focus goes to the title of the charts

If this can be confirmed or any other changes are needed, I can work on it.

[2022-02-16 19:48] chok-chok commented on #5105
Love the plan to provide guidance on how to run node!

[2022-02-16 21:53] chabroA opened #5437 "Update Ledger wallet logo and features"
The entry for Ledger wallet includes some outdated information. Updates below:

---

**Does the wallet have fiat on-ramps?**

✅ Yes

**Does the wallet allow users to explore dapps?**

Is the wallet integrated with WalletConnect? Does it have a dapp browser? Or can users connect to a dapp using the wallet?

✅ Yes

- The wallet is integrated with WalletConnect
- The wallet have a dapp browser
- User

[2022-02-16 21:53] chabroA commented on #5437
Could you please assign this issue to myself. Thanks 🙏

[2022-02-16 22:00] samajammin commented on #5385
I also encounter an error when I download the PDF & try to open it locally.

@nhsz & @pettinarip reported the same issue. Assigning to @pettinarip to investigate.

[2022-02-17 17:31] SNikhill commented on #5087
@minimalsm

Shall I proceed with other things?

[2022-02-17 23:03] #5437 closed

[2022-02-18 16:43] #5427 closed

[2022-02-18 19:07] chelorope opened #5444 "Tutorials Page: Tutorials 'filter by tag' functionality malfunction"
**Describe the bug**
On the `Tutorials` page
When more than one tag is selected and one of these tags is removed, the tutorials aren't filtered again

**To Reproduce**
Steps to reproduce the behavior:

1. Navigate to the tutorials page
2. Select more than one tag
3. See the filtered tutorials that match those tags
4. Deselect only one of the selected filters
5. See how the filtered tutorials haven

[2022-02-19 05:32] jtraglia opened #5448 "Deposit contract address should have checksum"
The [staking deposit contract address](https://ethereum.org/en/staking/deposit-contract/) "copy to clipboard" button should have [mixed-case address checksum](https://eips.ethereum.org/EIPS/eip-55) encoding. Currently, the address (put in the clipboard) is all lowercase (no checksum). This is a simple thing we could do to prevent potential errors.

More specifically, change the address in the foll

[2022-02-19 13:31] php4fan opened #5450 "Ropsten faucet doesn't seem to work, maybe recommend metamask facuet instead??"
At https://ethereum.org/en/developers/tutorials/how-to-write-and-deploy-an-nft/

At step 4 "Add ETH from a faucet" you recommend using Ropsten faucet.
By following the steps, it simply doesn't work.
It looks like it's abandoned and/or broken.

I don't remember how, I found out there's this one: https://faucet.metamask.io/
which works seamlessly, and seems to be provided by Metamask, the very same

[2022-02-19 16:46] php4fan opened #5451 "Make code blocks resizable"
When I see a block of code like this:

![image](https://user-images.githubusercontent.com/13969584/154809973-3437dcf5-6365-44a4-aef8-f3e12aefb1f0.png)

(and in general anything that has a vertical scroll bar)

**I expect** to be able to click and drag the bottom-right corner to **resize it at my will**, at least vertically.

I freaking hate when I cannot.

Additionally, here, there is a button wit

[2022-02-19 17:57] #5448 closed

[2022-02-19 18:16] #5444 closed

[2022-02-19 20:08] #5412 closed

[2022-02-20 07:29] rodrigoherrerai opened #5461 "The Complete Hands-On Hardhat Tutorial"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**Tutorial title**

**Tutorial description**

**Tag your tutorial**

**Publication**

**Skill level**

**Hosted on Ethereum.org or hosted elsewhere?**

**For tutorials to be hosted on Ethereum.org: Tutorial Content**

**For tutorial

[2022-02-20 07:31] #5461 closed

[2022-02-20 07:34] rodrigoherrerai opened #5462 "Hardhat Tutorial"
We'll consider [our content resources policy](https://ethereum.org/en/contributing/content-resources/) when reviewing the tutorial, so please take a look there first.

**The Complete Hands-On Hardhat Tutorial**

**Hands-On tutorial to learn the basics of Harhdat. We will create 3 projects to understand how Hardhat works in action.**

**Hardhat**

**Medium**

**Beginner**

**Medium**

****

**https

[2022-02-20 14:28] stephenhuh commented on #5389
same issue here, used resolution mentioned above - would be great to get a PR in to reflect the solution.

[2022-02-21 03:11] mohamadrezakheradmand opened #5466 "0xb2c9599991feef9e828cd648b1b9f19286bde3ee"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-02-21 19:22] polarpunklabs opened #5469 "Canonical white paper year of 2013 is incorrect."
The Ethereum white paper page now has a PDF version based on my post about standardising the paper: https://ethereum.org/en/whitepaper/

However, the web page still provides a date of 2013 for the white paper, but this is not the right date for the canonical white paper, which is 2014. More details in my previous issue [here](https://github.com/ethereum/ethereum-org-website/issues/4868):

'Let’s f

[2022-02-21 21:49] #5466 closed

[2022-02-22 11:03] #5367 closed

[2022-02-22 11:04] #5366 closed

[2022-02-22 12:45] #4891 closed

[2022-02-22 13:52] minimalsm commented on #5392
Solved in #5396

[2022-02-22 13:52] #5392 closed

[2022-02-22 13:53] minimalsm commented on #5417
Thanks for reporting @licitrasimone, closing as this is a duplicate of #5389

[2022-02-22 13:53] #5417 closed

[2022-02-22 13:55] thong369 opened #5477 "### Contribution guidelines"
### Contribution guidelines

- [X] I've read the [contribution guidelines](https://github.com/squidfunk/mkdocs-material/blob/master/CONTRIBUTING.md) and wholeheartedly agree

### I've found a bug and checked that ...

- [X] ... the problem doesn't occur with the `mkdocs` or `readthedocs` themes
- [X] ... the problem persists when all overrides are removed, i.e. `custom_dir`, `extra_javascript` and

[2022-02-22 13:56] #5477 closed

[2022-02-22 13:57] minimalsm commented on #5433
Hey @arinddas

I'm not quite sure what this issue is for but if you're suggesting adding this to the site we already cover these changes in great detail across the relevant pages. Sounds like a good blog post though, thanks for writing it up!

FYI [the ecosystem is moving away from Eth2.0 terminology](https://blog.ethereum.org/2022/01/24/the-great-eth2-renaming/).

Closing this issue out, thanks a

[2022-02-22 13:57] #5433 closed

[2022-02-22 13:58] minimalsm commented on #5343
Closed in #5344

[2022-02-22 13:58] #5343 closed

[2022-02-22 19:15] arinddas commented on #5433
Thank you for your response. @minimalsm. If you can suggest where can I put my thought process as a blog to official ethereum community.

Thanks for the link.

[2022-02-22 21:31] wackerow commented on #5451
Hey @php4fan, thanks for reporting this, apologies for your frustrations.

I'm having trouble reproducing this myself, would you mind mentioning which OS and browser you're using?

[2022-02-22 22:16] ivbhatt commented on #3972
This issue still persists. As shown:

![image](https://user-images.githubusercontent.com/20361038/155227842-4378bf72-e566-4519-9f84-5918b4177574.png)

It appears that we are hitting the correct API as per DeFi Pulse's own documentation.
Link to our code: https://github.com/ethereum/ethereum-org-website/blob/dev/src/lambda/defipulse.js#:~:text=%60https%3A//data%2Dapi.defipulse.com/api/v1/defipulse/

[2022-02-23 13:15] php4fan commented on #5451
Chrome on Linux (specifically OpenSUSE Tumbleweed).

When you say you cannot reproduce, do you mean the part where the textarea-like thingie is not resizable by dragging the bottom-right corner (I find that hard to believe that it's resizable for you), or the part where the "Show all" button doesn't show all?

Because actually the second part is no longer happening to me either. It was specificall

[2022-02-23 15:06] minimalsm commented on #5451
Confirming I also do not see the 'Show All bug' (Brave / Safari on MacOS)

[The bottom of this tutorial has a large code block that is good for testing this.](https://ethereum.org/en/developers/tutorials/understand-the-erc-20-token-smart-contract/)

[2022-02-23 15:38] samajammin commented on #4504
I don't have a super strong opinion here. I agree consistency in the codebase is always worth striving for but I'm not sure it's always worth it if it comes at the cost of legibility. e.g. as others have pointed out, when using the alpha channel / opacity it's easier to read & reason about with the `rgba` format (at least for me). Also we do use some packages, like the `mix` utility from the `poli

[2022-02-23 15:53] samajammin commented on #5451
Also having trouble reproducing this bug on MacBook Air (M1, 2020) using BraveVersion 1.35.100.

Here's how things look on my end:
https://share.getcloudapp.com/04uLBYGe

I don't see a bottom-right corner block like you do. I also don't share the expectation that this should be draggable for the user to resize (although I'm certainly open to that!).

That's not the interaction I have - clicking "s

[2022-02-24 16:18] corwintines commented on #5038
@qbzzt let me know what you want us to do with this. Sounds like a great article, but I understand the reluctance as well.

[2022-02-24 16:22] corwintines commented on #5450
Im having issues using this faucet personally, but if others are having success feel free to add this faucet to the faucet lists on https://ethereum.org/en/developers/docs/networks/#top. Might be worth just changing all faucet references to this page for users to choose from in tutorials.

[2022-02-24 21:06] wackerow opened #5501 "Plugin gatsby-remark-image-urls parsing bugs"
**Describe the bug**
Recently a plugin was added to avoid having to modify the image paths for translated markdown pages.

1. Noticing this is causing problems with any images being used within markdown files that are _stored in the root assets folder_. Images stored within the same folder as the english markdown file work fine, but if it's stored in the assets folder it breaks.
Example is the `po

[2022-02-25 12:14] adi44 commented on #5462
Hi, I would like to pick up this issue. @rodrigoherrerai

[2022-02-25 22:22] lingzhong commented on #5450
It seems there are multiple places on the site that references the [de facto Ropsten faucet](https://faucet.ropsten.be) that reached end of life.

Happy to take this bug on :)

[2022-02-26 00:52] qbzzt commented on #5038
I think I'd like to wait with this. Once the compression feature is out, I can check if adding this improves the results or not, and then decide - is that OK?

[2022-02-26 18:52] YOUSU198 opened #5514 "YOUSSEF"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser: [e.g. chrome, safari]
- Version: [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2022-02-27 02:32] Shelton2020 opened #5515 "Uni"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-02-27 02:51] lingzhong commented on #5450
Created PR #5516 to fix this bug. Seeking review :) @corwintines

[2022-02-27 18:39] mohamadrezakheradmand opened #5519 "دعوت جلسه: mohamadreza kheradmand از شما برای حضور در جلسه‌ای دعوت می‌کند"
برای پیوستن به جلسه در Google Meet، روی این پیوند کلیک کنید:
https://meet.google.com/yhj-pfpn-iiv

یا Meet را باز کنید و این کد را وارد کنید: yhj-pfpn-iiv

[2022-02-27 18:44] mohamadrezakheradmand opened #5520 "دعوت جلسه: mohamadreza kheradmand از شما برای حضور در جلسه‌ای دعوت می‌کند"
برای پیوستن به جلسه در Google Meet، روی این پیوند کلیک کنید:
https://meet.google.com/yhj-pfpn-iiv

یا Meet را باز کنید و این کد را وارد کنید: yhj-pfpn-iiv

[2022-02-27 21:03] mohamadrezakheradmand opened #5521 "دعوت جلسه: mohamadreza kheradmand از شما برای حضور در جلسه‌ای دعوت می‌کند"
برای پیوستن به جلسه در Google Meet، روی این پیوند کلیک کنید:
https://meet.google.com/jyj-unau-ozx

یا Meet را باز کنید و این کد را وارد کنید: jyj-unau-ozx

[2022-02-28 09:33] amin-yutori opened #5524 "Improving POAP to give more fun to Ethereum network users"
**Does your functional requirement relate to the problem? Please describe.
Increased POAP usage (markets, transactions)

<! -- A clear and concise description of what the problem is. Example I am always [...]. I'm frustrated when -->.
Currently, the POAP only serves as a badge as a memorial, but there are few places where people can show off even that badge!

**Please describe your preferred solut

[2022-02-28 12:56] minimalsm commented on #5524
Hey @amin-yutori, thanks for the thoughts here. Perhaps it would be better if you directed this feedback directly to the team working on POAP. [This is their discord server.](https://discord.gg/jJ7pMz3f)

Closing this out as it is not relevant to ethereum.org specifically ❤️

[2022-02-28 12:56] #5524 closed

[2022-02-28 13:00] #5450 closed

[2022-02-28 13:43] #5521 closed

[2022-02-28 13:43] #5520 closed

[2022-02-28 13:43] #5519 closed

[2022-02-28 13:43] #5515 closed

[2022-02-28 13:43] #5514 closed

[2022-02-28 14:29] lingzhong opened #5527 "ethereum.org webpage consistently performing poorly per Lighthouse diagnostics"
**Describe the bug**

ethereum.org webpage loading performance is consistently poor (scoring 20s out of 100) as diagnosed by Lighthouse Reports in every build over the past 6 months.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any recent PR, e.g. #5516
2. Scroll down to the 'Gatsby Cloud Build Report' by @gatsby-cloud bot
3. Locate the Lighthouse Report subsection and click on 'Vi

[2022-02-28 14:32] mohamadrezakheradmand commented on #5519
yhj-pfpn-iiv

[2022-02-28 14:49] mohamadrezakheradmand commented on #5521
: jyj-unau-ozx

[2022-02-28 15:56] lingzhong commented on #5389
Created PR #5530 to fix this compilation error in NFT tutorial. @minimalsm Seeking review 🏗

[2022-02-28 18:15] minimalsm commented on #1461
Still waiting for clarity on this.

[2022-02-28 21:28] mohamadrezakheradmand opened #5534 "You have been invited to meet on Skype. Click here to join the meeting (no account needed): https://join.skype.com/FPwYQqNrvTT5"
0x69Fa8961a0f07407992E52C8e8c87Cc5b695FF1a

[2022-02-28 21:32] mohamadrezakheradmand commented on #5534
You have been invited to meet on Skype. Click here to join the meeting (no account needed):
https://join.skype.com/FPwYQqNrvTT5

[2022-03-01 01:31] mohamadrezakheradmand commented on #5534
https://join.skype.com/FPwYQqNrvTT5

[2022-03-01 15:44] wackerow commented on #5527
Hey @lingzhong! Thanks for posting the issue. Wanted to let you know the accessibility and performance are definitely issues on the roadmap. The Lighthouse scores can vary quite a bit between desktop and mobile, and agree we need to take a closer look here eventually.

This report is broad but doesn't help so much with defining specific actionable issues. I'm going to close this specific issue out

[2022-03-01 15:44] #5527 closed

[2022-03-01 16:05] #5273 closed

[2022-03-01 17:24] ratstraper opened #5556 "Add "Show NFT" to wallet option"
**Is your feature request related to a problem? Please describe.**
I searched for a wallet at https://ethereum.org/en/wallets/find-wallet/ There is nothing in the filters that displays the NFT in the wallet

**Describe the solution you'd like**
Add "Show NFT" to wallet options and filter search

[2022-03-01 19:28] samajammin opened #5558 "Update list of stablecoins"
**Is your feature request related to a problem? Please describe.**

Noticed the "Top stablecoins by market capitalisation" we list is a bit outdated:
https://ethereum.org/en/stablecoins/

![Image 2022-03-01 at 11 26 34 AM](https://user-images.githubusercontent.com/8097623/156235234-d4611557-8ce8-4268-93dc-7131fc80d9b5.jpg)

**Describe the solution you'd like**

Add more Ethereum-based stablecoin,

[2022-03-02 06:18] corwintines commented on #5556
@ratstraper thanks for the suggestion! We are currently working on updating our wallets page, and improving filters is apart of that. We have NFT support as one of these features that we are looking to include :)

[2022-03-02 06:23] samiulllah opened #5569 "Bug in buy function of ERC20 simple DEX tutorial"
Tutorial at this link has code logical error --> https://github.com/ethereum/ethereum-org-website/blob/dev/src/content/developers/tutorials/transfers-and-approval-of-erc-20-tokens-from-a-solidity-smart-contract/index.md

The buy function transfer amount of token to the buyer but it never transfers ether to the contract.

[2022-03-02 06:32] samiulllah commented on #5569
Oh sorry I didn't payed attention that buy function is payable and hence value number of eth will be transferred. Close issue.

[2022-03-02 08:30] joeurassa commented on #5558
add me please!

[2022-03-02 11:02] minimalsm commented on #5558
Hey @JayGreck, thanks for offering to help. I've assigned you ❤️ please confirm you've seen this and let us know if you need any help on this 👍

Thanks @joeurassa too, I've give you a ping if @JayGreck isn't able to work on this.

[2022-03-02 12:05] #5556 closed

[2022-03-02 12:21] JayGreck commented on #5558
Hey @minimalsm, I will begin working on this issue now!

I have got two questions,
1. Do you want me to replace the old top 10 with the new top 10 and remove the stablecoins that have fallen down from the the first 10 positions? Or do you want me to add the stablecoins that are currently in the top 10 that aren't already in the list?
2. I have noticed that the Frax stablecoin collateral type is bo

[2022-03-02 18:12] corwintines commented on #5569
No worries, thanks @samiulllah :)

[2022-03-02 18:12] #5569 closed

[2022-03-02 19:31] shanajhwhy commented on #5558
- - [ ] @joeurassa [[]()]()

[2022-03-02 23:15] joeurassa commented on #5558
what does that mean @shanajhwhy am new to github!

[2022-03-03 06:40] lingzhong commented on #5389
Friendly bump on the PR reviews :) Should be quick; Thanks in advance!

[2022-03-03 08:21] Rig1992 opened #5577 "actions/checkout@v2 #24496"
actions/checkout@v2 #24496

_Originally posted by @Rig1992 in https://github.com/ethereum/go-ethereum/pull/24496#pullrequestreview-898577446_

[2022-03-03 09:34] #5577 closed

[2022-03-03 09:35] #5389 closed

[2022-03-03 16:23] kpister opened #5580 "[developers/learning-tools/] Vyper.fun site is no longer active"
The docs for learning include a card for [Vyper.fun](https://vyper.fun) which is not accessible. The [gitter](https://gitter.im/vyper-fun/lobby) and discord for the project are also dead as far as I can tell.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [https://ethereum.org/en/developers/learning-tools/](https://ethereum.org/en/developers/learning-tools/)
2. Click on Open Vyper Fu

[2022-03-03 20:03] samajammin opened #5581 "Add additional grant programs to the grants page"
**Is your feature request related to a problem? Please describe.**

https://ethereum.org/en/community/grants/

**Describe the solution you'd like**

Lots of Ethereum-related grant programs out there that we should add!
https://twitter.com/WhiteFlamingo88/status/1497907214828376066?s=20&t=Wn4rya0oQdDPtWc6C3td0w
https://docs.google.com/spreadsheets/d/1XHc-p_MHNRdjacc8uOEjtPoWL86olP4GyxAJOFO0zxY/edit

[2022-03-03 21:48] sancodes commented on #5581
I'm willing to help, if this is still open.

[2022-03-04 14:48] nloureiro opened #5582 "Missing the Hardhat logo"
**Describe the bug**

Missing the Hardhat logo from the "set up local environment" page.
The image src is 404; they might have changed the image location.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/local-environment/
2. Scroll down to the card section
4. See an error image not displaying

**Expected behavior**

should have the logo

**Screenshot

[2022-03-04 14:57] minimalsm commented on #5558
Closed by #5575

[2022-03-04 14:57] #5558 closed

[2022-03-04 16:29] minimalsm commented on #5582
Thanks for catching @nloureiro 🎉

Looks like [we were using an external image here](https://github.com/ethereum/ethereum-org-website/blob/e4709c2e7df561411da6059154d364bf22c58d36/src/pages/developers/local-environment.js#L298) that Hardhat removed from their site. I've fixed this in #5593.

[2022-03-04 17:17] #5582 closed

[2022-03-05 03:34] grayl0921 opened #5600 "grayyy"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-03-05 16:02] feliche93 commented on #5099
Hi @minimalsm, I wanted to check-in and ask if there's anything else that you'd need from my side :)

[2022-03-05 16:07] minimalsm commented on #5099
Yeah, please open a PR into this repo. Thanks 🙏

[2022-03-05 16:49] #5600 closed

[2022-03-05 20:30] mimoo opened #5601 "OCaml is not supported"
Registering for ETH Amsterdam it tells me to choose which programming language I have experience with, but OCaml is not in there. So they redirected to this page https://ethereum.org/en/developers/docs/programming-languages/ which redirected me to this

[2022-03-05 21:20] andreibesleaga opened #5602 "php"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**

**Product description:**

**How long has it been around?**

**Where do you think it should go?**

**GitHub URL**

**Docs URL**

**Is the product open source?**

**Additional context**

[2022-03-05 21:21] #5602 closed

[2022-03-06 02:13] #3839 closed

[2022-03-06 14:08] adeleke-akinade opened #5604 "Potentially incorrect statement in the Transactions description"
The Transactions description on the https://ethereum.org/en/developers/docs/intro-to-ethereum/ page states that "Execution of any code causes a state change in the EVM" and I am unsure if this is correct. What about code execution that simply returns a value but does not change the state?

[2022-03-07 14:21] minimalsm commented on #5601
Hey @mimoo, this isn't something we're involved with. Best to reach out to the ETHGlobal team about this. [Here is their Discord](https://discord.gg/ethglobal)

[2022-03-07 14:21] #5601 closed

[2022-03-07 14:24] minimalsm commented on #5604
Hey @adeleke-akinade thanks for raising this. In the context set by the page, this is definitely correct.

[2022-03-07 14:24] #5604 closed

[2022-03-07 14:28] minimalsm commented on #5580
[Checking in with the creator.](https://twitter.com/daoshuaa/status/1491768879491735552) They already stated that they intended to keep it up so hopefully just a temporary outage.

[2022-03-07 14:39] #5462 closed

[2022-03-07 18:59] sebastienbarre commented on #2090
Is there any plan on fixing this for `*` as well?

For example, in a MDX file:
[code]
Prettier automatically changes it to:
[code]
Which breaks MDX parsers -- this is no longer a valid Javascript/JSX expression.

Thanks

[2022-03-07 20:59] wackerow opened #5616 "Hero CTA button layout bug"
**Describe the bug**
Hero buttons missing buffer spacing

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/upgrades/get-involved/bug-bounty/ on desktop
2. See the two hero buttons next to each other without any spacing

**Expected behavior**
A gap between the two buttons horizontally when laying side-by-sde.

**Screenshots**
<img width="1287" alt="image" src="htt

[2022-03-07 21:51] vluna commented on #5616
I can work on this.

[2022-03-07 21:53] vluna commented on #4229
@minimalsm just wondering if you saw my comment above.

[2022-03-07 21:55] minimalsm commented on #4229
@vluna sorry I didn't, thanks for offering to help. Yeah, we shouldn't have outline none on this (accessibility). Feel free to use your judgement here.

[2022-03-08 00:47] crypto-mantra opened #5618 "zander_zu_media"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-03-08 06:54] samajammin commented on #2277
Latest thinking on this - maybe we should create a staking "docs" section under the main staking page:
https://ethereum.org/en/staking/

We could use the same docs.js markdown template we use for the developer docs:
https://ethereum.org/en/developers/docs/

Reasoning is that these resources should probably be kept separate from the developer docs… we don’t want to intimidate folks by making them f

[2022-03-08 09:24] wasim162010 opened #5620 "Request to add BoltX wallet"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet security tested? Please explain security measures i.e. security audit, internal s

[2022-03-08 16:15] feliche93 commented on #5099
@minimalsm thanks for the heads up, just opened the PR 🙏

https://github.com/ethereum/ethereum-org-website/pull/5622

[2022-03-08 16:45] #5618 closed

[2022-03-08 17:54] samajammin commented on #5581
Let's keep this open - @corwintines added the Google Sheet link in https://github.com/ethereum/ethereum-org-website/pull/5568 but I think we should add individual grant links vs. relying on this 3rd party resource. Reasoning being:
- Not sure if all those projects are legit or not. We should vet them individually.
- We shouldn't rely on a Google spreadsheet we don’t control, e.g. the website for `

[2022-03-09 16:26] #4229 closed

[2022-03-09 16:38] tsudmi opened #5633 "Remove RocketPool as the recommended staking solution"
Placing RocketPool as recommended staking solution for users with less than 32 ETH breaks the idea that Ethereum Foundation should stay neutral to the protocols that build on top. There should be a link to all the solutions out there, and the user should be able to evaluate all of them and choose the one he likes the most.

[2022-03-09 16:50] tsudmi commented on #5633
Reverts https://github.com/ethereum/ethereum-org-website/pull/5349

[2022-03-09 19:41] mktdce opened #5636 "TokensFarm"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2022-03-09 20:14] djrtwo commented on #5633
Agreed that rocketpool should not be *independently* highlighted like this on the ethereum.org website.
I think the page should either give a better range of possibilities or not address the issue at all

[2022-03-09 20:59] corwintines commented on #5633
At the risk of looking dumb here, what other staking services let you run a validator with less than 32 ETH? Going to do some looking on my own, but any direction on this would be appreciated. I do think we should flush this section out more, but I also think Rocket Pool ended up getting some consideration due to you being able to run a validator with less than 32 ETH as well.

[2022-03-10 02:18] samajammin commented on #5633
Hey @tsudmi - thanks for creating this issue & thank you folks for weighing in!

**First, covering your point neutrality:**

While Ethereum as a protocol is neutral, [the ethereum.org team](https://ethereum.org/en/about/) (which doesn’t represent any official stance of the Ethereum Foundation) is admittedly opinionated when it comes to ethereum.org content. I believe we have to be opinionated to a

[2022-03-10 02:19] samajammin commented on #5633
@corwintines the list we currently link to on our staking page provides info on the minimum stake required for many services:
https://beaconcha.in/stakingServices

[2022-03-10 02:25] hanniabu commented on #5633
@timbeiko The page clearly lists a link to other staking providers and is in no way giving the impression that Rocket Pool is the only solution. This issue was brought up by a tweet (by tsudmi) that intentionally cropped out the link to mislead the crypto community and drive an angry mob your way.

Given the marketshare of Lido and other centralized services along with their marketing and purchasi

[2022-03-10 02:47] flaskr commented on #5633
That's a good point - a lot of services allow you to 'stake', but not run a validator (permissionlessly or not) on their behalf.

[2022-03-10 11:57] kiriyha commented on #5633
@samajammin It seems like even the opinions of credibly neutral ETH2 heavyweights who commented on this issue cannot sway your opinion. Your team also seems to have ignored your own guidelines regarding the minimum period that the project should be operational before it gets highlighted. Finally, if the minipool concept (ie run your own node with <32 ETH) is so great, why Ankr (who were running wi

[2022-03-10 12:19] minimalsm opened #5639 "Add <kbd> styling"
**Is your feature request related to a problem? Please describe.**

When reviewing #5594, I noticed that we do not have proper styling for `<kbd>` HTML markup. Given we have docs and tutorials that rely on specific user interactions with multiple keypresses, it makes sense to design and implement this.

**Describe the solution you'd like**

We should design our `<kbd>` elements to look like keys.

[2022-03-10 12:41] vluna commented on #5639
@minimalsm I would be happy to help on this!

[2022-03-10 13:14] minimalsm commented on #5639
Hey @vluna, happy to have you implement this. Perhaps we should get one of our new designers to whip something up for it first?

[2022-03-10 13:40] vluna commented on #5639
Sure @minimalsm, I created a couple just for options. You can see [them in this jsfiddle ](https://jsfiddle.net/e702y59d/) and let me know. Once there is an approved design I can look into the update.

[2022-03-10 13:45] flaskr commented on #5633
Have you done your own DD on Ankr? Last I checked a few months ago, they were very loud on how you could run your own validators, but the docs were missing a lot of information and there was no way someone could just come in and spin up something themselves.