[2021-02-12 21:00] adrien-be commented on #2240
Thank you @ryancreatescopy

Note that we just added support for Avalanche and Solana.

I forgot to mention that our network is already live since Dec 2020 and we had a 120% growth in validators during our first 6 weeks only. We currently have 37 validators and expect the growth to keep going as we successfully got through the toughest part of a network effect: the first weeks of the launch, igniti

[2021-02-12 23:39] wackerow commented on #2240
@adrien-be Apologies for the delay here... this looks good. I'll drop this into a PR.

[2021-02-13 00:26] wackerow commented on #2222
@michzio Hey, glad to hear you're interested in getting involved! Unfortunately we don't currently have any resources for Swift programmers specifically.

@samajammin Any idea best place to refer, or if you're aware of any Swift resources that we should consider incorporating into the site?

[2021-02-13 00:42] wackerow commented on #2257
Closed with #2258

[2021-02-13 00:42] #2257 closed

[2021-02-13 11:48] yakkomajuri commented on #1779
Wondering where you'd want to have this data?

I feel like one way with little overhead would be to send it as a custom event to Matomo since that's already integrated here?

Haven't used Matomo myself, but I assume I could pass an event name like `page_review` with a prop determining if it was helpful or not (e.g. boolean), and then a pathname (could be from `window.location.pathname`)

[2021-02-13 13:18] yakkomajuri commented on #1784
There's an entire commented out section that essentially provides the main foundation for this - what (except the "bonus points" section) would the desired solution for this look like now? @ryancreatescopy

[2021-02-14 07:11] #2364 closed

[2021-02-15 00:58] darkwater4213 opened #2433 "Javascript/other Wallet...?"
Hey, I've been looking through the repositories at [Ethereum's "profile"](https://github.com/ethereum) and can't find any Eth1 (PoW) wallets built in Javascript or other more... universal languages. Can someone please reply with a complete list of all _official_ Eth1 wallets (preferably that also function as full nodes, or is that different software)? Thank you!

[2021-02-15 01:26] okdonga commented on #2376
Hi @tahiralvi
I think this is the link to the Urdu translation page:
https://crowdin.com/project/ethereumfoundation/ur-IN
<img width="1210" alt="Screen Shot 2021-02-15 at 10 20 55 AM" src="https://user-images.githubusercontent.com/12257412/107895889-27d59700-6f78-11eb-95b7-6f028834249e.png">

[2021-02-15 09:23] wetryingtodorock commented on #2373
Hello! Can you take a look at this issue, please?

[2021-02-15 15:56] #2240 closed

[2021-02-15 15:58] #2351 closed

[2021-02-15 21:10] cj-technical commented on #1564
@samajammin  Is that path still correct? "docs" doesn't appear to be under the "content" folder any more.

https://github.com/ethereum/ethereum-org-website/tree/dev/src/content

[2021-02-16 00:02] samajammin commented on #1564
@cj-technical content > developers > docs

[2021-02-16 08:06] 0848551558 opened #2436 "TWT BEP20"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2021-02-16 09:12] #2436 closed

[2021-02-16 15:54] #2316 closed

[2021-02-16 22:55] cj-technical commented on #2407
@samajammin Would you want this abstracted away in a utility function or class? As in, if you wanted to swap out LoDash at some point in the future, it wouldn't create any breaking changes.

If so, where would those be housed in the overall solution?

[2021-02-17 06:02] tahiralvi commented on #2376
@okdonga The language has multiple variations. The said one is not recognized as Urdu (Pakistan).

[2021-02-17 06:47] okdonga commented on #2376
Ah I see, sorry about misunderstanding. I think you can reach out to Taeyeon Kim via the [Discussions](https://crowdin.com/project/ethereumfoundation/discussions) tab on the crowdin page.  It seems like she is in charge of adding new languages.

<img width="1049" alt="Screen Shot 2021-02-17 at 3 43 28 PM" src="https://user-images.githubusercontent.com/12257412/108166025-e7704780-7136-11eb-85bd-848

[2021-02-17 13:19] GeorgeTrotter commented on #2207
Hey @ontologymachine - following up on this! Can you provide the information requested below so we can have a look at listing your dapp? Thank you!

Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information

[2021-02-17 14:10] GeorgeTrotter commented on #2229
Hey @Dadybayo - my sincere apologies for the long delay on this. I've had a look at the material you've provided and everything looks great. I have a few clarifying questions for you and then we can move forward quickly:

**Is the wallet a multi-signature wallet?**

I don't think so - is that correct?

**Wallet description**

"Unstoppable Wallet is an open-source, non-custodial storage solution kn

[2021-02-17 15:28] Dadybayo commented on #2229
Hey @GeorgeTrotter - Thank you for your reply.

Yes, you are right, Unstoppable is not a multi-signature wallet, but it is **multi-currency**.

**Wallet description**

I suggest replacing it with this text

"Unstoppable Wallet is an open-source, non-custodial, and easy-to-use multi-crypto wallet with extensive market analytics tools and the ability to swap crypto via decentralized exchanges in a f

[2021-02-17 17:14] ryancreatescopy commented on #2433
Hey, thanks for your question.

There are no "official" wallets in the same way that there is no official implementation of Ethereum – no single repo of source code. Ethereum is deliberately language agnostic in this respect.

To find an Ethereum web-based wallet, we suggest looking here: https://ethereum.org/en/wallets/

Wallet software is largely decoupled from client software at this stage. You

[2021-02-17 17:14] #2433 closed

[2021-02-17 17:19] ryancreatescopy commented on #2407
@Vishal19111999 sorry for the delay! We'd love for you to hop in to the code and help out with this. Thanks!

[2021-02-17 17:22] #2406 closed

[2021-02-17 17:25] ryancreatescopy commented on #2406
Thanks for much for looking into this and providing the explanation. Head on over to our discord to get yourself a POAP if you want. Instructions here: https://ethereum.org/en/contributing/#poap

[2021-02-17 17:25] #2411 closed

[2021-02-17 17:36] seishun opened #2443 "The explanation of codeHash could use some improvement"
https://ethereum.org/en/developers/docs/accounts/

What code fragments?

**Additional context**

It seems this paragraph was accidentally (?) decimated in https://github.com/ethereum/ethereum-org-website/commit/afaa877625aecfd84f696d8f2c2cc0b63f61242d.

[2021-02-17 17:38] ryancreatescopy commented on #2359
@all-contributors please add @catsnackattack for bug report.

[2021-02-17 17:38] #2359 closed

[2021-02-17 17:44] ryancreatescopy commented on #2301
Thanks @mikejpoole!

[2021-02-17 18:24] wackerow commented on #2443
@seishun Thanks for dropping this feedback! Can take a look at this eventually, but in the meantime please feel free to open a PR if you have a suggestion on how to improve this, would be happy to consider any improvements =)

[2021-02-17 20:17] wackerow commented on #2373
@wetryingtodorock Hey! Sorry for the delay on this while we play catch up. Putting this into a PR now.
(Just curious, you listed this as open source but the GitHub account provided doesn't have any public repos... not a deal breaker for this specific page, just curious if the source code was available anywhere.. thanks!)

[2021-02-17 20:56] GeorgeTrotter commented on #2338
Hey @songchenwen  - we are closing this issue without listing Bitpie Wallet. In reference to our [listing policy](https://ethereum.org/en/contributing/adding-products/), we look to list wallets that have clearer security documentation and/or are open source so that their security can be verified. In addition, we look for products that fit our design principles:

Inspirational: anything on ethereum

[2021-02-17 20:56] #2338 closed

[2021-02-17 21:10] GeorgeTrotter commented on #2299
Hey @sam17889 - thanks for your submission and sorry for the wait! I've got some questions about the wallet's features we need to know about before listing.

- I couldn't find any information on BitKeep's audits or other security measures. Do you know what steps BitKeep has taken for security?

- Does BitKeep have limits protection for high volume transactions, to protect user funds?

- Does BitKe

[2021-02-17 21:22] GeorgeTrotter commented on #2330
Hey @mikehd2, thanks for submitting this issue! Clarifying the geographical restrictions you've included - these are countries in which itez.com does not provide services, correct?

Does itez.com service the US? If so, are there state-by-state restrictions or can US residents use itez.com wherever?

Let us know!

[2021-02-17 21:53] wackerow commented on #2408
@finleyexp Sorry for the delay, thanks for posting this! Looked at this a bit more and realized `--testnet` was being used in a few places in this tutorial, which is now a deprecated flag. Just put up a PR fixing this... Thanks for surfacing =)

[2021-02-18 00:05] wackerow commented on #1779
@yakkomajuri Thanks for jumping in on this!... yes, Matomo sounds like the best approach here. @ryancreatescopy Any design ideas in mind on this one? I think simplicity is our friend, some binary type of vote.

[2021-02-18 02:45] sorumfactory commented on #2376
Hello @tahiralvi, thank you for your suggestion to add Urdu(Pakistan) language to ethereum.org!
It's now available in Crowdin: [](https://crowdin.com/project/ethereumfoundation/ur-PK)
Feel free to reach out if you have any further requests or questions along the way :)

@okdonga Thank you very much for your support on this!

[2021-02-18 08:38] wetryingtodorock commented on #2373
Hello! Thank you!
Sorry, that was my bad, the product is not open source, I've edited the answer to 'No'.

[2021-02-18 09:19] ryancreatescopy commented on #1779
I agree, if we can ship something simple, hooked up to matomo:

[code]

and then we can go from there once we see usage...

[2021-02-18 17:36] wackerow commented on #2229
@Dadybayo Any chance you could link to the logo asset you want to use?

[2021-02-18 18:32] Dadybayo commented on #2229
https://github.com/horizontalsystems/HS-Design/blob/master/PressKit/UW-Logo-on-light.svg

[2021-02-18 19:13] samajammin commented on #2423
@wackerow mind knocking this out? Thanks!

[2021-02-18 19:32] samajammin commented on #2376
Thank you @tahiralvi for the suggestion & thank you @sorumfactory for adding!

Closing this issue out but feel free to re-open if there's any further questions/issues.

[2021-02-18 19:32] #2376 closed

[2021-02-18 19:33] samajammin commented on #2376
@all-contributors please add @tahiralvi for ideas.

[2021-02-18 20:06] wackerow commented on #2423
@hcote Thanks for posting! Just put up a PR to add Fortmatic Wallet =)

[2021-02-18 22:40] darkwater4213 commented on #2433
Okay, cool. Thanks! One last question, though: are there any full-node/mining applications running the Eth1 protocol (the one that's still PoW) that also function as a full (preferably non-CLI) client, and/or vice versa? I'm kind of clueless in this regard...

[2021-02-18 22:53] darkwater4213 commented on #2433
I suppose I should say why I want it... I'm making my own blockchain, very much like Ethereum, but with a slightly different (for lack of a better term) flavor to it. The idea behind the node/wallet combination is that you can simply leave the wallet application running (it would still auto-lock after twenty minutes, for obvious reasons) and it would automatically be PoW mining for the last addres

[2021-02-19 08:40] mikehd2 commented on #2330
Hi! @GeorgeTrotter
Thanks for your feedbaсk!

Yes, we dont provide our service in this locations.

No. For this moment we are unable to serve USA customers.

[2021-02-19 13:10] Anuragtech02 commented on #2251
Hey @samajammin  I'd like to work on this! Could you please assign this to me ?

[2021-02-19 15:37] GeorgeTrotter commented on #2330
@wackerow good to go

[2021-02-19 21:10] stuz5000 opened #2458 "Clarify the status and planned future Proof of Stake change in the website documentation."
As a noob, the documentation leaves me confused as to the status of the move to Proof of Stake.
Could the documentation be improved to clarify:
 - is proof of stake used in use in Etherenum?
 - has it/will it completely replace proof of work?
 - what's the difference between, ETH, ETH 2, ETH Classic?
 - what are the timelines for the switch to PoS, deprecation of PoW.

---
There's a summary of con

[2021-02-19 22:48] wackerow commented on #2251
@Anuragtech02 Thanks for offering to help on this!! Don't hesitate to drop questions/more comments here, or hop onto our [Discord](https://discord.gg/CetY6Y4) to say hi. If you end up not having the time for it just let us know and we can un-assign you. 🙂

[2021-02-19 23:49] wackerow commented on #2401
@samajammin
So I tried forcing all Twemoji calls to `https`:
![image](https://user-images.githubusercontent.com/54227730/108573410-51b8f180-72c9-11eb-8467-327862eea3ad.png)
Which got rid of that error specifically. But right behind it was:
![image](https://user-images.githubusercontent.com/54227730/108573342-2b935180-72c9-11eb-817c-e66ed6a12193.png)

Our language translations appear to be affected

[2021-02-20 00:42] frostiq opened #2459 "Adding Linen App wallet"
### **Is your wallet globally accessible?**

Yes. iOS version has full functionality, Android version - limited functionality at the moment.

### **Is your wallet custodial, non-custodial, or a hardware wallet?**

Linen Wallet is a non-custodial smart-contract wallet and users have access to 2 of 3 private keys.

If our infrastructure is not operational, users will be able to access their funds wi

[2021-02-20 14:46] trongham opened #2461 "Ethereum"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

**Is your wallet custodial, non-custodial, or a hardware

[2021-02-22 13:11] jbalta1 opened #2463 "Catalan website translation"
Your website should also be in Catalan language

The website should be translated to Catalan language so that is accesible in Catalan.

[2021-02-22 13:40] #2463 closed

[2021-02-22 16:56] ryancreatescopy opened #2465 "Pre-filter and anchor links"
As a content creator I want to link users to a pre-filtered section that exists halfway down a page so that I can link users to the exact content I want them to see.

For example, on a page that discusses NFTs I should be able to link users to the `/#explore` section of the dapps page with the collectibles option pre-filtered. This way users can see the NFT dapps immediately upon navigating.

Curr

[2021-02-22 18:27] samajammin commented on #2465
E.g. URL: https://ethereum.org/en/dapps/?category=collectibles/#explore

The category URL param shouldn't break the anchor link

[2021-02-22 21:27] samajammin opened #2467 "Fix disparity between wallets on "Get ETH" and "Find a Wallet" page"
**Is your feature request related to a problem? Please describe.**

Currently we list wallets w/ fiat onramps to buy crypto in 2 places
1) https://ethereum.org/en/wallets/find-wallet/?filters=has_card_deposits
2) https://ethereum.org/en/get-eth/

These don't pull form the same data source.

**Describe the solution you'd like**

Let's refactor the Get ETH page logic to query the wallets.csv & filte

[2021-02-22 21:28] samajammin commented on #2467
@ryancreatescopy we've discussed this offline in the past, curious to hear your thoughts here. This resurfaced as an issue w/ the recent wallets @wackerow has added & where updates to the codebase are needed whenever we add a new wallet. Right now this adds a bit of a manual process.

[2021-02-22 21:31] #2373 closed

[2021-02-22 21:32] #2229 closed

[2021-02-22 21:35] Dadybayo commented on #2229
@samajammin When Ethereum.org site will update its list of wallets?

[2021-02-22 21:36] samajammin commented on #2229
@all-contributors please add @Dadybayo for content.

[2021-02-22 21:37] samajammin commented on #2229
We'll update the site this week. You can keep an eye on our releases here:
https://github.com/ethereum/ethereum-org-website/releases

[2021-02-22 21:39] #2423 closed

[2021-02-22 21:42] #2330 closed

[2021-02-22 21:43] Dadybayo commented on #2229
Wonderful, thank you. Have a productive week!

[2021-02-22 21:44] #2408 closed

[2021-02-22 21:45] samajammin commented on #2408
@all-contributors please add @finleyexp for ideas.

[2021-02-22 23:25] wackerow commented on #2184
Closing for now, can reopen if needed

[2021-02-22 23:25] #2184 closed

[2021-02-23 01:08] #2292 closed

[2021-02-23 06:46] cavacado opened #2473 "To add TradeTrust to the list of application in the enterprise page"
**Is your feature request related to a problem? Please describe.**

Request to add [TradeTrust](https://www.tradetrust.io/) to the list of applications in [this](https://ethereum.org/en/enterprise/) page under the supply chain section

**Describe the solution you'd like**

assign the issue to me to make the edit, or add this particular line to the supply chain [section](https://ethereum.org/en/ent

[2021-02-23 15:46] Kristiyan96 opened #2477 "Remove redundant returns"
**Is your feature request related to a problem? Please describe.**
In response to:

_Agreed, these are scattered throughout the codebase and could be cleaned up in batch in a separate issue. I'll push the syntax fix here though while we're looking at it._

_Originally posted by @wackerow in https://github.com/ethereum/ethereum-org-website/pull/2389#discussion_r574854548_

**Describe the bug**

The

[2021-02-23 20:03] wackerow commented on #2477
@Kristiyan96 Hey thanks for creating an issue for this =) Obviously agree that cleaning up the syntax in these cases is preferred, and to help keep things consistent and up to date.

If you'd like to be assigned just reply back, would welcome a PR addressing this =) Otherwise no worries, I can take care of this on a lower priority basis.

[2021-02-23 23:30] samajammin commented on #2473
Hey @cavacado - thanks for the suggestion!

@tasdienes could you please take a look at this when able?

[2021-02-23 23:37] samajammin opened #2479 "Create "Ethereum grants" page"
**Is your feature request related to a problem? Please describe.**

There's various EF & community grant programs throughout the ecosystem but they're not always easy to find.

**Describe the solution you'd like**

Let's create a subpage of the [Community page](https://ethereum.org/en/community/) (e.g. https://ethereum.org/en/community/grants/) to list active grant programs.

**Describe alternativ

[2021-02-23 23:40] samajammin commented on #2479
A larger list (thanks @catsnackattack):

- EF Ecosystem Support Program: https://esp.ethereum.foundation
- Consensys grants: https://consensys.net/grants/
- Gitcoin grants: https://gitcoin.co/grants
- MetaCartel: https://www.metacartel.org/
- clr.fund: https://clr.fund/
- Moloch DAO: https://www.molochdao.com/
- KERNEL (teams): https://gitcoin.typeform.com/to/wgZn4U
- KERNEL (individuals): https:/

[2021-02-24 01:15] tasdienes commented on #2473
Makes sense to include TradeTrust.  But I think we need a simpler, clearer, and more concrete explanation of what it does with respect to Ethereum.  Is this accurate?

"TradeTrust creates attestations about electronic trade documents, and tokenizes transferrable trade records on Ethereum."

Also, curious if you guys are working on putting this on L2?

[2021-02-24 02:56] samajammin opened #2480 "Add Nimbus to the Eth2 bounty program"
**Is your feature request related to a problem? Please describe.**

Nimbus isn't listed on https://ethereum.org/en/eth2/get-involved/bug-bounty/

**Describe the solution you'd like**

Add them on that page!
1) add their logo to this section: https://share.getcloudapp.com/p9u8Qplj
2) add them to the list in this section: https://share.getcloudapp.com/YEuXWG8J

**Additional context**
Request from @d

[2021-02-24 06:13] howdyAnkit commented on #2477
Can I try this? @wackerow. Please assign me if  it's free.

[2021-02-24 08:28] Kristiyan96 commented on #2477
@wackerow thanks! I have already started on it in [this branch](https://github.com/Kristiyan96/ethereum-org-website/tree/remove_redundant_returns)

[2021-02-24 09:56] ryancreatescopy commented on #2467
@samajammin The bank withdrawals feature refers to the ability to withdraw your crypto as fiat in your bank account — fiat off ramps not fiat on ramps.

Yeh ideally if the wallets data source includes `has_card_deposits` we should also include the fiat-on-ramp provider and the associated territories. This way it could be used on the get-eth page too. Don't know how easy it would be to merge these

[2021-02-24 22:23] #2465 closed

[2021-02-24 23:50] ipapandinas commented on #2479
Hi @samajammin 👋
I would be happy to help on this feature. If you would like, you can assign it to me.

[2021-02-25 02:19] cavacado commented on #2473
Hey @tasdienes, let me get back to you on the proposed summarised description, i'll need to check with my team's communications channel to make the decision.

For your second question on whether we are working on putting this on L2, we currently have no plans now, but it might be a direction to explore in the near future.

[2021-02-25 06:31] YussufElarif opened #2485 "Issue with Discord Group Invite"
**Describe the bug**
I'm following a tutorial and there is a discord invite. I click to join and it mentions that the invite is invalid.

**To Reproduce**
Steps to reproduce the behavior:
Link to tutorial: https://ethereum.org/en/developers/tutorials/sending-transactions-using-web3-and-alchemy/#what-is-the-web3-library

**Expected behavior**
Being able to join the discord group

**Screenshots**
![

[2021-02-25 09:19] BManess910 opened #2486 "Smart Contract Blockchain Ambassador Network (EDU)"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.(Start)
"Mission Statement In Which Any Individual, Team, Network Engineer should always strive to remember, and encourage integration upon this Blockchain PowerPoint Presentation within any format you wish to Present to the Upcoming Events in th

[2021-02-25 09:26] wetryingtodorock commented on #2373
Hello! I've seen you added info, it's all here: https://github.com/ethereum/ethereum-org-website/blob/dev/src/content/developers/docs/nodes-and-clients/nodes-as-a-service/index.md

Can you tell me, please, when it should appear on the website, because I can't find it there?

[2021-02-25 09:33] BManess910 commented on #2486
ETH Address: TokeNETx.io (TNET)  0xD1bD7615b91a20903C295A3BC602C35546538850

[2021-02-25 12:21] ryancreatescopy opened #2487 "Audit ETH exchanges list"
**Describe the bug**

Was looking into solving a user question receive by email and it appears that we don't correctly list exchanges for the USA. For example, Gemini isn't listed when it has one of the best coverages for US users. On closer inspection it's even down as false in the data file. This makes me concerned that the CSV was copy/pasted badly. We should double check the information we are

[2021-02-25 12:23] #2486 closed

[2021-02-25 12:24] ryancreatescopy commented on #2485
@elanh any chance you could confirm the correct discord link?

[2021-02-25 12:47] ryancreatescopy commented on #2373
@wetryingtodorock we deploy the site when there's enough new stuff. We'll probably deploy within the next day or so which should make these changes go live. Check here for updates: https://github.com/ethereum/ethereum-org-website/releases

[2021-02-25 15:35] samajammin commented on #2487
Hmmm yes a bit concerning.

What makes you think it was a copy/paste issue? Looking at the [tracking spreadsheet](https://docs.google.com/spreadsheets/d/1B1H5y6b3DOYfY3M_JgLX6hltnwEQre3PYcbC73QUCFE/edit#gid=1076953224), it also lists Gemini as `FALSE` for USA.

I'd definitely support an audit of the data to ensure this is correct & up to date!

In the meantime I'll update Gemini.

[2021-02-25 15:47] samajammin commented on #2487
@ryancreatescopy I added Gemini in #2488. Re-opening this issue in case we want to explore how to audit entire dataset.

[2021-02-25 15:56] wetryingtodorock commented on #2373
Thank you so much for the reply!

[2021-02-25 16:44] samajammin opened #2489 "Site Translation: Update Spanish to v2.0"
**Is your feature request related to a problem? Please describe.**

We have our first v2.0 translation complete!
https://crowdin.com/project/ethereumfoundation/es-EM#

**Describe the solution you'd like**

Download the files from Crowdin for v2.0 & add them to the site.

**Additional context**

Here's a similar issue for reference: https://github.com/ethereum/ethereum-org-website/issues/2070
NOTE:

[2021-02-25 16:46] samajammin commented on #2489
@wackerow mind adding this to your todo list? Happy to pair on this if you hit any issues/questions.

I also ask you document your steps as you go, since this is the 1st of many times we'll be adding a v2.0 language. This will make it easy to create issues & outsource the work in the future.

[2021-02-25 16:54] samajammin opened #2490 "Support language versioning on a page-by-page basis"
**Is your feature request related to a problem? Please describe.**

Currently our content versioning of translations is applied at the language level:
https://github.com/ethereum/ethereum-org-website/blob/dev/src/data/translations.json
i.e. our logic treats all pages of a given language as the same version

**Describe the solution you'd like**

We want to get to a world where we can assign content

[2021-02-25 16:56] elanh commented on #2485
Sorry about that -- try this one https://discord.gg/gWuC7zB

[2021-02-25 17:00] vemuez commented on #2485
Thanks, that invite works. You can edit the server link expiration time to "never". Not sure how long that invite lasts for but I got in :)!

[2021-02-25 21:55] wackerow commented on #2404
@bchrvl Thanks for submitting, sorry for any delays! PR to add this going up now 👍

[2021-02-25 23:51] trongham opened #2492 "Tr"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-02-25 23:51] trongham opened #2493 "Tr"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- Version [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2021-02-25 23:51] trongham opened #2494 "Tr"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- Version [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2021-02-25 23:51] trongham opened #2495 "Tr"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- Version [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2021-02-26 16:43] 0848551558 opened #2498 "Eth for USDT"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-02-26 16:44] 0848551558 commented on #2498
Defi ETH FOR USDT

[2021-02-26 19:39] PatrickAlphaC opened #2499 "Add oracle architecture information and more examples"
**Is your feature request related to a problem? Please describe.**

What does a simple oracle architecture look like? Can we see more examples?

[2021-02-27 07:09] Danilo-caio-da-silva-vieira opened #2502 "Danilo caio plataforma general ADM Google dasilvadanilocaiodasilvavieira@gmail.com"
Danilo caio da Silva Vieira

[2021-02-27 07:12] Danilo-caio-da-silva-vieira opened #2503 "Danilo√`~×caio$+>>plataforma∆÷π√````×general.br"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**

**Product description:**

**How long has it been around?**

**Where do you think it should go?**

**GitHub URL**

**Docs URL**

**Is the product open source?**

**Additional context**

[2021-02-27 07:17] Danilo-caio-da-silva-vieira opened #2504 "✓°``{dasilvadanilocaiodasilvavieira@gmail.com_{=}\\;🌍filtro+*∆•••[em+plataforma---->general__🌍#"`S2"(°°)**danilocaiodasilvavieira@*%*-;:'--Adm.com"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- Version [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2021-02-27 07:21] Danilo-caio-da-silva-vieira opened #2505 "/}=]Danilo🌍caio🌍 plataforma 🌍 general+((/_¶∆}={•=•}¶∆} monitoramento_🌍_°<---global>dasilvadanilocaiodasilvavieira@gmail.com {∆}=🌍√•°"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2021-02-27 07:28] Danilo-caio-da-silva-vieira opened #2506 "`÷•`dasilvadanilocaiodasilvavieira*"*#danilo#caio#plataforma#general`|`{\\}[°]====¶^¶°°°°°•••>>>>>}---([====executar-)+tarefas}\}[%\]>>>>>>>>Farebase-)_🌍_(/)_*'*(\)-#){]=={•∆•}[\][\]_#^^°{\\\}[\\],.#"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-02-27 07:33] Danilo-caio-da-silva-vieira opened #2507 "*:*danilo-adm-google-*:* dasilvadanilocaiodasilvavieira@gmail.com 🌍-danilo+caio+plataforma+general [{<====>}]🌍[{<==>}]^;^[•¢•]>>}>>>°✓°}=^°^]}\\]🌍`~|>>>-----danilocaiodasilvavieira(+)*"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tag your tutorial**

**Tutorial title**

**Tutorial description**

**Publication**

**Skill level**

**Paste in your tutorial below**

[2021-02-28 02:16] qbzzt commented on #1787
I think testing is essential, because otherwise you're just writing code and hoping it runs correctly. It's a lot more comfortable when you can write a small piece, test it, and then add incrementally.

Do you want me to submit this in the tutorials area?

[2021-02-28 02:34] qbzzt commented on #1785
Do you want more code walk throughs? If so, how about `Ownable` (https://docs.openzeppelin.com/contracts/3.x/access-control)?

[2021-02-28 12:44] qbzzt commented on #2222
To use Ethereum from an unsupported language, such as Swift, you connect to a client (a node in the Ethereum network) directly using JSON-RPC, as documented here: https://eth.wiki/json-rpc/API.

[2021-02-28 12:51] qbzzt commented on #2077
You may find this list of crypto failure modes (from https://github.com/qbzzt/etherdocs/blob/master/paper_wallet.md) useful for wallet security:

Here is a partial list of failure modes.

* **Lost mnemomic**. Those twelve words are the only way to transfer funds out of the account. If you lose them, you can
still gaze longingly upon the balance in your account, but you will not be able to get the

[2021-03-01 08:35] #2507 closed

[2021-03-01 08:35] #2502 closed

[2021-03-01 08:35] #2503 closed

[2021-03-01 08:35] #2504 closed

[2021-03-01 08:35] #2505 closed

[2021-03-01 08:35] #2506 closed

[2021-03-01 08:36] #2492 closed

[2021-03-01 08:36] #2493 closed

[2021-03-01 08:36] #2494 closed

[2021-03-01 08:36] #2495 closed

[2021-03-01 08:46] ryancreatescopy commented on #1787
Sorry for the delayed response my end. I think this would be cool to add as a tutorial for now.

My end goal with this issue is to create a "wizard-style" experience where we walk through the process and offer different steps based on different preferences (e.g. I want to build a defi app) users have or different OS's (e.g. I'm using Mac) etc...

I think for now it's well worth having it on the si

[2021-03-01 08:54] ryancreatescopy commented on #1785
We're always interested in code walkthroughs.

From a personal perspective I think it'd be really interesting to get walkthroughs of contracts of popular dapps that folks may have used like Uniswap ("Understand an automated market maker contract")... @samajammin @wackerow what do you think?

If you have the time @qbzzt maybe we as a team can figure out what walkthroughs we think would be useful an

[2021-03-01 09:15] 0848551558 opened #2512 "UniSwap"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

**Is your wallet custodial, non-custodial, or a hardware

[2021-03-01 19:05] ipapandinas opened #2515 "Remove the partiallyActive behaviour on Navigation & Footer links"
**Describe the bug**
Navigation and Footer links are actived if it partially matches the current page route.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the [Private Ethereum]('https://ethereum.org/en/enterprise/private-ethereum/') page
2. Open the `Entreprise` dropdown menu or scroll down to footer links
3. Noting the unexpected behaviour

**Expected behavior**
Only the current p

[2021-03-01 20:30] wackerow commented on #2222
@qbzzt Good call, thanks for suggesting this... @michzio I'm going to close this for now, please feel free to hop over to [our Discord](https://discord.gg/CetY6Y4) to chat more about this informally =)

[2021-03-01 20:34] #2342 closed

[2021-03-01 22:58] qbzzt commented on #2222
Maybe we should have a note in https://ethereum.org/en/developers/docs/programming-languages saying that any unsupported languages can use Ethereum using JSON-RPC?

[2021-03-02 04:53] samajammin commented on #2515
Nice catch @ipapandinas! Thanks for volunteering for this 😄.

My hunch is that the `isPartiallyActive` props should be set to `false` for those links:
https://github.com/ethereum/ethereum-org-website/blob/dev/src/components/Link.js#L65

Let us know if you have questions, otherwise feel free to knock this out!

[2021-03-02 04:54] samajammin commented on #2512
Description is empty. Feel free to fill it out & re-open!

[2021-03-02 04:54] #2512 closed

[2021-03-02 04:55] samajammin commented on #2498
Hey not sure what you're looking for here. Feel free to fill out the description & re-open!

[2021-03-02 04:55] #2498 closed

[2021-03-02 11:48] PatrickAlphaC commented on #1787
https://ethereum.org/en/developers/tutorials/deploying-your-first-smart-contract/

Does this already fit this request?

[2021-03-02 12:20] qbzzt commented on #1787
I think so, for Remix. But I agree with @ryancreatescopy that we should have multiple tutorials for different environment, probably with a page that gives the developer enough information decide which would be best for them.

[2021-03-02 12:45] PatrickAlphaC opened #2520 "Storage upgrade"
**Is your feature request related to a problem? Please describe.**

Right now, the decentralized storage page is out of date and lacking information.

**Describe the solution you'd like**

More relevant tools and information.

**Describe alternatives you've considered**

**Additional context**

[2021-03-02 13:09] PatrickAlphaC commented on #1787
So like a "getting started" for hardhat/truffle/brownie/web3.py/ethersjs/web3js as well?

[2021-03-02 14:50] GeorgeTrotter commented on #2207
Hi @ontologymachine - we're closing this issue for now. Please feel free to reopen with the above info any time you like!

[2021-03-02 14:50] #2207 closed

[2021-03-02 14:51] GeorgeTrotter commented on #2299
Hey @sam17889 following up about the questions above!

[2021-03-02 18:21] ipapandinas commented on #2515
Agreed ! I fixed it on this PR #2523

[2021-03-02 22:10] #2404 closed

[2021-03-03 02:04] cavacado commented on #2473
Hey @tasdienes , my team's communications channel does not think that the summary adequately captures what our product is actually doing, so they prefer to stick to the first description provided.

I hope that you would understand.

[2021-03-03 02:04] samajammin opened #2528 "Migrate to Gatsby v3"
**Is your feature request related to a problem? Please describe.**

https://www.gatsbyjs.com/blog/gatsby-v3/

**Describe the solution you'd like**

https://www.gatsbyjs.com/docs/reference/release-notes/migrating-from-v2-to-v3

[2021-03-03 16:32] InfinityWallet commented on #1483
The wallet has been live for nearly just over a year and the team is active with constant new developments. We are actually surprised we are still not added to the Ethereum Wallet list.

[2021-03-03 17:35] tasdienes commented on #2473
Hi @cavacado,

I re-read the marketing description, and to be honest, I find it vague and unclear.  I really don't have any understanding of exactly, practically what the product does after reading it, and how it interacts with Ethereum.  I have tried to keep the content on this page very factual and concrete, without any marketing jargon. More like Wikipedia, and less like an advertisement.

My s

[2021-03-03 18:12] #2489 closed

[2021-03-03 18:14] samajammin opened #2530 "Site Translation: Update Romanian to v2.2"
**Is your feature request related to a problem? Please describe.**

We have our first v2.2 translation complete!
https://crowdin.com/project/ethereumfoundation/ro#

**Describe the solution you'd like**

Download the files from Crowdin for v2.0, v2.1, v2.2 & add them to the site.

**Describe alternatives you've considered**

**Additional context**

Similar to #2489 (PR #2496) but for v2.2

[2021-03-03 19:09] samajammin commented on #2400
Response from Netlify support:

[2021-03-03 19:09] samajammin commented on #2400
So seems like we'd have to declare public version of those variables in netlify.toml 🤔  not sure if that's a viable option:
https://docs.netlify.com/configure-builds/environment-variables/?_ga=2.86008286.716449010.1614731551-1525154441.1602183144#sensitive-variable-policy

[2021-03-03 22:15] samajammin commented on #2499
Solved in #2500 - thanks @PatrickAlphaC!

[2021-03-03 22:15] #2499 closed

[2021-03-03 22:17] samajammin commented on #1881
Solved in #2500 - thanks @PatrickAlphaC!

Closing this out but as always, anyone is welcome to add additional content to the Oracles page via PRs 😄

[2021-03-03 22:17] #1881 closed

[2021-03-03 22:18] samajammin commented on #2485
Thanks @elanh! Is that link set to never expire? If so, we can make that update in the tutorial & close this out.

[2021-03-03 22:19] samajammin commented on #2485
@all-contributors please add @vemuez for bug reports.

[2021-03-03 22:20] samajammin commented on #2480
@wackerow assigning to you - please knock this out when time allows!

[2021-03-03 22:23] samajammin commented on #2473
I agree with @tasdienes. The description you provided is quite a mouthful & full of jargon.

@cavacado assigning this to you - feel free to create a PR but please try to simplify the language.

[2021-03-03 22:25] samajammin commented on #2390
Solved in #2410 - thanks @yakkomajuri!

[2021-03-03 22:25] #2390 closed

[2021-03-03 22:56] elanh commented on #2485
Yup! @samajammin that link should be set to never expir!

[2021-03-03 23:26] wackerow commented on #2222
@qbzzt I'll reopen using that as the new issue... Would welcome a PR for this =) Lemme know if you're down, I'll assign ya.

Just a short blurb on the `programming-languages` docs page helping direct anyone using languages not discussed would be nice.

[2021-03-03 23:28] wackerow commented on #2077
@qbzzt This is great... definitely some stuff worth utilizing. This has taken the back burner recently, but definitely appreciate you dropping this here. Something I am still eager to spread the word on.

[2021-03-03 23:30] wackerow commented on #1785
I think `Ownable` is a smaller decent topic that users starting out with basic smart contract security should know about.

A walkthrough of an AMM contract would be really interesting in my opinion, but definitely more advanced. Depends how lengthy you were thinking @ryancreatescopy

[2021-03-03 23:33] #2530 closed

[2021-03-03 23:35] #2480 closed

[2021-03-03 23:38] wackerow commented on #1787
I'm in favor of a Hardhat intro tutorial to get people going. Taking advantage of these tools should be encouraged imo. They help integrate the latest best security practices too.

[2021-03-03 23:55] qbzzt commented on #2222
I think I'm up to it, assign me please.

On Wed, Mar 3, 2021 at 5:26 PM Paul Wackerow <notifications@github.com>
wrote:

[2021-03-04 01:21] cavacado commented on #2473
hey @tasdienes @samajammin ,

nope I fully understand your concerns. I'll push to get the more concise description through to my other stakeholders, but if I don't achieve it, I'll probably close the issue without doing anything.

Once again, thank you for taking the time to look at this request.

[2021-03-04 01:28] qbzzt commented on #1787
Hardhat has a pretty good tutorial at https://hardhat.org/tutorial/ . Maybe we should like to it?

[2021-03-04 01:39] wackerow commented on #1787
@ryancreatescopy  thoughts on this? This tutorial from Hardhat looks kinda like the wizard setup you were mentioning

[2021-03-04 02:31] PatrickAlphaC commented on #1787
I wanted to write a blog on getting setup with hardhat... but I feel like their docs really do the most justice it's weird to want to try to reproduce.

[2021-03-04 03:05] wackerow commented on #2400
@samajammin Happy to pair up with you on this, as mentioned the approval step has been resulting in batches of PRs to build, and then API rate limit issues surface after the first one or two.

[2021-03-04 17:12] moodmosaic opened #2539 "Add Coinomi"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

yes

**Is your wallet custodial, non-custodial, or a hard

[2021-03-05 00:36] qbzzt commented on #1785
Now that we are about to have a Solidity code walk-through, I think it would provide the most value if we add a Vyper one. Is Vyper stable enough for this to add value? If so, shall I take one of the contracts from https://github.com/vyperhub-io/vyper-smart-contracts and explain it?

[2021-03-05 15:57] adamgoth opened #2543 "Broken markdown link in Byzantium history"
**Describe the bug**

There is a broken link, also containing a type. See screenshot below.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to `https://ethereum.org/en/history/#byzantium`
2. Reference screenshot for location of bug

**Expected behavior**

Link should be functional and `methodss` should read `methods`.

**Screenshots**

<img width="745" alt="Screen Shot 2021-03-05 at 8 51

[2021-03-05 18:39] #2251 closed

[2021-03-05 21:46] PlusBitPos opened #2548 "Add WILC Wallet"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**
- **Yes**
- https://play.google.com/store/apps/details?id=

[2021-03-06 02:08] wackerow commented on #2461
@trongham Please fill out the requested information if you'd like us to help, thanks!

[2021-03-06 02:08] #2461 closed

[2021-03-06 02:19] wackerow commented on #2515
@ipapandinas thanks again!

[2021-03-06 02:19] #2515 closed

[2021-03-06 02:19] #2520 closed

[2021-03-06 02:20] #2543 closed

[2021-03-06 08:18] #2165 closed

[2021-03-06 11:47] JJ589 commented on #2548
Always evolving. Good project

[2021-03-06 12:40] kiaimanhha commented on #2548
Go ahead!

[2021-03-06 12:40] cavinkieng commented on #2548
Dự án tốt. Mong WILC luôn phát triển

[2021-03-06 12:44] Bakiet123 commented on #2548
ILove WILC

[2021-03-06 14:50] mikejpoole commented on #2301
Hi @ryancreatescopy I set aside some time this afternoon to fix this but was unable to replicate the problem. I understand that it was intermittent but do you know if it is still happening for you?

[2021-03-07 00:40] samajammin opened #2553 "NFT page width on mobile"
**Describe the bug**

Width of the page overflows on mobile.

Safari on iPhone X
![image](https://user-images.githubusercontent.com/8097623/110225450-8b2d5780-7e9a-11eb-97a0-00f54fd8ceba.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following in

[2021-03-07 01:08] vinhtran1980 commented on #2548
That's Great. Thank you

[2021-03-07 02:21] HungTranChi commented on #2548
Good 💯

[2021-03-07 16:57] ryancreatescopy opened #2556 "Unhelpful token standards documentation titles"
**Describe the bug**

Token standards documentation titles should explain the type of token rather than the technical name. People new to the space don't know their erc-20 from their erc-721. But something like currency and unique assets might be clearer.

This is also the case on the token standards page where we link to the individual standards. We don't provide explanations and expect users to

[2021-03-08 07:22] NilsKaden commented on #2553
The same issue also occurs on the following pages:
https://ethereum.org/en/defi/
https://ethereum.org/en/dao/

Please assign this issue to me :)

[2021-03-08 07:58] khuyen1506 commented on #2548
That's Great. Thank you

[2021-03-08 13:35] okdonga commented on #2301
@ryancreatescopy @mikejpoole  I am able to reproduce this issue on my pc. It's actually happening on all ```/docs``` sites on light mode. I can have a go at fixing this issue if that's okay.

[2021-03-08 14:46] mikejpoole commented on #2301
Thanks @okdonga it's all yours :)

[2021-03-08 14:55] okdonga commented on #2401
Hi @samajammin @wackerow Not 100% sure if this is relevant, but I found a similar looking issue over [here](https://github.com/vercel/next.js/issues/4398). Wondering if this is something that needs to be addressed by [Twemoji](https://github.com/twitter/twemoji/issues)?

[2021-03-08 16:20] ryancreatescopy opened #2566 "Homepage developer module bug"
**Describe the bug**

The developer module on the homepage is the wrong way around. After having to tweak the order of things on the homepage (with the addition of the NFTs module), we forgot to check the developer section renders correctly.

**Expected behavior**

It should be copy then contract examples. The margins should also be consistent with the other sections. Right now the contract exampl

[2021-03-08 17:20] KunKaxx opened #2568 "Like this picture"
![1D640CEA-5040-43BA-B5E2-FCD0A5ED14BB](https://user-images.githubusercontent.com/61171961/110356740-2413cc80-806d-11eb-8150-79737e59aab2.jpeg)
![7F44B95C-97ED-4149-B9D6-7D6229EEEC1A](https://user-images.githubusercontent.com/61171961/110356760-2a09ad80-806d-11eb-9303-fdf9051018a6.jpeg)
![6B7B354E-806B-466D-A951-D66F3A25FAB2](https://user-images.githubusercontent.com/61171961/110356765-2b3ada80-80

[2021-03-08 19:47] samajammin opened #2569 "Retire / update staking banner?"
**Is your feature request related to a problem? Please describe.**

Now that staking has been live for a few months, perhaps it's time to rethink our banner across Eth2 pages:

![Image 2021-03-08 at 11 42 18 AM](https://user-images.githubusercontent.com/8097623/110372823-a071c580-8003-11eb-8a33-f7c11972813d.jpg)

**Describe the solution you'd like**

Remove the banner.

**Describe alternatives you

[2021-03-08 19:47] samajammin commented on #2569
@ryancreatescopy @wackerow curious for your thoughts on this.

[2021-03-08 19:48] samajammin commented on #2568
?

[2021-03-08 19:48] #2568 closed

[2021-03-08 19:55] wackerow commented on #2569
Yeah may be time to refactor this. A link to staking page sounds like a better idea at this point. Having the contract address available is nice, but agreed it doesn't need to be a primary action at this point.

[2021-03-08 21:56] #2407 closed

[2021-03-08 22:41] #2485 closed

[2021-03-09 00:31] #2566 closed

[2021-03-09 01:14] #2553 closed

[2021-03-09 01:19] #2301 closed

[2021-03-09 01:44] wackerow commented on #2401
@okdonga Yeah, I noticed that post while investigating this a little. This seems to be more an issue on our end... you'll notice in the above screenshot that even after I fixed the specific Twemoji case, there are other components causing similar issues because of comparing data between the server and client side. Happy to hear any further thoughts on this.

[2021-03-09 03:31] vubachinh commented on #2548
Very good!!!

[2021-03-09 08:19] #2253 closed

[2021-03-09 13:09] whoanuragverma opened #2582 "Merge Translations fails on Windows environment"
**Describe the bug**

Running `yarn merge-translations` on a windows system throws ENOENT  no such file or directory, scandir 'intl\en' for each langauge.  This makes it difficult to start the expected development environment.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone the repo on Windows System and do the setup
2. Run `yarn merge-translations`
3. See error

**Expected behavior**

[2021-03-09 14:56] ryancreatescopy opened #2583 "Vertical height bug – use-case and eth2 template"
**Describe the bug**

On certain screen sizes, the left-hand column with the table of contents isn't scrollable. If a list goes beyond the view port it's impossible to navigate to the sections below the viewport until the main content has scrolled to the footer.

**Expected behavior**

If the table of contents doesn't fit due to vertical height, it should be scrollable so that users can select all

[2021-03-09 15:01] ryancreatescopy commented on #2569
I think we can remove. We shouldn't use this type of banner for just linking to the staking page IMO. There for timely notifications, e.g. "staking is now live" or "this page needs some edits". We can use the hero area or dedicated areas on the page to link to the staking stuff in my opinion...

[2021-03-09 15:12] ryancreatescopy commented on #2277
For this very reason, I think we should integrate these as much as possible into existing sections. Make sure we have clear ETH2 sections within pages where relevant. I don't think we should create an ETH2 bucket, instead integrate into existing sections wherever possible.

[2021-03-09 15:28] samajammin opened #2584 "Tutorials index page doesn't filter by language"
**Describe the bug**

We recently added our first translations of tutorials (#2531) 🎉  but we forgot we now need to filter out language on the tutorials page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/tutorials/
2. Search for "The Graph: Remedierea interogării datelor Web3"

**Expected behavior**

- https://ethereum.org/en/developers/tutorials/

[2021-03-09 15:38] samajammin opened #2585 "Absolute reference for both Intl and English MDX images"
**Describe the bug**

We recently added our first translations of tutorials (#2531) 🎉  but we are not properly referencing assets.

**To Reproduce**

1. Go to https://ethereum.org/ro/developers/tutorials/getting-started-with-ethereum-development-using-alchemy/
2. See 404s in console from failed image fetches

**Expected behavior**

Images should work!

**Desktop (please complete the following info

[2021-03-09 17:09] samajammin opened #2587 "Support currency filter on Get ETH page"
**Is your feature request related to a problem? Please describe.**

Currently users can filter exchanges / wallets by country where they can onboard fiat to get ETH but there's no ability to filter by fiat currency support. For instance, I can't view exchanges that support British pounds / Mexican pesos.

**Describe the solution you'd like**

Provide an additional data source similar to our countr

[2021-03-09 17:16] samajammin commented on #2556
Potential menu titles
- `ERC-20: Fungible Tokens`
- `ERC-732: NFTs`

[2021-03-09 17:32] samajammin commented on #2458
Great questions!

[2021-03-09 17:32] samajammin commented on #2458
@all-contributors please add @stuz5000 for ideas.

[2021-03-09 18:41] 0848551558 opened #2590 "0x285d81b5bf0d781b9bcaeec7cf1265dfdc5d154d"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

**Is your wallet custodial, non-custodial, or a hardware

[2021-03-09 19:26] 0848551558 opened #2592 "0xf116667D1aB6247E26608C91e09834f5929d3266"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-03-09 19:27] NilsKaden commented on #2583
@wackerow did you start working on this already? I can have a look at this if you like :)

[2021-03-09 19:27] 0848551558 opened #2593 "0xf116667D1aB6247E26608C91e09834f5929d3266"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

**Is your wallet custodial, non-custodial, or a hardware

[2021-03-09 19:27] 0848551558 commented on #2593
Metamask

[2021-03-09 19:31] wackerow commented on #2583
@NilsKaden Thanks for offering to help on this! Please don't hesitate to ask us any questions along the way 🙂 Assigning you (just let us know if you change your mind in the future)

[2021-03-09 19:33] #2590 closed

[2021-03-09 19:34] #2592 closed

[2021-03-09 20:00] 0848551558 opened #2594 "0x2E23de8D0fBb8229Af44d5cAAd4Fa73Ae24963a8"
0x2E23de8D0fBb8229Af44d5cAAd4Fa73Ae24963a8

_Originally posted by @MGmarcineczek in https://github.com/dypfinance/staking-governance-security-audits/pull/4#issuecomment-775665200_

[2021-03-09 20:23] samajammin opened #2595 "Builds are breaking"
**Describe the bug**

Builds in `dev` branch are breaking, e.g. https://github.com/ethereum/ethereum-org-website/pull/2580

**To Reproduce**
Steps to reproduce the behavior:

Running project locally & navigating to http://localhost:8888/en/eth2/ yields this console error:
[code]

[2021-03-09 22:13] #2595 closed

[2021-03-10 17:44] #2582 closed, assigned to nobody

[2021-03-10 17:47] #2569 closed

[2021-03-10 17:48] #2556 closed

[2021-03-10 17:59] #2443 closed

[2021-03-10 18:28] KunKaxx opened #2612 "KunKaxx.patch"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

**Is your wallet custodial, non-custodial, or a hardware

[2021-03-11 01:34] #2594 closed

[2021-03-12 02:42] syhungben opened #2618 "bú cặc không"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2021-03-12 06:03] #2618 closed

[2021-03-12 06:03] #2612 closed

[2021-03-12 09:28] ramsemune commented on #2618
yes

2021-03-12, pn, 08:03 Paul Wackerow ***@***.***> rašė:

[2021-03-12 10:34] v-gar opened #2620 "Fix typo on ERC-721 page"
**Describe the bug**

The ERC-721 contained a singular/plural typo in the first sentence.

[2021-03-12 18:23] 0848551558 opened #2622 "Approve ETH"
0x3cccdc2dd283e157b586d2d66734de52ec0efdf4

[2021-03-12 19:02] #2477 closed

[2021-03-12 20:07] #2584 closed

[2021-03-12 21:49] 0848551558 opened #2623 "Approve ETH"
0x3cccdc2dd283e157b586d2d66734de52ec0efdf4

[2021-03-12 21:50] 0848551558 opened #2624 "Pax HW"
0x71DCa5E035Dce3D96439f427f83be7748374FF45

[2021-03-12 22:09] 0848551558 opened #2625 "$10"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-03-12 22:10] #2625 closed

[2021-03-12 23:15] #2322 closed

[2021-03-12 23:16] samajammin commented on #2622
?

[2021-03-12 23:16] #2622 closed

[2021-03-12 23:16] samajammin commented on #2624
?

[2021-03-12 23:16] #2624 closed

[2021-03-12 23:16] samajammin commented on #2623
?

[2021-03-12 23:16] #2623 closed

[2021-03-13 04:01] 0848551558 opened #2628 "Stack ATOM"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

**Is your wallet custodial, non-custodial, or a hardware

[2021-03-13 07:36] #2628 closed

[2021-03-13 07:39] ryancreatescopy opened #2629 "ETH2 updates"
With the merge potentially happening sooner than expected, we should update our eth2 resources to reflect the new reality...

https://github.com/ethereum/eth2.0-specs/pull/2229

- [x] confirm that the merge will happen before sharding (cc @djrtwo )
- [x] fix order of eth2 action cards
- [x] fix order in eth2 template drop down
- [x] scour content for anywhere we discuss order (I'm not sure we do b

[2021-03-13 08:19] #1786 closed

[2021-03-13 08:19] #1778 closed

[2021-03-14 17:19] qbzzt commented on #2222
Once #2631 is merged we can close this issue.

[2021-03-14 17:25] qbzzt commented on #1787
For a wizard, how about:

1. Are you joining an existing project? **yes** -> show the list and tell them to use the tooling the project uses now, **no** continues down the list.
2. Are you developing a smart contract, or a user interface for an existing smart contract ? **user interface** -> https://ethereum.org/en/developers/docs/programming-languages/.  **smart contract** -> continue
3. Do you p

[2021-03-14 19:47] Angelux1592 opened #2632 "Angel Prueba"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tag your tutorial**

**Tutorial title**

**Tutorial description**

**Publication**

**Skill level**

**Paste in your tutorial below**

[2021-03-15 08:36] u11156342 opened #2633 "Potential spelling mistake in docs?"
Spelling mistake in docs at: https://ethereum.org/en/developers/tutorials/understand-the-erc-20-token-smart-contract/

says "buning", shouldn't it be burning?

<img width="862" alt="Screenshot 2021-03-15 at 10 33 25" src="https://user-images.githubusercontent.com/4409673/111125235-1208c100-857a-11eb-81b2-ea2c8496b3e0.png">

[2021-03-15 10:14] jordanoverbye opened #2636 "h2s on homepage have inconsistent font"
**Describe the bug**

The `h2` elements on the homepage have a font applied `"serif"` which is not used anywhere else on the site.

<img width="571" alt="Screen Shot 2021-03-15 at 8 12 34 pm" src="https://user-images.githubusercontent.com/6265154/111137702-d64a1780-85ca-11eb-8c72-51fc38ee70ce.png">

**To Reproduce**
Steps to reproduce the behavior:

1. Go to `https://ethereum.org/`
2. Scroll down

[2021-03-15 11:52] 0848551558 opened #2637 "External CRO"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

**Is your wallet custodial, non-custodial, or a hardware

[2021-03-15 15:29] #2633 closed

[2021-03-15 15:46] samajammin commented on #2636
Thanks for the issues (& PR) @jordanoverbye! I believe this styling was intentional - @ryancreatescopy can you please confirm?

Even if so, good to collect feedback on it, so thanks again for raising this.

[2021-03-15 15:59] #2222 closed

[2021-03-16 00:30] Hunters284 opened #2644 "ToiletCoin"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-03-16 03:23] jordanoverbye commented on #2636
@samajammin thanks for your comment. If it was intentional, maybe we could add it other parts of the website?

[2021-03-16 06:27] #2632 closed

[2021-03-16 06:28] #2637 closed

[2021-03-16 07:40] jordanoverbye opened #2648 "improve keyboard accessibility (a11y)"
**Describe the bug**

I have noticed a few issues when trying to navigate this website using only a keyboard.

<s>1. A few interactive elements (such as the theme toggle button) are either not focusable or do not have any focus styles applied</s> Fixed in #2649

2. The mobile navigation doesn't have `display: none` applied and therefor is rendered in the accessibility tree. This means a keyboard u

[2021-03-16 08:19] 0848551558 opened #2650 "0x8efde4cd6cf862a39b6d952137274798dc8a14da"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-03-16 09:39] ryancreatescopy opened #2651 "Add new defi image to /defi"
Update the header image based on the new asset.

[2021-03-16 17:06] #2650 closed

[2021-03-16 17:22] wackerow commented on #2650
@samajammin
https://github.com/ethereum/ethereum-org-website/issues?q=is%3Aissue+author%3A0848551558
This is the users 21st spam issue since December.

https://github.com/ethereum/ethereum-org-website/issues/2140#issuecomment-748276240 I like your previous suggestion.

[2021-03-16 17:25] #2620 closed

[2021-03-16 19:32] GeorgeTrotter commented on #2299
Hey @sam17889 we are closing this issue for now. Feel free to reopen with the above info included!

[2021-03-16 19:32] #2299 closed

[2021-03-16 20:03] Mostafs59 opened #2657 "He"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-03-16 20:06] Mostafs59 opened #2658 "He"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

**Is your wallet custodial, non-custodial, or a hardware

[2021-03-16 20:06] Mostafs59 commented on #2658
I want link me on my wallets

[2021-03-16 20:08] Mostafs59 opened #2659 "Hi"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-03-17 02:55] mohaahadji opened #2662 "Suggestion"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-03-17 04:20] #2657 closed

[2021-03-17 04:20] #2659 closed

[2021-03-17 04:21] wackerow commented on #2658
@Mostafs59 If you'd like a product listed please fill out the requested information. If you have questions you can join us on Discord.

[2021-03-17 04:21] #2658 closed

[2021-03-17 04:21] #2662 closed

[2021-03-17 08:19] #1550 closed

[2021-03-17 10:13] panda180492 opened #2665 "Wallet"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-03-17 17:16] wackerow commented on #2665
@panda180492 If you'd like us to look at a wallet project please fill out the requested information, thanks

[2021-03-17 17:16] #2665 closed

[2021-03-17 17:30] wackerow opened #2672 "Tutorial (waffle hello world) error on direct load/refresh"
**Describe the bug**
https://ethereum.org/en/developers/tutorials/waffle-hello-world-with-buidler-tutorial/ -> "Resource not found" on direct load/refresh

**To Reproduce**
Direct link:
1. Go to https://ethereum.org/en/developers/tutorials/waffle-hello-world-with-buidler-tutorial/
2. See "Resource not found" error on page (my experience loads the content briefly then it goes away with an error)

N

[2021-03-17 19:35] wackerow commented on #2548
@PlusBitPos Thanks for posting this.
Per [our listing policy](https://www.ethereum.org/en/contributing/adding-products/):

Google Play Store:
![image](https://user-images.githubusercontent.com/54227730/111526616-33091780-871c-11eb-8269-dd7c85859e71.png)
Apple App Store:
![image](https://user-images.githubusercontent.com/54227730/111527215-ea059300-871c-11eb-844b-e003526fa567.png)
Given that this p

[2021-03-17 19:35] #2548 closed

[2021-03-17 21:14] wackerow commented on #2459
@GeorgeTrotter ping

[2021-03-17 22:04] AIKO7772011 opened #2674 "Kazakh Translation"
Dear All,

I'd like to suggest you to translate into Kazakh language all Ethereum technical documents. Can you please open issue about Kazakh translation.

Thank you,
Best regards,
A.

[2021-03-17 22:05] AIKO7772011 commented on #2674
And can you please provide a little bit step by step instruction how to do it or where to start it to do translate the tech docs.

thank you

[2021-03-17 22:06] AIKO7772011 commented on #2674
If I did anything wrong just show me right steps

thank you in advance

[2021-03-17 22:11] AIKO7772011 commented on #2674
Добрый день Всем!

Хочу предложить открыть тикет для перевода техдокументацию на Казахский язык. Поэтому прошу открыть ссылку или раздел на Казахском языке. (https://ethereum.org/en/contributing/translation-program/)

[2021-03-18 15:50] tmlee opened #2676 "Infinite request made to CoinGecko API endpoints"
**Describe the bug**
Co-founder at CoinGecko here, it is great to see Ethereum.org using the CoinGecko API to power pricing pages
But I am also noticing a bug that it is making infinite requests to the API which is in a way of waste of bandwidth on our end for the free API that we are providing. I don't supposed that is intended.

**To Reproduce**
Steps to reproduce the behavior:
1. I dont know if

[2021-03-18 16:45] erikvdp opened #2677 "Broken links on the learn page"
**Describe the bug**

Some links on the https://ethereum.org/en/learn/ are broken.
I ran the page through https://www.deadlinkchecker.com/ to list them up.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/learn/
2. Click on the links that are shown red in the following screenshot
4. See 404 pages

**Screenshots**

![image](https://user-images.githubusercontent.c

[2021-03-18 16:45] erikvdp commented on #2677
I will put a PR that fixes the links right away.

[2021-03-18 16:59] wackerow commented on #2676
@tmlee Thank you so much for reporting this (and of course for providing this service to begin with!). Definitely not intended, and will work to address this right away.

[2021-03-18 17:43] #2677 closed

[2021-03-18 18:45] GeorgeTrotter commented on #2459
@wackerow all set here!

[2021-03-18 18:55] GeorgeTrotter commented on #2539
@wackerow this too!

[2021-03-18 19:34] rabbitXIII opened #2682 "Broken link on Ethereum for Rust Developers page"
**Describe the bug**

The link on the Ethereum for Rust Developers page - "Sending Transaction to Ethereum Using Rust"
url: https://kauri.io/article/97c85229c66445759bb0ce642224d364/sending-ethereum-transactions-with-rust
directs the user to a 404.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://ethereum.org/en/developers/docs/programming-languages/rust/
2. Click on "Sending Tr

[2021-03-18 19:34] rabbitXIII commented on #2682
I found a new link for the same article hosted by kauri. I can send a PR with the fixed line

https://kauri.io/#collections/A%20Hackathon%20Survival%20Guide/sending-ethereum-transactions-with-rust/

[2021-03-18 21:09] #2676 closed

[2021-03-18 21:10] samajammin commented on #2676
Yes thanks for the report @tmlee! We've fixed the issue (thanks @wackerow) & added caching to help reduce the load. Will deploy the fix shortly.

[2021-03-18 21:13] samajammin commented on #2676
BTW @tmlee - any timeline to support `stablecoins` as a market category in your API 😄 ? Would be great to have.
https://twitter.com/samonchain/status/1335999786865070081?s=20

Appreciate your free API in the meantime! Thanks for all you do for the community.

[2021-03-18 21:15] #2539 closed

[2021-03-18 21:15] #2459 closed

[2021-03-18 21:19] #2651 closed

[2021-03-18 21:26] samajammin commented on #2676
@all-contributors please add @tmlee for bug reports.

[2021-03-18 23:11] samajammin opened #2687 "JSON RPC API client list is outdated"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/docs/apis/json-rpc/#json-rpc-support
2. See client list

**Expected behavior**

Update the client list to match https://ethereum.org/en/developers/docs/nodes-and-clients/#clients

**Context**

Reported here: https://discord.com/channels/595666850260713488/804019759934078987/82186343

[2021-03-19 02:14] tmlee commented on #2676
Thanks for the quick turnaround @samajammin @wackerow really appreciate that!

That's a good feedback, I will see how we can have that supported soon. Will let you know here when it is up and running.
Feel free to let me know if there is anything else that you all need.

[2021-03-19 16:19] Hakeemmidan opened #2689 "Small Grammar Fixes"
There are some small [potential] grammar enhancement opportunities on the [Intro to Ethereum page](https://ethereum.org/en/developers/docs/intro-to-ethereum/) ([Respective Mardown file](https://github.com/ethereum/ethereum-org-website/blob/dev/src/content/developers/docs/intro-to-ethereum/index.md)).

These can be fixed by running the content through a tool like Grammarly.

Please assign me to thi

[2021-03-19 21:50] SatoshiMiracle opened #2691 "Ethereum State Transition Graphical Explanation - Whitepaper"
On the Ethereum website, in the whitepaper, there is a section with a graphical explanation about the State Transition Function, I think there is a small typo there.

In the middle section, titled Transaction, the sender happens to be address "14c5f88a", while in State and State' there is no such account, but there is another account with a similar address, "14c5f8ba", who was the one debited for

[2021-03-20 01:45] lizhidong815 opened #2692 "ethereum"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tag your tutorial**

**Tutorial title**

**Tutorial description**

**Publication**

**Skill level**

**Paste in your tutorial below**

[2021-03-20 08:19] #2317 closed

[2021-03-21 05:20] Walter-Janiak opened #2696 "WalterJank"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-03-21 05:20] #2696 closed

[2021-03-21 15:32] seanmoore22 opened #2697 "aoasis"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-03-22 02:04] samajammin opened #2699 "Add info on reducing gas costs"
**Is your feature request related to a problem? Please describe.**

We get lots of questions in our Discord about gas fees, why they're high & how to avoid them.

**Describe the solution you'd like**

We should add sections to https://ethereum.org/en/developers/docs/gas/
- Explain why gas fees get high (i.e. high demand for the network)
- Explain initiatives in progress (e.g. Eth2, L2) that are wo

[2021-03-22 11:55] sorumfactory commented on #2674
@AIKO7772011 Hey there, thank you for suggesting adding the Kazakh language to Ethereum.org. Sorry for my late response to your request! Kazakh is now available on Crowdin:[]( https://crowdin.com/project/ethereumfoundation/kk#)
Please feel free to explore and let me know if you face any challenges along the way!
Again, we appreciate your sincere interest in supporting Kazakh speaking community.

[2021-03-22 11:56] sorumfactory commented on #2674
As for your

[2021-03-22 12:03] sorumfactory commented on #2674
As for the instructions, you can refer to the links below that will explain how to start participating in the program and some basic FAQs for using Crowdin.

- [https://ethereum.org/en/contributing/translation-program/](https://ethereum.org/en/contributing/translation-program/)

- [https://ethereum.org/en/contributing/translation-program/translation-guide/
](https://ethereum.org/en/contributing/tr

[2021-03-22 12:05] #2674 closed

[2021-03-22 16:01] samajammin commented on #2585
Offline discussion: approach C) seems to be our best bet here.

[2021-03-22 16:05] #2583 closed

[2021-03-22 16:24] samajammin commented on #2400
Should we just fetch this Github commit data from the client? This would require a loading state for the contributors component.

[2021-03-22 17:15] Habteyes opened #2702 "creat app"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tag your tutorial**

**Tutorial title**

**Tutorial description**

**Publication**

**Skill level**

**Paste in your tutorial below**

[2021-03-22 20:21] samajammin opened #2704 "Add a 'good-first-issue' tag for new contributors"
**Is your feature request related to a problem? Please describe.**

Github adds a nice callout on [our issues page](https://github.com/ethereum/ethereum-org-website/issues):
![Image 2021-03-22 at 1 20 17 PM](https://user-images.githubusercontent.com/8097623/112053283-64655700-8b11-11eb-9057-c4737442631d.jpg)

**Describe the solution you'd like**
We should add & use this tag to surface good first i

[2021-03-22 20:25] samajammin opened #2705 "Explicit language path in links"
**Describe the bug**

We have cases where links to pages have an explicit language path, e.g. `[ethereum.org/learn](/en/learn/)`.

We should generally avoid this (except if only the English page exists) as our `<Link/>` component automatically prepends the appropriate language path:
https://github.com/ethereum/ethereum-org-website/blob/dev/src/components/Link.js#L131

**To Reproduce**
Steps to rep

[2021-03-22 20:33] #2692 closed

[2021-03-22 20:33] #2702 closed

[2021-03-22 20:34] #2697 closed

[2021-03-22 21:23] #2672 closed

[2021-03-22 21:35] #2689 closed

[2021-03-23 00:13] LefterisJP opened #2711 "Add rotki, the only opensource portfolio tracking and accounting tool that protects user privacy."
**Please describe the measures taken to ensure the dapp's security and provide documentation wherever possible**

Rotki is a local application. We are a portfolio tracking and accounting tool. Security-wise we keep all user data locally in the user's system so there is no possibility of data leaking. Additionally, at the point of writing, we do not handle any user keys.

**Is your dapp open source

[2021-03-23 00:44] ArionKryeziu opened #2712 "ETH Arion"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

**Is your wallet custodial, non-custodial, or a hardware

[2021-03-23 01:47] #2712 closed

[2021-03-23 01:56] wackerow commented on #2711
@LefterisJP Thanks for submitting! We'll take a look and get back to you... no worries about the brand color =), your logo is enough

[2021-03-23 03:52] samajammin opened #2714 "Remove Authereum"
**Is your feature request related to a problem? Please describe.**

Authereum is winding down its wallet:
https://medium.com/authereum/an-end-and-a-new-beginning-ae0e2e596e1b

**Describe the solution you'd like**

Remove Authereum & its assets

[2021-03-23 06:25] ligi opened #2715 "Improve wallet filtering"
Currently the wallet filter looks like this:

![Selection_060](https://user-images.githubusercontent.com/111600/112101718-68dc4f00-8ba7-11eb-8073-81cb8b59155d.png)

I see room for improvement here. First of all the IMHO most important criteria is missing "The Wallet is fully libre software / open source"
Also I am really missing a filters like

 * a filter for which chains are supported (especiall

[2021-03-23 07:54] jzaki commented on #2715
I feel filters like "Buy crypto with credit card" are useful for on-boarding new users.

I'm in support of the filters you list, but see them as "Advanced" filters (or some other division). E.g. knowing the licensing, networks supported, hw wallet... even broad categories of these seem too technical for new users. Or at least less actionable by users looking to try a wallet.

There is probably a m

[2021-03-23 07:56] muuhammad-a opened #2716 "prova"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tag your tutorial**

**Tutorial title**

**Tutorial description**

**Publication**

**Skill level**

**Paste in your tutorial below**

[2021-03-23 08:37] ligi commented on #2715
Thanks for joining the conversation!

TBH I am not really sure if they should be hidden behind "Advanced"
especially the networks - IMHO it is really important to know for the users which networks are supported. Also the platform should not be hidden behind "advanced". Especially in the L2 aera we are about to enter.
About the license and HW-Wallets we can talk. But IMHO the availability of the so

[2021-03-23 14:35] ryancreatescopy opened #2718 "NFT InfoBanner broken"
**Describe the bug**

On the NFT page, one of the InfoBanners doesn't work. The button isn't clickable. I believe the h4 below is the culprit. The button should be clickable.

https://ethereum.org/en/nft/#nfts-for-creators

**Screenshots**

![image](https://user-images.githubusercontent.com/40891631/112163434-ef635180-8be4-11eb-91c1-3a0cd3a9cfd4.png)

**Desktop (please complete the following infor

[2021-03-23 18:16] #2714 closed

[2021-03-23 18:42] #2716 closed

[2021-03-23 18:45] wackerow commented on #2648
@jordanoverbye Were there any other key places you were planning on working on, or where you noticed could use work?

[2021-03-23 18:47] wackerow commented on #2682
@rabbitXIII Please do =) Just assigned you, thanks for helping!

[2021-03-23 18:48] wackerow commented on #2682
@all-contributors please add @rabbitXIII for bug report

[2021-03-23 20:43] wackerow commented on #1762
Closing for now, can always revisit.

[2021-03-23 20:43] #1762 closed

[2021-03-23 20:47] wackerow commented on #2636
@ryancreatescopy Not sure if you had intent to use this styling elsewhere at this point. If so sounds like we could create a separate issue and assign @jordanoverbye ... in the meantime will close this issue, but can always reopen if needed =)

[2021-03-23 20:47] #2636 closed

[2021-03-23 22:09] jpsoto11-09 opened #2723 "Audiovisual / Animation"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-03-23 22:10] jzaki commented on #2715
Looking back at the path to get to that filter screen (`find-wallet`), it's a screen beyond `/wallets` already, so I take back the need for yet another layer (`/wallets/find-wallet/advanced` not needed).

I really like the idea of a top-level signal of the benefit of the source openness (or not): eg "Openly maintainable", "(No) Tech Lock-in", "Anti-fragile fallback"/"Single point of failure", ...

[2021-03-23 22:11] jpsoto11-09 commented on #2723
Independents film makers we struggling trying to get funds to our projects and streaming is growing up, we can sell rights or tickets of our contents and sell our contents in platform

[2021-03-23 23:42] wackerow commented on #2718
Definitely from the headers... the `:before` pseudo-element used for the links are getting in the way. This happens in other places on the site too unfortunately, like the glossary.

Will take a look and try to find a solution for the whole site.

[2021-03-24 01:35] jordanoverbye commented on #2648
I haven't noticed anything else, so this could issue could probably be closed.

[2021-03-24 04:24] wackerow commented on #2648
@jordanoverbye Sounds good, feel free to surface anything else you find in another issue 👍

[2021-03-24 04:24] #2648 closed

[2021-03-24 04:50] samajammin commented on #2648
Thanks @jordanlyall! Appreciate the report & PRs 💪

[2021-03-24 04:50] samajammin commented on #2648
@all-contributors please add @jordanoverbye for bug reports & code.

[2021-03-24 04:53] samajammin commented on #2723
?

[2021-03-24 04:53] #2723 closed

[2021-03-24 05:06] samajammin commented on #2715
Thanks for the input @ligi @jzaki - lots of good ideas here.

It's certainly a balance between serving new & more advanced users but I agree, ultimately we should make the relevant information available for the folks who are looking for it.

Our team will be mapping out Q2 goals shortly & wallet page improvements are likely on that list. Together they make ~20% of site pageviews. In the meantime,

[2021-03-24 05:59] Uttam-Singhh opened #2726 "Want to add my Article to ethereum.org"
I want to add my article to ethereum.org.
My article is based on how ethereum is going to change the internet.
Please have a look - https://uttamkhanduja.medium.com/how-the-internet-is-going-to-change-c0006ad8672f

[2021-03-25 08:55] ligi opened #2730 "wallets.csv -> wallets.json"
I think important wallet properties can change over time (also see #2715) - having a csv storing the data makes things harder to update and maintenance quite difficult.
So I suggest changing from csv to json for more flexilibilty.
If size is a concern here the json could be postprocessed to become a csv again - but this way only algorithms need to touch it - not humans ;)

Also wondering if there

[2021-03-25 08:57] ligi commented on #2715
@samajammin thanks for the reply and great to hear you are open to changes here and might add it to the roadmap!

regarding the WalletData I opened #2730

would also like to add things here (e.g. my favorite wallet: http://walleth.org :) - but I think it makes sense to change the format first to reduce the amount of work afterwards

[2021-03-25 11:43] pedrouid commented on #2730
Totally... WalletConnect's website is actually close to being updated to use the registry which you can use it as well here: https://github.com/walletconnect/walletconnect-registry

[2021-03-25 11:47] ligi commented on #2730
Oh nice - [that json](https://registry.walletconnect.org/data/wallets.json
)  is actually already quite close to what I had in mind when opening this issue.

[2021-03-25 11:52] pedrouid commented on #2730
However this registry only includes Dapps and Wallets that support WalletConnect so I'm not sure if you would also need to aggregate some other data of other Ethereum apps

[2021-03-25 11:54] ligi commented on #2730
Ya - I don't think the data should be taken directly. But if the same format is used it is easier to share/merge/..

[2021-03-25 12:11] pedrouid commented on #2730
Sounds good. As you can see the data is already being served statically from this url:

https://registry.walletconnect.org/data/wallets.json

Logos can also be fetched by the id in three different sizes ("sm" | "md" | "lg")

https://registry.walletconnect.org/logo/[size]/[id].jpeg

[2021-03-26 09:22] #2718 closed

[2021-03-26 12:06] akiraplusplus opened #2733 "Indexing and querying"
We could use a developer resource around the topic of indexing & querying Ethereum blockchain data

[2021-03-27 11:13] issanyo opened #2736 "programmable music dapp"
**Please describe the measures taken to ensure the dapp's security and provide documentation wherever possible**

The dapp is open source, anyone can report issues here: https://github.com/ausync/application

**Is your dapp open source?**

Yes, anyone can contribute here: https://github.com/ausync/application

**Can a user access the dapp without creating an account?**

Yes, it's enough a web3 cli

[2021-03-27 14:07] Hakeemmidan opened #2737 "Docs Focused Reading (a.k.a. Zen Mode) Toggle"
## **Is your feature request related to a problem? Please describe.**

Documentation part of website currently feels like it has a lot of distracting details in it.

How it looks like now:

All these details might distract readers from having a potentially more focused reading time.

## **Describe the solution you'd like**
Adding 'Zen Mode' or 'Focused Reading' _toggle button_ might be helpful in

[2021-03-27 23:11] lehonglam opened #2738 "learn first time"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tag your tutorial**

**Tutorial title**

**Tutorial description**

**Publication**

**Skill level**

**Paste in your tutorial below**

[2021-03-27 23:12] #2738 closed

[2021-03-28 01:34] Psyruss77 opened #2739 "OK"
OK
page 1 added
OK
page 2 added
OK
page 3 added
OK
page 4 added
OK
page 5 added
OK
page 6 added
OK
page 7 added
OK
page 8 added

---------------------------------------------------------------------------
EmptyResponse                             Traceback (most recent call last)
<ipython-input-142-2b8eabc7d0bb> in <module>()
----> 1 blocks = api.get_all_blocks_mined(offset=10000, blocktype='uncle

[2021-03-28 19:02] jhhb opened #2743 "Add "JetBrains IDEs" to ides/index.md"
**Is your feature request related to a problem? Please describe.**

There's no problem -- just an enhancement request. As a user of JetBrains IDEs, which officially support a Solidity plugin, it would be handy to have "JetBrains IDEs" as as section in `ides/index.md`

**Describe the solution you'd like**

- add section under "DESKTOP IDES" (see screenshot); new section in red.
- In order, the link

[2021-03-29 08:06] #2739 closed

[2021-03-29 08:10] ryancreatescopy commented on #2736
Hi @issanyo this looks like a really cool project. However at the moment we only list dapps that are pretty well established (full-time teams, large user bases), simply because they've managed to invest time in UX, support, and (hopefully) security. Would be interested to see how this project progresses – feel free to raise this issue again once you're further along in the journey!

[2021-03-29 08:10] #2736 closed

[2021-03-29 16:42] IliadisVictor commented on #2077
Is help still needed for this ?

[2021-03-30 01:00] eakdogan opened #2754 "https://ethereumbillboard.com"
**Is your dapp open source?**
Yes, anyone can access the contract methods.
https://github.com/eakdogan/ethereumbillboard/tree/main

Yes

**Can a user access the dapp without creating an account?**
Yes

Yes

**Are dapp funds non-custodial?**
Yes

Yes

**Do you offer community support?**
Yes

cognitiveapps@gmail.com

**Describe any geographical restrictions on usage of your dapp**
None

Globally acc

[2021-03-30 01:38] wackerow commented on #2691
@SatoshiMiracle Good eye! hah, I suppose that would've been my typo when re-creating those PNGs, and I shall fix =)

[2021-03-30 01:38] wackerow commented on #2691
@all-contributors please add @SatoshiMiracle for bug reports

[2021-03-30 01:44] wackerow commented on #2699
https://www.youtube.com/watch?v=Yh8cHUB-KoU
(Suggestion)

[2021-03-30 01:50] wackerow commented on #2704
@samajammin I did make this tag, but after reviewing the existing issues it doesn't seem to apply to any of them. Keeping an eye on this going forward, and will try to apply.

[2021-03-30 02:58] #2691 closed

[2021-03-30 05:30] samajammin opened #2757 "Translation component pages that are still in English do not display TranslationBanner"
**Describe the bug**

Some translation component pages that are still in English do not display the TranslationBanner.

It looks to be an issue with components in the /src/pages/ directory. The /src/pages-conditional/ are working as expected.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/bn/get-eth/
2. TranslationBanner component does not display

**Expected beh

[2021-03-30 05:33] samajammin commented on #2757
Actually we might be able to fix this in the `onCreatePage` hook... if content version is <2, for most pages (I think anything other than /developers/index.js we should set `page.context.isContentEnglish` to `true`.

[2021-03-30 05:45] samajammin commented on #2730
Thanks for raising this @ligi (& @pedrouid for weighing in).

@ligi do you mind expanding on your reasoning here for my understanding? Why is JSON easier to update/maintain vs. CSV? I'm certainly open to switching over, just want to understand why one is better. Seems like a minor implementation detail to me - Gatsby ingests them the same & queries those data file via GraphQL.

[2021-03-30 05:48] samajammin commented on #2479
Solved in #2510 - thanks again @ipapandinas!

[2021-03-30 05:48] #2479 closed

[2021-03-30 05:48] samajammin commented on #2479
@all-contributors please add @ipapandinas for content.

[2021-03-30 05:50] samajammin commented on #2743
Thanks for the suggestion @jhhb. We'd welcome a PR 😄

[2021-03-30 05:52] samajammin commented on #2704
Thanks @wackerow!

I went through & tagged 10 I think are good first issues. LMK if you disagree with any:
https://github.com/ethereum/ethereum-org-website/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

Counting this as solved!

[2021-03-30 05:52] #2704 closed

[2021-03-30 11:08] ryancreatescopy opened #2760 "Layer 2 clean up"
**Is your feature request related to a problem? Please describe.**

I've seen a few mentions over Discord/Twitter that our [layer 2 docs](https://ethereum.org/en/developers/docs/layer-2-scaling/) may be misleading/incorrect.

The argument is: sidechains / validium are not technically layer 2 because they don't use layer 1 as the security layer.

So although they are ways to "scale" your dapp, they

[2021-03-30 16:20] minimalsm commented on #2760
I would like to tackle this issue if it is agreed upon.

Looking at the current structure of other sidebar items a directory style page makes sense to me. 👍

[2021-03-30 16:27] minimalsm commented on #2737
Nice proposal. It doesn't seem intuitive to me where the focused toggle button would be placed on the page (in either state). Any thoughts?

[2021-03-30 16:30] jjmstark commented on #2760
One other option to consider would be to use "off-chain scaling" to refer to L2 + Sidechains/Validium, and only use "Layer 2 scaling" to refer to things that are properly L2.

Since we also talk elsewhere on the site about "scaling" in a much more general sense, for instance in relation to the Eth2 upgrades, it might be useful to have terminology that makes that distinction.

[2021-03-30 18:27] wackerow commented on #2077
@Brent-Boyd Thanks for that post. I think this is a nice idea for improving the safety of the Discord community. @GeorgeTrotter thoughts? Another option could be to start "pinning" posts in that channel so they can be referenced quickly, though I feel many people probably don't think to look there.

Ultimately I agree education around this topic is important. I would love to have more dedicated re

[2021-03-31 00:08] samajammin commented on #2760
I agree the page (https://ethereum.org/en/developers/docs/layer-2-scaling/) could use a re-work. Thanks for suggesting 👍

Adding my take, mostly from an SEO perspective.

I agree with @ryancreatescopy - I think it makes sense to have a top level page on general scaling (i.e. https://ethereum.org/en/developers/docs/scaling/) that explains what it means to "scale" a blockchain & provides a brief int

[2021-03-31 00:10] samajammin commented on #2760
Thanks for volunteering @minimalsm! I'd say go for it! Perhaps start with the top level "Ethereum scaling" page? That would give us some time to finalize the information architecture of this section.

Appreciate any input from folks on this!

[2021-03-31 00:24] #2743 closed

[2021-03-31 03:32] mic0des commented on #2757
Hey @samajammin this looks like an interesting problem to tackle since I'm thinking about contributing to some language translations! If it hasn't already been taken, mind assigning it to me?

[2021-03-31 05:38] samajammin commented on #2760
Perhaps another use case distinction worth calling out - payment based L2s vs full EVM generalized computing L2s.

[2021-03-31 13:34] ryancreatescopy opened #2764 "Duplicate site search results"
**Describe the bug**

Our search isn't behaving as intended.

We are seeing multiple results for seemingly the same page (try "dapps" for example) and when you click on one it seems to load for a microsecond before being replaced by the homepage.

When I check the URL of the page I end up on after clicking a search result it's https://ethereum.org/en#gatsby-focus-wrapper.

**Intended behaviour**
S

[2021-03-31 19:40] wackerow opened #2766 ""Waffle say hello world..." tutorial duplicating on list"
**Describe the bug**
A recent change to lowercase the folder name of `/waffle-hello-world-with-buidler-tutorial/` has caused a duplication where the capitalized version is still being listed/hosted (`/Waffle-hello-world-with-buidler-tutorial/`)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/tutorials/
2. Scroll down to "Waffle say hello world tutori

[2021-03-31 20:52] minimalsm commented on #2764
**tldr: this is two issues.**

- algolia search is treating ethereum.org/en/dapps as multiple pages
- links on this page are broken in the V2 translation only

-----

It seems to be the only content effected is on https://ethereum.org/en/dapps/.

For some reason each category is being treated as its own individual page. Any content searched for on this page will produce 5 results.

![Screenshot 20

[2021-03-31 21:21] GeorgeTrotter opened #2767 "A page for explaining that ETH transactions cannot be reversed"
**Is your feature request related to a problem? Please describe.**

Many new members of the Ethereum community are familiar with the experience of having sent ETH to an address and then wanting to reverse the payment. Standard material that explains 1. that payments are irreversible 2. why it's desirable for a blockchain to not be able to reverse payments 3. softening potential hard feelings could

[2021-03-31 21:23] GeorgeTrotter opened #2768 "Security page that demonstrates good security habits"
**Is your feature request related to a problem? Please describe.**

Good security habits are an essential part of working in the Ethereum ecosystem, but aren't always written down well anywhere

**Describe the solution you'd like**

a Security page where we could help demonstrate good security habits, like always confirming the address you’re sending to (and how to do that)

**Describe alternative

[2021-04-01 01:17] qbzzt commented on #2768
Do you want me to try and tackle this over the weekend?

[2021-04-01 02:57] samajammin commented on #2768
Some solid resources for inspiration:
- https://metamask.zendesk.com/hc/en-us/articles/360015489591-Basic-Safety-and-Security-Tips-for-Metamask
- https://support.mycrypto.com/staying-safe/protecting-yourself-and-your-funds
- https://support.mycrypto.com/staying-safe

[2021-04-01 02:59] samajammin commented on #2768
Thanks for offering @qbzzt! I'm open to it - do you think that's the best use of your time? My hesitation is that I don't see this page being nearly as technical as the developer resources/tutorials you've worked on in the past.

[2021-04-01 07:13] ryancreatescopy commented on #2768
#2077

[2021-04-01 07:18] ryancreatescopy commented on #2767
I'm not certain it's as easy as just adding a page. For example, I'm not sure where it would currently live. We could think about expanding out "live help" to include support pages with common queries like this...

I think in the short term we can make this clear on our what is eth, what is ethereum and wallet pages.

![image](https://user-images.githubusercontent.com/40891631/113257699-e1878d80-9

[2021-04-01 10:39] ligi commented on #2730
I see the following advantages:
 * easier correlation between key and value
 * better when it is not simply a (mostly binary) value for a key - but e.g. a set (thinking about e.g. the platform property suggested in #2715)
 * scales better - I think there should be more and more properties added and I think an entry like this is already messy:
 `metamask,MetaMask,https://metamask.io/,,TRUE,FALSE,TR

[2021-04-01 12:44] Robiquet opened #2770 "Improve accessibility of icon links"
**Is your feature request related to a problem? Please describe.**

The social icons (Youtube, Twitter, etc ) at the bottom of the home page don't contain any text. This makes it hard for people that use screen readers to figure out what they do.

**Describe the solution you'd like**

The simplest solution I can think of would be to add an ariaLabel property to the Link component to allow a link t

[2021-04-01 14:31] samajammin commented on #1785
I love the idea of walking through the Uniswap contracts. The question is which version? v1 was in Vyper & is definitely the simplest. Perhaps it makes sense to start there?

[2021-04-01 14:50] qbzzt commented on #1785
The contract source code for Uniswap 1 (https://github.com/Uniswap/uniswap-v1/tree/master/contracts) is about 550 lines of Vyper

The contract source code for Uniswap 2 core (https://github.com/Uniswap/uniswap-v2-core/tree/master/contracts) is about 350 lines of Solidity, and the periphery (https://github.com/Uniswap/uniswap-v2-periphery/tree/master/contracts) is about 800 lines.

So I agree, it w

[2021-04-01 21:03] minimalsm commented on #2770
An aria-label does the job. Would there be any added benefit to the second approach?

The area where this lives has quite a few abstractions so I don't know if there is a 'correct' way to implement it even if it is only adding an aria-label.

One thought I had was would the aria label need to be translated? I done a quick poll and the consensus was that these are Brand names and would be understoo

[2021-04-02 10:44] Robiquet commented on #2770
No huge benefit, in general I think it's best if things make sense semantically but in this case it might be more pain than it's worth. So happy to go with the simple aria-label!

Think we'll be ok to go without translations for the reason you mentioned. I was thinking that they might be needed for languages that use different characters but this text is intended to be read by a screen reader so i

[2021-04-02 15:10] minimalsm commented on #2760
To include sharding would it make sense to break it down as follows?

- Scaling Overview

- On-chain scaling
  - Sharding

- Off-chain scaling
   - Roll ups
   - Sidechains
   - Etc

- Further Reading

[2021-04-02 15:59] Hakeemmidan commented on #2737
I was thinking about adding it to the left of the light/dark mode toggle, but I saw some problems with that, including:

- It would depend on the docs relative path (since it only appears on the docs page). *Changing the docs path name might easily break things that way.*
- Clicking on it supposedly should make the entire `Nav` element to disappear, except for the 'Zen Mode' toggle. *This might ad

[2021-04-02 17:43] samajammin opened #2776 "Developer docs page that explains ETH & tokens"
**Is your feature request related to a problem? Please describe.**

I've seen multiple questions on Discord of people looking for the "Ether token address"

**Describe the solution you'd like**

We have a page on ETH: https://ethereum.org/en/eth/

But we don't get into the nitty gritty of how ether compares to other tokens (which have a dedicated smart contract)

Perhaps within our "Foundational t

[2021-04-02 18:48] samajammin opened #2777 "Migrate off "gatsby-plugin-intl""
**Is your feature request related to a problem? Please describe.**

During migration to Gatsby v3 (#2528) we've hit warnings that the `gatsby-plugin-intl` is not compatible with Gatsby v3.

There's an open issue & PR to address this:
https://github.com/wiziple/gatsby-plugin-intl/issues/172

But it appears the project is no longer maintained:
https://github.com/wiziple/gatsby-plugin-intl/issues/168

[2021-04-02 18:55] samajammin opened #2778 "Migrate to "gatsby-plugin-image""
**Is your feature request related to a problem? Please describe.**

After migrating to Gatsby v3 (https://github.com/ethereum/ethereum-org-website/issues/2528) we get this warning on build:

[code]

**Describe the solution you'd like**
https://www.gatsbyjs.com/docs/reference/release-notes/image-migration-guide/

**Describe alternatives you've considered**
None

**Additional context**
None

[2021-04-02 19:28] samajammin opened #2779 "Upgrade "framer-motion""
**Is your feature request related to a problem? Please describe.**

After migrating to Gatsby v3 (https://github.com/ethereum/ethereum-org-website/issues/2528), which includes upgrading to React v17 we get this warning running `yarn`:

[code]

**Describe the solution you'd like**
Let's upgrade to the latest (we're quite far behind now 😅):
https://www.npmjs.com/package/framer-motion

**Describe alt

[2021-04-03 20:20] mic0des commented on #2766
Hey @wackerow I found this very curious so I tried it in my local environment. I manually renamed the 'Waffle-hello-world...etc.'  directory with a lower-case 'w'. Right after that change, in my localhost's tutorials page, I found something similar to the production version: there were repeats of that tutorial (one linking to an uppercase slug, and another linking to a lowercase).

I then manually

[2021-04-04 00:16] serega198331 opened #2781 "Пожалуйста ссылку на кошелёк!"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

**Is your wallet custodial, non-custodial, or a hardware

[2021-04-04 00:19] serega198331 commented on #2781
хочу все!

[2021-04-04 00:21] serega198331 commented on #2781
Кошелёк локальный, название не важно, можно переводить на карту , можно обменивать на другие монеты,

[2021-04-04 00:23] serega198331 opened #2782 "Describe alternatives you've considered** <!-- A clear and concise description of any alternative solutions or features you've considered. -->"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-04-04 00:24] serega198331 opened #2783 "Создать кашелек и скачать"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-04-04 00:25] serega198331 opened #2784 "Создать кошелек и скачать"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-04-05 19:09] minimalsm commented on #2760
@samajammin I have created a draft PR whilst waiting on the finalisation of the architecture of this section 🙂

[2021-04-05 19:14] minimalsm commented on #2737
Not sold on the idea in general but the placement seems right.

One thing I would say is that I understand what 'Zen mode' would be, but I don't think you could expect that to be intuitive (don't want people having to interact with a feature to find out what it does). I'm pretty sure I've seen this exact thing being done well on another site but I can't remember where.

Anyone know of any sites th

[2021-04-05 19:57] minimalsm opened #2786 "Mixing Standard British English and Standard American English"
Writings on the site mix the use of both American and British spellings (e.g. monetise / monetize).

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/docs/web2-vs-web3/
2. See 'decentralized' and 'monetisation' in the first paragraph.

**Additional context**

A quick search in the md files shows that there is a lot of British Standard English throughou

[2021-04-05 23:52] samajammin commented on #2528
Solved in #2780 - thanks @wackerow!

[2021-04-05 23:52] #2528 closed

[2021-04-05 23:59] samajammin opened #2787 "YouTube embeds not displaying"
**Describe the bug**

Seems to only be a case on: https://ethereum.org/en/developers/docs/accounts/

Console error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/docs/accounts/
2. Scroll down to bottom videos
4. See error

**Expected behavior**

Embeds should work! These appear to be the only broken ones...

**Screenshots**

![Image 2021-04-

[2021-04-06 00:34] mic0des commented on #2787
Hello! Iframe URL needs to be absolute https path otherwise it is looking for the YouTube resource in the site directory path instead. Can fix this in a jiffy if assigned.

[2021-04-06 00:47] mic0des commented on #2776
Hi @samajammin would you guys mind if I tried taking a stab at a draft for this information? Getting back into the Ethereum ecosystem this year and as also a copywriter/technical writer, I wouldn't mind contributing to some of these docs if at the very least to solidify my own understanding by attempting to explain things in a clear manner for others. 😊

[2021-04-06 00:54] samajammin commented on #2787
Thanks for offering @mic0des! I fixed before I saw your comment 😅

[2021-04-06 01:07] #2787 closed

[2021-04-06 01:09] samajammin commented on #2776
That'd be great, thanks for volunteering @mic0des!

[2021-04-06 02:19] samajammin opened #2789 "Add info on how to get ETH with BTC"
**Is your feature request related to a problem? Please describe.**

Question from Discord:

**Describe the solution you'd like**

Add info on how to swap BTC for ETH

[2021-04-06 04:04] jley81 commented on #2789
Feature
Content

[2021-04-06 04:06] jley81 commented on #2789
label Type: features
Label Type: Content

[2021-04-06 04:07] jley81 commented on #2789
Where do I write the labels at?

[2021-04-06 06:02] wackerow commented on #2304
Encountered some issues trying to implement this in an automatic way.
Using the pre-commit hook causes issues with staging the potential changes that are made when running a script to clean all of these up. It gets messy trying to stage only the new changes from the script with only what the user had previously staged, without potentially overwriting their stash in some cases.
Perhaps a GH action

[2021-04-06 21:26] wackerow opened #2790 "Add guidance for stuck transactions"
**Is your feature request related to a problem? Please describe.**
From the recent Enter Ethereum discord, it was noted that several people were looking for help on stuck transactions.

**Describe the solution you'd like**
Though improvements and changes through EIP-1559 are coming, it would be nice to have a place to point users to on the website that can guide them through how to get a transacti

[2021-04-07 00:11] wackerow commented on #2767
@ryancreatescopy The Live Help experiment is coming to a close for now... should we consider a "Help" section in its place?

[2021-04-07 00:31] #2757 closed

[2021-04-07 01:14] qbzzt commented on #2767
It looks like this belongs in the page requested in #2077 .

[2021-04-07 01:50] samajammin commented on #2786
Hey @minimalsm - thanks for raising this. I don't see this as a major issue or have a strong preference but I agree we should probably keep uses consistent for the sake of readability & translations.

Looking at Google search volume, American spelling does seem to be dominant worldwide (at least for ["decentralized" vs. "decentralised"](https://trends.google.com/trends/explore?q=decentralized,dece

[2021-04-07 01:54] wackerow commented on #2766
@mic0des Yeah, you may be right here... I think Netlify may be holding onto the old folder in its cache, may see if I can fix this with next deploy.

[2021-04-07 02:07] #2784 closed

[2021-04-07 02:12] #2783 closed

[2021-04-07 02:12] wackerow commented on #2781
(For reference, the above translates to: "Please link to the wallet! I want everything! The wallet is local, the name is not important, can be transferred to a card, can be exchanged for other coins" according to Google)

@serega198331
- Please fill out the requested information for us in English please, utilizing online translation tools as needed if you are having any issues. Further repeat post

[2021-04-07 02:12] #2781 closed

[2021-04-07 02:12] #2782 closed

[2021-04-07 02:16] wackerow commented on #2786
@ryancreatescopy Agree with Sam... don't see it as a huge issue, but always a fan of keeping things consistent and applicable to the largest audience possible. Totally up to you, but feel free to reassign to me if you want, or gracefully close =)

[2021-04-07 07:53] ryancreatescopy commented on #2767
I think building out a help section would be very worthwhile. Definitely something we could start small with (e.g. stuck transaction) and build out. A fully fledged help center would be a big job but maybe we could just drop a few pages that we’ve identified a need for under a help drop down for now!

Sent from my iPhone

[2021-04-07 08:06] #1784 closed

[2021-04-07 08:48] StanislavBreadless opened #2797 "More complete description of ZK rollups"
**Is your feature request related to a problem? Please describe.**

I very like the description of the L2 solutions as it lets the Ethereum community know more about the different ways Ethereum can be scaled today. However, I find the description somewhat biased against zero knowledge rollups :slightly_frowning_face:

The section that describes ZK rollups says that they are "_Limited to simple tra

[2021-04-07 08:50] StanislavBreadless commented on #2797
The contribution guide says that I need to comment on the issue if I am willing to contribute.

I am willing to contribute :slightly_smiling_face:

[2021-04-07 11:52] Hakeemmidan commented on #2737
No worries. I'm not sure about how hard it would be to implement, but I imagine it'd be similar to how the light/dark mode toggle is implemented.

As for intuition about its usage, I'm not sure how people are going to perceive it either, but I think the best way to know that is to put it out there and see how it does. Nevertheless, I'm not sure how usage testing is done on this repo too. As far as

[2021-04-07 23:09] samajammin opened #2802 "Builds breaking in Netlify"
**Describe the bug**

Catch-all issue to track various ways builds have broken. We're seeing recent build failures:

1. Runtime errors

[code]

Here's one of the logs:
https://app.netlify.com/sites/ethereumorg/deploys/606d1016cbef7d00076d6ef9

2. GraphQL failures

[code]

**Expected behavior**

Let's explore ways to optimize build times:
https://answers.netlify.com/t/support-guide-how-can-i-optimi

[2021-04-08 10:35] lamart1 commented on #2760
What if on page is "LAYER 2 SCALING + SIDECHAINS" ?
And then explanation that sidechains are blockchains with different security than Etheruem, but they are bridged to Ethereum and you can hop to them easily and decentralized way.

[2021-04-08 11:41] JayWelsh opened #2804 ""Front-end web developer" role points to a broken job application link"
**Describe the bug**

The current "Front-end web developer" role points to a broken link when trying to apply

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to https://ethereum.org/en/about/web-developer/
2. Click on "Apply for job"
3. See error

**Expected behaviour**

A functional job application

**Screenshots**

<img width="1440" alt="Screenshot 2021-04-08 at 13 40 13" src="https:/

[2021-04-08 14:58] JayWelsh commented on #2804
Additional context for anyone that finds this:

<img width="876" alt="Screenshot 2021-04-08 at 16 58 06" src="https://user-images.githubusercontent.com/14224459/114049325-a6212c00-988b-11eb-99c9-546b8db69a8d.png">

[2021-04-08 15:07] ArtemKo7v opened #2806 "Add supported languages for Ethplorer"

[2021-04-08 16:27] Lu-Thao opened #2808 "gemdigitz"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-04-08 19:08] samajammin opened #2809 "No loading state for FileContributors components"
**Describe the bug**

As a result of #2713, the FileContributors component creates a jumpy interaction on page load.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a documentation / tutorial page
2. View jump in layout when component data loads

e.g. screencast:

https://user-images.githubusercontent.com/8097623/114082565-c12b7600-9862-11eb-81dc-3f0d3cd2e6f7.mp4

**Expected behavior*

[2021-04-08 20:44] samajammin opened #2810 "Investigate ways to reduce noise of build logs"
**Is your feature request related to a problem? Please describe.**

We're getting a bunch of "Query takes too long" warnings during site builds, e.g.

[code]

For whatever reason, the logs print out the entire page context, which is >1K lines due to all the intl messages in the page context object.

**Describe the solution you'd like**

- Ideally we identify the root cause - why are these queries

[2021-04-08 21:21] samajammin commented on #2802
Note to self: one useful approach here may be to emulate Netlify's buildbot locally:
https://github.com/netlify/build-image

[2021-04-08 21:44] samajammin commented on #2810
This looks like it may be related to our v3 migration (#2780) - see this open issue: https://github.com/gatsbyjs/gatsby/issues/30256

[2021-04-08 21:48] samajammin commented on #2810
At least for now, silencing the logs doesn't appear to be possible. Here's where this is logged in Gatsby: https://github.com/gatsbyjs/gatsby/blob/54d4721462b9303fed723fdcb15ac5d72e103778/packages/gatsby/src/query/query-runner.ts#L30

[2021-04-08 22:02] samajammin commented on #2810
Opened a discussion in Gatsby here: https://github.com/gatsbyjs/gatsby/discussions/30767

[2021-04-08 23:36] #2400 closed

[2021-04-09 00:24] samajammin commented on #2802
Hmmmmmm
[code]

I sure hope this isn't the sole reason why we keep getting these failures:
[code]

[2021-04-09 01:08] wackerow commented on #2806
Closed in #2807, thanks!

[2021-04-09 01:08] #2806 closed

[2021-04-09 01:09] wackerow commented on #2808
@Lu-Thao If you'd like to request a feature, please fill out the requested information in a new issue, thanks!

[code]

[2021-04-09 01:09] #2808 closed

[2021-04-09 02:08] Danielrachi opened #2813 "Sorting the Ethereum client list by GitHub stars."
**Is your feature request related to a problem? Please describe.**

I find odd that the list of beacon chain clients (https://ethereum.org/en/eth2/get-involved/) and the list of Frameworks and pre-made stacks (https://ethereum.org/en/developers/local-environment/) show the different alternatives in no particular order.

**Describe the solution you'd like**

Sort the alternatives in a way that the

[2021-04-09 03:39] wackerow commented on #2766
Well the 2.22 deploy went live, and it certainly didn't fix this... This tutorial is now not showing up at all on the list, and if you direct the URL to https://ethereum.org/en/developers/tutorials/waffle-hello-world-with-buidler-tutorial/ it will load with the cached "Live Help" component that got removed in this deploy. Will take a look at Netlify, see if we can't clear the cache.

[2021-04-09 09:33] minimalsm opened #2815 "Non-INTL Footer Links are not styled properly"
**Describe the bug**

Footer links which are not react-intl links (i.e they have the prefix /en/.....) not being styled properly. They should be highlighted in a different colour if the url equals the current path.

Links effected:

- Contributing
-  Language Support
-  Privacy policy
-  Terms of Use
-  Cookie Policy

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org

[2021-04-09 09:33] minimalsm commented on #2815
I am working on this issue.

[2021-04-09 11:48] minimalsm commented on #2786
Another issue I've just realised after reviewing #2805. Punctuation differences between British and American regarding quotation marks.

Example in suggested changes
[code]
The latter (american?) version just looks wrong to me but [this grammarly article](https://www.grammarly.com/blog/quotation-marks/#:~:text=Do%20commas%20and%20periods%20go,go%20inside%2C%20sometimes%20stay%20outside.) suggests

[2021-04-09 14:24] ryancreatescopy commented on #2786
We've never actually stated what version of English the site should use due to the open-source, decentralized nature of contributions. To be completely honest, if it doesn't affect readability I'm slightly unfussed about whether we use American English or British English. And the inconsistencies don't bother me too much – I sometimes think this site should sound like a bunch of different voices.

[2021-04-09 15:57] minimalsm commented on #2786
makes my brain hurt 🧠

[2021-04-09 17:04] wackerow opened #2817 "Package upgrades pending"
The following are showing up as outdated:

- [x] `"netlify-lambda": "^1.6.3"` -> `"netlify-lambda": "^2.0.3"`
- [x] `"polished": "^3.6.5"` -> `"polished": "^4.1.1"`
- [x] `"react": "17.0.0"` -> `"react": "17.0.2"`
- [x] `"react-dom": "17.0.0"` -> `"react-dom": "17.0.2"`
- [x] `"react-select": "^3.1.0"` -> `"react-select": "^4.3.0"`
- [x] `"babel-preset-gatsby": "^0.8.0"` -> `"babel-preset-gatsby":

[2021-04-09 17:07] #2779 closed

[2021-04-09 17:46] wackerow commented on #2786
Hah that's great... I didn't realize this punctuation difference out there. I've always been taught to place the punctuation within the quotes, never knew there was regionality to it.

I do like this comment, "like a bunch of different voices"... since that's really what it is and should be. Open to hear thoughts on blending a consistent professional interface with open source, contributor based c

[2021-04-09 20:04] minimalsm commented on #2813
Personally I don't think GitHub stars is a particularly good metric in such a young eco-system. It might even promotes the status-quo? Being early to the game doesn't mean you've got the best tools. Samajammin touched on this [on discord](https://discord.com/channels/714888181740339261/720699996227502180/826600459065229352) last week.

 Just something to think about 😀.

[2021-04-09 20:08] minimalsm commented on #2813
If sorted the alignment you get of placeholder images is a bit.. ugly. Don't see any way around that as I double checked and none of them have logos.

<img width="1527" alt="Screenshot 2021-04-09 at 21 05 03" src="https://user-images.githubusercontent.com/62268199/114234915-528c0c80-9977-11eb-9c42-138014268988.png">

[2021-04-09 21:04] #2815 closed

[2021-04-10 14:02] xBalbinus opened #2823 "Scaling Ethereum Hackathon"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**

Scaling Ethereum Hackathon - ETHGlobal

**Product description:**

Building with an entire ecosystem at your back. Giving people support of a huge community of experts, mentors, sponsors, developer advocates, and other community memb

[2021-04-11 02:28] l2ichshop2 opened #2824 "การเชื่อมต่อ Dapp"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-04-11 16:52] Robiquet commented on #2770
If someone on the team thinks this is worth doing could you assign it to me and I'll get started on it

[2021-04-11 17:04] ryancreatescopy commented on #2770
Thanks @Robiquet — assigned.

[2021-04-12 12:24] Uttam-Singhh commented on #2726
@ryancreatescopy Please have a look!

[2021-04-12 13:10] ryancreatescopy commented on #2726
hi @Uttam-Singhh thanks for raising the issue. Although a nice read, we don't currently host user articles on ethereum.org. Our content doesn't tend to be in article-format, it's designed to support user needs. If you think there's a need we're not yet satisfying and think your content can help solve that, please do let us know. And If you'd like to add anything to our existing content, we'd welco

[2021-04-12 13:10] #2726 closed

[2021-04-12 16:22] yadviraj opened #2833 "eth"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-04-12 19:38] GeorgeTrotter commented on #2711
Hey @LefterisJP! Thanks for this inquiry. Rotki looks really interesting. Can you help me understand it a bit better? Which parts of the service occur on chain?

[2021-04-12 19:43] GeorgeTrotter commented on #2754
Hey @eakdogan! Thanks for opening this. I had a look at your github repo, is there anywhere else I can find information about ethereumbillboard?

Thanks!

[2021-04-12 19:50] GeorgeTrotter commented on #2077
I've been skeptical of recording scams in the past just because it takes work to stay on top of all the time, and because scams tend to spin up & spin down constantly when they grow stale. It's kind of like playing whack-a-mole, once you're aware of the scam the scammers are often already moving on. Plus having a list of scams could give users the impression that if a message isn't on the list, it

[2021-04-12 21:21] minimalsm commented on #2705
This issue was resolved by #2735

[2021-04-12 21:33] eakdogan commented on #2754
Hi Georg,

Thank you for looking into it! Here’s an article about it: https://link.medium.com/Q2ufCICcpfb

[2021-04-13 04:47] wackerow commented on #2077
Absolutely... it's about seeing different flavors of scams at least once or twice, then being able to spot them quickly in the wild and stay safe.

[2021-04-13 06:17] wackerow commented on #2824
@l2ichshop2 Please fill out the requested information with aid of an English translator service if you'd like us to consider a listing, or reach out to us off GH.

[2021-04-13 06:17] #2824 closed

[2021-04-13 06:17] #2833 closed

[2021-04-13 11:34] ryancreatescopy opened #2839 "NFT content improvement"
From Twitter:
![image](https://user-images.githubusercontent.com/40891631/114545968-848dbf00-9c54-11eb-9919-067ae0b25da5.png)

[2021-04-13 14:49] ligi opened #2841 "Hardcoded streams in the top right menu"

[2021-04-13 14:50] #2841 closed

[2021-04-13 14:51] ligi commented on #2841
wrong repo ..

[2021-04-13 18:22] Finn-Developments opened #2843 "Mining Recourses/Mining Pool"
**Is your feature request related to a problem? Please describe.**

This is not as much of a problem as it is just a suggestion but when you want to get into crypto currency you probably start by just looking up ethereum or bitcoin and generally ethereum.org or bitcoin.com come up and then if you want to get into mining on bitcoin.com it does have a mining pool where as this is not the case on eth

[2021-04-13 19:21] samajammin commented on #2843
Hey there! Thanks for raising this issue :)

A solution here might be to add a section to our page on mining:
https://ethereum.org/en/developers/docs/consensus-mechanisms/pow/mining/
We could link to resources that explain how to mine and/or how to join a mining pool.

In general, with the upcoming transition to proof-of-stake I don't think it makes much sense to invest too much of our resources i

[2021-04-13 21:38] Finn-Developments commented on #2843
I have added some stuff to the website but I need to go back and add more information about software.

[2021-04-14 04:01] samajammin opened #2845 "Site Translation: Update Italian to v2.0"
**Is your feature request related to a problem? Please describe.**

https://discord.com/channels/714888181740339261/714888901168332820/831182587023458304

[2021-04-14 04:02] samajammin opened #2846 "Site Translation: Update Croatian to v2.0"
**Is your feature request related to a problem? Please describe.**

https://discord.com/channels/714888181740339261/714888901168332820/831182587023458304

[2021-04-14 04:29] samajammin commented on #2804
This has been fixed 🎉

[2021-04-14 04:29] #2804 closed

[2021-04-14 04:30] samajammin commented on #2804
@all-contributors please add @JayWelsh for bug reports.

[2021-04-14 07:18] Uttam-Singhh commented on #2726
Okay, sure! @ryancreatescopy I will create a new issue.

[2021-04-14 08:55] LefterisJP commented on #2711
Hello @GeorgeTrotter .
It's a portfolio tracker. So it's a monitoring tool that monitors the chain for your accounts. It does not handle any user keys.

[2021-04-14 16:43] samajammin opened #2849 "2021, Q2 ethereum.org product roadmap"
To make our work more accessible and to foster more community collaboration, our team publishes an overview of our quarterly roadmap goals. See our last roadmap here: #2284.

Q2 will have a strong focus on emerging Ethereum technologies. Our community is making incredible progress across the board - Eth1.x network upgrades, Eth2 developments, Layer 2 projects, user applications, developer tooling

[2021-04-14 16:58] samajammin commented on #2284
Q1 is over! How time flies. Closing this out with a quick update. Follow along with our latest roadmap here: #2849

### New homepage

Launched! Let us know what you think:
https://ethereum.org/en/

### Translate the launchpad

We rolled out content and UX updates as well as 15 translations (more coming soon):
https://launchpad.ethereum.org/en/

Have ideas for improvements? We welcome collaborators

[2021-04-14 16:58] #2284 closed

[2021-04-14 18:13] samajammin opened #2851 "All Ethereum Studio links are dead"
**Describe the bug**

The instructions on https://ethereum.org/en/studio/ are outdated. The app is completely down, so projects no longer load.

**Expected behavior**

Let's update the content on https://ethereum.org/en/studio/ given it still receives >1K visits/month.

[2021-04-15 02:54] ozora-ogino opened #2857 "Fix some ja translations"
Some contents within `/src/intl/ja`  are mistranslated and some of them don't make sense.

[2021-04-15 07:27] brohagan opened #2859 "Adding the dapp Sorare to Ethereum.org"
**Is your feature request related to a problem? Please describe.**

We would like to start the process of adding https://sorare.com on ethereum.org/dapps

Sorare is one of the NFT Dapp with the most transaction over the past year (as per Etherscan) and the Ethereum NFT dapp with the most users and volume in the past month. We've been working on Ethereum since day 1 and we intend to keep it that wa

[2021-04-15 19:29] #2851 closed

[2021-04-15 19:31] #2845 closed

[2021-04-15 19:31] #2846 closed

[2021-04-15 20:29] JODIN1727 opened #2864 "Please advise on how to proceed my Wallet"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- Version [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2021-04-16 02:37] ozora-ogino opened #2865 "Contents update"
In [/src/content/developers/docs/consensus-mechanisum/pos/index.md](https://github.com/ozora-ogino/ethereum-org-website/blob/dev/src/content/developers/docs/consensus-mechanisms/pos/index.md) line 26, add a page reference to "Shard" page.

[2021-04-16 03:40] somchai992 opened #2867 "K"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- Version [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2021-04-16 04:12] somchai992 opened #2868 "0xdda869b5d56e101cdffb3e18b3f8bbeed1921a08"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-04-16 04:18] somchai992 opened #2869 "README"

[2021-04-16 04:18] #2869 closed

[2021-04-16 04:18] somchai992 commented on #2869
README

[2021-04-16 04:18] somchai992 commented on #2869
K

[2021-04-16 04:19] #2868 closed

[2021-04-16 04:20] somchai992 opened #2870 "README"
README

[2021-04-16 04:21] somchai992 commented on #2870
https://github.com/ethereum/ethereum-org-website

[2021-04-16 07:11] chewy917 commented on #2868
@underdeveloped

[2021-04-16 11:47] minimalsm commented on #1779
I think this issue was closed by #2745

<img width="702" alt="Screenshot 2021-04-16 at 12 46 18" src="https://user-images.githubusercontent.com/62268199/115019942-c36c8080-9eb1-11eb-99d9-c711f0d86e9b.png">

[2021-04-16 11:49] minimalsm commented on #1564
Has this issue been closed by @cj-technical's PR? (#2439)

[2021-04-16 16:12] samajammin commented on #2867
?

[2021-04-16 16:12] #2867 closed

[2021-04-16 16:12] samajammin commented on #2870
?

[2021-04-16 16:12] #2870 closed

[2021-04-16 16:15] samajammin commented on #2865
Solved in #2866

[2021-04-16 16:15] #2865 closed

[2021-04-16 16:17] samajammin commented on #2859
Hey @brohagan - thanks for the suggestion!

We have a listing policy for adding dapps:
https://ethereum.org/en/contributing/adding-products/

Could you please provide the info from the [dapp issue template](https://github.com/ethereum/ethereum-org-website/issues/new?assignees=&labels=Type%3A+Feature%2C+Type%3A+Content&template=suggest_dapp.md&title=)?

I've pasted it below:

Before suggesting a da

[2021-04-16 16:18] samajammin commented on #2864
?

[2021-04-16 16:18] #2864 closed

[2021-04-16 16:18] samajammin commented on #2864
@JODIN1727 please feel free to clarify what you're looking to do.

[2021-04-16 16:21] JODIN1727 commented on #2864
My Thailand based company need funds to fix for Renovations and Tax that shall lead to grow up my account here in the Philippines.. Please advise

[2021-04-16 21:27] minimalsm opened #2872 "Make it obvious that Serenity is Eth2"
Currently it isn't obvious that Eth2 and Serenity are the same thing.

Suggesting:
- [x] Update the glossary to reference this more explicity
- [ ]  Add reference on /eth2/ page

### Glossary

#### Current

<img width="870" alt="Screenshot 2021-04-16 at 22 10 22" src="https://user-images.githubusercontent.com/62268199/115084285-909da900-9f00-11eb-80af-4aaf523da6c0.png">

#### Proposed Change

<img

[2021-04-17 14:24] baristabas opened #2875 "New"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

**Is your wallet custodial, non-custodial, or a hardware

[2021-04-18 05:50] jley81 opened #2876 "Don't know how to set up wikipedia"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**

- OS: [e.g. iOS]
- Browser [e.g. chrome, safari]
- Version [e.g. 22]

**Smartphone (please complete the following information):**

- Device: [e.g. iPhone6]

[2021-04-18 08:55] jley81 commented on #2473
I don't know what to do

[2021-04-18 09:55] Thomas180376 opened #2878 "Monolith"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

**Is your wallet custodial, non-custodial, or a hardware

[2021-04-18 09:57] #2878 closed

[2021-04-18 17:00] nurdtechie98 opened #2880 "web3.eth API methods used in the tutorial deprecated"
**Describe the bug**
Hey Guys,
I just started exploring the Ethereum stack. I was following the getting started parts of it wherein I came across this particular [tutorial]( https://ethereum.org/en/developers/tutorials/a-developers-guide-to-ethereum-part-one) (It's an amazing intro I must say)

I just found while trying the web3.eth API calls that in the recent version of the web3.py the [camel ca

[2021-04-18 19:14] #2880 closed

[2021-04-18 19:21] wackerow commented on #2823
@xBalbinus https://ethereum.org/en/community/#upcoming-events I see a link to scaling.ethglobal.co. already listed on the [Community events page](https://ethereum.org/en/community/#upcoming-events) for this event. Was there anything else you were thinking for this?

[2021-04-19 06:00] #2876 closed

[2021-04-19 06:02] ryancreatescopy commented on #2629
We should also consider adding more support for stakers, now that the system and community is larger. There are lots of answers on launchpad so maybe it's a case of developing the content there and making sure we have proper links to it from ethereum.org.

[2021-04-19 08:25] Jongkeun-Choi opened #2886 "Suggest a Samsung Blockchain Wallet."
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

-> Firstly, No KYC requirement. And there are geographic/

[2021-04-19 09:01] yyd106 opened #2887 "Add Crust Network to decentralized storage docs page"
**Product name:**
[Crust Network](https://crust.network)

**Product description:**
Crust Network (https://crust.network/) is a decentralized storage network based on IPFS and Substrate, and it basically provides decentralized IPFS service.

Recently, [**Uniswap**](https://app.uniswap.org), has enabled decentralized deployment of websites by integrating [Crust Network](https://crust.network) into [

[2021-04-19 13:08] xBalbinus commented on #2823
Hi, if the event is already on, then that's my bad. I was just thinking of
advertising the event because I work on the team - I did not know that the
event was already on there.

On Sun, Apr 18, 2021 at 3:21 PM Paul Wackerow ***@***.***>
wrote:

[2021-04-19 13:14] harveyjavier opened #2888 "Suggest a wallet: SparkPoint Wallet."
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

-> No KYC requirement. No geographic limitations. Availab

[2021-04-19 22:35] shipsywor opened #2891 "How to configure algolia search for this project?"
**Is your feature request related to a problem? Please describe.**

I am failing to make algolia search work locally.

**Describe the solution you'd like**

Usage instructions on how to configure algolia search

**Describe alternatives you've considered**

I created `.env` and filled the values.

I noticed that `ALGOLIA_ADMIN_KEY` is never used in the entire project except `.env`

This leads me to

[2021-04-20 06:45] ZackDeRose opened #2892 "Grammar issue: page-dapps-features-6-description"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '/en/dapps'
2. Scroll down to "Magic behind dapps" grid
3. Click on "Backed by cryptography"
4. Text in second sentence seems off gramatically

**Expected behavior**

Current: "Your authorise dapp actions with your Ethereum account, usually via your wallet, so keep your credentials safe."

Proposed: "You authorize da

[2021-04-20 06:47] ZackDeRose commented on #2892
👋 Hi all - happy to submit the PR to fix.

[2021-04-20 07:21] krlosMata opened #2893 "Add Hermez Network to developers/docs/layer-2-scaling/zk-rollups docs page"
Before submitting this suggestion, be sure to read our [listing policy for dev tools](https://ethereum.org/en/contributing/adding-developer-tools/)

**Product name:**
[Hermez network](https://hermez.io/)

**Product description:**
Hermez is an open-source ZK-Rollup optimised for secure, low-cost and usable token transfers on the wings of Ethereum

**How long has it been around?**
Mainnet release wa

[2021-04-20 07:23] krlosMata commented on #2893
I'm willing to add content regarding this issue

[2021-04-20 09:41] msak222 opened #2894 "The latest full node get GasPrice question"
The gasPrice of the main network is more than 300 Gwei,
but web3j.getGasPrice is obtained from our latest version of the full node and occasionally returns 6 or 2.
What is the problem?

[2021-04-20 09:46] jley81 commented on #2894
Duck of I know

[2021-04-20 10:49] JustinDrake opened #2895 "Eth2 bug bounty wrong text"
This should say "High impact, high likelihood" :)

https://ethereum.org/en/eth2/get-involved/bug-bounty/
<img width="368" alt="Screenshot 2021-04-20 at 11 48 11" src="https://user-images.githubusercontent.com/731743/115383958-5832ef00-a1ce-11eb-8836-cfbe05d15f4e.png">

[2021-04-21 11:09] chemeconomy opened #2901 "New cryptocurrency"
Dear All
Thank you for your support

I am very interested to create new cryptocurrency using ethereum blockchain
Our project is very promising to establish

please let me know how to start ?

thank you

[2021-04-21 17:29] DevAranCarter commented on #2699
Hey guys I took a crack at wring the description! It can be found here: [https://github.com/ethereum/ethereum-org-website/pull/2903](url)

[2021-04-21 20:32] johnmlussier commented on #2901
You can learn how to start developing using Ethereum here: https://ethereum.org/en/developers/

[2021-04-21 20:43] chemeconomy commented on #2901
Dear Ethereum/Ethereum-Org-Website

I am interested to create new cryptocurrency with promising project so how
can I start ?

Thanks
Eng. Ammar
On Wed, 21 Apr 2021 at 11:32 PM John Lussier ***@***.***>
wrote:

[2021-04-22 04:05] #2770 closed

[2021-04-22 04:21] wackerow commented on #1779
Indeed it was... thanks for the help brainstorming everyone!

[2021-04-22 04:21] #1779 closed

[2021-04-22 04:24] wackerow commented on #2823
@xBalbinus No worries! Good luck with it!

[2021-04-22 04:24] #2823 closed

[2021-04-22 16:22] #2797 closed

[2021-04-22 20:41] #2875 closed

[2021-04-22 20:42] wackerow commented on #2886
@Jongkeun-Choi Thanks for submitting! We'll check it out and get back to you

[2021-04-22 20:46] wackerow commented on #2872
@minimalsm I don't think it's worth spreading that term into the Eth2 pages, as it was initially more of a dev code name... even "Eth2" is something that is eventually likely to fade away in favor of just "Ethereum" again.
I'm cool with the above change though to help clarify 👍 thanks!

[2021-04-22 20:49] wackerow commented on #2872
@samajammin @ryancreatescopy Please feel free to open this back up and disagree if you would like to expand the Serenity term, otherwise I'm going to mark as closed by #2873

[2021-04-22 20:49] wackerow commented on #2888
@harveyjavier Thanks for submitting! We'll take a look at it and try to get back to you within the next couple weeks

[2021-04-22 21:16] wackerow commented on #2892
@ZackDeRose Agree with proposed changes 👍🏻  Thanks for dropping the issue, I've assigned you =)

[2021-04-22 21:17] wackerow commented on #2893
@krlosMata Thanks for submitting this =) We'll take a look at it and try to get back to you within a week or two.

[2021-04-22 21:20] wackerow commented on #2894
@msak222 Not sure =) This repo focuses on the development of the ethereum.org website though, not the web3js library... Maybe check out https://github.com/ChainSafe/web3.js/issues Good luck, stay safe!

[2021-04-22 21:20] #2894 closed

[2021-04-22 21:27] wackerow commented on #2901
@chemeconomy Echoing the above referral =) Feel free to join us on Discord too to further the discussion.

[2021-04-22 21:27] #2901 closed

[2021-04-22 21:54] chemeconomy commented on #2901
Dear All
Thank you for your email

Is there any way to start discussion to issue new cryptocurrency?
Thanks
Eng. Ammar

On Fri, 23 Apr 2021 at 12:27 AM Paul Wackerow ***@***.***>
wrote:

[2021-04-22 22:13] tuanggo opened #2909 "tuanggo"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

**Is your wallet custodial, non-custodial, or a hardware

[2021-04-22 23:54] samajammin commented on #2872
Thanks for raising @minimalsm! I agree, I think this is worth mentioning, at the very least on the glossary. There's a fair amount of "serenity" related search volume so it would be helpful for the folks looking for that to understand they're the same thing.

[2021-04-23 00:47] wackerow commented on #2872
Cool, @ryancreatescopy any thoughts on how to slip this in?

Perhaps in the "What is Eth2?" block?
![image](https://user-images.githubusercontent.com/54227730/115801804-806b4b00-a392-11eb-8abf-58aa5603a765.png)

[2021-04-23 01:16] wackerow opened #2911 "Romanian beacon-chain page clipping content"
**Describe the bug**
Content clipping at medium window sizes on Romanian beacon-chain page

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/ro/eth2/beacon-chain/ on desktop
2. Reduce window width between 1024px and 1140px (default zoom level)
3. Notice content clipping

**Expected behavior**
To display without clipping like the English version

**Screenshots**
http

[2021-04-23 02:07] samajammin opened #2914 "Automatically filter out past community events"
**Is your feature request related to a problem? Please describe.**

Currently removing [events from the community page](https://ethereum.org/en/community/#upcoming-events) is a manual process e.g. https://github.com/ethereum/ethereum-org-website/pull/2885

**Describe the solution you'd like**

We should use a data file (e.g a [JSON file like this](https://github.com/wackerow/ethereum-org-website/b

[2021-04-23 02:11] harveyjavier commented on #2888
Thanks! :)

[2021-04-23 10:31] jley81 commented on #2473
Great. Then I approve Trade Trust.

[2021-04-23 12:00] ryancreatescopy commented on #2872
I’m with Paul on this one. I think we already mention it on the vision page that it’s been in the works for many years. Not sure we need to talk about it on the main Eth2 page.

Sent from my iPhone

[2021-04-23 13:43] JustinDrake commented on #2895
The "High" severity is now incorrectly changed to "High impact, high likelihood". Does this make sense @wackerow?

<img width="712" alt="Screenshot 2021-04-23 at 14 42 19" src="https://user-images.githubusercontent.com/731743/115879948-1ca05b00-a442-11eb-8c53-b1366d46918b.png">

[2021-04-23 15:04] Robiquet commented on #2914
Looks interesting, I'd like to help out

[2021-04-23 17:31] wackerow commented on #2914
@Robiquet Can assign to you =) As Sam noted, I have done some work on this in the past as a whole community page revamp that overall has been scraped, but it does contain code that can be used for this.
https://github.com/wackerow/ethereum-org-website/blob/9e8c6214cb2acf001e43005ba5d89ebb8124f956/src/pages-conditional/community.js
This was a new version of the page using JavaScript (instead of mar

[2021-04-23 17:40] wackerow commented on #2891
@shipsywor It should be the `GATSBY_ALGOLIA_SEARCH_KEY` .env variable that is used, but on that note...
@samajammin Can we safely share the public search API key (as Algolia suggests)? Or is this something we're keeping internal?

[2021-04-23 17:42] samajammin opened #2918 "Add information on upcoming network upgrades"
**Is your feature request related to a problem? Please describe.**

We have an existing page (https://ethereum.org/en/history/) that covers info past network upgrades.

Community members have pointed out confusion on where to find hard fork information.

**Describe the solution you'd like**

- Refactor "Ethereum History" page --> "Ethereum Network Upgrades" page
- Add information on upcoming netwo

[2021-04-23 17:47] samajammin opened #2919 "Create new "Ethereum History" page"
**Is your feature request related to a problem? Please describe.**

As part of #2918 we'll refactor the existing ["Ethereum History" page](https://ethereum.org/en/history/) in an "Ethereum Network Upgrades" page.

Separately, it would be valuable to create a less technical, less protocol-based "History of Ethereum" page.

**Describe the solution you'd like**

Create a "History of Ethereum" page th

[2021-04-23 18:02] wackerow commented on #2895
@JustinDrake Yeah, hadn't realized the string was shared 😕 will get a patch up

[2021-04-23 18:07] shipsywor commented on #2891
In the .env variable, I have inserted the appropriate values of algolia.

[code]

Even after adding the .env variables, running `build` script and `start` script. The algolia search is not working.

**Additional Context**

In few other opensource gatsby projects, I got algolia working by adding the algolia admin key, search. app id values. But they were using `gatsby-plugin-algolia` which this eth

[2021-04-24 11:26] minimalsm commented on #2891
Related: work on #2764 is blocked by not having the ```GATSBY_ALGOLIA_SEARCH_KEY``` also.

[2021-04-24 16:18] ugobestgsm commented on #2789
THEY ARE SOME WALLET THAT LIST WAY TO GO FROM BTC TO ETH

[2021-04-25 04:32] shipsywor commented on #2891
For me, its searching nothing. On typing on search box, no search or search suggestions are performed.

[2021-04-25 09:36] minimalsm commented on #2891
Yup same for me, this is what I meant.

[2021-04-25 20:19] keleffew opened #2929 "Add Link to Storj DCS Documentation"
**Is your feature request related to a problem? Please describe.**

Storj documentation is not currently linked to in storage section

**Describe the solution you'd like**

Add Storj DCS documentation link alongside Filecoin, Arweave, Sia etc.

**Describe alternatives you've considered**

n/a

**Additional context**

n/a

**Want to contribute?**

We love contributions from the Ethereum community!

[2021-04-26 20:03] #2895 closed

[2021-04-27 02:58] #2892 closed

[2021-04-27 04:00] samajammin opened #2940 "Eth2 upgrades banner layout"
**Describe the bug**

Should be center aligned, icon should not be stacked:
![Image 2021-04-26 at 8 36 08 PM](https://user-images.githubusercontent.com/8097623/116183178-4b346500-a6d2-11eb-9a8b-81ba5edf45be.jpg)

Like Eth2 homepage:
![Image 2021-04-26 at 9 00 04 PM](https://user-images.githubusercontent.com/8097623/116183259-6dc67e00-a6d2-11eb-8def-59718bea9bc0.jpg)

**To Reproduce**
Steps to repr

[2021-04-27 05:38] wackerow commented on #2940
@samajammin I'm not able to reproduce...

firefox:
![image](https://user-images.githubusercontent.com/54227730/116190582-c3edee00-a6df-11eb-81f4-d8e7ffad6ccd.png)
brave:
![image](https://user-images.githubusercontent.com/54227730/116190524-aae53d00-a6df-11eb-9557-36fefa0a0d8b.png)

Cache related?

[2021-04-27 05:40] ZackDeRose commented on #2687
Is this still an issue? Looks like there is now a link to the `CLIENTS` section referrenced in the *Expected Behavior* section.

![Screen Shot 2021-04-26 at 10 37 59 PM](https://user-images.githubusercontent.com/3788405/116190912-49719e00-a6e0-11eb-9587-349e99b3e09b.png)

[2021-04-27 17:13] tvanepps opened #2943 "Eth2 Bug bounty does not list Nimbus"
https://ethereum.org/en/eth2/get-involved/bug-bounty/ Nimbus is missing in the second section

[2021-04-28 02:58] awg0013-PR opened #2947 "Add an Article - "Understanding Ethereum""
**Is your feature request related to a problem? Please describe.**

No, my feature request is not related to a problem. I would like to submit an article to be included on the _[Community guides and resources page](https://ethereum.org/en/learn/)_ within the "Learn" section of the ethereum.org website.

**Describe the solution you'd like**

I would like for my article to be included on the ethereu

[2021-04-29 04:49] yyd106 commented on #2887
@GeorgeTrotter Thanks for the self-assignment, please let me know if you need any further information

[2021-04-29 05:50] mikazuki6 opened #2949 "イーサリアム"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-04-29 22:02] #2914 closed

[2021-04-29 22:51] #2918 closed

[2021-04-30 02:54] svaddadhi commented on #2839
Hello, I would love to tackle this issue. Let me know if this is possible!

[2021-05-02 17:41] sprad opened #2959 "Remove Duplicated Index Coop Description Text"
There is duplicated text in the description of the Index Coop on the dapps page:  https://ethereum.org/en/dapps/?category=finance

[2021-05-02 20:19] 1inchcrew opened #2962 "1inch Wallet for IOS listing request"
1inch Foundation would like to apply to list the 1inch Mobile Wallet on https://ethereum.org/en/wallets/

The 1inch Labs has released the 1inch Wallet for iOS, which includes the web version’s features and innovative mobile wallet functionality.

Five major key features that make up the 1inch Wallet:

The best Defi aggregator: Just like the 1inch desktop dApp, the 1inch Wallet offers you access to

[2021-05-03 06:34] 805477481 opened #2963 "Private key address problem"
I have a 51 bit Ethereum private key address before the ETH fork a few years ago. Now the wallets on the market only support 64 bit private key addresses. Now I can only check the quantity in the wallet, but I can't trade. How can I transfer money? Thank you

[2021-05-03 13:10] ryancreatescopy commented on #2963
Hi @805477481 this is the repo for the ethereum.org website. Unfortunately we can't help you. Maybe try one of the ethereum sub reddits?

[2021-05-03 13:10] #2963 closed

[2021-05-03 13:11] ryancreatescopy commented on #2962
Hi @1inchcrew we have a format for suggesting a wallet: [here](https://github.com/ethereum/ethereum-org-website/issues/new?assignees=&labels=Type%3A+Feature%2C+Type%3A+Content&template=suggest_wallet.md&title=)  Please provide all required information in this format, thanks!

[2021-05-03 13:12] #2949 closed

[2021-05-03 13:13] ryancreatescopy commented on #2929
Hi @keleffew we have a template for suggesting a developer tool: [here](https://github.com/ethereum/ethereum-org-website/issues/new?assignees=&labels=Type%3A+Feature%2C+Type%3A+Content&template=suggest_dev_tool.md&title=)

Please provide all the required information in this format please.

[2021-05-03 13:14] ryancreatescopy commented on #2891
nudge @samajammin

[2021-05-03 13:15] ryancreatescopy commented on #2887
@GeorgeTrotter have you looked into this?

[2021-05-03 13:18] ryancreatescopy commented on #2872
Closing this out for now. The glossary has been updated to reflect this. Not convinced it's needed on the Eth2 page. Feel free to reopen if anyone feels strongly about this.

[2021-05-03 13:18] #2872 closed

[2021-05-03 13:21] ryancreatescopy commented on #2813
We intentionally randomise these lists for the reasons stated above. Often github stars probably means it's been around the longest not that it's necessarily the best. We also want to make sure we support decentralization of tools/frameworks wherever possible. We welcome ideas for any other way we can help users make their decisions about these tools – are there other data points you'd find useful

[2021-05-03 13:21] #2813 closed

[2021-05-03 13:22] ryancreatescopy commented on #2839
@svaddadhi go for it. feel free to raise a PR

[2021-05-03 13:24] ryancreatescopy commented on #2817
@wackerow can this be closed out?

[2021-05-03 13:27] ryancreatescopy commented on #2754
@GeorgeTrotter what's the status on this?

[2021-05-03 13:29] ryancreatescopy commented on #2737
Our team won't have the bandwidth to build this feature right now. If anyone is interested in picking this up, feel free to raise a PR

[2021-05-03 13:30] ryancreatescopy commented on #2786
Doing a little pruning and closing this one out. Feel free to reopen if there's more to discuss.

[2021-05-03 13:30] #2786 closed

[2021-05-03 13:31] ryancreatescopy commented on #2705
Closing for reason above.

[2021-05-03 13:32] ryancreatescopy commented on #2644
This link doesn't work. We can't assess this and I'm a little skeptical considering the name 🤔 . Closing out for now, but re-open if there's a link that works.

[2021-05-03 13:32] #2644 closed

[2021-05-03 13:34] ryancreatescopy commented on #2473
Closing this out while pruning the backlog. @cavacado feel free to reopen if your stakeholders get on board with a more concise description.

[2021-05-03 13:34] #2473 closed

[2021-05-03 13:35] ryancreatescopy commented on #2711
@GeorgeTrotter what's the status on this?

[2021-05-03 15:19] wackerow commented on #2817
Yeah, Husky is low priority, can close for now

[2021-05-03 15:19] #2817 closed

[2021-05-03 21:55] samajammin commented on #2940
It happens to me when I navigate from one page to another - @wackerow can you see if that reproduces it for you?

https://user-images.githubusercontent.com/8097623/116938389-8f1df180-ac1f-11eb-93a9-f008f3c7d50a.mp4

If I refresh a page, it looks fine.

[2021-05-03 22:10] wackerow commented on #2940
Yeah actually, getting this specifically if I navigate to `/en/eth2/` then click to navigate to the Beacon Chain page

[2021-05-04 05:34] samajammin opened #2968 "Add a developer documentation page on how to support wallet integrations"
**Is your feature request related to a problem? Please describe.**

We're lacking technical content on wallets & how dapps can support integrations with them. This is a very common process that essentially every dapp must do.

**Describe the solution you'd like**

Explain the various options & projects that exist to make this easier, from merely checking for `window.ethereum` to create a provider

[2021-05-04 14:39] ryancreatescopy opened #2971 "Wallets page bug"
![image](https://user-images.githubusercontent.com/40891631/117021114-f656a700-acee-11eb-9cca-7e749cfee615.png)

[2021-05-04 20:07] wackerow opened #2974 "Missing margins on feedback widget"
**Describe the bug**
No space between _contributor callout_ and _feedback widget_ on desktop size screen in the developer docs.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/docs/gas/ on desktop
1. Scroll to bottom
1. Note lack of margins

**Expected behavior**
Margin giving space between contributor callout and the feedback widget

**Screenshots**

[2021-05-04 20:48] GeorgeTrotter commented on #2886
Hey @Jongkeun-Choi - in terms of security measures for this wallet, has the code been audited? Is your code open source? Is there a bug bounty or some equivalent? Let us know!

[2021-05-04 21:12] GeorgeTrotter commented on #2888
Hey @harveyjavier! In terms of security measures for this wallet, has the code been audited? Is your code open source? Is there a bug bounty or some equivalent? Let us know!

[2021-05-04 22:51] tuanggolt opened #2975 "ngo461596@gmail.com"
tuanggo

[2021-05-04 22:58] Hakeemmidan commented on #2737
No worries

@ryancreatescopy, can you please assign me to this issue

I'll try to start to work on it this weekend (starting Friday 05/07/2021)

Feel free to close it before then, if you feel like it doesn't fit with the organization's mission/vision

[2021-05-05 03:49] #2940 closed

[2021-05-05 04:07] harveyjavier commented on #2888
Hi @GeorgeTrotter our code did not undergo auditing yet. And for now, our repository is in private but we will eventually turn it to open source (but not now). No bug bounty or some equivalent as well

[2021-05-05 04:13] harveyjavier commented on #2888
Do you have any standard or preferred auditing tools we can use for our wallet code?

[2021-05-05 07:21] #2975 closed

[2021-05-05 15:11] azhannibal opened #2978 "Jaxx"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-05-05 15:37] DevAranCarter commented on #2974
Hi wackerow,

Where would I go about finding this? I looked on the dit page for gas docs but it doesn't display. Tried looking for it through the other code but couldn't seem to find it?

Thanks,
D

[2021-05-05 18:15] #2458 closed

[2021-05-05 20:55] GeorgeTrotter commented on #2711
@wackerow good to go on this!

[2021-05-05 20:57] GeorgeTrotter commented on #2754
Hi @eakdogan, we're closing this issue without adding to the site. While ethereumbillboard looks like a cool project, it doesn't look in line with our [design principles](https://ethereum.org/en/contributing/design-principles/#contributing-to-ethereumorg-), in that it doesn't look to be very active currently. Please feel free to reopen this issue in the future if that changes!

[2021-05-05 20:57] #2754 closed

[2021-05-05 20:59] GeorgeTrotter commented on #2887
Hey @yyd106, we are closing this issue without adding to the site. As far as I can tell, Crust Network has launched only recently, and I believe according to [the site ](https://crust.network/), isn't live on mainnet. Please feel free to reopen this issue down the road after Crust has been live on mainnet for ~six months!

[2021-05-05 20:59] #2887 closed

[2021-05-06 01:32] yyd106 commented on #2887
@GeorgeTrotter Thanks for the info, we will reopen this after six months of the mainnet launch.

[2021-05-06 02:59] Jongkeun-Choi commented on #2886
Hi, George

It's not open source. Plus, there isn't any bug bounty.
Firstly, Samsung Galaxy Mobile has a 'Samsung Knox'(security mobile platform), which store and mange some datas
on Secure OS isolated with Android OS.

Also, There is a Samsung Blockchain Keystore(type of preloaded app on Samsung Galaxy Mobile)that has to use and work with this security mobile platform. By using this platform, Key

[2021-05-06 03:56] #2974 closed

[2021-05-06 04:52] drcreamy opened #2984 "CoinSpot Exchange Added to Page: https://ethereum.org/en/get-eth/"
Before suggesting an exchange, make sure you've read [our exchange listing policy](https://ethereum.org/en/contributing/adding-exchanges/). If it's a decentralized exchange (DEX) you'd like to list, please take a look at our [policy for listing dapps](https://ethereum.org/en/contributing/adding-products/).

Please fill out this short form if you'd like an exchange added to ethereum.org:

**What ge

[2021-05-06 09:33] hueyhe commented on #2809
Hi, I'm new to the project and interested in contributing. I think we can solve this problem by adding a placeholder avatar with a fixed height. Can I work on this issue?

[2021-05-06 09:46] ryancreatescopy commented on #2809
Go for it! Assigned to you @hueyhe

[2021-05-06 12:58] PeterRusznak opened #2985 "Article to tutorial about minting/selling on OpenSea"
Tutorial about minting your own ERC-721 Token and selling it on OpenSea

[2021-05-06 12:59] PeterRusznak commented on #2985
https://fullstackwithpr.hashnode.dev/scribble-on-canvas-and-sell-it-as-nft-react-truffle-ipfs-opensea

[2021-05-06 14:28] GeorgeTrotter commented on #2893
@wackerow @krlosMata this is ready for a PR!

[2021-05-07 00:02] Romteddy opened #2988 "Capps"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-05-07 06:51] hueyhe commented on #2809
@ryancreatescopy I've submitted a PR. Please comment if there's any problem.

[2021-05-07 08:41] aternis commented on #2971
Can you re-create this?
Send the link of the page.

Most likely it's cookies or local cache.

[2021-05-07 15:55] ryancreatescopy commented on #2971
@Robiquet fancy giving it a go? Want me to assign you?

[2021-05-07 15:56] #2988 closed

[2021-05-07 15:57] #2978 closed

[2021-05-07 23:08] ritzerblaise opened #2998 "App related to GIFF"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-05-08 10:53] Robiquet commented on #2971
@ryancreatescopy Go on then!

[2021-05-08 17:19] IliadisVictor commented on #2319
I would really like to work on this~

[2021-05-09 14:47] IliadisVictor commented on #2764
Hello there , I would like to be assigned on this issue I think I could work it out.

[2021-05-09 22:26] manojmsrit opened #3005 "Adding Kannada Language Support for Ethereum Website"
Hello,

I can see that ethereum.org is available in multiple language including Indian languages such as Hindi, Malayalam. But I would like to request to add the Kannada language also. I can help in transalating. Kannada is one of the most spoken language in India with speakers volume up to 70-80 million. It is also one of the oldest Indian language. Most of the people in silicon valley of India (

[2021-05-10 00:15] samajammin commented on #3005
Thanks for this suggestion @manojmsrit! I've added Kannada to [our Crowdin project](https://crowdin.com/project/ethereumfoundation):
https://crowdin.com/project/ethereumfoundation/kn

Feel free to hop in & contribute 😄  - here's some information on how to get involved:
https://ethereum.org/en/contributing/translation-program/

Closing this issue out - let us know if you have any questions.

[2021-05-10 00:15] #3005 closed

[2021-05-10 00:15] samajammin commented on #3005
@all-contributors please add @manojmsrit for ideas.

[2021-05-10 07:31] manojmsrit commented on #3005
Thank you :) Much appreciated.

[2021-05-10 19:26] #2893 closed

[2021-05-10 19:50] wackerow commented on #2974
@DevAranCarter So all the "docs" pages use a react template, found in the repo at `/src/templates/docs.js`... in there you will see the `FeedbackCard` that was adjusted in the PR posted above. Obviously this one is fixed up now, but thanks for asking and looking into it! Sorry for the delay on getting back to you, hope this helps in the future.

[2021-05-10 21:26] #2711 closed

[2021-05-10 21:48] wackerow commented on #2319
@IliadisVictor Thanks for volunteering! Just curious, did you have a particular charting library in mind?

@samajammin @ryancreatescopy What do you think of handing this one off given our current load?

[2021-05-10 21:53] samajammin commented on #2319
Sounds good to me! Thanks for volunteering @IliadisVictor. I welcome contributions on this - but can we use one of these libraries for the charting?
- https://github.com/recharts/recharts
- https://github.com/airbnb/visx

[2021-05-10 21:55] samajammin commented on #2319
BTW the folks at Etherscan have built out an endpoint for node time series data!
https://api.etherscan.io/api?module=stats&action=nodecounthistory&startdate=2021-04-01&enddate=2021-04-29&sort=asc&apikey=YourApiKeyToken

[2021-05-10 21:57] samajammin commented on #2319
@ryancreatescopy I think we should provide a bit more design direction here if @IliadisVictor is going to pick this up.

I'd also suggest we start with a v1 of this feature by just picking a time series (e.g. 30 days) vs. also building in a toggle.

[2021-05-10 22:25] wackerow commented on #2682
(Closed in #2729)

[2021-05-10 22:25] #2682 closed

[2021-05-11 00:13] wackerow commented on #2857
Closing this out for now (#2858), @ozora-ogino thanks for the help on this, feel free to re-open if you spot additional issues

[2021-05-11 00:13] #2857 closed

[2021-05-11 00:13] wackerow commented on #2859
@brohagan Hey, just touching base... any updates on this?

[2021-05-11 00:27] wackerow commented on #2929
(closed in #2930)

[2021-05-11 00:27] #2929 closed

[2021-05-11 00:31] wackerow commented on #2943
@tvanepps Thanks for raising this. Assuming you're talking about this section:
![image](https://user-images.githubusercontent.com/54227730/117740539-8005e900-b1b5-11eb-84c6-b707a19333ab.png)
Posting a patch for this now

[2021-05-11 00:45] wackerow commented on #2947
@awg0013-PR Hey, thanks for posting this article. I'm down to post this on the page you suggested, but noticing this medium link has a paywall. If we can get a link without any paywall I can help get this posted =) Let me know

[2021-05-11 00:49] awg0013-PR commented on #2947
Great news! Sorry to hear you hit a paywall - I'm newer to Medium and I'm still figuring things out.

Here's a "friend link" that should allow anyone to read the article free of charge (and free of pay walls): https://allan-gulley.medium.com/understanding-ethereum-819c2096b613?sk=c89f3aa5a4fd8b5fa0dae3042a3fa011

Please let me know if you have any trouble! Cheers.

[2021-05-11 00:51] wackerow commented on #2984
@drcreamy Thanks for posting this! We'll take a closer look and try to get back to you within a week or two. 👍🏻

[2021-05-11 00:55] wackerow commented on #2985
@PeterRusznak Thanks for posting this! Were you thinking having this listed on the [community guides and resources](https://ethereum.org/en/learn/) page?

[2021-05-11 00:57] wackerow commented on #2998
@ritzerblaise Not sure what you're referencing here by your issue title. Closing this, but if you have an issue please elaborate in a new issue, and if you want to list a dapp please fill out the requested information, thanks.

[2021-05-11 00:57] #2998 closed

[2021-05-11 06:14] samajammin opened #3020 "Learn page: Ethereum energy consumption"
**Is your feature request related to a problem? Please describe.**

It's a well known critique on Ethereum/NFTs/blockchains generally.

**Describe the solution you'd like**

An open explanation of energy consumption. Why there's a trade-off for decentralization and why this won't be an issue with Eth2 moving to PoS.

**Describe alternatives you've considered**

Flesh out / optimize content on http

[2021-05-11 07:05] ryancreatescopy opened #3021 "Indian exchanges"
From an email to website@

Worth checking at some point...

In India, you can also buy ethereum on the following exchanges --

- [x] ~www.wazirx.com~

- [ ] https://www.buyucoin.com/

- [ ] www.zebpay.com

[2021-05-11 08:19] #2326 closed

[2021-05-11 08:19] #2323 closed

[2021-05-11 12:55] LefterisJP commented on #2711
Thank you guys :bow:

[2021-05-11 13:43] carlfairclough opened #3022 "Prepare for EIP-1559"
**Is your feature request related to a problem? Please describe.**

As EIP-1559 is soon to become reality, we should update sources of information for users who dive into the "custom" part of transaction fees in wallets, or want to understand how transactions are included. Having potentially conflicting information fragmented across the knowledge bases of different wallets, using different termino

[2021-05-11 14:39] ryancreatescopy opened #3023 "Learn page: An intro to smart contracts"
**Is your feature request related to a problem? Please describe.**

A newbie / non-technical intro to smart contracts

**Describe the solution you'd like**

A page that lives in our learn section that helps explain the potential and power of smart contracts. They are a fundamental part of Ethereum's USP so we should explain them in a way for users to understand. We currently only reference them in

[2021-05-11 14:42] ryancreatescopy opened #3024 "Learn page: Intro to Layer 2"
**Is your feature request related to a problem? Please describe.**

What is this Layer 2 stuff that everyone keeps going on about on crypto twitter?

**Describe the solution you'd like**

A learn page that explains to users what L2 does in a non-technical way: e.g. more speed, cheaper fees. Explain how users still get the security of Ethereum and why we can't just make Ethereum L1 faster/cheaper.

[2021-05-11 14:44] ryancreatescopy opened #3025 "Learn page: what is decentralization?"
**Is your feature request related to a problem? Please describe.**

A page that explains some of Ethereum's design principles around decentralization.

**Describe the solution you'd like**

A page that lives in our learn section that digs into what we mean by decentralization and decentralized services. It's not always clear to new users why it matters or what it even means. When you grasp this, t

[2021-05-11 15:33] ryancreatescopy opened #3026 "Refactor "advanced" section of docs"
I wonder whether it's time we reorganise the advanced section of our developer docs (https://ethereum.org/en/developers/docs/) and wanted to start a discussion.

- scaling solutions such as rollups will be moving from experimental to pretty much necessary for any dapps soon – should rollups and such live in the stack section?
- token standards... maybe it's time we grouped some content by type of

[2021-05-11 18:01] samajammin commented on #3023
Potential sources of inspiration
- https://github.com/ethereumbook/ethereumbook/blob/develop/07smart-contracts-solidity.asciidoc#what-is-a-smart-contract (CC license)
- https://docs.ethhub.io/ethereum-basics/what-is-ethereum/#what-are-smart-contracts-and-decentralized-applications (CC license)
- https://www.oobit.com/blog/what-are-ethereum-smart-contracts/
- https://www.investopedia.com/terms/s/sm

[2021-05-11 19:07] wackerow opened #3027 "Exchange suggestions for India"
Emailed from community member:

---
In India, you can also buy ethereum on the following exchanges --

www.wazirx.com
https://www.buyucoin.com/
www.zebpay.com

---

- [ ] Review these exchanges using the template

[code]

- [ ] If acceptable by listing policy, list on site. If not, can close issue.

[2021-05-12 02:12] PaulApivat opened #3030 "Tutorial Submission: Learn Foundational Ethereum Topics with SQL"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tag your tutorial**

SQL, Querying, Analytics, Getting Started, Dune Analytics, Blocks, Transaction, Gas

**Tutorial title**

TITLE: Learn Foundational Ethereum Topics with SQL

**Tutorial description**

This tutorial helps readers understand

[2021-05-12 02:43] samajammin opened #3031 "Broken doc links"
**Describe the bug**

Report from user in Telegram:

[2021-05-12 03:09] bhavishy6 opened #3033 "Typo: "succcessful" should be "successful""
**Describe the bug**
There is a typo on the Proof of Work section of the developer docs- https://ethereum.org/en/developers/docs/consensus-mechanisms/pow/#economics

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/developers/docs/consensus-mechanisms/pow/#economics
2. See sentence "This is a valid block, created simultaneously to the succcessful block, by anothe

[2021-05-12 03:58] #3033 closed

[2021-05-12 04:00] #3027 closed

[2021-05-12 04:12] samajammin opened #3036 "Add search to languages page"
**Is your feature request related to a problem? Please describe.**

Request from Discord user - add search to the languages page:
https://ethereum.org/en/languages/

**Describe the solution you'd like**

Add a search input on the page that filters language results. Support search by both English & native language titles.

**Want to contribute?**

We love contributions from the Ethereum community!

[2021-05-12 04:34] tota999 opened #3037 "ya"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

**Is your wallet custodial, non-custodial, or a hardware

[2021-05-12 04:38] #3037 closed

[2021-05-12 04:46] wackerow commented on #3030
@PaulApivat Thanks for posting this! We'll take a closer look soon and try to get back to you within a week or two.

[2021-05-12 04:53] PaulApivat commented on #3030
@wackerow thank you!

Happy to make edits if needed.

[2021-05-12 05:07] wackerow commented on #2947
@all-contributors please add @awg0013-PR for content

[2021-05-12 05:08] wackerow commented on #2947
@awg0013-PR Thanks for providing the link. Nice article, thanks for posting this =)

[2021-05-12 05:57] cth0604 commented on #3036
Hi, I was looking through the project and I would love to contribute to this awesome project by tackling this issue!

[2021-05-12 06:37] himanshu007-creator commented on #3036
Hi, i would like to work on this issue

[2021-05-12 13:13] awg0013-PR commented on #2947
Cheers sir! Glad to contribute whatever I can.

On Wed, May 12, 2021 at 1:08 AM Paul Wackerow ***@***.***>
wrote:

[2021-05-12 13:24] #3031 closed

[2021-05-12 14:42] #2943 closed

[2021-05-12 23:35] jkbishbish commented on #3025
Hey Ryan, I'm interested in writing about this.  Here's an outline of what I think might work. Just quick brainstorming here so please forgive any typos:

### Main sections
Defining "decentralization"

- Building something where everyone can have input and no single authority can make major decisions
- Going beyond reactive definitions (focus on the fact that Ethereum has a purposeful, fromthegrou

[2021-05-13 13:41] ryancreatescopy commented on #3036
sorry @himanshu007-creator @cth0604 just beat you to it. Thanks for your interest and hopefully you can find another issue that interests you.

[2021-05-13 13:44] ryancreatescopy commented on #3025
Hey @jkbishbish this looks like a great outline! I think comparing to heavily centralized companies is always a really good way to explain the benefits of decentralization, so I'd encourage that line of argument.

I'd be comfortable if you wanted to do a first draft of this. Take a look at our recent use-case pages (https://ethereum/org/en/defi) to get a sense of our writing style... and remember

[2021-05-13 13:53] himanshu007-creator commented on #3036
Best of luck @cth0604 😄

[2021-05-13 15:42] jkbishbish commented on #3025
Yeah! Sounds great. I forked the depository and I'm using the link you sent as a template, if that works.

[2021-05-13 21:51] samajammin commented on #2849
Thanks for catching & raising @amy-jung! I've updated the link (https://ethereum.org/en/contributing/).

[2021-05-14 14:35] minimalsm opened #3043 "Difficulty bomb spelling mistake in Glossary"
**Describe the bug**

The final part of the sentence (after the comma) doesn't make sense. I think this is what was intended:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/glossary/#difficulty-bomb'
2. See error

**Screenshots**

![Screenshot 2021-05-14 at 15 20 38](https://user-images.githubusercontent.com/62268199/118285429-53a9df80-b4c9-11eb-8138-

[2021-05-14 14:46] #3043 closed

[2021-05-14 17:50] wackerow opened #3047 "Roadmap "Implemented features" showing spam issues that have been closed"
**Describe the bug**
Currently, closed GitHub issues are being displayed on the Roadmap section of the site (as "implemented features"), even if these issues were spam. This potentially allows users to submit issues on this repo with titles that will be displayed on the live website, which poses potential security risks to our users (ie. soliciting funds to a 0x address).

**To Reproduce**
Steps t

[2021-05-15 03:18] tolin1420 opened #3053 "digital coin"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-05-15 09:09] SayFireworks opened #3054 "Eth error in withdrawing cash through exchange fuction:underfined undefined! help me !"
eth Collection address : 0x020aC1d930deD0B95623F9F399F5631E0b1c84f1
eth txid : 0xa81a01b3bbcab1f803148aa231899c33961f27ce5b18226ba40f6b2f068c916a
eth Sending address : 0xe603e99e96985536c95ab37cb1afa78dd43019be

Make sure there is no error in my Ethernet address. As evidenced by the screenshot, I hope to recover my loss, because I still have other digital currencies in the wallet of imtoken, and I

[2021-05-15 15:03] adi44 commented on #3047
I am interested

[2021-05-15 15:04] adi44 commented on #3047
Would like working on

[2021-05-15 15:33] adi44 commented on #3026
@ryancreatescopy I would like to contribute

[2021-05-16 00:00] jkbishbish commented on #3023
Hey, I could do a draft of this one too. Here's what I'm thinking of as an outline:

_General stuff_

**What's a smart contract**
- smart contracts are computer programs that run on ethereum (the network, not the coin)
- step-by-step, plain-language example of how a smart contract should work (like an auction or one of the other beginner solidity examples)
- defining smart contracts generally

**B

[2021-05-16 05:00] kreationzkt opened #3057 "Dart language. Please include dart language with your development process"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

**Want to contribute?**

We love contributions from the Ethereum community! Please comment on an issue if you're interested in helping out with a PR.

[2021-05-16 06:39] Patil2099 commented on #2919
I would love to help with this issue. Can you guide me a little more?

[2021-05-16 08:41] ligi commented on #2715
commenting so the bot is not closing it - I think the issue is still very relevant. @samajammin seems this issue did not make it to the Q2 goals - maybe Q3? I think it is quite important.

[2021-05-16 09:02] ligi opened #3058 "add WallETH"
**Is your wallet globally accessible?**

Yes

**Is your wallet custodial, non-custodial, or a hardware wallet?**

non-custodial and supports hardware wallets (TREZOR, KeepKey, KeyCard)

**Please describe the measures taken to ensure the wallet's security and provide documentation wherever possible**

 * *Fully* Open Source ( https://github.com/walleth )
 * Dependency locking (https://github.com/wa

[2021-05-16 09:14] Robiquet opened #3059 "Pressing enter in the search bar refreshes the page"
**Describe the bug**

Pressing enter in the search bar refreshes the page

**To Reproduce**
Steps to reproduce the behavior:

1. On the front page of ethereum.org click the search bar text field
2. Enter some text
3. Press enter

The page is refreshed

**Expected behavior**

I would expect either nothing to happen or to be navigated to the first result

**Desktop (please complete the following inf

[2021-05-16 09:21] Robiquet opened #3060 "Link for 'Layer 2 scaling' is broken"
**Describe the bug**

After searching for 'layer 2' and selecting the top result I am navigated to a 'resource not found' page

**To Reproduce**
Steps to reproduce the behavior:

1. On the front page of ethereum.org enter 'layer 2' into the search bar
2. Select the first result (Layer 2 scaling)

Resource not found page is displayed

**Expected behavior**

Instead of navigating here: https://ether

[2021-05-16 11:16] jaceppo opened #3062 "jace888"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

**Is your wallet custodial, non-custodial, or a hardware

[2021-05-16 11:16] jaceppo opened #3063 "eth"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

**Is your wallet custodial, non-custodial, or a hardware

[2021-05-16 17:07] drvsinan opened #3064 "Dap0"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-05-16 17:23] beezogi opened #3065 "B Wall"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tag your tutorial**

**Tutorial title**

**Tutorial description**

**Publication**

**Skill level**

**Paste in your tutorial below**

[2021-05-16 19:12] vj-codes opened #3066 "Add Marathi language (code: mr) translation to the website"
**Is your feature request related to a problem? Please describe.**
Marathi is one of the popular spoken language in India and the website doesn't have a translated version of it.

**Describe the solution you'd like**
Add a translated Marathi version

**Describe alternatives you've considered**
No alternative

**Want to contribute?**
Yes I would like to work on this

[2021-05-16 19:13] vj-codes commented on #3066
@GeorgeTrotter @samajammin I would like to work on this if approved

[2021-05-17 00:49] muhammmed2020 opened #3067 "1"
Before suggesting a dapp, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your dapp meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Please describe the measures taken to ensure the dapp's security and provide documentation wherever

[2021-05-17 13:12] pranavsastry commented on #3063
Why have you opened an issue? Please refrain from opening issues like this. To be closed!

[2021-05-17 19:16] mindey opened #3069 "Oracle-based recovery of Genesis Ether"
**Is your feature request related to a problem? Please describe.**

Hello. I'm one of the contributors to the Ethereum genesis pre-sale (total `3325.11 ETH`), and bought the pre-sale Ethereum on [ethereum.org](https://ethereum.org]) website with Bitcoin twice: [[1]](https://etherscan.io/address/0x992646ac1acaabf5ddaba8f9429aa6a94e7496a7), [[2]](https://etherscan.io/address/0xc4088c025f3e85013f5439

[2021-05-17 21:06] #3067 closed

[2021-05-17 21:07] #3065 closed

[2021-05-17 21:07] #3064 closed

[2021-05-17 21:09] wackerow commented on #3060
Sounds good 👍🏻 Thanks for catching this =)

[2021-05-17 21:10] #3063 closed

[2021-05-17 21:11] #3062 closed

[2021-05-17 21:21] wackerow commented on #3069
@mindey I'm sorry this happened. I'm not sure this is something we can help you with in this repo though, as this repo is strictly for the development of the ethereum.org homepage. I personally don't see any way these funds can be recovered if the password to the encrypted seed is missing, but you may have more luck asking over at the Eth R&D discord https://discord.gg/mncqtgVSVw ... Some of the i

[2021-05-17 21:21] #3069 closed

[2021-05-17 21:23] #3053 closed

[2021-05-17 21:57] mindey commented on #3069
@wackerow Thanks, I'll try contacting the Eth R&D discord. The original Ether pre-sale has [happened](https://web.archive.org/web/20140815223959/https://www.ethereum.org/) on the ethereum.org website, and therefore, I believe the best place for recovery options is on ethereum.org site. My suggestion is to realize such option for those who invested into Ethereum, and that is why the issue here.

[2021-05-17 22:00] wackerow commented on #3054
@SayFireworks This wouldn't be something we can help with here. This repo is for development of the ethereum.org homepage and does not handle wallet or transaction issues. I would check out the ConsenLabs GitHub, makers of imToken https://github.com/consenlabs and see if they can help you with the wallet related issues =)

[2021-05-17 22:00] #3054 closed

[2021-05-17 22:03] wackerow commented on #3022
@carlfairclough I like this suggestion, is this something you were looking to contribute on? I would certainly be in favor of bringing some EIP-1559 related information to the dev docs

[2021-05-17 22:06] wackerow commented on #2760
(I believe #2785 should cover this... closing for now, feel free to re-open if I missed anything)

[2021-05-17 22:06] #2760 closed

[2021-05-18 02:31] BenM-Mycelium commented on #2325
Would be happy to take a look

[2021-05-18 12:02] ryancreatescopy opened #3072 "Include Carl's energy article on NFT page"
https://blog.ethereum.org/2021/05/18/country-power-no-more/

We should align the calculations if possible and/or just link to it as another resource.

We can also use this to help form the energy page on ethereum.org

[2021-05-18 14:37] samajammin commented on #2891
Hey folks, sorry for the delay on this @shipsywor! Thank you for offering to look into this.

Adding the following to your .env file should get this up & running:
[code]
This will give you read access to our search index. If we discover this starts getting throttled with many requests I'll have to regenerate the Search API key but this should suit our needs for now.

You're correct about `ALGOLIA_

[2021-05-18 15:09] shipsywor commented on #2891
The use case for this project was to use this gatsby site (ethereum-org-website) you guys have developed as a template for the documentation of my opensource project.

My expectation was algolia would get somehow use the data in the markdown files to offer the search.

For example, if I created a markdown file for some API documentation, algolia would automatically get all the text in that markdow

[2021-05-18 16:21] jcpickett1 opened #3073 "Link on 'Token Standards' Page is broken"
**Describe the bug**
On the 'Token Standards' page, a related tutorial link to 'Transfers and approval of ERC20 tokens from a Solidity smart contract' is missing a hyphen and 404s.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://ethereum.org/en/developers/docs/standards/tokens/#related-tutorials'
2. Click on 'Transfers and approval of ERC20 tokens from a Solidity smart contra

[2021-05-18 16:21] jcpickett1 commented on #3073
I can submit a PR for this issue

[2021-05-18 17:10] IliadisVictor commented on #2319
I am more comfortable working with recharts  , some more specific guidelines on design and on what we should begin with would be very helpful. !

[2021-05-18 19:27] Robiquet commented on #3060
@wackerow looks like this is working now, maybe I was running an old cached version

[2021-05-18 19:27] #3060 closed

[2021-05-18 19:30] wackerow commented on #3060
@Robiquet cool, I think you may be right... I had the same issue yesterday, but similarly it went away after a cache clear. Thanks for touching base 👍🏻

[2021-05-18 20:32] jley81 commented on #3060
@Robiquet Agreed  #[](https://ethereum.org/en/developers/docs/layer-2-scaling/[](url))

[2021-05-19 16:08] IliadisVictor commented on #2587
Hello , ! i think i could tackle this  , could you please assign me when you have the time ? @samajammin

[2021-05-19 19:23] Uttam-Singhh commented on #3047
I would love to work on this issue!
Please assign me this task.

[2021-05-19 19:28] wackerow commented on #3047
Oh no, my bad.... I missed your reply @adi44... Did you still want to tackle this, or have you done any work on it yet? @Uttam-Singhh Going to reassign to adi44 in the meantime since this was the first response, but if anything changes I'll get you on here.

[2021-05-19 19:42] Uttam-Singhh commented on #3047
Yes

Oh ok! No Problem.
Please reassign this to me if nobody works on this.
Also @wackerow I am new to open source so can you please suggest some good first issues to work on.

[2021-05-19 19:53] rhechler opened #3075 "Typo and grammatical error on website"
**Describe the bug**

There is a typo and grammatical error at https://ethereum.org/en/defi/#bitcoin .

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://ethereum.org/en/defi/#bitcoin
2. View the first paragraph after the heading "It started with Bitcoin..."
3. Grammatical error is in the last sentence in this paragrah
4. See error

**Expected behavior**

**Desktop (please comple

[2021-05-19 21:00] pwnfromldh opened #3076 "Victor"
Before suggesting a wallet, make sure you've read [our listing policy](https://www.ethereum.org/en/contributing/adding-products/).

Only continue with the issue if your wallet meets the criteria listed there.

If it does complete the following information which we need to accurately list the wallet.

**Is your wallet globally accessible?**

**Is your wallet custodial, non-custodial, or a hardware

[2021-05-20 05:22] adi44 commented on #3047
I will be working on it

[2021-05-20 17:31] nadroj-olletsoc opened #3079 "Transfers and Approval Tutorial; Image Discrepancy"
The image within The Sell Function section should be an example of a transaction with a Sold event, not a Bought event. Similarly, the "to" field in the image should refer to DEX.sell(), not DEX.buy().

The image file within The Sell Function appears to be the same image used in The Buy Function (https://ethereum.org/static/0789b512ac67511f04564aed1d2d3378/a13c9/transfer-and-bought-events.png).

*

[2021-05-20 19:19] Uttam-Singhh opened #3080 ""Yarn" or "Yarn Install" failing on Windows"
I was following the process to clone the repo and install dependencies.
But when I used the command - `yarn` or `yarn install` for installing dependencies.

so After running for sometime it gave Error which was -
`error An unexpected error occurred: "C:\\Users\\Dell\\AppData\\Local\\Yarn\\Cache\\v6\\npm-p-cancelable-1.1.0-d078d15a3af409220c886f1d9a0ca2e441ab26cc-integrity\\node_modules\\p-cancelab

[2021-05-20 21:39] DavidPlutus opened #3083 "No Link to Discord in Community Tab - https://ethereum.org/en/community/"
**Is your feature request related to a problem? Please describe.**

There is no link to the ethereum.org Discord on the [Community section ](https://ethereum.org/en/community/) of ethereum.org

**Describe the solution you'd like**

Add this link (https://discord.gg/CetY6Y4) in the 'Chat Rooms' section of the [Community tab](https://ethereum.org/en/community/) on ethereum.org

**Suggested Implement

[2021-05-20 21:42] DavidPlutus commented on #3059
+1 - I can recreate this on Brave

[2021-05-20 21:56] minimalsm commented on #3083
One argument for not including this is that our discord is primarily concerned with the development of the Ethereum.org website, rather than the Ethereum blockchain itself.

Playing devil's advocate - I'm pretty neutral on it either way.

[2021-05-21 07:12] DavidPlutus commented on #3083
From a user POV I was looking for the .org Discord and that's the first place I headed, had to do some (albeit very little) searching to find it - but I get it, depends what the overarching goal of the **Community** tab is

[2021-05-21 14:07] qbzzt commented on #3057
There are already Dart libraries for Ethereum:

. https://pub.dev/packages/ethereum
. https://github.com/simolus3/web3dart

I think we just need a page linking to them.

[2021-05-21 15:14] ZuKim opened #3088 "panda"
We'll consider [our article policy](https://ethereum.org/en/contributing/adding-articles/) when reviewing the tutorial, so please take a look there first.

**Tag your tutorial**

**Tutorial title**

**Tutorial description**

**Publication**

**Skill level**

**Paste in your tutorial below**

[2021-05-21 16:52] minimalsm commented on #3080
Potentially corrupt cache.. Could you try
```yarn cache clean```
then
```yarn install```

[2021-05-21 18:25] qbzzt commented on #3025
You might find part of this useful to take ideas from: https://github.com/qbzzt/etherdocs/blob/master/what_can_Ethereum_do.md

[2021-05-21 18:45] samajammin commented on #3020
Solid article by @CarlBeek that could serve as the foundation for this!
https://blog.ethereum.org/2021/05/18/country-power-no-more/

[2021-05-21 18:46] samajammin commented on #3072
Agreed! Relevant to #3020 as well.

[2021-05-21 19:27] qbzzt commented on #3022
I'd love to take this one.

[2021-05-21 19:28] wackerow commented on #2325
@BenM-Mycelium Thanks for offering! @samajammin Where did we land with the content migration from eth.wiki again? Curious your take on pulling in help on this. Will be a big project and require a fair amount of organization.

[2021-05-21 19:36] wackerow commented on #2319
@ryancreatescopy If you have time for a quick figma mock sometime in the next week that could be shared that would be great. @samajammin thoughts on using recharts? Not familiar personally, but could look into it.

[2021-05-21 20:02] #3036 closed

[2021-05-21 20:10] #3075 closed

[2021-05-21 20:36] Uttam-Singhh commented on #3080
Thanks for your help @minimalsm but it's not working.

[2021-05-21 20:36] Uttam-Singhh commented on #3080
Please let me know what else I can do.